Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Update dependencies and release notes
  .supply-chain/audits.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Refine developer guide and testing specs
  docs/developer_guide/adapters.md
  docs/developer_guide/index.md
  docs/developer_guide/spec_data_testing.md
  docs/developer_guide/spec_exec_testing.md
Due: check-non-latin-text

Prepare release
  RELEASES.md
Due: check-non-latin-text

Fix CI docker workflow manifest digest extraction
  .github/workflows/docker.yml
Due: check-non-latin-text

fix(binance): do not remove algo orders in handle_trade_fill; cleanup only in handle_algo_update;add empty string parse
  crates/adapters/binance/src/futures/websocket/handler_exec.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor Greeks into composable OptionGreekValues type
  crates/common/src/greeks.rs
  crates/model/src/data/greeks.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add option chain messages, msgbus routing, and cache
  crates/common/src/cache/mod.rs
  crates/common/src/clients/data.rs
  crates/common/src/messages/data/mod.rs
  crates/common/src/messages/data/option_chain.rs
  crates/common/src/messages/data/subscribe.rs
  crates/common/src/messages/data/unsubscribe.rs
  crates/common/src/messages/mod.rs
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/mod.rs
  crates/common/src/msgbus/switchboard.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OptionSeriesId and option chain model types
  crates/model/src/data/mod.rs
  crates/model/src/data/option_chain.rs
  crates/model/src/identifiers/mod.rs
  crates/model/src/identifiers/option_series_id.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add option chain support to DataActor
  crates/common/src/actor/data_actor.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OptionGreeks streaming to Deribit adapter
  crates/adapters/deribit/Cargo.toml
  crates/adapters/deribit/src/data.rs
  crates/adapters/deribit/src/execution.rs
  crates/adapters/deribit/src/http/client.rs
  crates/adapters/deribit/src/http/models.rs
  crates/adapters/deribit/src/http/query.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/deribit/src/websocket/client.rs
  crates/adapters/deribit/src/websocket/handler.rs
  crates/adapters/deribit/src/websocket/messages.rs
  crates/adapters/deribit/src/websocket/parse.rs
  crates/adapters/deribit/tests/websocket.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OptionGreeks streaming to Bybit adapter
  crates/adapters/bybit/Cargo.toml
  crates/adapters/bybit/bin/ws_data.rs
  crates/adapters/bybit/src/data.rs
  crates/adapters/bybit/src/execution.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/python/websocket.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/bybit/src/websocket/handler.rs
  crates/adapters/bybit/src/websocket/messages.rs
  crates/adapters/bybit/src/websocket/parse.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OptionChainManager and data engine integration
  crates/data/src/client.rs
  crates/data/src/engine/mod.rs
  crates/data/src/lib.rs
  crates/data/src/option_chains/aggregator.rs
  crates/data/src/option_chains/atm_tracker.rs
  crates/data/src/option_chains/constants.rs
  crates/data/src/option_chains/handlers.rs
  crates/data/src/option_chains/manager.rs
  crates/data/src/option_chains/mod.rs
  crates/live/src/runner.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add option chain example programs
  crates/adapters/bybit/examples/node_greeks.rs
  crates/adapters/bybit/examples/node_option_chain.rs
  crates/adapters/deribit/examples/node_greeks.rs
  crates/adapters/deribit/examples/node_option_chain.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Use single-instrument forward price fetch and downgrade subscribe logs to debug
  crates/adapters/bybit/src/data.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/deribit/src/data.rs
  crates/adapters/deribit/src/http/client.rs
  crates/adapters/deribit/src/http/models.rs
  crates/adapters/deribit/src/http/query.rs
  crates/data/src/engine/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Change option chain example snapshot interval to 2s
  crates/adapters/deribit/examples/node_option_chain.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make snapshot_interval_ms optional to support raw stream mode
  crates/adapters/bybit/examples/node_option_chain.rs
  crates/adapters/deribit/examples/node_option_chain.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/messages/data/option_chain.rs
  crates/data/src/option_chains/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix clippy lints
  crates/adapters/bybit/src/data.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/deribit/src/data.rs
  crates/adapters/deribit/src/http/client.rs
  crates/common/src/clients/data.rs
  crates/data/src/client.rs
  crates/data/src/engine/mod.rs
  crates/data/src/option_chains/aggregator.rs
  crates/data/src/option_chains/manager.rs
  crates/model/src/data/option_chain.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add ForwardPrice model and typed request/response messages
  crates/common/src/clients/data.rs
  crates/common/src/messages/data/mod.rs
  crates/common/src/messages/data/request.rs
  crates/common/src/messages/data/response.rs
  crates/common/src/msgbus/api.rs
  crates/data/src/client.rs
  crates/model/src/data/forward.rs
  crates/model/src/data/mod.rs
  crates/model/src/data/option_chain.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Use InstrumentId instead of raw string in OptionForwardPrice
  crates/adapters/bybit/src/data.rs
  crates/adapters/deribit/src/data.rs
  crates/data/src/engine/mod.rs
  crates/model/src/data/option_chain.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Deduplicate closest-strike logic and handle NaN gracefully
  crates/data/src/option_chains/aggregator.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Intersect StrikeRange::Fixed with available strikes
  crates/model/src/data/option_chain.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Drain stale pending forward price requests on option chain re-subscribe
  crates/data/src/engine/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clean pending_greeks for removed instruments during rebalance
  crates/data/src/option_chains/aggregator.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add wire-level subscribe/unsubscribe during option chain rebalance
  crates/data/src/engine/mod.rs
  crates/data/src/option_chains/manager.rs
  crates/data/src/option_chains/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Consolidate option chain commands and simplify ATM source default
  crates/adapters/bybit/examples/node_greeks.rs
  crates/adapters/deribit/examples/node_greeks.rs
  crates/common/src/messages/data/mod.rs
  crates/common/src/messages/data/option_chain.rs
  crates/common/src/messages/data/subscribe.rs
  crates/common/src/messages/data/unsubscribe.rs
  crates/data/src/engine/mod.rs
  crates/data/src/option_chains/aggregator.rs
  crates/data/src/option_chains/manager.rs
  crates/data/src/option_chains/mod.rs
  crates/model/src/data/option_chain.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Derive forward price precision from instruments instead of hardcoding
  crates/data/src/option_chains/atm_tracker.rs
  crates/data/src/option_chains/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Handle InstrumentStatus expiry for option chain cleanup
  crates/data/src/engine/mod.rs
  crates/data/src/option_chains/aggregator.rs
  crates/data/src/option_chains/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Hyperliquid agent wallet support
  crates/adapters/hyperliquid/src/config.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/python/http.rs
  nautilus_trader/adapters/hyperliquid/config.py
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/adapters/hyperliquid/factories.py
  tests/integration_tests/adapters/hyperliquid/test_execution.py
  tests/integration_tests/adapters/hyperliquid/test_factories.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(poc): mono single-leg makerv3 suite with plan
  .gitignore
  docs/plans/2026-03-03-nautilus-makerv3-single-leg-poc.md
  examples/live/poc/README.md
  examples/live/poc/__init__.py
  examples/live/poc/chainsaw_bridge.py
  examples/live/poc/contracts.py
  examples/live/poc/makerv3_single_leg_node.py
  examples/live/poc/multivenue_book_smoke.py
  examples/live/poc/nautilus_fluxapi.py
  examples/live/poc/redis_bridge.py
  nautilus_trader/examples/strategies/makerv3_single_leg_quoter.py
  tests/unit_tests/examples/strategies/test_makerv3_single_leg_quoter.py
Due: check-non-latin-text

chore(poc): remove legacy chainsaw bridge wrapper references
  examples/live/poc/README.md
  examples/live/poc/chainsaw_bridge.py
  examples/live/poc/redis_bridge.py
Due: check-non-latin-text

docs(poc): clarify execution enable switch
  examples/live/poc/README.md
Due: check-non-latin-text

Add editable params and home dashboard to fluxapi UI
  examples/live/poc/nautilus_fluxapi.py
Due: check-non-latin-text

Align MakerV3 params with chainsaw parity
  examples/live/poc/makerv3_single_leg_node.py
  examples/live/poc/nautilus_fluxapi.py
  nautilus_trader/examples/strategies/makerv3_single_leg_quoter.py
Due: check-non-latin-text

Bump version
  .pre-commit-hooks/check_cargo_conventions.sh
  .supply-chain/config.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/core/build.rs
  deny.toml
  pyproject.toml
  python/uv.lock
  uv.lock
  version.json
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

refactor fluxapi to single-page dashboard
  examples/live/poc/nautilus_fluxapi.py
Due: check-non-latin-text

cache-bust tokenmm html and keep single-page response
  examples/live/poc/nautilus_fluxapi.py
Due: check-non-latin-text

Trim maker v3 param surface to active fields
  examples/live/poc/makerv3_single_leg_node.py
  examples/live/poc/nautilus_fluxapi.py
  nautilus_trader/examples/strategies/makerv3_single_leg_quoter.py
Due: check-non-latin-text

fix nautilus fluxapi param order for tokenmm ui
  examples/live/poc/nautilus_fluxapi.py
Due: check-non-latin-text

default bot_on to false for makerv3 config
  examples/live/poc/nautilus_fluxapi.py
  nautilus_trader/examples/strategies/makerv3_single_leg_quoter.py
Due: check-non-latin-text
