Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Add subscriber actor for databento crate
  crates/adapters/databento/src/actor.rs
  crates/adapters/databento/src/lib.rs
Due: fmt, cargo-clippy, cargo-doc

Add live node test for databento crate
  crates/adapters/databento/bin/node_test.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize log message for Polymarket
  nautilus_trader/adapters/polymarket/execution.py
Due: none

Upgrade mypy and uv
  .pre-commit-config.yaml
  nautilus_trader/adapters/okx/websocket/client.py
  nautilus_trader/system/kernel.py
  uv-version
Due: none

Fix identity error handling during keep-alive for Betfair
  nautilus_trader/adapters/betfair/data.py
Due: none

Update dependencies and release notes
  Cargo.lock
  RELEASES.md
  crates/adapters/databento/Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Remove redundant code for feature gating
  crates/common/src/logging/headers.rs
Due: fmt, cargo-clippy, cargo-doc

Fix python feature gating for coinbase-intx crate
  crates/adapters/coinbase_intx/src/fix/client.rs
  crates/adapters/coinbase_intx/src/websocket/client.rs
  crates/adapters/coinbase_intx/src/websocket/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Bump version
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/core/build.rs
  pyproject.toml
  uv.lock
  version.json
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine edge case handling for core crate
  crates/core/src/correctness.rs
  crates/core/src/ffi/cvec.rs
  crates/core/src/math.rs
  crates/core/src/nanos.rs
  crates/core/src/parsing.rs
  crates/core/src/time.rs
  crates/core/src/uuid.rs
  nautilus_trader/core/includes/core.h
  nautilus_trader/core/rust/core.pxd
Due: fmt, cargo-clippy, cargo-doc

Add DataActor Python bindings and tests
  crates/common/src/python/actor.rs
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/unit_tests/common/test_actor_pyo3.py
Due: fmt, cargo-clippy, cargo-doc

Add bar_build_delay to data engine config
  crates/data/src/aggregation.rs
  examples/backtest/databento_test_request_bars.py
  nautilus_trader/data/aggregation.pxd
  nautilus_trader/data/aggregation.pyx
  nautilus_trader/data/config.py
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  tests/unit_tests/backtest/test_config.py
  tests/unit_tests/data/test_aggregation.py
Due: fmt, cargo-clippy, cargo-doc

Add bar build delay to data engine config (#2676)
  crates/data/src/aggregation.rs
  examples/backtest/databento_test_request_bars.py
  nautilus_trader/data/aggregation.pxd
  nautilus_trader/data/aggregation.pyx
  nautilus_trader/data/config.py
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  tests/unit_tests/backtest/test_config.py
  tests/unit_tests/data/test_aggregation.py
Due: fmt, cargo-clippy, cargo-doc

Refine time_bars_build_delay config option
  RELEASES.md
  examples/backtest/databento_test_request_bars.py
  nautilus_trader/data/config.py
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  tests/unit_tests/backtest/test_config.py
Due: none

Add critical safety docs for core crate
  crates/core/src/ffi/cvec.rs
  crates/core/src/ffi/string.rs
Due: fmt, cargo-clippy, cargo-doc

Improve edge cases and safety docs for core value types
  crates/model/src/types/currency.rs
  crates/model/src/types/fixed.rs
  crates/model/src/types/money.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/rust/model.pxd
Due: fmt, cargo-clippy, cargo-doc

Continue DataActor trait and registration patterns in Rust
  crates/adapters/databento/bin/node_test.rs
  crates/adapters/databento/src/actor.rs
  crates/common/examples/greeks_actor_example.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/mod.rs
  crates/common/src/actor/tests.rs
  crates/common/src/component.rs
  crates/common/src/python/actor.rs
  crates/system/src/kernel.rs
  crates/trading/src/trader.rs
  tests/unit_tests/common/test_actor_pyo3.py
Due: fmt, cargo-clippy, cargo-doc

Fix event reconciliation return value
  crates/model/src/events/order/filled.rs
Due: fmt, cargo-clippy, cargo-doc

Refine position avg px calculation
  crates/model/src/position.rs
Due: fmt, cargo-clippy, cargo-doc

Fix generate_order_modify_rejected typo for Binance
  RELEASES.md
  nautilus_trader/adapters/binance/execution.py
Due: none
