Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Fix workflow formatting
  .github/workflows/nightly-merge.yml
Due: none

Clean up unused development attributes and code
  Cargo.lock
  Cargo.toml
  crates/model/src/identifiers/account_id.rs
  crates/model/src/identifiers/actor_id.rs
  crates/model/src/identifiers/client_id.rs
  crates/model/src/identifiers/client_order_id.rs
  crates/model/src/identifiers/component_id.rs
  crates/model/src/identifiers/exec_algorithm_id.rs
  crates/model/src/identifiers/order_list_id.rs
  crates/model/src/identifiers/position_id.rs
  crates/model/src/identifiers/strategy_id.rs
  crates/model/src/identifiers/symbol.rs
  crates/model/src/identifiers/trader_id.rs
  crates/model/src/identifiers/venue.rs
  crates/model/src/identifiers/venue_order_id.rs
  crates/persistence/Cargo.toml
  crates/persistence/tests/test_catalog.rs
  crates/persistence/tests/test_util.rs
  pyproject.toml
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add BitMEX batch cancel support
  RELEASES.md
  crates/adapters/bitmex/src/common/enums.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/http/query.rs
  crates/adapters/bitmex/tests/http.rs
  docs/integrations/bitmex.md
  examples/live/bitmex/bitmex_exec_tester.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: fmt, cargo-clippy, cargo-doc

Add support for OrderBookDepth10 requests with databento
  crates/adapters/databento/src/historical.rs
  crates/adapters/databento/src/python/historical.rs
  crates/common/src/messages/data/mod.rs
  crates/common/src/messages/data/request.rs
  crates/data/src/client.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/client.rs
  crates/data/tests/common/mocks.rs
  crates/data/tests/engine.rs
  examples/backtest/notebooks/databento_backtest_with_data_client.py
  examples/backtest/notebooks/databento_download.py
  nautilus_trader/adapters/databento/data.py
  nautilus_trader/backtest/data_client.pyx
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/node.py
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/data/aggregation.pyx
  nautilus_trader/data/client.pxd
  nautilus_trader/data/client.pyx
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  nautilus_trader/data/messages.pxd
  nautilus_trader/data/messages.pyx
  nautilus_trader/live/data_client.py
  nautilus_trader/test_kit/mocks/data.py
  tests/unit_tests/backtest/test_data_client.py
  tests/unit_tests/backtest/test_engine.py
  tests/unit_tests/common/test_actor.py
  tests/unit_tests/data/test_client.py
  tests/unit_tests/data/test_engine.py
  tests/unit_tests/data/test_messages.py
Due: fmt, cargo-clippy, cargo-doc

Clean up some emoji chars
  Makefile
  crates/adapters/bitmex/tests/websocket.rs
  crates/adapters/databento/bin/node_test.rs
  examples/backtest/example_02_use_clock_timer/README.md
  examples/backtest/example_06_using_cache/README.md
  tests/integration_tests/adapters/interactive_brokers/test_instrument_parsing_spreads.py
  tests/integration_tests/adapters/okx/sandbox/bars_request.py
Due: fmt, cargo-clippy, cargo-doc

Standardize docs styling
  docs/concepts/actors.md
  docs/concepts/architecture.md
  docs/concepts/data.md
  docs/concepts/instruments.md
  docs/concepts/strategies.md
Due: none

Improve BitMEX execution message parsing robustness
  crates/adapters/bitmex/src/http/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Add ExecTester display quantity support
  examples/live/bitmex/bitmex_exec_tester.py
  nautilus_trader/test_kit/strategies/tester_exec.py
  tests/unit_tests/trading/test_exec_tester.py
Due: none

Refine Bybit SPOT position reports
  nautilus_trader/adapters/bybit/execution.py
Due: none

feat: improve Hyperliquid adapter patterns and fix clippy issues
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/mod.rs
  crates/adapters/hyperliquid/src/common/models.rs
  crates/adapters/hyperliquid/src/common/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/models.rs
  crates/adapters/hyperliquid/src/common/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Add OKX conditional order support
  RELEASES.md
  crates/adapters/okx/src/common/consts.rs
  crates/adapters/okx/src/common/credential.rs
  crates/adapters/okx/src/common/enums.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/src/python/http.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/enums.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/okx/test_data/ws_orders_algo.json
  crates/adapters/okx/test_data/ws_orders_trigger.json
  docs/integrations/okx.md
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: fmt, cargo-clippy, cargo-doc

Improve UnixNanos parsing and AtomicTime overflow handling
  crates/core/src/nanos.rs
  crates/core/src/time.rs
Due: fmt, cargo-clippy, cargo-doc

Improve datetime year arithmetic overflow safety
  crates/core/src/datetime.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize Price hash
  crates/model/src/types/price.rs
Due: fmt, cargo-clippy, cargo-doc

Fix quickstart notebook
  docs/getting_started/quickstart.ipynb
Due: none

Add re-exports for analysis subpackage
  nautilus_trader/analysis/__init__.py
Due: none

Upgrade proptest
  Cargo.lock
  Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve Portfolio parity
  crates/analysis/src/analyzer.rs
  crates/portfolio/src/portfolio.rs
Due: fmt, cargo-clippy, cargo-doc

Refine BitMEX instrument requests
  crates/adapters/bitmex/bin/http.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/tests/http.rs
Due: fmt, cargo-clippy, cargo-doc

Refine OKX post-only reject handling
  crates/adapters/okx/src/common/consts.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/model/src/python/events/order/rejected.rs
  examples/live/okx/okx_exec_tester.py
Due: fmt, cargo-clippy, cargo-doc

Add support for OrderBookDepth10 requests with databento (#2955)
  crates/adapters/databento/src/historical.rs
  crates/adapters/databento/src/python/historical.rs
  crates/common/src/messages/data/mod.rs
  crates/common/src/messages/data/request.rs
  crates/data/src/client.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/client.rs
  crates/data/tests/common/mocks.rs
  crates/data/tests/engine.rs
  examples/backtest/notebooks/databento_backtest_with_data_client.py
  examples/backtest/notebooks/databento_download.py
  nautilus_trader/adapters/databento/data.py
  nautilus_trader/backtest/data_client.pyx
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/node.py
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/data/aggregation.pyx
  nautilus_trader/data/client.pxd
  nautilus_trader/data/client.pyx
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  nautilus_trader/data/messages.pxd
  nautilus_trader/data/messages.pyx
  nautilus_trader/live/data_client.py
  nautilus_trader/test_kit/mocks/data.py
  tests/unit_tests/backtest/test_data_client.py
  tests/unit_tests/backtest/test_engine.py
  tests/unit_tests/common/test_actor.py
  tests/unit_tests/data/test_client.py
  tests/unit_tests/data/test_engine.py
  tests/unit_tests/data/test_messages.py
Due: fmt, cargo-clippy, cargo-doc

Standardize book depth naming conventions for Rust
  RELEASES.md
  crates/common/src/messages/data/mod.rs
  crates/common/src/messages/data/request.rs
  crates/data/src/client.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/client.rs
  crates/data/tests/common/mocks.rs
  crates/data/tests/engine.rs
Due: fmt, cargo-clippy, cargo-doc

Refine getting started guides language and styling
  docs/getting_started/backtest_high_level.ipynb
  docs/getting_started/backtest_low_level.ipynb
  docs/getting_started/quickstart.ipynb
Due: none

Standardize OKX execution flows and enum conversions
  crates/adapters/okx/src/common/enums.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/src/http/parse.rs
  crates/adapters/okx/src/http/query.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/parse.rs
  nautilus_trader/adapters/okx/execution.py
Due: fmt, cargo-clippy, cargo-doc

Change requests applied
  crates/adapters/hyperliquid/src/common/mod.rs
  crates/adapters/hyperliquid/src/common/models.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/common/risk.rs
Due: fmt, cargo-clippy, cargo-doc

Improve Hyperliquid adapter patterns (#2972)
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/mod.rs
  crates/adapters/hyperliquid/src/common/models.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/common/risk.rs
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Standardize stringify macro for struct names
  crates/adapters/bitmex/src/common/credential.rs
  crates/adapters/coinbase_intx/src/common/credential.rs
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/common/src/greeks.rs
  crates/live/src/execution.rs
  crates/live/src/reconciliation.rs
  crates/network/src/socket.rs
  crates/network/src/websocket.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize reason string in allow and ignore attributes
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/bitmex/tests/http.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/databento/src/live.rs
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/okx/src/http/query.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/backtest/src/engine.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/msgbus/stubs.rs
  crates/common/src/python/actor.rs
  crates/common/src/timer.rs
  crates/infrastructure/src/redis/cache.rs
  crates/live/src/python/node.rs
  crates/model/src/defi/dex.rs
  crates/model/src/events/order/any.rs
  crates/model/src/orderbook/ladder.rs
  crates/model/src/orderbook/own.rs
  crates/model/src/orders/mod.rs
  crates/model/src/types/currency.rs
  crates/model/src/types/money.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
  crates/network/src/ratelimiter/gcra.rs
Due: fmt, cargo-clippy, cargo-doc

Improve clarity of implemented bar aggregations
  RELEASES.md
  crates/data/src/engine/mod.rs
  docs/concepts/data.md
  docs/concepts/overview.md
  nautilus_trader/adapters/binance/data.py
  nautilus_trader/data/engine.pyx
  nautilus_trader/model/data.pxd
  nautilus_trader/model/data.pyx
Due: fmt, cargo-clippy, cargo-doc

Update Rust developer guide
  docs/developer_guide/rust.md
Due: none

Add OKX data client in Rust
  Cargo.lock
  crates/adapters/okx/Cargo.toml
  crates/adapters/okx/src/config.rs
  crates/adapters/okx/src/data/mod.rs
  crates/adapters/okx/src/lib.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add OKX execution client in Rust
  Cargo.lock
  crates/adapters/okx/Cargo.toml
  crates/adapters/okx/src/config.rs
  crates/adapters/okx/src/execution/mod.rs
  crates/adapters/okx/src/lib.rs
  crates/backtest/src/execution_client.rs
  crates/common/src/messages/execution/report.rs
  crates/execution/Cargo.toml
  crates/execution/src/client/base.rs
  crates/execution/src/client/mod.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix IBKR instrument provider type error
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/providers.py
Due: none

Add contingent order fields for OrderStatusReport
  RELEASES.md
  crates/model/src/python/reports/order.rs
  crates/model/src/reports/order.rs
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/execution/reports.py
  nautilus_trader/live/execution_engine.py
  nautilus_trader/model/functions.pxd
  nautilus_trader/model/functions.pyx
  tests/unit_tests/execution/test_reports.py
Due: fmt, cargo-clippy, cargo-doc

Add ExecTester bracket orders support
  nautilus_trader/test_kit/strategies/tester_exec.py
  tests/unit_tests/trading/test_exec_tester.py
Due: none

Add BitMEX contingent orders support (OCO, OTO, brackets)
  RELEASES.md
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/python/http.rs
  docs/integrations/bitmex.md
  examples/live/bitmex/bitmex_exec_tester.py
  nautilus_trader/adapters/bitmex/execution.py
  tests/integration_tests/adapters/bitmex/test_execution.py
Due: fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/mod.rs
  crates/adapters/hyperliquid/src/common/models.rs
  crates/adapters/hyperliquid/src/common/parse.rs
Due: fmt, cargo-clippy, cargo-doc
