Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Document user-fetched test data workflow
  .gitignore
  docs/developer_guide/test_datasets.md
Due: check-non-latin-text

add equities live readiness gate
  deploy/equities/README.md
  docs/plans/2026-03-12-equities-live-trading-readiness.md
  ops/scripts/deploy/check_equities_live_readiness.sh
  systems/flux/flux/runners/equities/readiness.py
  tests/unit_tests/examples/strategies/test_equities_readiness.py
Due: check-non-latin-text

test(tokenmm): relax parked binance doc assertion
  tests/unit_tests/examples/strategies/test_tokenmm_risk_validation_contract.py
Due: check-non-latin-text

chore(tokenmm): park binance from required live core
  deploy/tokenmm/README.md
  deploy/tokenmm/tokenmm.live.toml
  tests/unit_tests/examples/strategies/test_tokenmm_risk_validation_contract.py
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

docs(bitget): tighten live account readiness contract
  deploy/tokenmm/README.md
  deploy/tokenmm/systemd/common.env.example
  docs/runbooks/tokenmm-bitget-spot-perp-market-making.md
Due: check-non-latin-text

test(tokenmm): tolerate multiline parked-binance doc text
  tests/unit_tests/examples/strategies/test_tokenmm_risk_validation_contract.py
Due: check-non-latin-text

feat(bitget): add uta private parity for reports and cancels
  crates/adapters/bitget/src/http/client.rs
  crates/adapters/bitget/src/http/models.rs
  nautilus_trader/adapters/bitget/execution.py
  tests/integration_tests/adapters/bitget/test_execution_rest.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(bitget): finalize uta live-core handling
  docs/runbooks/tokenmm-bitget-spot-perp-market-making.md
  nautilus_trader/adapters/bitget/config.py
  nautilus_trader/adapters/bitget/execution.py
  tests/integration_tests/adapters/bitget/test_config_validation.py
  tests/integration_tests/adapters/bitget/test_execution.py
Due: check-non-latin-text

fix(bitget): pass full exec config through uta private paths
  crates/adapters/bitget/src/http/client.rs
  nautilus_trader/adapters/bitget/execution.py
  tests/integration_tests/adapters/bitget/test_execution_rest.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(bitget): improve live balance and reject observability
  systems/flux/flux/api/_payloads_balances.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_balances_merge_dedupe.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/strategies/makerv3/test_order_safety.py
Due: check-non-latin-text

feat(tokenmm): wire bitget prod account contract
  deploy/tokenmm/strategies/plumeusdt_bitget_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bitget_spot_makerv3.toml
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

test(tokenmm): avoid wrapped README phrase match
  tests/unit_tests/examples/strategies/test_tokenmm_risk_validation_contract.py
Due: check-non-latin-text

fix(bitget): forward borrowing config in uta position sync
  crates/adapters/bitget/src/http/client.rs
  nautilus_trader/adapters/bitget/execution.py
  tests/integration_tests/adapters/bitget/test_execution_rest.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(bitget): add uta submit order flow
  crates/adapters/bitget/src/http/client.rs
  nautilus_trader/adapters/bitget/execution.py
  tests/integration_tests/adapters/bitget/test_execution.py
  tests/integration_tests/adapters/bitget/test_execution_rest.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

tighten equities readiness fail-closed checks
  systems/flux/flux/runners/equities/readiness.py
  tests/unit_tests/examples/strategies/test_equities_readiness.py
Due: check-non-latin-text

Migrate tutorial notebooks to Jupytext .py format
  .gitignore
  .pre-commit-config.yaml
  docs/getting_started/backtest_high_level.ipynb
  docs/getting_started/backtest_high_level.md
  docs/getting_started/backtest_high_level.py
  docs/getting_started/backtest_low_level.ipynb
  docs/getting_started/backtest_low_level.md
  docs/getting_started/backtest_low_level.py
  docs/getting_started/index.md
  docs/getting_started/quickstart.ipynb
  docs/getting_started/quickstart.md
  docs/getting_started/quickstart.py
  docs/tutorials/backtest_binance_orderbook.ipynb
  docs/tutorials/backtest_binance_orderbook.py
  docs/tutorials/backtest_bybit_orderbook.ipynb
  docs/tutorials/backtest_bybit_orderbook.py
  docs/tutorials/backtest_fx_bars.ipynb
  docs/tutorials/backtest_fx_bars.py
  docs/tutorials/databento_data_catalog.ipynb
  docs/tutorials/databento_data_catalog.py
  docs/tutorials/index.md
  docs/tutorials/loading_external_data.ipynb
  docs/tutorials/loading_external_data.py
  pyproject.toml
  tests/docs_tests/__init__.py
  tests/docs_tests/test_tutorials.py
  uv.lock
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix equities readiness leg freshness boundaries
  systems/flux/flux/runners/equities/readiness.py
  tests/unit_tests/examples/strategies/test_equities_readiness.py
Due: check-non-latin-text

docs: record equities live readiness review
  docs/plans/2026-03-12-equities-live-trading-readiness.md
  docs/reviews/2026-03-12-equities-live-readiness-review.md
Due: check-non-latin-text

docs: record equities live readiness hold
  docs/plans/2026-03-12-equities-live-trading-readiness.md
  docs/reviews/2026-03-12-equities-live-readiness-review.md
Due: check-non-latin-text

fix(flux): sync signal runner state with params
  systems/flux/flux/api/app.py
  tests/unit_tests/flux/api/test_app.py
Due: check-non-latin-text

fix(tokenmm): merge accountless startup snapshot entries
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

fix(tokenmm): make startup reconciliation deterministic
  nautilus_trader/cache/database.pyx
  nautilus_trader/live/execution_engine.py
  tests/integration_tests/infrastructure/test_cache_database_redis.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

test(tokenmm): align startup reconciliation account fixtures
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

fix(tokenmm): make startup bot-off ephemeral
  systems/flux/flux/api/app.py
  systems/flux/flux/common/keys.py
  systems/flux/flux/params/manager.py
  systems/flux/flux/strategies/makerv3/publisher.py
  systems/flux/flux/strategies/makerv3/runtime_params.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/common/test_keys.py
  tests/unit_tests/flux/params/test_manager.py
  tests/unit_tests/flux/strategies/makerv3/test_runtime_params.py
  tests/unit_tests/flux/strategies/makerv3/test_strategy_lifecycle.py
Due: check-non-latin-text

fix(tokenmm): make startup bot-off ephemeral
  systems/flux/flux/api/app.py
Due: check-non-latin-text

Add serialization stub annotations and strip docstrings
  Cargo.lock
  crates/serialization/Cargo.toml
  crates/serialization/src/python/arrow.rs
  docs/developer_guide/rust.md
  python/generate_stubs.py
  python/nautilus_trader/__init__.pyi
  python/nautilus_trader/adapters/blockchain/__init__.pyi
  python/nautilus_trader/core/__init__.pyi
  python/nautilus_trader/infrastructure/__init__.pyi
  python/nautilus_trader/model/__init__.pyi
  python/nautilus_trader/serialization/__init__.pyi
  python/pyproject.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(tokenmm): harden bitget startup reconciliation
  deploy/tokenmm/strategies/plumeusdt_bitget_perp_makerv3.toml
  nautilus_trader/adapters/bitget/execution.py
  tests/integration_tests/adapters/bitget/test_execution.py
  tests/integration_tests/adapters/bitget/test_execution_rest.py
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add common stub annotations and regenerate stubs
  crates/common/src/actor/data_actor.rs
  crates/common/src/cache/config.rs
  crates/common/src/custom.rs
  crates/common/src/enums.rs
  crates/common/src/live/listener.rs
  crates/common/src/logging/config.rs
  crates/common/src/logging/logger.rs
  crates/common/src/logging/writer.rs
  crates/common/src/msgbus/database.rs
  crates/common/src/msgbus/message.rs
  crates/common/src/python/actor.rs
  crates/common/src/python/cache.rs
  crates/common/src/python/clock.rs
  crates/common/src/python/custom.rs
  crates/common/src/python/enums.rs
  crates/common/src/python/fifo.rs
  crates/common/src/python/listener.rs
  crates/common/src/python/logging.rs
  crates/common/src/python/msgbus.rs
  crates/common/src/python/signal.rs
  crates/common/src/python/timer.rs
  crates/common/src/python/xrate.rs
  crates/common/src/signal.rs
  crates/common/src/timer.rs
  python/generate_stubs.py
  python/nautilus_trader/__init__.pyi
  python/nautilus_trader/common/__init__.pyi
  python/nautilus_trader/model/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Betfair tester examples and fix stream handling
  Cargo.lock
  crates/adapters/betfair/Cargo.toml
  crates/adapters/betfair/examples/node_data_tester.rs
  crates/adapters/betfair/examples/node_exec_tester.rs
  crates/adapters/betfair/src/data.rs
  crates/adapters/betfair/src/stream/client.rs
  crates/adapters/betfair/src/stream/messages.rs
  crates/adapters/betfair/tests/data_client.rs
  crates/adapters/betfair/tests/exec_client.rs
  crates/adapters/betfair/tests/stream_client.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: close equities shared-account balance gaps
  deploy/equities/README.md
  deploy/equities/equities.live.toml
  deploy/equities/strategies/README.md
  deploy/equities/strategies/hyundai_tradexyz_makerv3.toml.disabled
  deploy/equities/systemd/flux-equities.target
  deploy/equities/systemd/flux-pulse.sudoers
  systems/flux/flux/api/_payloads_balances.py
  systems/flux/flux/api/app.py
  systems/flux/flux/common/account_scopes.py
  systems/flux/flux/runners/shared/profile_accounts.py
  systems/flux/flux/strategies/makerv4/reference_balances.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/strategies/makerv4/test_reference_balances.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(flux): canonicalize shared stable cash balances
  systems/flux/flux/api/_payloads_balances.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_balances_merge_dedupe.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/common/test_portfolio_snapshot.py
Due: check-non-latin-text

Fix hedging leg-fill position assignment
  nautilus_trader/execution/engine.pyx
  tests/unit_tests/execution/test_engine_leg_fills.py
Due: check-non-latin-text

fix: initialize hyperliquid shared-account client identity
  systems/flux/flux/runners/shared/profile_accounts.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
Due: check-non-latin-text

fix(flux): normalize canonical shared cash rows
  systems/flux/flux/api/_payloads_balances.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_balances_merge_dedupe.py
  tests/unit_tests/flux/common/test_portfolio_snapshot.py
Due: check-non-latin-text

Rewrite quickstart to use BacktestEngine directly
  docs/getting_started/index.md
  docs/getting_started/quickstart.py
  tests/docs_tests/test_tutorials.py
Due: check-non-latin-text

notebook: present tokenmm markout summary
  research/tokenmm/notebooks/tokenmm_trade_data.ipynb
Due: none

fix: finalize equities shared-account balances
  docs/plans/2026-03-12-equities-live-trading-readiness.md
  nautilus_trader/adapters/interactive_brokers/client/account.py
  nautilus_trader/adapters/interactive_brokers/client/wrapper.py
  systems/flux/flux/api/_payloads_balances.py
  systems/flux/flux/common/account_projection.py
  systems/flux/flux/strategies/makerv4/reference_balances.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/common/test_account_projection.py
  tests/unit_tests/flux/strategies/makerv4/test_reference_balances.py
Due: check-non-latin-text

docs: add MakerV3 deep ladder bounded convergence plan
  docs/plans/2026-03-12-makerv3-deep-ladder-bounded-convergence.md
Due: check-non-latin-text

docs: add makerv3 deep ladder hardening plan
  docs/plans/2026-03-12-makerv3-deep-ladder-hardening.md
Due: check-non-latin-text

docs: drop duplicate MakerV3 hardening plan
  docs/plans/2026-03-12-makerv3-deep-ladder-hardening.md
Due: check-non-latin-text

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
