Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

docs(plan): append PR8 progress and deviation entries
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

PR7: add remote signer client with strict raw tx verification
  Cargo.lock
  crates/adapters/blockchain/Cargo.toml
  crates/adapters/blockchain/src/execution/signer/client.rs
  crates/adapters/blockchain/src/execution/signer/mod.rs
  crates/adapters/blockchain/src/execution/signer/types.rs
  crates/adapters/blockchain/tests/common/mock_signer.rs
  crates/adapters/blockchain/tests/signer_client.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(blockchain): add execution journal idempotency primitives
  crates/adapters/blockchain/src/execution/journal.rs
  crates/adapters/blockchain/src/execution/mod.rs
  crates/adapters/blockchain/tests/execution_journal_primitives.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs(plan): append pr11 progress and follow-ups
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

feat(blockchain): decode pcs v2 swap receipts into amm fills
  crates/adapters/blockchain/src/contracts/mod.rs
  crates/adapters/blockchain/src/contracts/uniswap_v2_pair.rs
  crates/adapters/blockchain/src/execution/amm/mod.rs
  crates/adapters/blockchain/src/execution/amm/pancakeswap_v2.rs
  crates/adapters/blockchain/tests/pancakeswap_v2_receipt_decode.rs
  crates/adapters/blockchain/tests/uniswap_v2_pair_swap_decode.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

PR12c: append plan progress log entry
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

PR12b: implement happy-path execution vertical slice
  crates/adapters/blockchain/src/config.rs
  crates/adapters/blockchain/src/execution/amm/pancakeswap_v2.rs
  crates/adapters/blockchain/src/execution/client.rs
  crates/adapters/blockchain/tests/amm_execution_flow.rs
  crates/adapters/blockchain/tests/execution_client_no_todos.rs
  crates/adapters/blockchain/tests/pancakeswap_v2_receipt_decode.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

PR12b: update PCS plan progress log
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

docs(plan): append pr12a progress and follow-ups
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

PR12c: harden ambiguous broadcast/reorg/timeout handling
  crates/adapters/blockchain/src/execution/client.rs
  crates/adapters/blockchain/src/rpc/http.rs
  crates/adapters/blockchain/tests/amm_execution_flow.rs
  crates/adapters/blockchain/tests/rpc_http_execution_methods.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden blockchain config URL redaction
  Cargo.lock
  crates/adapters/blockchain/Cargo.toml
  crates/adapters/blockchain/src/python/config.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

PR13: append verification and review-loop progress log
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

Fix Python signer_route default binding
  crates/adapters/blockchain/src/python/config.rs
  docs/plans/2026-03-04-pcs-integration.md
  docs/plans/2026-03-06-pcs-orchestrator-handoff.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

PR13: log stacked PR restoration and external CI billing blocker
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

Fix Python signer_route default binding
  docs/plans/2026-03-04-pcs-integration.md
  docs/plans/2026-03-06-pcs-orchestrator-handoff.md
Due: check-non-latin-text

Make PCS handoff PR13 head reference symbolic
  docs/plans/2026-03-06-pcs-orchestrator-handoff.md
Due: check-non-latin-text

Redact blockchain config repr URLs
  crates/adapters/blockchain/src/python/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

PR13: update plan progress log with head SHA
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

PR13: add orchestrator handoff summary
  docs/plans/2026-03-04-pcs-integration.md
  docs/plans/2026-03-06-pcs-orchestrator-handoff.md
Due: check-non-latin-text

Correct PCS handoff final head status
  docs/plans/2026-03-06-pcs-orchestrator-handoff.md
Due: check-non-latin-text

Correct PCS handoff final head status
  docs/plans/2026-03-04-pcs-integration.md
  docs/plans/2026-03-06-pcs-orchestrator-handoff.md
Due: check-non-latin-text

PR13: add PancakeSwap Python execution surface and docs
  crates/adapters/blockchain/src/python/config.rs
  crates/adapters/blockchain/src/python/mod.rs
  crates/adapters/blockchain/tests/pyo3_exec_registry.rs
  docs/integrations/index.md
  docs/integrations/pancakeswap.md
  docs/plans/2026-03-04-pcs-integration.md
  examples/live/pancakeswap/pancakeswap_v2_swap_tester.py
  nautilus_trader/adapters/pancakeswap/__init__.py
  nautilus_trader/adapters/pancakeswap/config.py
  nautilus_trader/adapters/pancakeswap/constants.py
  nautilus_trader/adapters/pancakeswap/factories.py
  tests/integration_tests/adapters/pancakeswap/test_execution.py
  tests/integration_tests/adapters/pancakeswap/test_factories.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

PR13: sync handoff references with current head
  docs/plans/2026-03-04-pcs-integration.md
  docs/plans/2026-03-06-pcs-orchestrator-handoff.md
Due: check-non-latin-text

Document PCS merge closeout
  docs/plans/2026-03-04-pcs-integration.md
  docs/plans/2026-03-06-pcs-orchestrator-handoff.md
Due: check-non-latin-text

fix(tokenmm): use execution-scoped strategy ids
  deploy/tokenmm/strategies/README.md
  deploy/tokenmm/strategies/bybit_linear_plumeusdt_makerv3_01.toml
  deploy/tokenmm/strategies/bybit_linear_plumeusdt_makerv3_02.toml
  deploy/tokenmm/strategies/bybit_linear_plumeusdt_makerv3_03.toml
  deploy/tokenmm/strategies/bybit_linear_plumeusdt_makerv3_04.toml
  deploy/tokenmm/strategies/bybit_linear_plumeusdt_makerv3_05.toml
  deploy/tokenmm/strategies/tokenmm.strategy.template.toml
  deploy/tokenmm/tokenmm.live.toml
  docs/fluxboard/tokenmm_runbook.md
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix tokenmm replay and inventory skew handling
  fluxboard/Alerts.tsx
  fluxboard/Alerts.wiring.test.tsx
  fluxboard/Trades.recovery.test.tsx
  fluxboard/Trades.tsx
  fluxboard/api.flux.test.ts
  fluxboard/api.ts
  nautilus_trader/flux/api/app.py
  nautilus_trader/flux/api/payloads.py
  nautilus_trader/flux/api/socketio.py
  nautilus_trader/flux/strategies/makerv3/inventory.py
  nautilus_trader/flux/strategies/makerv3/publisher.py
  nautilus_trader/flux/strategies/makerv3/quote_engine.py
  nautilus_trader/flux/strategies/makerv3/strategy.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/api/test_socketio_tokenmm.py
  tests/unit_tests/flux/strategies/makerv3/test_inventory.py
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
  tests/unit_tests/flux/strategies/makerv3/test_strategy_lifecycle.py
Due: check-non-latin-text

feat(tokenmm): finalize production signal and deploy workflow
  deploy/tokenmm/README.md
  deploy/tokenmm/strategies/README.md
  deploy/tokenmm/strategies/plumeusdt_binance_perp_makerv3.toml.disabled
  deploy/tokenmm/strategies/plumeusdt_binance_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_okx_perp_makerv3.toml
  deploy/tokenmm/strategies/tokenmm.strategy.template.toml
  deploy/tokenmm/tokenmm.live.toml
  deploy/tokenmm/tokenmm_stack.env.example
  docs/fluxboard/tokenmm_runbook.md
  fluxboard/Balances.test.tsx
  fluxboard/components/domain/signal/SignalTable.fixes.test.tsx
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/components/shared/CoinCell.tsx
  fluxboard/tests/signal/MakerV2Overlay.test.tsx
  fluxboard/types.ts
  fluxboard/utils/signalRunState.test.ts
  fluxboard/utils/signalRunState.ts
  fluxboard/utils/strategyStatus.ts
  nautilus_trader/flux/api/app.py
  nautilus_trader/flux/api/payloads.py
  nautilus_trader/flux/common/config.py
  nautilus_trader/flux/runners/live/venues.py
  nautilus_trader/flux/runners/tokenmm/redis_runtime.py
  nautilus_trader/flux/runners/tokenmm/run_api.py
  nautilus_trader/flux/runners/tokenmm/run_bridge.py
  nautilus_trader/flux/runners/tokenmm/run_node.py
  nautilus_trader/flux/strategies/makerv3/publisher.py
  nautilus_trader/flux/strategies/makerv3/strategy.py
  scripts/deploy/tokenmm_stack.sh
  tests/unit_tests/examples/strategies/test_live_venue_registry.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_api.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_bridge.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/strategies/makerv3/test_strategy_lifecycle.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

feat(tokenmm): finalize runner state and inventory wiring
  docs/plans/2026-03-06-plume-instrument-naming-consistency.md
  fluxboard/__tests__/api.test.ts
  fluxboard/api.ts
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/tests/signal/MakerV2Overlay.test.tsx
  fluxboard/types.ts
  nautilus_trader/flux/api/app.py
  nautilus_trader/flux/api/payloads.py
  nautilus_trader/flux/common/params.py
  nautilus_trader/flux/runners/tokenmm/run_node.py
  nautilus_trader/flux/strategies/makerv3/constants.py
  nautilus_trader/flux/strategies/makerv3/strategy.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/strategies/makerv3/test_runtime_params.py
  tests/unit_tests/flux/strategies/makerv3/test_strategy_lifecycle.py
Due: check-non-latin-text

feat(flux): harden tokenmm instrument naming
  deploy/tokenmm/tokenmm.live.toml
  fluxboard/Balances.test.tsx
  fluxboard/Balances.tsx
  fluxboard/Trades.tsx
  fluxboard/__tests__/panels/signal.test.tsx
  fluxboard/api.flux.test.ts
  fluxboard/api.ts
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/components/trades/columns.tsx
  fluxboard/types.ts
  nautilus_trader/flux/api/app.py
  nautilus_trader/flux/api/payloads.py
  nautilus_trader/flux/bridge/handlers/market_bbo.py
  nautilus_trader/flux/common/keys.py
  nautilus_trader/flux/runners/tokenmm/run_api.py
  nautilus_trader/flux/strategies/makerv3/publisher.py
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/bridge/test_handlers.py
  tests/unit_tests/flux/common/test_keys.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

feat(tokenmm): tighten live observability defaults
  deploy/tokenmm/strategies/plumeusdt_bybit_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_okx_perp_makerv3.toml
  deploy/tokenmm/tokenmm.live.toml
  systems/flux/flux/api/payloads.py
  systems/flux/flux/pulse/api.py
  systems/flux/flux/runners/tokenmm/run_node.py
  systems/flux/flux/strategies/makerv3/quote_engine.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/pulse/test_api.py
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(fluxboard): preserve canonical trade naming fields
  fluxboard/__tests__/TradesStore.test.ts
  fluxboard/stores.ts
Due: none

fix(makerv3): publish quote state from managed orders
  systems/flux/flux/strategies/makerv3/publisher.py
  systems/flux/flux/strategies/makerv3/quote_engine.py
  systems/flux/flux/strategies/makerv3/strategy.py
Due: check-non-latin-text

test(fluxboard): refresh legacy signal suites
  fluxboard/__tests__/panels/signal.test.tsx
  fluxboard/components/SignalTable.test.tsx
Due: none

Remove external plugin system and abi_stable dependency
  Cargo.lock
  Cargo.toml
  crates/model/Cargo.toml
  crates/model/src/data/custom.rs
  crates/model/src/data/mod.rs
  crates/model/src/data/plugin.rs
  crates/model/src/python/data/custom.rs
  crates/model/src/python/data/mod.rs
  crates/nautilus_macros/src/custom.rs
  crates/serialization/Cargo.toml
  crates/serialization/src/arrow/custom.rs
  crates/serialization/src/lib.rs
  tests/unit_tests/persistence/test_custom_data_roundtrip_pyo3.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Move custom_data macro crate under persistence
  .pre-commit-hooks/check_nautilus_conventions.sh
  Cargo.lock
  Cargo.toml
  crates/persistence/Cargo.toml
  crates/persistence/macros/Cargo.toml
  crates/persistence/macros/src/custom.rs
  crates/persistence/macros/src/lib.rs
  crates/persistence/src/test_data.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clean logging, banner comments, and Makefile additions
  Makefile
  crates/model/src/data/custom.rs
  crates/model/src/data/registry.rs
  crates/persistence/src/backend/catalog_operations.rs
  crates/persistence/src/backend/custom.rs
  crates/serialization/src/arrow/custom.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
