Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Standardize exception logging
  nautilus_trader/adapters/betfair/execution.py
  nautilus_trader/live/data_client.py
  nautilus_trader/live/execution_client.py
Due: check-non-latin-text

Improve order book handling of NoOrderSide deltas
  RELEASES.md
  crates/adapters/databento/src/decode.rs
  crates/backtest/src/exchange.rs
  crates/data/src/engine/book.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/matching_engine/tests.rs
  crates/model/benches/book_iai.rs
  crates/model/src/ffi/orderbook/book.rs
  crates/model/src/orderbook/book.rs
  crates/model/src/orderbook/error.rs
  crates/model/src/orderbook/tests.rs
  crates/model/src/python/orderbook/book.rs
  tests/unit_tests/model/test_orderbook.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve price_to_order_id hashing for L2 books
  crates/model/src/orderbook/aggregation.rs
  tests/unit_tests/model/test_orderbook.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix BacktestEngine to retain instruments on reset
  RELEASES.md
  docs/concepts/backtesting.md
  docs/getting_started/backtest_low_level.ipynb
  nautilus_trader/backtest/config.py
  nautilus_trader/backtest/engine.pyx
Due: check-non-latin-text

Improve error handling in hypersync DEX event processing
  crates/adapters/blockchain/src/hypersync/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Change PositionId validation check from ASCII to UTF-8 (#3105)
  crates/model/src/identifiers/position_id.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve ActorExecutor to log full exception tracebacks
  nautilus_trader/common/executor.py
  tests/unit_tests/common/test_executor.py
Due: check-non-latin-text

Refactor accounts and margin handling in Rust
  crates/backtest/src/exchange.rs
  crates/model/src/accounts/margin.rs
  crates/model/src/python/account/margin.rs
  crates/portfolio/src/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement reconnects for blockchain RPC client
  Cargo.lock
  crates/adapters/blockchain/Cargo.toml
  crates/adapters/blockchain/README.md
  crates/adapters/blockchain/src/lib.rs
  crates/adapters/blockchain/src/rpc/core.rs
  crates/adapters/blockchain/src/rpc/types.rs
  crates/adapters/blockchain/tests/rpc_reconnection.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Refine error handling for external message streaming task
  nautilus_trader/live/node.py
Due: check-non-latin-text

Fix orderbook test for cross-platform hash values
  tests/unit_tests/model/test_orderbook.py
Due: check-non-latin-text

Improve BacktestNode error handling with explicit exception
  nautilus_trader/backtest/node.py
Due: check-non-latin-text

Add liquidity utilization rate to AMM pool profiler (#3107)
  crates/adapters/blockchain/bin/node_test.rs
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/cli/src/blockchain/analyze.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/pool_analysis/snapshot.rs
  crates/model/src/defi/pool_analysis/tests.rs
  crates/model/src/python/defi/profiler.rs
  python/examples/blockchain/actors.py
  schema/sql/tables.sql
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize account state updates and connection sequencing
  docs/integrations/okx.md
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/adapters/bybit/execution.py
  nautilus_trader/adapters/coinbase_intx/execution.py
  nautilus_trader/adapters/okx/execution.py
  tests/integration_tests/adapters/bitmex/conftest.py
  tests/integration_tests/adapters/okx/conftest.py
Due: check-non-latin-text

Add filter_sec_types config to skip unsupported IB instrument types (#3108)
  nautilus_trader/adapters/interactive_brokers/config.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  nautilus_trader/adapters/interactive_brokers/providers.py
Due: check-non-latin-text

Upgrade Cython
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix Redis multi-stream consumer skipping messages
  RELEASES.md
  crates/infrastructure/src/redis/msgbus.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Install ripgrep in CI and make hook graceful when missing
  .github/actions/common-setup/action.yml
  .pre-commit-hooks/check_error_conventions.sh
Due: check-non-latin-text

Fix OKX spot margin quote quantity order handling
  RELEASES.md
  crates/adapters/okx/src/common/enums.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/model/orders/base.pxd
  nautilus_trader/model/orders/base.pyx
  tests/integration_tests/adapters/okx/conftest.py
  tests/integration_tests/adapters/okx/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine quotes from book updates
  RELEASES.md
  nautilus_trader/data/config.py
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
Due: check-non-latin-text

Update OKX integration guide
  docs/integrations/okx.md
  examples/live/okx/okx_exec_tester.py
Due: check-non-latin-text

Fix race condition in account registration during startup
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/binance/futures/execution.py
  nautilus_trader/adapters/binance/spot/execution.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/adapters/bybit/execution.py
  nautilus_trader/adapters/coinbase_intx/execution.py
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/adapters/polymarket/execution.py
  nautilus_trader/live/execution_client.py
  tests/integration_tests/adapters/binance/test_execution_futures.py
  tests/integration_tests/adapters/okx/test_execution.py
Due: check-non-latin-text

Refine ensure_file_exists function and tests
  crates/testkit/src/files.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update pull request template
  .github/pull_request_template.md
Due: check-non-latin-text

Standardize mutex lock error handling
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/blockchain/tests/rpc_reconnection.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/coinbase_intx/src/http/client.rs
  crates/adapters/databento/src/data.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/signing/nonce.rs
  crates/adapters/okx/src/execution/mod.rs
  crates/adapters/okx/src/http/client.rs
  crates/common/src/clock.rs
  crates/common/src/ffi/timer.rs
  crates/common/src/python/actor.rs
  crates/core/src/lib.rs
  crates/data/src/aggregation.rs
  crates/model/src/ffi/identifiers/venue.rs
  crates/model/src/ffi/types/currency.rs
  crates/model/src/orderbook/aggregation.rs
  crates/model/src/venues.rs
  crates/network/src/fix.rs
  crates/network/src/retry.rs
  crates/system/src/python/registry.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix pre-commit and update Rust developer guide
  crates/infrastructure/src/redis/msgbus.rs
  docs/developer_guide/rust.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Add possibility to emit QuoteTick when updating order book (#3106)
  nautilus_trader/data/config.py
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  nautilus_trader/model/book.pxd
  nautilus_trader/model/book.pyx
  tests/unit_tests/data/test_engine.py
Due: check-non-latin-text

Refine async task exception handling in ThrottledEnqueuer
  nautilus_trader/live/enqueue.py
Due: check-non-latin-text

Fix InstrumentProvider exception handling
  nautilus_trader/common/providers.py
Due: check-non-latin-text

Standardize error variable naming conventions
  .pre-commit-config.yaml
  .pre-commit-hooks/check_error_conventions.sh
  build.py
  crates/adapters/bitmex/src/data/mod.rs
  crates/adapters/bitmex/src/execution/mod.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/blockchain/src/contracts/erc20.rs
  crates/adapters/blockchain/src/rpc/core.rs
  crates/adapters/bybit/bin/ws_data.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/bybit/tests/http.rs
  crates/adapters/coinbase_intx/src/websocket/client.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/okx/src/data/mod.rs
  crates/adapters/okx/src/execution/mod.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/tests/http.rs
  crates/adapters/okx/tests/websocket.rs
  crates/data/src/engine/mod.rs
  crates/network/src/http.rs
  crates/network/src/python/websocket.rs
  crates/network/src/ratelimiter/clock.rs
  crates/network/src/ratelimiter/mod.rs
  crates/network/src/retry.rs
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/bitmex/data.py
  nautilus_trader/adapters/hyperliquid/providers.py
  nautilus_trader/adapters/okx/execution.py
  python/generate_stubs.py
  tests/integration_tests/adapters/betfair/conftest.py
  tests/integration_tests/infrastructure/test_cache_database_postgres.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit wallet balance calculation for spot borrow
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/websocket/messages.rs
  crates/adapters/bybit/src/websocket/parse.rs
  crates/adapters/bybit/test_data/http_get_wallet_balance.json
  crates/adapters/bybit/test_data/http_get_wallet_balance_with_spot_borrow.json
  crates/adapters/bybit/test_data/ws_account_wallet.json
  nautilus_trader/adapters/bybit/schemas/account/balance.py
  nautilus_trader/adapters/bybit/schemas/ws.py
  tests/integration_tests/adapters/bybit/test_parsing.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine execution client await_account_registered
  nautilus_trader/live/execution_client.py
Due: check-non-latin-text

Improve HTTP adapter error handling for cancellation
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/http/error.rs
  crates/adapters/bitmex/src/python/http.rs
  crates/adapters/bybit/src/error.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/error.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/error.rs
  crates/adapters/okx/src/python/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix bugs found in Polymarket adapter audit
  examples/live/polymarket/polymarket_exec_tester.py
  nautilus_trader/adapters/polymarket/common/parsing.py
  nautilus_trader/adapters/polymarket/data.py
  nautilus_trader/adapters/polymarket/execution.py
  nautilus_trader/adapters/polymarket/http/errors.py
  nautilus_trader/adapters/polymarket/websocket/client.py
Due: check-non-latin-text

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Add backtest example for databento CME simple quoter
  examples/backtest/databento_cme_quoter.py
  examples/sandbox/databento_cme_sandbox.py
  nautilus_trader/examples/strategies/simpler_quoter.py
  nautilus_trader/test_kit/providers.py
Due: check-non-latin-text

Update dependencies including cbindgen
  Cargo.lock
  Cargo.toml
  RELEASES.md
  nautilus_trader/core/includes/backtest.h
  nautilus_trader/core/includes/common.h
  nautilus_trader/core/includes/core.h
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/rust/common.pxd
  nautilus_trader/core/rust/model.pxd
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
