Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Small improvement.
  build.py
  crates/adapters/hyperliquid/bin/ws_post.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
Due: fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/hyperliquid/src/data/mod.rs
  examples/sandbox/HYPERLIQUID_ISSUE_ANALYSIS.md
  examples/sandbox/hyperliquid_testnet_order_placer.py
Due: fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/hyperliquid/src/python/http.rs
  examples/sandbox/hyperliquid_testnet_sandbox.py
Due: fmt, cargo-clippy, cargo-doc

Small improvement.
  Cargo.lock
  build.py
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/bin/http_exec.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/signing/nonce.rs
  crates/adapters/hyperliquid/src/signing/signers.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  examples/sandbox/HYPERLIQUID_ISSUE_ANALYSIS.md
  examples/sandbox/hyperliquid_testnet_order_placer.py
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/signing/signers.rs
Due: fmt, cargo-clippy, cargo-doc

Small improvement.
  examples/sandbox/hyperliquid_testnet_sandbox.py
Due: none

Fix Hyperliquid L1 signing with direct MessagePack serialization (#3087)
  Cargo.lock
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/bin/http_exec.rs
  crates/adapters/hyperliquid/bin/ws_post.rs
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/python/http.rs
  crates/adapters/hyperliquid/src/signing/nonce.rs
  crates/adapters/hyperliquid/src/signing/signers.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  examples/sandbox/hyperliquid_testnet_sandbox.py
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  RELEASES.md
Due: none

Update gitlint config and docs
  .gitlint
  docs/developer_guide/coding_standards.md
Due: none

Update Rust style guide
  docs/developer_guide/rust.md
Due: none

Fix Arrow schemas for CryptoOption and spread instruments
  nautilus_trader/serialization/arrow/implementations/instruments.py
  nautilus_trader/test_kit/providers.py
  tests/unit_tests/serialization/test_arrow.py
Due: none

Fix Binance Futures liquidation and ADL fill handling
  RELEASES.md
  docs/integrations/binance.md
  nautilus_trader/adapters/binance/futures/schemas/user.py
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_futures_order_update_adl.json
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_futures_order_update_liquidation.json
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_futures_order_update_liquidation_zero_qty.json
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_futures_order_update_settlement.json
  tests/integration_tests/adapters/binance/test_execution_handlers.py
Due: none

Add turmoil network simulation testing to network crate
  RELEASES.md
  crates/network/Cargo.toml
  crates/network/README.md
  crates/network/src/lib.rs
  crates/network/src/net.rs
  crates/network/src/socket.rs
  crates/network/src/websocket.rs
  crates/network/tests/turmoil_socket.rs
  crates/network/tests/turmoil_websocket.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Remove low-value tests and fix actor subscription test
  crates/common/src/python/actor.rs
  crates/model/src/orderbook/tests.rs
  crates/persistence/tests/test_catalog.rs
  crates/risk/src/engine/tests.rs
Due: fmt, cargo-clippy, cargo-doc

Improve OKX order lifecycle handling
  crates/adapters/okx/src/execution/mod.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/adapters/okx/data.py
Due: fmt, cargo-clippy, cargo-doc

Set smaller pool as example in node_test
  crates/adapters/blockchain/bin/node_test.rs
  python/examples/blockchain/node_test.py
Due: fmt, cargo-clippy, cargo-doc

Handle pending pool updaters correctly during setup process in Defi engine
  crates/data/src/defi/engine.rs
Due: fmt, cargo-clippy, cargo-doc

Add support for UniswapV3 pool interaction with pool profiler bootstrapping
  crates/adapters/blockchain/src/data/client.rs
  crates/adapters/blockchain/src/data/core.rs
Due: fmt, cargo-clippy, cargo-doc

squash! Handle pending pool updaters correctly during setup process in Defi engine
  crates/data/src/defi/engine.rs
Due: fmt, cargo-clippy, cargo-doc

Refactor `analyze.rs` to simplify pool profiler bootstrapping and streamline snapshot validation logic
  crates/cli/src/blockchain/analyze.rs
  crates/model/src/defi/pool_analysis/profiler.rs
Due: fmt, cargo-clippy, cargo-doc

Enhance logging in `actors.py` to include detailed pool statistics and handle pool events
  python/examples/blockchain/actors.py
Due: none

Enhance logging in `node_test` to include detailed pool statistics from profiler
  crates/adapters/blockchain/bin/node_test.rs
Due: fmt, cargo-clippy, cargo-doc

Implement Blockchain adapter pool profiler snapshot integration (#3090)
  crates/adapters/blockchain/bin/node_test.rs
  crates/adapters/blockchain/src/data/client.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/cli/src/blockchain/analyze.rs
  crates/data/src/defi/engine.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  python/examples/blockchain/actors.py
  python/examples/blockchain/node_test.py
Due: fmt, cargo-clippy, cargo-doc

Improve logging and comments
  crates/adapters/bitmex/src/websocket/client.rs
  crates/model/src/position.rs
  tests/unit_tests/model/test_position.py
Due: fmt, cargo-clippy, cargo-doc

Add Acquire/Release contract tests for AtomicTime
  crates/core/src/time.rs
Due: fmt, cargo-clippy, cargo-doc

Hyperliquid: add typed enums and optimize WebSocket lookups with O(1) hash maps
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/http/rate_limits.rs
Due: fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/http/rate_limits.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
Due: fmt, cargo-clippy, cargo-doc

Cleanup
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/rate_limits.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
Due: fmt, cargo-clippy, cargo-doc

Cleanup
  crates/adapters/bybit/src/python/websocket.rs
  crates/adapters/bybit/src/websocket/client.rs
Due: fmt, cargo-clippy, cargo-doc

Hyperliquid: add typed enums and optimize WebSocket lookups with O(1) hash maps
  crates/adapters/bybit/src/python/websocket.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/http/rate_limits.rs
Due: fmt, cargo-clippy, cargo-doc

Add timeouts to Hypersync client for graceful shutdown
  crates/adapters/blockchain/src/hypersync/client.rs
Due: fmt, cargo-clippy, cargo-doc

Fix RefCell borrow issues with pool cache access
  crates/common/src/python/cache.rs
  crates/data/src/defi/engine.rs
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve blockchain sync progress reporting
  Cargo.lock
  crates/adapters/blockchain/Cargo.toml
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/reporting.rs
  crates/data/src/defi/engine.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve AtomicTime acquire/release contract tests robustness
  RELEASES.md
  crates/core/src/time.rs
Due: fmt, cargo-clippy, cargo-doc

Make the node_test example sync from the beginning
  crates/adapters/blockchain/bin/node_test.rs
Due: fmt, cargo-clippy, cargo-doc

Add missing pools extend when in add_pools_batch
  crates/adapters/blockchain/src/cache/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Optimize DEX pool sync process
  crates/adapters/blockchain/src/cache/copy.rs
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/config.rs
  crates/adapters/blockchain/src/data/core.rs
Due: fmt, cargo-clippy, cargo-doc

Add Hyperliquid typed enums and optimize WebSocket lookups (#3089)
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/http/rate_limits.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
Due: fmt, cargo-clippy, cargo-doc

Improve blockchain node_test srcipt (#3092)
  crates/adapters/blockchain/bin/node_test.rs
  crates/adapters/blockchain/src/cache/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
