Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

docs: update task 1 sync tracker
  docs/plans/2026-03-19-equities-pr65-sync.md
Due: check-non-latin-text

fix(makerv4): normalize enum-backed hedge sides
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/flux/strategies/makerv4/test_strategy.py
Due: check-non-latin-text

chore(equities): align universe turn-on params
  deploy/equities/strategies/aapl_tradexyz_makerv4.toml
  deploy/equities/strategies/amd_tradexyz_makerv4.toml
  deploy/equities/strategies/amzn_tradexyz_makerv4.toml
  deploy/equities/strategies/baba_tradexyz_makerv4.toml
  deploy/equities/strategies/coin_tradexyz_makerv4.toml
  deploy/equities/strategies/crcl_tradexyz_makerv4.toml
  deploy/equities/strategies/crwv_tradexyz_makerv4.toml
  deploy/equities/strategies/googl_tradexyz_makerv4.toml
  deploy/equities/strategies/hood_tradexyz_makerv4.toml
  deploy/equities/strategies/intc_binance_perp_makerv4.toml
  deploy/equities/strategies/intc_tradexyz_makerv4.toml
  deploy/equities/strategies/meta_tradexyz_makerv4.toml
  deploy/equities/strategies/msft_tradexyz_makerv4.toml
  deploy/equities/strategies/mstr_tradexyz_makerv4.toml
  deploy/equities/strategies/mu_tradexyz_makerv4.toml
  deploy/equities/strategies/nflx_tradexyz_makerv4.toml
  deploy/equities/strategies/nvda_tradexyz_makerv4.toml
  deploy/equities/strategies/orcl_tradexyz_makerv4.toml
  deploy/equities/strategies/pltr_tradexyz_makerv4.toml
  deploy/equities/strategies/rivn_tradexyz_makerv4.toml
  deploy/equities/strategies/sndk_tradexyz_makerv4.toml
  deploy/equities/strategies/tsla_tradexyz_makerv4.toml
  deploy/equities/strategies/tsm_tradexyz_makerv4.toml
  deploy/equities/strategies/usar_tradexyz_makerv4.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

feat: sync equities shared account projections
  systems/flux/flux/api/app.py
  systems/flux/flux/runners/shared/profile_accounts.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_balances_merge_dedupe.py
Due: check-non-latin-text

docs: update task 2 sync tracker
  docs/plans/2026-03-19-equities-pr65-sync.md
Due: check-non-latin-text

Subscribe InstrumentStatus for option chain instruments
  crates/data/src/option_chains/manager.rs
  nautilus_trader/data/engine.pyx
  tests/unit_tests/data/test_engine_option_chain.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add time-based expiry safeguards for option chains
  crates/data/src/engine/mod.rs
  crates/data/src/option_chains/aggregator.rs
  crates/data/src/option_chains/manager.rs
  nautilus_trader/data/engine.pyx
  tests/unit_tests/data/test_engine_option_chain.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat: Add create_batch factory methods to Subscribe* message classes (#3630)
  nautilus_trader/data/messages.pyx
Due: check-non-latin-text

feat: Add batch subscribe methods to Actor (#3630)
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
Due: check-non-latin-text

test: Add unit tests for batch subscribe feature (#3630)
  tests/unit_tests/common/test_actor.py
  tests/unit_tests/common/test_batch_subscribe.py
Due: check-non-latin-text

Add Bybit instrument status polling and subscription (Rust)
  crates/adapters/bybit/src/common/enums.rs
  crates/adapters/bybit/src/common/mod.rs
  crates/adapters/bybit/src/common/status.rs
  crates/adapters/bybit/src/config.rs
  crates/adapters/bybit/src/data.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/python/config.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Bybit instrument status polling and subscription (Python)
  nautilus_trader/adapters/bybit/config.py
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text

Fix instrument status diff: cross-product cascade and subscription filter
  crates/adapters/bybit/src/common/status.rs
  crates/adapters/bybit/src/data.rs
  nautilus_trader/adapters/bybit/data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix missing UnsubscribeInstrumentStatus in Rust engine option chain teardown
  crates/data/src/engine/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add `emit_order_pending_cancel` and `emit_order_pending_update` on emitter
  crates/common/src/factories/event.rs
  crates/live/src/emitter.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Redis cluster connection support
  Cargo.lock
  Cargo.toml
  crates/common/src/msgbus/database.rs
  crates/common/src/python/msgbus.rs
  crates/infrastructure/src/redis/cache.rs
  crates/infrastructure/src/redis/mod.rs
  crates/infrastructure/src/redis/msgbus.rs
  crates/infrastructure/src/redis/queries.rs
  crates/infrastructure/tests/test_cache_redis.rs
  crates/infrastructure/tests/test_redis_queries.rs
  docker-compose.redis-cluster.yml
  nautilus_trader/common/config.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix cluster INFO response parsing and docker-compose command
  crates/infrastructure/src/redis/mod.rs
  docker-compose.redis-cluster.yml
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix pre-commit lint issues for Redis cluster changes
  crates/infrastructure/src/redis/mod.rs
  crates/infrastructure/src/redis/msgbus.rs
  crates/infrastructure/tests/test_redis_queries.rs
  docker-compose.redis-cluster.yml
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Sort book levels deterministically in Polymarket market price calc
  crates/adapters/polymarket/src/execution/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix market order quote-to-base using per-level book walk
  crates/adapters/polymarket/src/execution/mod.rs
  crates/adapters/polymarket/src/execution/parse.rs
  crates/adapters/polymarket/src/execution/submitter.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fetch fee_rate_bps dynamically from Polymarket CLOB API
  crates/adapters/polymarket/src/execution/order_builder.rs
  crates/adapters/polymarket/src/execution/submitter.rs
  crates/adapters/polymarket/src/http/clob.rs
  crates/adapters/polymarket/src/http/models.rs
  crates/adapters/polymarket/test_data/clob_fee_rate_response_nonzero.json
  crates/adapters/polymarket/test_data/clob_fee_rate_response_zero.json
  crates/adapters/polymarket/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update common test config for redis cluster config
  nautilus_trader/indicators/base.pyi
  nautilus_trader/indicators/fuzzy_enums.pyi
  tests/unit_tests/config/test_common.py
Due: check-non-latin-text

Add Arrow schema for BinanceFuturesMarkPriceUpdate
  nautilus_trader/adapters/binance/__init__.py
  tests/integration_tests/adapters/binance/test_core_types.py
Due: check-non-latin-text

Fix stub
  nautilus_trader/indicators/base.pyi
Due: none

Add Rust BinanceBar type with Arrow serialization and generic custom data dispatch
  Cargo.lock
  crates/adapters/binance/Cargo.toml
  crates/adapters/binance/src/arrow/bar.rs
  crates/adapters/binance/src/arrow/mod.rs
  crates/adapters/binance/src/common/bar.rs
  crates/adapters/binance/src/lib.rs
  crates/persistence/src/python/backend/session.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: stabilize maker v4 signal clock alignment
  fluxboard/components/domain/signal/MakerV4SignalTable.tsx
  fluxboard/components/domain/signal/useVisibleNowMs.test.tsx
  fluxboard/components/domain/signal/useVisibleNowMs.ts
  fluxboard/tests/signal/MakerV4SignalTable.test.tsx
Due: none

fix: close trades realtime review findings
  docs/plans/realtime-surfaces/trades-cutover.md
  fluxboard/Trades.recovery.test.tsx
  fluxboard/Trades.tsx
  fluxboard/__tests__/panels/trades.perf.test.tsx
  fluxboard/__tests__/trades-integration.test.tsx
  fluxboard/api.ts
  fluxboard/components/trades/TradesTable.test.tsx
  fluxboard/components/trades/TradesTable.tsx
  fluxboard/e2e/realtime-cutovers/trades.spec.ts
  fluxboard/sockets.ts
Due: check-non-latin-text

fix: preserve unsorted live table fast path
  fluxboard/__tests__/ui/DataTable.test.tsx
  fluxboard/components/ui/table/DataTable.tsx
Due: none

feat: migrate trades to realtime standard
  docs/plans/realtime-surfaces/trades-cutover.md
  fluxboard/Trades.recovery.test.tsx
  fluxboard/Trades.tsx
  fluxboard/__tests__/trades-integration.test.tsx
  fluxboard/api.ts
  fluxboard/components/trades/TradesTable.tsx
Due: check-non-latin-text

Fix signal realtime delta regressions
  fluxboard/__tests__/panels/signal.test.tsx
  fluxboard/components/domain/signal/MakerV4SignalTable.tsx
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/tests/signal/MakerV4SignalTable.test.tsx
Due: none

fix: align maker v4 signal clock semantics
  fluxboard/components/domain/signal/MakerV4SignalTable.tsx
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/tests/signal/MakerV4SignalTable.test.tsx
Due: none

fix: refresh sorted live table rows on committed updates
  fluxboard/__tests__/ui/DataTable.test.tsx
  fluxboard/components/domain/signal/MakerV4SignalTable.tsx
  fluxboard/components/ui/table/DataTable.tsx
  fluxboard/tests/signal/MakerV4SignalTable.test.tsx
Due: none

fix: align live sort gating with tanstack ids
  fluxboard/__tests__/ui/DataTable.test.tsx
  fluxboard/components/ui/table/DataTable.tsx
Due: none

fix: refresh maker v4 nested live mutations
  fluxboard/components/domain/signal/MakerV4SignalTable.tsx
  fluxboard/tests/signal/MakerV4SignalTable.test.tsx
Due: none

fix: harden trades replay cursor recovery
  fluxboard/Trades.tsx
  fluxboard/__tests__/trades-integration.test.tsx
Due: none

fix: tighten trades seq-gap recovery
  fluxboard/Trades.tsx
  fluxboard/__tests__/trades-integration.test.tsx
  fluxboard/api.ts
Due: none

feat: move signal surface onto realtime standard
  docs/plans/realtime-surfaces/signal-cutover.md
  fluxboard/__tests__/panels/signal.test.tsx
  fluxboard/components/domain/signal/MakerV4SignalTable.tsx
  fluxboard/components/domain/signal/SignalTable.age-ticking.test.tsx
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/components/domain/signal/useVisibleNowMs.ts
  fluxboard/e2e/realtime-cutovers/signal.spec.ts
  fluxboard/tests/signal/MakerV4SignalTable.test.tsx
Due: check-non-latin-text

Tick maker v4 signal ages from shared clock
  fluxboard/components/domain/signal/MakerV4SignalTable.tsx
  fluxboard/tests/signal/MakerV4SignalTable.test.tsx
Due: none

test: add trades cutover placeholder
  docs/plans/realtime-surfaces/trades-cutover.md
  fluxboard/e2e/realtime-cutovers/trades.spec.ts
Due: check-non-latin-text

fix: stabilize stale live sort filtering
  fluxboard/__tests__/ui/DataTable.test.tsx
  fluxboard/components/ui/table/DataTable.tsx
Due: none
