Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Expose OKX account configuration in the raw HTTP client (#4943)
  crates/adapters/okx/src/common/enums.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/test_data/README.md
  crates/adapters/okx/test_data/http_get_account_configuration.json
  crates/adapters/okx/tests/integration/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Replace network Reqwest transport with Hyper
  .pre-commit-hooks/check_dependency_features.py
  .supply-chain/audits.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/architect_ax/Cargo.toml
  crates/adapters/architect_ax/src/http/client.rs
  crates/adapters/coinbase/src/http/error.rs
  crates/adapters/derive/src/http/client.rs
  crates/adapters/derive/src/providers.rs
  crates/adapters/hyperliquid/src/http/error.rs
  crates/adapters/lighter/Cargo.toml
  crates/adapters/lighter/bin/trades_probe.rs
  crates/adapters/lighter/fuzz/pornin/Cargo.lock
  crates/adapters/okx/src/http/client.rs
  crates/adapters/polymarket/Cargo.toml
  crates/adapters/polymarket/src/http/error.rs
  crates/network/Cargo.toml
  crates/network/benches/BENCHMARKS.md
  crates/network/benches/http_response.rs
  crates/network/benches/test_client.rs
  crates/network/src/http/client.rs
  crates/network/src/http/connector.rs
  crates/network/src/http/error.rs
  crates/network/src/http/mod.rs
  crates/network/src/http/simulation.rs
  crates/network/src/http/stream.rs
  crates/network/src/http/tests.rs
  crates/network/src/http/transport.rs
  crates/network/src/http/types.rs
  crates/testkit/Cargo.toml
  crates/testkit/src/files.rs
  deny.toml
  docs/concepts/dst.md
  docs/concepts/networking.md
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Python component direct messaging
  MIGRATION_V2.md
  RELEASES.md
  crates/common/src/actor/data_actor.rs
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/core.rs
  crates/common/src/python/actor.rs
  crates/common/src/python/component_msgbus.rs
  crates/common/src/python/mod.rs
  crates/common/src/python/msgbus.rs
  crates/common/src/python/wrappers.rs
  crates/system/src/python/registration.rs
  crates/system/src/trader.rs
  crates/trading/src/python/algorithm.rs
  crates/trading/src/python/strategy.rs
  docs/concepts/actors.md
  docs/concepts/message_bus.md
  python/nautilus_trader/common/__init__.pyi
  python/nautilus_trader/trading/__init__.pyi
  python/tests/unit/test_direct_messaging.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove base64 credential literals from network tests
  crates/network/src/http/tests.rs
  crates/network/src/websocket/proxy.rs
  crates/network/tests/integration/websocket_proxy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Use default OKX WebSocket connection timeout
  RELEASES.md
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/tests/integration/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance Futures partial-depth book maintenance
  RELEASES.md
  crates/adapters/binance/src/futures/data.rs
  crates/adapters/binance/src/futures/websocket/streams/client.rs
  crates/adapters/binance/src/futures/websocket/streams/dispatch.rs
  crates/adapters/binance/src/futures/websocket/streams/handler.rs
  crates/adapters/binance/src/futures/websocket/streams/messages.rs
  crates/adapters/binance/src/futures/websocket/streams/parse_data.rs
  crates/adapters/binance/tests/integration/futures/data_client.rs
  docs/integrations/binance.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Hyperliquid command rejection outcomes
  RELEASES.md
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/test_data/README.md
  crates/adapters/hyperliquid/test_data/exchange_error_messages.json
  crates/adapters/hyperliquid/tests/integration/exec_client.rs
  docs/integrations/hyperliquid.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OKX RPI minimum-notional rejection coverage
  RELEASES.md
  crates/adapters/okx/src/websocket/dispatch.rs
  crates/adapters/okx/test_data/rpi_minimum_notional.json
  crates/adapters/okx/tests/integration/http.rs
  docs/integrations/okx.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize Binance Spot JSON book subscription depths
  RELEASES.md
  crates/adapters/binance/src/spot/data.rs
  crates/adapters/binance/tests/integration/spot/data_client.rs
  docs/integrations/binance.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Binance RPI order support (#4927)
  crates/adapters/binance/src/common/enums.rs
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/src/futures/http/models.rs
  crates/adapters/binance/src/futures/websocket/streams/parse_exec.rs
  crates/adapters/binance/tests/integration/futures/exec_client.rs
  docs/integrations/binance.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Restore backtest request warnings
  crates/backtest/src/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve network test coverage and simplify internals
  crates/network/src/backoff.rs
  crates/network/src/http/client.rs
  crates/network/src/http/stream.rs
  crates/network/src/http/tests.rs
  crates/network/src/lib.rs
  crates/network/src/mode.rs
  crates/network/src/retry.rs
  crates/network/src/transport/sockudo.rs
  crates/network/src/transport/tungstenite.rs
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/subscription.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make the IB tick-by-tick trade type selectable
  crates/adapters/interactive_brokers/src/config.rs
  crates/adapters/interactive_brokers/src/data/core.rs
  crates/adapters/interactive_brokers/src/data/core_streams.rs
  crates/adapters/interactive_brokers/src/python/config.rs
  python/nautilus_trader/adapters/interactive_brokers/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve execution test coverage and simplify internals
  crates/execution/src/client/core.rs
  crates/execution/src/models/fill.rs
  crates/execution/src/order_emulator/emulator.rs
  crates/execution/src/order_manager/manager.rs
  crates/execution/src/protection.rs
  crates/execution/src/trailing.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Use American English spelling to satisfy the typos hook
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Use American English spelling to satisfy the typos hook
  crates/adapters/interactive_brokers/src/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document the IB all_last_trades data client option
  docs/integrations/interactive_brokers.md
Due: check-non-latin-text

Consolidate Python component messaging
  crates/common/src/actor/data_actor.rs
  crates/common/src/python/component_msgbus.rs
  crates/common/src/python/mod.rs
  crates/common/src/python/msgbus.rs
  crates/common/src/python/wrappers.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Rust formatting checks
  .pre-commit-hooks/check_formatting_rs.sh
  .pre-commit-hooks/test_check_formatting_rs.sh
  docs/developer_guide/rust.md
Due: check-non-latin-text

Fix RiskEngine sell-balance scale handling
  crates/model/src/accounts/wallet.rs
  crates/model/src/types/money.rs
  crates/model/tests/fixed_scale.rs
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Replay a withheld cancel report for orders without a dispatch identity
  crates/adapters/binance/src/common/dispatch.rs
  crates/adapters/binance/src/spot/execution.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Preserve queue positions across book snapshots
  crates/execution/src/matching_engine/mod.rs
  crates/execution/tests/integration/matching_engine.rs
  docs/concepts/backtesting/trade-execution.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Derive Polymarket locked balances from cached orders
  RELEASES.md
  crates/adapters/polymarket/src/execution/lifecycle.rs
  crates/adapters/polymarket/src/execution/mod.rs
  crates/adapters/polymarket/src/execution/reports.rs
  crates/adapters/polymarket/tests/integration/exec_client.rs
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reorganize architecture and design documentation
  docs/concepts/architecture.md
  docs/concepts/backtesting/index.md
  docs/concepts/backtesting/simulation-modules.md
  docs/concepts/behavioral_models.md
  docs/concepts/index.md
  docs/developer_guide/design_principles.md
  docs/developer_guide/docs.md
  docs/developer_guide/rust.md
Due: check-non-latin-text

Fix plugin Miri panic tests
  Makefile
Due: none

Enforce Python test encoding warnings
  Makefile
  python/generate_docstrings.py
  python/pyproject.toml
  python/tests/acceptance/test_docs_scripts.py
  python/tests/unit/adapters/binance/test_binance_migration.py
  python/tests/unit/adapters/test_public_exports.py
  python/tests/unit/common/test_actor.py
  python/tests/unit/common/test_logging.py
  python/tests/unit/indicators/test_python_handlers.py
  python/tests/unit/model/test_fixed_point_boundaries.py
  python/tests/unit/portfolio/test_portfolio.py
  python/tests/unit/test_allocation_boundaries.py
  python/tests/unit/test_config.py
  python/tests/unit/test_direct_messaging.py
  python/tests/unit/test_generate_docstrings.py
  python/tests/unit/test_generate_stubs.py
  python/tests/unit/test_macos_extension.py
  python/tests/unit/test_public_module_names.py
  scripts/ci/check-python-isolation.bash
  scripts/ci/test-build-artifact-reuse.bash
  scripts/ci/test-python-doctests.bash
  scripts/ci/test-wheel-isolation.bash
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix Binance Spot cancel report client order ID matching (#4930)
  crates/adapters/binance/src/common/dispatch.rs
  crates/adapters/binance/src/spot/execution.rs
  crates/adapters/binance/src/spot/http/client.rs
  crates/adapters/binance/src/spot/http/query.rs
  crates/adapters/binance/src/spot/websocket/trading/parse.rs
  crates/adapters/binance/src/spot/websocket/trading/user_data.rs
  crates/adapters/binance/tests/integration/spot/http.rs
  crates/adapters/binance/tests/integration/spot/websocket_trading.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and tooling
  .nautilus-engineering.lock
  .nautilus-engineering/tools.toml
  .pre-commit-config.yaml
  .supply-chain/audits.toml
  .supply-chain/config.toml
  Cargo.lock
  Cargo.toml
  Makefile
  RELEASES.md
  crates/adapters/lighter/fuzz/pornin/Cargo.lock
  deny.toml
  python/pyproject.toml
  python/uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Align local script checks with CI
  .pre-commit-config.yaml
  Makefile
  scripts/ci/test-build-artifact-reuse.bash
  scripts/test-check-cargo-cooldown.bash
Due: check-non-latin-text

Consolidate nightly checks and streamline pre-commit
  .github/OVERVIEW.md
  .github/workflows/nightly-docs-features-check.yml
  .github/workflows/nightly-miri.yml
  .github/workflows/nightly-tests.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check_typos.sh
  .pre-commit-hooks/test_check_typos.sh
  Makefile
Due: check-non-latin-text

Refine design policies and callback dispatch contract
  docs/concepts/architecture.md
  docs/developer_guide/callback_dispatch.md
  docs/developer_guide/design_principles.md
  docs/developer_guide/index.md
Due: check-non-latin-text

Clarify Binance RPI eligibility and examples
  docs/integrations/binance.md
Due: check-non-latin-text

Publish an event when the execution engine declines a fill
  crates/common/src/msgbus/switchboard.rs
  crates/execution/src/engine/mod.rs
  crates/execution/tests/integration/exec_engine.rs
  crates/model/src/enums.rs
  crates/model/src/events/mod.rs
  crates/model/src/events/order/fill_declined.rs
  crates/model/src/events/order/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Gate Rust compilation on dependency cooldown
  .docker/nautilus_trader.dockerfile
  .github/actions/common-setup/action.yml
  .github/workflows/build.yml
  .github/workflows/cli-binaries.yml
  .github/workflows/docker.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test.yml
  .nautilus-engineering.lock
  .pre-commit-hooks/cargo_clippy_network_turmoil_non_linux.sh
  Makefile
  docs/developer_guide/environment_setup.md
  python/generate_stubs.py
  python/tests/unit/test_generate_stubs.py
  scripts/check-cargo-cooldown.sh
  scripts/ci/test-build-artifact-reuse.bash
  scripts/ci/test-postgres-bootstrap.bash
  scripts/clippy-changed.sh
  scripts/doc-changed.sh
  scripts/regen-capnp.sh
  scripts/test-check-cargo-cooldown.bash
  scripts/test-clippy-strict-audit.bash
Due: check-non-latin-text

Relax Cargo cooldown checks during builds
  .github/actions/common-setup/action.yml
  .github/workflows/docker.yml
  .nautilus-engineering.lock
  Makefile
  scripts/check-cargo-cooldown.sh
  scripts/test-check-cargo-cooldown.bash
Due: check-non-latin-text

Add BinaryOption event IDs and retain Polymarket metadata
  crates/adapters/polymarket/src/data/dispatch.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/http/gamma.rs
  crates/adapters/polymarket/src/http/models.rs
  crates/adapters/polymarket/src/http/parse.rs
  crates/adapters/polymarket/src/python/loader.rs
  crates/adapters/polymarket/test_data/gamma_market_metadata.json
  crates/adapters/polymarket/tests/integration/http.rs
  crates/model/src/instruments/binary_option.rs
  crates/model/src/python/instruments/binary_option.rs
  crates/serialization/src/arrow/instrument/binary_option.rs
  crates/serialization/src/arrow/instrument/mod.rs
  docs/concepts/instruments/binary_option.md
  docs/integrations/polymarket.md
  python/nautilus_trader/model/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Split reversal fills into closing and opening portions
  crates/model/src/position.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Derive order queries without venue IDs
  RELEASES.md
  crates/adapters/derive/src/execution.rs
  crates/adapters/derive/tests/integration/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Carry Hyperliquid asset index on instrument info
  crates/adapters/hyperliquid/src/common/consts.rs
  crates/adapters/hyperliquid/src/http/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Register Hyperliquid asset indices when caching instruments
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/python/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
