Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Align Derive and Lighter crate layouts
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  .github/workflows/security-audit.yml
  .gitignore
  Makefile
  crates/adapters/derive/Cargo.toml
  crates/adapters/derive/README.md
  crates/adapters/derive/fuzz/README.md
  crates/adapters/derive/fuzz/fuzz_targets/fuzz_action_hash.rs
  crates/adapters/derive/fuzz/fuzz_targets/fuzz_decimal_decode.rs
  crates/adapters/derive/fuzz/fuzz_targets/fuzz_nonce_sequence.rs
  crates/adapters/derive/fuzz/fuzz_targets/fuzz_trade_module_encode.rs
  crates/adapters/derive/fuzz/fuzz_targets/fuzz_ws_decode.rs
  crates/adapters/lighter/Cargo.toml
  crates/adapters/lighter/fuzz/README.md
  crates/adapters/lighter/fuzz/fuzz_targets/fuzz_auth_message.rs
  crates/adapters/lighter/fuzz/fuzz_targets/fuzz_compute_tx_hash.rs
  crates/adapters/lighter/fuzz/fuzz_targets/fuzz_hash_no_pad.rs
  crates/adapters/lighter/fuzz/fuzz_targets/fuzz_point_decode.rs
  crates/adapters/lighter/fuzz/fuzz_targets/fuzz_scalar_mul_ct_diff.rs
  crates/adapters/lighter/fuzz/fuzz_targets/fuzz_signature_codec.rs
  crates/adapters/lighter/fuzz/fuzz_targets/fuzz_verify.rs
  crates/adapters/lighter/fuzz/pornin/Cargo.lock
  crates/adapters/lighter/fuzz/pornin/Cargo.toml
  crates/adapters/lighter/fuzz/pornin/fuzz_targets/fuzz_pornin_diff_algebra.rs
  crates/adapters/lighter/fuzz/pornin/fuzz_targets/fuzz_pornin_diff_decode.rs
  crates/adapters/lighter/fuzz/pornin/fuzz_targets/fuzz_pornin_diff_scalar_mul.rs
  crates/adapters/lighter/fuzz/pornin/grind.sh
  crates/adapters/lighter/licenses/THIRD_PARTY_LICENSES.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix v2 wheel glob for Windows runners
  scripts/ci/test-v2-wheel.bash
Due: none

Resolve recurring CI workflow warnings
  .github/actions/common-setup/action.yml
  .github/actions/install-capnp/action.yml
  .github/workflows/build.yml
  .github/workflows/nightly-docs-features-check.yml
  .github/workflows/performance.yml
Due: check-non-latin-text

Fix Python v2 exact integer conversions
  RELEASES.md
  crates/model/src/python/types/money.rs
  crates/model/src/python/types/price.rs
  crates/model/src/python/types/quantity.rs
  crates/model/src/types/fixed.rs
  crates/model/src/types/money.rs
  python/tests/unit/model/test_money.py
  python/tests/unit/model/test_price.py
  python/tests/unit/model/test_quantity.py
  tests/unit_tests/model/objects/test_money_pyo3.py
  tests/unit_tests/model/objects/test_price_pyo3.py
  tests/unit_tests/model/objects/test_quantity_pyo3.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Replace timer-driven mock stream teardown in Betfair tests (#4531)
  crates/adapters/betfair/tests/data_client.rs
  crates/adapters/betfair/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Binance Python v2 migration surface
  Cargo.lock
  RELEASES.md
  crates/adapters/binance/Cargo.toml
  crates/adapters/binance/src/python/data.rs
  crates/adapters/binance/src/python/instruments.rs
  crates/adapters/binance/src/python/mod.rs
  docs/concepts/data/index.md
  docs/developer_guide/coding_standards.md
  docs/integrations/binance.md
  docs/tutorials/assets/backtest_orderbook_binance/render_panels.py
  docs/tutorials/backtest_orderbook_binance.py
  python/generate_stubs.py
  python/nautilus_trader/adapters/binance/__init__.pyi
  python/nautilus_trader/adapters/binance/instruments.py
  python/tests/unit/adapters/binance/test_binance_migration.py
  python/tests/unit/test_generate_stubs.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix non-atomic order event application
  crates/model/src/orders/any.rs
  crates/model/src/orders/limit.rs
  crates/model/src/orders/market.rs
  crates/model/src/orders/market_if_touched.rs
  crates/model/src/orders/market_to_limit.rs
  crates/model/src/orders/mod.rs
  crates/model/src/orders/stop_market.rs
  crates/model/src/orders/trailing_stop_market.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Stop dYdX error-path tests waiting out the production retry ladder (#4532)
  crates/adapters/dydx/tests/data_client.rs
  crates/adapters/dydx/tests/exec_client.rs
  crates/adapters/dydx/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Strip replay-only state from position snapshot blobs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add carry_replay_events_on_reopen execution engine config option
  crates/execution/src/engine/config.rs
  crates/execution/src/engine/mod.rs
  crates/execution/src/python/config.rs
  crates/execution/tests/exec_engine.rs
  crates/live/src/node/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

set margin_trading for bybit spot instruments
  crates/adapters/bybit/src/common/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix TWAP child-order sizing and interval validation
  crates/trading/src/algorithm/twap.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Stop cloning the account event log on the per-fill portfolio path
  crates/portfolio/src/manager.rs
  crates/portfolio/src/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Stop backtest order and account queries panicking the simulated exchange
  crates/backtest/src/exchange.rs
  crates/backtest/src/execution_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Stop okx data-client tests waiting out the event-drain deadline
  crates/adapters/okx/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add historical instrument close requests
  MIGRATION_V2.md
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/clients/data.rs
  crates/common/src/messages/data/mod.rs
  crates/common/src/messages/data/request.rs
  crates/common/src/messages/data/response.rs
  crates/common/src/msgbus/api.rs
  crates/common/src/python/actor.rs
  crates/data/src/client.rs
  crates/data/src/engine/mod.rs
  crates/data/src/engine/requests.rs
  crates/data/src/engine/streaming.rs
  crates/data/tests/client.rs
  crates/data/tests/common/mocks.rs
  crates/data/tests/engine.rs
  crates/event_store/src/capture/builtins.rs
  crates/event_store/src/replay.rs
  crates/trading/src/python/strategy.rs
  python/nautilus_trader/common/__init__.pyi
  python/nautilus_trader/trading/__init__.pyi
  python/tests/unit/common/test_actor.py
  python/tests/unit/trading/test_trading.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix non-atomic order event application (#4530)
  crates/model/src/orders/any.rs
  crates/model/src/orders/limit.rs
  crates/model/src/orders/market.rs
  crates/model/src/orders/market_if_touched.rs
  crates/model/src/orders/market_to_limit.rs
  crates/model/src/orders/mod.rs
  crates/model/src/orders/stop_market.rs
  crates/model/src/orders/trailing_stop_market.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align instrument close actor test state
  crates/common/src/actor/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

add tests to cover fee currency parsing
  crates/adapters/bybit/src/websocket/dispatch.rs
  crates/adapters/bybit/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Quantity integer conversions
  crates/model/src/types/quantity.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine instrument increment construction
  crates/model/src/defi/dex.rs
  crates/model/src/instruments/synthetic.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Restore retry recovery in dYdX mixed-response test
  crates/adapters/dydx/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Replace free-disk-space CI action with in-repo script
  .github/actions/common-setup/action.yml
  .github/workflows/docker.yml
  .gitignore
  scripts/ci/free-disk-space.sh
Due: check-non-latin-text

Set Bybit margin_trading info field on spot instruments (#4540)
  crates/adapters/bybit/src/common/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Collect Polymarket data events through the correlated response (#4539)
  crates/adapters/polymarket/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket v2 order response conformance test
  crates/adapters/polymarket/src/http/query.rs
  crates/adapters/polymarket/test_data/http_order_response_async_exec.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove Polymarket v2 ack_timeout_secs config
  RELEASES.md
  crates/adapters/polymarket/src/config.rs
  crates/adapters/polymarket/src/python/config.rs
  docs/integrations/polymarket.md
  python/nautilus_trader/adapters/polymarket/__init__.pyi
  python/tests/unit/test_generate_stubs.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Preserve hedge-mode position reports during live reconciliation
  crates/adapters/binance/test_data/SOURCES.md
  crates/adapters/binance/test_data/futures/http_json/position_risk_hedge.json
  crates/adapters/binance/tests/futures/exec_client.rs
  crates/adapters/okx/test_data/http_get_positions_long_short.json
  crates/adapters/okx/tests/http.rs
  crates/live/src/execution/manager.rs
  crates/live/tests/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Forward high-precision to nautilus-serialization from dependent crates
  crates/adapters/betfair/Cargo.toml
  crates/adapters/binance/Cargo.toml
  crates/adapters/tardis/Cargo.toml
  crates/data/Cargo.toml
  crates/testkit/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Surface Betfair replace-flow mock server panics
  crates/adapters/betfair/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make Python v2 stub member guard bidirectional
  python/tests/unit/test_generate_stubs.py
Due: check-non-latin-text

Make the Binance Spot WS trading setup timeout configurable
  crates/adapters/binance/src/config.rs
  crates/adapters/binance/src/python/config.rs
  crates/adapters/binance/src/spot/execution.rs
  crates/adapters/binance/tests/spot/exec_client.rs
  python/nautilus_trader/adapters/binance/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix clippy lints
  crates/adapters/polymarket/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix dead-code errors in nautilus-live feature checks
  crates/live/src/execution/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix v2 stub generation encoding on Windows
  python/generate_stubs.py
  python/tests/unit/test_generate_stubs.py
Due: check-non-latin-text

Preserve hedge-mode position reports during live reconciliation (#4535)
  crates/adapters/binance/test_data/SOURCES.md
  crates/adapters/binance/test_data/futures/http_json/position_risk_hedge.json
  crates/adapters/binance/tests/futures/exec_client.rs
  crates/adapters/okx/test_data/http_get_positions_long_short.json
  crates/adapters/okx/tests/http.rs
  crates/live/src/execution/manager.rs
  crates/live/tests/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Parse Bybit commision currency from WebSocket stream (#4536)
  crates/adapters/bybit/src/websocket/dispatch.rs
  crates/adapters/bybit/src/websocket/messages.rs
  crates/adapters/bybit/src/websocket/parse.rs
  crates/adapters/bybit/test_data/ws_account_execution.json
  crates/adapters/bybit/test_data/ws_account_execution_adl.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make the Binance Spot WS trading setup timeout configurable (#4538)
  crates/adapters/binance/src/config.rs
  crates/adapters/binance/src/python/config.rs
  crates/adapters/binance/src/spot/execution.rs
  crates/adapters/binance/tests/spot/exec_client.rs
  python/nautilus_trader/adapters/binance/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fail BitMEX WebSocket authentication on rejection (#4541)
  crates/adapters/bitmex/bin/ws_data.rs
  crates/adapters/bitmex/bin/ws_exec.rs
  crates/adapters/bitmex/src/data.rs
  crates/adapters/bitmex/src/execution.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/bitmex/src/websocket/handler.rs
  crates/adapters/bitmex/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
