Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Reject ambiguous Polymarket allowance evidence
  crates/adapters/polymarket/bin/set_allowances.rs
  crates/adapters/polymarket/src/http/query.rs
  crates/adapters/polymarket/src/signing/eip712.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix panic on contract expiration for restored positions
  crates/execution/src/matching_engine/mod.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit open-only reports missing closed orders
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix macOS Python allocator compatibility (#4758)
  README.md
  crates/pyo3/Cargo.toml
  crates/pyo3/src/lib.rs
  docs/concepts/architecture.md
  docs/concepts/rust.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OKX query order routing (#4731)
  crates/adapters/okx/src/execution.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/error.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/src/http/query.rs
  crates/adapters/okx/tests/exec_client.rs
  crates/adapters/okx/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document PyO3 allocator TLS requirement
  crates/pyo3/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix OKX conditional query recovery
  crates/adapters/okx/src/execution.rs
  crates/adapters/okx/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize risk engine order denied reasons (#4744)
  crates/model/src/events/mod.rs
  crates/model/src/events/order/denied_reason.rs
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
  docs/concepts/execution.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix wheel purge Bash 3.2 compatibility
  scripts/ci/test-publish-wheels.bash
  scripts/purge-orphan-dev-wheels.sh
Due: none

Add Polymarket backtest fee model
  crates/adapters/polymarket/Cargo.toml
  crates/adapters/polymarket/src/http/models.rs
  crates/adapters/polymarket/src/http/parse.rs
  crates/adapters/polymarket/src/lib.rs
  crates/adapters/polymarket/src/models.rs
  crates/adapters/polymarket/src/python/mod.rs
  crates/adapters/polymarket/tests/python.rs
  docs/integrations/polymarket.md
  python/nautilus_trader/adapters/polymarket/__init__.py
  python/nautilus_trader/adapters/polymarket/__init__.pyi
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add networking concept guide
  crates/network/src/http/mod.rs
  crates/network/src/socket/mod.rs
  crates/network/src/websocket/mod.rs
  docs/concepts/index.md
  docs/concepts/networking.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update DST guide and restore pre-flight validation
  Makefile
  crates/network/src/socket/client.rs
  docs/concepts/dst.md
  scripts/ci/test-build-artifact-reuse.bash
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix WebSocket control frame replay
  RELEASES.md
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/mod.rs
  docs/concepts/networking.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Betfair data client disconnect test race
  crates/adapters/betfair/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine strategies concept guide
  docs/concepts/strategies.md
Due: check-non-latin-text

Refine documentation section headings
  docs/concepts/accounting.md
  docs/concepts/actors.md
  docs/concepts/adapters.md
  docs/concepts/architecture.md
  docs/concepts/message_bus.md
  docs/concepts/reconciliation.md
  docs/concepts/reports.md
  docs/getting_started/index.md
  docs/integrations/bitmex.md
  docs/integrations/dydx.md
  docs/integrations/polymarket.md
  docs/tutorials/grid_market_maker_bitmex.md
  docs/tutorials/grid_market_maker_dydx.md
  docs/tutorials/options_data_bybit.md
Due: check-non-latin-text

Refine reports concept guide
  docs/concepts/reports.md
Due: check-non-latin-text

Refine order denial reason conventions
  crates/execution/tests/exec_engine.rs
  crates/model/src/events/mod.rs
  crates/model/src/events/order/denied_reason.rs
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
  docs/concepts/execution.md
  docs/developer_guide/adapters.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reset the inner moving average in AverageTrueRange (#4749)
  crates/indicators/src/volatility/atr.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Lighter bounded history reconciliation
  crates/adapters/lighter/src/execution.rs
  crates/adapters/lighter/src/websocket/dispatch.rs
  crates/adapters/lighter/tests/exec_client.rs
  crates/live/src/execution/manager.rs
  crates/live/tests/manager.rs
  crates/model/src/python/reports/mass_status.rs
  crates/model/src/reports/mass_status.rs
  docs/concepts/adapters.md
  docs/concepts/execution.md
  docs/concepts/live.md
  docs/concepts/reconciliation.md
  docs/concepts/reports.md
  docs/developer_guide/adapters.md
  docs/integrations/lighter.md
  python/nautilus_trader/model/__init__.pyi
  python/tests/unit/model/test_reports.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix AverageTrueRange inner moving average type
  RELEASES.md
  crates/indicators/src/volatility/atr.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden Polymarket allowance spender identity
  crates/adapters/polymarket/bin/set_allowances.rs
  crates/adapters/polymarket/src/http/query.rs
  crates/adapters/polymarket/src/signing/eip712.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Insert encoded query parameters before any URL fragment (#4750)
  crates/network/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Validate the strike price on option constructors (#4745)
  crates/model/src/instruments/crypto_option.rs
  crates/model/src/instruments/option_contract.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reserve margin on absolute notional value (#4751)
  crates/model/src/accounts/margin_model.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Skip a rehedge whose quantity rounds to zero (#4752)
  crates/trading/src/examples/strategies/delta_neutral_vol/strategy.rs
  crates/trading/src/examples/strategies/delta_neutral_vol/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement Derive fixed-window rate limiting
  crates/adapters/derive/src/common/rate_limit.rs
  crates/adapters/derive/src/config.rs
  crates/adapters/derive/src/execution.rs
  crates/adapters/derive/src/http/client.rs
  crates/adapters/derive/src/python/config.rs
  crates/adapters/derive/src/websocket/client.rs
  crates/adapters/derive/src/websocket/messages.rs
  crates/adapters/derive/tests/exec_client.rs
  crates/adapters/derive/tests/http.rs
  crates/adapters/derive/tests/live_smoke.rs
  crates/adapters/derive/tests/websocket.rs
  docs/integrations/derive.md
  python/nautilus_trader/adapters/derive/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document custom data Feather streaming limitation
  docs/concepts/custom_data.md
Due: check-non-latin-text

Document reconciliation instrument resolution policy
  docs/concepts/adapters.md
  docs/concepts/reconciliation.md
  docs/developer_guide/adapters.md
Due: check-non-latin-text

Document adapter reconciliation report methods
  docs/developer_guide/adapters.md
Due: check-non-latin-text

Fix Polymarket auto-load market lifecycle
  crates/adapters/polymarket/src/data/auto_load.rs
  crates/adapters/polymarket/src/data/dispatch.rs
  crates/adapters/polymarket/src/data/instruments.rs
  crates/adapters/polymarket/src/data/lifecycle.rs
  crates/adapters/polymarket/src/data/mod.rs
  crates/adapters/polymarket/src/data/runtime.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit string-encoded integer decoding
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/websocket/messages.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix expiration account resolution for restored positions
  crates/execution/src/matching_engine/mod.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Defer backtest order events during immediate dispatch
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/execution_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Cache Binance futures instruments from execution
  crates/adapters/binance/src/futures/execution.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove PositionSideSpecified Python exposure
  crates/model/src/enums.rs
  crates/model/src/python/mod.rs
  docs/api_reference/model/position.md
  python/nautilus_trader/model/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove obsolete cbindgen enum export exclusions
  crates/model/cbindgen.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix MarketStatus Closed variant doc comment
  crates/model/src/enums.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Postgres enum type declarations
  crates/infrastructure/src/sql/models/enums.rs
  schema/sql/types.sql
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
