Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Refine event-store redb proptest
  crates/event_store/tests/redb.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Regenerate python v2 type stubs
  python/nautilus_trader/live/__init__.pyi
  python/nautilus_trader/sandbox/__init__.pyi
Due: none

Fix matching engine L1 exhaustion guard in Rust
  crates/execution/src/matching_engine/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix matching engine L1 slip-through in Rust
  RELEASES.md
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix BacktestEngine duplicate account state events on reset
  RELEASES.md
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  tests/unit_tests/backtest/test_engine.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix HEDGING OMS maintenance margin over-counting
  RELEASES.md
  crates/model/proptest-regressions/position.txt
  crates/model/src/position.rs
  crates/model/src/python/mod.rs
  crates/model/src/python/position.rs
  crates/portfolio/src/manager.rs
  docs/concepts/accounting.md
  nautilus_trader/accounting/manager.pyx
  tests/unit_tests/accounting/test_margin.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Binance futures open interest request custom data (#4109)
  crates/adapters/binance/src/data_types.rs
  crates/adapters/binance/src/futures/data.rs
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/src/futures/http/mod.rs
  crates/adapters/binance/src/futures/http/models.rs
  crates/adapters/binance/src/futures/http/query.rs
  crates/adapters/binance/src/python/mod.rs
  crates/adapters/binance/src/python/types.rs
  crates/adapters/binance/tests/futures/data_client.rs
  crates/adapters/binance/tests/futures/http.rs
  nautilus_trader/adapters/binance/__init__.py
  python/nautilus_trader/adapters/binance/__init__.pyi
  python/nautilus_trader/binance/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix IB request_instruments returning cumulative cache in Rust (#4114)
  crates/adapters/interactive_brokers/src/data/core.rs
  crates/adapters/interactive_brokers/src/historical/client.rs
  crates/adapters/interactive_brokers/src/providers/instruments.rs
  crates/adapters/interactive_brokers/src/providers/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Wire Plugin on_option_greeks and live execution slots
  crates/live/tests/plugin_in_process.rs
  crates/model/src/data/greeks.rs
  crates/model/src/data/option_chain.rs
  crates/plugin/Cargo.toml
  crates/plugin/src/bridge/actor.rs
  crates/plugin/src/bridge/commands.rs
  crates/plugin/src/bridge/host.rs
  crates/plugin/src/bridge/mod.rs
  crates/plugin/src/bridge/strategy.rs
  crates/plugin/src/manifest.rs
  crates/plugin/src/surfaces/actor.rs
  crates/plugin/src/surfaces/strategy.rs
  crates/plugin/tests/hook_dispatch.rs
  crates/plugin/tests/panic_propagation.rs
  crates/plugin/tests/surface_alignment.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clear Hyperliquid asset context caches on unsubscribe
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/src/websocket/parse.rs
  crates/adapters/hyperliquid/tests/data_client.rs
  nautilus_trader/adapters/hyperliquid/__init__.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove unused python v2 dependencies
  crates/model/src/python/position.rs
  python/nautilus_trader/binance/__init__.pyi
  python/pyproject.toml
  python/tests/unit/persistence/test_persistence.py
  python/uv.lock
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

+Guard Rust IBKR order requests on client readiness
  crates/adapters/interactive_brokers/src/execution/core.rs
  crates/adapters/interactive_brokers/src/execution/core_tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Guard Rust IBKR order requests on client readiness (#4125)
  crates/adapters/interactive_brokers/src/execution/core.rs
  crates/adapters/interactive_brokers/src/execution/core_tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Hyperliquid account address env var fallback
  RELEASES.md
  crates/adapters/hyperliquid/src/config.rs
  crates/adapters/hyperliquid/src/execution.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Wire Plugin on_book_deltas and simplify OrderList API
  crates/common/src/factories/order.rs
  crates/live/tests/plugin_in_process.rs
  crates/model/src/orders/list.rs
  crates/plugin/README.md
  crates/plugin/src/bridge/actor.rs
  crates/plugin/src/bridge/host.rs
  crates/plugin/src/bridge/strategy.rs
  crates/plugin/src/manifest.rs
  crates/plugin/src/surfaces/actor.rs
  crates/plugin/src/surfaces/book.rs
  crates/plugin/src/surfaces/mod.rs
  crates/plugin/src/surfaces/strategy.rs
  crates/plugin/tests/hook_dispatch.rs
  crates/plugin/tests/panic_propagation.rs
  crates/plugin/tests/surface_alignment.rs
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Rename Hyperliquid open interest custom data
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/data_types.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/src/websocket/parse.rs
  crates/adapters/hyperliquid/tests/data_client.rs
  docs/integrations/hyperliquid.md
  nautilus_trader/adapters/hyperliquid/__init__.py
  nautilus_trader/adapters/hyperliquid/data.py
  tests/integration_tests/adapters/hyperliquid/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Wire Plugin on_instrument and on_option_chain slots
  crates/live/Cargo.toml
  crates/live/tests/plugin.rs
  crates/live/tests/plugin_dispatch.rs
  crates/plugin/README.md
  crates/plugin/src/bridge/actor.rs
  crates/plugin/src/bridge/strategy.rs
  crates/plugin/src/manifest.rs
  crates/plugin/src/surfaces/actor.rs
  crates/plugin/src/surfaces/instrument.rs
  crates/plugin/src/surfaces/mod.rs
  crates/plugin/src/surfaces/option_chain.rs
  crates/plugin/src/surfaces/strategy.rs
  crates/plugin/tests/hook_dispatch.rs
  crates/plugin/tests/panic_propagation.rs
  crates/plugin/tests/surface_alignment.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add DataEngine bounds-trim and RequestJoin in Rust
  RELEASES.md
  crates/common/src/messages/data/mod.rs
  crates/common/src/messages/data/request.rs
  crates/common/src/messages/data/response.rs
  crates/data/src/engine/mod.rs
  crates/data/src/engine/requests.rs
  crates/data/tests/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Hyperliquid live open interest custom data from activeAssetCtx (#4120)
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/data_types.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/src/websocket/parse.rs
  crates/adapters/hyperliquid/tests/data_client.rs
  docs/integrations/hyperliquid.md
  nautilus_trader/adapters/hyperliquid/__init__.py
  nautilus_trader/adapters/hyperliquid/data.py
  tests/integration_tests/adapters/hyperliquid/conftest.py
  tests/integration_tests/adapters/hyperliquid/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Allow mixed-instrument OrderList at the same venue
  RELEASES.md
  crates/common/src/factories/order.rs
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
  crates/model/src/orders/list.rs
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
  crates/trading/src/strategy/mod.rs
  docs/concepts/execution.md
  docs/concepts/orders.md
  nautilus_trader/execution/engine.pyx
  nautilus_trader/model/orders/list.pxd
  nautilus_trader/model/orders/list.pyx
  nautilus_trader/risk/engine.pyx
  tests/unit_tests/execution/test_engine.py
  tests/unit_tests/model/test_orders.py
  tests/unit_tests/risk/test_engine.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Hyperliquid open interest parsing
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/data_types.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/src/websocket/parse.rs
  docs/integrations/hyperliquid.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Coinbase type hygiene
  crates/adapters/coinbase/src/common/consts.rs
  crates/adapters/coinbase/src/http/client.rs
  crates/adapters/coinbase/src/http/parse.rs
  crates/adapters/coinbase/src/websocket/handler.rs
  crates/adapters/coinbase/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Coinbase instrument status and fix book snapshot flags
  README.md
  RELEASES.md
  crates/adapters/coinbase/src/data/mod.rs
  crates/adapters/coinbase/src/http/parse.rs
  crates/adapters/coinbase/src/websocket/handler.rs
  crates/adapters/coinbase/src/websocket/messages.rs
  crates/adapters/coinbase/src/websocket/parse.rs
  crates/adapters/coinbase/tests/data_client.rs
  docs/integrations/coinbase.md
  docs/integrations/index.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add scoped Polymarket instrument bootstrap config
  crates/adapters/polymarket/bin/composite_filter.rs
  crates/adapters/polymarket/bin/event_discovery.rs
  crates/adapters/polymarket/bin/search_markets.rs
  crates/adapters/polymarket/bin/trending_markets.rs
  crates/adapters/polymarket/bin/updown_markets.rs
  crates/adapters/polymarket/src/config.rs
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/providers.rs
  crates/adapters/polymarket/src/python/config.rs
  crates/adapters/polymarket/src/python/mod.rs
  crates/adapters/polymarket/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align polymarket request_instruments with cached scope
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add DataEngine catalog/client request split in Rust
  RELEASES.md
  crates/data/src/engine/mod.rs
  crates/data/src/engine/streaming.rs
  crates/data/tests/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket scoped instrument refresh
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/providers.rs
  crates/adapters/polymarket/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Convert Plugin execution slots to handle boundary
  crates/live/tests/plugin_dispatch.rs
  crates/plugin/Cargo.toml
  crates/plugin/src/bridge/commands.rs
  crates/plugin/src/bridge/host.rs
  crates/plugin/src/bridge/mod.rs
  crates/plugin/src/host.rs
  crates/plugin/src/lib.rs
  crates/plugin/src/loader.rs
  crates/plugin/src/surfaces/commands/cancel.rs
  crates/plugin/src/surfaces/commands/close.rs
  crates/plugin/src/surfaces/commands/mod.rs
  crates/plugin/src/surfaces/commands/modify.rs
  crates/plugin/src/surfaces/commands/query.rs
  crates/plugin/src/surfaces/commands/submit.rs
  crates/plugin/src/surfaces/mod.rs
  crates/plugin/src/surfaces/strategy.rs
  crates/plugin/tests/host_vtable_dispatch.rs
  crates/plugin/tests/macro_expansion.rs
  crates/plugin/tests/strategy_execution_dispatch.rs
  docs/concepts/plugins.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update gitignore
  .gitignore
Due: none

Add EventStore config surface for LiveNodeBuilder
  Cargo.lock
  crates/event_store/src/kernel.rs
  crates/event_store/src/lib.rs
  crates/event_store/src/manifest.rs
  crates/live/src/builder.rs
  crates/live/src/config.rs
  crates/live/src/node.rs
  crates/live/src/python/config.rs
  crates/system/Cargo.toml
  crates/system/src/event_store.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize transport_backend in integration guides
  Makefile
  docs/integrations/architect_ax.md
  docs/integrations/binance.md
  docs/integrations/bitmex.md
  docs/integrations/blockchain.md
  docs/integrations/bybit.md
  docs/integrations/coinbase.md
  docs/integrations/deribit.md
  docs/integrations/dydx.md
  docs/integrations/hyperliquid.md
  docs/integrations/kraken.md
  docs/integrations/okx.md
Due: check-non-latin-text

Improve ExecTester on_stop and add price clamping
  RELEASES.md
  crates/testkit/src/testers/exec/config.rs
  crates/testkit/src/testers/exec/strategy.rs
  crates/testkit/src/testers/exec/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix DataEngine book response clobbering cache book in Rust
  crates/data/src/engine/mod.rs
  crates/data/tests/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Allow IB PyO3 order examples to route MIC venue instruments
  crates/adapters/interactive_brokers/src/execution/core.rs
  crates/common/src/clients/execution.rs
  crates/execution/src/engine/mod.rs
  crates/execution/src/engine/stubs.rs
  crates/execution/tests/exec_engine.rs
  examples/live/interactive_brokers_v2/_common.py
  examples/live/interactive_brokers_v2/connect_with_dockerized_gateway.py
  examples/live/interactive_brokers_v2/ib_v2_order_strategies.py
  examples/live/interactive_brokers_v2/notebooks/order_example_driver.py
  examples/live/interactive_brokers_v2/option_greeks.py
  examples/live/interactive_brokers_v2/with_databento_client.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refinements
  crates/adapters/interactive_brokers/src/execution/core.rs
  crates/execution/src/engine/mod.rs
  crates/execution/src/engine/stubs.rs
  crates/execution/tests/exec_engine.rs
  examples/live/interactive_brokers_v2/_common.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align Polymarket refresh interval semantics
  crates/adapters/polymarket/src/config.rs
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/python/config.rs
  crates/adapters/polymarket/src/python/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Tighten Polymarket scoped bootstrap behavior
  crates/adapters/polymarket/src/config.rs
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/providers.rs
  crates/adapters/polymarket/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Normalize Plugin boundary identifiers
  Cargo.lock
  crates/live/tests/plugin.rs
  crates/plugin/Cargo.toml
  crates/plugin/README.md
  crates/plugin/benches/normalize.rs
  crates/plugin/examples/actor_event_plugin.rs
  crates/plugin/examples/exec_test_plugin.rs
  crates/plugin/src/bridge/host.rs
  crates/plugin/src/lib.rs
  crates/plugin/src/normalize.rs
  crates/plugin/src/surfaces/actor.rs
  crates/plugin/src/surfaces/strategy.rs
  docs/concepts/plugins.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Rename custom data field serialization marker to serde
  crates/adapters/betfair/src/data_types.rs
  crates/adapters/hyperliquid/src/data_types.rs
  crates/persistence/macros/src/custom.rs
  crates/persistence/macros/src/lib.rs
  crates/persistence/src/test_data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
