Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Add top-level benchmarking policy
  BENCHMARKING.md
  docs/developer_guide/benchmarking.md
Due: check-non-latin-text

Remove redundant GTD check in OrderMatchingEngine
  crates/execution/src/matching_engine/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Stabilize dev venv install and preserve local test data
  Makefile
  build.py
Due: check-non-latin-text

Fix BacktestEngine account state recalculation in Rust
  RELEASES.md
  crates/backtest/src/exchange.rs
  crates/backtest/src/execution_client.rs
  crates/model/src/accounts/any.rs
  crates/portfolio/src/manager.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve OrderMatchingEngine v2 Cython parity
  RELEASES.md
  crates/execution/src/matching_engine/config.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Polymarket trade parsing and backtest tooling
  RELEASES.md
  crates/adapters/polymarket/src/http/data_api.rs
  crates/adapters/polymarket/src/python/mod.rs
  crates/adapters/polymarket/src/python/sort.rs
  nautilus_trader/adapters/polymarket/common/sanitization.py
  nautilus_trader/adapters/polymarket/fee_model.py
  nautilus_trader/adapters/polymarket/loaders.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/polymarket/test_fee_model.py
  tests/integration_tests/adapters/polymarket/test_loaders.py
  tests/integration_tests/adapters/polymarket/test_sanitization.py
  tests/integration_tests/adapters/polymarket/test_sort_key.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Kraken spot margin trading support (#3962)
  crates/adapters/kraken/src/config.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/adapters/kraken/src/factories.rs
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/src/http/spot/models.rs
  crates/adapters/kraken/src/http/spot/query.rs
  crates/adapters/kraken/src/python/config.rs
  crates/adapters/kraken/src/python/http_spot.rs
  crates/adapters/kraken/test_data/http_spot_open_positions.json
  crates/adapters/kraken/test_data/http_spot_trade_balance.json
  crates/adapters/kraken/tests/http.rs
  docs/integrations/kraken.md
  nautilus_trader/adapters/kraken/config.py
  nautilus_trader/adapters/kraken/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/execution/messages.pyx
  nautilus_trader/model/functions.pxd
  nautilus_trader/model/functions.pyx
  python/nautilus_trader/adapters/kraken/__init__.pyi
  python/nautilus_trader/kraken/__init__.pyi
  tests/integration_tests/adapters/kraken/conftest.py
  tests/integration_tests/adapters/kraken/test_execution.py
  tests/unit_tests/execution/test_messages.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Kraken spot/futures reconciliation isolation and leverage range
  nautilus_trader/adapters/kraken/execution.py
Due: check-non-latin-text

Fix Kraken factory tests for CacheView signature change
  crates/adapters/kraken/src/factories.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document Polymarket adapter additions and trim stale fee rates
  docs/integrations/polymarket.md
  nautilus_trader/adapters/polymarket/fee_model.py
  tests/integration_tests/adapters/polymarket/test_fee_model.py
Due: check-non-latin-text

feat(deribit): add DVOL volatility index CustomData support
  crates/adapters/deribit/src/data.rs
  crates/adapters/deribit/src/data_types.rs
  crates/adapters/deribit/src/lib.rs
  crates/adapters/deribit/src/python/mod.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/deribit/src/websocket/client.rs
  crates/adapters/deribit/src/websocket/handler.rs
  crates/adapters/deribit/src/websocket/messages.rs
  crates/adapters/deribit/test_data/ws_volatility_index.json
  crates/adapters/deribit/tests/websocket.rs
  nautilus_trader/adapters/deribit/data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(hyperliquid): add allMids CustomData support
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/data_types.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/lib.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
  crates/adapters/hyperliquid/test_data/ws_allmids.json
  crates/adapters/hyperliquid/tests/websocket.rs
  nautilus_trader/adapters/hyperliquid/data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Cython OrderMatchingEngine.reset leaking OrderBook.ts_last
  nautilus_trader/backtest/engine.pyx
  tests/unit_tests/backtest/test_matching_engine.py
Due: check-non-latin-text

Add Betfair Rust adapter post-reconnect reconciliation
  RELEASES.md
  crates/adapters/betfair/src/config.rs
  crates/adapters/betfair/src/execution.rs
  crates/adapters/betfair/src/python/config.rs
  crates/adapters/betfair/src/stream/mod.rs
  crates/adapters/betfair/src/stream/ocm.rs
  crates/adapters/betfair/tests/common/mod.rs
  crates/adapters/betfair/tests/exec_client.rs
  docs/integrations/betfair_v2.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Hyperliquid module layout and exec test coverage
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/hyperliquid/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OrderMatchingEngine modify snapshot refresh
  RELEASES.md
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Binance market data collectors for T1 basis research
  research/btc_basis_t1/collectors/README.md
  research/btc_basis_t1/collectors/alertmanager-rules.yaml
  research/btc_basis_t1/collectors/binance_collector.py
  research/btc_basis_t1/collectors/systemd/binance-collector@.service
  research/btc_basis_t1/collectors/systemd/binance-spot-btc.env.example
  research/btc_basis_t1/collectors/systemd/binance-um-btc-quarterly.env.example
  research/btc_basis_t1/collectors/systemd/binance-um-btc.env.example
  research/btc_basis_t1/collectors/tests/test_collector.py
Due: check-non-latin-text

Handle sandbox tick-size precision races safely
  crates/adapters/sandbox/src/execution.rs
  crates/adapters/sandbox/tests/execution.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Kraken retry logic and execution instrument cache
  crates/adapters/kraken/src/http/error.rs
  crates/adapters/kraken/src/http/futures/client.rs
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/src/python/websocket_spot.rs
  crates/common/src/live/timer.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine and update dependencies
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/dydx/Cargo.toml
  crates/adapters/dydx/src/http/models.rs
  crates/adapters/dydx/src/http/parse.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add ExecutionEngine deny for custom position_id under NETTING
  RELEASES.md
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
  docs/concepts/execution.md
  nautilus_trader/execution/engine.pxd
  nautilus_trader/execution/engine.pyx
  nautilus_trader/test_kit/mocks/exec_clients.py
  tests/unit_tests/execution/test_emulator_list.py
  tests/unit_tests/execution/test_engine.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Interactive Brokers market data farm reconnect events (#3968)
  nautilus_trader/adapters/interactive_brokers/client/error.py
Due: check-non-latin-text

Add Kraken spot margin trading support (#3965)
  crates/adapters/kraken/src/config.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/adapters/kraken/src/factories.rs
  crates/adapters/kraken/src/http/error.rs
  crates/adapters/kraken/src/http/futures/client.rs
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/src/http/spot/models.rs
  crates/adapters/kraken/src/http/spot/query.rs
  crates/adapters/kraken/src/python/config.rs
  crates/adapters/kraken/src/python/http_spot.rs
  crates/adapters/kraken/src/python/websocket_spot.rs
  crates/adapters/kraken/test_data/http_spot_open_positions.json
  crates/adapters/kraken/test_data/http_spot_trade_balance.json
  crates/adapters/kraken/tests/http.rs
  crates/common/src/live/timer.rs
  docs/integrations/kraken.md
  nautilus_trader/adapters/kraken/config.py
  nautilus_trader/adapters/kraken/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/execution/messages.pyx
  nautilus_trader/model/functions.pxd
  nautilus_trader/model/functions.pyx
  python/nautilus_trader/adapters/kraken/__init__.pyi
  python/nautilus_trader/kraken/__init__.pyi
  tests/integration_tests/adapters/kraken/conftest.py
  tests/integration_tests/adapters/kraken/test_execution.py
  tests/unit_tests/execution/test_messages.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Use equity as total in Kraken spot margin wallet balance
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Lock Kraken spot margin wallet via TradeBalance mf
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/test_data/http_spot_balance.json
  crates/adapters/kraken/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs(hyperliquid): add detailed development plan for outcome market paper trading
  docs/hyperliquid-outcome-market/03-development-plan.md
  docs/hyperliquid-outcome-market/README.md
Due: check-non-latin-text

Fix Deribit StopMarket missing filled_amount in response
  RELEASES.md
  crates/adapters/deribit/src/websocket/messages.rs
  crates/adapters/deribit/src/websocket/parse.rs
  crates/adapters/deribit/test_data/ws_order_stop_market_no_filled_amount.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Kraken spot margin wallet balance for multi-asset collateral (#3997)
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/test_data/http_spot_balance.json
  crates/adapters/kraken/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs(hyperliquid): add technical decisions analysis for prediction markets
  docs/hyperliquid-outcome-market/04-technical-decisions.md
  docs/hyperliquid-outcome-market/README.md
Due: check-non-latin-text

Refine Kraken adapter and stop margin balance handling
  crates/adapters/kraken/src/config.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/adapters/kraken/src/http/futures/client.rs
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/src/http/spot/query.rs
  crates/adapters/kraken/tests/http.rs
  crates/common/src/live/timer.rs
  docs/integrations/kraken.md
  nautilus_trader/adapters/kraken/config.py
  nautilus_trader/adapters/kraken/execution.py
  tests/integration_tests/adapters/kraken/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Model mantissa exponent panic tests
  crates/model/src/types/money.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reduce Execution reconciliation log noise
  crates/adapters/betfair/src/execution.rs
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/polymarket/src/execution/mod.rs
  crates/live/src/manager.rs
  nautilus_trader/live/execution_engine.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(hyperliquid): add outcome (prediction) market data support
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/mod.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/outcome_tests.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/hyperliquid/src/http/query.rs
  docs/hyperliquid-outcome-market/03-development-plan.md
  docs/hyperliquid-outcome-market/t-plan.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix sandbox race on tick-size precision changes (#3994)
  crates/adapters/sandbox/src/execution.rs
  crates/adapters/sandbox/tests/execution.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(hyperliquid): align outcome market ids and resolution paths
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/outcome_tests.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/hyperliquid/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(hyperliquid): add outcome paper trading support (Phase B)
  Cargo.lock
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/examples/outcome_paper.rs
  crates/adapters/hyperliquid/src/http/mod.rs
  crates/adapters/hyperliquid/src/http/outcome_validation.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
