Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Fix docs admonition syntax
  docs/concepts/architecture.md
  docs/concepts/live.md
  docs/getting_started/index.md
Due: check-non-latin-text

Fix emulator trailing stop activation for LAST_PRICE
  RELEASES.md
  nautilus_trader/execution/emulator.pyx
  tests/unit_tests/execution/test_emulator.py
Due: check-non-latin-text

Refine build targets package management
  Makefile
Due: none

Optimize backtest matching engine hot paths
  RELEASES.md
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/execution/matching_core.pyx
Due: check-non-latin-text

Fix Kraken exec clients missing instrument loading
  RELEASES.md
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/execution/spot.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add fill_limit_at_touch support to MatchingCore
  RELEASES.md
  crates/execution/src/matching_core/mod.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/models/fill.rs
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/models/fill.pxd
  nautilus_trader/backtest/models/fill.pyx
  nautilus_trader/execution/matching_core.pxd
  nautilus_trader/execution/matching_core.pyx
  tests/unit_tests/backtest/test_fill_models.py
  tests/unit_tests/backtest/test_immediate_quote_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix macOS source build missing RUSTFLAGS
  build.py
Due: check-non-latin-text

Include .cargo config in sdist for correct platform builds
  pyproject.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add OKX trailing stop market order support
  RELEASES.md
  crates/adapters/okx/examples/node_exec_tester.rs
  crates/adapters/okx/src/common/consts.rs
  crates/adapters/okx/src/common/enums.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/data/mod.rs
  crates/adapters/okx/src/execution/mod.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/src/python/http.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/enums.rs
  crates/adapters/okx/src/websocket/handler.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/common/Cargo.toml
  crates/common/src/factories/order.rs
  crates/testkit/src/testers/exec.rs
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/test_kit/strategies/tester_exec.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement Hyperliquid order modify and update fee tiers
  RELEASES.md
  crates/adapters/hyperliquid/bin/builder_fee_approve.rs
  crates/adapters/hyperliquid/bin/builder_fee_revoke.rs
  crates/adapters/hyperliquid/src/common/builder_fee.rs
  crates/adapters/hyperliquid/src/common/consts.rs
  crates/adapters/hyperliquid/src/common/converters.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/python/http.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  crates/adapters/hyperliquid/tests/exec_client.rs
  docs/developer_guide/adapters.md
  docs/integrations/hyperliquid.md
  examples/live/hyperliquid/hyperliquid_exec_tester.py
  nautilus_trader/adapters/hyperliquid/config.py
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/adapters/hyperliquid/scripts/builder_fee_approve.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/hyperliquid/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add GridMarketMaker strategy and BitMEX tutorial
  crates/backtest/tests/backtest_node_itch.rs
  crates/backtest/tests/grid_mm_itch.rs
  crates/common/src/throttler.rs
  crates/trading/src/examples/strategies/grid_mm.rs
  docs/tutorials/bitmex_grid_market_maker.md
  examples/backtest/bitmex_grid_market_maker.py
  nautilus_trader/examples/strategies/grid_market_maker.py
  tests/unit_tests/examples/strategies/test_grid_market_maker.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add pip-audit to security audit pipeline
  .github/workflows/security-audit.yml
  Makefile
Due: check-non-latin-text

Include .cargo config in sdist for correct platform builds (#3647)
  pyproject.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Remove Hyperliquid builder fee
  RELEASES.md
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/bin/builder_fee_approve.rs
  crates/adapters/hyperliquid/bin/builder_fee_revoke.rs
  crates/adapters/hyperliquid/bin/builder_fee_verify.rs
  crates/adapters/hyperliquid/examples/node_exec_tester.rs
  crates/adapters/hyperliquid/src/common/builder_fee.rs
  crates/adapters/hyperliquid/src/common/consts.rs
  crates/adapters/hyperliquid/src/config.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/python/config.rs
  crates/adapters/hyperliquid/src/python/http.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  crates/adapters/hyperliquid/src/signing/signers.rs
  docs/integrations/hyperliquid.md
  examples/live/hyperliquid/hyperliquid_exec_tester.py
  nautilus_trader/adapters/hyperliquid/config.py
  nautilus_trader/adapters/hyperliquid/constants.py
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/adapters/hyperliquid/scripts/builder_fee_approve.py
  nautilus_trader/adapters/hyperliquid/scripts/builder_fee_revoke.py
  nautilus_trader/adapters/hyperliquid/scripts/builder_fee_verify.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/hyperliquid/test_execution.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix:algo order parse
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/src/futures/http/models.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Docker image signing and SBOM generation
  .github/workflows/docker.yml
Due: check-non-latin-text

Fix Binance algo order cancellation parsing (#3646)
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/src/futures/http/models.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OKX algo order amend support
  RELEASES.md
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/src/python/http.rs
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize crate READMEs for consistency and quality
  crates/adapters/architect_ax/README.md
  crates/adapters/betfair/README.md
  crates/adapters/binance/Cargo.toml
  crates/adapters/binance/README.md
  crates/adapters/bitmex/README.md
  crates/adapters/blockchain/README.md
  crates/adapters/bybit/README.md
  crates/adapters/databento/README.md
  crates/adapters/deribit/README.md
  crates/adapters/dydx/Cargo.toml
  crates/adapters/dydx/README.md
  crates/adapters/hyperliquid/README.md
  crates/adapters/kraken/README.md
  crates/adapters/okx/README.md
  crates/adapters/polymarket/README.md
  crates/adapters/sandbox/README.md
  crates/adapters/tardis/README.md
  crates/analysis/README.md
  crates/backtest/README.md
  crates/cli/README.md
  crates/common/README.md
  crates/core/README.md
  crates/cryptography/README.md
  crates/data/README.md
  crates/execution/README.md
  crates/indicators/README.md
  crates/infrastructure/README.md
  crates/live/README.md
  crates/model/README.md
  crates/network/README.md
  crates/persistence/README.md
  crates/portfolio/README.md
  crates/pyo3/README.md
  crates/risk/README.md
  crates/serialization/README.md
  crates/system/README.md
  crates/testkit/README.md
  crates/trading/README.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix Kraken Rust adapter and add data request support
  RELEASES.md
  crates/adapters/kraken/examples/node_data_tester.rs
  crates/adapters/kraken/examples/node_exec_tester.rs
  crates/adapters/kraken/src/common/parse.rs
  crates/adapters/kraken/src/data/futures.rs
  crates/adapters/kraken/src/data/spot.rs
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/adapters/kraken/src/http/futures/client.rs
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/src/websocket/futures/client.rs
  crates/adapters/kraken/src/websocket/futures/handler.rs
  crates/adapters/kraken/src/websocket/spot_v2/client.rs
  crates/adapters/kraken/src/websocket/spot_v2/handler.rs
  crates/adapters/kraken/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Betfair parsing layer in Rust
  crates/adapters/betfair/src/common/enums.rs
  crates/adapters/betfair/src/common/mod.rs
  crates/adapters/betfair/src/common/parse.rs
  crates/adapters/betfair/src/http/mod.rs
  crates/adapters/betfair/src/http/parse.rs
  crates/adapters/betfair/src/stream/mod.rs
  crates/adapters/betfair/src/stream/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket instrument defs and initial Gamma API in Rust
  crates/adapters/polymarket/src/common/consts.rs
  crates/adapters/polymarket/src/common/models.rs
  crates/adapters/polymarket/src/common/urls.rs
  crates/adapters/polymarket/src/http/client.rs
  crates/adapters/polymarket/src/http/mod.rs
  crates/adapters/polymarket/src/http/models.rs
  crates/adapters/polymarket/src/http/parse.rs
  crates/adapters/polymarket/src/http/query.rs
  crates/adapters/polymarket/test_data/gamma_market.json
  crates/adapters/polymarket/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Bybit book snapshot and funding rate request support
  RELEASES.md
  crates/adapters/bybit/src/data.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/test_data/http_get_funding_history.json
  crates/adapters/bybit/test_data/http_get_orderbook.json
  crates/adapters/bybit/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OKX data routing for instrument status and index prices
  RELEASES.md
  crates/adapters/okx/examples/node_data_tester.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/data/mod.rs
  crates/adapters/okx/src/execution/mod.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/src/http/query.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/handler.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/okx/test_data/http_get_funding_rate_history.json
  crates/adapters/okx/test_data/http_get_order_book.json
  crates/adapters/okx/test_data/ws_instruments.json
  crates/adapters/okx/tests/http.rs
  crates/common/src/messages/mod.rs
  crates/data/src/engine/mod.rs
  crates/live/src/runner.rs
  crates/testkit/src/testers/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OKX funding rate history response ordering
  crates/adapters/okx/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Deduplicate Bybit product type and order param logic
  crates/adapters/bybit/src/common/enums.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/common/symbol.rs
  crates/adapters/bybit/src/data.rs
  crates/adapters/bybit/src/execution.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add UnixNanos and UUID4 property tests
  crates/core/src/nanos.rs
  crates/core/src/uuid.rs
  docs/developer_guide/testing.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clean up docs formatting and fix code examples
  docs/concepts/cache.md
  docs/concepts/data.md
  docs/concepts/execution.md
  docs/concepts/index.md
  docs/concepts/message_bus.md
  docs/concepts/portfolio.md
  docs/concepts/strategies.md
  docs/developer_guide/environment_setup.md
  docs/getting_started/index.md
  docs/integrations/bybit.md
Due: check-non-latin-text

Fix flaky CI tests on macOS runners
  .config/nextest.toml
  crates/adapters/architect_ax/tests/data_client.rs
  crates/common/src/testing.rs
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix venue_order_id type in report command structs
  crates/common/src/messages/execution/report.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket Gamma API skipping sibling tokens
  RELEASES.md
  nautilus_trader/adapters/polymarket/providers.py
  tests/integration_tests/adapters/polymarket/test_providers.py
Due: check-non-latin-text

Fix Python WS callbacks off event-loop thread in Rust
  RELEASES.md
  crates/adapters/architect_ax/src/python/websocket.rs
  crates/adapters/binance/src/python/websocket_futures.rs
  crates/adapters/binance/src/python/websocket_spot.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bybit/src/python/websocket.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/kraken/src/python/websocket_futures.rs
  crates/adapters/kraken/src/python/websocket_spot.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/core/src/python/mod.rs
  nautilus_trader/adapters/architect_ax/data.py
  nautilus_trader/adapters/architect_ax/execution.py
  nautilus_trader/adapters/bitmex/data.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/bybit/execution.py
  nautilus_trader/adapters/deribit/data.py
  nautilus_trader/adapters/deribit/execution.py
  nautilus_trader/adapters/dydx/data.py
  nautilus_trader/adapters/dydx/execution.py
  nautilus_trader/adapters/hyperliquid/data.py
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/adapters/kraken/data.py
  nautilus_trader/adapters/kraken/execution.py
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/bitmex/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Replace Polymarket orderbook/price history with Data API trades
  docs/integrations/polymarket.md
  examples/backtest/polymarket_simple_quoter.py
  nautilus_trader/adapters/polymarket/loaders.py
  tests/integration_tests/adapters/polymarket/resources/http_responses/orderbook_history.json
  tests/integration_tests/adapters/polymarket/resources/http_responses/price_history.json
  tests/integration_tests/adapters/polymarket/resources/http_responses/trades.json
  tests/integration_tests/adapters/polymarket/test_loaders.py
Due: check-non-latin-text

Rename fill_limit_at_touch to fill_limit_inside_spread
  RELEASES.md
  crates/execution/src/matching_core/mod.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/models/fill.rs
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/models/fill.pxd
  nautilus_trader/backtest/models/fill.pyx
  nautilus_trader/execution/matching_core.pxd
  nautilus_trader/execution/matching_core.pyx
  tests/unit_tests/backtest/test_fill_models.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Optimize matching engine trade consumption for deep books
  RELEASES.md
  crates/model/src/ffi/orderbook/book.rs
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/rust/model.pxd
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Deribit and BitMEX instrument status subscriptions
  RELEASES.md
  crates/adapters/bitmex/examples/node_data_tester.rs
  crates/adapters/bitmex/src/common/enums.rs
  crates/adapters/bitmex/src/data.rs
  crates/adapters/bitmex/src/execution.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bitmex/src/websocket/handler.rs
  crates/adapters/bitmex/src/websocket/messages.rs
  crates/adapters/deribit/examples/node_data_tester.rs
  crates/adapters/deribit/src/common/enums.rs
  crates/adapters/deribit/src/data.rs
  crates/adapters/deribit/src/execution.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/deribit/src/websocket/client.rs
  crates/adapters/deribit/src/websocket/enums.rs
  crates/adapters/deribit/src/websocket/handler.rs
  crates/adapters/deribit/src/websocket/messages.rs
  examples/live/bitmex/bitmex_data_tester.py
  examples/live/deribit/deribit_data_tester.py
  nautilus_trader/adapters/bitmex/data.py
  nautilus_trader/adapters/deribit/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Kalshi adapter design document
  docs/plans/2026-03-01-kalshi-adapter-design.md
Due: check-non-latin-text

Add Kalshi adapter implementation plan
  docs/plans/2026-03-01-kalshi-adapter-plan.md
Due: check-non-latin-text

feat(kalshi): add crate skeleton with config and module structure
  Cargo.toml
  crates/adapters/kalshi/Cargo.toml
  crates/adapters/kalshi/src/common/consts.rs
  crates/adapters/kalshi/src/common/credential.rs
  crates/adapters/kalshi/src/common/enums.rs
  crates/adapters/kalshi/src/common/mod.rs
  crates/adapters/kalshi/src/common/parse.rs
  crates/adapters/kalshi/src/common/urls.rs
  crates/adapters/kalshi/src/config.rs
  crates/adapters/kalshi/src/http/client.rs
  crates/adapters/kalshi/src/http/error.rs
  crates/adapters/kalshi/src/http/mod.rs
  crates/adapters/kalshi/src/http/models.rs
  crates/adapters/kalshi/src/http/parse.rs
  crates/adapters/kalshi/src/http/rate_limits.rs
  crates/adapters/kalshi/src/lib.rs
  crates/adapters/kalshi/src/python/mod.rs
  crates/adapters/kalshi/src/websocket/client.rs
  crates/adapters/kalshi/src/websocket/error.rs
  crates/adapters/kalshi/src/websocket/handler.rs
  crates/adapters/kalshi/src/websocket/messages.rs
  crates/adapters/kalshi/src/websocket/mod.rs
  crates/pyo3/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
