Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

fix(polymarket): close reconciliation report gaps
  crates/adapters/polymarket/src/execution/parse.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/execution/reports.rs
  crates/adapters/polymarket/src/execution/responses.rs
  crates/adapters/polymarket/src/http/data_api.rs
  crates/adapters/polymarket/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix reconciliation formatting policy
  crates/live/src/node/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(live): fail closed on incomplete reconciliation
  crates/live/src/execution/manager.rs
  crates/live/src/node/config.rs
  crates/live/src/node/mod.rs
  crates/live/src/python/config.rs
  crates/live/tests/node.rs
  docs/concepts/live.md
  docs/how_to/configure_live_trading.md
  nautilus_trader/live/config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Run architect-ax connection-failure tests in paused time (#4554)
  crates/adapters/architect_ax/Cargo.toml
  crates/adapters/architect_ax/tests/websocket.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Cut fixed-time waits from four bitmex tests (#4555)
  crates/adapters/bitmex/src/broadcast/submitter.rs
  crates/adapters/bitmex/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Bybit retry coverage and tighten timeout assertions
  crates/adapters/bybit/tests/http.rs
  crates/adapters/bybit/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Tighten Architect AX connection-failure assertions
  crates/adapters/architect_ax/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Ignore perf.data.old profiling output
  .gitignore
Due: none

Document Python support policy
  docs/getting_started/installation.md
Due: check-non-latin-text

Fix quadratic NETTING backtest cost
  RELEASES.md
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/common/src/python/cache.rs
  crates/execution/src/engine/config.rs
  crates/execution/src/engine/mod.rs
  crates/execution/src/python/config.rs
  crates/execution/tests/exec_engine.rs
  crates/live/src/node/config.rs
  crates/portfolio/src/manager.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
  docs/concepts/execution.md
  python/nautilus_trader/execution/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Encode cache position snapshots on demand
  RELEASES.md
  crates/common/src/cache/mod.rs
  crates/common/src/cache/position.rs
  crates/common/src/cache/tests.rs
  crates/common/src/python/cache.rs
  crates/event_store/src/replay.rs
  crates/event_store/tests/lifecycle.rs
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document commit message conventions
  CONTRIBUTING.md
  docs/developer_guide/coding_standards.md
Due: check-non-latin-text

Fix broken Developer Guide link in CONTRIBUTING
  .lycheeignore
  CONTRIBUTING.md
Due: check-non-latin-text

Improve CONTRIBUTING and GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/rfc.md
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
Due: check-non-latin-text

Fix Architect AX price precision and snapshot flags
  RELEASES.md
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/architect_ax/src/http/client.rs
  crates/adapters/architect_ax/src/http/parse.rs
  crates/adapters/architect_ax/src/websocket/data/parse.rs
  crates/adapters/architect_ax/src/websocket/messages.rs
  crates/adapters/architect_ax/test_data/ws_md_book_l2.json
  crates/adapters/architect_ax/test_data/ws_md_book_l2_captured.json
  crates/adapters/architect_ax/test_data/ws_md_book_l3.json
  crates/adapters/architect_ax/test_data/ws_md_book_l3_captured.json
  crates/adapters/architect_ax/tests/exec_client.rs
  crates/adapters/architect_ax/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Allow useless_conversion in two feature-conditional Quantity tests (#4556)
  crates/model/src/types/quantity.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix misaligned table in execution docs
  docs/concepts/execution.md
Due: check-non-latin-text

fix(live): close strict reconciliation authority
  crates/adapters/polymarket/src/execution/mod.rs
  crates/common/src/clients/execution.rs
  crates/common/src/clients/mod.rs
  crates/execution/src/engine/mod.rs
  crates/execution/src/engine/stubs.rs
  crates/execution/tests/exec_engine.rs
  crates/live/src/execution/client.rs
  crates/live/src/execution/manager.rs
  crates/live/src/node/mod.rs
  crates/live/tests/node.rs
  docs/concepts/live.md
  docs/how_to/configure_live_trading.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket reconciliation report completeness
  crates/adapters/polymarket/src/execution/parse.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/execution/reports.rs
  crates/adapters/polymarket/src/execution/responses.rs
  crates/adapters/polymarket/src/http/data_api.rs
  crates/adapters/polymarket/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix standard-precision make targets and add nightly job
  .github/workflows/nightly-tests.yml
  Makefile
  crates/adapters/hyperliquid/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/model/src/types/quantity.rs
  crates/serialization/src/sbe/market/common.rs
  crates/testkit/tests/orderbook_integration.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Run Rust doctests before nextest
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
Due: check-non-latin-text

Fix portfolio balance ordering nondeterminism
  RELEASES.md
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Run Rust doctests before nextest to stop CI disk exhaustion
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  Makefile
Due: check-non-latin-text

Reject unowned Polymarket maker fills
  crates/adapters/polymarket/src/execution/reconciliation.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Architect AX account fees and market data trade IDs
  Cargo.lock
  RELEASES.md
  crates/adapters/architect_ax/Cargo.toml
  crates/adapters/architect_ax/src/common/parse.rs
  crates/adapters/architect_ax/src/data.rs
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/architect_ax/src/http/client.rs
  crates/adapters/architect_ax/src/http/models.rs
  crates/adapters/architect_ax/src/http/parse.rs
  crates/adapters/architect_ax/src/python/http.rs
  crates/adapters/architect_ax/src/websocket/data/parse.rs
  crates/adapters/architect_ax/src/websocket/messages.rs
  crates/adapters/architect_ax/test_data/http_get_whoami.json
  crates/adapters/architect_ax/tests/common/server.rs
  crates/adapters/architect_ax/tests/exec_client.rs
  crates/adapters/architect_ax/tests/http.rs
  docs/integrations/architect_ax.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Gate workspace Rust test coverage
  .gitignore
  .pre-commit-config.yaml
  Makefile
  scripts/ci/check-workspace-test-coverage.sh
Due: check-non-latin-text

Exclude build output from workspace test coverage check
  scripts/ci/check-workspace-test-coverage.sh
Due: none

Port the Python v2 Controller to Rust
  .pre-commit-hooks/check_nautilus_conventions.sh
  Cargo.lock
  crates/common/src/python/actor.rs
  crates/pyo3/Cargo.toml
  crates/pyo3/src/lib.rs
  crates/system/Cargo.toml
  crates/system/src/python/controller.rs
  crates/system/src/trader.rs
  python/generate_stubs.py
  python/nautilus_trader/trading/__init__.py
  python/nautilus_trader/trading/__init__.pyi
  python/nautilus_trader/trading/controller.py
  python/nautilus_trader/trading/controller.pyi
  python/tests/unit/backtest/test_backtest_engine_surface.py
  python/tests/unit/common/actor.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Architect AX Python factories and subscriptions
  RELEASES.md
  crates/adapters/architect_ax/src/factories.rs
  crates/adapters/architect_ax/src/python/factories.rs
  crates/adapters/architect_ax/src/python/mod.rs
  crates/adapters/architect_ax/src/websocket/data/client.rs
  crates/adapters/architect_ax/src/websocket/data/handler.rs
  crates/adapters/architect_ax/tests/common/server.rs
  crates/adapters/architect_ax/tests/websocket.rs
  python/nautilus_trader/adapters/architect_ax/__init__.py
  python/nautilus_trader/adapters/architect_ax/__init__.pyi
  python/tests/unit/adapters/architect_ax/test_architect_ax_factories.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clarify Python v2 generated stub contract
  MIGRATION_V2.md
Due: check-non-latin-text

Correct DST guide claims and tighten structure
  docs/concepts/dst.md
Due: check-non-latin-text

Correct event sourcing guide claims and restructure
  docs/concepts/event_sourcing.md
Due: check-non-latin-text

Move plugins guide to developer guide
  docs/concepts/index.md
  docs/concepts/plugins.md
  docs/developer_guide/index.md
  docs/developer_guide/plugins.md
Due: check-non-latin-text

Auto-repay Bybit SPOT margin borrows (#4543)
  crates/adapters/bybit/src/config.rs
  crates/adapters/bybit/src/execution.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/http/query.rs
  crates/adapters/bybit/src/lib.rs
  crates/adapters/bybit/src/python/config.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/src/repay.rs
  crates/adapters/bybit/src/websocket/dispatch.rs
  crates/adapters/bybit/tests/exec_client.rs
  crates/adapters/bybit/tests/http.rs
  nautilus_trader/core/nautilus_pyo3.pyi
  python/nautilus_trader/adapters/bybit/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Run Postgres cache tests in core CI
  Makefile
Due: none

Run SBE serialization tests in core CI
  Makefile
Due: none

Harden v2 pull request CI coverage
  .github/OVERVIEW.md
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  scripts/ci/plan.sh
Due: check-non-latin-text

Fix live node msgbus ingress test race
  crates/live/src/node/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix margin account fabricating unreported balances
  RELEASES.md
  crates/adapters/bybit/src/repay.rs
  crates/model/src/accounts/margin.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
