Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Fix wrong changes
  .python-version
  nautilus_trader/core/datetime.pyi
  nautilus_trader/model/events/account.pyx
  stubs/pyx_stub_gen.py
  stubs/risk/engine.pyi
Due: none

Refine request of instruments (#2822)
  Makefile
  examples/live/interactive_brokers/notebooks/run_ratio_spread_1x2_qty3.py
  examples/live/interactive_brokers/notebooks/with_databento_instrument_id.py
  nautilus_trader/adapters/betfair/parsing/core.py
  nautilus_trader/common/actor.pyx
  nautilus_trader/data/engine.pyx
  nautilus_trader/persistence/catalog/parquet.py
  nautilus_trader/test_kit/stubs/persistence.py
  tests/acceptance_tests/test_backtest.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_market_data.py
  tests/unit_tests/backtest/test_config.py
  tests/unit_tests/data/test_engine.py
  tests/unit_tests/persistence/test_catalog.py
  tests/unit_tests/persistence/test_streaming.py
Due: none

Refine request of instruments
  nautilus_trader/common/actor.pyx
  nautilus_trader/data/engine.pyx
  tests/unit_tests/data/test_engine.py
Due: none

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine crate docs
  crates/adapters/blockchain/src/lib.rs
  crates/core/src/python/mod.rs
  crates/pyo3/src/lib.rs
Due: fmt, cargo-clippy, cargo-doc

Implement nautilus_trader v2 wheels build pipeline
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  python/README.md
  scripts/ci/publish-wheels-generate-index.sh
  scripts/ci/publish-wheels-r2-remove-old-wheels.sh
  scripts/ci/publish-wheels-r2-upload-index.sh
  scripts/ci/publish-wheels-r2-upload-new-wheels.sh
  scripts/ci/publish-wheels-r2-verify-files.sh
Due: none

Fix Rust-Python reference cycles from PyObject callbacks
  RELEASES.md
  crates/common/src/ffi/timer.rs
  crates/common/src/python/handler.rs
  crates/common/src/python/timer.rs
  crates/common/src/timer.rs
  crates/core/src/python/mod.rs
  crates/network/src/python/socket.rs
  crates/network/src/python/websocket.rs
  crates/network/src/socket.rs
  crates/network/src/websocket.rs
  docs/developer_guide/rust.md
Due: fmt, cargo-clippy, cargo-doc

Fix nautilus_trader v2 development wheel versioning
  python/pyproject.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine LiveNode component state logging
  crates/common/src/actor/data_actor.rs
  crates/common/src/enums.rs
  crates/live/src/node.rs
  crates/system/src/kernel.rs
  crates/system/src/trader.rs
Due: fmt, cargo-clippy, cargo-doc

Use common runtime for LiveNode
  crates/live/src/python/node.rs
Due: fmt, cargo-clippy, cargo-doc

Introduce SharedCell/WeakCell for safer memory management
  RELEASES.md
  crates/backtest/src/execution_client.rs
  crates/common/src/throttler.rs
  crates/common/src/timer.rs
  crates/core/src/lib.rs
  crates/core/src/shared.rs
  crates/data/src/aggregation.rs
  crates/network/src/socket.rs
  crates/network/src/websocket.rs
  nautilus_trader/common/component.pyx
Due: fmt, cargo-clippy, cargo-doc

Refine DataActor and add tests
  Makefile
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/enums.rs
  crates/common/src/msgbus/mod.rs
  crates/system/src/trader.rs
Due: fmt, cargo-clippy, cargo-doc

Fix dYdX order and fill message schemas
  nautilus_trader/adapters/dydx/schemas/ws.py
Due: none

Update RELEASES.md
  RELEASES.md
Due: none

Continue fixing Rust-side cycles with WeakCell
  crates/common/src/greeks.rs
  crates/core/src/drop.rs
  crates/core/src/lib.rs
  crates/data/src/engine/handlers.rs
  crates/execution/src/matching_core/handlers.rs
  crates/execution/src/matching_engine/adapter.rs
  crates/execution/src/order_emulator/adapter.rs
  crates/execution/src/order_emulator/handlers.rs
  crates/network/src/socket.rs
  crates/network/src/websocket.rs
  crates/portfolio/src/portfolio.rs
  crates/system/src/kernel.rs
  docs/developer_guide/rust.md
Due: fmt, cargo-clippy, cargo-doc

Add FAIL_FAST flag for make test targets
  .pre-commit-config.yaml
  Makefile
Due: none

Continue nautilus_trader v2 package organization
  Cargo.lock
  Cargo.toml
  crates/common/Cargo.toml
  crates/common/src/greeks.rs
  crates/common/src/python/actor.rs
  crates/core/Cargo.toml
  crates/core/src/python/datetime.rs
  crates/model/src/data/greeks.rs
  crates/system/src/trader.rs
  python/nautilus_trader/common/__init__.pyi
  python/nautilus_trader/core/__init__.py
  python/tests/__init__.py
  python/tests/actor.py
  python/tests/conftest.py
  python/tests/node.py
  python/uv.lock
  tests/unit_tests/common/test_actor_pyo3.py
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix dYdX order and fill message schemas (#2824)
  RELEASES.md
  nautilus_trader/adapters/dydx/schemas/ws.py
Due: none

Add the `from_chain_name` method in Chain struct and test it
  crates/model/src/defi/chain.rs
Due: fmt, cargo-clippy, cargo-doc

Add support for blockchain venues in `InstrumentId` with validation when `defi` feature is enabled
  crates/model/src/identifiers/instrument_id.rs
Due: fmt, cargo-clippy, cargo-doc

fix tests
  crates/common/src/actor/tests.rs
  crates/data/tests/client.rs
  crates/data/tests/engine.rs
  crates/model/src/defi/amm.rs
Due: fmt, cargo-clippy, cargo-doc

fix correct venue in node_test.rs
  crates/adapters/blockchain/bin/node_test.rs
Due: fmt, cargo-clippy, cargo-doc

feat: fix wrong ClassVar symbols
  stubs/backtest/models.pyi
  stubs/common/component.pyi
  stubs/common/generators.pyi
  stubs/indicators/average/rma.pyi
  stubs/indicators/donchian_channel.pyi
  stubs/indicators/efficiency_ratio.pyi
  stubs/model/tick_scheme/implementations/fixed.pyi
Due: none

Refactor `from_chain_name` method to utilize strum EnumString macro
  crates/model/src/defi/chain.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize chain name validation for InstrumentId (#2826)
  crates/adapters/blockchain/bin/node_test.rs
  crates/common/src/actor/tests.rs
  crates/data/tests/client.rs
  crates/data/tests/engine.rs
  crates/model/src/defi/amm.rs
  crates/model/src/defi/chain.rs
  crates/model/src/identifiers/instrument_id.rs
Due: fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
