Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Fix flaky Polymarket test
  crates/adapters/polymarket/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix continuous reconciliation drift in Rust
  RELEASES.md
  crates/execution/src/reconciliation/orders.rs
  crates/execution/src/reconciliation/proptests.rs
  crates/execution/src/reconciliation/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix SQL ParserError for symbols containing ampersand (#4025)
  crates/persistence/src/backend/catalog.rs
  crates/persistence/tests/test_catalog.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine identifier deserialization in tagged enums
  RELEASES.md
  crates/core/src/string/stack_str.rs
  crates/model/src/identifiers/macros.rs
  crates/model/src/identifiers/mod.rs
  crates/model/src/identifiers/strategy_id.rs
  crates/model/src/identifiers/trade_id.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor Cache account and position storage to shared cells
  RELEASES.md
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/betfair/src/execution.rs
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/spot/execution.rs
  crates/adapters/bitmex/src/execution.rs
  crates/adapters/bybit/src/execution.rs
  crates/adapters/coinbase/src/execution.rs
  crates/adapters/deribit/src/execution.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/interactive_brokers/src/execution/core.rs
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/adapters/okx/src/execution.rs
  crates/adapters/polymarket/src/execution/mod.rs
  crates/adapters/sandbox/src/execution.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/execution_client.rs
  crates/backtest/src/modules/fx_rollover.rs
  crates/backtest/tests/backtest_engine.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/refs.rs
  crates/common/src/cache/tests.rs
  crates/common/src/greeks.rs
  crates/execution/src/engine/mod.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/exec_engine.rs
  crates/live/src/manager.rs
  crates/portfolio/src/manager.rs
  crates/portfolio/src/portfolio.rs
  crates/risk/src/engine/mod.rs
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor Execution reconciliation module
  crates/execution/src/python/mod.rs
  crates/execution/src/python/reconciliation.rs
  crates/execution/src/reconciliation/mod.rs
  crates/execution/src/reconciliation/orders.rs
  crates/execution/src/reconciliation/positions.rs
  crates/execution/src/reconciliation/proptests.rs
  crates/execution/src/reconciliation/tests.rs
  crates/execution/src/reconciliation/types.rs
  crates/network/src/python/websocket.rs
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/live/reconciliation.py
  python/nautilus_trader/execution/__init__.pyi
  python/nautilus_trader/trading/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add nautilus-event-store types
  .supply-chain/config.toml
  Cargo.lock
  Cargo.toml
  crates/event_store/Cargo.toml
  crates/event_store/benches/codec.rs
  crates/event_store/benches/hash.rs
  crates/event_store/src/backend/mod.rs
  crates/event_store/src/entry.rs
  crates/event_store/src/error.rs
  crates/event_store/src/hash.rs
  crates/event_store/src/headers.rs
  crates/event_store/src/lib.rs
  crates/event_store/src/manifest.rs
  crates/event_store/src/wire.rs
  crates/event_store/tests/envelope.rs
  deny.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Scope live position reconciliation by account (#4029)
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

Harden matching/sandbox market-data update failure paths
  crates/adapters/sandbox/src/execution.rs
  crates/execution/src/matching_engine/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden Polymarket websocket parse-error logging
  nautilus_trader/adapters/polymarket/data.py
  tests/integration_tests/adapters/polymarket/test_data_client.py
Due: check-non-latin-text

Implement live position reconciliation state per account
  RELEASES.md
  crates/live/src/manager.rs
  crates/live/src/node.rs
  crates/live/tests/manager.rs
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden bar/precision mismatch paths in Rust and Cython engines
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/execution/matching_core.pxd
  nautilus_trader/execution/matching_core.pyx
  tests/unit_tests/backtest/test_matching_engine.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden Polymarket websocket parse-error handling (#4038)
  nautilus_trader/adapters/polymarket/data.py
  tests/integration_tests/adapters/polymarket/test_data_client.py
Due: check-non-latin-text

Fix Deribit silent drop on uncached subscribes
  RELEASES.md
  crates/adapters/deribit/src/config.rs
  crates/adapters/deribit/src/data.rs
  crates/adapters/deribit/src/python/config.rs
  crates/adapters/deribit/src/websocket/handler.rs
  crates/adapters/deribit/test_data/http_get_instrument_option.json
  crates/adapters/deribit/tests/data_client.rs
  docs/integrations/deribit.md
  nautilus_trader/adapters/deribit/config.py
  python/nautilus_trader/deribit/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Optimize Cache order and position queries
  RELEASES.md
  crates/common/benches/cache/query_sets.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine adapter and strategy Cache queries
  crates/adapters/dydx/src/execution/mod.rs
  crates/trading/src/examples/strategies/composite_market_maker/strategy.rs
  crates/trading/src/examples/strategies/grid_mm/strategy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Cache existence, view, and iterator functions
  crates/adapters/interactive_brokers/src/execution/core_helpers.rs
  crates/common/benches/cache/query_sets.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/portfolio/src/portfolio.rs
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add nautilus-event-store in-memory backend
  crates/event_store/src/backend/memory.rs
  crates/event_store/src/backend/mod.rs
  crates/event_store/src/error.rs
  crates/event_store/src/lib.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add nautilus-event-store redb backend
  Cargo.lock
  crates/event_store/Cargo.toml
  crates/event_store/src/backend/mod.rs
  crates/event_store/src/backend/redb.rs
  crates/event_store/src/lib.rs
  crates/event_store/tests/redb.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove redundant OrderMatchingCore init flags in Rust
  crates/execution/src/matching_core/mod.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove redundant trigger-reindexing workflow
  .github/OVERVIEW.md
  .github/workflows/trigger-reindexing.yml
Due: check-non-latin-text

Add per-account Portfolio snapshots in Rust
  RELEASES.md
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/mod.rs
  crates/model/src/events/mod.rs
  crates/model/src/events/portfolio/mod.rs
  crates/model/src/events/portfolio/snapshot.rs
  crates/model/src/python/events/portfolio/mod.rs
  crates/model/src/python/events/portfolio/snapshot.rs
  crates/model/src/python/mod.rs
  crates/portfolio/src/config.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/src/python/mod.rs
  crates/portfolio/tests/portfolio.rs
  crates/system/src/kernel.rs
  nautilus_trader/portfolio/config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OrderMatchingEngine boundary-tick GTD expiry in Rust
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
  crates/model/src/data/stubs.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden execution/sandbox market-data failure paths
  crates/adapters/sandbox/src/execution.rs
  crates/adapters/sandbox/tests/execution.rs
  crates/execution/src/matching_engine/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Complete sandbox trade precision filtering paths
  crates/adapters/sandbox/src/execution.rs
  crates/adapters/sandbox/tests/execution.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align quote tick docs with fail-soft behavior
  crates/execution/src/matching_engine/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  osv-scanner.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix OrderMatchingEngine cached fill cleanup in Rust
  RELEASES.md
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OrderMatchingEngine option settlement in Rust
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add nautilus-event-store writer
  crates/event_store/src/lib.rs
  crates/event_store/src/writer/batcher.rs
  crates/event_store/src/writer/halt.rs
  crates/event_store/src/writer/mod.rs
  crates/event_store/tests/writer.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Migrate CI PyPI uploads to OIDC trusted publishing
  .github/OVERVIEW.md
  .github/workflows/build.yml
  RELEASES.md
  SECURITY.md
Due: check-non-latin-text

Align OrderMatchingEngine trailing-stop timing in Rust
  RELEASES.md
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add nautilus-event-store reader
  crates/event_store/src/backend/redb.rs
  crates/event_store/src/lib.rs
  crates/event_store/src/reader/mod.rs
  crates/event_store/tests/reader.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align OrderMatchingEngine queue-position fills in Rust
  RELEASES.md
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align OrderMatchingEngine trade override gate in Rust
  RELEASES.md
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add nautilus-event-store bus capture adapter
  Cargo.lock
  crates/event_store/Cargo.toml
  crates/event_store/src/capture/adapter.rs
  crates/event_store/src/capture/encoder.rs
  crates/event_store/src/capture/encoders.rs
  crates/event_store/src/capture/mod.rs
  crates/event_store/src/capture/registry.rs
  crates/event_store/src/lib.rs
  crates/event_store/tests/capture.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add nautilus-event-store verifier
  crates/event_store/src/backend/memory.rs
  crates/event_store/src/backend/mod.rs
  crates/event_store/src/backend/redb.rs
  crates/event_store/src/capture/adapter.rs
  crates/event_store/src/lib.rs
  crates/event_store/src/verifier/mod.rs
  crates/event_store/src/writer/mod.rs
  crates/event_store/tests/capture.rs
  crates/event_store/tests/redb.rs
  crates/event_store/tests/verifier.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Attest Docker SBOMs and switch GHCR to GITHUB_TOKEN
  .github/workflows/docker.yml
  SECURITY.md
Due: check-non-latin-text

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
