Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix clippy lints
  crates/adapters/tardis/src/csv/mod.rs
  crates/adapters/tardis/src/python/csv.rs
Due: fmt, cargo-clippy, cargo-doc

Add cargo-test-coverage-crate make target
  Makefile
Due: none

Add test coverage for core crate
  crates/core/src/collections.rs
  crates/core/src/env.rs
  crates/core/src/math.rs
  crates/core/src/serialization.rs
Due: fmt, cargo-clippy, cargo-doc

Add integration test service management targets
  .docker/docker-compose.yml
  Makefile
  README.md
  crates/infrastructure/TESTS.md
  tests/integration_tests/infrastructure/README.md
Due: none

Update documentation style guide
  docs/developer_guide/docs.md
Due: none

Improved logging of init-services
  Makefile
Due: none

Add pyo3 interface for blockchain crate
  crates/adapters/blockchain/bin/node_test.rs
  crates/adapters/blockchain/src/config.rs
  crates/adapters/blockchain/src/factories.rs
  crates/adapters/blockchain/src/lib.rs
  crates/adapters/blockchain/src/python/config.rs
  crates/adapters/blockchain/src/python/factories.rs
  crates/adapters/blockchain/src/python/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Allow getting any number of historical bars by splitting into more requests
  nautilus_trader/adapters/dydx/data.py
Due: none

Add pyo3 interface for live crate
  crates/live/src/lib.rs
  crates/live/src/node.rs
  crates/live/src/python/mod.rs
  crates/live/src/python/node.rs
Due: fmt, cargo-clippy, cargo-doc

Fix model crate tests when no feature flags
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize docs style conventions for developer guide
  docs/developer_guide/adapters.md
  docs/developer_guide/coding_standards.md
  docs/developer_guide/cython.md
  docs/developer_guide/docs.md
  docs/developer_guide/environment_setup.md
  docs/developer_guide/packaged_data.md
  docs/developer_guide/rust.md
  docs/developer_guide/testing.md
Due: none

Standardize docs style conventions for getting started guides
  README.md
  docs/getting_started/index.md
  docs/getting_started/installation.md
Due: none

Standardize docs style conventions
  docs/concepts/data.md
  docs/tutorials/index.md
Due: none

Enhanced init-db chain by *.sql
  Makefile
Due: none

Relax click version requirement
  pyproject.toml
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Adjust some log levels for reconciliation
  nautilus_trader/live/execution_engine.py
Due: none

Add test coverage for model crate
  crates/model/proptest-regressions/types/quantity.txt
  crates/model/src/data/delta.rs
  crates/model/src/data/deltas.rs
  crates/model/src/data/depth.rs
  crates/model/src/data/greeks.rs
  crates/model/src/data/quote.rs
  crates/model/src/data/status.rs
  crates/model/src/data/trade.rs
  crates/model/src/events/order/accepted.rs
  crates/model/src/events/order/filled.rs
  crates/model/src/events/order/rejected.rs
  crates/model/src/events/order/submitted.rs
  crates/model/src/events/position/changed.rs
  crates/model/src/events/position/closed.rs
  crates/model/src/events/position/mod.rs
  crates/model/src/events/position/opened.rs
  crates/model/src/events/position/snapshot.rs
  crates/model/src/reports/fill.rs
  crates/model/src/reports/mass_status.rs
  crates/model/src/reports/order.rs
  crates/model/src/reports/position.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
  crates/model/src/venues.rs
Due: fmt, cargo-clippy, cargo-doc

Fix clippy lints
  crates/adapters/blockchain/bin/node_test.rs
  crates/adapters/blockchain/src/data.rs
  crates/adapters/blockchain/src/hypersync/client.rs
  crates/adapters/blockchain/src/hypersync/transform.rs
  crates/adapters/blockchain/src/python/config.rs
  crates/adapters/blockchain/src/python/factories.rs
  crates/adapters/coinbase_intx/src/fix/messages.rs
  crates/adapters/tardis/src/csv/mod.rs
  crates/data/src/engine/mod.rs
  crates/infrastructure/src/redis/msgbus.rs
  crates/infrastructure/src/sql/cache.rs
  crates/live/src/python/node.rs
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/parquet.rs
Due: fmt, cargo-clippy, cargo-doc

Optimize account event purging for Redis
  RELEASES.md
  crates/infrastructure/src/redis/cache.rs
  crates/infrastructure/tests/test_cache_redis.rs
Due: fmt, cargo-clippy, cargo-doc

Propagated start and stop in response data
  crates/adapters/demo/src/data_client.rs
  crates/common/src/actor/tests.rs
  crates/common/src/messages/data/response.rs
  crates/live/src/data.rs
  nautilus_trader/adapters/binance/data.py
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/coinbase_intx/data.py
  nautilus_trader/adapters/databento/data.py
  nautilus_trader/adapters/dydx/data.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/adapters/polymarket/data.py
  nautilus_trader/adapters/tardis/data.py
  nautilus_trader/backtest/data_client.pyx
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/data/client.pxd
  nautilus_trader/data/client.pyx
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  nautilus_trader/data/messages.pxd
  nautilus_trader/data/messages.pyx
  nautilus_trader/test_kit/mocks/data.py
  tests/unit_tests/common/test_actor.py
  tests/unit_tests/data/test_client.py
  tests/unit_tests/data/test_engine.py
  tests/unit_tests/data/test_messages.py
  tests/unit_tests/live/test_data_engine.py
Due: fmt, cargo-clippy, cargo-doc

Fixed acceptance tests
  nautilus_trader/backtest/node.py
  nautilus_trader/examples/strategies/ema_cross_bracket.py
  nautilus_trader/examples/strategies/ema_cross_bracket_algo.py
  nautilus_trader/examples/strategies/ema_cross_stop_entry.py
  nautilus_trader/examples/strategies/ema_cross_trailing_stop.py
  nautilus_trader/examples/strategies/ema_cross_twap.py
Due: none

Fix mypy error: Handle None engine_config in BacktestNode
  nautilus_trader/backtest/node.py
Due: none

Pre-commit fixed
  tests/unit_tests/data/test_client.py
Due: none

Clarify end datetime description in response time range
  nautilus_trader/data/messages.pyx
Due: none

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
