Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Make trade IDs deterministic across adapters and engine
  RELEASES.md
  crates/adapters/bitmex/src/common/parse.rs
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/websocket/parse.rs
  crates/adapters/databento/src/decode.rs
  crates/adapters/polymarket/src/common/parse.rs
  crates/adapters/polymarket/src/http/data_api.rs
  crates/adapters/sandbox/src/config.rs
  crates/adapters/tardis/src/common/parse.rs
  crates/adapters/tardis/src/csv/load.rs
  crates/adapters/tardis/src/csv/mod.rs
  crates/adapters/tardis/src/csv/record.rs
  crates/adapters/tardis/src/machine/parse.rs
  crates/backtest/src/config.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/matching_engine/ids_generator.rs
  crates/portfolio/tests/portfolio.rs
  docs/concepts/backtesting.md
  docs/integrations/bitmex.md
  docs/integrations/databento.md
  docs/integrations/dydx.md
  docs/integrations/polymarket.md
  docs/integrations/tardis.md
  nautilus_trader/adapters/sandbox/config.py
  nautilus_trader/backtest/config.py
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/test_kit/providers.py
  tests/acceptance_tests/test_backtest.py
  tests/unit_tests/backtest/test_matching_engine.py
  tests/unit_tests/backtest/test_trade_id_parity.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix kernel log header and blockchain client ID naming
  crates/adapters/blockchain/examples/node_data_tester.rs
  crates/adapters/blockchain/src/data/client.rs
  crates/adapters/blockchain/src/factories.rs
  crates/system/src/kernel.rs
  python/examples/blockchain/node_test.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix catalog get_intervals for per-identifier data (#3903)
  RELEASES.md
  crates/persistence/src/backend/catalog.rs
  crates/persistence/tests/test_catalog.rs
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Extend Hyperliquid adapter data and execution coverage
  RELEASES.md
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/config.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/http/rate_limits.rs
  crates/adapters/hyperliquid/src/python/config.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
  crates/adapters/hyperliquid/src/websocket/parse.rs
  crates/adapters/hyperliquid/test_data/http_funding_history.json
  crates/adapters/hyperliquid/tests/data_client.rs
  crates/adapters/hyperliquid/tests/exec_client.rs
  docs/integrations/hyperliquid.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: guard empty intervals in _consolidate_directory and skip unknown dirs in consolidate_catalog_by_period
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

Fix WebSocket idle_timeout reset on Ping/Pong frames
  RELEASES.md
  crates/adapters/polymarket/src/websocket/client.rs
  crates/network/src/websocket/client.rs
  nautilus_trader/adapters/polymarket/websocket/client.py
  tests/integration_tests/adapters/polymarket/test_websocket_client.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Allow empty balances in AccountState events
  crates/model/src/accounts/cash.rs
  crates/model/src/accounts/margin.rs
  nautilus_trader/accounting/accounts/base.pyx
  nautilus_trader/accounting/accounts/cash.pyx
  nautilus_trader/accounting/accounts/margin.pyx
  nautilus_trader/analysis/analyzer.py
  nautilus_trader/analysis/reporter.py
  nautilus_trader/model/events/account.pxd
  nautilus_trader/model/events/account.pyx
  nautilus_trader/serialization/arrow/implementations/account_state.py
  tests/unit_tests/accounting/test_cash.py
  tests/unit_tests/accounting/test_margin.py
  tests/unit_tests/analysis/test_analyzer.py
  tests/unit_tests/analysis/test_reports.py
  tests/unit_tests/model/test_events.py
  tests/unit_tests/serialization/test_arrow.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit demo mode websocket data URLs
  RELEASES.md
  crates/adapters/bybit/examples/node_exec_tester.rs
  crates/adapters/bybit/src/common/urls.rs
  crates/adapters/bybit/src/http/client.rs
  docs/integrations/bybit.md
  docs/tutorials/options_data_bybit.md
  examples/live/bybit/bybit_exec_tester.py
  tests/integration_tests/adapters/bybit/test_factories.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine workspace dependencies
  .pre-commit-config.yaml
  .supply-chain/audits.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  python/uv.lock
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Add model identifier design notes
  crates/model/src/identifiers/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Portfolio equity and mark-value queries
  Cargo.lock
  RELEASES.md
  crates/portfolio/Cargo.toml
  crates/portfolio/benches/portfolio.rs
  crates/portfolio/src/manager.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
  docs/concepts/accounting.md
  docs/concepts/index.md
  docs/concepts/portfolio.md
  nautilus_trader/portfolio/base.pxd
  nautilus_trader/portfolio/base.pyx
  nautilus_trader/portfolio/portfolio.pxd
  nautilus_trader/portfolio/portfolio.pyx
  tests/unit_tests/portfolio/test_portfolio.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix catalog consolidate edge cases
  RELEASES.md
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

Improve Coinbase adapter HTTP retries and WS lifecycle
  crates/adapters/coinbase/README.md
  crates/adapters/coinbase/src/common/consts.rs
  crates/adapters/coinbase/src/common/credential.rs
  crates/adapters/coinbase/src/data.rs
  crates/adapters/coinbase/src/execution.rs
  crates/adapters/coinbase/src/http/client.rs
  crates/adapters/coinbase/src/websocket/client.rs
  crates/adapters/coinbase/src/websocket/handler.rs
  crates/adapters/coinbase/tests/data_client.rs
  crates/adapters/coinbase/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Coinbase CFM derivatives execution client
  crates/adapters/coinbase/README.md
  crates/adapters/coinbase/src/common/enums.rs
  crates/adapters/coinbase/src/config.rs
  crates/adapters/coinbase/src/data.rs
  crates/adapters/coinbase/src/execution.rs
  crates/adapters/coinbase/src/factories.rs
  crates/adapters/coinbase/src/http/client.rs
  crates/adapters/coinbase/src/http/models.rs
  crates/adapters/coinbase/src/http/parse.rs
  crates/adapters/coinbase/src/http/query.rs
  crates/adapters/coinbase/src/lib.rs
  crates/adapters/coinbase/src/python/config.rs
  crates/adapters/coinbase/src/python/mod.rs
  crates/adapters/coinbase/src/websocket/handler.rs
  crates/adapters/coinbase/test_data/http_cfm_balance_summary.json
  crates/adapters/coinbase/test_data/http_cfm_position.json
  crates/adapters/coinbase/test_data/http_cfm_positions.json
  crates/adapters/coinbase/tests/exec_client.rs
  docs/integrations/coinbase.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Gate logging writer thread under cfg(madsim)
  crates/common/src/logging/logger.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add DST seam for nautilus-network rate-limiter
  Cargo.lock
  crates/network/Cargo.toml
  crates/network/src/dst.rs
  crates/network/src/lib.rs
  crates/network/src/ratelimiter/clock.rs
  crates/network/src/ratelimiter/mod.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Extend DST seam across nautilus-network
  crates/network/src/retry.rs
  crates/network/src/socket/client.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add static enforcement for DST-path bans
  .pre-commit-config.yaml
  .pre-commit-hooks/check_dst_conventions.sh
  crates/common/src/testing.rs
  crates/execution/src/engine/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add deterministic simulation testing guide
  .pre-commit-hooks/check_dst_conventions.sh
  crates/network/src/dst.rs
  docs/concepts/dst.md
  docs/concepts/index.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine TimeBarAggregator parity and test coverage
  Cargo.lock
  crates/backtest/src/accumulator.rs
  crates/common/src/timer.rs
  crates/data/Cargo.toml
  crates/data/src/aggregation.rs
  nautilus_trader/data/aggregation.pyx
  tests/unit_tests/data/test_aggregation.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Optimize SBE decode hot path
  crates/serialization/src/sbe/cursor.rs
  crates/serialization/src/sbe/market.rs
  crates/serialization/src/sbe/market/common.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor SBE encoder onto typed writer
  crates/serialization/src/sbe/market.rs
  crates/serialization/src/sbe/market/bars.rs
  crates/serialization/src/sbe/market/book.rs
  crates/serialization/src/sbe/market/common.rs
  crates/serialization/src/sbe/market/data_any.rs
  crates/serialization/src/sbe/market/ticks.rs
  crates/serialization/src/sbe/mod.rs
  crates/serialization/src/sbe/writer.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add SBE decode reuse for OrderBookDeltas
  crates/serialization/benches/market_data_capnp_vs_sbe.rs
  crates/serialization/src/sbe/market.rs
  crates/serialization/src/sbe/market/book.rs
  crates/serialization/src/sbe/mod.rs
  crates/serialization/tests/test_market_data_sbe.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add ratelimiter proptest regression
  crates/network/proptest-regressions/ratelimiter.txt
Due: none

Improve bar aggregator parity and test coverage
  crates/data/src/aggregation.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Replace urlencoding crate with core::urlencoding
  Cargo.lock
  Cargo.toml
  crates/adapters/betfair/Cargo.toml
  crates/adapters/betfair/src/http/client.rs
  crates/adapters/dydx/Cargo.toml
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/tardis/Cargo.toml
  crates/adapters/tardis/src/data.rs
  crates/adapters/tardis/src/http/client.rs
  crates/adapters/tardis/src/machine/mod.rs
  crates/core/Cargo.toml
  crates/core/benches/urlencoding.rs
  crates/core/src/lib.rs
  crates/core/src/urlencoding.rs
  crates/persistence/Cargo.toml
  crates/persistence/src/backend/catalog.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add DST scope-hole inventory
  crates/common/src/live/dst.rs
  docs/concepts/backtesting.md
  docs/concepts/dst.md
  docs/developer_guide/dst_scope_holes.md
  docs/developer_guide/index.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Log Databento replay anchor drops on running session
  RELEASES.md
  crates/adapters/databento/src/live.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine DST docs titles and links
  docs/concepts/dst.md
  docs/concepts/index.md
  docs/developer_guide/dst_scope_inventory.md
  docs/developer_guide/index.md
Due: check-non-latin-text

Route pre-commit CI jobs to self-hosted runners
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
Due: check-non-latin-text

Add Coinbase derivatives REST polling for index/funding
  crates/adapters/coinbase/src/common/enums.rs
  crates/adapters/coinbase/src/config.rs
  crates/adapters/coinbase/src/data/mod.rs
  crates/adapters/coinbase/src/data/poll.rs
  crates/adapters/coinbase/src/http/client.rs
  crates/adapters/coinbase/src/http/models.rs
  crates/adapters/coinbase/src/python/config.rs
  crates/adapters/coinbase/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve data engine parity and test coverage
  crates/data/src/defi/engine.rs
  crates/data/src/engine/bar.rs
  crates/data/src/engine/book.rs
  crates/data/src/engine/commands.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add set_runtime() for custom Tokio runtime injection
  crates/common/src/live/mod.rs
  crates/common/src/live/runtime.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Support user-provided Tokio runtime in live module (#3918)
  crates/common/src/live/mod.rs
  crates/common/src/live/runtime.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add network websocket benchmark harnesses
  crates/network/Cargo.toml
  crates/network/benches/websocket_latency.rs
  crates/network/benches/websocket_transport.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document live runtime injection contract
  crates/common/src/live/runtime.rs
  docs/developer_guide/rust.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Cap'n Proto schema verification
  Makefile
  scripts/regen_capnp.sh
Due: none

Fix broken tutorial doc links and add offline link check
  .gitignore
  .lycheeignore
  .pre-commit-config.yaml
  .pre-commit-hooks/check_links_offline.sh
  Makefile
  docs/how_to/index.md
  docs/tutorials/backtest_orderbook_bybit.py
  docs/tutorials/index.md
Due: check-non-latin-text

Fix FeatherWriter metadata for CLEAR-first OrderBookDeltas
  RELEASES.md
  crates/persistence/src/backend/feather.rs
  crates/persistence/tests/test_feather.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
