Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Continue LiveNode and NautilusKernel in Rust
  Cargo.lock
  Cargo.toml
  crates/adapters/databento/Cargo.toml
  crates/adapters/databento/src/data.rs
  crates/backtest/src/engine.rs
  crates/live/src/node.rs
  crates/system/src/kernel.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

(feat) Enable running Binance SPOT and FUTURES with sandbox execution
  examples/sandbox/binance_spot_futures_sandbox.py
  nautilus_trader/adapters/binance/data.py
  nautilus_trader/adapters/binance/factories.py
  nautilus_trader/adapters/sandbox/execution.py
Due: none

(refactor) Removes unused imports
  examples/sandbox/binance_spot_futures_sandbox.py
Due: none

Add high-precision settings
  .cargo/config.toml
  Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix the dependencies format
  Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix the dependencies format
  Cargo.toml
  crates/Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix the dependencies format, again
  crates/Cargo.toml
  crates/pyo3/Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Remove high-precision feature
  crates/pyo3/Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Try to find a good home for the native cpu flag
  .cargo/config.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Enhance check hidden chars script for pre-commit
  .pre-commit-hooks/check_hidden_chars.sh
Due: none

Improve docs consistency
  docs/concepts/architecture.md
  docs/concepts/overview.md
  docs/developer_guide/environment_setup.md
  docs/integrations/betfair.md
  docs/integrations/binance.md
  docs/integrations/bybit.md
  docs/integrations/coinbase_intx.md
  docs/integrations/dydx.md
  docs/integrations/polymarket.md
  docs/integrations/tardis.md
Due: none

Create Bird
  Bird
Due: none

Continue LiveNode and AsyncRunner in Rust
  Cargo.lock
  crates/adapters/databento/bin/node_test.rs
  crates/adapters/databento/src/data.rs
  crates/common/src/msgbus/switchboard.rs
  crates/common/src/runner.rs
  crates/data/src/engine/mod.rs
  crates/live/Cargo.toml
  crates/live/src/node.rs
  crates/live/src/runner.rs
  crates/system/src/kernel.rs
  crates/trading/src/trader.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix doc comment referencing private const
  crates/indicators/src/average/lr.rs
Due: fmt, cargo-clippy, cargo-doc

(feat) Additional changes to fully enable the binance dual SPOT/FUTURES feature
  examples/live/binance/binance_spot_and_futures_market_maker.py
  examples/sandbox/binance_spot_futures_sandbox.py
  nautilus_trader/adapters/binance/data.py
  nautilus_trader/adapters/binance/execution.py
Due: none

(cleanup) Formatting cleanup
  examples/sandbox/binance_spot_futures_sandbox.py
Due: none

Continue component lifecycle management in Rust
  Cargo.lock
  crates/adapters/databento/src/data.rs
  crates/adapters/demo/bin/network_stream.rs
  crates/adapters/demo/src/big_brain_actor.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/mod.rs
  crates/common/src/actor/registry.rs
  crates/common/src/actor/tests.rs
  crates/common/src/component.rs
  crates/common/src/throttler.rs
  crates/trading/Cargo.toml
  crates/trading/src/trader.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine and clarify actor and component trait hierarchy
  crates/adapters/databento/src/actor.rs
  crates/common/examples/greeks_actor_example.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/python/actor.rs
  crates/trading/src/trader.rs
Due: fmt, cargo-clippy, cargo-doc

(docs) Adds Binance fixes to RELEASES.md
  RELEASES.md
Due: none

Refine DataActor and Component trait ergonomics
  crates/adapters/databento/src/actor.rs
  crates/common/examples/greeks_actor_example.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/component.rs
  crates/common/src/python/actor.rs
  crates/model/src/python/mod.rs
  crates/trading/src/trader.rs
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/unit_tests/common/test_actor_pyo3.py
Due: fmt, cargo-clippy, cargo-doc

Remove criterion from non-benchmarking crates
  crates/adapters/coinbase_intx/Cargo.toml
  crates/adapters/databento/Cargo.toml
  crates/adapters/demo/Cargo.toml
  crates/adapters/tardis/Cargo.toml
  crates/analysis/Cargo.toml
  crates/data/Cargo.toml
  crates/portfolio/Cargo.toml
  crates/risk/Cargo.toml
  crates/serialization/Cargo.toml
  crates/trading/Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Configure cargo codspeed
  .github/actions/common-setup/action.yml
  .github/workflows/performance.yml
Due: none

Update cargo lock
  Cargo.lock
Due: none

Fix binance spot futures sandbox (#2687)
  RELEASES.md
  examples/live/binance/binance_spot_and_futures_market_maker.py
  examples/sandbox/binance_spot_futures_sandbox.py
  nautilus_trader/adapters/binance/data.py
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/binance/factories.py
  nautilus_trader/adapters/sandbox/execution.py
Due: none

Update dependencies and release notes
  .pre-commit-config.yaml
  Cargo.lock
  RELEASES.md
  pyproject.toml
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix clippy lints
  crates/adapters/databento/src/data.rs
  crates/live/src/node.rs
  crates/live/src/runner.rs
  crates/system/src/kernel.rs
  crates/trading/src/trader.rs
Due: fmt, cargo-clippy, cargo-doc

Add fire_immediately flag parameter for timers
  RELEASES.md
  crates/common/src/clock.rs
  crates/common/src/ffi/clock.rs
  crates/common/src/python/clock.rs
  crates/common/src/python/timer.rs
  crates/common/src/timer.rs
  crates/data/src/aggregation.rs
  crates/data/src/engine/mod.rs
  nautilus_trader/common/component.pxd
  nautilus_trader/common/component.pyx
  nautilus_trader/core/includes/common.h
  nautilus_trader/core/rust/common.pxd
  tests/unit_tests/common/test_clock.py
Due: fmt, cargo-clippy, cargo-doc

Use cargo codspeed for running Rust benchmarks (#2688)
  .github/actions/common-setup/action.yml
  .github/workflows/performance.yml
  Cargo.lock
  crates/adapters/coinbase_intx/Cargo.toml
  crates/adapters/databento/Cargo.toml
  crates/adapters/demo/Cargo.toml
  crates/adapters/tardis/Cargo.toml
  crates/analysis/Cargo.toml
  crates/data/Cargo.toml
  crates/portfolio/Cargo.toml
  crates/risk/Cargo.toml
  crates/serialization/Cargo.toml
  crates/trading/Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc
