Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

makerv3 api runner: add explicit tokenmm allowlist mapping
  examples/live/makerv3/run_api.py
  tests/unit_tests/examples/strategies/test_makerv3_run_api.py
  tests/unit_tests/flux/api/test_app.py
Due: check-non-latin-text

makerv3: enforce multi-node live ops guardrails
  examples/live/makerv3/README.md
  examples/live/makerv3/config/makerv3.live.toml
  examples/live/makerv3/config/makerv3.toml
  examples/live/makerv3/run_node.py
  tests/unit_tests/examples/strategies/test_makerv3_run_node.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

docs: record task5 and task7 phase1 decisions
  docs/plans/2026-03-05-tokenmm-multi-strategy-deployment.md
Due: check-non-latin-text

fix(risk): use queued endpoint for re-entrancy safe command dispatch
  crates/common/src/msgbus/switchboard.rs
  crates/execution/src/order_manager/manager.rs
  crates/risk/src/engine/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Binance Spot User Data Stream execution feed via WebSocket API
  crates/adapters/binance/src/spot/enums.rs
  crates/adapters/binance/src/spot/execution.rs
  crates/adapters/binance/src/spot/http/client.rs
  crates/adapters/binance/src/spot/http/models.rs
  crates/adapters/binance/src/spot/http/query.rs
  crates/adapters/binance/src/spot/websocket/handler_exec.rs
  crates/adapters/binance/src/spot/websocket/messages_exec.rs
  crates/adapters/binance/src/spot/websocket/mod.rs
  crates/adapters/binance/src/spot/websocket/types_exec.rs
  crates/adapters/binance/src/spot/websocket/user_data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Arrow encode schemas for execution and position events
  crates/serialization/src/arrow/account_state.rs
  crates/serialization/src/arrow/funding_rate.rs
  crates/serialization/src/arrow/mod.rs
  crates/serialization/src/arrow/order_accepted.rs
  crates/serialization/src/arrow/order_cancel_rejected.rs
  crates/serialization/src/arrow/order_canceled.rs
  crates/serialization/src/arrow/order_denied.rs
  crates/serialization/src/arrow/order_emulated.rs
  crates/serialization/src/arrow/order_expired.rs
  crates/serialization/src/arrow/order_filled.rs
  crates/serialization/src/arrow/order_initialized.rs
  crates/serialization/src/arrow/order_modify_rejected.rs
  crates/serialization/src/arrow/order_pending_cancel.rs
  crates/serialization/src/arrow/order_pending_update.rs
  crates/serialization/src/arrow/order_rejected.rs
  crates/serialization/src/arrow/order_released.rs
  crates/serialization/src/arrow/order_submitted.rs
  crates/serialization/src/arrow/order_triggered.rs
  crates/serialization/src/arrow/order_updated.rs
  crates/serialization/src/arrow/position_adjusted.rs
  crates/serialization/src/arrow/position_changed.rs
  crates/serialization/src/arrow/position_closed.rs
  crates/serialization/src/arrow/position_opened.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix reconciliation when trigger_price is set for non-conditional orders (#3673)
  crates/execution/src/reconciliation.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix RiskEngine RefCell re-entrancy panic on order denial (#3680)
  crates/common/src/msgbus/switchboard.rs
  crates/execution/src/order_manager/manager.rs
  crates/risk/src/engine/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix docs: convert HTTP URLs to HTTPS for nautilustrader.io
  crates/adapters/architect_ax/README.md
  crates/adapters/betfair/README.md
  crates/adapters/binance/README.md
  crates/adapters/bitmex/README.md
  crates/adapters/blockchain/README.md
  crates/adapters/bybit/README.md
  crates/adapters/databento/README.md
  crates/adapters/deribit/README.md
  crates/adapters/dydx/README.md
  crates/adapters/hyperliquid/README.md
  crates/adapters/kraken/README.md
  crates/adapters/okx/README.md
  crates/adapters/polymarket/README.md
  crates/adapters/sandbox/README.md
  crates/adapters/tardis/README.md
  crates/analysis/README.md
  crates/backtest/README.md
  crates/cli/README.md
  crates/common/README.md
  crates/core/README.md
  crates/cryptography/README.md
  crates/data/README.md
  crates/execution/README.md
  crates/indicators/README.md
  crates/infrastructure/README.md
  crates/live/README.md
  crates/model/README.md
  crates/network/README.md
  crates/persistence/README.md
  crates/portfolio/README.md
  crates/pyo3/README.md
  crates/risk/README.md
  crates/serialization/README.md
  crates/system/README.md
  crates/testkit/README.md
  crates/trading/README.md
Due: check-non-latin-text

Upgrade Rust
  Cargo.toml
  README.md
  rust-toolchain.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  .pre-commit-config.yaml
  .supply-chain/audits.toml
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/uv.lock
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Update release notes
  RELEASES.md
Due: check-non-latin-text

Use stable array_windows for slice window iteration
  Cargo.toml
  RELEASES.md
  crates/common/src/live/clock.rs
  crates/model/src/data/mod.rs
  crates/network/src/socket/client.rs
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/kmerge_batch.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add fix for timer replacement warnings
  RELEASES.md
  crates/common/src/clock.rs
  crates/common/src/live/clock.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add backtest parity for queue position and OTO trigger
  crates/adapters/sandbox/src/config.rs
  crates/backtest/examples/engine_ema_cross.rs
  crates/backtest/examples/node_ema_cross.rs
  crates/backtest/src/config.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/modules/fx_rollover.rs
  crates/backtest/src/node.rs
  crates/backtest/src/python/config.rs
  crates/backtest/src/python/engine.rs
  crates/backtest/src/python/modules.rs
  crates/backtest/tests/backtest_engine.rs
  crates/backtest/tests/backtest_node.rs
  crates/backtest/tests/backtest_node_itch.rs
  crates/backtest/tests/grid_mm.rs
  crates/backtest/tests/grid_mm_itch.rs
  crates/execution/src/matching_engine/config.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/models/latency.rs
  crates/execution/src/python/latency.rs
  crates/execution/src/python/mod.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Markdown table word-split checks to docs hook
  .pre-commit-config.yaml
  .pre-commit-hooks/check_docs_conventions.sh
Due: check-non-latin-text

Add PyO3 bindings for option chain model types
  crates/model/src/data/forward.rs
  crates/model/src/data/option_chain.rs
  crates/model/src/identifiers/option_series_id.rs
  crates/model/src/python/data/forward.rs
  crates/model/src/python/data/mod.rs
  crates/model/src/python/data/option_chain.rs
  crates/model/src/python/identifiers/mod.rs
  crates/model/src/python/identifiers/option_series_id.rs
  crates/model/src/python/mod.rs
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Cython option chain types, messages, and data topics
  nautilus_trader/common/data_topics.pxd
  nautilus_trader/common/data_topics.pyx
  nautilus_trader/data/messages.pxd
  nautilus_trader/data/messages.pyx
  nautilus_trader/model/data.pxd
  nautilus_trader/model/data.pyx
Due: check-non-latin-text

Add Python module for data crate with PyOptionChainManager
  Cargo.lock
  crates/data/Cargo.toml
  crates/data/src/lib.rs
  crates/data/src/python/mod.rs
  crates/data/src/python/option_chain_manager.rs
  crates/pyo3/Cargo.toml
  crates/pyo3/src/lib.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement adapter option chain support and add examples
  crates/adapters/bybit/examples/node_option_chain.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/src/python/websocket.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/deribit/examples/node_option_chain.rs
  crates/adapters/deribit/src/python/http.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/deribit/src/websocket/client.rs
  examples/live/bybit/bybit_option_chain.py
  examples/live/bybit/bybit_option_greeks.py
  examples/live/deribit/deribit_option_chain.py
  examples/live/deribit/deribit_option_greeks.py
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/deribit/data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add option chain engine, client, and actor API
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/data/client.pxd
  nautilus_trader/data/client.pyx
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  nautilus_trader/live/data_client.py
Due: check-non-latin-text

Fix optional Transaction.to Python binding
  crates/model/src/python/defi/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Kraken post-only rejection handling
  RELEASES.md
  crates/adapters/kraken/examples/node_exec_tester.rs
  crates/adapters/kraken/src/common/consts.rs
  crates/adapters/kraken/src/data/futures.rs
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/adapters/kraken/src/python/websocket_futures.rs
  crates/adapters/kraken/src/websocket/futures/client.rs
  crates/adapters/kraken/src/websocket/futures/handler.rs
  crates/adapters/kraken/src/websocket/futures/messages.rs
  crates/adapters/kraken/src/websocket/spot_v2/handler.rs
  crates/adapters/kraken/test_data/ws_futures_open_orders_cancel_post_only.json
  crates/model/src/events/order/rejected.rs
  tests/unit_tests/model/test_events_pyo3.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Betfair order modify Quantity serialization
  RELEASES.md
  nautilus_trader/adapters/betfair/execution.py
  tests/integration_tests/adapters/betfair/test_betfair_parsing.py
Due: check-non-latin-text

Fix dYdX WebSocket duplicate tickers for uncached markets
  RELEASES.md
  crates/adapters/dydx/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix option chain control-plane gaps in Cython engine
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/deribit/data.py
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
Due: check-non-latin-text

Fix Bybit option greeks subscribe to use subscribe_option_greeks
  nautilus_trader/adapters/bybit/data.py
Due: check-non-latin-text

Remove AtmSource enum, hardcode forward price architecture
  crates/adapters/bybit/examples/node_option_chain.rs
  crates/adapters/deribit/examples/node_option_chain.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/messages/data/subscribe.rs
  crates/data/src/engine/mod.rs
  crates/data/src/option_chains/aggregator.rs
  crates/data/src/option_chains/atm_tracker.rs
  crates/data/src/option_chains/handlers.rs
  crates/data/src/option_chains/manager.rs
  crates/data/src/python/option_chain_manager.rs
  crates/model/src/data/mod.rs
  crates/model/src/data/option_chain.rs
  crates/model/src/python/data/option_chain.rs
  crates/model/src/python/mod.rs
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  nautilus_trader/data/messages.pxd
  nautilus_trader/data/messages.pyx
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove Py prefix from Python-facing PyO3 class names
  crates/data/src/python/option_chain_manager.rs
  crates/model/src/python/data/option_chain.rs
  examples/live/bybit/bybit_option_chain.py
  examples/live/deribit/deribit_option_chain.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/data/engine.pyx
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add contract_address to TransactionReceipt
  crates/model/src/defi/data/transaction_receipt.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

PR9: update PCS plan progress and follow-ups
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

PR9: add DeFi wallet tracker and query-account refresh
  crates/adapters/blockchain/bin/node_wallet.rs
  crates/adapters/blockchain/src/config.rs
  crates/adapters/blockchain/src/contracts/erc20.rs
  crates/adapters/blockchain/src/execution/client.rs
  crates/adapters/blockchain/src/execution/metadata_store.rs
  crates/adapters/blockchain/src/execution/mod.rs
  crates/adapters/blockchain/src/execution/wallet.rs
  crates/adapters/blockchain/src/factories.rs
  crates/adapters/blockchain/src/python/config.rs
  crates/adapters/blockchain/tests/pyo3_exec_registry.rs
  crates/adapters/blockchain/tests/wallet_tracker_refresh.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

PR8: add ERC20 allowance/approve flow with fail-closed checks
  crates/adapters/blockchain/src/contracts/erc20.rs
  crates/adapters/blockchain/src/execution/erc20_allowance.rs
  crates/adapters/blockchain/src/execution/mod.rs
  crates/adapters/blockchain/tests/erc20_allowance_flow.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

PR9: append plan log head-sha update
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

feat(blockchain): add pancakeswap v2 quote and swap calldata adapter
  crates/adapters/blockchain/src/contracts/mod.rs
  crates/adapters/blockchain/src/contracts/pancakeswap_v2_router.rs
  crates/adapters/blockchain/src/execution/amm/mod.rs
  crates/adapters/blockchain/src/execution/amm/pancakeswap_v2.rs
  crates/adapters/blockchain/src/execution/mod.rs
  crates/adapters/blockchain/tests/amm_adapter_contract.rs
  crates/adapters/blockchain/tests/pancakeswap_v2_router_calls.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: append PR6b progress log entry
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

rpc: add execution HTTP methods and mock server tests
  Cargo.lock
  crates/adapters/blockchain/Cargo.toml
  crates/adapters/blockchain/src/rpc/http.rs
  crates/adapters/blockchain/tests/common/mod.rs
  crates/adapters/blockchain/tests/rpc_http_execution_methods.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs(plan): append pr10 progress and follow-ups
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

Avoid wallet currency precision collisions
  crates/adapters/blockchain/src/execution/wallet.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs(plan): append PR7 progress and deviations
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
