Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Remove redundant portfolio module docstring
  nautilus_trader/portfolio/portfolio.pyx
Due: check-non-latin-text

Fix rustdoc private intra-doc link
  crates/adapters/hyperliquid/src/common/builder_fee.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add CryptoOption instrument types to pyo3 transformers
  RELEASES.md
  nautilus_trader/cache/transformers.py
  tests/unit_tests/cache/test_transformers.py
Due: check-non-latin-text

Fix Binance Futures algo order serde renames in Rust
  RELEASES.md
  crates/adapters/binance/src/futures/http/models.rs
  crates/adapters/binance/src/futures/websocket/messages.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix duplicate order events in streaming writer
  RELEASES.md
  crates/persistence/src/backend/feather.rs
  nautilus_trader/persistence/writer.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add BacktestNode Python bindings and complete LiveNode builder
  Cargo.lock
  Makefile
  crates/adapters/binance/Cargo.toml
  crates/adapters/binance/src/config.rs
  crates/adapters/binance/src/factories.rs
  crates/adapters/binance/src/python/mod.rs
  crates/backtest/src/config.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/lib.rs
  crates/backtest/src/node.rs
  crates/backtest/src/python/mod.rs
  crates/backtest/src/python/node.rs
  crates/live/src/python/node.rs
  crates/pyo3/Cargo.toml
  crates/pyo3/src/lib.rs
  crates/system/src/python/registry.rs
  pyproject.toml
  python/generate_stubs.py
  python/nautilus_trader/adapters/blockchain/__init__.pyi
  python/nautilus_trader/backtest/__init__.py
  python/nautilus_trader/model/__init__.pyi
  python/pyproject.toml
  python/tests/acceptance/__init__.py
  python/tests/integration/__init__.py
  python/tests/unit/__init__.py
  python/tests/unit/backtest/__init__.py
  python/tests/unit/backtest/test_backtest_configs.py
  python/tests/unit/backtest/test_backtest_node.py
  python/uv.lock
  tests/integration_tests/adapters/tardis/sandbox/run_replay.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket HTTP client in Rust
  crates/adapters/polymarket/src/common/credential.rs
  crates/adapters/polymarket/src/common/enums.rs
  crates/adapters/polymarket/src/common/models.rs
  crates/adapters/polymarket/src/http/client.rs
  crates/adapters/polymarket/src/http/error.rs
  crates/adapters/polymarket/src/http/models.rs
  crates/adapters/polymarket/src/http/query.rs
  crates/adapters/polymarket/src/http/rate_limits.rs
  crates/adapters/polymarket/src/websocket/messages.rs
  crates/adapters/polymarket/test_data/http_balance_allowance_collateral.json
  crates/adapters/polymarket/test_data/http_balance_allowance_no_allowance.json
  crates/adapters/polymarket/test_data/http_batch_cancel_response.json
  crates/adapters/polymarket/test_data/http_cancel_response_failed.json
  crates/adapters/polymarket/test_data/http_cancel_response_ok.json
  crates/adapters/polymarket/test_data/http_open_order.json
  crates/adapters/polymarket/test_data/http_open_order_sell_fok.json
  crates/adapters/polymarket/test_data/http_open_orders_page.json
  crates/adapters/polymarket/test_data/http_order_response_failed.json
  crates/adapters/polymarket/test_data/http_order_response_ok.json
  crates/adapters/polymarket/test_data/http_signed_order.json
  crates/adapters/polymarket/test_data/http_trade_report.json
  crates/adapters/polymarket/test_data/http_trades_page.json
  crates/adapters/polymarket/test_data/ws_book_snapshot.json
  crates/adapters/polymarket/test_data/ws_last_trade.json
  crates/adapters/polymarket/test_data/ws_market_book_msg.json
  crates/adapters/polymarket/test_data/ws_market_last_trade_msg.json
  crates/adapters/polymarket/test_data/ws_market_price_change_msg.json
  crates/adapters/polymarket/test_data/ws_market_tick_size_msg.json
  crates/adapters/polymarket/test_data/ws_quotes.json
  crates/adapters/polymarket/test_data/ws_tick_size_change.json
  crates/adapters/polymarket/test_data/ws_user_order_cancellation.json
  crates/adapters/polymarket/test_data/ws_user_order_msg.json
  crates/adapters/polymarket/test_data/ws_user_order_placement.json
  crates/adapters/polymarket/test_data/ws_user_order_update.json
  crates/adapters/polymarket/test_data/ws_user_trade.json
  crates/adapters/polymarket/test_data/ws_user_trade_msg.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add AX spot FX bars mean reversion tutorial and strategy
  RELEASES.md
  docs/tutorials/ax_fx_mean_reversion.md
  docs/tutorials/ax_gold_book_imbalance.md
  docs/tutorials/dydx_grid_market_maker.md
  examples/backtest/architect_ax_mean_reversion.py
  examples/live/architect_ax/ax_mean_reversion.py
  nautilus_trader/examples/strategies/bb_mean_reversion.py
  pyproject.toml
  tests/unit_tests/examples/strategies/test_bb_mean_reversion.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

update to "worst", fix the last touched logic + update comments
  crates/model/src/ffi/orderbook/book.rs
  crates/model/src/orderbook/analysis.rs
  crates/model/src/orderbook/book.rs
  crates/model/src/orderbook/tests.rs
  crates/model/src/python/orderbook/book.rs
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/core/rust/model.pxd
  nautilus_trader/model/book.pxd
  nautilus_trader/model/book.pyx
  tests/unit_tests/model/test_orderbook.py
  tests/unit_tests/model/test_orderbook_pyo3.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

pre-commit
  crates/model/src/orderbook/book.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add trigger type check to set market price correctly
  nautilus_trader/execution/emulator.pyx
  tests/unit_tests/execution/test_emulator.py
Due: check-non-latin-text

Improve docs tutorials and backtesting mermaid diagram
  docs/concepts/backtesting.md
  docs/tutorials/ax_fx_mean_reversion.md
  docs/tutorials/ax_gold_book_imbalance.md
Due: check-non-latin-text

Refine build script for Windows
  build.py
Due: check-non-latin-text

Fix parsing contract details for IBContractDetails
  nautilus_trader/adapters/interactive_brokers/common.py
Due: check-non-latin-text

Add get_target_px_for_quantity method on OrderBook (#3627)
  RELEASES.md
  crates/model/src/ffi/orderbook/book.rs
  crates/model/src/orderbook/analysis.rs
  crates/model/src/orderbook/book.rs
  crates/model/src/orderbook/tests.rs
  crates/model/src/python/orderbook/book.rs
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/core/rust/model.pxd
  nautilus_trader/model/book.pxd
  nautilus_trader/model/book.pyx
  tests/unit_tests/model/test_orderbook.py
  tests/unit_tests/model/test_orderbook_pyo3.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine build script for Windows (#3636)
  build.py
Due: check-non-latin-text

Fix Interactive Brokers contract details parsing (#3638)
  nautilus_trader/adapters/interactive_brokers/common.py
Due: check-non-latin-text

Update dependencies and release notes
  .pre-commit-config.yaml
  .supply-chain/config.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv-version
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix macOS CI disk space failures
  .github/actions/common-setup/action.yml
  .github/workflows/build.yml
Due: check-non-latin-text

Fix macOS CI disk space failures
  .github/actions/common-setup/action.yml
Due: check-non-latin-text

Improve Hyperliquid volume-based taker fee scaling
  crates/adapters/hyperliquid/src/common/builder_fee.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/python/http.rs
  docs/integrations/hyperliquid.md
  nautilus_trader/adapters/hyperliquid/constants.py
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/hyperliquid/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix BinanceSymbol COIN-M perpetual symbol conversion
  nautilus_trader/adapters/binance/common/symbol.py
  tests/integration_tests/adapters/binance/test_core_functions.py
Due: check-non-latin-text

Fix streaming writer event dedup attribute name
  nautilus_trader/persistence/writer.py
  tests/unit_tests/persistence/test_streaming.py
Due: check-non-latin-text

Fix matching engine L1 queue position tracking
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  tests/unit_tests/backtest/test_matching_engine.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add position reconciliation retry limit
  RELEASES.md
  crates/live/src/config.rs
  crates/live/src/manager.rs
  crates/live/tests/manager.rs
  docs/concepts/live.md
  nautilus_trader/live/config.py
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix position recon retries for hedging positions
  crates/live/src/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove matching engine inside-spread fill check default
  docs/concepts/backtesting.md
  nautilus_trader/execution/matching_core.pxd
  nautilus_trader/execution/matching_core.pyx
  tests/unit_tests/backtest/test_immediate_quote_execution.py
  tests/unit_tests/backtest/test_matching_engine.py
Due: check-non-latin-text

Extract common SBE decoder to nautilus-serialization
  Cargo.lock
  Makefile
  RELEASES.md
  build.py
  crates/adapters/binance/Cargo.toml
  crates/adapters/binance/src/common/sbe/README.md
  crates/adapters/binance/src/common/sbe/error.rs
  crates/adapters/binance/src/common/sbe/mod.rs
  crates/adapters/binance/src/common/sbe/stream/best_bid_ask.rs
  crates/adapters/binance/src/common/sbe/stream/depth_diff.rs
  crates/adapters/binance/src/common/sbe/stream/depth_snapshot.rs
  crates/adapters/binance/src/common/sbe/stream/mod.rs
  crates/adapters/binance/src/common/sbe/stream/trades.rs
  crates/adapters/binance/src/spot/websocket/streams/parse.rs
  crates/adapters/tardis/Cargo.toml
  crates/persistence/Cargo.toml
  crates/pyo3/Cargo.toml
  crates/serialization/Cargo.toml
  crates/serialization/README.md
  crates/serialization/benches/quote_tick_capnp_vs_sbe.rs
  crates/serialization/benches/sbe_decoding.rs
  crates/serialization/src/lib.rs
  crates/serialization/src/python/mod.rs
  crates/serialization/src/sbe/cursor.rs
  crates/serialization/src/sbe/error.rs
  crates/serialization/src/sbe/mod.rs
  crates/serialization/src/sbe/primitives.rs
  crates/testkit/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Betfair stream client in Rust
  Cargo.lock
  crates/adapters/betfair/Cargo.toml
  crates/adapters/betfair/src/stream/client.rs
  crates/adapters/betfair/src/stream/config.rs
  crates/adapters/betfair/src/stream/mod.rs
  crates/adapters/betfair/tests/stream_client.rs
  crates/network/src/socket/client.rs
  crates/network/src/socket/fix.rs
  crates/network/src/socket/mod.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket WebSocket client in Rust
  crates/adapters/polymarket/src/common/urls.rs
  crates/adapters/polymarket/src/websocket/client.rs
  crates/adapters/polymarket/src/websocket/handler.rs
  crates/adapters/polymarket/src/websocket/messages.rs
  crates/adapters/polymarket/src/websocket/mod.rs
  crates/adapters/polymarket/tests/http.rs
  crates/adapters/polymarket/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add is_limit_fillable callback to MatchingCore
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/models/fill.pxd
  nautilus_trader/backtest/models/fill.pyx
  nautilus_trader/execution/matching_core.pxd
  nautilus_trader/execution/matching_core.pyx
  tests/unit_tests/backtest/test_immediate_quote_execution.py
Due: check-non-latin-text

Fix BinanceSymbol COIN-M perpetual symbol conversion (#3641)
  nautilus_trader/adapters/binance/common/symbol.py
  tests/integration_tests/adapters/binance/test_core_functions.py
Due: check-non-latin-text

Update dependencies and release notes
  .pre-commit-config.yaml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Improve BinanceSymbol short-base linear perp conversion
  nautilus_trader/adapters/binance/common/symbol.py
  tests/integration_tests/adapters/binance/test_core_functions.py
Due: check-non-latin-text

Fix streaming backtest bars past data
  RELEASES.md
  crates/backtest/src/engine.rs
  crates/backtest/tests/backtest_engine.rs
  docs/concepts/backtesting.md
  nautilus_trader/backtest/engine.pyx
  tests/unit_tests/backtest/test_engine.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix throttler prop test drain to handle multi-batch buffers
  crates/common/proptest-regressions/throttler.txt
  crates/common/src/throttler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
