Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Refine defi module
  crates/model/src/defi/chain.rs
  crates/model/src/defi/data/block.rs
  crates/model/src/defi/data/liquidity.rs
  crates/model/src/defi/data/transaction.rs
  crates/model/src/defi/dex.rs
  crates/model/src/defi/types/money.rs
  crates/model/src/defi/types/price.rs
  crates/model/src/defi/types/quantity.rs
Due: fmt, cargo-clippy, cargo-doc

Fix flaky spelling
  crates/adapters/tardis/src/csv/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Refine profile.bench and run Rust benchmarks in CI
  .github/workflows/performance.yml
  Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Update developer guide
  docs/developer_guide/benchmarking.md
  docs/developer_guide/coding_standards.md
Due: none

Refine value type decoding for blockchain adapter
  crates/adapters/blockchain/bin/sync_pool_events.rs
  crates/adapters/blockchain/src/data.rs
  crates/adapters/blockchain/src/decode.rs
  crates/adapters/blockchain/src/factories.rs
  crates/adapters/blockchain/src/lib.rs
  crates/model/src/defi/data/amm.rs
Due: fmt, cargo-clippy, cargo-doc

Refine developer guide
  docs/developer_guide/coding_standards.md
Due: none

Implement Display for defi data
  crates/model/src/defi/data/amm.rs
  crates/model/src/defi/data/block.rs
  crates/model/src/defi/data/liquidity.rs
  crates/model/src/defi/data/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Refine blockchain adapter data handling
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/data.rs
Due: fmt, cargo-clippy, cargo-doc

Fix rustdoc lints
  crates/execution/src/engine/mod.rs
  crates/execution/src/matching_engine/adapter.rs
  crates/execution/src/order_emulator/adapter.rs
Due: fmt, cargo-clippy, cargo-doc

Fix cargo profile.bench panic setting
  Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix the issue when connecting IB-TWS on Chinese or more languages.
  nautilus_trader/adapters/interactive_brokers/client/connection.py
Due: none

Refine catalog
  crates/persistence/src/backend/catalog.rs
  nautilus_trader/backtest/config.py
  nautilus_trader/backtest/node.py
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  nautilus_trader/persistence/catalog/base.py
  nautilus_trader/persistence/catalog/parquet.py
  nautilus_trader/persistence/funcs.py
  nautilus_trader/persistence/writer.py
  tests/unit_tests/backtest/test_config.py
Due: fmt, cargo-clippy, cargo-doc

Refine catalog (#2720)
  crates/persistence/src/backend/catalog.rs
  nautilus_trader/backtest/config.py
  nautilus_trader/backtest/node.py
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  nautilus_trader/persistence/catalog/base.py
  nautilus_trader/persistence/catalog/parquet.py
  nautilus_trader/persistence/funcs.py
  nautilus_trader/persistence/writer.py
  tests/unit_tests/backtest/test_config.py
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine defi domain model organization
  crates/model/src/defi/amm.rs
  crates/model/src/defi/data/liquidity.rs
  crates/model/src/defi/data/mod.rs
  crates/model/src/defi/data/swap.rs
  crates/model/src/defi/dex.rs
  crates/model/src/defi/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Refine blockchain adapter naming and logging
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/data.rs
Due: fmt, cargo-clippy, cargo-doc

Rename HasTsInit marker trait
  crates/common/src/messages/mod.rs
  crates/common/src/messages/system/shutdown.rs
  crates/common/src/timer.rs
  crates/model/src/data/bar.rs
  crates/model/src/data/close.rs
  crates/model/src/data/delta.rs
  crates/model/src/data/deltas.rs
  crates/model/src/data/depth.rs
  crates/model/src/data/greeks.rs
  crates/model/src/data/mod.rs
  crates/model/src/data/prices.rs
  crates/model/src/data/quote.rs
  crates/model/src/data/status.rs
  crates/model/src/data/trade.rs
  crates/model/src/defi/amm.rs
  crates/model/src/defi/data/liquidity.rs
  crates/model/src/defi/data/mod.rs
  crates/model/src/defi/data/swap.rs
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/session.rs
  docs/integrations/databento.md
  nautilus_trader/core/includes/common.h
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/rust/common.pxd
  nautilus_trader/core/rust/model.pxd
Due: fmt, cargo-clippy, cargo-doc

Fix cargo doc lints and improve pre-commit hook
  .pre-commit-config.yaml
  Makefile
  crates/core/src/ffi/uuid.rs
  crates/model/src/accounts/any.rs
Due: fmt, cargo-clippy, cargo-doc

Fix taiki-e install-action for cargo-nextest
  .github/actions/common-setup/action.yml
  schema/sql/tables.sql
Due: none

Extend defi domain model with gas metadata
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/data.rs
  crates/adapters/blockchain/src/hypersync/client.rs
  crates/model/src/defi/chain.rs
  crates/model/src/defi/data/block.rs
  crates/model/src/defi/data/mod.rs
  crates/model/src/defi/data/swap.rs
  crates/model/src/defi/dex.rs
  crates/model/src/defi/hex.rs
Due: fmt, cargo-clippy, cargo-doc

Fix Windows build
  .github/workflows/build.yml
  README.md
  build.py
  docs/getting_started/installation.md
Due: none

Fix README and build CI workflow
  .github/workflows/build.yml
  README.md
Due: none
