Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Restrict portfolio greeks to open positions (#4700)
  crates/common/src/greeks.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine custom data concept guide
  docs/concepts/custom_data.md
Due: check-non-latin-text

Refine continuous futures concept guide
  docs/concepts/continuous_futures.md
Due: check-non-latin-text

Fix Hyperliquid TWAP custom data routing
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Test flat portfolio greeks filtering
  crates/common/src/greeks.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align v2 Portfolio query behavior
  MIGRATION_V2.md
  RELEASES.md
  crates/backtest/tests/netting_fill_void.rs
  crates/portfolio/benches/portfolio.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/src/python/mod.rs
  crates/portfolio/tests/portfolio.rs
  crates/trading/src/strategy/api.rs
  crates/trading/src/strategy/core.rs
  docs/api_reference/portfolio.md
  docs/concepts/accounting.md
  docs/concepts/events/account_state.md
  docs/concepts/portfolio.md
  docs/concepts/strategies.md
  docs/getting_started/backtest_low_level.py
  docs/getting_started/quickstart.py
  examples/backtest/example_05_using_portfolio/strategy.py
  examples/backtest/synthetic_data_pnl_test.py
  python/nautilus_trader/portfolio/__init__.pyi
  python/tests/strategies/acceptance.py
  python/tests/unit/common/actor.py
  python/tests/unit/trading/test_trading.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Polymarket order response handling
  crates/adapters/polymarket/src/execution/orders.rs
  crates/adapters/polymarket/src/execution/reports.rs
  crates/adapters/polymarket/src/execution/responses.rs
  crates/adapters/polymarket/tests/exec_client.rs
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Interactive Brokers submit outcomes
  crates/adapters/interactive_brokers/src/execution/core.rs
  crates/adapters/interactive_brokers/src/execution/core_orders.rs
  crates/adapters/interactive_brokers/src/execution/core_tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Isolate registry verifier tests from fork metadata (#4715)
  scripts/ci/test-verify-published-registries-crates.bash
Due: none

Remove unused Python adapter bindings
  crates/adapters/bitmex/src/python/mod.rs
  crates/adapters/bitmex/src/python/urls.rs
  crates/adapters/bybit/src/python/mod.rs
  crates/adapters/bybit/src/python/urls.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  crates/adapters/hyperliquid/src/python/urls.rs
  crates/adapters/interactive_brokers/src/common/enums.rs
  crates/adapters/interactive_brokers/src/common/enums/events.rs
  crates/adapters/interactive_brokers/src/python/enums.rs
  crates/adapters/interactive_brokers/src/python/mod.rs
  crates/adapters/okx/src/common/urls.rs
  crates/adapters/okx/src/python/mod.rs
  crates/adapters/okx/src/python/urls.rs
  python/nautilus_trader/adapters/bitmex/__init__.pyi
  python/nautilus_trader/adapters/bybit/__init__.pyi
  python/nautilus_trader/adapters/hyperliquid/__init__.pyi
  python/nautilus_trader/adapters/interactive_brokers/__init__.pyi
  python/nautilus_trader/adapters/okx/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Emit quote ticks from delayed IB market data (#4719)
  crates/adapters/interactive_brokers/src/data/core_streams.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add sum iterator trait to `Quantity` (#4720)
  crates/model/src/types/quantity.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine data concept guide
  docs/concepts/data/index.md
Due: check-non-latin-text

Refine event concept guide
  docs/concepts/events/account_state.md
  docs/concepts/events/index.md
  docs/concepts/events/order_accepted.md
  docs/concepts/events/order_cancel_rejected.md
  docs/concepts/events/order_canceled.md
  docs/concepts/events/order_denied.md
  docs/concepts/events/order_emulated.md
  docs/concepts/events/order_expired.md
  docs/concepts/events/order_fill_voided.md
  docs/concepts/events/order_filled.md
  docs/concepts/events/order_initialized.md
  docs/concepts/events/order_modify_rejected.md
  docs/concepts/events/order_pending_cancel.md
  docs/concepts/events/order_pending_update.md
  docs/concepts/events/order_rejected.md
  docs/concepts/events/order_released.md
  docs/concepts/events/order_submitted.md
  docs/concepts/events/order_triggered.md
  docs/concepts/events/order_updated.md
  docs/concepts/events/position_changed.md
  docs/concepts/events/position_closed.md
  docs/concepts/events/position_opened.md
Due: check-non-latin-text

Fix Coinbase rate-limited submit outcomes
  crates/adapters/coinbase/src/execution.rs
  docs/concepts/events/order_initialized.md
  docs/integrations/coinbase.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Polymarket order validation
  crates/adapters/polymarket/src/execution/order_builder.rs
  crates/adapters/polymarket/src/execution/orders.rs
  crates/adapters/polymarket/src/execution/submitter.rs
  crates/adapters/polymarket/tests/exec_client.rs
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Guard PyO3 public names
  .pre-commit-hooks/check_pyo3_conventions.sh
  .pre-commit-hooks/check_pyo3_names.py
  .pre-commit-hooks/test_check_pyo3_conventions.sh
  Makefile
  python/tests/unit/test_generate_stubs.py
Due: check-non-latin-text

Refine Greeks concept guide
  docs/concepts/greeks.md
Due: check-non-latin-text

Bound nesting depth in the synthetic formula parser
  crates/model/src/expressions/error.rs
  crates/model/src/expressions/parser.rs
  crates/model/src/instruments/synthetic.rs
  docs/concepts/synthetics.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Normalize the synthetics limits table column widths
  docs/concepts/synthetics.md
Due: check-non-latin-text

Use tolerance for calculated indicator expectations
  crates/indicators/src/average/ama.rs
  crates/indicators/src/average/dema.rs
  crates/indicators/src/average/ema.rs
  crates/indicators/src/average/hma.rs
  crates/indicators/src/average/vidya.rs
  crates/indicators/src/average/vwap.rs
  crates/indicators/src/average/wma.rs
  crates/indicators/src/momentum/bb.rs
  crates/indicators/src/momentum/cci.rs
  crates/indicators/src/momentum/cmo.rs
  crates/indicators/src/momentum/pressure.rs
  crates/indicators/src/momentum/psl.rs
  crates/indicators/src/momentum/roc.rs
  crates/indicators/src/momentum/rsi.rs
  crates/indicators/src/momentum/stochastics.rs
  crates/indicators/src/ratio/efficiency_ratio.rs
  crates/indicators/src/ratio/spread_analyzer.rs
  crates/indicators/src/volatility/kc.rs
  crates/indicators/src/volatility/kp.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Scale indicator test tolerance with magnitude
  crates/indicators/src/momentum/macd.rs
  crates/indicators/src/testing.rs
  crates/indicators/src/volatility/atr.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Expose the risk engine's price sanity check
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reserve nothing for a buy at a negative price
  crates/model/src/accounts/base.rs
  crates/model/src/accounts/cash.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine instrument concept guide
  docs/concepts/instruments/betting_instrument.md
  docs/concepts/instruments/cfd.md
  docs/concepts/instruments/currency_pair.md
  docs/concepts/instruments/futures_contract.md
  docs/concepts/instruments/futures_spread.md
  docs/concepts/instruments/index.md
  docs/concepts/instruments/index_instrument.md
  docs/concepts/instruments/option_contract.md
  docs/concepts/instruments/option_spread.md
  docs/concepts/instruments/synthetic_instrument.md
Due: check-non-latin-text

Fix Hyperliquid historical candle timestamps
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/websocket/parse.rs
  crates/adapters/hyperliquid/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OKX algo order reconciliation
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/execution.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/okx/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden Python identifier reconstruction
  crates/model/src/python/identifiers/instrument_id.rs
  crates/model/src/python/identifiers/symbol.rs
  crates/model/src/python/identifiers/trade_id.rs
  crates/model/src/python/macros.rs
  python/tests/unit/model/test_identifiers.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden Blockchain RPC trust boundaries
  crates/adapters/blockchain/src/config.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/execution/client.rs
  crates/adapters/blockchain/src/python/config.rs
  crates/adapters/blockchain/src/rpc/core.rs
  crates/adapters/blockchain/src/rpc/http.rs
  crates/adapters/blockchain/src/rpc/types.rs
  crates/adapters/blockchain/test_data/execution/rpc_eth_get_transaction_receipt_status_malformed.json
  crates/adapters/blockchain/test_data/execution/rpc_eth_get_transaction_receipt_status_missing.json
  crates/adapters/blockchain/test_data/execution/rpc_eth_get_transaction_receipt_status_noncanonical.json
  crates/adapters/blockchain/test_data/execution/rpc_eth_get_transaction_receipt_status_other.json
  crates/adapters/blockchain/tests/python.rs
  crates/network/src/http/client.rs
  crates/network/src/transport/sockudo.rs
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Preserve WalletAccount reservation precision
  Cargo.lock
  Cargo.toml
  crates/adapters/lighter/fuzz/pornin/Cargo.lock
  crates/model/Cargo.toml
  crates/model/src/accounts/wallet.rs
  crates/portfolio/src/manager.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden Blockchain transaction lifecycle
  crates/adapters/blockchain/src/execution/client.rs
  crates/adapters/blockchain/src/execution/transaction.rs
  crates/adapters/blockchain/src/rpc/http.rs
  crates/adapters/blockchain/test_data/execution/rpc_error_method_not_found.json
  docs/integrations/blockchain.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Preserve Portfolio account compatibility
  crates/model/src/accounts/any.rs
  crates/model/src/accounts/base.rs
  crates/model/src/accounts/betting.rs
  crates/model/src/accounts/cash.rs
  crates/portfolio/src/manager.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Blockchain execution test coverage
  crates/adapters/blockchain/src/execution/client.rs
  crates/adapters/blockchain/src/execution/transaction.rs
  crates/adapters/blockchain/src/rpc/http.rs
  crates/adapters/blockchain/tests/python.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Blockchain config module ownership
  crates/adapters/blockchain/src/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add WalletAccount model and integration
  Cargo.lock
  crates/analysis/src/analyzer.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/result.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/execution/src/engine/mod.rs
  crates/infrastructure/tests/test_cache_database_postgres.rs
  crates/infrastructure/tests/test_cache_redis.rs
  crates/live/src/node/mod.rs
  crates/model/src/accounts/any.rs
  crates/model/src/accounts/base.rs
  crates/model/src/accounts/betting.rs
  crates/model/src/accounts/cash.rs
  crates/model/src/accounts/mod.rs
  crates/model/src/accounts/stubs.rs
  crates/model/src/accounts/wallet.rs
  crates/model/src/events/account/stubs.rs
  crates/model/src/python/account/mod.rs
  crates/model/src/python/account/transformer.rs
  crates/model/src/python/account/wallet.rs
  crates/model/src/python/events/account/state.rs
  crates/model/src/python/mod.rs
  crates/model/test_data/account_legacy_betting.json
  crates/model/test_data/account_legacy_cash.json
  crates/model/test_data/account_legacy_margin.json
  crates/portfolio/Cargo.toml
  crates/portfolio/src/manager.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/src/python/mod.rs
  crates/portfolio/tests/portfolio.rs
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
  docs/api_reference/accounting.md
  docs/concepts/accounting.md
  docs/concepts/events/account_state.md
  python/nautilus_trader/model/__init__.pyi
  python/tests/unit/model/test_accounts.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Validate Blockchain wallet operations
  crates/adapters/blockchain/src/contracts/base.rs
  crates/adapters/blockchain/src/contracts/erc20.rs
  crates/adapters/blockchain/src/execution/client.rs
  crates/adapters/blockchain/src/rpc/http.rs
  crates/adapters/blockchain/test_data/execution/rpc_eth_call_balance_after_wrap.json
  crates/adapters/blockchain/test_data/execution/rpc_eth_call_bool_true.json
  crates/adapters/blockchain/test_data/execution/rpc_eth_call_empty.json
  crates/adapters/blockchain/test_data/execution/rpc_eth_call_max.json
  crates/adapters/blockchain/tests/execution_fork.rs
  docs/integrations/blockchain.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Simplify Blockchain execution slice internals
  crates/adapters/blockchain/src/contracts/erc20.rs
  crates/adapters/blockchain/src/execution/client.rs
  crates/adapters/blockchain/src/rpc/http.rs
  crates/network/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document Blockchain execution slice specification
  .codespellrc
  docs/integrations/blockchain.md
Due: check-non-latin-text

Refine logging concept guide
  docs/concepts/logging.md
Due: check-non-latin-text
