Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Standardize use of testers in examples
  examples/live/bitmex/bitmex_exec_tester.py
  examples/live/bybit/bybit_exec_tester.py
  examples/live/coinbase_intx/coinbase_intx_data_tester.py
  examples/live/coinbase_intx/coinbase_intx_exec_tester.py
  examples/live/coinbase_intx/coinbase_intx_quoter.py
  examples/live/coinbase_intx/coinbase_intx_subscriber.py
  nautilus_trader/test_kit/strategies/tester_exec.py
Due: none

Repair Windows build
  .github/workflows/build.yml
  README.md
  crates/pyo3/Cargo.toml
  crates/pyo3/src/lib.rs
  docs/getting_started/installation.md
  python/pyproject.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Standardize log message formatting
  nautilus_trader/live/data_client.py
Due: none

Remove redundant std feature flag from network crate
  crates/network/Cargo.toml
  crates/network/src/lib.rs
  crates/network/src/ratelimiter/nanos.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Standardize crate READMEs
  crates/adapters/okx/README.md
  crates/analysis/README.md
  crates/backtest/README.md
  crates/cli/README.md
  crates/common/README.md
  crates/core/README.md
  crates/cryptography/README.md
  crates/data/README.md
  crates/execution/README.md
  crates/indicators/README.md
  crates/infrastructure/README.md
  crates/live/README.md
  crates/model/README.md
  crates/network/README.md
  crates/persistence/README.md
  crates/portfolio/README.md
  crates/pyo3/README.md
  crates/serialization/README.md
  crates/system/README.md
  crates/testkit/README.md
  crates/trading/README.md
Due: none

Improve reconciliation scenarios table
  docs/concepts/live.md
Due: none

Fix Bybit maker rebate fee signs
  nautilus_trader/adapters/bybit/config.py
  nautilus_trader/adapters/bybit/factories.py
  nautilus_trader/adapters/bybit/providers.py
  nautilus_trader/adapters/bybit/schemas/instrument.py
Due: none

Relax conditions on start and end of instrument requests in adapters
  crates/common/src/actor/tests.rs
  crates/common/src/messages/data/response.rs
  crates/live/src/data.rs
  nautilus_trader/adapters/binance/data.py
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/coinbase_intx/data.py
  nautilus_trader/adapters/databento/data.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/adapters/polymarket/data.py
  nautilus_trader/adapters/tardis/data.py
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/data/client.pxd
  nautilus_trader/data/client.pyx
  tests/unit_tests/data/test_client.py
Due: fmt, cargo-clippy, cargo-doc

Refine option spread execution
  examples/live/interactive_brokers/notebooks/run_ratio_spread_1x2_qty3.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  nautilus_trader/backtest/matching_engine.pyx
  nautilus_trader/backtest/models/aggregator.pyx
  nautilus_trader/model/identifiers.pyx
  tests/integration_tests/adapters/interactive_brokers/test_spread_execution.py
  tests/unit_tests/model/test_identifiers.py
Due: none

Revert "Fix Bybit maker rebate fee signs"
  nautilus_trader/adapters/bybit/config.py
  nautilus_trader/adapters/bybit/factories.py
  nautilus_trader/adapters/bybit/providers.py
  nautilus_trader/adapters/bybit/schemas/instrument.py
Due: none

Consolidate task and futures cancellation management
  crates/data/src/aggregation.rs
  crates/data/src/engine/mod.rs
  nautilus_trader/adapters/binance/websocket/client.py
  nautilus_trader/adapters/bitmex/data.py
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/bybit/websocket/client.py
  nautilus_trader/adapters/coinbase_intx/data.py
  nautilus_trader/adapters/coinbase_intx/execution.py
  nautilus_trader/adapters/databento/data.py
  nautilus_trader/adapters/dydx/data.py
  nautilus_trader/adapters/dydx/websocket/client.py
  nautilus_trader/adapters/interactive_brokers/client/order.py
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/adapters/polymarket/execution.py
  nautilus_trader/adapters/polymarket/websocket/client.py
  nautilus_trader/adapters/tardis/data.py
  nautilus_trader/live/cancellation.py
  nautilus_trader/live/data_client.py
  nautilus_trader/live/execution_client.py
  tests/unit_tests/live/test_cancellation.py
Due: fmt, cargo-clippy, cargo-doc

Normalize venue to Tardis exchange mapping format
  nautilus_trader/adapters/tardis/providers.py
Due: none

Relax conditions on start and end of instrument requests in adapters (#2867)
  crates/common/src/actor/tests.rs
  crates/common/src/messages/data/response.rs
  crates/live/src/data.rs
  nautilus_trader/adapters/binance/data.py
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/coinbase_intx/data.py
  nautilus_trader/adapters/databento/data.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/adapters/polymarket/data.py
  nautilus_trader/adapters/tardis/data.py
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/data/client.pxd
  nautilus_trader/data/client.pyx
  tests/unit_tests/data/test_client.py
Due: fmt, cargo-clippy, cargo-doc

Refine option spread execution (#2859)
  examples/live/interactive_brokers/notebooks/run_ratio_spread_1x2_qty3.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  nautilus_trader/backtest/matching_engine.pyx
  nautilus_trader/backtest/models/aggregator.pyx
  nautilus_trader/model/identifiers.pyx
  tests/integration_tests/adapters/interactive_brokers/test_spread_execution.py
  tests/unit_tests/model/test_identifiers.py
Due: none

Fix Bybit instrument provider fee rate handling
  RELEASES.md
  nautilus_trader/adapters/bybit/providers.py
Due: none

Improve safety and documentation for databento crate
  crates/adapters/databento/README.md
  crates/adapters/databento/src/data.rs
  crates/adapters/databento/src/decode.rs
  crates/adapters/databento/src/lib.rs
  crates/adapters/databento/src/live.rs
  crates/adapters/databento/src/python/mod.rs
  crates/adapters/databento/src/symbology.rs
  crates/adapters/databento/src/types.rs
  examples/live/databento/databento_data_tester.py
Due: fmt, cargo-clippy, cargo-doc

Add a complete .env.example template to guide environment configuration
  .env.example
  README.md
Due: none

Small improvement.
  .env.example
Due: none

Refine OKX data client
  nautilus_trader/adapters/okx/data.py
Due: none

Implement instrument caching for BitMEX precision handling
  crates/adapters/bitmex/bin/ws-data.rs
  crates/adapters/bitmex/bin/ws-exec.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/python/http.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/bitmex/src/websocket/parse.rs
  examples/live/bitmex/bitmex_data_tester.py
  nautilus_trader/adapters/bitmex/data.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/live/data_client.py
Due: fmt, cargo-clippy, cargo-doc

Small improvement.
  .env.example
  README.md
  docs/concepts/data.md
Due: none

Update dependencies and release notes
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  python/pyproject.toml
  python/uv.lock
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add Position tests
  tests/unit_tests/model/test_position.py
Due: none

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
