Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Add support for raw and aggregated WebSocket data streams in Deribit example script with auth
  crates/adapters/deribit/bin/ws_data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(ib): skip zero-quantity expired options during reconciliation
  nautilus_trader/adapters/interactive_brokers/execution.py
Due: check-non-latin-text

Improve `send_response` message handling by adding explicit matching for `DataResponse` variants
  crates/common/src/msgbus/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor message handling to use `DataResponse` variants with explicit response sending in data actor tests
  crates/common/src/actor/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Move `datetime_to_unix_nanos` to`core` crate and remove duplicate implementations
  crates/adapters/bitmex/src/data/mod.rs
  crates/adapters/dydx/src/data/mod.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/okx/src/data/mod.rs
  crates/core/src/datetime.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add `Clone` implementation for `DeribitHttpClient`
  crates/adapters/deribit/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add `ANY` currency support to Deribit HTTP models
  crates/adapters/deribit/src/http/models.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add `min_quantity` support in Deribit instrument parsing
  crates/adapters/deribit/src/common/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Deribit data client factory and configuration module
  crates/adapters/deribit/src/config.rs
  crates/adapters/deribit/src/factories.rs
  crates/adapters/deribit/src/lib.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Scaffold initial Deribit Rust DataClient
  crates/adapters/deribit/src/data/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add example for live data testing with Deribit adapter
  crates/adapters/deribit/Cargo.toml
  crates/adapters/deribit/examples/node_data_tester.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine loading of files in catalog
  nautilus_trader/persistence/catalog/parquet.py
Due: check-non-latin-text

Refactor SpreadQuoteAggregator
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/adapters/databento/data_utils.py
  nautilus_trader/backtest/data_client.pxd
  nautilus_trader/backtest/data_client.pyx
  nautilus_trader/backtest/models/__init__.pxd
  nautilus_trader/backtest/models/__init__.py
  nautilus_trader/backtest/models/aggregator.pxd
  nautilus_trader/backtest/models/aggregator.pyx
  nautilus_trader/data/aggregation.pxd
  nautilus_trader/data/aggregation.pyx
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  tests/acceptance_tests/test_backtest.py
  tests/test_data/databento/historical_bars_catalog/databento/futures_mbp-1_2024-07-01T23-58_2024-07-02T00-02.dbn.zst
  tests/test_data/databento/historical_bars_catalog/databento/futures_ohlcv-1m_2024-07-01T23-40_2024-07-02T00-10.dbn.zst
  tests/test_data/databento/historical_bars_catalog/databento/futures_trades_2024-07-01T23-58_2024-07-02T00-02.dbn.zst
  tests/test_data/databento/options_catalog/databento/futures_bbo-1m_2024-05-09T09-55_2024-05-09T10-05.dbn.zst
  tests/test_data/databento/options_catalog/databento/futures_bbo-1m_2024-05-09T10h00_2024-05-09T10h05.dbn.zst
  tests/test_data/databento/options_catalog/databento/futures_ohlcv-1m_2024-05-09T09-55_2024-05-09T10-05.dbn.zst
  tests/test_data/databento/options_catalog/databento/futures_ohlcv-1m_2024-05-09T10h00_2024-05-09T10h05.dbn.zst
  tests/test_data/databento/options_catalog/databento/options_bbo-1m_2024-05-09T09-55_2024-05-09T10-05.dbn.zst
  tests/test_data/databento/options_catalog/databento/options_bbo-1m_2024-05-09T10h00_2024-05-09T10h05.dbn.zst
  tests/unit_tests/data/test_aggregation.py
  tests/unit_tests/data/test_engine.py
Due: check-non-latin-text

Add Python bindings support for Deribit HTTP/WebSocket clients and enums
  Cargo.lock
  crates/adapters/deribit/src/http/client.rs
  crates/adapters/deribit/src/http/models.rs
  crates/adapters/deribit/src/python/enums.rs
  crates/adapters/deribit/src/python/http.rs
  crates/adapters/deribit/src/python/mod.rs
  crates/adapters/deribit/src/python/urls.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/deribit/src/websocket/client.rs
  crates/adapters/deribit/src/websocket/enums.rs
  crates/pyo3/Cargo.toml
  crates/pyo3/src/lib.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add python Deribit adapter implementation in nautilus_trader
  nautilus_trader/adapters/deribit/__init__.py
  nautilus_trader/adapters/deribit/config.py
  nautilus_trader/adapters/deribit/constants.py
  nautilus_trader/adapters/deribit/data.py
  nautilus_trader/adapters/deribit/factories.py
  nautilus_trader/adapters/deribit/providers.py
Due: check-non-latin-text

Add example script for testing live market data with Deribit adapter
  examples/live/deribit/deribit_data_tester.py
Due: check-non-latin-text

Add Python type stubs for Deribit HTTP and WebSocket clients, enums, and functions
  nautilus_trader/core/nautilus_pyo3.pyi
Due: none

Create integration tests for Deribit adapter including fixtures and data client functionality
  tests/integration_tests/adapters/deribit/__init__.py
  tests/integration_tests/adapters/deribit/conftest.py
  tests/integration_tests/adapters/deribit/test_data.py
Due: check-non-latin-text

Refine catalog file filter methods
  nautilus_trader/persistence/catalog/parquet.py
Due: check-non-latin-text

Add exchange param for IB spread contracts
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  tests/integration_tests/adapters/interactive_brokers/test_providers.py
Due: check-non-latin-text

Small improvement.
  crates/adapters/dydx/src/data/mod.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/websocket/enums.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/messages.rs
  crates/adapters/dydx/tests/execution.rs
  crates/adapters/dydx/tests/websocket.rs
  examples/live/dydx/dydx_v4_data_tester.py
  examples/live/dydx/dydx_v4_exec_tester.py
  nautilus_trader/adapters/dydx_v4/execution.py
  tests/integration_tests/adapters/dydx/test_execution.py
  tests/integration_tests/adapters/dydx_v4/__init__.py
  tests/integration_tests/adapters/dydx_v4/conftest.py
  tests/integration_tests/adapters/dydx_v4/test_enum_variants.py
  tests/integration_tests/adapters/dydx_v4/test_websocket_logging.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/dydx/tests/execution.rs
  tests/integration_tests/adapters/dydx/test_execution.py
  tests/integration_tests/adapters/dydx_v4/__init__.py
  tests/integration_tests/adapters/dydx_v4/conftest.py
  tests/integration_tests/adapters/dydx_v4/test_enum_variants.py
  tests/integration_tests/adapters/dydx_v4/test_websocket_logging.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix inconsistent error handling and add delays for concurrent client execution in BitMEX submitter tests
  crates/adapters/bitmex/src/execution/submitter.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Replace `tokio::spawn()` with `get_runtime().spawn()` across adapters for consistent runtime selection
  Cargo.lock
  crates/adapters/bitmex/src/data/mod.rs
  crates/adapters/bitmex/src/execution/canceller.rs
  crates/adapters/bitmex/src/execution/mod.rs
  crates/adapters/bitmex/src/execution/submitter.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bybit/src/python/websocket.rs
  crates/adapters/coinbase_intx/src/fix/client.rs
  crates/adapters/coinbase_intx/src/python/websocket.rs
  crates/adapters/coinbase_intx/src/websocket/client.rs
  crates/adapters/databento/src/data.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/deribit/src/websocket/client.rs
  crates/adapters/dydx/src/data/mod.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/dydx/src/websocket/client.rs
  crates/adapters/dydx/tests/http.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/post.rs
  crates/adapters/kraken/src/python/websocket_futures.rs
  crates/adapters/kraken/src/python/websocket_spot.rs
  crates/adapters/okx/src/data/mod.rs
  crates/adapters/okx/src/execution/mod.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/tardis/Cargo.toml
  crates/adapters/tardis/src/machine/mod.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add tests for single instrument request handling across Kraken, Deribit, and OKX adapters
  tests/integration_tests/adapters/deribit/test_data.py
  tests/integration_tests/adapters/kraken/test_data.py
  tests/integration_tests/adapters/okx/test_data.py
Due: check-non-latin-text

Refactor instrument handling in Kraken and OKX adapters to separate caching from publishing
  nautilus_trader/adapters/deribit/data.py
  nautilus_trader/adapters/kraken/data.py
  nautilus_trader/adapters/okx/data.py
Due: check-non-latin-text

Implement requesting of instruments in the Deribit adapter
  crates/adapters/deribit/src/data/mod.rs
  nautilus_trader/adapters/deribit/data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement requesting of trade ticks in the Deribit adapter
  Cargo.lock
  crates/adapters/deribit/src/common/parse.rs
  crates/adapters/deribit/src/data/mod.rs
  crates/adapters/deribit/src/http/client.rs
  crates/adapters/deribit/src/http/models.rs
  crates/adapters/deribit/src/http/query.rs
  crates/adapters/deribit/src/python/http.rs
  crates/adapters/deribit/test_data/http_get_last_trades.json
  crates/adapters/deribit/tests/http_public.rs
  crates/testkit/Cargo.toml
  crates/testkit/src/testers/data.rs
  nautilus_trader/adapters/deribit/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add WaveTrend multi-timeframe strategy design
  docs/plans/2025-12-21-wavetrend-mtf-design.md
Due: check-non-latin-text

Add .worktrees/ to .gitignore
  .gitignore
Due: none

Allow separate aggregators for historical data
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  tests/unit_tests/data/test_engine.py
Due: check-non-latin-text

Add theme support to bars_with_fills chart
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/analysis/tearsheet.py
Due: check-non-latin-text

Add WaveTrend Multi-Timeframe Strategy V4.3 Improved
  examples/backtest/backtest_wavetrend_mtf.py
  examples/backtest/backtest_wavetrend_mtf_v4_4b.py
  examples/backtest/backtest_wavetrend_mtf_v4_4c.py
  examples/utils/download_binance_data.py
  nautilus_trader/examples/strategies/wavetrend_mtf.py
  nautilus_trader/examples/strategies/wavetrend_mtf_v4_2_enhanced.py
  nautilus_trader/examples/strategies/wavetrend_mtf_v4_3_improved.py
Due: check-non-latin-text

Add WaveTrend Multi-Timeframe V4 Adaptive Strategy
  docs/plans/2025-12-21-wavetrend-mtf-implementation.md
  docs/plans/2025-12-22-wavetrend-v4-improvements.md
  examples/backtest/backtest_wavetrend_mtf_v2.py
  examples/backtest/backtest_wavetrend_mtf_v3.py
  examples/backtest/backtest_wavetrend_mtf_v4.py
  examples/backtest/backtest_wavetrend_mtf_v4_1.py
  examples/backtest/backtest_wavetrend_mtf_v4_2.py
  examples/backtest/backtest_wavetrend_mtf_v4_3.py
  examples/backtest/backtest_wavetrend_mtf_v4_adaptive.py
  nautilus_trader/examples/strategies/wavetrend_mtf_v2.py
  nautilus_trader/examples/strategies/wavetrend_mtf_v3.py
  nautilus_trader/examples/strategies/wavetrend_mtf_v4.py
  nautilus_trader/examples/strategies/wavetrend_mtf_v4_1.py
  nautilus_trader/examples/strategies/wavetrend_mtf_v4_2.py
  nautilus_trader/examples/strategies/wavetrend_mtf_v4_3.py
  nautilus_trader/examples/strategies/wavetrend_mtf_v4_adaptive.py
Due: check-non-latin-text

Add bulk subscriptions to databento Python adapter
  nautilus_trader/adapters/databento/data.py
  nautilus_trader/common/actor.pyx
Due: check-non-latin-text

Refine requests and aggregators
  examples/backtest/notebooks/databento_test_request_bars.py
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/data/aggregation.pxd
  nautilus_trader/data/aggregation.pyx
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  nautilus_trader/test_kit/mocks/data.py
  tests/unit_tests/data/test_engine.py
Due: check-non-latin-text

Refine parsing of IB expiries
  examples/live/interactive_brokers/notebooks/bracket_order_example.py
  examples/live/interactive_brokers/notebooks/oca_group_example.py
  examples/live/interactive_brokers/notebooks/simple_conditions_example.py
  examples/live/interactive_brokers/notebooks/spread_example.py
  examples/live/interactive_brokers/notebooks/with_databento_instrument_id_example.py
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
  tests/integration_tests/adapters/interactive_brokers/test_providers.py
Due: check-non-latin-text

Fix FixedRiskSizer handling for FuturesContract when max_quantity is None (#3333)
  nautilus_trader/risk/sizing.pyx
  tests/unit_tests/risk/test_sizing.py
Due: check-non-latin-text

Add consolidated schema support in Databento historical client
  RELEASES.md
  crates/adapters/databento/src/historical.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add subscription acknowledgement handling in Databento adapter
  RELEASES.md
  crates/adapters/databento/src/data.rs
  crates/adapters/databento/src/live.rs
  crates/adapters/databento/src/python/live.rs
  crates/adapters/databento/src/python/mod.rs
  crates/adapters/databento/src/python/types.rs
  crates/adapters/databento/src/types.rs
  nautilus_trader/adapters/databento/data.py
  nautilus_trader/adapters/databento/types.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
