Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Remove Hyperliquid data client dead code
  crates/adapters/hyperliquid/benches/data.rs
  crates/adapters/hyperliquid/benches/exec.rs
  crates/adapters/hyperliquid/benches/micros.rs
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/hyperliquid/src/websocket/dispatch.rs
  crates/adapters/hyperliquid/tests/dispatch.rs
  docs/integrations/hyperliquid.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Hyperliquid benchmark report with bench-lto profile
  BENCHMARKING.md
  Cargo.toml
  RELEASES.md
  crates/adapters/hyperliquid/benches/BENCHMARKS.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Update dependencies
  .pre-commit-config.yaml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  deny.toml
  pyproject.toml
  python/pyproject.toml
  python/uv.lock
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Add cargo machete pre-commit hook
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks/cargo_machete.sh
  .pre-commit-hooks/check_cargo_conventions.sh
  Cargo.lock
  RELEASES.md
  crates/adapters/architect_ax/Cargo.toml
  crates/adapters/betfair/Cargo.toml
  crates/adapters/coinbase/Cargo.toml
  crates/adapters/interactive_brokers/Cargo.toml
  crates/live/Cargo.toml
  crates/system/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix dYdX HTTP rate limiter bypass — pass rate limit keys
  crates/adapters/dydx/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OKX unsubscribe_instrument DataClient override
  RELEASES.md
  crates/adapters/okx/src/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Ignore umbrella unmaintained announcement advisory
  deny.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix Betfair snapshot deltas and traded volume tracking
  RELEASES.md
  crates/adapters/betfair/src/data.rs
  crates/adapters/betfair/src/loader.rs
  crates/adapters/betfair/src/stream/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add BSC chain and structured PoolProfiler errors
  RELEASES.md
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/exchanges/bsc/mod.rs
  crates/adapters/blockchain/src/exchanges/bsc/pancakeswap_v3.rs
  crates/adapters/blockchain/src/exchanges/bsc/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/mod.rs
  crates/adapters/blockchain/src/rpc/chains/bsc.rs
  crates/adapters/blockchain/src/rpc/mod.rs
  crates/adapters/blockchain/src/rpc/providers.rs
  crates/data/src/defi/engine.rs
  crates/data/tests/engine.rs
  crates/model/src/defi/pool_analysis/error.rs
  crates/model/src/defi/pool_analysis/mod.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/pool_analysis/size_estimator.rs
  crates/model/src/defi/pool_analysis/tests.rs
  crates/model/src/defi/tick_map/liquidity_math.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix dYdX rate limiter being skipped due to missing keys (#4091)
  crates/adapters/dydx/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine interactive_brokers crate dependencies
  RELEASES.md
  crates/adapters/interactive_brokers/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Add nautilus-plugin crate for C-ABI plug-in system
  .supply-chain/config.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/plugin/Cargo.toml
  crates/plugin/LICENSE
  crates/plugin/README.md
  crates/plugin/examples/custom_data_plugin.rs
  crates/plugin/src/boundary.rs
  crates/plugin/src/host.rs
  crates/plugin/src/lib.rs
  crates/plugin/src/loader.rs
  crates/plugin/src/macros.rs
  crates/plugin/src/manifest.rs
  crates/plugin/src/panic.rs
  crates/plugin/src/surfaces/actor.rs
  crates/plugin/src/surfaces/custom_data.rs
  crates/plugin/src/surfaces/mod.rs
  crates/plugin/src/surfaces/strategy.rs
  crates/plugin/tests/hook_dispatch.rs
  crates/plugin/tests/load_example_cdylib.rs
  crates/plugin/tests/macro_expansion.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix BacktestEngine shutdown settlement with latency
  RELEASES.md
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/tests/backtest_engine.rs
  docs/concepts/backtesting.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add generic structured key-value fields to LogLine
  Cargo.toml
  crates/common/src/logging/logger.rs
  crates/common/src/logging/writer.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add nautilus-event-store header capture and causation_id
  Cargo.lock
  crates/adapters/architect_ax/tests/exec_client.rs
  crates/adapters/hyperliquid/tests/exec_client.rs
  crates/adapters/interactive_brokers/src/execution/core.rs
  crates/adapters/kraken/src/common/order_params.rs
  crates/adapters/okx/tests/exec_client.rs
  crates/adapters/polymarket/tests/exec_client.rs
  crates/common/src/messages/execution/cancel.rs
  crates/common/src/messages/execution/modify.rs
  crates/common/src/messages/execution/query.rs
  crates/common/src/messages/execution/report.rs
  crates/common/src/messages/execution/submit.rs
  crates/common/src/serialization/capnp/trading.rs
  crates/event_store/README.md
  crates/event_store/benches/hash.rs
  crates/event_store/src/backend/memory.rs
  crates/event_store/src/backend/mod.rs
  crates/event_store/src/backend/redb.rs
  crates/event_store/src/capture/adapter.rs
  crates/event_store/src/capture/builtins.rs
  crates/event_store/src/capture/encoder.rs
  crates/event_store/src/capture/mod.rs
  crates/event_store/src/capture/registry.rs
  crates/event_store/src/hash.rs
  crates/event_store/src/headers.rs
  crates/event_store/src/kernel.rs
  crates/event_store/src/reader/mod.rs
  crates/event_store/src/verifier/mod.rs
  crates/event_store/tests/capture.rs
  crates/event_store/tests/envelope.rs
  crates/event_store/tests/reader.rs
  crates/event_store/tests/redb.rs
  crates/event_store/tests/writer.rs
  crates/execution/tests/exec_engine.rs
  crates/plugin/Cargo.toml
  crates/serialization/generated/capnp/commands/trading_capnp.rs
  crates/serialization/schemas/capnp/commands/trading.capnp
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Binance futures liquidation custom data subscriptions
  crates/adapters/binance/src/data_types.rs
  crates/adapters/binance/src/futures/data.rs
  crates/adapters/binance/src/lib.rs
  crates/adapters/binance/src/python/mod.rs
  crates/adapters/binance/src/python/types.rs
  crates/adapters/binance/tests/futures/data_client.rs
  docs/integrations/binance.md
  nautilus_trader/adapters/binance/__init__.py
  tests/integration_tests/adapters/binance/test_core_types.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add MessageBusTransport trait and wire into MessageBus
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/database.rs
  crates/common/src/msgbus/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add forward_to_transport and wire into publish functions
  Cargo.lock
  crates/common/Cargo.toml
  crates/common/src/msgbus/api.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement MessageBusTransport for RedisMessageBusDatabase
  crates/infrastructure/src/redis/msgbus.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Derive Serialize/Deserialize on PositionEvent enum
  crates/model/src/events/position/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Wire MessageBusTransport into NautilusKernelBuilder
  crates/system/src/builder.rs
  crates/system/src/kernel.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Optimize forward_to_transport with HAS_TRANSPORT fast path
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Disambiguate close() call in test for dual-trait impl
  crates/infrastructure/src/redis/msgbus.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add generic structured key-value fields to LogLine (#4090)
  Cargo.toml
  crates/common/src/logging/logger.rs
  crates/common/src/logging/writer.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OKX canonical benches and refine hot paths
  RELEASES.md
  crates/adapters/okx/Cargo.toml
  crates/adapters/okx/benches/BENCHMARKS.md
  crates/adapters/okx/benches/common/mod.rs
  crates/adapters/okx/benches/data.rs
  crates/adapters/okx/benches/exec.rs
  crates/adapters/okx/benches/micros.rs
  crates/adapters/okx/benches/signing.rs
  crates/adapters/okx/benches/websocket.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket canonical benches and refine parsing hot paths
  Cargo.lock
  RELEASES.md
  crates/adapters/polymarket/Cargo.toml
  crates/adapters/polymarket/benches/BENCHMARKS.md
  crates/adapters/polymarket/benches/common/mod.rs
  crates/adapters/polymarket/benches/data.rs
  crates/adapters/polymarket/benches/exec.rs
  crates/adapters/polymarket/benches/micros.rs
  crates/adapters/polymarket/benches/signing.rs
  crates/adapters/polymarket/src/execution/parse.rs
  crates/adapters/polymarket/src/websocket/dispatch.rs
  crates/adapters/polymarket/src/websocket/parse.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add v2 stub generation step to build-debug-v2
  Makefile
Due: none

Align Binance liquidation docs with PyO3 strategy usage
  docs/integrations/binance.md
Due: check-non-latin-text

Fix IB request_instruments returning cumulative cache
  nautilus_trader/adapters/interactive_brokers/historical/client.py
  tests/integration_tests/adapters/interactive_brokers/test_historical_client.py
Due: check-non-latin-text

Guard IBKR cancel and modify readiness
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  tests/integration_tests/adapters/interactive_brokers/test_execution.py
Due: check-non-latin-text

Add Deribit combo instruments and trade leg metadata
  crates/adapters/deribit/bin/http_public.rs
  crates/adapters/deribit/bin/ws_data.rs
  crates/adapters/deribit/src/common/mod.rs
  crates/adapters/deribit/src/common/models.rs
  crates/adapters/deribit/src/common/parse.rs
  crates/adapters/deribit/src/http/client.rs
  crates/adapters/deribit/src/http/models.rs
  crates/adapters/deribit/src/http/query.rs
  crates/adapters/deribit/src/websocket/messages.rs
  crates/adapters/deribit/src/websocket/parse.rs
  crates/adapters/deribit/test_data/http_get_combos.json
  crates/adapters/deribit/test_data/http_get_instruments_future_combo.json
  crates/adapters/deribit/test_data/http_get_instruments_option_combo.json
  crates/adapters/deribit/test_data/http_get_last_trades_future_combo.json
  crates/adapters/deribit/test_data/http_get_last_trades_historical_combo.json
  crates/adapters/deribit/test_data/http_get_last_trades_option_combo.json
  crates/adapters/deribit/test_data/http_get_last_trades_perpetual_with_combo_tags.json
  crates/adapters/deribit/test_data/ws_trades_option_combo.json
  crates/model/src/instruments/futures_spread.rs
  crates/model/src/instruments/option_spread.rs
  docs/integrations/deribit.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add pre-flight timing and quiet security-audit output
  Makefile
Due: none

Document dead_code allow in adapter bench commons
  crates/adapters/hyperliquid/benches/common/mod.rs
  crates/adapters/okx/benches/common/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Betfair RCM custom data timestamps
  RELEASES.md
  crates/adapters/betfair/src/data.rs
  crates/adapters/betfair/src/loader.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Deribit block/RFQ/combo trades tagging via ID prefix
  RELEASES.md
  crates/adapters/deribit/src/common/parse.rs
  crates/adapters/deribit/src/websocket/messages.rs
  crates/adapters/deribit/src/websocket/parse.rs
  docs/integrations/deribit.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Portfolio PyO3 bindings
  Cargo.lock
  RELEASES.md
  crates/portfolio/Cargo.toml
  crates/portfolio/src/config.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/src/python/mod.rs
  crates/portfolio/tests/portfolio.rs
  crates/pyo3/Cargo.toml
  crates/pyo3/src/lib.rs
  crates/trading/Cargo.toml
  crates/trading/src/python/strategy.rs
  python/nautilus_trader/portfolio/__init__.py
  python/nautilus_trader/portfolio/__init__.pyi
  python/nautilus_trader/trading/__init__.pyi
  python/tests/unit/common/actor.py
  python/tests/unit/portfolio/__init__.py
  python/tests/unit/portfolio/test_portfolio.py
  python/tests/unit/trading/test_trading.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add LiveNode plug-in actor and strategy adapters
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/live/Cargo.toml
  crates/live/src/lib.rs
  crates/live/src/plugin/actor.rs
  crates/live/src/plugin/commands.rs
  crates/live/src/plugin/custom_data.rs
  crates/live/src/plugin/host.rs
  crates/live/src/plugin/mod.rs
  crates/live/src/plugin/registry.rs
  crates/live/src/plugin/strategy.rs
  crates/live/tests/plugin.rs
  crates/live/tests/plugin_in_process.rs
  crates/plugin/README.md
  crates/plugin/examples/custom_data_plugin.rs
  crates/plugin/src/loader.rs
  crates/plugin/src/surfaces/actor.rs
  crates/plugin/src/surfaces/strategy.rs
  crates/plugin/tests/hook_dispatch.rs
  crates/plugin/tests/macro_expansion.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Binance Spot data client error when SBE credentials are missing
  crates/adapters/binance/src/spot/data.rs
  crates/adapters/binance/src/spot/websocket/streams/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
