Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Remove warn log when closing user stream in polymarket execution client
  crates/adapters/polymarket/src/execution/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: move task 8 into quality review
  docs/plans/2026-03-17-equities-makerv4-split.md
Due: check-non-latin-text

docs: record task 8 quality pass
  docs/plans/2026-03-17-equities-makerv4-split.md
Due: check-non-latin-text

feat: retire active equities makerv4 contract
  deploy/equities/README.md
  fluxboard/Params.tsx
  fluxboard/__tests__/components/ParamsProfileColumns.test.tsx
  fluxboard/__tests__/config/paramsProfiles.test.ts
  fluxboard/components/domain/signal/EquitiesArbSignalTable.tsx
  fluxboard/components/domain/signal/SignalTable.store.test.ts
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/config/paramsProfiles.ts
  fluxboard/stores.ts
  fluxboard/tests/signal/EquitiesArbSignalTable.test.tsx
  fluxboard/tests/signal/SignalFamilyFilter.test.tsx
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text

fix: move equities signal route to shared arb table
  fluxboard/components/domain/signal/EquitiesArbSignalTable.tsx
  fluxboard/components/domain/signal/MakerV4SignalTable.tsx
Due: none

docs: complete task 8 tracker
  docs/plans/2026-03-17-equities-makerv4-split.md
Due: check-non-latin-text

feat(fluxboard): define realtime standard contract
  fluxboard/__tests__/config/featureFlags.test.ts
  fluxboard/__tests__/realtime/types.test.ts
  fluxboard/config/featureFlags.ts
  fluxboard/lib/realtime/constants.ts
  fluxboard/lib/realtime/types.ts
Due: none

test: realign realtime baseline verification
  docs/plans/2026-03-19-fluxboard-performance-improvement-plan.md
  fluxboard/__tests__/realtime/baseline-budgets.test.tsx
Due: check-non-latin-text

chore(equities): persist take-take cooldown defaults
  deploy/equities/strategies/aapl_tradexyz_makerv4.toml
  deploy/equities/strategies/amd_tradexyz_makerv4.toml
  deploy/equities/strategies/amzn_binance_perp_makerv4.toml
  deploy/equities/strategies/amzn_tradexyz_makerv4.toml
  deploy/equities/strategies/baba_tradexyz_makerv4.toml
  deploy/equities/strategies/coin_binance_perp_makerv4.toml
  deploy/equities/strategies/coin_tradexyz_makerv4.toml
  deploy/equities/strategies/crcl_binance_perp_makerv4.toml
  deploy/equities/strategies/crcl_tradexyz_makerv4.toml
  deploy/equities/strategies/crwv_tradexyz_makerv4.toml
  deploy/equities/strategies/equities.strategy.template.toml
  deploy/equities/strategies/ewy_binance_perp_makerv4.toml
  deploy/equities/strategies/googl_tradexyz_makerv4.toml
  deploy/equities/strategies/hood_binance_perp_makerv4.toml
  deploy/equities/strategies/hood_tradexyz_makerv4.toml
  deploy/equities/strategies/intc_binance_perp_makerv4.toml
  deploy/equities/strategies/intc_tradexyz_makerv4.toml
  deploy/equities/strategies/meta_tradexyz_makerv4.toml
  deploy/equities/strategies/msft_tradexyz_makerv4.toml
  deploy/equities/strategies/mstr_binance_perp_makerv4.toml
  deploy/equities/strategies/mstr_tradexyz_makerv4.toml
  deploy/equities/strategies/mu_tradexyz_makerv4.toml
  deploy/equities/strategies/nflx_tradexyz_makerv4.toml
  deploy/equities/strategies/nvda_tradexyz_makerv4.toml
  deploy/equities/strategies/orcl_tradexyz_makerv4.toml
  deploy/equities/strategies/pltr_binance_perp_makerv4.toml
  deploy/equities/strategies/pltr_tradexyz_makerv4.toml
  deploy/equities/strategies/rivn_tradexyz_makerv4.toml
  deploy/equities/strategies/sndk_tradexyz_makerv4.toml
  deploy/equities/strategies/tsla_binance_perp_makerv4.toml
  deploy/equities/strategies/tsla_tradexyz_makerv4.toml
  deploy/equities/strategies/tsm_tradexyz_makerv4.toml
  deploy/equities/strategies/usar_tradexyz_makerv4.toml
  systems/flux/flux/runners/shared/portfolio_runner.py
  systems/flux/flux/runners/shared/profile_accounts.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(binance): route portfolio margin futures clients correctly
  nautilus_trader/adapters/binance/factories.py
  nautilus_trader/adapters/binance/futures/execution.py
  nautilus_trader/adapters/binance/futures/http/wallet.py
  nautilus_trader/adapters/binance/futures/providers.py
  tests/integration_tests/adapters/binance/test_execution_futures.py
  tests/integration_tests/adapters/binance/test_factories.py
  tests/integration_tests/adapters/binance/test_providers.py
Due: check-non-latin-text

Restore raw maker spread semantics
  docs/plans/2026-03-19-tokenmm-spread-raw-mid-design.md
  docs/plans/2026-03-19-tokenmm-spread-raw-mid.md
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/tests/signal/SignalTable.audit.test.tsx
  fluxboard/tests/signal/SignalTable.sourceOfTruth.test.tsx
  systems/flux/flux/api/_payloads_signals.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/api/test_signals_inventory_contract.py
Due: check-non-latin-text

fix: gate realtime snapshot metadata rollout
  systems/flux/flux/api/app.py
  systems/flux/flux/api/socketio.py
  tests/unit_tests/flux/api/test_realtime_contract.py
Due: check-non-latin-text

fix: require canonical trades realtime descriptors
  systems/flux/docs/api.md
  systems/flux/docs/realtime-rollout.md
  systems/flux/flux/api/app.py
  tests/unit_tests/flux/api/test_realtime_contract.py
Due: check-non-latin-text

fix: canonicalize signal realtime snapshots
  systems/flux/docs/api.md
  systems/flux/docs/realtime-rollout.md
  systems/flux/flux/api/app.py
  tests/unit_tests/flux/api/test_realtime_contract.py
Due: check-non-latin-text

fix: separate realtime cursors by surface
  systems/flux/docs/api.md
  systems/flux/docs/realtime-rollout.md
  systems/flux/flux/api/app.py
  systems/flux/flux/api/socketio.py
  tests/unit_tests/flux/api/test_realtime_contract.py
Due: check-non-latin-text

feat: add flux realtime standard contract path
  systems/flux/docs/api.md
  systems/flux/docs/realtime-rollout.md
  systems/flux/flux/api/app.py
  systems/flux/flux/api/socketio.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_realtime_contract.py
  tests/unit_tests/flux/api/test_socketio_tokenmm.py
Due: check-non-latin-text

fix: fail closed on realtime snapshot lineage
  systems/flux/docs/api.md
  systems/flux/docs/realtime-rollout.md
  systems/flux/flux/api/app.py
  systems/flux/flux/api/socketio.py
  tests/unit_tests/flux/api/test_realtime_contract.py
Due: check-non-latin-text

fix: harden realtime foundation subscriptions
  fluxboard/__tests__/hooks/useRealtimeChannel.test.ts
  fluxboard/__tests__/hooks/useRealtimeSurfaceController.test.ts
  fluxboard/hooks/useRealtimeChannel.ts
  fluxboard/hooks/useRealtimeSurfaceController.ts
  fluxboard/lib/realtime/selectors.ts
Due: none

fix: hydrate virtualized rows after ref mount
  fluxboard/__tests__/hooks/useVirtualizedRows.test.ts
  fluxboard/hooks/useVirtualizedRows.ts
Due: none

feat: add frontend realtime surface foundation
  fluxboard/__tests__/hooks/useRealtimeChannel.test.ts
  fluxboard/__tests__/hooks/useRealtimeSurfaceController.test.ts
  fluxboard/__tests__/hooks/useRecoveryScheduler.test.ts
  fluxboard/__tests__/hooks/useViewportClock.test.ts
  fluxboard/__tests__/hooks/useVirtualizedRows.test.ts
  fluxboard/__tests__/realtime/subscription-contract.test.tsx
  fluxboard/__tests__/ui/DataTable.test.tsx
  fluxboard/__tests__/ui/ScrollArea.test.tsx
  fluxboard/components/shared/TimeAgo.tsx
  fluxboard/components/ui/scroll-area/ScrollArea.tsx
  fluxboard/components/ui/table/DataTable.tsx
  fluxboard/docs/ui-standards.md
  fluxboard/hooks/useRealtimeChannel.ts
  fluxboard/hooks/useRealtimeSurfaceController.ts
  fluxboard/hooks/useRecoveryScheduler.ts
  fluxboard/hooks/useViewportClock.ts
  fluxboard/hooks/useVirtualizedRows.ts
  fluxboard/lib/realtime/batching.ts
  fluxboard/lib/realtime/selectors.ts
Due: check-non-latin-text

fix(equities): surface pulse runner alerts
  systems/flux/flux/api/app.py
  systems/flux/flux/pulse/api.py
  systems/flux/flux/runners/equities/run_api.py
  tests/unit_tests/examples/strategies/test_equities_run_api.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
  tests/unit_tests/flux/pulse/test_api.py
Due: check-non-latin-text

feat: sync equities multivenue route contract
  deploy/equities/equities.live.toml
  systems/flux/flux/common/account_scopes.py
  systems/flux/flux/common/strategy_contracts.py
  tests/unit_tests/examples/strategies/test_equities_run_api.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

feat: add realtime baseline performance gates
  docs/plans/2026-03-19-fluxboard-performance-improvement-plan.md
  fluxboard/__tests__/panels/trades.perf.test.tsx
  fluxboard/__tests__/pnl-performance.test.tsx
  fluxboard/__tests__/realtime/baseline-budgets.test.tsx
  fluxboard/components/trades/PerfHarness.tsx
  fluxboard/pages/ScannersHarness.tsx
Due: check-non-latin-text

test: stabilize realtime perf verification
  fluxboard/__tests__/panels/trades.perf.test.tsx
  fluxboard/__tests__/pnl-performance.test.tsx
Due: none

test: add runtime telemetry baseline guard
  fluxboard/components/trades/PerfHarness.tsx
Due: none

test: realign realtime baseline verification
  fluxboard/__tests__/panels/trades.perf.test.tsx
  fluxboard/__tests__/pnl-performance.test.tsx
Due: none

refactor(monitoring): inline flux key helpers in liquidity exporter
  ops/scripts/exporters/tokenmm_metrics_exporter.py
  tests/unit_tests/ops/test_tokenmm_metrics_exporter.py
Due: check-non-latin-text

fix: align equities multivenue route manifest
  deploy/equities/equities.live.toml
  tests/unit_tests/examples/strategies/test_equities_run_api.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

docs: track task 1 multivenue sync
  docs/plans/2026-03-19-equities-pr65-sync.md
Due: check-non-latin-text

Fix balances MV thousands separators
  fluxboard/Balances.test.tsx
  fluxboard/Balances.tsx
Due: none

Fix MakerV4 and Binance PM regressions
  nautilus_trader/adapters/binance/factories.py
  nautilus_trader/adapters/binance/futures/http/account.py
  systems/flux/flux/strategies/makerv4/instruments.py
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/integration_tests/adapters/binance/test_execution_futures.py
  tests/integration_tests/adapters/binance/test_factories.py
  tests/unit_tests/flux/strategies/makerv4/test_instruments.py
  tests/unit_tests/flux/strategies/makerv4/test_strategy.py
Due: check-non-latin-text

Address PR review comments
  ops/scripts/deploy/binance_equities_universe.py
  systems/flux/flux/api/app.py
  tests/unit_tests/flux/api/conftest.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/ops/test_binance_equities_universe.py
Due: check-non-latin-text

test: add realtime compatibility matrix gate
  fluxboard/__tests__/realtime/compatibility-matrix.test.tsx
  fluxboard/e2e/dashboard.spec.ts
  fluxboard/e2e/smoke.spec.ts
Due: none

test: clarify compatibility matrix scope
  fluxboard/__tests__/realtime/compatibility-matrix.test.tsx
  fluxboard/e2e/dashboard.spec.ts
  fluxboard/e2e/smoke.spec.ts
Due: none

test: cover active kill-switch withdrawal
  fluxboard/__tests__/realtime/compatibility-matrix.test.tsx
Due: none

test: tighten rollout toggle assertions
  fluxboard/__tests__/realtime/compatibility-matrix.test.tsx
  fluxboard/e2e/dashboard.spec.ts
Due: none

docs: track task 1 spec review state
  docs/plans/2026-03-19-equities-pr65-sync.md
Due: check-non-latin-text

fix(equities): harden ibkr and binance pm execution
  nautilus_trader/adapters/binance/futures/enums.py
  nautilus_trader/adapters/binance/futures/execution.py
  nautilus_trader/adapters/binance/futures/schemas/account.py
  nautilus_trader/adapters/binance/futures/schemas/user.py
  nautilus_trader/adapters/interactive_brokers/common.py
  tests/integration_tests/adapters/binance/test_execution_futures.py
  tests/integration_tests/adapters/interactive_brokers/test_execution.py
Due: check-non-latin-text
