Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

fix: relax equities inventory freshness window
  deploy/equities/equities.live.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix: deep merge shared runtime tables
  systems/flux/flux/runners/shared/bootstrap.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
Due: check-non-latin-text

Improve Rithmic live execution and strategy examples
  Cargo.lock
  crates/adapters/rithmic/Cargo.toml
  crates/adapters/rithmic/src/execution/client.rs
  crates/adapters/rithmic/src/execution/handler.rs
  crates/adapters/rithmic/src/gateway.rs
  crates/adapters/rithmic/src/providers/account.rs
  crates/adapters/rithmic/src/providers/position.rs
  crates/adapters/rithmic/src/python/events.rs
  crates/adapters/rithmic/src/python/execution.rs
  crates/adapters/rithmic/src/python/gateway.rs
  docs/integrations/rithmic.md
  examples/live/rithmic/notebooks/rithmic_backtest_strategy_sandbox.py
  examples/live/rithmic/rithmic_data_tester.py
  examples/live/rithmic/rithmic_ema_cross.py
  nautilus_trader/adapters/rithmic/_rithmic.pyi
  nautilus_trader/adapters/rithmic/data.py
  nautilus_trader/adapters/rithmic/execution.py
  nautilus_trader/adapters/rithmic/providers.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Suppress spurious avg_px reconciliation warnings
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

Update Rithmic app credential fallback
  crates/adapters/rithmic/src/common/credential.rs
  crates/adapters/rithmic/src/config.rs
  crates/adapters/rithmic/src/gateway.rs
  docs/integrations/rithmic.md
  examples/live/rithmic/bracket_submission.py
  examples/live/rithmic/notebooks/README.md
  examples/live/rithmic/oco_submission.py
  examples/live/rithmic/order_submission.py
  examples/live/rithmic/rithmic_ema_cross.py
  nautilus_trader/adapters/rithmic/config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

minor doc change
  examples/live/rithmic/rithmic_ema_cross.py
Due: check-non-latin-text

Document Rithmic history paging behavior
  docs/integrations/rithmic.md
  examples/live/rithmic/notebooks/README.md
Due: check-non-latin-text

Add support for Params and dict in custom data
  crates/persistence/macros/src/custom.rs
  crates/persistence/macros/src/lib.rs
  crates/persistence/src/python/mod.rs
  crates/persistence/src/test_data.rs
  crates/persistence/tests/test_catalog.rs
  nautilus_trader/model/custom.py
  tests/unit_tests/model/test_custom_data.py
  tests/unit_tests/persistence/test_custom_data_roundtrip_pyo3.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Stabilize equities IBKR account projections
  deploy/equities/equities.live.toml
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix: stabilize equities prod rollout
  deploy/equities/equities.live.toml
  docs/plans/2026-03-27-equities-shared-symbol-node-design.md
  docs/plans/2026-03-27-equities-shared-symbol-node.md
  docs/runbooks/equities-shared-node-cutover.md
  fluxboard/Balances.tsx
  fluxboard/__tests__/panels/market-balances.perf.test.tsx
  systems/flux/flux/api/_payloads_signals.py
  systems/flux/flux/api/app.py
  systems/flux/flux/bridge/stream_consumer.py
  systems/flux/flux/common/account_projection.py
  systems/flux/flux/common/account_scopes.py
  systems/flux/flux/runners/equities/readiness.py
  systems/flux/flux/runners/shared/portfolio_runner.py
  systems/flux/flux/runners/shared/profile_accounts.py
  systems/flux/flux/strategies/shared/equities_arb/core.py
  systems/flux/flux/strategies/shared/equities_arb/reference_balances.py
  tests/unit_tests/examples/strategies/test_equities_readiness.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/bridge/test_stream_consumer.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix equities signal readiness flaps
  deploy/equities/strategies/aapl_tradexyz_taker.toml
  deploy/equities/strategies/amd_tradexyz_taker.toml
  deploy/equities/strategies/amzn_binance_perp_maker.toml
  deploy/equities/strategies/amzn_binance_perp_taker.toml
  deploy/equities/strategies/amzn_tradexyz_taker.toml
  deploy/equities/strategies/coin_binance_perp_maker.toml
  deploy/equities/strategies/coin_binance_perp_taker.toml
  deploy/equities/strategies/crcl_binance_perp_maker.toml
  deploy/equities/strategies/crcl_binance_perp_taker.toml
  deploy/equities/strategies/ewy_binance_perp_maker.toml
  deploy/equities/strategies/ewy_binance_perp_taker.toml
  deploy/equities/strategies/googl_tradexyz_taker.toml
  deploy/equities/strategies/hood_binance_perp_maker.toml
  deploy/equities/strategies/hood_binance_perp_taker.toml
  deploy/equities/strategies/intc_binance_perp_maker.toml
  deploy/equities/strategies/intc_binance_perp_taker.toml
  deploy/equities/strategies/meta_tradexyz_taker.toml
  deploy/equities/strategies/msft_tradexyz_taker.toml
  deploy/equities/strategies/mstr_binance_perp_maker.toml
  deploy/equities/strategies/mstr_binance_perp_taker.toml
  deploy/equities/strategies/nvda_tradexyz_taker.toml
  deploy/equities/strategies/orcl_tradexyz_taker.toml
  deploy/equities/strategies/pltr_binance_perp_maker.toml
  deploy/equities/strategies/pltr_binance_perp_taker.toml
  deploy/equities/strategies/pltr_tradexyz_taker.toml
  deploy/equities/strategies/tsla_binance_perp_maker.toml
  deploy/equities/strategies/tsla_binance_perp_taker.toml
  deploy/equities/strategies/tsla_tradexyz_taker.toml
  systems/flux/flux/strategies/shared/quote_health.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/flux/strategies/shared/test_quote_health.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Stabilize equities signal readiness
  deploy/equities/strategies/amzn_binance_perp_maker.toml
  deploy/equities/strategies/amzn_binance_perp_taker.toml
  deploy/equities/strategies/coin_binance_perp_maker.toml
  deploy/equities/strategies/coin_binance_perp_taker.toml
  deploy/equities/strategies/crcl_binance_perp_maker.toml
  deploy/equities/strategies/crcl_binance_perp_taker.toml
  deploy/equities/strategies/ewy_binance_perp_maker.toml
  deploy/equities/strategies/ewy_binance_perp_taker.toml
  deploy/equities/strategies/hood_binance_perp_maker.toml
  deploy/equities/strategies/hood_binance_perp_taker.toml
  deploy/equities/strategies/intc_binance_perp_maker.toml
  deploy/equities/strategies/intc_binance_perp_taker.toml
  deploy/equities/strategies/mstr_binance_perp_maker.toml
  deploy/equities/strategies/mstr_binance_perp_taker.toml
  deploy/equities/strategies/pltr_binance_perp_maker.toml
  deploy/equities/strategies/pltr_binance_perp_taker.toml
  deploy/equities/strategies/tsla_binance_perp_maker.toml
  deploy/equities/strategies/tsla_binance_perp_taker.toml
  systems/flux/flux/api/_payloads_signals.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/flux/api/test_payloads.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix equities public signal socket path
  fluxboard/sockets.test.ts
  systems/flux/flux/runners/tokenmm/run_api.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_api.py
Due: check-non-latin-text

WIP: preserve equities signal stall investigation
  systems/flux/flux/api/_payloads_signals.py
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

fix(tokenmm): restore telemetry shipper top-level config
  deploy/tokenmm/tokenmm.live.toml
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

docs(tokenmm): plan binance shared-account reconciliation
  docs/plans/2026-03-27-tokenmm-binance-shared-account-reconciliation.md
Due: check-non-latin-text

feat(tokenmm): declare shared account contracts
  deploy/tokenmm/tokenmm.live.toml
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

feat(tokenmm): carry shared account scope metadata into portfolio rows
  systems/flux/flux/api/_payloads_balances.py
  systems/flux/flux/common/portfolio_snapshot.py
  systems/flux/flux/common/strategy_contracts.py
  systems/flux/flux/runners/shared/portfolio_runner.py
  systems/flux/flux/runners/tokenmm/run_portfolio.py
  tests/unit_tests/flux/api/test_balances_merge_dedupe.py
  tests/unit_tests/flux/common/test_portfolio_snapshot.py
Due: check-non-latin-text

fix(tokenmm): overlay authoritative binance shared balances
  systems/flux/flux/api/app.py
  systems/flux/flux/runners/shared/profile_accounts.py
  systems/flux/flux/runners/tokenmm/run_api.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_api.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/runners/shared/test_profile_accounts.py
Due: check-non-latin-text

fix(tokenmm): discover shared account scopes for fallback overlay
  systems/flux/flux/api/app.py
  tests/unit_tests/flux/api/test_app.py
Due: check-non-latin-text

fix(tokenmm): degrade stale shared-account projections
  systems/flux/flux/runners/shared/profile_accounts.py
  tests/unit_tests/flux/runners/shared/test_profile_accounts.py
Due: check-non-latin-text

fix(live): ignore proven-missing startup orders in cleanup
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

fix(reconciliation): handle accountless startup missing refs
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_engine.py
Due: check-non-latin-text

fix(reconciliation): bridge accountless startup scopes
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_engine.py
Due: check-non-latin-text

fix(reconciliation): scope accountless startup reports
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_engine.py
Due: check-non-latin-text

docs(tokenmm): refresh reconciliation status
  docs/plans/2026-03-27-tokenmm-binance-shared-account-reconciliation.md
Due: check-non-latin-text

minor doc change
  docs/integrations/rithmic.md
Due: check-non-latin-text

fix(tokenmm): harden binance shared-account reconciliation
  nautilus_trader/live/execution_engine.py
  nautilus_trader/live/reconciliation.py
  systems/flux/flux/runners/shared/profile_accounts.py
  tests/unit_tests/flux/runners/shared/test_profile_accounts.py
  tests/unit_tests/live/test_execution_recon.py
  tests/unit_tests/live/test_reconciliation.py
Due: check-non-latin-text

fix(reconciliation): detect synthetic position lineage fallback
  nautilus_trader/live/reconciliation.py
  tests/unit_tests/live/test_reconciliation.py
Due: check-non-latin-text

Remove Rithmic tick-history wording
  crates/adapters/rithmic/src/python/data.rs
  docs/integrations/rithmic.md
  examples/live/rithmic/notebooks/README.md
  examples/live/rithmic/notebooks/rithmic_backtest_strategy_sandbox.py
  nautilus_trader/adapters/rithmic/data.py
  tests/integration_tests/adapters/rithmic/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix integrations table status metadata
  README.md
  docs/integrations/index.md
Due: check-non-latin-text

fix(reconciliation): preserve synthetic partial-window isolation
  nautilus_trader/live/execution_engine.py
  nautilus_trader/live/reconciliation.py
  tests/unit_tests/live/test_execution_recon.py
  tests/unit_tests/live/test_reconciliation.py
Due: check-non-latin-text

fix(api): dedupe scope cash across snapshot sources
  systems/flux/flux/api/_payloads_balances.py
  tests/unit_tests/flux/api/test_balances_merge_dedupe.py
Due: check-non-latin-text

Add named Rithmic server selection
  crates/adapters/rithmic/src/config.rs
  crates/adapters/rithmic/src/gateway.rs
  crates/adapters/rithmic/src/python/config.rs
  crates/adapters/rithmic/src/python/gateway.rs
  docs/integrations/rithmic.md
  examples/live/rithmic/notebooks/README.md
  examples/live/rithmic/notebooks/rithmic_adapter_sandbox_smoke.ipynb
  examples/live/rithmic/notebooks/rithmic_backtest_strategy_sandbox.py
  examples/live/rithmic/notebooks/rithmic_live_strategy_sandbox.py
  examples/live/rithmic/rithmic_data_tester.py
  examples/live/rithmic/rithmic_ema_cross.py
  examples/live/rithmic/rithmic_exec_tester.py
  nautilus_trader/adapters/rithmic/_rithmic.pyi
  nautilus_trader/adapters/rithmic/config.py
  nautilus_trader/adapters/rithmic/data.py
  nautilus_trader/adapters/rithmic/execution.py
  nautilus_trader/adapters/rithmic/providers.py
  tests/integration_tests/adapters/rithmic/test_config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

minor change
  crates/adapters/rithmic/src/gateway.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Hide Rithmic endpoint URLs in docs
  crates/adapters/rithmic/src/config.rs
  crates/adapters/rithmic/src/gateway.rs
  docs/integrations/rithmic.md
  examples/live/rithmic/notebooks/README.md
  nautilus_trader/adapters/rithmic/config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove dead Rithmic historical tick request stubs
  docs/integrations/rithmic.md
  nautilus_trader/adapters/rithmic/data.py
  tests/integration_tests/adapters/rithmic/test_data.py
Due: check-non-latin-text

Fix PyO3 FromPyObject deprecation warnings
  crates/adapters/rithmic/src/python/config.rs
  crates/adapters/rithmic/src/python/enums.rs
  crates/adapters/rithmic/src/python/events.rs
  crates/adapters/rithmic/src/python/instruments.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Tighten Rithmic scoped cancel and flatten bindings
  crates/adapters/rithmic/src/python/execution.rs
  crates/adapters/rithmic/src/python/gateway.rs
  nautilus_trader/adapters/rithmic/_rithmic.pyi
  nautilus_trader/adapters/rithmic/execution.py
  tests/integration_tests/adapters/rithmic/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
