Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Fix Position replay fragment handling
  crates/model/Cargo.toml
  crates/model/benches/position_replay_criterion.rs
  crates/model/src/position.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix DeFi SwapTradeInfo zero spot price panics
  RELEASES.md
  crates/model/src/defi/data/swap_trade_info.rs
  crates/model/src/defi/pool_analysis/quote.rs
  crates/model/src/defi/pool_analysis/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make Lighter reconnect auth-token rotation venue-visible (#4603)
  crates/adapters/lighter/src/websocket/handler.rs
  crates/adapters/lighter/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Derive cancel-by-label zero matches
  RELEASES.md
  crates/adapters/derive/examples/node_exec_tester.rs
  crates/adapters/derive/src/execution.rs
  crates/adapters/derive/src/http/client.rs
  crates/adapters/derive/src/http/models.rs
  crates/adapters/derive/src/websocket/client.rs
  crates/adapters/derive/test_data/common/ws_cancel_by_label_nonzero.json
  crates/adapters/derive/test_data/common/ws_cancel_by_label_zero.json
  crates/adapters/derive/tests/exec_client.rs
  crates/adapters/derive/tests/http.rs
  docs/integrations/derive.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Enforce venue order ID ownership in the cache (#4595)
  crates/backtest/tests/netting_fill_void.rs
  crates/common/src/cache/error.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/execution/src/engine/mod.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/matching_engine/ids_generator.rs
  crates/execution/tests/exec_engine.rs
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket market batch parsing
  RELEASES.md
  crates/adapters/polymarket/src/websocket/handler.rs
  crates/adapters/polymarket/test_data/ws_market_mixed_known_unknown.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reconstruct DataType cache fields on deserialization (#4592)
  crates/event_store/src/codec.rs
  crates/model/src/data/mod.rs
  crates/model/src/data/registry.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Python v2 position sizing bindings
  RELEASES.md
  crates/risk/src/python/mod.rs
  crates/risk/src/python/sizing.rs
  crates/risk/src/sizing.rs
  python/generate_stubs.py
  python/nautilus_trader/risk/__init__.pyi
  python/tests/unit/risk/test_sizing.py
  python/tests/unit/test_generate_stubs.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Derive nonce allocation across clients
  crates/adapters/derive/benches/signing.rs
  crates/adapters/derive/fuzz/README.md
  crates/adapters/derive/fuzz/fuzz_targets/fuzz_nonce_sequence.rs
  crates/adapters/derive/src/signing/nonce.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add v2 actor and strategy state persistence
  Cargo.lock
  RELEASES.md
  crates/backtest/Cargo.toml
  crates/backtest/src/config.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/node.rs
  crates/backtest/src/python/engine.rs
  crates/backtest/src/python/node.rs
  crates/common/src/cache/mod.rs
  crates/infrastructure/src/sql/cache.rs
  crates/infrastructure/tests/test_cache_postgres.rs
  crates/live/Cargo.toml
  crates/live/src/node/config.rs
  crates/live/src/node/mod.rs
  crates/live/src/python/node.rs
  crates/system/Cargo.toml
  crates/system/src/config.rs
  crates/system/src/kernel.rs
  crates/system/src/trader.rs
  crates/testkit/Cargo.toml
  crates/testkit/README.md
  crates/testkit/src/cache.rs
  crates/testkit/src/components.rs
  crates/testkit/src/lib.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Testkit feature dependencies
  Cargo.toml
  crates/adapters/architect_ax/Cargo.toml
  crates/adapters/betfair/Cargo.toml
  crates/adapters/binance/Cargo.toml
  crates/adapters/bitmex/Cargo.toml
  crates/adapters/bybit/Cargo.toml
  crates/adapters/coinbase/Cargo.toml
  crates/adapters/databento/Cargo.toml
  crates/adapters/deribit/Cargo.toml
  crates/adapters/derive/Cargo.toml
  crates/adapters/dydx/Cargo.toml
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/interactive_brokers/Cargo.toml
  crates/adapters/kraken/Cargo.toml
  crates/adapters/lighter/Cargo.toml
  crates/adapters/okx/Cargo.toml
  crates/adapters/polymarket/Cargo.toml
  crates/adapters/sandbox/Cargo.toml
  crates/adapters/tardis/Cargo.toml
  crates/backtest/Cargo.toml
  crates/live/Cargo.toml
  crates/persistence/Cargo.toml
  crates/pyo3/Cargo.toml
  crates/testkit/Cargo.toml
  crates/testkit/README.md
  crates/testkit/src/events.rs
  crates/testkit/src/lib.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Lighter funding timestamp semantics
  RELEASES.md
  crates/adapters/lighter/src/websocket/handler.rs
  crates/adapters/lighter/src/websocket/parse.rs
  crates/adapters/lighter/test_data/ws_market_stats_update_all.json
  crates/adapters/lighter/test_data/ws_market_stats_update_single.json
  crates/adapters/lighter/tests/websocket.rs
  docs/integrations/lighter.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Test Lighter pending auth across reconnects
  crates/adapters/lighter/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket Gamma cursor loops
  RELEASES.md
  crates/adapters/polymarket/src/http/gamma.rs
  crates/adapters/polymarket/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Correct bincode advisory provenance
  .cargo/audit.toml
  deny.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix serialization metadata and wire edge cases
  RELEASES.md
  crates/serialization/generated/capnp/data/market_capnp.rs
  crates/serialization/schemas/capnp/data/market.capnp
  crates/serialization/src/arrow/delta.rs
  crates/serialization/src/arrow/mod.rs
  crates/serialization/src/capnp/conversions.rs
  crates/serialization/src/python/arrow.rs
  crates/serialization/src/sbe/error.rs
  crates/serialization/src/sbe/market/ticks.rs
  crates/serialization/tests/test_market_data_capnp.rs
  crates/serialization/tests/test_market_data_sbe.rs
  crates/serialization/tests/test_types_capnp.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix serialization Clippy coverage
  crates/serialization/src/arrow/mod.rs
  scripts/clippy-changed.sh
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove wall-clock dependency from own-book filtering
  crates/model/src/orderbook/book.rs
  crates/model/src/orderbook/display.rs
  crates/model/src/orderbook/own.rs
  crates/model/src/orderbook/tests.rs
  crates/model/src/python/orderbook/book.rs
  crates/model/src/python/orderbook/mod.rs
  crates/model/src/python/orderbook/own.rs
  docs/concepts/order_book.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Register backtest venues atomically and validate instrument leverage (#4596)
  crates/backtest/src/config.rs
  crates/backtest/src/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Report Lighter incomplete history
  RELEASES.md
  crates/adapters/lighter/src/execution.rs
  crates/adapters/lighter/src/http/client.rs
  crates/adapters/lighter/src/http/error.rs
  crates/adapters/lighter/tests/data_client.rs
  crates/adapters/lighter/tests/http.rs
  docs/integrations/lighter.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove wall-clock dependency from own-book filtering (#4597)
  crates/model/src/orderbook/book.rs
  crates/model/src/orderbook/display.rs
  crates/model/src/orderbook/own.rs
  crates/model/src/orderbook/tests.rs
  crates/model/src/python/orderbook/book.rs
  crates/model/src/python/orderbook/mod.rs
  crates/model/src/python/orderbook/own.rs
  docs/concepts/order_book.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix LiveNode startup stop handling
  RELEASES.md
  crates/live/src/node/config.rs
  crates/live/src/node/mod.rs
  crates/live/src/node/state.rs
  crates/live/src/python/config.rs
  crates/live/tests/node.rs
  python/tests/unit/live/test_live_configs.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align Eq and Ord on ScheduledTimeEvent and OwnBookOrder (#4598)
  crates/common/src/timer.rs
  crates/model/src/orderbook/own.rs
  crates/model/src/orderbook/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Select Nautilus test data fixtures by the model's resolved precision
  crates/testkit/Cargo.toml
  crates/testkit/src/common.rs
  crates/testkit/tests/common.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove load-sensitive timing from the Hyperliquid stale-quote recovery test
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align Subscription equality and ordering and name the delivery comparator
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/typed_router.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix simulated venue liquidation, rollover, and reset state handling
  crates/backtest/src/exchange.rs
  crates/backtest/src/modules/fx_rollover.rs
  crates/backtest/tests/exchange.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix zero-priced inferred reconciliation fills and add opt-in tiered position resync
  nautilus_trader/live/config.py
  nautilus_trader/live/execution_engine.py
  nautilus_trader/live/reconciliation.py
  tests/unit_tests/live/test_execution_position_resync.py
  tests/unit_tests/live/test_execution_recon.py
  tests/unit_tests/live/test_inferred_fill_pricing.py
Due: check-non-latin-text

Fix Clippy findings in kernel and Derive bins
  crates/adapters/derive/bin/flatten.rs
  crates/adapters/derive/bin/spot_research.rs
  crates/system/src/kernel.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Derive binary Clippy coverage
  crates/adapters/derive/bin/flatten.rs
  crates/adapters/derive/bin/spot_research.rs
  scripts/clippy-changed.sh
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and supply chain config
  .supply-chain/audits.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/lighter/fuzz/pornin/Cargo.lock
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Add Python v2 execution algorithm config authoring
  MIGRATION_V2.md
  RELEASES.md
  crates/trading/src/algorithm/config.rs
  crates/trading/src/algorithm/mod.rs
  crates/trading/src/python/algorithm.rs
  python/nautilus_trader/trading/__init__.pyi
  python/tests/unit/backtest/test_backtest_engine_exec_algorithms.py
  python/tests/unit/test_live_node.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Lighter zero-quantity position rows
  RELEASES.md
  crates/adapters/lighter/src/websocket/handler.rs
  crates/adapters/lighter/tests/exec_client.rs
  docs/integrations/lighter.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix backtest simulation edge cases
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/modules/fx_rollover.rs
  crates/backtest/src/node.rs
  crates/backtest/src/python/modules.rs
  crates/backtest/src/python/node.rs
  crates/backtest/tests/backtest_engine.rs
  crates/backtest/tests/backtest_node.rs
  crates/backtest/tests/exchange.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Select Nautilus test data fixtures by the model's resolved precision (#4609)
  crates/testkit/Cargo.toml
  crates/testkit/src/common.rs
  crates/testkit/tests/common.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove load-sensitive timing from the Hyperliquid stale-quote recovery test (#4610)
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: CachePostgresAdapter discards config and ignores explicit connect kwargs
  nautilus_trader/cache/adapter.py
  nautilus_trader/system/kernel.py
Due: check-non-latin-text

Align Subscription equality and ordering and name the delivery comparator (#4611)
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/typed_router.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden DeFi price scaling
  RELEASES.md
  crates/model/src/defi/data/swap_trade_info.rs
  crates/model/src/defi/tick_map/full_math.rs
  crates/model/src/defi/tick_map/sqrt_price_math.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Blockchain pool event backfills
  RELEASES.md
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/data/core.rs
  schema/sql/tables.sql
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
