Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

docs: append PR0 head-sha progress entry
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

docs: normalize plan whitespace and log lint blockers
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

blockchain: route execution venue from config
  crates/adapters/blockchain/bin/node_wallet.rs
  crates/adapters/blockchain/src/config.rs
  crates/adapters/blockchain/src/factories.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: append PR1 progress log entry
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

blockchain: fix execution factory config error message
  crates/adapters/blockchain/src/factories.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: append PR1 progress update for factory error text
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

fix(fluxboard): derive params running state from bot_on
  fluxboard/api.flux.test.ts
  fluxboard/api.ts
Due: none

Migrate Python API docs to Sphinx HTML with Furo theme
  Makefile
  crates/adapters/hyperliquid/src/config.rs
  docs/api_reference/_static/custom.css
  docs/api_reference/conf.py
  docs/concepts/execution.md
  docs/concepts/index.md
  docs/concepts/instruments.md
  docs/concepts/live.md
  docs/concepts/logging.md
  docs/concepts/orders.md
  docs/concepts/portfolio.md
  docs/concepts/positions.md
  docs/concepts/strategies.md
  docs/integrations/binance.md
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(makerv3): allow signed skewed bid/ask edges
  nautilus_trader/flux/strategies/makerv3/pricing.py
  tests/unit_tests/flux/strategies/makerv3/test_pricing.py
Due: check-non-latin-text

fix(fluxapi): harden signal/trade payload contracts
  nautilus_trader/flux/api/payloads.py
  nautilus_trader/flux/api/socketio.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/api/test_socketio_tokenmm.py
Due: check-non-latin-text

fix(fluxboard): wire alerts timestamps and balances totals
  fluxboard/Balances.test.tsx
  fluxboard/Balances.tsx
  fluxboard/api.flux.test.ts
  fluxboard/api.ts
Due: none

blockchain: expose execution factory/config in PyO3
  crates/adapters/blockchain/src/config.rs
  crates/adapters/blockchain/src/execution/client.rs
  crates/adapters/blockchain/src/factories.rs
  crates/adapters/blockchain/src/lib.rs
  crates/adapters/blockchain/src/python/config.rs
  crates/adapters/blockchain/src/python/factories.rs
  crates/adapters/blockchain/src/python/mod.rs
  crates/adapters/blockchain/tests/pyo3_exec_registry.rs
  python/nautilus_trader/adapters/blockchain/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: append PR2 progress and follow-up notes
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

blockchain: expose data config in PyO3 without hypersync
  crates/adapters/blockchain/src/python/mod.rs
  crates/adapters/blockchain/tests/pyo3_exec_registry.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: append PR2 progress update
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

blockchain: add execution metadata-store boundary
  crates/adapters/blockchain/src/execution/client.rs
  crates/adapters/blockchain/src/execution/metadata_store.rs
  crates/adapters/blockchain/src/execution/mod.rs
  crates/adapters/blockchain/tests/execution_metadata_store.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: append PR3 progress update
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

model: add PancakeSwapV2 dex venue support
  crates/model/src/defi/dex.rs
  crates/model/src/identifiers/instrument_id.rs
  crates/model/src/identifiers/venue.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: append PR4 progress update
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

fix(makerv3): ensure runtime qty conversion runs
  nautilus_trader/flux/strategies/makerv3/runtime_params.py
Due: check-non-latin-text

fix(fluxboard): catch polling async errors
  fluxboard/hooks/usePolling.test.tsx
  fluxboard/hooks/usePolling.ts
Due: none

fix(fluxboard): ignore legacy id-only alert snapshots
  fluxboard/Alerts.tsx
  fluxboard/Alerts.wiring.test.tsx
Due: none

test(fluxboard): make vitest hermetic
  fluxboard/__tests__/api.test.ts
  fluxboard/components/layout/DashboardLayout.responsive.test.tsx
  fluxboard/vitest.setup.ts
  tests/fixtures/order_view_v02/deltas.jsonl
  tests/fixtures/order_view_v02/snapshot.json
Due: none

docs: add tokenmm multi-strategy plan
  docs/plans/2026-03-05-tokenmm-multi-strategy-deployment.md
Due: check-non-latin-text

python: add minimal PancakeSwap instrument provider
  nautilus_trader/adapters/pancakeswap/__init__.py
  nautilus_trader/adapters/pancakeswap/providers.py
  nautilus_trader/adapters/pancakeswap/symbol.py
  tests/integration_tests/adapters/pancakeswap/__init__.py
  tests/integration_tests/adapters/pancakeswap/conftest.py
  tests/integration_tests/adapters/pancakeswap/test_provider.py
Due: check-non-latin-text

docs: append PR5a progress update
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

Revert "docs: add tokenmm multi-strategy plan"
  docs/plans/2026-03-05-tokenmm-multi-strategy-deployment.md
Due: check-non-latin-text

python: harden PancakeSwap provider config validation
  nautilus_trader/adapters/pancakeswap/providers.py
  nautilus_trader/adapters/pancakeswap/symbol.py
  tests/integration_tests/adapters/pancakeswap/test_provider.py
Due: check-non-latin-text

docs: append PR5a remediation progress
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

fix(fluxboard): harden tokenmm signal/trades wiring
  fluxboard/Signal.delta-pass-through.test.tsx
  fluxboard/__tests__/signal-store.params-merge.test.ts
  fluxboard/__tests__/stores-trades.test.ts
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/stores.ts
Due: none

fix(fluxboard): remove gas surfaces from decision modal
  fluxboard/components/trades/DecisionModal.test.tsx
  fluxboard/components/trades/DecisionModal.tsx
Due: none

fix(fluxboard): align trades rollups with displayed fee
  fluxboard/Trades.tsx
  fluxboard/__tests__/trades-rollups.test.tsx
  fluxboard/components/trades/rollups.test.ts
  fluxboard/components/trades/rollups.ts
Due: none

fix(fluxboard): backfill exchange for signal leg deltas
  fluxboard/Signal.delta-pass-through.test.tsx
  fluxboard/components/domain/signal/SignalTable.tsx
Due: none

docs(fluxboard): record tokenmm UI polish follow-up
  docs/plans/2026-03-04-fluxboard-tokenmm-minimal-migration.md
Due: check-non-latin-text

model: add EVM receipt/rpc types and typed tx-hash vectors
  crates/model/src/defi/data/mod.rs
  crates/model/src/defi/data/transaction.rs
  crates/model/src/defi/data/transaction_receipt.rs
  crates/model/src/defi/mod.rs
  crates/model/src/defi/rpc.rs
  crates/model/src/defi/tx_hash.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: append PR6a progress log entry
  docs/plans/2026-03-04-pcs-integration.md
Due: check-non-latin-text

makerv3: add phase1 tokenmm registry contract
  examples/live/makerv3/README.md
  examples/live/makerv3/config/makerv3.live.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

deploy: add tokenmm multi-node stack and strategies.d templates
  examples/live/makerv3/config/strategies.d/01-bybit_binance_plumeusdt_makerv3.toml
  examples/live/makerv3/config/strategies.d/02-bybit_binance_plumeusdt_makerv3_02.toml
  examples/live/makerv3/config/strategies.d/03-bybit_binance_plumeusdt_makerv3_03.toml
  examples/live/makerv3/config/strategies.d/04-bybit_binance_plumeusdt_makerv3_04.toml
  examples/live/makerv3/config/strategies.d/05-bybit_binance_plumeusdt_makerv3_05.toml
  examples/live/makerv3/config/strategies.d/README.md
  examples/live/makerv3/config/strategies.d/tokenmm.strategy.template.toml
  scripts/deploy/tokenmm_stack.sh
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

flux api: add tokenmm portfolio balances aggregation
  nautilus_trader/flux/api/app.py
  nautilus_trader/flux/api/payloads.py
  tests/unit_tests/flux/api/test_app.py
Due: check-non-latin-text
