Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Update gitignore
  .gitignore
Due: none

Update dependencies and release notes
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

macd check initialized first
  nautilus_trader/indicators/macd.pyx
Due: none

Pause windows on nightly for CI build workflow
  .github/workflows/build.yml
Due: none

update test
  tests/acceptance_tests/test_blackbox.py
Due: none

Improve backtesting concept guide
  docs/concepts/backtesting.md
Due: none

Update dependencies and release notes
  Cargo.lock
  RELEASES.md
Due: none

Refine bars timestamp decoding and backtest execution usage (#2800)
  crates/adapters/databento/src/decode.rs
  crates/adapters/databento/src/loader.rs
  crates/execution/src/matching_engine/engine.rs
  docs/concepts/backtesting.md
  nautilus_trader/backtest/matching_engine.pyx
  tests/integration_tests/adapters/databento/test_loaders.py
Due: fmt, cargo-clippy, cargo-doc

Update pre-commit and upgrade uv
  .pre-commit-config.yaml
  pyproject.toml
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Run build-macos on develop branch for CI build
  .github/workflows/build.yml
Due: none

Fix clippy lints
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/contracts/base.rs
  crates/adapters/blockchain/src/contracts/erc20.rs
  crates/adapters/blockchain/src/data.rs
  crates/adapters/blockchain/src/reporting.rs
  crates/data/tests/engine.rs
  crates/live/src/python/node.rs
Due: fmt, cargo-clippy, cargo-doc

Add connecting log for blockchain cache
  crates/adapters/blockchain/src/cache/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Update dependencies
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Reorganize backtest models
  RELEASES.md
  docs/concepts/backtesting.md
  docs/concepts/fill_models.md
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/backtest/config.py
  nautilus_trader/backtest/exchange.pyx
  nautilus_trader/backtest/models/__init__.pxd
  nautilus_trader/backtest/models/__init__.py
  nautilus_trader/backtest/models/fee.pxd
  nautilus_trader/backtest/models/fee.pyx
  nautilus_trader/backtest/models/fill.pxd
  nautilus_trader/backtest/models/fill.pyx
  nautilus_trader/backtest/models/latency.pxd
  nautilus_trader/backtest/models/latency.pyx
  tests/unit_tests/accounting/test_margin_models.py
  tests/unit_tests/backtest/test_enhanced_fill_models.py
Due: none

Fix duplicate _handle_bars call for Bybit
  nautilus_trader/adapters/bybit/data.py
Due: none

Continue nautilus_trader v2 type stub gen
  Cargo.lock
  Cargo.toml
  crates/pyo3/Cargo.toml
  crates/pyo3/bin/stub_gen.rs
  crates/pyo3/src/lib.rs
  python/generate_stubs.py
  python/pyproject.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve nautilus_trader v2 extension module build
  crates/pyo3/Cargo.toml
  crates/pyo3/src/lib.rs
  nautilus_trader/core/nautilus_pyo3.pyi
  pyproject.toml
  python/README.md
  python/nautilus_trader/__init__.py
  python/nautilus_trader/adapters/blockchain/__init__.py
  python/nautilus_trader/adapters/coinbase_intx/__init__.py
  python/nautilus_trader/adapters/databento/__init__.py
  python/nautilus_trader/adapters/hyperliquid/__init__.py
  python/nautilus_trader/adapters/okx/__init__.py
  python/nautilus_trader/adapters/tardis/__init__.py
  python/nautilus_trader/common/__init__.py
  python/nautilus_trader/core/__init__.py
  python/nautilus_trader/cryptography/__init__.py
  python/nautilus_trader/indicators/__init__.py
  python/nautilus_trader/infrastructure/__init__.py
  python/nautilus_trader/live/__init__.py
  python/nautilus_trader/model/__init__.py
  python/nautilus_trader/network/__init__.py
  python/nautilus_trader/persistence/__init__.py
  python/nautilus_trader/serialization/__init__.py
  python/nautilus_trader/testkit/__init__.py
  python/nautilus_trader/trading/__init__.py
  python/pyproject.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve execution reconciliation messages and flows
  crates/execution/src/client/base.rs
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  nautilus_trader/execution/client.pyx
  nautilus_trader/execution/engine.pxd
  nautilus_trader/execution/engine.pyx
  nautilus_trader/execution/messages.pxd
  nautilus_trader/execution/messages.pyx
  nautilus_trader/live/data_engine.py
  nautilus_trader/live/execution_engine.py
  nautilus_trader/live/node.py
  nautilus_trader/live/node_builder.py
  nautilus_trader/system/kernel.py
  tests/integration_tests/adapters/betfair/test_betfair_execution.py
  tests/unit_tests/data/test_engine.py
  tests/unit_tests/execution/test_engine.py
  tests/unit_tests/execution/test_messages.py
  tests/unit_tests/live/test_execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: fmt, cargo-clippy, cargo-doc

Refine FillModel (#2795)
  crates/execution/src/models/fill.rs
  docs/concepts/fill_models.md
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/backtest/fill_models.py
  nautilus_trader/backtest/matching_engine.pxd
  nautilus_trader/backtest/matching_engine.pyx
  nautilus_trader/backtest/models.pxd
  nautilus_trader/backtest/models.pyx
  tests/unit_tests/backtest/test_enhanced_fill_models.py
Due: fmt, cargo-clippy, cargo-doc

Add remaining pyo3 interface for defi domain model
  crates/common/src/python/mod.rs
  crates/model/src/python/defi/data.rs
  crates/model/src/python/defi/types.rs
Due: fmt, cargo-clippy, cargo-doc

Refine execution reconciliation config and filtering
  docs/concepts/live.md
  examples/live/bybit/bybit_market_maker.py
  examples/live/okx/okx_ema_cross.py
  examples/live/okx/okx_market_maker.py
  nautilus_trader/live/config.py
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: none

Optimize Redis key scans
  RELEASES.md
  crates/infrastructure/src/redis/cache.rs
  crates/infrastructure/src/redis/queries.rs
  nautilus_trader/cache/cache.pyx
  nautilus_trader/cache/database.pyx
  nautilus_trader/execution/engine.pyx
Due: fmt, cargo-clippy, cargo-doc

Add make build-debug-pyo3 (#2802)
  Cargo.toml
  Makefile
  build.py
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add persist_account_events config option for CacheConfig
  RELEASES.md
  crates/infrastructure/src/redis/cache.rs
  crates/infrastructure/tests/test_cache_redis.rs
  examples/live/bybit/bybit_market_maker.py
  nautilus_trader/cache/cache.pxd
  nautilus_trader/cache/cache.pyx
  nautilus_trader/cache/config.py
  nautilus_trader/cache/database.pyx
  nautilus_trader/live/config.py
Due: fmt, cargo-clippy, cargo-doc

Adjust macos CI build workflow
  .github/workflows/build.yml
Due: none

fix macd
  nautilus_trader/indicators/macd.pyx
  tests/acceptance_tests/test_blackbox.py
Due: none

Upgrade rand
  Cargo.lock
  Cargo.toml
  RELEASES.md
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Continue type stub gen for nautilus_trader v2
  crates/pyo3/bin/stub_gen.rs
  crates/pyo3/src/lib.rs
Due: fmt, cargo-clippy, cargo-doc

Add OrderBookDepth10DataWrangler (#2801)
  crates/persistence/src/python/mod.rs
  crates/persistence/src/python/wranglers/depth.rs
  crates/persistence/src/python/wranglers/mod.rs
  docs/concepts/data.md
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/persistence/wranglers_v2.py
  nautilus_trader/persistence/writer.py
  nautilus_trader/serialization/arrow/serializer.py
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine typing for node configs
  crates/backtest/src/config.rs
  crates/live/src/config.rs
  crates/live/src/node.rs
  crates/system/src/builder.rs
  crates/system/src/config.rs
Due: fmt, cargo-clippy, cargo-doc

fix macd
  nautilus_trader/indicators/macd.pyx
Due: none

Add loading of options chain from request_instruments with IB
  examples/live/interactive_brokers/with_databento_instrument_id.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/providers.py
Due: none

Fix parallel pytest tests and enable them
  .github/workflows/build.yml
  Makefile
  nautilus_trader/test_kit/mocks/data.py
  tests/acceptance_tests/test_backtest.py
  tests/integration_tests/adapters/betfair/conftest.py
  tests/integration_tests/adapters/betfair/test_betfair_persistence.py
  tests/integration_tests/adapters/binance/test_core_types.py
  tests/integration_tests/adapters/dydx/test_execution.py
  tests/integration_tests/infrastructure/test_cache_database_postgres.py
  tests/integration_tests/infrastructure/test_cache_database_redis.py
  tests/performance_tests/test_perf_catalog.py
  tests/unit_tests/backtest/test_config.py
  tests/unit_tests/backtest/test_node.py
  tests/unit_tests/common/test_actor.py
  tests/unit_tests/data/test_engine.py
  tests/unit_tests/persistence/conftest.py
  tests/unit_tests/serialization/test_arrow.py
Due: none

Add loading of options chain from request_instruments with IB (#2809)
  examples/live/interactive_brokers/with_databento_instrument_id.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/providers.py
Due: none

Update Databento publishers.json
  crates/adapters/databento/publishers.json
  nautilus_trader/adapters/databento/publishers.json
Due: none

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
