Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Refactor Deribit WebSocket parsers and messages to use shared decimal serialization utilities.
  crates/adapters/deribit/src/websocket/messages.rs
  crates/adapters/deribit/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Handle scientific notation in flexible decimal deserialization
  crates/core/src/serialization.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor Hyperliquid WebSocket codec to use shared decimal serialization utilities
  crates/adapters/hyperliquid/src/websocket/codec.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Deribit HTTP endpoints and execution client support for reconciliation
  crates/adapters/deribit/src/execution/mod.rs
  crates/adapters/deribit/src/http/client.rs
  crates/adapters/deribit/src/http/models.rs
  crates/adapters/deribit/src/http/query.rs
  crates/adapters/deribit/src/python/http.rs
  crates/adapters/deribit/src/websocket/parse.rs
  nautilus_trader/adapters/deribit/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add explicit error handling for partial Deribit credentials
  crates/adapters/deribit/src/common/credential.rs
  crates/adapters/deribit/src/websocket/client.rs
  crates/adapters/deribit/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Safe guard bid and ask size fro IBKR to prevent overflow. IBKR sometimes sends invalid huge values for indecies like SPX
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
Due: check-non-latin-text

Revert "Safe guard bid and ask size fro IBKR to prevent overflow. IBKR sometimes sends invalid huge values for indecies like SPX"
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
Due: check-non-latin-text

run pre-commit
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
Due: check-non-latin-text

Refine IB adapter
  docs/integrations/ib.md
  examples/live/interactive_brokers/connect_with_dockerized_gateway.py
  examples/live/interactive_brokers/notebooks/with_databento_instrument_id_example.py
  nautilus_trader/adapters/interactive_brokers/common.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  nautilus_trader/adapters/interactive_brokers/factories.py
  tests/integration_tests/adapters/interactive_brokers/test_execution.py
Due: check-non-latin-text

Refine previous commit
  nautilus_trader/adapters/interactive_brokers/common.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  tests/integration_tests/adapters/interactive_brokers/conftest.py
  tests/integration_tests/adapters/interactive_brokers/test_execution.py
Due: check-non-latin-text

Improve pnl FX conversions in portfolio
  nautilus_trader/cache/base.pxd
  nautilus_trader/cache/base.pyx
  nautilus_trader/cache/cache.pxd
  nautilus_trader/cache/cache.pyx
  nautilus_trader/model/instruments/base.pxd
  nautilus_trader/model/instruments/base.pyx
  nautilus_trader/model/instruments/betting.pyx
  nautilus_trader/model/instruments/crypto_future.pyx
  nautilus_trader/model/instruments/crypto_option.pyx
  nautilus_trader/model/instruments/crypto_perpetual.pyx
  nautilus_trader/model/position.pxd
  nautilus_trader/model/position.pyx
  nautilus_trader/portfolio/base.pxd
  nautilus_trader/portfolio/base.pyx
  nautilus_trader/portfolio/portfolio.pxd
  nautilus_trader/portfolio/portfolio.pyx
  tests/unit_tests/portfolio/test_conversion.py
  tests/unit_tests/portfolio/test_portfolio_snapshots.py
Due: check-non-latin-text

Stable Changes Gleb
  nautilus_trader/adapters/polymarket/__init__.py
  nautilus_trader/adapters/polymarket/common/constants.py
  nautilus_trader/adapters/polymarket/common/parsing.py
  nautilus_trader/adapters/polymarket/config.py
  nautilus_trader/adapters/polymarket/data.py
  nautilus_trader/adapters/polymarket/factories.py
  nautilus_trader/adapters/polymarket/providers.py
  nautilus_trader/adapters/polymarket/schemas/user.py
Due: check-non-latin-text

Relatively Stable Gleb
  nautilus_trader/adapters/polymarket/execution.py
Due: check-non-latin-text

Implement rate limiting for Deribit HTTP and WebSocket clients
  crates/adapters/deribit/src/common/consts.rs
  crates/adapters/deribit/src/http/client.rs
  crates/adapters/deribit/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Migrate IB adapter to ibapi 10.37.2
  nautilus_trader/adapters/interactive_brokers/client/account.py
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/common.py
  nautilus_trader/adapters/interactive_brokers/client/connection.py
  nautilus_trader/adapters/interactive_brokers/client/error.py
  nautilus_trader/adapters/interactive_brokers/client/order.py
  nautilus_trader/adapters/interactive_brokers/client/wrapper.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  pyproject.toml
  tests/integration_tests/adapters/interactive_brokers/client/test_client_account.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_connection.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_error.py
  tests/integration_tests/adapters/interactive_brokers/test_kit.py
  uv.lock
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine OptionExerciseModule
  examples/backtest/notebooks/databento_option_exercise.py
  nautilus_trader/accounting/accounts/cash.pyx
  nautilus_trader/accounting/accounts/margin.pyx
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/option_exercise.pxd
  nautilus_trader/backtest/option_exercise.pyx
  nautilus_trader/execution/engine.pyx
  nautilus_trader/portfolio/portfolio.pyx
  tests/integration_tests/adapters/betfair/test_betfair_backtest.py
  tests/integration_tests/test_option_accounting.py
  tests/integration_tests/test_option_exercise_flow.py
  tests/test_data/databento/options_exercise/databento/futures_definition.dbn.zst
  tests/test_data/databento/options_exercise/databento/futures_ohlcv-1m_2026-01-09T20-55_2026-01-09T21-05.dbn.zst
  tests/test_data/databento/options_exercise/databento/options_bbo-1m_2026-01-09T20-55_2026-01-09T21-05.dbn.zst
  tests/test_data/databento/options_exercise/databento/options_definition.dbn.zst
  tests/unit_tests/backtest/test_exchange_glbx.py
  tests/unit_tests/backtest/test_option_exercise.py
Due: check-non-latin-text

Batch submit stuff
  nautilus_trader/adapters/polymarket/batch_utils.py
  nautilus_trader/adapters/polymarket/execution.py
Due: check-non-latin-text

fix(databento): handle zero-length interval at dataset boundary
  nautilus_trader/adapters/databento/data.py
Due: check-non-latin-text

Modified OrderList to get rid of instrument_id check.
  nautilus_trader/model/orders/list.pyx
Due: check-non-latin-text

Removed prints.
  nautilus_trader/adapters/polymarket/execution.py
Due: check-non-latin-text

Allow using ts_event instead of ts_init in convert_stream_to_data
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_streaming.py
Due: check-non-latin-text

Refine instrument is_spread method
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/data/engine.pyx
  nautilus_trader/model/instruments/base.pyx
  nautilus_trader/model/instruments/futures_spread.pxd
  nautilus_trader/model/instruments/futures_spread.pyx
  nautilus_trader/model/instruments/option_spread.pxd
  nautilus_trader/model/instruments/option_spread.pyx
  tests/integration_tests/adapters/interactive_brokers/test_instrument_parsing_spreads.py
  tests/integration_tests/adapters/interactive_brokers/test_option_spread_execution.py
  tests/integration_tests/adapters/interactive_brokers/test_spread_execution.py
  tests/unit_tests/model/test_identifiers.py
Due: check-non-latin-text

Improve Deribit WebSocket error handling and prevent duplicate OrderAccepted events
  crates/adapters/deribit/src/websocket/handler.rs
  crates/adapters/deribit/src/websocket/messages.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Handle skipped OrderAccepted events for filled orders in Deribit WebSocket handler
  crates/adapters/deribit/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add `reject_post_only` support for Deribit post-only order submission with rejection
  crates/adapters/deribit/src/execution/mod.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/deribit/src/websocket/client.rs
  crates/adapters/deribit/src/websocket/messages.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine OrderBookDeltas.batch
  nautilus_trader/model/data.pyx
Due: check-non-latin-text

Refine exit process for Strategy
  nautilus_trader/trading/config.py
  nautilus_trader/trading/controller.py
  nautilus_trader/trading/messages.py
  nautilus_trader/trading/strategy.pxd
  nautilus_trader/trading/strategy.pyx
  nautilus_trader/trading/trader.py
  tests/unit_tests/trading/test_strategy.py
Due: check-non-latin-text

Refine previous commit
  nautilus_trader/trading/config.py
  nautilus_trader/trading/strategy.pxd
  nautilus_trader/trading/strategy.pyx
  tests/unit_tests/trading/test_strategy.py
Due: check-non-latin-text

fix(ib): remove fetch_all_open_orders from client cache key
  nautilus_trader/adapters/interactive_brokers/factories.py
Due: check-non-latin-text

fix(ib): upgrade client fetch_all_open_orders flag when needed
  nautilus_trader/adapters/interactive_brokers/factories.py
Due: check-non-latin-text

fix(ib): remove fetch_all_open_orders from client cache key
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/factories.py
Due: check-non-latin-text

docs: add release note for IB client cache key fix
  RELEASES.md
Due: check-non-latin-text

Refactor Deribit order cancellation to support side-specific cancellations
  crates/adapters/deribit/src/execution/mod.rs
  nautilus_trader/adapters/deribit/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fixed Interactive Brokers synthetic position order reconciliation
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/execution.py
Due: check-non-latin-text

Implement Portfolio account updates subscription for Deribit
  crates/adapters/deribit/src/common/parse.rs
  crates/adapters/deribit/src/execution/mod.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/deribit/src/websocket/client.rs
  crates/adapters/deribit/src/websocket/handler.rs
  crates/adapters/deribit/src/websocket/messages.rs
  crates/adapters/deribit/test_data/ws_portfolio.json
  nautilus_trader/adapters/deribit/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fixed venue determination when primaryExchange is empty
  nautilus_trader/adapters/interactive_brokers/providers.py
Due: check-non-latin-text

Preserve OCC format for option symbols in IB adapter
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
Due: check-non-latin-text

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
