Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Skip pong frames during reconnect and cap their payload (#4613)
  crates/adapters/lighter/src/websocket/handler.rs
  crates/network/src/error.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Distinguish aborted reconnects from completed reconnections (#4623)
  crates/network/src/mode.rs
  crates/network/src/socket/client.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Use ActorId for Cache actor APIs
  RELEASES.md
  crates/backtest/src/engine.rs
  crates/backtest/src/python/engine.rs
  crates/backtest/src/python/node.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/cache/database.rs
  crates/common/src/cache/index.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/common/src/python/cache.rs
  crates/event_store/tests/lifecycle.rs
  crates/infrastructure/src/redis/cache.rs
  crates/infrastructure/src/sql/cache.rs
  crates/infrastructure/tests/test_cache_postgres.rs
  crates/infrastructure/tests/test_cache_redis.rs
  crates/live/src/node/mod.rs
  crates/live/src/python/node.rs
  crates/model/src/identifiers/actor_id.rs
  crates/model/src/identifiers/component_id.rs
  crates/model/src/identifiers/macros.rs
  crates/system/src/builder.rs
  crates/system/src/kernel.rs
  crates/system/src/trader.rs
  crates/testkit/src/cache.rs
  python/nautilus_trader/common/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove Cache actor ID index and accessors
  RELEASES.md
  crates/common/src/actor/tests.rs
  crates/common/src/cache/index.rs
  crates/common/src/cache/mod.rs
  crates/common/src/python/cache.rs
  examples/backtest/example_06_using_cache/strategy.py
  python/nautilus_trader/common/__init__.pyi
  python/tests/unit/common/test_cache.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize Hyperliquid execution shared order context
  crates/adapters/hyperliquid/benches/BENCHMARKS.md
  crates/adapters/hyperliquid/benches/exec.rs
  crates/adapters/hyperliquid/benches/micros.rs
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/hyperliquid/src/websocket/dispatch.rs
  crates/adapters/hyperliquid/tests/dispatch.rs
  crates/adapters/hyperliquid/tests/exec_client.rs
  docs/integrations/hyperliquid.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove Cython residuals and guard against new deferrals
  .pre-commit-config.yaml
  .pre-commit-hooks/check_no_legacy_paths.sh
  RELEASES.md
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/backtest/src/engine.rs
  crates/data/src/aggregation.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/engine.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
  crates/indicators/src/momentum/obv.rs
  crates/indicators/src/momentum/rsi.rs
  crates/indicators/src/ratio/efficiency_ratio.rs
  crates/indicators/src/ratio/spread_analyzer.rs
  crates/indicators/src/volatility/fuzzy.rs
  crates/indicators/src/volatility/rvi.rs
  crates/model/src/enums.rs
  crates/model/src/events/order/snapshot.rs
  crates/model/src/python/instruments/mod.rs
  crates/serialization/src/arrow/instrument/mod.rs
  docs/concepts/accounting.md
  docs/concepts/continuous_futures.md
  docs/concepts/custom_data.md
  docs/concepts/greeks.md
  docs/concepts/message_bus.md
  docs/concepts/strategies.md
  docs/tutorials/backtest_book_imbalance_betfair.md
  examples/backtest/example_10_messaging_with_actor_data/strategy.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket filter-scoped instrument bootstrap
  RELEASES.md
  crates/adapters/polymarket/src/config.rs
  crates/adapters/polymarket/src/data/instruments.rs
  crates/adapters/polymarket/src/providers.rs
  crates/adapters/polymarket/tests/http.rs
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Emit quote ticks from delayed IB market data
  crates/adapters/interactive_brokers/src/data/core_streams.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Develop `mmm` strategy further
  crates/bin/config.toml
  crates/bin/src/bin/mmm.rs
  crates/bin/src/config.rs
  crates/bin/src/strategy/mmm/config.rs
  crates/bin/src/strategy/mmm/strategy.rs
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Keep ChandeMomentumOscillator inside its bounds (#4667)
  crates/indicators/src/average/vidya.rs
  crates/indicators/src/momentum/cmo.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket buffered fill ordering on terminal status
  RELEASES.md
  crates/adapters/polymarket/src/websocket/dispatch.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies, tools, and release notes
  .pre-commit-config.yaml
  .supply-chain/audits.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/lighter/fuzz/pornin/Cargo.lock
  python/uv.lock
  tools.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Refine Betfair integration guide
  docs/integrations/betfair.md
Due: check-non-latin-text

Fix Portfolio PnL and exposure output currency
  RELEASES.md
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Restore ARM Docker build configuration
  .github/OVERVIEW.md
  .github/workflows/docker.yml
  scripts/ci/configure-linux-swap.bash
Due: check-non-latin-text

Cover Polymarket order response tradeIDs and batch legs
  RELEASES.md
  crates/adapters/polymarket/src/http/query.rs
  crates/adapters/polymarket/test_data/http_batch_order_response.json
  crates/adapters/polymarket/test_data/http_order_response_trade_ids_only.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine supply chain config and release notes
  .supply-chain/audits.toml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  RELEASES.md
  osv-scanner.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Harden wheel publication security
  .github/OVERVIEW.md
  .github/workflows/build.yml
  .github/workflows/security-audit.yml
  .pre-commit-config.yaml
  scripts/ci/check-security-audit-result.sh
  scripts/ci/check-security-gate-result.bash
  scripts/ci/security-audit-gate.sh
  scripts/ci/test-publish-wheels.bash
Due: check-non-latin-text

Compose the report generators in the default generate_mass_status (#4669)
  crates/common/src/clients/execution.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Binance integration guide
  crates/adapters/binance/src/data_types.rs
  docs/integrations/binance.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Portfolio snapshot PnL exchange rate source
  RELEASES.md
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Support BinaryView custom data decoding
  crates/persistence/macros/src/custom.rs
  crates/persistence/src/test_data.rs
  crates/persistence/tests/test_catalog.rs
  crates/serialization/src/arrow/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Support BinaryView custom data decoding (#4670)
  crates/persistence/macros/src/custom.rs
  crates/persistence/src/test_data.rs
  crates/persistence/tests/test_catalog.rs
  crates/serialization/src/arrow/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix persistence queries reporting failures as exhaustion
  Cargo.lock
  RELEASES.md
  crates/backtest/src/node.rs
  crates/persistence/Cargo.toml
  crates/persistence/benches/persistence.rs
  crates/persistence/bin/to_json.rs
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/session.rs
  crates/persistence/src/python/backend/session.rs
  crates/persistence/tests/test_catalog.rs
  crates/persistence/tests/test_pinned_data_direct_session.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make option expiry settlement transactional in the matching engine
  Cargo.lock
  crates/execution/Cargo.toml
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
  crates/testkit/Cargo.toml
  crates/testkit/src/cache.rs
  crates/testkit/src/lib.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Close admission on deferred option expiry and make add_order atomic
  crates/common/src/cache/mod.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Move option settlement plan types below the matching engine
  Cargo.lock
  crates/execution/src/matching_engine/engine.rs
Due: check-non-latin-text, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove the execution to testkit publication cycle
  Cargo.lock
  crates/execution/Cargo.toml
  crates/execution/tests/matching_engine.rs
  crates/execution/tests/matching_engine/cache_database.rs
  crates/testkit/Cargo.toml
  crates/testkit/src/lib.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Avoid full cache scans when collecting settlement trade IDs
  crates/execution/src/matching_engine/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove settlement ID collision preflight and restore cache ordering
  crates/common/src/cache/mod.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
  crates/execution/tests/matching_engine/cache_database.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Bind pong frames to the connection that received the ping
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/mod.rs
  crates/network/src/websocket/types.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket rejection reasons carrying raw error bodies
  RELEASES.md
  crates/adapters/polymarket/src/http/error.rs
  crates/adapters/polymarket/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document command failure evidence classes in adapter guide
  docs/developer_guide/adapters.md
Due: check-non-latin-text

Standardize live execution command failure type
  RELEASES.md
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/bybit/src/execution.rs
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/execution/mod.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/live/src/execution/failure.rs
  crates/live/src/execution/mod.rs
  docs/developer_guide/adapters.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Retain backtest data past the window end and bound the no-data horizon
  crates/backtest/src/data_iterator.rs
  crates/backtest/src/engine.rs
  crates/backtest/tests/backtest_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve external message bus custom data
  crates/live/src/node/mod.rs
  crates/model/src/python/data/mod.rs
  docs/concepts/custom_data.md
  docs/concepts/data/index.md
  docs/concepts/message_bus.md
  python/generate_stubs.py
  python/tests/unit/model/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Bybit integration guide
  docs/integrations/bybit.md
Due: check-non-latin-text

Fix IB continuous futures historical bar requests
  crates/adapters/interactive_brokers/src/data/convert.rs
  crates/adapters/interactive_brokers/src/data/core.rs
  crates/adapters/interactive_brokers/src/historical/client.rs
  crates/adapters/interactive_brokers/src/python/historical.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add warning for state persistence without cache backing
  RELEASES.md
  crates/system/src/kernel.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
