Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

fix(equities): restore shared ibkr reference quote delivery
  nautilus_trader/adapters/interactive_brokers/shared_reference/data.py
  tests/unit_tests/adapters/interactive_brokers/test_shared_reference_data.py
Due: check-non-latin-text

fix(equities): inherit shared redis for ibkr reference feeds
  systems/flux/flux/runners/live/venues.py
  tests/unit_tests/examples/strategies/test_live_venue_registry.py
Due: check-non-latin-text

fix(equities): restore direct strategy quote delivery
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

fix(equities): bridge grouped node payloads to external ids
  systems/flux/flux/bridge/handlers/market_bbo.py
  systems/flux/flux/bridge/handlers/state.py
  systems/flux/flux/bridge/handlers/utils.py
  tests/unit_tests/flux/bridge/test_handlers.py
Due: check-non-latin-text

docs: define lean aws-managed prod box architecture
  docs/plans/2026-03-26-aws-managed-prod-boxes-design.md
  docs/plans/2026-03-26-aws-managed-prod-boxes.md
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
  tests/unit_tests/ops/deploy/test_tokenmm_telemetry_autopilot.py
Due: check-non-latin-text

fix(tokenmm): harden telemetry archive cutover
  nautilus_trader/persistence/shipper/quote_cycle_archive.py
  nautilus_trader/persistence/shipper/run.py
  nautilus_trader/persistence/shipper/s3_archive.py
  ops/scripts/deploy/tokenmm_telemetry_cutover.py
  tests/unit_tests/persistence/test_quote_cycle_archive.py
  tests/unit_tests/persistence/test_telemetry_archive.py
  tests/unit_tests/persistence/test_telemetry_shipper.py
Due: check-non-latin-text

feat: export telemetry to s3 and athena
  deploy/tokenmm/README.md
  deploy/tokenmm/TELEMETRY_RDS_RUNBOOK.md
  docs/plans/2026-03-26-aws-managed-prod-boxes.md
  nautilus_trader/persistence/shipper/quote_cycle_archive.py
  nautilus_trader/persistence/shipper/s3_archive.py
  ops/scripts/deploy/tokenmm_telemetry_cutover.py
  tests/unit_tests/ops/deploy/test_tokenmm_telemetry_autopilot.py
  tests/unit_tests/persistence/test_quote_cycle_archive.py
  tests/unit_tests/persistence/test_telemetry_archive.py
Due: check-non-latin-text

feat: classify telemetry by retention tier
  deploy/tokenmm/tokenmm.live.toml
  docs/plans/2026-03-26-aws-managed-prod-boxes.md
  nautilus_trader/persistence/shipper/config.py
  nautilus_trader/persistence/shipper/run.py
  nautilus_trader/persistence/shipper/service.py
  tests/unit_tests/persistence/test_telemetry_archive.py
  tests/unit_tests/persistence/test_telemetry_shipper.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

docs(tokenmm): restore socket trade reconnect contract
  fluxboard/docs/tokenmm_socket_contract.md
Due: check-non-latin-text

fix(bridge): replay market bbo snapshot on bootstrap
  systems/flux/flux/bridge/stream_consumer.py
  tests/unit_tests/flux/bridge/test_stream_consumer.py
Due: check-non-latin-text

fix(bridge): replay market bbo bootstrap stream
  systems/flux/flux/bridge/stream_consumer.py
  tests/unit_tests/flux/bridge/test_stream_consumer.py
Due: check-non-latin-text

fix(tokenmm): harden quote-cycle persistence and shutdown
  nautilus_trader/persistence/shipper/service.py
  systems/flux/flux/runners/tokenmm/run_node.py
  systems/flux/flux/strategies/makerv3/failures.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
  tests/unit_tests/flux/strategies/makerv3/test_strategy_lifecycle.py
  tests/unit_tests/persistence/test_telemetry_shipper.py
Due: check-non-latin-text

fix(equities): restore supervisor-owned quote lifecycle seam
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

fix(fluxboard): enable tokenmm realtime trades hotfix
  fluxboard/Trades.test.tsx
  fluxboard/Trades.tsx
  fluxboard/__tests__/config/featureFlags.test.ts
  fluxboard/config/featureFlags.ts
  fluxboard/utils/sound.ts
Due: none

fix(equities): recover startup and degraded quote delivery
  nautilus_trader/adapters/interactive_brokers/shared_reference/data.py
  systems/flux/flux/runners/shared/quote_feed_supervisor.py
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/adapters/interactive_brokers/test_shared_reference_data.py
  tests/unit_tests/examples/strategies/test_quote_feed_supervisor.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

fix(fluxboard): mirror all-row drafts into filtered params rows
  fluxboard/Params.tsx
  fluxboard/__tests__/ParamsBulkApplyAllRow.test.tsx
Due: none

fix(fluxboard): avoid tokenmm trades replay reset loop
  fluxboard/Trades.tsx
  fluxboard/__tests__/trades-status.test.tsx
Due: none

fix(equities): poll shared ibkr snapshots
  nautilus_trader/adapters/interactive_brokers/shared_reference/data.py
  tests/unit_tests/adapters/interactive_brokers/test_shared_reference_data.py
Due: check-non-latin-text

fix(equities): surface cached quote recovery in grouped nodes
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

fix(fluxboard): stabilize tokenmm trades resume cursor
  fluxboard/Trades.tsx
  fluxboard/__tests__/trades-integration.test.tsx
Due: none

fix(equities): refresh grouped quote state from cache
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

fix(equities): preserve local quote delivery under supervisor
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

fix(equities): recover stale grouped quotes from cache
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

fix(fluxboard): stop standard trades cursor pollution
  fluxboard/Trades.tsx
Due: none

fix(flux-api): tolerate stale tokenmm trades delta cursors
  systems/flux/flux/api/app.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_tokenmm_compat.py
Due: check-non-latin-text

fix(fluxboard): reset tokenmm standard cursor from snapshot lineage
  fluxboard/Trades.tsx
  fluxboard/__tests__/trades-integration.test.tsx
Due: none

fix(review): address equities recovery PR comments
  crates/adapters/hyperliquid/src/websocket/client.rs
  nautilus_trader/adapters/binance/websocket/client.py
  nautilus_trader/adapters/hyperliquid/data.py
  tests/integration_tests/adapters/hyperliquid/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(fluxboard): keep tokenmm trade recovery snapshot-only
  fluxboard/Trades.tsx
  fluxboard/__tests__/trades-integration.test.tsx
Due: none

fix(ibkr): reset shared reference listener on disconnect
  nautilus_trader/adapters/interactive_brokers/shared_reference/data.py
  tests/unit_tests/adapters/interactive_brokers/test_shared_reference_data.py
Due: check-non-latin-text

docs(equities): track prod feed follow-up
  docs/plans/2026-03-31-equities-prod-feed-followup.md
Due: check-non-latin-text

Stabilize equities quote freshness budgets
  deploy/equities/README.md
  deploy/equities/equities.live.toml
  systems/flux/flux/runners/shared/ibkr_reference_publisher.py
  systems/flux/flux/strategies/equities_maker/runtime_params.py
  systems/flux/flux/strategies/equities_taker/runtime_params.py
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/examples/strategies/test_equities_ibkr_reference_publisher.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
  tests/unit_tests/flux/strategies/equities_taker/test_strategy.py
  tests/unit_tests/flux/strategies/makerv4/test_publisher_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Skip duplicate Hyperliquid quote recovery replays
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Propagate exported maker quote age budget
  systems/flux/flux/api/_payloads_signals.py
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/strategies/makerv4/test_publisher_contract.py
Due: check-non-latin-text

Relax tradexyz overnight quote freshness budgets
  deploy/equities/strategies/aapl_tradexyz_maker.toml
  deploy/equities/strategies/aapl_tradexyz_taker.toml
  deploy/equities/strategies/amd_tradexyz_maker.toml
  deploy/equities/strategies/amd_tradexyz_taker.toml
  deploy/equities/strategies/amzn_tradexyz_maker.toml
  deploy/equities/strategies/amzn_tradexyz_taker.toml
  deploy/equities/strategies/googl_tradexyz_maker.toml
  deploy/equities/strategies/googl_tradexyz_taker.toml
  deploy/equities/strategies/meta_tradexyz_maker.toml
  deploy/equities/strategies/meta_tradexyz_taker.toml
  deploy/equities/strategies/msft_tradexyz_maker.toml
  deploy/equities/strategies/msft_tradexyz_taker.toml
  deploy/equities/strategies/nvda_tradexyz_maker.toml
  deploy/equities/strategies/nvda_tradexyz_taker.toml
  deploy/equities/strategies/orcl_tradexyz_maker.toml
  deploy/equities/strategies/orcl_tradexyz_taker.toml
  deploy/equities/strategies/pltr_tradexyz_maker.toml
  deploy/equities/strategies/pltr_tradexyz_taker.toml
  deploy/equities/strategies/tsla_tradexyz_maker.toml
  deploy/equities/strategies/tsla_tradexyz_taker.toml
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Deduplicate supervisor-owned quote subscriptions
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/tests/websocket.rs
  systems/flux/flux/runners/shared/quote_feed_supervisor.py
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/examples/strategies/test_quote_feed_supervisor.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Honor equities pilot Redis DB across cache and msgbus
  crates/common/src/msgbus/database.rs
  crates/infrastructure/src/redis/mod.rs
  deploy/equities/README.md
  docs/runbooks/equities-pilot-rollout.md
  nautilus_trader/common/config.py
  systems/flux/flux/runners/shared/bootstrap.py
  tests/unit_tests/config/test_common.py
  tests/unit_tests/flux/common/test_config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Backfill equities Redis DB propagation coverage
  crates/infrastructure/tests/test_cache_redis.rs
  crates/infrastructure/tests/test_redis_queries.rs
  tests/unit_tests/examples/strategies/test_equities_run_node.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Cap live Flux input streams by runtime default
  crates/common/src/msgbus/database.rs
  crates/infrastructure/src/redis/msgbus.rs
  deploy/equities/README.md
  nautilus_trader/common/config.py
  systems/flux/docs/redis_schema.md
  systems/flux/flux/runners/equities/run_node.py
  systems/flux/flux/runners/tokenmm/run_node.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Bound live Flux streams and restore Redis DB plumbing
  crates/common/src/msgbus/database.rs
  crates/infrastructure/src/redis/mod.rs
  crates/infrastructure/src/redis/msgbus.rs
  crates/infrastructure/tests/test_cache_redis.rs
  crates/infrastructure/tests/test_redis_queries.rs
  nautilus_trader/common/config.py
  systems/flux/flux/runners/equities/run_node.py
  systems/flux/flux/runners/shared/bootstrap.py
  systems/flux/flux/runners/tokenmm/run_node.py
  tests/unit_tests/config/test_common.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
  tests/unit_tests/flux/common/test_config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Bound live Flux streams and restore Redis DB plumbing
  crates/common/src/msgbus/database.rs
  crates/infrastructure/src/redis/msgbus.rs
  crates/infrastructure/tests/test_cache_redis.rs
  crates/infrastructure/tests/test_redis_queries.rs
  nautilus_trader/common/config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
