Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Style fix
  nautilus_trader/adapters/polymarket/providers.py
Due: none

Improve Polymarket instrument provider bulk loading (#2913)
  nautilus_trader/adapters/polymarket/providers.py
Due: none

Improve websocket clients state management
  crates/adapters/bitmex/bin/ws-data.rs
  crates/adapters/bitmex/bin/ws-exec.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/bitmex/src/websocket/parse.rs
  crates/adapters/coinbase_intx/bin/websocket.rs
  crates/adapters/coinbase_intx/src/python/websocket.rs
  crates/adapters/coinbase_intx/src/websocket/client.rs
  crates/adapters/okx/bin/ws-data.rs
  crates/adapters/okx/bin/ws-exec.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/okx/src/websocket/client.rs
  nautilus_trader/adapters/bitmex/data.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/adapters/coinbase_intx/data.py
  nautilus_trader/adapters/coinbase_intx/execution.py
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/adapters/okx/execution.py
Due: fmt, cargo-clippy, cargo-doc

Improve OKX integration guide
  docs/integrations/okx.md
Due: none

Fix cash account balance locked for sell orders
  nautilus_trader/accounting/manager.pyx
  nautilus_trader/test_kit/stubs/execution.py
  tests/unit_tests/accounting/test_cash.py
Due: none

Fix skip_first_non_full_bar tolerance for near-boundary starts
  nautilus_trader/data/aggregation.pyx
  tests/unit_tests/data/test_aggregation.py
Due: none

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Change requests applied
  crates/adapters/hyperliquid/src/common/consts.rs
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/common/types.rs
  crates/adapters/hyperliquid/src/http/error.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/websocket/enums.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize use of rstest attribute
  crates/adapters/blockchain/src/math.rs
  crates/adapters/databento/src/factories.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/common/urls.rs
  crates/adapters/tardis/src/http/instruments.rs
  crates/common/src/ffi/timer.rs
  crates/common/src/greeks.rs
  crates/common/src/timer.rs
  crates/core/src/nanos.rs
  crates/indicators/src/momentum/pressure.rs
  crates/model/src/accounts/base.rs
  crates/model/src/defi/hex.rs
  crates/model/src/instruments/mod.rs
  crates/model/src/orders/any.rs
  crates/model/src/orders/limit.rs
  crates/model/src/orders/limit_if_touched.rs
  crates/model/src/orders/market_if_touched.rs
  crates/model/src/orders/market_to_limit.rs
  crates/model/src/orders/stop_limit.rs
  crates/model/src/orders/stop_market.rs
  crates/model/src/orders/trailing_stop_limit.rs
  crates/model/src/orders/trailing_stop_market.rs
  crates/model/src/types/money.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
  crates/network/tests/property_backoff.rs
  crates/network/tests/property_ratelimiter.rs
  crates/network/tests/turmoil_socket.rs
  crates/network/tests/turmoil_websocket.rs
  crates/persistence/src/backend/kmerge_batch.rs
  crates/persistence/src/parquet.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize formatting and clarify websocket docs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/coinbase_intx/src/python/websocket.rs
  crates/adapters/okx/src/python/websocket.rs
Due: fmt, cargo-clippy, cargo-doc

Renaming
  crates/adapters/hyperliquid/src/common/consts.rs
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/types.rs
  crates/adapters/hyperliquid/src/http/models.rs
Due: fmt, cargo-clippy, cargo-doc

Implement initial Hyperliquid adapter (#2912)
  Cargo.lock
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/src/common/consts.rs
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/mod.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/common/types.rs
  crates/adapters/hyperliquid/src/http/error.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/lib.rs
  crates/adapters/hyperliquid/src/websocket/enums.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine Databento requests time range handling
  nautilus_trader/adapters/databento/data.py
Due: none

Standardize Databento response handling
  nautilus_trader/adapters/databento/data.py
Due: none

Fix ExecTester sell order price
  nautilus_trader/test_kit/strategies/tester_exec.py
Due: none

Polymarket websocket market API supports only 500 tokens to subscribe
  nautilus_trader/adapters/polymarket/data.py
Due: none

Implement Hyperliquid EIP-712 signing and nonce management
  Cargo.toml
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/lib.rs
  crates/adapters/hyperliquid/src/signing/mod.rs
  crates/adapters/hyperliquid/src/signing/nonce.rs
  crates/adapters/hyperliquid/src/signing/signers.rs
  crates/adapters/hyperliquid/src/signing/types.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve position reporting
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/websocket/parse.rs
  crates/adapters/coinbase_intx/src/http/parse.rs
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/common/types.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/client.rs
  crates/model/src/enums.rs
  crates/model/src/python/reports/position.rs
  crates/model/src/reports/mass_status.rs
  crates/model/src/reports/position.rs
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/execution/reports.py
  tests/unit_tests/execution/test_reports.py
Due: fmt, cargo-clippy, cargo-doc

Fix Polymarket websocket 500 tokens per connection limitation (#2915)
  nautilus_trader/adapters/polymarket/data.py
Due: none

Standardize crate READMEs
  crates/adapters/bitmex/README.md
  crates/adapters/coinbase_intx/README.md
  crates/adapters/hyperliquid/README.md
  crates/adapters/tardis/README.md
Due: none

Standardize OKX types naming convention
  crates/adapters/okx/src/websocket/enums.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize OKX imports
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
