Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Refine ActorExecutor logging
  nautilus_trader/common/actor.pyx
  nautilus_trader/common/executor.py
Due: check-non-latin-text

Fix msgspec encoding for type objects with qualified names
  RELEASES.md
  nautilus_trader/common/config.py
  tests/unit_tests/config/test_common.py
Due: check-non-latin-text

Fix Bybit spot position reports for spot margin borrowing
  nautilus_trader/adapters/bybit/execution.py
  tests/integration_tests/adapters/bybit/test_bybit_spot_borrow.py
Due: check-non-latin-text

Upgrade databento crate
  Cargo.lock
  Cargo.toml
  RELEASES.md
  nautilus_trader/core/includes/backtest.h
  nautilus_trader/core/includes/common.h
  nautilus_trader/core/includes/core.h
  nautilus_trader/core/includes/model.h
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix error conventions hook for cross-platform compatibility
  .pre-commit-hooks/check_error_conventions.sh
Due: none

Standardize crate manifests and docs
  crates/adapters/bitmex/Cargo.toml
  crates/adapters/blockchain/README.md
  crates/adapters/blockchain/src/lib.rs
  crates/adapters/bybit/Cargo.toml
  crates/adapters/okx/Cargo.toml
  crates/network/README.md
  crates/network/src/lib.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve adapter websocket reconnection tests robustness
  crates/adapters/bitmex/tests/websocket.rs
  crates/adapters/okx/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Drop support for Python 3.11
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  README.md
  RELEASES.md
  docs/getting_started/backtest_high_level.ipynb
  docs/getting_started/backtest_low_level.ipynb
  docs/getting_started/index.md
  docs/getting_started/installation.md
  docs/getting_started/quickstart.ipynb
  docs/tutorials/backtest_binance_orderbook.ipynb
  docs/tutorials/backtest_bybit_orderbook.ipynb
  docs/tutorials/backtest_fx_bars.ipynb
  docs/tutorials/databento_data_catalog.ipynb
  nautilus_trader/adapters/bybit/schemas/common.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/live/enqueue.py
  nautilus_trader/live/retry.py
  pyproject.toml
  python/README.md
  python/pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix OKX WebSocket heartbeat and standardize logging
  RELEASES.md
  crates/adapters/okx/src/websocket/client.rs
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/adapters/okx/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update CI wheel counts
  .github/workflows/build.yml
Due: check-non-latin-text

Continue Hyperliquid adapter
  crates/adapters/hyperliquid/bin/ws_data.rs
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/common/types.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/python/http.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/signing/signers.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/codec.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
  examples/sandbox/hyperliquid_testnet_sandbox.py
  nautilus_trader/adapters/hyperliquid/data.py
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/adapters/hyperliquid/factories.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Improve Polymarket execution flows and efficiency
  nautilus_trader/adapters/polymarket/common/parsing.py
  nautilus_trader/adapters/polymarket/common/symbol.py
  nautilus_trader/adapters/polymarket/config.py
  nautilus_trader/adapters/polymarket/data.py
  nautilus_trader/adapters/polymarket/execution.py
  nautilus_trader/adapters/polymarket/websocket/client.py
  tests/integration_tests/adapters/polymarket/test_execution.py
  tests/integration_tests/adapters/polymarket/test_symbol.py
Due: check-non-latin-text

Optimize CI common-setup action
  .github/actions/common-setup/action.yml
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
Due: check-non-latin-text

Refine CI wheel artifacts handling
  .github/actions/upload-artifact-wheel/action.yml
  .github/workflows/build.yml
  scripts/ci/publish-wheels-generate-index.sh
  scripts/ci/publish-wheels-r2-upload-new-wheels.sh
  scripts/ci/validate-wheel-count.sh
Due: check-non-latin-text

Improve OKX adapter reliability and correctness
  crates/adapters/okx/bin/ws_data.rs
  crates/adapters/okx/bin/ws_exec.rs
  crates/adapters/okx/src/common/enums.rs
  crates/adapters/okx/src/config.rs
  crates/adapters/okx/src/data/mod.rs
  crates/adapters/okx/src/execution/mod.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  docs/integrations/okx.md
  examples/live/okx/okx_data_tester.py
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/adapters/okx/data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove redundant TypeVar
  nautilus_trader/test_kit/functions.py
Due: check-non-latin-text

Implement OKX spot margin reconciliation and quote-quantity orders
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/src/python/http.rs
  crates/adapters/okx/src/python/mod.rs
  crates/adapters/okx/src/python/models.rs
  crates/adapters/okx/src/websocket/parse.rs
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/adapters/okx/config.py
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/okx/test_spot_cash_position_reports.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize crate READMEs
  Makefile
  assets/nautilus-logo-white.png
  crates/adapters/bitmex/README.md
  crates/adapters/bitmex/src/common/credential.rs
  crates/adapters/blockchain/README.md
  crates/adapters/bybit/README.md
  crates/adapters/bybit/src/common/credential.rs
  crates/adapters/coinbase_intx/README.md
  crates/adapters/coinbase_intx/src/common/credential.rs
  crates/adapters/databento/README.md
  crates/adapters/hyperliquid/README.md
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/okx/README.md
  crates/adapters/okx/src/common/credential.rs
  crates/adapters/tardis/README.md
  crates/analysis/README.md
  crates/backtest/README.md
  crates/cli/README.md
  crates/common/README.md
  crates/core/README.md
  crates/cryptography/README.md
  crates/data/README.md
  crates/execution/README.md
  crates/indicators/README.md
  crates/infrastructure/README.md
  crates/live/README.md
  crates/model/README.md
  crates/network/README.md
  crates/persistence/README.md
  crates/portfolio/README.md
  crates/risk/README.md
  crates/risk/src/engine/mod.rs
  crates/serialization/README.md
  crates/system/README.md
  crates/testkit/README.md
  crates/trading/README.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OKX spot margin and swap quoter example
  examples/live/okx/okx_spot_swap_quoter.py
  nautilus_trader/live/execution_engine.py
Due: check-non-latin-text

Repair OKX spot margin per-instrument position reconciliation
  nautilus_trader/adapters/okx/execution.py
  tests/integration_tests/adapters/okx/test_execution.py
Due: check-non-latin-text

Refactor reading of feather files in catalog (#3114)
  nautilus_trader/persistence/catalog/base.py
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_streaming.py
Due: check-non-latin-text

Upgrade implied-vol crate (#3115)
  Cargo.lock
  Cargo.toml
  crates/model/src/data/greeks.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit pagination tests
  crates/adapters/bybit/tests/pagination.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Bump version
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/core/build.rs
  pyproject.toml
  uv-version
  uv.lock
  version.json
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Polymarket trade event signaling
  nautilus_trader/adapters/polymarket/execution.py
Due: check-non-latin-text

Add wheel count validation for release workflows
  .github/workflows/build.yml
  scripts/ci/validate-wheel-count.sh
Due: check-non-latin-text

Standardize mutex lock error handling
  crates/adapters/okx/src/data/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OKX spot margin position reports for borrowing
  RELEASES.md
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/model/src/instruments/mod.rs
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/live/execution_engine.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Prepare release
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Optimize BacktestEngine data loading with deferred sorting
  docs/concepts/backtesting.md
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/node.py
  tests/unit_tests/backtest/test_data_iterator.py
  tests/unit_tests/backtest/test_engine.py
Due: check-non-latin-text

Update dependencies and refine tooling
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/cargo_deny.sh
  Cargo.lock
  Cargo.toml
  Makefile
  RELEASES.md
  deny.toml
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Add heartbeat for Coinbase Intx websocket
  nautilus_trader/adapters/coinbase_intx/data.py
Due: check-non-latin-text

Upgrade continuous reconciliation for execution engine
  Cargo.lock
  RELEASES.md
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/websocket/parse.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/websocket/parse.rs
  crates/adapters/coinbase_intx/src/fix/parse.rs
  crates/adapters/coinbase_intx/src/http/parse.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/live/Cargo.toml
  crates/live/src/execution.rs
  crates/live/src/python/reconciliation.rs
  crates/live/src/reconciliation/calculations.rs
  crates/live/src/reconciliation/manager.rs
  crates/live/src/reconciliation/mod.rs
  crates/model/src/python/reports/order.rs
  crates/model/src/reports/order.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
  docs/concepts/live.md
  examples/live/bitmex/bitmex_exec_tester.py
  examples/live/bybit/bybit_exec_tester.py
  nautilus_trader/adapters/bybit/common/constants.py
  nautilus_trader/adapters/bybit/providers.py
  nautilus_trader/adapters/bybit/schemas/instrument.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/execution/reports.py
  nautilus_trader/live/config.py
  nautilus_trader/live/execution_engine.py
  nautilus_trader/live/reconciliation.py
  nautilus_trader/model/functions.pxd
  nautilus_trader/model/functions.pyx
  tests/integration_tests/live/test_live_reconciliation.py
  tests/unit_tests/execution/test_reports.py
  tests/unit_tests/live/test_reconciliation_price.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix typo in installation docs grep command
  docs/getting_started/installation.md
Due: check-non-latin-text

Improve robustness of adapter WebSocket reconnection tests
  crates/adapters/bitmex/tests/websocket.rs
  crates/adapters/okx/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add BitMEX SubmitBroadcaster scaffolding
  crates/adapters/bitmex/src/config.rs
  crates/adapters/bitmex/src/execution/canceller.rs
  crates/adapters/bitmex/src/execution/mod.rs
  crates/adapters/bitmex/src/execution/submitter.rs
  crates/adapters/bitmex/src/lib.rs
  crates/adapters/bitmex/src/python/mod.rs
  crates/adapters/bitmex/src/python/submitter.rs
  crates/backtest/src/exchange.rs
  crates/common/src/messages/execution/submit.rs
  crates/execution/src/engine/tests.rs
  crates/execution/src/order_emulator/emulator.rs
  crates/execution/src/order_manager/manager.rs
  crates/live/src/python/reconciliation.rs
  crates/risk/src/engine/tests.rs
  examples/live/bitmex/bitmex_exec_tester.py
  nautilus_trader/adapters/bitmex/config.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/live/execution_engine.py
  tests/integration_tests/adapters/bitmex/conftest.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix logging bugs and improve error handling
  crates/common/src/ffi/logging.rs
  crates/common/src/logging/mod.rs
  crates/common/src/logging/writer.rs
  crates/common/src/python/logging.rs
  nautilus_trader/common/component.pyx
  nautilus_trader/common/config.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/system/kernel.py
  tests/unit_tests/common/test_logging_pyo3.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
