Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

fix(tokenmm): scope base-first trade projections to tokenmm
  systems/flux/flux/api/_payloads_common.py
  systems/flux/flux/api/app.py
  systems/flux/flux/api/socketio.py
  tests/unit_tests/flux/api/test_payloads.py
Due: check-non-latin-text

feat(tokenmm): canonicalize quantity in task5 operator surfaces
  fluxboard/Trades.mobile.test.tsx
  fluxboard/Trades.tsx
  fluxboard/api.ts
  fluxboard/stores.ts
  fluxboard/types.ts
  ops/scripts/exporters/tokenmm_markouts_exporter.py
  research/tokenmm/README.md
  research/tokenmm/telemetry_helpers.py
  tests/unit_tests/ops/test_tokenmm_markouts_exporter.py
  tests/unit_tests/research/test_telemetry_helpers.py
Due: check-non-latin-text

test(fluxboard): preserve trade api helpers in mocks
  fluxboard/Trades.test.tsx
  fluxboard/__tests__/trades-integration.test.tsx
Due: none

docs(tokenmm): define operator quantity contract
  fluxboard/docs/tokenmm_contract.md
  fluxboard/docs/tokenmm_socket_contract.md
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text

fix(fluxboard): scope base-first trade qty to tokenmm
  fluxboard/Trades.mobile.test.tsx
  fluxboard/Trades.recovery.test.tsx
  fluxboard/Trades.test.tsx
  fluxboard/Trades.tsx
  fluxboard/__tests__/trades-integration.test.tsx
  fluxboard/api.flux.test.ts
  fluxboard/api.ts
  fluxboard/stores.ts
Due: none

docs(plan): record tokenmm quantity verification
  docs/plans/2026-03-23-tokenmm-operator-qty-contract.md
Due: check-non-latin-text

docs(plan): stabilize tokenmm verification summary
  docs/plans/2026-03-23-tokenmm-operator-qty-contract.md
Due: check-non-latin-text

docs(tokenmm): reconcile operator quantity contract notes
  docs/plans/2026-03-23-tokenmm-operator-qty-contract.md
  fluxboard/docs/tokenmm_contract.md
  fluxboard/docs/tokenmm_socket_contract.md
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text

task14 adopt standard transport for signal and trades
  docs/plans/realtime-status/rt-standard-transport.md
  docs/plans/realtime-surfaces/signal-cutover.md
  docs/plans/realtime-surfaces/trades-cutover.md
  fluxboard/Trades.tsx
  fluxboard/__tests__/panels/signal.test.tsx
  fluxboard/__tests__/realtime/standard-socket-client.test.tsx
  fluxboard/__tests__/trades-integration.test.tsx
  fluxboard/__tests__/trades-socket-cleanup.test.tsx
  fluxboard/api.ts
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/e2e/realtime-cutovers/signal.spec.ts
  fluxboard/e2e/realtime-cutovers/trades.spec.ts
  fluxboard/hooks/useRealtimeChannel.ts
  fluxboard/hooks/useWebSocket.ts
  fluxboard/sockets.test.ts
  fluxboard/sockets.ts
  fluxboard/types.ts
  systems/flux/docs/realtime-rollout.md
Due: check-non-latin-text

task14 harden standard transport recovery
  fluxboard/Trades.tsx
  fluxboard/__tests__/panels/signal.test.tsx
  fluxboard/__tests__/trades-integration.test.tsx
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/sockets.test.ts
  fluxboard/sockets.ts
Due: none

task14 sync recovery hardening status
  docs/plans/realtime-status/rt-soak.md
  docs/plans/realtime-status/rt-standard-transport.md
  docs/plans/realtime-surfaces/signal-cutover.md
  docs/plans/realtime-surfaces/trades-cutover.md
  systems/flux/docs/realtime-rollout.md
Due: check-non-latin-text

Fix spread instrument not found on restart reconciliation
  nautilus_trader/adapters/interactive_brokers/execution.py
  tests/integration_tests/adapters/interactive_brokers/test_execution_reconciliation.py
Due: check-non-latin-text

Fix docstring formatting in spread pre-load tests
  tests/integration_tests/adapters/interactive_brokers/test_execution_reconciliation.py
Due: check-non-latin-text

task14 pin trades reconnect regression
  fluxboard/__tests__/trades-integration.test.tsx
Due: none

docs: add tokenmm live hardening plan
  docs/plans/2026-03-23-tokenmm-live-hardening.md
Due: check-non-latin-text

task14 sync reconnect regression status
  docs/plans/realtime-status/rt-standard-transport.md
  docs/plans/realtime-surfaces/trades-cutover.md
Due: check-non-latin-text

test: codify tokenmm msgbus failure contract
  crates/infrastructure/src/redis/msgbus.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: harden redis msgbus publisher for tokenmm
  crates/infrastructure/src/redis/msgbus.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(tokenmm): harden operator qty contract regression coverage
  fluxboard/Trades.test.tsx
  nautilus_trader/persistence/fills/sqlite.py
  nautilus_trader/persistence/orders/actor.py
  systems/flux/flux/api/_payloads_common.py
  systems/flux/flux/api/app.py
  systems/flux/flux/api/socketio.py
  tests/unit_tests/flux/api/test_socketio_tokenmm.py
  tests/unit_tests/flux/api/test_tokenmm_compat.py
  tests/unit_tests/persistence/test_execution_fill_persistence_actor.py
  tests/unit_tests/persistence/test_execution_fill_sqlite.py
  tests/unit_tests/persistence/test_order_action_persistence_actor.py
  tests/unit_tests/persistence/test_order_action_sqlite.py
Due: check-non-latin-text

docs: tighten realtime cleanup gating
  docs/plans/realtime-status/rt-alerts.md
  docs/plans/realtime-status/rt-market-balances.md
  docs/plans/realtime-surfaces/alerts-cutover.md
  docs/plans/realtime-surfaces/balances-cutover.md
  docs/plans/realtime-surfaces/marketdata-cutover.md
  systems/flux/docs/realtime-rollout.md
Due: check-non-latin-text

feat: add tokenmm readiness and stale publish detection
  ops/scripts/tokenmm_risk_audit.py
  systems/flux/docs/api.md
  systems/flux/flux/pulse/api.py
  systems/flux/flux/runners/tokenmm/readiness.py
  systems/flux/flux/runners/tokenmm/run_api.py
  tests/unit_tests/examples/strategies/test_tokenmm_risk_audit_logic.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_api.py
  tests/unit_tests/flux/pulse/test_api.py
  tests/unit_tests/flux/runners/test_tokenmm_readiness.py
Due: check-non-latin-text

Harden Binance PM tokenmm startup and streams
  deploy/tokenmm/strategies/plumeusdt_binance_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_binance_spot_makerv3.toml
  nautilus_trader/adapters/binance/common/enums.py
  nautilus_trader/adapters/binance/common/urls.py
  nautilus_trader/adapters/binance/config.py
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/binance/factories.py
  nautilus_trader/adapters/binance/futures/execution.py
  nautilus_trader/adapters/binance/futures/schemas/account.py
  nautilus_trader/adapters/binance/futures/schemas/user.py
  nautilus_trader/adapters/binance/http/account.py
  nautilus_trader/adapters/binance/http/user.py
  nautilus_trader/adapters/binance/spot/execution.py
  nautilus_trader/adapters/binance/spot/http/account.py
  nautilus_trader/adapters/binance/spot/schemas/account.py
  nautilus_trader/adapters/binance/spot/schemas/user.py
  nautilus_trader/adapters/binance/websocket/user.py
  nautilus_trader/live/execution_engine.py
  systems/flux/flux/strategies/makerv3/failures.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/integration_tests/adapters/binance/test_execution_futures.py
  tests/integration_tests/adapters/binance/test_execution_spot.py
  tests/integration_tests/adapters/binance/test_factories.py
  tests/unit_tests/adapters/binance/test_portfolio_margin_spot.py
  tests/unit_tests/examples/strategies/test_live_venue_registry.py
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_order_safety.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(tokenmm): harden socket reset and qty fallback paths
  fluxboard/Trades.recovery.test.tsx
  fluxboard/Trades.test.tsx
  fluxboard/Trades.tsx
  fluxboard/__tests__/trades-integration.test.tsx
  fluxboard/api.ts
  fluxboard/stores.ts
  systems/flux/flux/api/app.py
  systems/flux/flux/api/socketio.py
  tests/unit_tests/flux/api/test_socketio_tokenmm.py
Due: check-non-latin-text

fix: harden tokenmm startup reconciliation recovery
  docs/plans/2026-03-23-tokenmm-live-hardening.md
  docs/runbooks/tokenmm-risk-validation.md
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

fix: address tokenmm hardening review findings
  crates/common/src/msgbus/database.rs
  crates/infrastructure/src/redis/msgbus.rs
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: finalize tokenmm live hardening rollout plan
  docs/plans/2026-03-23-tokenmm-live-hardening.md
  docs/runbooks/tokenmm-risk-validation.md
  ops/scripts/tokenmm_risk_audit.py
  tests/unit_tests/examples/strategies/test_tokenmm_risk_audit_logic.py
Due: check-non-latin-text

docs: sync tokenmm hardening tracker
  docs/plans/2026-03-23-tokenmm-live-hardening.md
Due: check-non-latin-text

Harden Binance PM follow-up fixes
  nautilus_trader/adapters/binance/spot/schemas/account.py
  nautilus_trader/live/execution_engine.py
  systems/flux/flux/api/_payloads_signals.py
  systems/flux/flux/strategies/makerv3/failures.py
  tests/unit_tests/adapters/binance/test_portfolio_margin_spot.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

Migrate alerts to standard realtime transport
  fluxboard/Alerts.test.tsx
  fluxboard/Alerts.tsx
  fluxboard/Alerts.wiring.test.tsx
  fluxboard/api.flux.test.ts
  fluxboard/api.ts
  fluxboard/e2e/realtime-cutovers/alerts.spec.ts
  fluxboard/hooks/index.ts
  systems/flux/flux/api/app.py
  systems/flux/flux/api/socketio.py
  tests/unit_tests/flux/api/test_realtime_contract.py
Due: check-non-latin-text

Update alerts rollout tracking
  docs/plans/realtime-status/rt-alerts.md
  docs/plans/realtime-surfaces/alerts-cutover.md
  systems/flux/docs/realtime-rollout.md
Due: check-non-latin-text

fix: fail closed on tokenmm publish-path health
  crates/common/src/msgbus/database.rs
  crates/infrastructure/src/redis/msgbus.rs
  nautilus_trader/common/component.pxd
  nautilus_trader/common/component.pyx
  nautilus_trader/system/kernel.py
  pulse-ui/src/api.test.ts
  pulse-ui/src/api.ts
  pulse-ui/src/components/JobCards.tsx
  pulse-ui/src/components/JobGroup.test.tsx
  pulse-ui/src/components/JobGroup.tsx
  pulse-ui/src/components/JobRow.test.tsx
  pulse-ui/src/components/JobRow.tsx
  pulse-ui/src/components/TopBar.tsx
  pulse-ui/src/theme.ts
  systems/flux/flux/pulse/api.py
  systems/flux/flux/runners/tokenmm/readiness.py
  tests/unit_tests/flux/pulse/test_api.py
  tests/unit_tests/flux/runners/test_tokenmm_readiness.py
  tests/unit_tests/msgbus/test_bus.py
  tests/unit_tests/system/test_kernel.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden balances standard transport and rollback path
  docs/plans/realtime-status/rt-alerts.md
  docs/plans/realtime-status/rt-market-balances.md
  docs/plans/realtime-surfaces/alerts-cutover.md
  docs/plans/realtime-surfaces/balances-cutover.md
  fluxboard/Balances.test.tsx
  fluxboard/Balances.tsx
  fluxboard/__tests__/realtime/market-balances-standard.test.tsx
  fluxboard/api.flux.test.ts
  fluxboard/api.ts
  fluxboard/e2e/realtime-cutovers/market-balances.spec.ts
  fluxboard/types.ts
  systems/flux/docs/realtime-rollout.md
  systems/flux/flux/api/app.py
  systems/flux/flux/api/socketio.py
  tests/unit_tests/flux/api/test_realtime_contract.py
Due: check-non-latin-text

fix(binance): harden PM startup follow-ups
  nautilus_trader/live/execution_engine.py
  systems/flux/flux/strategies/makerv3/failures.py
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

docs: refresh tokenmm hardening plan metadata
  docs/plans/2026-03-23-tokenmm-live-hardening.md
Due: check-non-latin-text

fix(binance): simplify startup orphan restore
  nautilus_trader/live/execution_engine.py
  systems/flux/flux/strategies/makerv3/failures.py
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

fix(markouts): harden grafana dashboard filters
  docs/plans/2026-03-25-tokenmm-markouts-dashboard-hardening.md
  docs/runbooks/makerv3-markouts.md
  monitoring/DASHBOARDS.md
  monitoring/grafana/dashboards/tokenmm_markouts_v1.json
  tests/unit_tests/ops/test_grafana_assets.py
Due: check-non-latin-text

fix(markouts): restore pivoted snapshot table
  monitoring/grafana/dashboards/tokenmm_markouts_v1.json
  tests/unit_tests/ops/test_grafana_assets.py
Due: check-non-latin-text

Refactor custom.rs to use zyn
  .pre-commit-hooks/check_cargo_conventions.sh
  Cargo.lock
  Cargo.toml
  crates/persistence/macros/Cargo.toml
  crates/persistence/macros/src/custom.rs
  crates/persistence/macros/src/lib.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add cargo-test-core-local make target
  Makefile
Due: none

docs(plans): add tokenmm true-window design
  docs/plans/2026-03-25-tokenmm-markouts-true-window-design.md
  docs/plans/2026-03-25-tokenmm-markouts-true-window.md
Due: check-non-latin-text

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
