Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Improve adapters developer guide
  docs/developer_guide/adapters.md
Due: none

Refine filtering of bars in IB adapter after disconnection
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/common.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/data.py
Due: none

Standardize Bybit websocket subscription management
  crates/adapters/bitmex/tests/websocket.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/bybit/src/websocket/messages.rs
  crates/adapters/bybit/src/websocket/mod.rs
  crates/adapters/bybit/src/websocket/subscription.rs
  crates/adapters/bybit/tests/websocket.rs
  crates/adapters/okx/tests/websocket.rs
Due: fmt, cargo-clippy, cargo-doc

Remove pool events replay from Blockchain core data client
  crates/adapters/blockchain/src/data/core.rs
Due: fmt, cargo-clippy, cargo-doc

Implement consistency checking for AMM pool profiler with RPC state (#3030)
  Cargo.lock
  crates/adapters/blockchain/src/contracts/mod.rs
  crates/adapters/blockchain/src/contracts/uniswap_v3_lens.rs
  crates/adapters/blockchain/src/contracts/uniswap_v3_pool.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/rpc/http.rs
  crates/cli/Cargo.toml
  crates/cli/src/blockchain/analyze.rs
  crates/model/src/defi/pool_analysis/compare.rs
  crates/model/src/defi/pool_analysis/mod.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/pool_analysis/tests.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/cli/Cargo.toml
  python/pyproject.toml
  python/uv.lock
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix Currency registration synchronization
  RELEASES.md
  nautilus_trader/common/providers.py
  nautilus_trader/model/currencies.py
  tests/unit_tests/model/test_currency_pyo3.py
Due: none

Standardize model imports in Rust
  crates/adapters/bitmex/src/common/enums.rs
  crates/adapters/bitmex/src/common/parse.rs
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/websocket/cache.rs
  crates/adapters/bitmex/src/websocket/parse.rs
  crates/adapters/blockchain/src/data/subscription.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/websocket/parse.rs
  crates/adapters/databento/src/decode.rs
  crates/adapters/databento/src/symbology.rs
  crates/adapters/hyperliquid/src/common/models.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/tardis/src/csv/load.rs
  crates/adapters/tardis/src/csv/stream.rs
  crates/adapters/tardis/src/http/parse.rs
  crates/adapters/tardis/src/machine/parse.rs
  crates/adapters/tardis/src/parse.rs
  crates/persistence/src/backend/catalog_operations.rs
  crates/serialization/src/arrow/bar.rs
  crates/serialization/src/arrow/close.rs
Due: fmt, cargo-clippy, cargo-doc

Add BitMEX configurable recv_window_ms for signed requests
  RELEASES.md
  crates/adapters/bitmex/bin/ws_data.rs
  crates/adapters/bitmex/bin/ws_exec.rs
  crates/adapters/bitmex/src/config.rs
  crates/adapters/bitmex/src/data/mod.rs
  crates/adapters/bitmex/src/execution/mod.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/python/http.rs
  crates/adapters/bitmex/tests/http.rs
  docs/integrations/bitmex.md
  nautilus_trader/adapters/bitmex/config.py
  nautilus_trader/adapters/bitmex/factories.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: fmt, cargo-clippy, cargo-doc

Improve position precision validations
  crates/model/src/accounts/base.rs
  crates/model/src/position.rs
  docs/concepts/positions.md
Due: fmt, cargo-clippy, cargo-doc

Fix order average price calculation
  RELEASES.md
  crates/model/src/orders/limit.rs
  crates/model/src/orders/mod.rs
  nautilus_trader/model/orders/base.pyx
  tests/unit_tests/backtest/test_exchange_l2_mbp.py
  tests/unit_tests/backtest/test_exchange_margin.py
  tests/unit_tests/model/orders/test_limit_order_pyo3.py
  tests/unit_tests/model/test_orders.py
Due: fmt, cargo-clippy, cargo-doc

Implement Hyperliquid Conditional / advanced orders
  crates/adapters/hyperliquid/bin/http_private.rs
  crates/adapters/hyperliquid/src/common/consts.rs
  crates/adapters/hyperliquid/src/common/converters.rs
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/mod.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/python/enums.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
Due: fmt, cargo-clippy, cargo-doc

Fix order book depth snapshots and metadata tracking
  RELEASES.md
  crates/model/src/orderbook/book.rs
  crates/model/src/orderbook/tests.rs
Due: fmt, cargo-clippy, cargo-doc

Fix BookPrice trait consistency and display logic
  crates/model/src/orderbook/display.rs
  crates/model/src/orderbook/ladder.rs
  crates/model/src/orderbook/tests.rs
Due: fmt, cargo-clippy, cargo-doc

Fix rustdoc case-sensitivity collision in UniswapV3Pool
  crates/adapters/blockchain/src/contracts/uniswap_v3_pool.rs
Due: fmt, cargo-clippy, cargo-doc

Add rate limiting for single-order reconciliation queries
  RELEASES.md
  docs/concepts/live.md
  docs/integrations/bitmex.md
  nautilus_trader/live/config.py
  nautilus_trader/live/execution_engine.py
  tests/integration_tests/live/test_live_reconciliation.py
Due: none

Unify swap simulation logic into function simulate_swap_through_ticks
  crates/model/src/defi/pool_analysis/compare.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/tick_map/full_math.rs
  crates/model/src/defi/tick_map/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Add correlation_id to Request and Command classes
  nautilus_trader/backtest/data_client.pyx
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/common/messages.pyx
  nautilus_trader/core/message.pxd
  nautilus_trader/core/message.pyx
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  nautilus_trader/data/messages.pyx
  nautilus_trader/execution/messages.pyx
  tests/unit_tests/data/test_engine.py
  tests/unit_tests/data/test_messages.py
  tests/unit_tests/execution/test_messages.py
Due: none

Make Request callbacks optional
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/common/component.pyx
  nautilus_trader/core/message.pyx
  nautilus_trader/data/messages.pyx
Due: none

2025/10/06, Add price protection
  crates/adapters/bitmex/src/websocket/parse.rs
  crates/execution/src/client/base.rs
  crates/execution/src/engine/tests.rs
  crates/execution/src/lib.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/order_emulator/emulator.rs
  crates/execution/src/protection.rs
  crates/model/src/events/order/stubs.rs
  crates/model/src/events/order/updated.rs
  crates/model/src/orders/market.rs
  crates/model/src/orders/stop_market.rs
  crates/model/src/python/events/order/updated.rs
  nautilus_trader/backtest/config.py
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/node.py
Due: fmt, cargo-clippy, cargo-doc

Refine filtering of bars in IB adapter after disconnection (#3011)
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/common.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/data.py
Due: none

Implement Hyperliquid conditional / advanced orders (#3035)
  crates/adapters/hyperliquid/bin/http_private.rs
  crates/adapters/hyperliquid/src/common/consts.rs
  crates/adapters/hyperliquid/src/common/converters.rs
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/mod.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/python/enums.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
Due: fmt, cargo-clippy, cargo-doc

Unify swap simulation logic in AMM Pool Profiler (#3036)
  crates/model/src/defi/pool_analysis/compare.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/tick_map/full_math.rs
  crates/model/src/defi/tick_map/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Standardize formatting
  crates/adapters/hyperliquid/bin/http_private.rs
  crates/adapters/hyperliquid/src/common/enums.rs
Due: fmt, cargo-clippy, cargo-doc

Update and refine docs
  README.md
  crates/infrastructure/TESTS.md
  docs/api_reference/index.md
  docs/concepts/live.md
  docs/concepts/overview.md
  docs/concepts/positions.md
  docs/integrations/binance.md
  docs/integrations/index.md
Due: none

Fix and refine docs
  Makefile
  crates/infrastructure/TESTS.md
  docs/concepts/backtesting.md
  docs/concepts/orders.md
  docs/developer_guide/benchmarking.md
  examples/live/bybit/README_options_data_collector.md
  examples/live/bybit/bybit_options_data_collector.py
  python/generate_stubs.py
Due: none

Standardize errors doc comments
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/client.rs
  crates/common/src/python/actor.rs
  crates/common/src/testing.rs
  crates/model/src/python/data/mod.rs
  crates/network/src/retry.rs
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/catalog_operations.rs
  crates/system/src/trader.rs
  docs/developer_guide/rust.md
Due: fmt, cargo-clippy, cargo-doc

Add find-replace script
  scripts/find-replace.sh
Due: none

Improve BitMEX parsing robustness and testing
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/websocket/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Improve order book handling of L1 top-of-book data
  crates/model/src/orderbook/analysis.rs
  crates/model/src/orderbook/book.rs
  crates/model/src/orderbook/ladder.rs
  crates/model/src/orderbook/level.rs
  crates/model/src/orderbook/own.rs
  crates/model/src/orderbook/tests.rs
  nautilus_trader/backtest/models/fill.pyx
  tests/unit_tests/backtest/test_enhanced_fill_models.py
  tests/unit_tests/backtest/test_matching_engine.py
Due: fmt, cargo-clippy, cargo-doc

Update engine.pyx
  nautilus_trader/backtest/engine.pyx
Due: none

Fix rejected orders remaining in own order book
  RELEASES.md
  nautilus_trader/cache/cache.pyx
  nautilus_trader/execution/engine.pyx
  tests/unit_tests/execution/test_engine.py
Due: none

Fix Tardis instruments lot_size mapping
  RELEASES.md
  crates/adapters/tardis/src/http/instruments.rs
  crates/adapters/tardis/src/http/parse.rs
  crates/infrastructure/src/sql/models/instruments.rs
  crates/model/src/instruments/crypto_option.rs
  crates/model/src/instruments/stubs.rs
  crates/model/src/python/instruments/crypto_option.rs
Due: fmt, cargo-clippy, cargo-doc

Fix crypto instruments PyO3 -> Cython conversion
  RELEASES.md
  nautilus_trader/model/instruments/crypto_future.pyx
  nautilus_trader/model/instruments/crypto_option.pyx
  nautilus_trader/model/instruments/crypto_perpetual.pyx
Due: none

Fix IBKR adapter bars request
  nautilus_trader/adapters/interactive_brokers/data.py
Due: none

Add fallback to default order book for custom fill model (#3039)
  nautilus_trader/backtest/engine.pyx
Due: none

Fix IBKR adapter bars request (#3040)
  nautilus_trader/adapters/interactive_brokers/data.py
Due: none

Continue Bybit adapter in Rust
  crates/adapters/bybit/src/common/enums.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/python/enums.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/src/python/mod.rs
  crates/adapters/bybit/src/python/websocket.rs
  crates/adapters/bybit/src/websocket/client.rs
Due: fmt, cargo-clippy, cargo-doc
