Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

LiveNode StreamingConfig support
  Cargo.lock
  crates/live/Cargo.toml
  crates/live/src/node/builder.rs
  crates/live/src/node/config.rs
  crates/live/src/node/mod.rs
  crates/live/src/python/config.rs
  crates/live/src/python/mod.rs
  crates/live/src/python/node.rs
  crates/live/tests/node.rs
  crates/persistence/src/backend/feather.rs
  crates/persistence/src/parquet.rs
  python/nautilus_trader/live/__init__.pyi
  python/tests/unit/live/test_live_configs.py
  python/tests/unit/test_generate_stubs.py
  python/tests/unit/test_live_node.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Datadog telemetry for quote latency
  examples/live/hyperliquid/hyperliquid_sweep_strategy.py
  examples/live/hyperliquid/sweep_basket_config.example.json
  nautilus_trader/common/actor.pyx
  nautilus_trader/common/component.pyx
  nautilus_trader/data/engine.pyx
  nautilus_trader/datadog/__init__.py
  nautilus_trader/datadog/dashboard.py
  nautilus_trader/datadog/dashboards/nautilus_trading_ops.json
  nautilus_trader/datadog/dashboards/nautilus_trading_ops_dev.json
  nautilus_trader/datadog/telemetry.py
  nautilus_trader/live/data_engine.py
  pyproject.toml
  tests/unit_tests/datadog/test_dashboard.py
  tests/unit_tests/datadog/test_telemetry.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add Datadog order health telemetry
  nautilus_trader/adapters/hyperliquid/data.py
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/datadog/__init__.py
  nautilus_trader/datadog/dashboards/nautilus_trading_ops.json
  nautilus_trader/datadog/dashboards/nautilus_trading_ops_dev.json
  nautilus_trader/datadog/telemetry.py
  nautilus_trader/examples/strategies/sweep_strategy.py
  tests/unit_tests/datadog/test_telemetry.py
Due: check-non-latin-text

Add Datadog open order telemetry
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/datadog/dashboards/nautilus_trading_ops.json
  nautilus_trader/datadog/dashboards/nautilus_trading_ops_dev.json
  tests/integration_tests/adapters/hyperliquid/test_execution.py
Due: check-non-latin-text

Add Hyperliquid BBO redundancy and sweep embargo
  crates/adapters/hyperliquid/src/config.rs
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/python/config.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/tests/data_client.rs
  examples/live/hyperliquid/hyperliquid_sweep_strategy.py
  examples/live/hyperliquid/sweep_xyz_mu_config.example.json
  nautilus_trader/adapters/hyperliquid/config.py
  nautilus_trader/adapters/hyperliquid/data.py
  nautilus_trader/examples/strategies/sweep_strategy.py
  nautilus_trader/live/data_engine.py
  python/nautilus_trader/adapters/hyperliquid/__init__.pyi
  tests/integration_tests/adapters/hyperliquid/test_data.py
  tests/integration_tests/adapters/hyperliquid/test_factories.py
  tests/unit_tests/examples/strategies/test_sweep_strategy.py
  tests/unit_tests/live/test_data_engine.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add wide-mode sweep quote offset
  crates/adapters/hyperliquid/src/websocket/handler.rs
  examples/live/hyperliquid/hyperliquid_sweep_strategy.py
  examples/live/hyperliquid/sweep_xyz_mu_config.example.json
  nautilus_trader/examples/strategies/sweep_strategy.py
  tests/unit_tests/examples/strategies/test_sweep_strategy.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add equity sweep config and notional sizing
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  examples/live/hyperliquid/sweep_equity_top_5_config.example.json
  nautilus_trader/examples/strategies/sweep_strategy.py
  python/nautilus_trader/adapters/hyperliquid/__init__.pyi
  tests/unit_tests/examples/strategies/test_sweep_strategy.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Run T02 Polymarket received-time smoke backtest
  research/2026-06-24-polymarket-shanghai-event-backtest/scripts/run_event_backtest.py
  research/2026-07-01-polymarket-t02-no-ordering-backtest/curated/t02-pmxt-live-until-1100-no-receive-inversion/event_index.json
  research/2026-07-01-polymarket-t02-no-ordering-backtest/curated/t02-pmxt-live-until-1100-no-receive-inversion/gamma_event.raw.json
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__no__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__no__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__no__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__no__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__no__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__no__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__no__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__no__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__no__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__no__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__no__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__no__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02-pmxt-live-until-1100-no-receive-inversion__T02_PMXT_book_pair__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-07-01-polymarket-t02-no-ordering-backtest/data/t02_strategy_suite_summary.csv
  research/2026-07-01-polymarket-t02-no-ordering-backtest/report_assets/t02_mtm_equity.svg
  research/2026-07-01-polymarket-t02-no-ordering-backtest/report_assets/t02_price_paths.svg
  research/2026-07-01-polymarket-t02-no-ordering-backtest/report_t02_no_ordering_smoke.md
  research/2026-07-01-polymarket-t02-no-ordering-backtest/scripts/run_t02_no_ordering_smoke.py
Due: check-non-latin-text

Add Tail Ratio portfolio statistic
  crates/analysis/src/analyzer.rs
  crates/analysis/src/python/mod.rs
  crates/analysis/src/python/statistics/mod.rs
  crates/analysis/src/python/statistics/tail_ratio.rs
  crates/analysis/src/statistics/mod.rs
  crates/analysis/src/statistics/tail_ratio.rs
  python/nautilus_trader/analysis/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Register Tail Ratio with the PortfolioAnalyzer dispatch
  crates/analysis/src/python/analyzer.rs
  python/tests/unit/analysis/test_analysis.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix per-contract fees for option spreads
  crates/execution/src/models/fee.rs
  nautilus_trader/backtest/models/fee.pyx
  tests/unit_tests/backtest/test_commission_model.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket replay correctness golden tests
  research/2026-06-24-polymarket-shanghai-event-backtest/tests/test_synthetic_golden_replay.py
  research/2026-07-01-polymarket-backtest-correctness/data/data_health_summary.json
  research/2026-07-01-polymarket-backtest-correctness/data_health_report.md
  research/2026-07-01-polymarket-backtest-correctness/report.md
  research/2026-07-01-polymarket-backtest-correctness/scripts/check_data_health.py
Due: check-non-latin-text

Restore Redis message bus backing binding
  Cargo.lock
  RELEASES.md
  crates/infrastructure/Cargo.toml
  crates/infrastructure/src/python/mod.rs
  crates/infrastructure/src/python/redis/mod.rs
  crates/infrastructure/src/python/redis/msgbus.rs
  crates/infrastructure/src/redis/msgbus.rs
  docs/how_to/get_started_lighter.md
  nautilus_trader/common/component.pyx
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/system/kernel.py
  python/nautilus_trader/infrastructure/__init__.pyi
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make portofolio ref-count clones explicit
  crates/portfolio/src/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix per-contract fees for option spreads (#4363)
  crates/execution/src/models/fee.rs
  nautilus_trader/backtest/models/fee.pyx
  tests/unit_tests/backtest/test_commission_model.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Adjust CI nightly schedules
  .github/OVERVIEW.md
  .github/workflows/nightly-docs-features-check.yml
  .github/workflows/nightly-merge.yml
  .github/workflows/nightly-miri.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/security-audit.yml
Due: check-non-latin-text

Add Up/Down Capture ratio portfolio statistics
  RELEASES.md
  crates/analysis/src/python/analyzer.rs
  crates/analysis/src/python/mod.rs
  crates/analysis/src/python/statistics/down_capture_ratio.rs
  crates/analysis/src/python/statistics/mod.rs
  crates/analysis/src/python/statistics/up_capture_ratio.rs
  crates/analysis/src/statistics/down_capture_ratio.rs
  crates/analysis/src/statistics/mod.rs
  crates/analysis/src/statistics/up_capture_ratio.rs
  nautilus_trader/analysis/__init__.py
  nautilus_trader/core/nautilus_pyo3.pyi
  python/nautilus_trader/analysis/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix RTDS reconcile-worker shutdown race
  crates/adapters/polymarket/src/rtds.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix SpreadAnalyzer average freezing at capacity
  crates/indicators/src/ratio/spread_analyzer.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Ulcer Index portfolio statistic
  crates/analysis/src/python/mod.rs
  crates/analysis/src/python/statistics/mod.rs
  crates/analysis/src/python/statistics/ulcer_index.rs
  crates/analysis/src/statistics/mod.rs
  crates/analysis/src/statistics/ulcer_index.rs
  python/nautilus_trader/analysis/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix execution spread fee counts
  RELEASES.md
  crates/data/src/engine/mod.rs
  crates/execution/src/models/fee.rs
  crates/model/src/identifiers/instrument_id.rs
  crates/model/src/identifiers/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Omega Ratio portfolio statistic
  crates/analysis/src/analyzer.rs
  crates/analysis/src/python/mod.rs
  crates/analysis/src/python/statistics/mod.rs
  crates/analysis/src/python/statistics/omega_ratio.rs
  crates/analysis/src/statistics/mod.rs
  crates/analysis/src/statistics/omega_ratio.rs
  python/nautilus_trader/analysis/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Value at Risk and Expected Shortfall statistics
  crates/analysis/src/python/mod.rs
  crates/analysis/src/python/statistics/expected_shortfall.rs
  crates/analysis/src/python/statistics/mod.rs
  crates/analysis/src/python/statistics/value_at_risk.rs
  crates/analysis/src/statistics/expected_shortfall.rs
  crates/analysis/src/statistics/mod.rs
  crates/analysis/src/statistics/value_at_risk.rs
  python/nautilus_trader/analysis/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Register new statistics with the PortfolioAnalyzer Python dispatch
  crates/analysis/src/python/analyzer.rs
  python/nautilus_trader/analysis/__init__.pyi
  python/tests/unit/analysis/test_analysis.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Validate VaR/ES confidence and keep OmegaRatio out of default
  crates/analysis/src/analyzer.rs
  crates/analysis/src/python/statistics/expected_shortfall.rs
  crates/analysis/src/python/statistics/value_at_risk.rs
  crates/analysis/src/statistics/expected_shortfall.rs
  crates/analysis/src/statistics/value_at_risk.rs
  python/tests/unit/analysis/test_analysis.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Hyperliquid stream health monitoring
  RELEASES.md
  crates/adapters/hyperliquid/src/config.rs
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/python/config.rs
  crates/adapters/hyperliquid/tests/data_client.rs
  crates/adapters/hyperliquid/tests/python.rs
  docs/integrations/hyperliquid.md
  python/nautilus_trader/adapters/hyperliquid/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine risk statistics from self-review
  crates/analysis/src/python/statistics/omega_ratio.rs
  crates/analysis/src/statistics/expected_shortfall.rs
  crates/analysis/src/statistics/omega_ratio.rs
  crates/analysis/src/statistics/value_at_risk.rs
  python/tests/unit/analysis/test_analysis.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

2nd fix
  crates/live/src/node/mod.rs
  crates/persistence/src/backend/feather.rs
  crates/persistence/src/python/feather.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Set quote anchor before grid order submission
  nautilus_trader/examples/strategies/grid_market_maker.py
  tests/unit_tests/examples/strategies/test_grid_market_maker.py
Due: check-non-latin-text

minor input fix
  crates/live/src/node/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Delete duplicate StreamingConfig in nautilus_persistence
  crates/persistence/src/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Measure position-reconciliation grace on the monotonic clock
  crates/live/src/execution/manager.rs
  crates/live/src/node/mod.rs
  crates/live/tests/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket v1 backtest framework
  polymarket/README.md
  polymarket/__init__.py
  polymarket/adapters/__init__.py
  polymarket/adapters/base.py
  polymarket/adapters/live_event_bundle_v1.py
  polymarket/adapters/live_ws_v1.py
  polymarket/adapters/pmxt_event_v1.py
  polymarket/adapters/pmxt_parquet_v1.py
  polymarket/adapters/utils.py
  polymarket/backtest_v1.py
  polymarket/models.py
  polymarket/strategies/__init__.py
  polymarket/strategies/base.py
  polymarket/tests/fixtures/live_ws_minimal.ndjson
  polymarket/tests/fixtures/strategy_loader_example/experiment.yml
  polymarket/tests/fixtures/strategy_loader_example/strategy.py
  polymarket/tests/test_adapter_contracts.py
  polymarket/tests/test_live_event_bundle_adapter.py
  polymarket/tests/test_strategy_loader_resolved_config.py
  polymarket/tests/test_synthetic_golden_replay.py
  polymarket/tests/test_t02_baseline_comparison.py
Due: check-non-latin-text

Restore Polymarket support analysis report
  POLYMARKET_SUPPORT_ANALYSIS.md
Due: check-non-latin-text

Expose uppercase enum aliases and gateway exports in IB stubs
  crates/adapters/interactive_brokers/src/common/enums/contracts.rs
  crates/adapters/interactive_brokers/src/common/enums/events.rs
  crates/adapters/interactive_brokers/src/common/enums/market_data.rs
  crates/adapters/interactive_brokers/src/common/enums/misc.rs
  crates/adapters/interactive_brokers/src/common/enums/order.rs
  crates/adapters/interactive_brokers/src/config.rs
  crates/adapters/interactive_brokers/src/error.rs
  crates/adapters/interactive_brokers/src/gateway/dockerized.rs
  crates/adapters/interactive_brokers/src/python/config.rs
  crates/adapters/interactive_brokers/src/python/enums.rs
  crates/adapters/interactive_brokers/src/python/gateway.rs
  nautilus_trader/adapters/interactive_brokers_pyo3/config.py
  python/generate_stubs.py
  python/nautilus_trader/adapters/interactive_brokers/__init__.pyi
  tests/integration_tests/adapters/interactive_brokers/test_ib_pyo3_provider.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add PyO3 type stub annotations to Interactive Brokers adapter
  Cargo.lock
  crates/adapters/interactive_brokers/Cargo.toml
  crates/adapters/interactive_brokers/src/common/enums/contracts.rs
  crates/adapters/interactive_brokers/src/common/enums/events.rs
  crates/adapters/interactive_brokers/src/common/enums/market_data.rs
  crates/adapters/interactive_brokers/src/common/enums/misc.rs
  crates/adapters/interactive_brokers/src/common/enums/order.rs
  crates/adapters/interactive_brokers/src/config.rs
  crates/adapters/interactive_brokers/src/data/core.rs
  crates/adapters/interactive_brokers/src/error.rs
  crates/adapters/interactive_brokers/src/execution/core.rs
  crates/adapters/interactive_brokers/src/factories.rs
  crates/adapters/interactive_brokers/src/gateway/dockerized.rs
  crates/adapters/interactive_brokers/src/historical/client.rs
  crates/adapters/interactive_brokers/src/providers/instruments.rs
  crates/adapters/interactive_brokers/src/python/config.rs
  crates/adapters/interactive_brokers/src/python/enums.rs
  crates/adapters/interactive_brokers/src/python/factories.rs
  crates/adapters/interactive_brokers/src/python/gateway.rs
  crates/adapters/interactive_brokers/src/python/historical.rs
  crates/adapters/interactive_brokers/src/python/providers.rs
  python/nautilus_trader/adapters/__init__.pyi
  python/nautilus_trader/adapters/interactive_brokers/__init__.pyi
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
