Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Fix CI tag-release job git credentials
  .github/workflows/build.yml
Due: check-non-latin-text

Improve OKX quantity parsing error handling
  Cargo.lock
  crates/adapters/okx/Cargo.toml
  crates/adapters/okx/src/common/parse.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Merge with dev
  crates/execution/src/matching_engine/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine README
  README.md
Due: check-non-latin-text

Add initial backtest visualization tearsheets
  .codespellrc
  RELEASES.md
  crates/analysis/src/python/mod.rs
  crates/analysis/src/python/statistics/cagr.rs
  crates/analysis/src/python/statistics/calmar_ratio.rs
  crates/analysis/src/python/statistics/max_drawdown.rs
  crates/analysis/src/python/statistics/mod.rs
  crates/analysis/src/statistics/cagr.rs
  crates/analysis/src/statistics/calmar_ratio.rs
  crates/analysis/src/statistics/max_drawdown.rs
  docs/concepts/index.md
  docs/concepts/reports.md
  docs/concepts/visualization.md
  docs/getting_started/backtest_high_level.ipynb
  docs/getting_started/backtest_low_level.ipynb
  docs/getting_started/installation.md
  docs/getting_started/quickstart.ipynb
  docs/integrations/betfair.md
  docs/integrations/dydx.md
  docs/integrations/ib.md
  docs/integrations/polymarket.md
  docs/tutorials/backtest_binance_orderbook.ipynb
  docs/tutorials/backtest_bybit_orderbook.ipynb
  docs/tutorials/backtest_fx_bars.ipynb
  docs/tutorials/databento_data_catalog.ipynb
  docs/tutorials/databento_overview.ipynb
  docs/tutorials/parquet_explorer.ipynb
  examples/backtest/crypto_ema_cross_ethusdt_trade_ticks.py
  nautilus_trader/analysis/__init__.py
  nautilus_trader/analysis/analyzer.py
  nautilus_trader/analysis/config.py
  nautilus_trader/analysis/tearsheet.py
  nautilus_trader/analysis/themes.py
  nautilus_trader/core/nautilus_pyo3.pyi
  pyproject.toml
  tests/unit_tests/analysis/test_tearsheet.py
  uv.lock
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Upgrade CI GitHub actions
  .github/actions/common-setup/action.yml
  .github/actions/common-test-data/action.yml
  .github/actions/upload-artifact-wheel/action.yml
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  .github/workflows/cli-binaries.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/performance.yml
Due: check-non-latin-text

Update docs guidance on one node per process
  docs/concepts/architecture.md
  docs/concepts/live.md
  docs/getting_started/index.md
Due: check-non-latin-text

Fix spawned order client_id caching in ExecAlgorithm
  RELEASES.md
  nautilus_trader/execution/algorithm.pyx
  tests/unit_tests/execution/test_algorithm.py
Due: check-non-latin-text

Add `CrossedTick` structure for tick crossing snapshots in swap simulations
  crates/model/src/defi/tick_map/tick.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add `SwapQuote` structure for detailed swap simulation analysis
  crates/model/src/defi/pool_analysis/mod.rs
  crates/model/src/defi/pool_analysis/quote.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement non-mutating swap quote simulation for pool profiler
  crates/model/src/defi/pool_analysis/profiler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Introduce PositionAdjusted event type
  RELEASES.md
  crates/analysis/src/analyzer.rs
  crates/analysis/src/statistics/long_ratio.rs
  crates/model/src/enums.rs
  crates/model/src/events/mod.rs
  crates/model/src/events/position/adjusted.rs
  crates/model/src/events/position/mod.rs
  crates/model/src/ffi/enums.rs
  crates/model/src/position.rs
  crates/model/src/python/enums.rs
  crates/model/src/python/events/position/adjusted.rs
  crates/model/src/python/events/position/mod.rs
  crates/model/src/python/mod.rs
  crates/model/src/python/position.rs
  docs/concepts/positions.md
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/core/rust/model.pxd
  nautilus_trader/model/events/__init__.py
  nautilus_trader/model/events/position.pxd
  nautilus_trader/model/events/position.pyx
  nautilus_trader/model/functions.pxd
  nautilus_trader/model/functions.pyx
  nautilus_trader/model/position.pxd
  nautilus_trader/model/position.pyx
  tests/unit_tests/model/test_events.py
  tests/unit_tests/model/test_position.py
  tests/unit_tests/model/test_position_pyo3.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit docs links in comment
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/http/query.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit http order place
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/query.rs
  crates/adapters/bybit/src/python/http.rs
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add non-mutating swap quote simulation for Pool tickmap profiling (#3123)
  crates/model/src/defi/pool_analysis/mod.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/pool_analysis/quote.rs
  crates/model/src/defi/tick_map/tick.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Repair Bybit docs links in comment (#3125)
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/http/query.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Repair Bybit HTTP order place (#3127)
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/query.rs
  crates/adapters/bybit/src/python/http.rs
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add proxy_url for Hyperliquid
  crates/adapters/hyperliquid/bin/http_public.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/python/http.rs
  nautilus_trader/adapters/hyperliquid/config.py
  nautilus_trader/adapters/hyperliquid/factories.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Hyperliquid test data capture and testing
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/bin/capture_test_data.rs
  crates/adapters/hyperliquid/bin/capture_ws_test_data.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
  crates/adapters/hyperliquid/test_data/README.md
  crates/adapters/hyperliquid/test_data/http_l2_book_btc.json
  crates/adapters/hyperliquid/test_data/http_meta_perp_sample.json
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine book imbalance example
  nautilus_trader/examples/strategies/orderbook_imbalance.py
  tests/integration_tests/adapters/betfair/test_betfair_backtest.py
Due: check-non-latin-text

Add PolymarketDataLoader for loading historical data
  RELEASES.md
  docs/integrations/polymarket.md
  examples/backtest/polymarket_simple_quoter.py
  nautilus_trader/adapters/polymarket/__init__.py
  nautilus_trader/adapters/polymarket/loaders.py
  nautilus_trader/adapters/polymarket/scripts/list_updown_markets.py
  tests/integration_tests/adapters/betfair/test_betfair_backtest.py
  tests/integration_tests/adapters/polymarket/resources/http_responses/markets_list.json
  tests/integration_tests/adapters/polymarket/resources/http_responses/orderbook_history.json
  tests/integration_tests/adapters/polymarket/resources/http_responses/price_history.json
  tests/integration_tests/adapters/polymarket/test_loaders.py
Due: check-non-latin-text

Standardize formatting
  crates/adapters/hyperliquid/bin/capture_test_data.rs
  crates/adapters/hyperliquid/bin/capture_ws_test_data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Repair Bybit submit_order_list functionality
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/query.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/bybit/src/websocket/messages.rs
  examples/live/bybit/bybit_exec_tester.py
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/bybit/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add quote_quantity parameter for close position methods
  RELEASES.md
  nautilus_trader/trading/strategy.pxd
  nautilus_trader/trading/strategy.pyx
  tests/unit_tests/trading/test_strategy.py
Due: check-non-latin-text

Refine OKX fill message handling
  crates/adapters/okx/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine OKX spot swap quoter example
  RELEASES.md
  examples/live/okx/okx_spot_swap_quoter.py
Due: check-non-latin-text

Add support for Python 3.14
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  README.md
  RELEASES.md
  docs/getting_started/index.md
  docs/getting_started/installation.md
  nautilus_trader/model/custom.py
  pyproject.toml
  python/README.md
  python/pyproject.toml
  python/uv.lock
  tests/integration_tests/adapters/dydx/conftest.py
  tests/integration_tests/adapters/interactive_brokers/conftest.py
  uv-version
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Refine pre-commit
  .pre-commit-config.yaml
Due: check-non-latin-text

Upgrade ruff
  .pre-commit-config.yaml
  pyproject.toml
  tests/unit_tests/backtest/test_config.py
  uv.lock
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix CI build workflow for linux arm64 wheels
  .github/workflows/build.yml
Due: check-non-latin-text

Update gitignore
  .gitignore
Due: none

Add proxy_url support to HTTP adapters
  examples/live/betfair/betfair.py
  nautilus_trader/adapters/betfair/client.py
  nautilus_trader/adapters/betfair/config.py
  nautilus_trader/adapters/betfair/factories.py
  nautilus_trader/adapters/binance/config.py
  nautilus_trader/adapters/binance/factories.py
  nautilus_trader/adapters/binance/http/client.py
  nautilus_trader/adapters/bitmex/config.py
  nautilus_trader/adapters/dydx/config.py
  nautilus_trader/adapters/dydx/factories.py
  nautilus_trader/adapters/dydx/http/client.py
  nautilus_trader/adapters/okx/config.py
  nautilus_trader/adapters/okx/factories.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text

Wire proxy_url through Python factories
  crates/adapters/bitmex/src/python/http.rs
  docs/integrations/betfair.md
  docs/integrations/binance.md
  docs/integrations/bybit.md
  docs/integrations/dydx.md
  nautilus_trader/adapters/bitmex/factories.py
  nautilus_trader/adapters/bybit/factories.py
  nautilus_trader/adapters/okx/factories.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance instrument info dict JSON serialization
  RELEASES.md
  nautilus_trader/adapters/binance/futures/providers.py
  nautilus_trader/adapters/binance/spot/providers.py
  tests/integration_tests/adapters/binance/test_providers.py
Due: check-non-latin-text

Update dependencies
  Cargo.lock
  uv.lock
Due: cargo-deny

Upgrade Rust
  Cargo.toml
  README.md
  RELEASES.md
  rust-toolchain.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Standardize fmt module usage
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/hyperliquid/src/signing/nonce.rs
  crates/analysis/src/statistics/expectancy.rs
  crates/analysis/src/statistics/long_ratio.rs
  crates/analysis/src/statistics/loser_avg.rs
  crates/analysis/src/statistics/loser_max.rs
  crates/analysis/src/statistics/loser_min.rs
  crates/analysis/src/statistics/profit_factor.rs
  crates/analysis/src/statistics/returns_avg.rs
  crates/analysis/src/statistics/returns_avg_loss.rs
  crates/analysis/src/statistics/returns_avg_win.rs
  crates/analysis/src/statistics/returns_volatility.rs
  crates/analysis/src/statistics/risk_return_ratio.rs
  crates/analysis/src/statistics/sharpe_ratio.rs
  crates/analysis/src/statistics/sortino_ratio.rs
  crates/analysis/src/statistics/win_rate.rs
  crates/analysis/src/statistics/winner_avg.rs
  crates/analysis/src/statistics/winner_max.rs
  crates/analysis/src/statistics/winner_min.rs
  crates/common/src/msgbus/core.rs
  crates/core/src/python/mod.rs
  crates/model/src/data/greeks.rs
  crates/model/src/reports/mass_status.rs
  crates/testkit/src/files.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix clippy lints
  crates/adapters/bybit/tests/http.rs
  crates/adapters/bybit/tests/pagination.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine make outdated target
  Makefile
Due: none
