Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Improve IB data farm recovery in the Rust adapter
  crates/adapters/interactive_brokers/src/data/core.rs
  crates/adapters/interactive_brokers/src/data/core_streams.rs
  crates/trading/src/python/algorithm.rs
  crates/trading/src/python/strategy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Propagate Hyperliquid l2Book fast subscriptions
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/websocket/book.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
  crates/adapters/hyperliquid/tests/data_client.rs
  crates/adapters/hyperliquid/tests/websocket.rs
  nautilus_trader/adapters/hyperliquid/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
  python/nautilus_trader/adapters/hyperliquid/__init__.pyi
  tests/integration_tests/adapters/hyperliquid/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

style: apply pre-commit formatting fixes
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

Fix bracket tp_post_only docstring default to True
  RELEASES.md
  nautilus_trader/common/factories.pyx
  tests/unit_tests/model/test_orders.py
Due: check-non-latin-text

feat(hyperliquid): add public trade custom data
  Cargo.lock
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/data_types.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/hyperliquid/src/python/arrow.rs
  crates/adapters/hyperliquid/src/python/http.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/src/websocket/mod.rs
  crates/adapters/hyperliquid/src/websocket/parse.rs
  crates/adapters/hyperliquid/src/websocket/trades.rs
  crates/adapters/hyperliquid/tests/catalog.rs
  crates/adapters/hyperliquid/tests/data_client.rs
  crates/adapters/hyperliquid/tests/websocket.rs
  docs/integrations/hyperliquid.md
  nautilus_trader/adapters/hyperliquid/__init__.py
  nautilus_trader/adapters/hyperliquid/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
  python/nautilus_trader/adapters/hyperliquid/__init__.pyi
  tests/integration_tests/adapters/hyperliquid/conftest.py
  tests/integration_tests/adapters/hyperliquid/test_data.py
  tests/integration_tests/adapters/hyperliquid/test_persistence.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

style(hyperliquid): match CI Rust formatting
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/python/arrow.rs
  crates/adapters/hyperliquid/src/python/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix legacy Equity round trips dropping quantity constraints
  RELEASES.md
  nautilus_trader/model/instruments/equity.pyx
  nautilus_trader/persistence/catalog/parquet.py
  nautilus_trader/serialization/arrow/implementations/instruments.py
  tests/unit_tests/model/instruments/test_equity_pyo3.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

fix(binance): preserve SBE adapter init timestamps
  crates/adapters/binance/src/spot/data.rs
  crates/adapters/binance/src/spot/websocket/streams/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(hyperliquid): preserve public trade response identifier
  nautilus_trader/adapters/hyperliquid/data.py
  tests/integration_tests/adapters/hyperliquid/test_data.py
Due: check-non-latin-text

Recover data feeds per farm service
  crates/adapters/interactive_brokers/src/data/core_streams.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix broker-routed account resolution on first fill and flat equity
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Group broker-routed margin updates by owning account
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Resolve broker-routed account in equity mark-value accumulation
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix portfolio PnL resolution for broker-routed instruments
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Clock trait consistency for expired timers and failed alerts
  crates/common/src/clock.rs
  crates/common/src/live/clock.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(binance): wire margin_isolated_symbol through Data/Exec configs and add Margin stub in factories
  crates/adapters/binance/src/factories.rs
  crates/adapters/binance/src/python/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(binance): add margin_isolated_symbol field to Data/Exec config structs
  crates/adapters/binance/src/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix nondeterministic event ordering in backtests
  crates/backtest/src/accumulator.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/modules/fx_rollover.rs
  crates/backtest/src/modules/mod.rs
  crates/backtest/tests/backtest_engine.rs
  crates/backtest/tests/exchange.rs
  crates/system/src/trader.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(binance): update py_new test call sites for margin_isolated_symbol param
  crates/adapters/binance/src/python/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

chore: apply cargo fmt
  crates/adapters/binance/src/python/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix underflow panics on out-of-order fill events
  crates/execution/src/reconciliation/orders.rs
  crates/execution/src/reconciliation/tests.rs
  crates/model/src/orders/mod.rs
  crates/model/src/position.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix missing-order resolution and failed-report handling in live reconciliation
  crates/live/src/execution/manager.rs
  crates/live/src/node/mod.rs
  crates/live/tests/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

refactor(interactive_brokers): improve type annotations
  nautilus_trader/adapters/interactive_brokers/web.py
Due: check-non-latin-text

refactor(interactive_brokers_pyo3): move web.py to pyo3 adapter
  nautilus_trader/adapters/interactive_brokers_pyo3/web.py
Due: check-non-latin-text

Fix position reconciliation tolerance lookup for routing clients
  crates/live/src/execution/manager.rs
  crates/live/src/node/builder.rs
  crates/live/tests/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Redesign Hyperliquid asset identity system
  crates/adapters/hyperliquid/src/common/asset.rs
  crates/adapters/hyperliquid/src/common/converters.rs
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/mod.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/common/types.rs
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/hyperliquid/src/outcome_settlement.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  docs/learn/hyperliquid_assets.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix duplicate participant IDs in SQL upsert batch
  crates/adapters/hyperliquid/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix profile refresh rate limiting and self-scheduling
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/rate_limits.rs
  crates/data/src/engine/config.rs
  crates/data/src/engine/mod.rs
  crates/infrastructure/src/sql/queries.rs
  crates/infrastructure/tests/test_participant_postgres.rs
  crates/live/src/node/config.rs
  crates/strategies/bin/stra_discv.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix upsert_participants deadlock with consistent lock ordering
  crates/infrastructure/src/sql/queries.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix persistence session runtime ownership
  crates/persistence/src/backend/kmerge_batch.rs
  crates/persistence/src/backend/session.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reconcile out-of-order fill voids through positions, portfolio, and replay
  Cargo.lock
  crates/adapters/betfair/src/execution.rs
  crates/event_store/Cargo.toml
  crates/event_store/src/replay.rs
  crates/event_store/tests/live_replay_parity.rs
  crates/execution/Cargo.toml
  crates/execution/src/engine/mod.rs
  crates/execution/src/lib.rs
  crates/execution/src/order_manager/manager.rs
  crates/execution/src/position.rs
  crates/execution/src/reconciliation/orders.rs
  crates/execution/src/reconciliation/tests.rs
  crates/execution/tests/exec_engine.rs
  crates/model/src/events/mod.rs
  crates/model/src/events/order/fill_voided.rs
  crates/model/src/orders/mod.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove unsound Send/Sync impls from TimeEventCallback
  crates/common/src/live/clock.rs
  crates/common/src/live/timer.rs
  crates/common/src/python/clock.rs
  crates/common/src/python/timer.rs
  crates/common/src/runner.rs
  crates/common/src/timer.rs
  crates/live/benches/runner.rs
  crates/live/src/node/metrics.rs
  crates/live/src/node/mod.rs
  crates/live/src/runner.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix CVec FFI soundness with checked reconstruction and unique ownership
  Makefile
  crates/common/src/ffi/clock.rs
  crates/core/src/ffi/cvec.rs
  crates/model/src/ffi/data/deltas.rs
  crates/model/src/ffi/instruments/synthetic.rs
  crates/model/src/ffi/orderbook/book.rs
  crates/model/src/ffi/orderbook/level.rs
  crates/model/src/python/data/mod.rs
  crates/persistence/src/backend/session.rs
  docs/developer_guide/ffi.md
  nautilus_trader/core/includes/common.h
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/rust/common.pxd
  nautilus_trader/core/rust/model.pxd
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve WS reconnect, venue-free profile topic, concurrent DB tests
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/msgbus/switchboard.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/engine.rs
  crates/infrastructure/src/sql/queries.rs
  crates/infrastructure/tests/test_participant_postgres.rs
  crates/model/src/data/participant.rs
  crates/model/src/python/data/participant.rs
  crates/strategies/bin/stra_discv.rs
  crates/strategies/src/discv/strategy.rs
  docs/learn/dune.md
  schema/sql/tables.sql
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Return inserted chunk reference without unwrap in set_chunk
  crates/persistence/src/backend/session.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add SimulatedExchange.purge_instrument for long-window backtest memory release
  crates/backtest/src/exchange.rs
  crates/backtest/tests/exchange.rs
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  tests/unit_tests/backtest/test_engine.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Support add_strategy(instance) on LiveNode (#4486)
  crates/backtest/src/python/engine.rs
  crates/live/src/python/node.rs
  crates/system/src/trader.rs
  python/nautilus_trader/live/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OMS type registration and commit ordering for python strategies
  crates/backtest/src/python/engine.rs
  crates/live/src/python/node.rs
  crates/system/src/trader.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
