Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

fix(tokenmm): harden degraded trade quantity contract
  docs/plans/2026-03-26-trades-blotter-hardening.md
  systems/flux/flux/api/_payloads_common.py
  systems/flux/flux/api/app.py
  systems/flux/flux/common/quantity_units.py
  tests/unit_tests/flux/api/test_socketio_tokenmm.py
  tests/unit_tests/flux/api/test_tokenmm_compat.py
  tests/unit_tests/flux/strategies/shared/test_trades.py
Due: check-non-latin-text

docs(plan): record task 4 commit
  docs/plans/2026-03-26-trades-blotter-hardening.md
Due: check-non-latin-text

docs(trades): finalize blotter hardening rollout contract
  docs/plans/2026-03-26-trades-blotter-hardening.md
  docs/plans/realtime-surfaces/trades-cutover.md
  fluxboard/__tests__/resync-contract.test.tsx
  fluxboard/docs/tokenmm_socket_contract.md
Due: check-non-latin-text

fix(trades): dedupe recovery churn and add cutover runbook
  docs/plans/2026-03-26-trades-blotter-hardening.md
  docs/runbooks/tokenmm-trades-blotter-cutover.md
  fluxboard/Trades.tsx
  fluxboard/__tests__/trades-integration.test.tsx
  fluxboard/sockets.test.ts
  fluxboard/sockets.ts
  systems/flux/flux/api/socketio.py
  tests/unit_tests/flux/api/test_realtime_contract.py
  tests/unit_tests/flux/api/test_socketio_tokenmm.py
Due: check-non-latin-text

docs(plan): record task 5 commit
  docs/plans/2026-03-26-trades-blotter-hardening.md
Due: check-non-latin-text

fix(trades): align clean pr branch with verified lane
  fluxboard/stores.ts
  systems/flux/flux/api/_payloads_common.py
  systems/flux/flux/api/app.py
Due: check-non-latin-text

Enroll Binance equities routes in prod
  deploy/equities/README.md
  deploy/equities/equities.live.toml
  deploy/equities/strategies/amzn_binance_perp_maker.toml
  deploy/equities/strategies/amzn_binance_perp_taker.toml
  deploy/equities/strategies/coin_binance_perp_maker.toml
  deploy/equities/strategies/coin_binance_perp_taker.toml
  deploy/equities/strategies/crcl_binance_perp_maker.toml
  deploy/equities/strategies/crcl_binance_perp_taker.toml
  deploy/equities/strategies/ewy_binance_perp_maker.toml
  deploy/equities/strategies/ewy_binance_perp_taker.toml
  deploy/equities/strategies/hood_binance_perp_maker.toml
  deploy/equities/strategies/hood_binance_perp_taker.toml
  deploy/equities/strategies/intc_binance_perp_maker.toml
  deploy/equities/strategies/intc_binance_perp_taker.toml
  deploy/equities/strategies/mstr_binance_perp_maker.toml
  deploy/equities/strategies/mstr_binance_perp_taker.toml
  deploy/equities/strategies/pltr_binance_perp_maker.toml
  deploy/equities/strategies/pltr_binance_perp_taker.toml
  deploy/equities/strategies/tsla_binance_perp_maker.toml
  deploy/equities/strategies/tsla_binance_perp_taker.toml
  fluxboard/docs/equities_contract.md
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(fluxboard): restore equities balances dashboard defaults
  fluxboard/__tests__/fv-layout.test.ts
  fluxboard/components/layout/DashboardLayout.scope.test.tsx
  fluxboard/components/layout/DashboardLayout.tsx
  fluxboard/components/layout/presets.ts
  fluxboard/main.tsx
  fluxboard/utils/storage.test.ts
  fluxboard/utils/storage.ts
Due: none

fix makerv3 deque diagnostics and intent reasons
  systems/flux/flux/strategies/makerv3/constants.py
  systems/flux/flux/strategies/makerv3/quote_engine.py
  systems/flux/flux/strategies/makerv3/rebalancing.py
  systems/flux/flux/strategies/makerv3/strategy.py
Due: check-non-latin-text

feat: move makerv3 to shared deque stack planner
  systems/flux/flux/strategies/makerv3/quote_engine.py
  systems/flux/flux/strategies/makerv3/rebalancing.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/flux/strategies/makerv3/test_order_intent_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
Due: check-non-latin-text

test: lock deque quote stack contract
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
  tests/unit_tests/flux/strategies/shared/test_quote_stack.py
Due: check-non-latin-text

docs: describe shared deque quote stack behavior
  docs/plans/2026-03-26-shared-deque-quote-stack-design.md
  docs/plans/2026-03-26-shared-deque-quote-stack.md
  docs/runbooks/tokenmm-makerv3-bounded-convergence-rollout.md
  research/tokenmm/README.md
  research/tokenmm/telemetry_helpers.py
  systems/flux/docs/makerv3.md
Due: check-non-latin-text

test: align deque verification expectations
  docs/plans/2026-03-26-shared-deque-quote-stack.md
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
Due: check-non-latin-text

test: cover makerv3 deque telemetry exports
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_order_intent_exports.py
Due: check-non-latin-text

feat: add shared deque quote stack planner
  systems/flux/flux/strategies/shared/__init__.py
  systems/flux/flux/strategies/shared/quote_stack.py
  tests/unit_tests/flux/strategies/shared/test_quote_stack.py
Due: check-non-latin-text

fix: remove makerv3 order-age refresh path
  systems/flux/flux/strategies/makerv3/quote_engine.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
Due: check-non-latin-text

docs: clarify makerv3 max_age_ms scope
  deploy/tokenmm/strategies/plumeusdt_bybit_perp_makerv3.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

docs: align makerv3 max_age_ms schema
  systems/flux/flux/common/params.py
  tests/unit_tests/flux/strategies/makerv3/test_runtime_params.py
Due: check-non-latin-text

Fix Binance PM account projection routing
  systems/flux/flux/runners/shared/profile_accounts.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
Due: check-non-latin-text

fix: tighten tokenmm telemetry helper audits
  research/tokenmm/telemetry_helpers.py
  tests/unit_tests/research/test_telemetry_helpers.py
Due: check-non-latin-text

Fix rebased Rithmic shadow-port tests
  crates/adapters/rithmic/src/execution/handler.rs
  crates/adapters/rithmic/src/gateway.rs
  tests/integration_tests/adapters/rithmic/test_factories.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Rithmic adapter test fixtures
  tests/integration_tests/adapters/rithmic/conftest.py
Due: check-non-latin-text

Add Rithmic live and backtest sandbox notebooks
  crates/adapters/rithmic/src/gateway.rs
  docs/integrations/rithmic.md
  examples/live/rithmic/notebooks/rithmic_backtest_strategy_sandbox.py
  examples/live/rithmic/notebooks/rithmic_live_strategy_sandbox.py
  nautilus_trader/adapters/rithmic/config.py
  nautilus_trader/adapters/rithmic/data.py
  nautilus_trader/adapters/rithmic/execution.py
  nautilus_trader/adapters/rithmic/providers.py
  tests/integration_tests/adapters/rithmic/test_config.py
  tests/integration_tests/adapters/rithmic/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add mock ticker harness integration tests
  Cargo.lock
  crates/adapters/rithmic/Cargo.toml
  crates/adapters/rithmic/src/gateway.rs
  crates/adapters/rithmic/tests/common/mod.rs
  crates/adapters/rithmic/tests/data_client.rs
  docs/integrations/rithmic.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Rithmic crate test scaffolding
  crates/adapters/rithmic/tests/common/mod.rs
  crates/adapters/rithmic/tests/data_client.rs
  crates/adapters/rithmic/tests/gateway.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add order and PnL mock transport tests
  crates/adapters/rithmic/tests/common/mod.rs
  crates/adapters/rithmic/tests/gateway.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clarify Rithmic historical tick limits
  docs/integrations/rithmic.md
Due: check-non-latin-text

Add Rithmic integration docs and node examples
  README.md
  docs/integrations/rithmic.md
  examples/live/rithmic/rithmic_data_tester.py
  examples/live/rithmic/rithmic_exec_tester.py
  nautilus_trader/adapters/rithmic/data.py
  tests/integration_tests/adapters/rithmic/test_node.py
Due: check-non-latin-text

Add history plant mock transport tests
  crates/adapters/rithmic/tests/common/mod.rs
  crates/adapters/rithmic/tests/gateway.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Expand Rithmic integration guide
  docs/integrations/rithmic.md
Due: check-non-latin-text

Polish Rithmic upstream-facing package docs
  README.md
  crates/adapters/rithmic/src/execution/client.rs
  docs/integrations/index.md
  docs/integrations/rithmic.md
  nautilus_trader/adapters/rithmic/__init__.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Rithmic notebook sandbox smoke harness
  .gitignore
  examples/live/rithmic/notebooks/README.md
  examples/live/rithmic/notebooks/rithmic_adapter_sandbox_smoke.ipynb
Due: check-non-latin-text

Fix equities balance projection degradation
  nautilus_trader/adapters/interactive_brokers/client/error.py
  systems/flux/flux/api/_payloads_balances.py
  systems/flux/flux/api/app.py
  systems/flux/flux/api/socketio.py
  systems/flux/flux/bridge/handlers/balances.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_error.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
  tests/unit_tests/flux/api/test_realtime_contract.py
  tests/unit_tests/flux/bridge/test_handlers.py
Due: check-non-latin-text

Restore equities API alerts resolver compatibility
  systems/flux/flux/api/app.py
Due: check-non-latin-text

Clarify Rithmic broker IDs in docs
  docs/integrations/images/rtrader-user-profile-menu.png
  docs/integrations/images/rtrader-user-profile-routing-fields.png
  docs/integrations/rithmic.md
  examples/live/rithmic/notebooks/README.md
Due: check-non-latin-text

Remove Rithmic doc screenshots
  docs/integrations/images/rtrader-user-profile-menu.png
  docs/integrations/images/rtrader-user-profile-routing-fields.png
  docs/integrations/rithmic.md
Due: check-non-latin-text

Mark Rithmic adapter as alpha
  docs/integrations/rithmic.md
Due: check-non-latin-text

Add live Rithmic external bar subscriptions
  crates/adapters/rithmic/src/data.rs
  crates/adapters/rithmic/src/data/client.rs
  crates/adapters/rithmic/src/gateway.rs
  crates/adapters/rithmic/src/python/data.rs
  crates/adapters/rithmic/src/python/events.rs
  crates/adapters/rithmic/tests/common/mod.rs
  crates/adapters/rithmic/tests/data_client.rs
  crates/adapters/rithmic/tests/gateway.rs
  docs/integrations/rithmic.md
  nautilus_trader/adapters/rithmic/bindings.py
  nautilus_trader/adapters/rithmic/data.py
  tests/integration_tests/adapters/rithmic/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Stabilize equities IBKR gateway routing
  deploy/equities/equities.live.toml
  deploy/equities/strategies/amzn_binance_perp_maker.toml
  deploy/equities/strategies/amzn_binance_perp_taker.toml
  deploy/equities/strategies/coin_binance_perp_maker.toml
  deploy/equities/strategies/coin_binance_perp_taker.toml
  deploy/equities/strategies/crcl_binance_perp_maker.toml
  deploy/equities/strategies/crcl_binance_perp_taker.toml
  deploy/equities/strategies/ewy_binance_perp_maker.toml
  deploy/equities/strategies/ewy_binance_perp_taker.toml
  deploy/equities/strategies/hood_binance_perp_maker.toml
  deploy/equities/strategies/hood_binance_perp_taker.toml
  deploy/equities/strategies/intc_binance_perp_maker.toml
  deploy/equities/strategies/intc_binance_perp_taker.toml
  deploy/equities/strategies/mstr_binance_perp_maker.toml
  deploy/equities/strategies/mstr_binance_perp_taker.toml
  deploy/equities/strategies/pltr_binance_perp_maker.toml
  deploy/equities/strategies/pltr_binance_perp_taker.toml
  deploy/equities/strategies/tsla_binance_perp_maker.toml
  deploy/equities/strategies/tsla_binance_perp_taker.toml
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/factories.py
  systems/flux/flux/runners/equities/run_node.py
  systems/flux/flux/runners/shared/profile_accounts.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client.py
  tests/unit_tests/adapters/interactive_brokers/test_gateway.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc
