Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

style(kalshi): add license headers, expand docs, fix urls.rs conventions
  crates/adapters/kalshi/src/common/consts.rs
  crates/adapters/kalshi/src/common/credential.rs
  crates/adapters/kalshi/src/common/enums.rs
  crates/adapters/kalshi/src/common/mod.rs
  crates/adapters/kalshi/src/common/parse.rs
  crates/adapters/kalshi/src/common/urls.rs
  crates/adapters/kalshi/src/config.rs
  crates/adapters/kalshi/src/http/client.rs
  crates/adapters/kalshi/src/http/error.rs
  crates/adapters/kalshi/src/http/mod.rs
  crates/adapters/kalshi/src/http/models.rs
  crates/adapters/kalshi/src/http/parse.rs
  crates/adapters/kalshi/src/http/rate_limits.rs
  crates/adapters/kalshi/src/lib.rs
  crates/adapters/kalshi/src/websocket/client.rs
  crates/adapters/kalshi/src/websocket/error.rs
  crates/adapters/kalshi/src/websocket/handler.rs
  crates/adapters/kalshi/src/websocket/messages.rs
  crates/adapters/kalshi/src/websocket/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(kalshi): add constants and enums
  crates/adapters/kalshi/src/common/consts.rs
  crates/adapters/kalshi/src/common/enums.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(kalshi): add RSA-PSS credential with signing
  crates/adapters/kalshi/src/common/credential.rs
  crates/adapters/kalshi/test_data/test_rsa_private_key.pem
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(kalshi): add HTTP models and test fixtures
  crates/adapters/kalshi/src/http/models.rs
  crates/adapters/kalshi/test_data/http_candlesticks.json
  crates/adapters/kalshi/test_data/http_markets.json
  crates/adapters/kalshi/test_data/http_orderbook.json
  crates/adapters/kalshi/test_data/http_trades.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(kalshi): add HTTP parse conversion market-to-BinaryOption
  crates/adapters/kalshi/src/common/parse.rs
  crates/adapters/kalshi/src/http/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(kalshi): use checked u64 conversion in parse_datetime, add raw_symbol assertion
  crates/adapters/kalshi/src/common/parse.rs
  crates/adapters/kalshi/src/http/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(kalshi): add HTTP client with instrument discovery and historical data
  crates/adapters/kalshi/src/http/client.rs
  crates/adapters/kalshi/src/http/error.rs
  crates/adapters/kalshi/src/http/rate_limits.rs
  crates/adapters/kalshi/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(kalshi): add WebSocket message types and fixtures
  crates/adapters/kalshi/src/websocket/error.rs
  crates/adapters/kalshi/src/websocket/messages.rs
  crates/adapters/kalshi/test_data/ws_orderbook_delta.json
  crates/adapters/kalshi/test_data/ws_orderbook_snapshot.json
  crates/adapters/kalshi/test_data/ws_trade.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(kalshi): add WebSocket handler with sequence tracking and orderbook reconstruction
  crates/adapters/kalshi/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(kalshi): improve handler error types and sequence tracking
  crates/adapters/kalshi/src/websocket/handler.rs
  crates/adapters/kalshi/src/websocket/messages.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(kalshi): add WebSocket client skeleton
  crates/adapters/kalshi/src/websocket/client.rs
  crates/adapters/kalshi/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(kalshi): apply code quality improvements to WebSocket client
  crates/adapters/kalshi/src/websocket/client.rs
  crates/adapters/kalshi/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(kalshi): register Kalshi PyO3 module in nautilus-pyo3
  crates/pyo3/src/lib.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(kalshi): add Python config dataclass
  nautilus_trader/adapters/kalshi/__init__.py
  nautilus_trader/adapters/kalshi/config.py
Due: check-non-latin-text

fix(kalshi): use LiveDataClientConfig base class for Python config
  nautilus_trader/adapters/kalshi/config.py
Due: check-non-latin-text

feat(kalshi): add Python instrument provider
  nautilus_trader/adapters/kalshi/providers.py
  tests/unit_tests/adapters/__init__.py
  tests/unit_tests/adapters/kalshi/__init__.py
  tests/unit_tests/adapters/kalshi/test_providers.py
Due: check-non-latin-text

fix(kalshi): correct BinaryOption constructor arguments in instrument provider
  nautilus_trader/adapters/kalshi/providers.py
Due: check-non-latin-text

feat(kalshi): add Python data client and factory
  nautilus_trader/adapters/kalshi/data.py
  nautilus_trader/adapters/kalshi/factories.py
Due: check-non-latin-text

fix(kalshi): use initialize() in _connect and clean up data client
  nautilus_trader/adapters/kalshi/data.py
Due: check-non-latin-text

Improve enum conversions and add SAFETY comments
  crates/adapters/okx/src/common/enums.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/polymarket/src/common/enums.rs
  crates/common/src/ffi/timer.rs
  crates/persistence/src/backend/binary_heap.rs
  crates/persistence/src/backend/session.rs
  crates/trading/src/python/strategy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  .pre-commit-config.yaml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv-version
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Improve test coverage
  crates/adapters/okx/src/http/models.rs
  crates/live/tests/manager.rs
  crates/model/src/orderbook/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix volume bar aggregator overflow for large steps
  RELEASES.md
  crates/data/src/aggregation.rs
  nautilus_trader/data/aggregation.pxd
  nautilus_trader/data/aggregation.pyx
  tests/unit_tests/data/test_aggregation.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine documentation prose and admonitions
  README.md
  docs/api_reference/index.md
  docs/concepts/execution.md
  docs/concepts/instruments.md
  docs/concepts/logging.md
  docs/concepts/orders.md
  docs/concepts/overview.md
  docs/concepts/portfolio.md
  docs/concepts/strategies.md
  docs/developer_guide/index.md
  docs/getting_started/index.md
  docs/tutorials/index.md
Due: check-non-latin-text

Improve Databento instrument loading with skip_on_error flag
  RELEASES.md
  crates/adapters/databento/src/loader.rs
  crates/adapters/databento/src/python/loader.rs
  nautilus_trader/adapters/databento/loaders.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine documentation prose and tone
  docs/concepts/architecture.md
  docs/concepts/backtesting.md
  docs/concepts/cache.md
  docs/concepts/data.md
  docs/concepts/instruments.md
  docs/concepts/live.md
  docs/concepts/logging.md
  docs/concepts/message_bus.md
  docs/concepts/order_book.md
  docs/concepts/orders.md
  docs/concepts/overview.md
  docs/concepts/portfolio.md
  docs/concepts/positions.md
  docs/concepts/reports.md
  docs/concepts/visualization.md
  docs/developer_guide/adapters.md
  docs/developer_guide/environment_setup.md
  docs/developer_guide/python.md
  docs/developer_guide/rust.md
  docs/integrations/binance.md
  docs/integrations/bitmex.md
  docs/integrations/blockchain.md
  docs/integrations/bybit.md
  docs/integrations/databento.md
  docs/integrations/deribit.md
  docs/integrations/dydx.md
  docs/integrations/hyperliquid.md
  docs/integrations/ib.md
  docs/integrations/kraken.md
  docs/integrations/okx.md
  docs/integrations/polymarket.md
  docs/integrations/tardis.md
Due: check-non-latin-text

Improve InstrumentProvider with default load_ids filtering
  RELEASES.md
  nautilus_trader/adapters/_template/providers.py
  nautilus_trader/adapters/architect_ax/providers.py
  nautilus_trader/adapters/dydx/providers.py
  nautilus_trader/adapters/hyperliquid/providers.py
  nautilus_trader/adapters/kraken/providers.py
  nautilus_trader/common/providers.py
  tests/integration_tests/adapters/kraken/test_providers.py
  tests/unit_tests/common/test_providers.py
Due: check-non-latin-text

fix(kalshi): pass None to InstrumentProvider.__init__ and use status=open for markets API
  examples/kalshitest/kalshidataload.py
  nautilus_trader/adapters/kalshi/providers.py
Due: check-non-latin-text

create kalshidataload.py
  Cargo.lock
  examples/kalshitest/kalshidataload.py
Due: check-non-latin-text, cargo-deny

fix: update Binance Spot testnet WebSocket API URL
  crates/adapters/binance/src/common/consts.rs
  nautilus_trader/adapters/binance/common/urls.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

test: add unit tests for get_ws_api_base_url
  RELEASES.md
  tests/integration_tests/adapters/binance/test_url_generation.py
Due: check-non-latin-text

Standardize OKX adapter modules and add tests
  crates/adapters/okx/src/data.rs
  crates/adapters/okx/src/execution.rs
  crates/adapters/okx/src/lib.rs
  crates/adapters/okx/tests/data_client.rs
  crates/adapters/okx/tests/exec_client.rs
  docs/developer_guide/adapters.md
  docs/integrations/okx.md
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/adapters/okx/config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve OKX adapter parsing and edge case handling
  crates/adapters/okx/examples/node_exec_tester.rs
  crates/adapters/okx/src/common/models.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/execution.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/handler.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/okx/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add InstrumentProvider trait
  crates/common/src/lib.rs
  crates/common/src/providers.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Betfair initial data and execution clients in Rust
  Cargo.lock
  crates/adapters/betfair/Cargo.toml
  crates/adapters/betfair/src/common/parse.rs
  crates/adapters/betfair/src/data.rs
  crates/adapters/betfair/src/execution.rs
  crates/adapters/betfair/src/http/client.rs
  crates/adapters/betfair/src/lib.rs
  crates/adapters/betfair/src/provider.rs
  crates/adapters/betfair/tests/common/mod.rs
  crates/adapters/betfair/tests/data_client.rs
  crates/adapters/betfair/tests/exec_client.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add dYdX instrument status support
  RELEASES.md
  crates/adapters/dydx/src/common/enums.rs
  crates/adapters/dydx/src/data.rs
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/dydx/src/websocket/enums.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/messages.rs
  crates/adapters/dydx/src/websocket/parse.rs
  crates/adapters/dydx/test_data/ws_markets_status_update.json
  crates/adapters/dydx/tests/websocket.rs
  crates/live/src/node.rs
  docs/integrations/dydx.md
  examples/live/dydx/dydx_data_tester.py
  examples/live/dydx/dydx_exec_tester.py
  nautilus_trader/adapters/dydx/data.py
  nautilus_trader/test_kit/strategies/tester_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

style: apply cargo fmt formatting
  crates/adapters/binance/src/common/consts.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance Spot testnet WebSocket API URL (#3661)
  RELEASES.md
  crates/adapters/binance/src/common/consts.rs
  nautilus_trader/adapters/binance/common/urls.py
  tests/integration_tests/adapters/binance/test_url_generation.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Betfair instrument provider feature parity
  crates/adapters/betfair/src/common/parse.rs
  crates/adapters/betfair/src/data.rs
  crates/adapters/betfair/src/provider.rs
  crates/adapters/betfair/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket data client and instrument provider
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/http/client.rs
  crates/adapters/polymarket/src/lib.rs
  crates/adapters/polymarket/src/providers.rs
  crates/adapters/polymarket/src/signing/eip712.rs
  crates/adapters/polymarket/src/signing/mod.rs
  crates/adapters/polymarket/src/websocket/client.rs
  crates/adapters/polymarket/src/websocket/handler.rs
  crates/adapters/polymarket/src/websocket/messages.rs
  crates/adapters/polymarket/src/websocket/mod.rs
  crates/adapters/polymarket/src/websocket/parse.rs
  crates/adapters/polymarket/test_data/ws_book_snapshot.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
