Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Add RPC parser for Uniswap V3 pool creation with tests
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/pool_created.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add RPC parser for Uniswap V3 swap event with tests
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/swap.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor `DexExtended` to support separate HyperSync and RPC event parsers
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/camelot_v3.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/fluid.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/pancakeswap_v3.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/extended.rs
  crates/adapters/blockchain/src/exchanges/mod.rs
  crates/adapters/blockchain/src/exchanges/parsing/core.rs
  crates/adapters/blockchain/src/exchanges/parsing/mod.rs
  crates/adapters/blockchain/src/hypersync/client.rs
  crates/adapters/blockchain/src/hypersync/helpers.rs
  crates/adapters/blockchain/src/hypersync/mod.rs
  crates/adapters/blockchain/src/rpc/helpers.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add RPC parser for Uniswap V3 mint event with tests
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/mint.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add RPC parser for Uniswap V3 initialize event with tests
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/initialize.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add RPC event parsers for Uniswap V3 in Arbitrum and Ethereum exchanges
  crates/adapters/blockchain/src/exchanges/arbitrum/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v3.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add RPC parser for Uniswap V3 flash event with tests
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/flash.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add RPC parser for Uniswap V3 collect event with tests
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/collect.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add RPC parser for Uniswap V3 burn event with tests
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/burn.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

provide streaming write test for intrument
  tests/unit_tests/persistence/test_streaming.py
Due: check-non-latin-text

Implement gRPC order execution with TLS for dYdX v4 adapter using dydx-proto
  Cargo.lock
  crates/adapters/dydx/Cargo.toml
  crates/adapters/dydx/src/data/mod.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Move time-in-force and order-side conversions to common/parse.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/dydx/src/data/mod.rs
  crates/common/src/lib.rs
  crates/common/src/symbols.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/dydx/src/common/parse.rs
  crates/adapters/dydx/src/data/mod.rs
  crates/common/src/lib.rs
  crates/common/src/symbols.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement dYdX network enum, bar filtering, batch cancellation, and cleanup dead code
  crates/adapters/dydx/src/common/enums.rs
  crates/adapters/dydx/src/config.rs
  crates/adapters/dydx/src/data/mod.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/grpc/client.rs
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/src/http/parse.rs
  crates/adapters/dydx/src/websocket/client.rs
  crates/adapters/dydx/tests/http.rs
  crates/adapters/dydx/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor dYdX order execution to support post-only orders and eliminate broadcast method duplication
  crates/adapters/dydx/src/common/parse.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/submitter.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix extract_raw_symbol to remove both venue and perpetual suffixes for dYdX ticker format
  crates/adapters/dydx/src/common/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document dYdX client order ID mapping and network precedence in config
  crates/adapters/dydx/src/config.rs
  crates/adapters/dydx/src/execution/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align dYdX adapter with standard WebSocket pattern and export network enum to Python
  crates/adapters/dydx/src/common/enums.rs
  crates/adapters/dydx/src/python/mod.rs
  crates/adapters/dydx/src/websocket/client.rs
  nautilus_trader/adapters/dydx/config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/dydx/src/grpc/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix dYdX adapter type imports and config compatibility
  Cargo.lock
  crates/adapters/dydx/Cargo.toml
  crates/adapters/dydx/src/common/enums.rs
  crates/adapters/dydx/src/common/parse.rs
  crates/adapters/dydx/src/config.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/submitter.rs
  nautilus_trader/adapters/dydx/config.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix conversion of streamed instruments to catalog
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/persistence/writer.py
  tests/unit_tests/persistence/test_streaming.py
Due: check-non-latin-text

Fix BybitHttpClient pyi signatures
  nautilus_trader/core/nautilus_pyo3.pyi
Due: none

Improve dYdX gRPC execution with edge cases and batch cancel
  Cargo.lock
  crates/adapters/dydx/Cargo.toml
  crates/adapters/dydx/bin/grpc_exec.rs
  crates/adapters/dydx/bin/http_private.rs
  crates/adapters/dydx/bin/http_public.rs
  crates/adapters/dydx/bin/ws_data.rs
  crates/adapters/dydx/bin/ws_exec.rs
  crates/adapters/dydx/src/common/consts.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/grpc/client.rs
  crates/adapters/dydx/src/http/models.rs
  crates/adapters/dydx/src/http/parse.rs
  crates/adapters/dydx/src/websocket/parse.rs
  crates/adapters/dydx/tests/http.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/dydx/bin/grpc_exec.rs
  crates/adapters/dydx/bin/ws_data.rs
  crates/adapters/dydx/src/common/consts.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

[feat] workshop init
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/src/python/mod.rs
  crates/adapters/bybit/src/python/params.rs
  crates/adapters/bybit/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Prefer sccache for faster builds when available
  Makefile
Due: none

Add chunking support for Bybit batch cancel orders
  crates/adapters/bybit/src/python/mod.rs
  crates/adapters/bybit/src/python/params.rs
  crates/adapters/bybit/src/python/websocket.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/bybit/tests/websocket.rs
  nautilus_trader/adapters/bybit/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add chunking support for Bybit batch cancel orders
  crates/adapters/bybit/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add dYdX v4 order execution via gRPC with Python bindings
  crates/adapters/dydx/src/common/enums.rs
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/grpc/types.rs
  crates/adapters/dydx/src/http/models.rs
  crates/adapters/dydx/src/python/execution.rs
  crates/adapters/dydx/src/python/http.rs
  crates/adapters/dydx/src/python/mod.rs
  examples/live/dydx/dydx_v4_order_submit.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add check for empty data in _handle_table_nautilus
  nautilus_trader/persistence/catalog/parquet.py
Due: check-non-latin-text

Fix parsing of invalid prices in IB adapter
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_market_data.py
Due: check-non-latin-text

Add request_tickers func for bybit adaptor with rust
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/src/python/mod.rs
  crates/adapters/bybit/src/python/params.rs
  crates/adapters/bybit/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

External-command example
  examples/other/message_bus_external_command/README.md
  examples/other/message_bus_external_command/__init__.py
  examples/other/message_bus_external_command/receiver.py
  examples/other/message_bus_external_command/sender.py
Due: check-non-latin-text

Fix request_tickers func for bybit adaptor with rust - add serde(default) for BybitTickerData option fields - refactor BybitTickerData construction in request_tickers
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/models.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Uniswap V4 swap execution infrastructure
  crates/adapters/blockchain/Cargo.toml
  crates/adapters/blockchain/bin/node_wallet.rs
  crates/adapters/blockchain/bin/uniswap_v4_swap.rs
  crates/adapters/blockchain/src/config.rs
  crates/adapters/blockchain/src/contracts/mod.rs
  crates/adapters/blockchain/src/contracts/uniswap_v4_pool.rs
  crates/adapters/blockchain/src/contracts/universal_router.rs
  crates/adapters/blockchain/src/events/donate.rs
  crates/adapters/blockchain/src/events/initialize_v4.rs
  crates/adapters/blockchain/src/events/mod.rs
  crates/adapters/blockchain/src/events/modify_liquidity.rs
  crates/adapters/blockchain/src/events/swap_v4.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v4.rs
  crates/adapters/blockchain/src/execution/mod.rs
  crates/adapters/blockchain/src/execution/swap.rs
  crates/model/src/defi/stubs.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add BybitRawHttpClient Python binding
  crates/adapters/bybit/bin/http.rs
  crates/adapters/bybit/src/common/enums.rs
  crates/adapters/bybit/src/common/models.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/http/query.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/src/python/mod.rs
  crates/adapters/bybit/tests/http.rs
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Addressed PR comments from Chris
  nautilus_trader/adapters/dydx/common/errors.py
  nautilus_trader/adapters/dydx/execution.py
Due: check-non-latin-text

dYdX v4 integration: data/exec testers and GTT fix
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/python/execution.rs
  crates/adapters/dydx/src/python/mod.rs
  crates/adapters/dydx/src/python/urls.rs
  crates/adapters/dydx/tests/grpc.rs
  crates/adapters/dydx/tests/pagination.rs
  examples/live/dydx/dydx_v4_data_tester.py
  examples/live/dydx/dydx_v4_exec_tester.py
  examples/live/dydx/dydx_v4_grpc_bindings.py
  examples/live/dydx/dydx_v4_order_submit.py
  nautilus_trader/adapters/dydx_v4/__init__.py
  nautilus_trader/adapters/dydx_v4/common/__init__.py
  nautilus_trader/adapters/dydx_v4/common/urls.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
