Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Reject Binance Spot SBE short blocks in new-order-full decoder (#4972)
  crates/adapters/binance/src/spot/http/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

List accepted backtest data type values in the parse error
  crates/backtest/src/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Explain why a backtest engine is missing for a run config
  crates/backtest/src/python/node.rs
  python/tests/unit/backtest/test_backtest_node.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance CN equity instrument parsing
  crates/adapters/binance/src/common/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Kraken Futures terminal order-state convergence gaps
  crates/adapters/kraken/src/common/enums.rs
  crates/adapters/kraken/src/common/parse.rs
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/http/futures/client.rs
  crates/adapters/kraken/src/http/futures/models.rs
  crates/adapters/kraken/src/http/models.rs
  crates/adapters/kraken/src/websocket/dispatch/futures.rs
  crates/adapters/kraken/src/websocket/dispatch/mod.rs
  crates/adapters/kraken/src/websocket/futures/messages.rs
  crates/adapters/kraken/test_data/http_futures_orders_status.json
  crates/adapters/kraken/tests/integration/dispatch_futures.rs
  crates/adapters/kraken/tests/integration/exec_client.rs
  docs/integrations/kraken.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix nightly MessageBus and Memray checks
  crates/common/benches/msgbus.rs
  python/pyproject.toml
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Restore GTD expiry management after a rejected cancel
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Restore spawn reductions on canceled and expired children
  crates/trading/src/algorithm/core.rs
  crates/trading/src/algorithm/mod.rs
  docs/concepts/execution/algorithms.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine events guide emphasis and admonitions
  docs/concepts/events/account_state.md
  docs/concepts/events/index.md
  docs/concepts/events/order_denied.md
  docs/concepts/events/order_fill_voided.md
  docs/concepts/events/position_changed.md
  docs/concepts/events/position_closed.md
  docs/concepts/events/position_opened.md
Due: check-non-latin-text

Document why backtest pool snapshot stays silent
  RELEASES.md
  crates/backtest/src/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine data guide emphasis and admonitions
  docs/concepts/data/bar.md
  docs/concepts/data/funding_rate_update.md
  docs/concepts/data/index.md
  docs/concepts/data/index_price_update.md
  docs/concepts/data/order_book_delta.md
  docs/concepts/data/order_book_deltas.md
  docs/concepts/data/quote_tick.md
Due: check-non-latin-text

Enforce Cargo optional dependency grouping
  .pre-commit-hooks/check_cargo_conventions.sh
  .pre-commit-hooks/test_check_cargo_conventions.sh
  crates/adapters/lighter/Cargo.toml
  crates/backtest/Cargo.toml
  crates/live/Cargo.toml
  crates/model/Cargo.toml
  crates/system/Cargo.toml
  crates/testkit/Cargo.toml
  docs/developer_guide/rust.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Rename Arrow display feature to arrow-display
  Makefile
  RELEASES.md
  crates/serialization/Cargo.toml
  crates/serialization/README.md
  crates/serialization/src/arrow/mod.rs
  crates/serialization/src/lib.rs
  scripts/clippy-changed.sh
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OKX websocket recovery after reconnect
  RELEASES.md
  crates/adapters/okx/src/book_sync.rs
  crates/adapters/okx/src/data.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/tests/integration/dst.rs
  crates/adapters/okx/tests/integration/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix LiveNode shutdown data command logging
  RELEASES.md
  crates/live/src/node/mod.rs
  crates/live/src/runner.rs
  crates/live/tests/integration/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Restore spawn reductions on canceled and expired children (#4968)
  crates/trading/src/algorithm/core.rs
  crates/trading/src/algorithm/mod.rs
  docs/concepts/execution/algorithms.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine instruments guide emphasis and admonitions
  docs/concepts/instruments/binary_option.md
  docs/concepts/instruments/cfd.md
  docs/concepts/instruments/crypto_future.md
  docs/concepts/instruments/crypto_futures_spread.md
  docs/concepts/instruments/crypto_option_spread.md
  docs/concepts/instruments/crypto_perpetual.md
  docs/concepts/instruments/equity.md
  docs/concepts/instruments/futures_spread.md
  docs/concepts/instruments/index.md
  docs/concepts/instruments/index_instrument.md
  docs/concepts/instruments/option_spread.md
Due: check-non-latin-text

Refine orders guide emphasis and admonitions
  docs/concepts/orders/advanced.md
  docs/concepts/orders/emulated.md
  docs/concepts/orders/index.md
  docs/concepts/orders/limit_if_touched.md
  docs/concepts/orders/stop_limit.md
  docs/concepts/orders/trailing_stop_limit.md
  docs/concepts/orders/trailing_stop_market.md
Due: check-non-latin-text

Refine execution algorithm spawn fill accounting
  crates/trading/src/algorithm/core.rs
  crates/trading/src/algorithm/mod.rs
  docs/concepts/execution/algorithms.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document Binance CN equity type
  docs/integrations/binance.md
Due: check-non-latin-text

Add actor state subscription filters
  RELEASES.md
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/msgbus/switchboard.rs
  crates/common/src/python/actor.rs
  crates/live/src/node/mod.rs
  crates/live/tests/integration/node.rs
  crates/trading/src/python/algorithm.rs
  crates/trading/src/python/strategy.rs
  docs/concepts/actors.md
  docs/concepts/live.md
  python/nautilus_trader/common/__init__.pyi
  python/nautilus_trader/trading/__init__.pyi
  python/tests/unit/backtest/test_backtest_engine_exec_algorithms.py
  python/tests/unit/common/test_actor.py
  python/tests/unit/trading/test_trading.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Gate report task completions during shutdown grace
  crates/live/src/node/mod.rs
  crates/live/tests/integration/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix MessageBus publication reentry
  RELEASES.md
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/external/mod.rs
  crates/common/src/python/msgbus.rs
  docs/developer_guide/callback_dispatch.md
  python/generate_stubs.py
  python/tests/unit/test_generate_stubs.py
  python/tests/unit/test_msgbus.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine concepts guide emphasis and admonitions
  docs/concepts/accounting.md
  docs/concepts/actors.md
  docs/concepts/adapters.md
  docs/concepts/architecture.md
  docs/concepts/behavioral_models.md
  docs/concepts/cache.md
  docs/concepts/configuration.md
  docs/concepts/continuous_futures.md
  docs/concepts/custom_data.md
  docs/concepts/dst.md
  docs/concepts/event_sourcing.md
  docs/concepts/greeks.md
  docs/concepts/index.md
  docs/concepts/live.md
  docs/concepts/logging.md
  docs/concepts/message_bus.md
  docs/concepts/networking.md
  docs/concepts/options.md
  docs/concepts/order_book.md
  docs/concepts/overview.md
  docs/concepts/portfolio.md
  docs/concepts/positions.md
  docs/concepts/python.md
  docs/concepts/reports.md
  docs/concepts/rust.md
  docs/concepts/strategies.md
  docs/concepts/synthetics.md
  docs/concepts/value_types.md
  docs/concepts/visualization.md
Due: check-non-latin-text

Add pyarrow to the test dependency group
  python/pyproject.toml
  python/uv.lock
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix Architect closed-order tracking cache retention
  crates/adapters/architect_ax/examples/node_data_tester.rs
  crates/adapters/architect_ax/examples/node_exec_tester.rs
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/architect_ax/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OKX tradeQuoteCcy for USD-to-USDC spot migration
  RELEASES.md
  crates/adapters/okx/benches/exec.rs
  crates/adapters/okx/bin/flatten.rs
  crates/adapters/okx/src/common/consts.rs
  crates/adapters/okx/src/common/models.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/config.rs
  crates/adapters/okx/src/data.rs
  crates/adapters/okx/src/execution.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/src/http/query.rs
  crates/adapters/okx/src/python/config.rs
  crates/adapters/okx/src/python/http.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/test_data/http_get_instruments_spot_usdc.json
  crates/adapters/okx/tests/integration/http.rs
  crates/adapters/okx/tests/integration/websocket.rs
  docs/integrations/okx.md
  python/nautilus_trader/adapters/okx/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Restore GTD expiry management after a rejected cancel (#4974)
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix order cancel rejection after acceptance
  RELEASES.md
  crates/execution/tests/integration/exec_engine.rs
  crates/model/src/orders/mod.rs
  crates/trading/src/strategy/mod.rs
  docs/concepts/strategies.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance CN equity instrument parsing (#4980)
  crates/adapters/binance/src/common/parse.rs
  docs/integrations/binance.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Track actor callback budgets by causal root
  crates/common/src/actor/dispatch.rs
  crates/common/src/actor/invocation.rs
  docs/developer_guide/callback_dispatch.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Enable OKX pedantic Clippy linting
  crates/adapters/okx/benches/common/mod.rs
  crates/adapters/okx/benches/micros.rs
  crates/adapters/okx/bin/flatten.rs
  crates/adapters/okx/examples/node_greeks.rs
  crates/adapters/okx/src/common/consts.rs
  crates/adapters/okx/src/common/credential.rs
  crates/adapters/okx/src/common/models.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/data.rs
  crates/adapters/okx/src/execution.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/error.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/src/http/query.rs
  crates/adapters/okx/src/lib.rs
  crates/adapters/okx/src/python/http.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/dispatch.rs
  crates/adapters/okx/src/websocket/error.rs
  crates/adapters/okx/src/websocket/handler.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/okx/tests/integration/exec_client.rs
  crates/adapters/okx/tests/integration/http.rs
  crates/adapters/okx/tests/integration/main.rs
  crates/adapters/okx/tests/integration/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Parquet query errors and Arrow field decoding
  crates/persistence/src/backend/parquet/catalog/query.rs
  crates/persistence/src/backend/parquet/catalog/session.rs
  crates/serialization/src/arrow/json.rs
  python/tests/persistence/test_parquet_streaming.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update adapter tests for variable order book depth
  crates/adapters/databento/src/decode/tests.rs
  crates/adapters/derive/src/websocket/parse.rs
  crates/adapters/hyperliquid/src/websocket/parse.rs
  crates/adapters/lighter/src/websocket/parse.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/tardis/src/csv/load.rs
  crates/adapters/tardis/src/csv/stream.rs
  crates/adapters/tardis/src/machine/parse.rs
  crates/live/src/node/builder.rs
  crates/system/src/builder.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Migrate raw fixed-point access to public accessors
  crates/adapters/binance/src/arrow/bar.rs
  crates/adapters/databento/src/arrow/imbalance.rs
  crates/adapters/databento/src/arrow/statistics.rs
  crates/adapters/tardis/src/csv/load.rs
  crates/macros/src/serialization.rs
  crates/model/src/types/quantity.rs
  crates/serialization/src/arrow/bar.rs
  crates/serialization/src/arrow/catalog_display.rs
  crates/serialization/src/arrow/close.rs
  crates/serialization/src/arrow/delta.rs
  crates/serialization/src/arrow/depth.rs
  crates/serialization/src/arrow/index_price.rs
  crates/serialization/src/arrow/legacy.rs
  crates/serialization/src/arrow/mark_price.rs
  crates/serialization/src/arrow/mod.rs
  crates/serialization/src/arrow/quote.rs
  crates/serialization/src/arrow/trade.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Parquet catalog writes and migration
  crates/model/src/ffi/data/depth.rs
  crates/persistence/src/backend/parquet/catalog/mod.rs
  crates/persistence/src/backend/parquet/catalog/query.rs
  crates/persistence/src/backend/parquet/catalog/write.rs
  crates/persistence/src/backend/parquet/migration.rs
  crates/persistence/tests/test_parquet_catalog.rs
  crates/persistence/tests/test_parquet_migration.rs
  docs/concepts/data/order_book_depth10.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and tooling
  .docker/DockerfileUbuntu
  .docker/jupyterlab.dockerfile
  .docker/nautilus_trader.dockerfile
  .nautilus-engineering.lock
  .nautilus-engineering/pre-commit/zizmor.yaml
  .nautilus-engineering/tools.toml
  .pre-commit-config.yaml
  .supply-chain/audits.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/lighter/fuzz/pornin/Cargo.lock
  scripts/uv-version.sh
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Add Polymarket Deposit Wallet position operations
  RELEASES.md
  crates/adapters/polymarket/README.md
  crates/adapters/polymarket/src/common/credential.rs
  crates/adapters/polymarket/src/common/urls.rs
  crates/adapters/polymarket/src/http/mod.rs
  crates/adapters/polymarket/src/http/relayer.rs
  crates/adapters/polymarket/src/lib.rs
  crates/adapters/polymarket/src/positions/amounts.rs
  crates/adapters/polymarket/src/positions/calldata.rs
  crates/adapters/polymarket/src/positions/mod.rs
  crates/adapters/polymarket/src/positions/wallet.rs
  crates/adapters/polymarket/src/python/mod.rs
  crates/adapters/polymarket/src/python/positions.rs
  crates/adapters/polymarket/src/signing/eip712.rs
  crates/adapters/polymarket/src/signing/mod.rs
  crates/adapters/polymarket/tests/integration/main.rs
  crates/adapters/polymarket/tests/integration/positions.rs
  docs/integrations/polymarket.md
  python/nautilus_trader/adapters/polymarket/__init__.py
  python/nautilus_trader/adapters/polymarket/__init__.pyi
  scripts/strip-adapter-env.bash
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Preserve callback roots through queued data commands
  crates/common/src/actor/dispatch.rs
  crates/common/src/actor/mod.rs
  crates/common/src/runner.rs
  docs/developer_guide/callback_dispatch.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
