Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Add missing unsubscribe feature to Dydx websocket client
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/messages.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove unnecessary periodically orderbook http fetch from DydxDataClient
  crates/adapters/dydx/src/config.rs
  crates/adapters/dydx/src/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix tag parsing default serde field in dYdX WebSocket handler
  crates/adapters/dydx/src/websocket/messages.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add multi-message buffering to dYdX WebSocket handler
  crates/adapters/dydx/src/data.rs
  crates/adapters/dydx/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add book sequence gap detection and emit-on-next candles to dYdX WS handler
  crates/adapters/dydx/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add state clearing on reconnect to dYdX WS handler
  crates/adapters/dydx/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Use VecDeque for message buffer in dYdX WS handler
  crates/adapters/dydx/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Optimize JSON parsing in dYdX WS handler hot path
  crates/adapters/dydx/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Extract market data parsing from dYdX WS handler to parse module
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Separate quotes and orderbook deltas subscriptions
  crates/adapters/dydx/src/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add mark price, index price, and funding rate subscriptions to dYdX data client
  crates/adapters/dydx/src/data.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/dydx/src/websocket/enums.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/messages.rs
  crates/adapters/dydx/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add quote synthesis from orderbook deltas to Python dYdX data client
  nautilus_trader/adapters/dydx_v4/data.py
Due: check-non-latin-text

Fix orderbook sequence check to detect regressions not gaps
  crates/adapters/dydx/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor NautilusWsMessage to use native Nautilus types for market data
  crates/adapters/dydx/src/data.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/dydx/src/websocket/enums.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/parse.rs
  nautilus_trader/adapters/dydx_v4/data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: conform to error and wording conventions
  crates/adapters/tardis/src/csv/stream.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Betfair duplicate cancel events from HTTP/stream race
  RELEASES.md
  nautilus_trader/adapters/betfair/execution.py
  tests/integration_tests/adapters/betfair/test_betfair_execution.py
Due: check-non-latin-text

Improve dYdX data client subscription handling (#3537)
  crates/adapters/dydx/src/config.rs
  crates/adapters/dydx/src/data.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/dydx/src/websocket/enums.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/messages.rs
  crates/adapters/dydx/src/websocket/parse.rs
  nautilus_trader/adapters/dydx_v4/data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine processing of expirations in SimulatedExchange
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
Due: check-non-latin-text

Fix IB options missing ^ prefix on index underlying symbols
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
Due: check-non-latin-text

Fix GreeksCalculator to use index price for index instruments
  RELEASES.md
  nautilus_trader/model/greeks.pyx
Due: check-non-latin-text

Fix spurious tick size warnings for IB index subscriptions
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
Due: check-non-latin-text

Fix Tardis deltas snapshot boundaries with CLEAR (#3530)
  crates/adapters/tardis/src/csv/stream.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine processing of expirations in SimulatedExchange (#3538)
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
Due: check-non-latin-text

Fix IB options missing ^ prefix on index underlying symbols (#3540)
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
Due: check-non-latin-text

Update dependencies and release notes
  .pre-commit-config.yaml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv-version
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Add expiration processing tests for SimulatedExchange
  tests/unit_tests/backtest/test_exchange_glbx.py
Due: check-non-latin-text

Fix Tardis batched delta state corruption on invalid records
  crates/adapters/tardis/src/csv/stream.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

remove release line item since should've just been part of the other PR. minor fix, no need to call out
  RELEASES.md
Due: check-non-latin-text

Fix Makefile install targets
  Makefile
Due: none

Add IB index option prefix parsing test
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
Due: check-non-latin-text

Fix clippy lints
  RELEASES.md
  crates/adapters/hyperliquid/bin/http_exec.rs
  crates/adapters/hyperliquid/src/common/builder_fee.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix BitMEX trigger_type parsing and handling
  crates/adapters/bitmex/src/common/parse.rs
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix IB spurious tick size warnings for index subscriptions (#3543)
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
Due: check-non-latin-text

Continue Architect AX adapter
  crates/adapters/architect_ax/src/common/consts.rs
  crates/adapters/architect_ax/src/common/enums.rs
  crates/adapters/architect_ax/src/common/parse.rs
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/architect_ax/src/http/client.rs
  crates/adapters/architect_ax/src/http/parse.rs
  crates/adapters/architect_ax/src/python/http.rs
  crates/adapters/architect_ax/src/python/mod.rs
  crates/adapters/architect_ax/src/python/websocket.rs
  crates/adapters/architect_ax/src/websocket/data/client.rs
  crates/adapters/architect_ax/src/websocket/data/handler.rs
  crates/adapters/architect_ax/src/websocket/messages.rs
  crates/adapters/architect_ax/src/websocket/orders/client.rs
  crates/adapters/architect_ax/src/websocket/orders/handler.rs
  crates/adapters/architect_ax/tests/websocket.rs
  crates/network/src/websocket/subscription.rs
  examples/live/architect_ax/ax_data_tester.py
  examples/live/architect_ax/ax_exec_tester.py
  nautilus_trader/adapters/architect_ax/data.py
  nautilus_trader/adapters/architect_ax/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Continue Architect AX adapter
  crates/adapters/architect_ax/README.md
  crates/adapters/architect_ax/src/common/enums.rs
  crates/adapters/architect_ax/src/common/parse.rs
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/architect_ax/src/http/client.rs
  crates/adapters/architect_ax/src/http/models.rs
  crates/adapters/architect_ax/src/http/parse.rs
  crates/adapters/architect_ax/src/http/query.rs
  crates/adapters/architect_ax/src/lib.rs
  crates/adapters/architect_ax/src/python/http.rs
  crates/adapters/architect_ax/src/websocket/messages.rs
  crates/adapters/architect_ax/src/websocket/orders/client.rs
  crates/adapters/architect_ax/src/websocket/orders/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Betfair RCM parsing for nullable fields
  nautilus_trader/adapters/betfair/parsing/rcm.py
  tests/integration_tests/adapters/betfair/test_betfair_rcm.py
Due: check-non-latin-text

Fix Deribit request trades with proper pagination
  crates/adapters/deribit/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix get_trades pagination for Dydx
  crates/adapters/dydx/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor dYdX request_trades with pagination and deduplication
  crates/adapters/dydx/bin/http_public.rs
  crates/adapters/dydx/src/data.rs
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/src/http/parse.rs
  crates/adapters/dydx/src/python/http.rs
  crates/adapters/dydx/tests/data.rs
  crates/adapters/dydx/tests/http.rs
  nautilus_trader/adapters/dydx_v4/data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Replace dYdX periodic instrument refresh with real-time WebSocket updates
  crates/adapters/dydx/src/common/instrument_cache.rs
  crates/adapters/dydx/src/config.rs
  crates/adapters/dydx/src/data.rs
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/src/python/http.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/dydx/src/websocket/enums.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/messages.rs
  nautilus_trader/adapters/dydx_v4/config.py
  nautilus_trader/adapters/dydx_v4/data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
