Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Add IB TotalCashValue to account summary info dict (#3567)
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/execution.py
  tests/integration_tests/adapters/interactive_brokers/resources/responses/account_values.json
Due: check-non-latin-text

Update dependencies and release notes
  .pre-commit-config.yaml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv-version
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix blockchain reporting module registration
  crates/adapters/blockchain/src/lib.rs
  crates/adapters/blockchain/src/reporting.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Respect requested book type for AX book delta subscriptions
  crates/adapters/architect_ax/src/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Serialize AX market data request IDs as rid
  crates/adapters/architect_ax/src/websocket/messages.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reject AX cancel requests when venue order ID is unknown
  crates/adapters/architect_ax/src/websocket/orders/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clean AX order tracking maps on successful terminal flows
  crates/adapters/architect_ax/src/websocket/orders/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Default AX Rust data config to sandbox and add config tests
  crates/adapters/architect_ax/src/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Correct AX docs to mark order modification unsupported
  docs/integrations/architect_ax.md
Due: check-non-latin-text

Cache parsed instrument in AX ws_data demo before subscriptions
  crates/adapters/architect_ax/bin/ws_data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden model crate validation and order book integrity
  crates/model/src/accounts/base.rs
  crates/model/src/accounts/margin.rs
  crates/model/src/orderbook/book.rs
  crates/model/src/position.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement backtest engine in Rust
  Cargo.lock
  crates/backtest/Cargo.toml
  crates/backtest/src/data_client.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/typed_router.rs
  crates/execution/src/matching_engine/engine.rs
  crates/system/src/trader.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove redundant mapping tests from AX data client PR
  crates/adapters/architect_ax/src/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Tardis Deribit OrderBook integration tests
  Cargo.lock
  crates/adapters/tardis/Cargo.toml
  crates/adapters/tardis/src/csv/load.rs
  crates/model/Cargo.toml
  crates/model/tests/orderbook_integration.rs
  crates/testkit/src/common.rs
  docs/developer_guide/test_datasets.md
  tests/test_data/large/checksums.json
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve BitMEX adapter reliability and documentation
  crates/adapters/bitmex/src/data.rs
  crates/adapters/bitmex/src/execution.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/bitmex/src/websocket/handler.rs
  crates/adapters/bitmex/src/websocket/messages.rs
  crates/adapters/bitmex/src/websocket/parse.rs
  crates/model/tests/orderbook_integration.rs
  docs/integrations/bitmex.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Architect AX adapter and docs
  crates/adapters/architect_ax/src/common/parse.rs
  crates/adapters/architect_ax/src/data.rs
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/architect_ax/src/http/client.rs
  crates/adapters/architect_ax/src/http/models.rs
  crates/adapters/architect_ax/src/http/parse.rs
  crates/adapters/architect_ax/src/http/query.rs
  crates/adapters/architect_ax/src/python/http.rs
  crates/adapters/architect_ax/src/websocket/data/client.rs
  crates/adapters/architect_ax/src/websocket/data/handler.rs
  crates/adapters/architect_ax/src/websocket/data/parse.rs
  crates/adapters/architect_ax/src/websocket/orders/client.rs
  crates/adapters/architect_ax/src/websocket/orders/handler.rs
  crates/adapters/architect_ax/test_data/http_get_book.json
  crates/adapters/architect_ax/test_data/http_get_order_status.json
  crates/adapters/architect_ax/test_data/http_get_orders.json
  crates/adapters/architect_ax/test_data/http_get_trades.json
  crates/adapters/architect_ax/test_data/http_initial_margin_requirement.json
  docs/integrations/architect_ax.md
  examples/live/architect_ax/ax_data_tester.py
  nautilus_trader/adapters/architect_ax/data.py
  nautilus_trader/adapters/architect_ax/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align AX order cancel tests with venue-order-id requirement
  crates/adapters/architect_ax/src/websocket/orders/handler.rs
  crates/adapters/architect_ax/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix backtest engine command queue starvation
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/tests/backtest_engine.rs
  docs/concepts/backtesting.md
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  tests/acceptance_tests/test_backtest.py
  tests/unit_tests/backtest/test_exchange_margin.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement backtest engine in Rust
  Cargo.lock
  crates/analysis/src/analyzer.rs
  crates/backtest/Cargo.toml
  crates/backtest/examples/ema_cross.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/lib.rs
  crates/trading/Cargo.toml
  crates/trading/src/examples/mod.rs
  crates/trading/src/examples/strategies/ema_cross.rs
  crates/trading/src/examples/strategies/mod.rs
  crates/trading/src/lib.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Move OrderBook integration test to testkit crate
  Cargo.lock
  crates/model/Cargo.toml
  crates/testkit/Cargo.toml
  crates/testkit/tests/orderbook_integration.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add NASDAQ ITCH AAPL L3 dataset and integration test
  .gitignore
  crates/testkit/src/common.rs
  crates/testkit/src/files.rs
  crates/testkit/src/itch/parse.rs
  crates/testkit/tests/orderbook_integration.rs
  docs/developer_guide/test_datasets.md
  tests/test_data/large/checksums.json
  tests/test_data/large/itch_AAPL.XNAS_2019-01-30_deltas.metadata.json
  tests/test_data/large/tardis_BTC-PERPETUAL.DERIBIT_2020-04-01_deltas.metadata.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Interactive Brokers contract details for FESX futures
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
Due: check-non-latin-text

fix(okx): fallback error message to sMsg/sCode when msg is empty
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix AX order tests to satisfy pre-commit conventions
  crates/adapters/architect_ax/src/websocket/orders/client.rs
  crates/adapters/architect_ax/src/websocket/orders/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Interactive Brokers contract details for FESX futures (#3575)
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
Due: check-non-latin-text

fix: correct min->max DTE clamping in greeks calculator
  nautilus_trader/model/greeks.pyx
  tests/unit_tests/risk/test_greeks_calculator.py
Due: check-non-latin-text

fix: use clock time when ts_event defaults to 0
  nautilus_trader/model/greeks.pyx
  tests/unit_tests/risk/test_greeks_calculator.py
Due: check-non-latin-text

Improve Architect AX WebSocket data and order handling (#3577)
  crates/adapters/architect_ax/bin/ws_data.rs
  crates/adapters/architect_ax/src/data.rs
  crates/adapters/architect_ax/src/websocket/messages.rs
  crates/adapters/architect_ax/src/websocket/orders/client.rs
  crates/adapters/architect_ax/src/websocket/orders/handler.rs
  crates/adapters/architect_ax/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OKX HTTP error messages missing rejection reason details (#3580)
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  .supply-chain/config.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/architect_ax/src/websocket/orders/handler.rs
  deny.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Architect AX terminal order cleanup and messages
  crates/adapters/architect_ax/src/websocket/data/handler.rs
  crates/adapters/architect_ax/src/websocket/messages.rs
  crates/adapters/architect_ax/src/websocket/orders/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix account balance rounding mismatch for zero-precision currencies
  RELEASES.md
  nautilus_trader/adapters/betfair/parsing/requests.py
  nautilus_trader/adapters/binance/futures/schemas/account.py
  nautilus_trader/adapters/binance/futures/schemas/user.py
  nautilus_trader/adapters/binance/spot/schemas/account.py
  nautilus_trader/adapters/binance/spot/schemas/user.py
  nautilus_trader/adapters/interactive_brokers/execution.py
Due: check-non-latin-text

Implement backtest engine in Rust
  crates/adapters/sandbox/src/execution.rs
  crates/backtest/examples/ema_cross.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/tests/backtest_engine.rs
  crates/execution/src/matching_engine/adapter.rs
  crates/execution/src/matching_engine/config.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/models/fill.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add grid market maker example strategy in Rust
  Cargo.lock
  RELEASES.md
  crates/backtest/Cargo.toml
  crates/backtest/tests/backtest_engine.rs
  crates/backtest/tests/grid_mm.rs
  crates/system/src/trader.rs
  crates/testkit/src/testers/exec.rs
  crates/trading/Cargo.toml
  crates/trading/src/examples/strategies/ema_cross.rs
  crates/trading/src/examples/strategies/grid_mm.rs
  crates/trading/src/examples/strategies/mod.rs
  crates/trading/src/python/strategy.rs
  crates/trading/src/strategy/core.rs
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
