Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

binance: harden spot auto/json path and python config parity
  crates/adapters/binance/src/python/config.rs
  crates/adapters/binance/src/spot/data.rs
  crates/adapters/binance/src/spot/websocket/public_json/client.rs
  crates/adapters/binance/src/spot/websocket/public_json/handler.rs
  crates/adapters/binance/src/spot/websocket/public_json/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

binance: add spot public JSON lifecycle regression tests
  crates/adapters/binance/src/spot/websocket/public_json/client.rs
  crates/adapters/binance/src/spot/websocket/public_json/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix blank line before if in core_streams had_connection guard
  crates/adapters/interactive_brokers/src/data/core_streams.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Config timeout default docs: - Correct `NautilusKernelConfig`'s `timeout_connection` default in the docstring - Resolves #4179
  RELEASES.md
  nautilus_trader/system/config.py
Due: check-non-latin-text

binance: harden spot mode config parity and json ws lifecycle
  crates/adapters/binance/src/config.rs
  crates/adapters/binance/src/python/config.rs
  crates/adapters/binance/src/python/mod.rs
  crates/adapters/binance/src/spot/data.rs
  crates/adapters/binance/src/spot/websocket/public_json/client.rs
  crates/adapters/binance/src/spot/websocket/public_json/handler.rs
  nautilus_trader/adapters/binance/__init__.py
  nautilus_trader/adapters/binance/common/enums.py
  nautilus_trader/adapters/binance/config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

binance: parse spot bookTicker from real stream payload
  crates/adapters/binance/src/spot/websocket/public_json/handler.rs
  crates/adapters/binance/src/spot/websocket/public_json/messages.rs
  crates/adapters/binance/src/spot/websocket/public_json/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

binance: prevent spot auto json fallback from using sbe ws override
  crates/adapters/binance/src/spot/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance Futures symbol format in execution.rs (11 places)
  crates/adapters/binance/src/futures/execution.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add UnixNanos unit methods
  crates/core/src/nanos.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Hyperliquid negative balance totals
  RELEASES.md
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/test_data/http_clearinghouse_state_negative_total_raw_usd.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Coinbase Python v2 factories
  RELEASES.md
  crates/adapters/coinbase/Cargo.toml
  crates/adapters/coinbase/src/python/factories.rs
  crates/adapters/coinbase/src/python/mod.rs
  crates/adapters/coinbase/tests/python.rs
  python/examples/coinbase/__init__.py
  python/examples/coinbase/data_tester.py
  python/examples/coinbase/exec_tester.py
  python/nautilus_trader/adapters/coinbase/__init__.py
  python/nautilus_trader/adapters/coinbase/__init__.pyi
  python/tests/unit/adapters/coinbase/test_v2_factories.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve derive and lighter configs
  crates/adapters/derive/src/common/enums.rs
  crates/adapters/derive/src/config.rs
  crates/adapters/lighter/src/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add adapter Python v2 factory tests
  crates/adapters/derive/Cargo.toml
  crates/adapters/derive/tests/python.rs
  crates/adapters/lighter/Cargo.toml
  crates/adapters/lighter/tests/python.rs
  crates/adapters/okx/Cargo.toml
  crates/adapters/okx/src/python/mod.rs
  crates/adapters/okx/tests/python.rs
  python/examples/okx/__init__.py
  python/examples/okx/data_tester.py
  python/examples/okx/exec_tester.py
  python/nautilus_trader/adapters/okx/__init__.pyi
  python/nautilus_trader/okx/__init__.pyi
  python/tests/unit/adapters/derive/test_derive_v2_factories.py
  python/tests/unit/adapters/example_modules.py
  python/tests/unit/adapters/lighter/test_lighter_v2_factories.py
  python/tests/unit/adapters/okx/test_okx_v2_factories.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align Derive and Lighter configs with the workspace convention (#4183)
  crates/adapters/derive/src/common/enums.rs
  crates/adapters/derive/src/config.rs
  crates/adapters/lighter/src/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add backtest result summary in Rust
  crates/backtest/src/engine.rs
  crates/backtest/src/python/result.rs
  crates/backtest/src/result.rs
  crates/backtest/tests/backtest_engine.rs
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/results.py
  python/nautilus_trader/backtest/__init__.pyi
  python/tests/acceptance/test_backtest.py
  tests/acceptance_tests/test_backtest.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

polymarket: shorten resolve watch lock critical section
  crates/adapters/polymarket/src/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add backtest parity smoke test for v2
  crates/backtest/src/engine.rs
  python/tests/acceptance/test_backtest.py
  tests/acceptance_tests/test_backtest.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize kernel connection timeout default
  RELEASES.md
  crates/live/src/config.rs
  crates/system/src/config.rs
  docs/how_to/configure_live_trading.md
  nautilus_trader/system/config.py
  python/tests/unit/backtest/test_backtest_configs.py
  python/tests/unit/live/test_live_configs.py
  tests/unit_tests/config/test_common.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Portfolio multi-currency limit debits in Rust
  crates/portfolio/src/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine docs version pin guidance
  docs/developer_guide/environment_setup.md
  docs/getting_started/installation.md
Due: check-non-latin-text

Refine adapter fuzz and bench tooling
  crates/adapters/derive/fuzz/README.md
  crates/adapters/derive/fuzz/grind.sh
  crates/adapters/lighter/README.md
  crates/adapters/lighter/benches/common/mod.rs
  crates/adapters/lighter/fuzz/README.md
  docs/developer_guide/environment_setup.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align backtest snapshot position totals in Rust
  crates/backtest/src/engine.rs
  crates/backtest/tests/backtest_engine.rs
  python/tests/acceptance/test_backtest.py
  tests/acceptance_tests/test_backtest.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix dYdX Python factory smoke credentials
  crates/adapters/dydx/tests/python.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix adapter Python factory smoke credentials
  python/tests/unit/adapters/betfair/test_betfair_factories.py
  python/tests/unit/adapters/polymarket/test_polymarket_factories.py
Due: check-non-latin-text

polymarket: add CLOB resolve fallback fixtures and tighten resolve stats
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/http/clob.rs
  crates/adapters/polymarket/src/http/models.rs
  crates/adapters/polymarket/test_data/clob_market_closed_binary_accepting_false.json
  crates/adapters/polymarket/test_data/clob_market_closed_binary_accepting_true.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket POLY_1271 signing support
  RELEASES.md
  crates/adapters/polymarket/src/common/enums.rs
  crates/adapters/polymarket/src/execution/mod.rs
  crates/adapters/polymarket/src/execution/order_builder.rs
  crates/adapters/polymarket/src/signing/eip712.rs
  crates/adapters/polymarket/tests/exec_client.rs
  docs/integrations/polymarket.md
  nautilus_trader/adapters/polymarket/common/enums.py
  python/nautilus_trader/polymarket/__init__.pyi
  python/tests/unit/adapters/polymarket/test_polymarket_factories.py
  tests/integration_tests/adapters/polymarket/test_parsing.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Lighter position snapshot reconciliation
  crates/adapters/lighter/src/execution.rs
  crates/adapters/lighter/src/websocket/dispatch.rs
  crates/adapters/lighter/tests/exec_client.rs
  docs/integrations/lighter.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

WIP: harden polymarket new_market backpressure and condition-aware fetch
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/websocket/client.rs
  crates/adapters/polymarket/src/websocket/messages.rs
  crates/adapters/polymarket/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

binance spot: make mode explicit and harden ws parsing
  crates/adapters/binance/src/config.rs
  crates/adapters/binance/src/spot/data.rs
  crates/adapters/binance/src/spot/websocket/public_json/handler.rs
  crates/adapters/binance/src/spot/websocket/public_json/parse.rs
  crates/adapters/binance/src/spot/websocket/streams/handler.rs
  nautilus_trader/adapters/binance/common/enums.py
  nautilus_trader/adapters/binance/config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add missing PortfolioStatistic trait methods returning None (#4174)
  RELEASES.md
  crates/analysis/src/statistics/cagr.rs
  crates/analysis/src/statistics/calmar_ratio.rs
  crates/analysis/src/statistics/max_drawdown.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add adapter fuzz supply chain checks
  .cargo/deny-fuzz.toml
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/security-audit.yml
  .supply-chain/config.toml
  Makefile
  scripts/ci/security-audit-gate.sh
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix Tardis option replay catalog writes
  crates/adapters/tardis/src/replay.rs
  crates/adapters/tardis/test_data/option_book_snapshot.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Backtest option chain docs
  docs/concepts/greeks.md
  docs/concepts/options.md
  docs/integrations/tardis.md
Due: check-non-latin-text

Add option chain delta-based strike selection
  RELEASES.md
  crates/data/src/option_chains/aggregator.rs
  crates/model/src/data/option_chain.rs
  crates/model/src/python/data/option_chain.rs
  docs/concepts/options.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Backtest option chain cleanup
  crates/backtest/examples/tardis_option_chain.rs
  crates/backtest/tests/option_chain_backtest.rs
  crates/data/src/option_chains/aggregator.rs
  crates/execution/src/models/fee.rs
  examples/backtest/tardis_option_chain.py
  python/nautilus_trader/execution/__init__.pyi
  python/nautilus_trader/model/__init__.pyi
  python/tests/unit/backtest/test_tardis_option_chain_example.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Backtest option chain examples
  crates/backtest/Cargo.toml
  crates/backtest/examples/tardis_option_chain.rs
  docs/concepts/greeks.md
  docs/concepts/options.md
  docs/integrations/tardis.md
  examples/backtest/tardis_option_chain.py
  python/tests/unit/backtest/test_tardis_option_chain_example.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add option chain backtest replay tests
  crates/backtest/tests/option_chain_backtest.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Backtest option matching tests
  crates/backtest/tests/exchange.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
