Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Change requests applied
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/websocket/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Implement Hyperliquid DataClient in Rust (#2999)
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/websocket/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/blockchain/Cargo.toml
  pyproject.toml
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve handling of live node run_async task reference
  nautilus_trader/live/node.py
Due: none

Improve CI test data caching
  .github/actions/common-test-data/action.yml
Due: none

Fix clippy lints
  Makefile
  crates/adapters/bitmex/tests/http.rs
  crates/adapters/bitmex/tests/websocket.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/websocket/post.rs
  crates/adapters/okx/tests/websocket.rs
  crates/cli/src/blockchain/analyze.rs
  crates/cli/src/blockchain/sync.rs
  crates/model/src/orderbook/level.rs
  crates/model/src/orderbook/tests.rs
Due: fmt, cargo-clippy, cargo-doc

Refine defi pool analysis database ops
  crates/adapters/blockchain/src/cache/copy.rs
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/rows.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/pool_analysis/tests.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize quote quantity support across adapters
  docs/integrations/binance.md
  docs/integrations/bitmex.md
  docs/integrations/bybit.md
  docs/integrations/dydx.md
  docs/integrations/okx.md
  docs/integrations/polymarket.md
  nautilus_trader/adapters/betfair/execution.py
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/adapters/coinbase_intx/execution.py
  nautilus_trader/adapters/dydx/execution.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  tests/integration_tests/adapters/binance/test_execution_futures.py
  tests/integration_tests/adapters/bitmex/test_execution.py
Due: none

Implement Bybit error handling and integration tests in Rust
  crates/adapters/bybit/src/config.rs
  crates/adapters/bybit/src/data/mod.rs
  crates/adapters/bybit/src/error.rs
  crates/adapters/bybit/src/execution/mod.rs
  crates/adapters/bybit/src/lib.rs
  crates/adapters/bybit/tests/http.rs
  crates/adapters/bybit/tests/websocket.rs
Due: fmt, cargo-clippy, cargo-doc

Implement live execution channels for AsyncRunner in Rust
  Cargo.lock
  crates/adapters/bitmex/Cargo.toml
  crates/adapters/bitmex/src/execution/mod.rs
  crates/adapters/okx/Cargo.toml
  crates/adapters/okx/src/execution/mod.rs
  crates/common/src/messages/execution/mod.rs
  crates/common/src/messages/mod.rs
  crates/common/src/runner.rs
  crates/execution/src/client/base.rs
  crates/live/src/execution.rs
  crates/live/src/runner.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve execution reconciliation and fix race conditions
  docs/concepts/live.md
  nautilus_trader/live/config.py
  nautilus_trader/live/execution_engine.py
  tests/integration_tests/live/test_live_reconciliation.py
  tests/unit_tests/live/test_execution_order_checks.py
  tests/unit_tests/live/test_execution_recon.py
Due: none

Fix flaky clock tests using wait_until
  crates/common/src/clock.rs
Due: fmt, cargo-clippy, cargo-doc

Fix position purge logic to prevent purging re-opened position
  RELEASES.md
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  nautilus_trader/cache/cache.pyx
  tests/unit_tests/cache/test_execution.py
Due: fmt, cargo-clippy, cargo-doc

Fix IB historical bars resubscription failure after connection loss
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
Due: none

Implement ExecutionClient in Python
  nautilus_trader/adapters/hyperliquid/execution.py
Due: none

Refine Polymarket integration guide and docstrings
  docs/integrations/polymarket.md
  examples/live/polymarket/polymarket_exec_tester.py
  nautilus_trader/adapters/polymarket/config.py
Due: none

Refactor: pop start_ns so reconnect logic will just use recent bars
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
Due: none

Fix reconciliation bugs and improve error handling
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_engine.py
Due: none

Change requests applied
  nautilus_trader/adapters/hyperliquid/execution.py
Due: none

Fix IB historical bars resubscription failure after connection loss (#3002)
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
Due: none

Implement Hyperliquid ExecutionClient in Python (#3003)
  nautilus_trader/adapters/hyperliquid/execution.py
Due: none

Update Polymarket integration guide with precision limits
  docs/integrations/polymarket.md
Due: none

Fix CI race condition with nautilus-cli install on nightly
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/performance.yml
  Makefile
  scripts/ci/install-nautilus-cli.sh
Due: none

Refine make pytest to avoid verbose by default
  Makefile
Due: none

Fix overflow in build time calculation
  nautilus_trader/system/kernel.py
Due: none

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  Makefile
  RELEASES.md
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Continue BybitHttpClient in Rust
  Cargo.lock
  crates/adapters/bybit/Cargo.toml
  crates/adapters/bybit/bin/http.rs
  crates/adapters/bybit/src/error.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/error.rs
  crates/adapters/bybit/src/http/mod.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/http/parse.rs
  crates/adapters/bybit/src/http/query.rs
  crates/adapters/bybit/test_data/http_get_klines_linear.json
  crates/adapters/bybit/tests/http.rs
  docs/developer_guide/adapters.md
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix empty book snapshot crash and delta buffering metadata
  crates/data/src/engine/mod.rs
  crates/model/src/orderbook/tests.rs
  nautilus_trader/adapters/polymarket/config.py
  nautilus_trader/adapters/polymarket/data.py
  nautilus_trader/adapters/polymarket/schemas/book.py
  tests/integration_tests/adapters/polymarket/test_parsing.py
Due: fmt, cargo-clippy, cargo-doc

Improve TimeEvent PartialEq/Ord contract
  crates/common/src/clock.rs
  crates/common/src/ffi/clock.rs
  crates/common/src/ffi/timer.rs
  crates/common/src/python/timer.rs
  crates/common/src/timer.rs
  crates/data/src/engine/mod.rs
  nautilus_trader/core/includes/common.h
  nautilus_trader/core/rust/common.pxd
Due: fmt, cargo-clippy, cargo-doc

Fix AccountState Arrow serialization
  RELEASES.md
  nautilus_trader/serialization/arrow/implementations/account_state.py
  tests/unit_tests/serialization/test_arrow.py
Due: none

Refine Binance live example scripts
  examples/live/binance/binance_futures_market_maker.py
  examples/live/binance/binance_futures_testnet_ema_cross.py
  examples/live/binance/binance_futures_testnet_ema_cross_bracket.py
  examples/live/binance/binance_futures_testnet_ema_cross_bracket_algo.py
  examples/live/binance/binance_futures_testnet_ema_cross_hedge_mode.py
  examples/live/binance/binance_futures_testnet_ema_cross_twap.py
  examples/live/binance/binance_futures_testnet_ema_cross_with_trailing_stop.py
  examples/live/binance/binance_futures_testnet_exec_tester.py
  examples/live/binance/binance_spot_exec_tester.py
  examples/live/binance/binance_spot_testnet_exec_tester.py
Due: none

Continue BybitHttpClient in Rust
  crates/adapters/bybit/bin/http.rs
  crates/adapters/bybit/src/common/enums.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/src/python/mod.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/bybit/tests/http.rs
Due: fmt, cargo-clippy, cargo-doc

Refine integration guides
  docs/integrations/betfair.md
  docs/integrations/binance.md
  docs/integrations/bybit.md
  docs/integrations/coinbase_intx.md
  docs/integrations/dydx.md
  docs/integrations/okx.md
  docs/integrations/polymarket.md
  docs/integrations/tardis.md
Due: none

Refine markdown formatting and linting
  .github/ISSUE_TEMPLATE/rfc.md
  .markdownlint.jsonc
  crates/infrastructure/TESTS.md
  docs/concepts/backtesting.md
  docs/developer_guide/ffi.md
  docs/integrations/bybit.md
  docs/integrations/ib.md
  docs/integrations/okx.md
  examples/live/bybit/README_options_data_collector.md
  python/README.md
Due: none

Continue BybitHttpClient and PyO3 interface in Rust
  crates/adapters/bybit/src/common/enums.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/src/python/mod.rs
  crates/adapters/bybit/test_data/http_get_executions.json
  crates/adapters/bybit/test_data/http_get_fee_rate.json
  crates/adapters/bybit/test_data/http_get_positions.json
  docs/developer_guide/adapters.md
Due: fmt, cargo-clippy, cargo-doc

Improve defi domain model PyO3 interface
  crates/model/src/python/defi/data.rs
  crates/model/src/python/defi/types.rs
  crates/model/src/python/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Add defi PoolProfiler PyO3 interface and cache access
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/common/src/python/cache.rs
  crates/model/src/defi/mod.rs
  crates/model/src/defi/pool_analysis/mod.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/python/defi/mod.rs
  crates/model/src/python/defi/profiler.rs
  crates/model/src/python/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Add fs_rust_storage_options to Python catalog
  nautilus_trader/persistence/catalog/parquet.py
Due: none

remove tick validaiton in collect processing for pool profiler
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/pool_analysis/tests.rs
Due: fmt, cargo-clippy, cargo-doc
