Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Repair data event sending from blockchain adapter
  crates/adapters/blockchain/src/data/client.rs
  crates/adapters/blockchain/src/data/core.rs
Due: fmt, cargo-clippy, cargo-doc

Repair blockchain setup for CLI
  Makefile
  crates/adapters/blockchain/Cargo.toml
  crates/adapters/blockchain/src/data/client.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/cli/src/blockchain/sync.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine update_order locked balance calculations
  crates/portfolio/src/manager.rs
  nautilus_trader/accounting/manager.pyx
  tests/unit_tests/accounting/test_cash.py
  tests/unit_tests/accounting/test_cash_pyo3.py
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix bars query for IBKR indices
  nautilus_trader/persistence/catalog/parquet.py
Due: none

Refine adapter websockets reconnect handling for Rust flows
  crates/adapters/bitmex/bin/ws-exec.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/bitmex/src/websocket/messages.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/network/src/lib.rs
  crates/network/src/python/websocket.rs
  crates/network/src/websocket.rs
  examples/live/okx/okx_data_tester.py
Due: fmt, cargo-clippy, cargo-doc

Add test coverage for BetfairStreamClient message processing
  tests/integration_tests/adapters/betfair/test_betfair_sockets.py
Due: none

Improve DEX struct, integrate event hashing logic encoding
  Cargo.lock
  crates/model/Cargo.toml
  crates/model/src/defi/dex.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add PoolFeeCollect struct for DEX fee collection events
  crates/adapters/blockchain/src/rpc/types.rs
  crates/common/src/actor/tests.rs
  crates/common/src/cache/tests.rs
  crates/common/src/msgbus/switchboard.rs
  crates/common/src/python/actor.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/engine.rs
  crates/model/src/defi/amm.rs
  crates/model/src/defi/data/collect.rs
  crates/model/src/defi/data/mod.rs
  crates/model/src/python/defi/types.rs
Due: fmt, cargo-clippy, cargo-doc

PSQL schema improvements and added new table pool_collect_event
  schema/sql/tables.sql
Due: none

Improve hypersync client
  crates/adapters/blockchain/src/hypersync/client.rs
  crates/adapters/blockchain/src/hypersync/helpers.rs
Due: fmt, cargo-clippy, cargo-doc

Add `analyze-pool` CLI command for DEX pool analysis
  crates/cli/src/blockchain/analyze.rs
  crates/cli/src/blockchain/mod.rs
  crates/cli/src/lib.rs
  crates/cli/src/opt.rs
Due: fmt, cargo-clippy, cargo-doc

Make a factory field as an address in Dex struct
  crates/common/src/python/actor.rs
  crates/model/src/defi/dex.rs
  crates/model/src/python/defi/types.rs
Due: fmt, cargo-clippy, cargo-doc

Enhance BlockchainSyncReporter metrics tracking
  crates/adapters/blockchain/src/reporting.rs
Due: fmt, cargo-clippy, cargo-doc

Refactor and improve BlockchainCoreClient
  crates/adapters/blockchain/src/data/client.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/data/subscription.rs
Due: fmt, cargo-clippy, cargo-doc

Improve blockchain exchange parsing architecture
  crates/adapters/blockchain/src/exchanges/arbitrum/fluid.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/pancakeswap_v3.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/sushiswap_v2.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/sushiswap_v3.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/uniswap_v4.rs
  crates/adapters/blockchain/src/exchanges/base/aerodrome_slipstream.rs
  crates/adapters/blockchain/src/exchanges/base/aerodrome_v1.rs
  crates/adapters/blockchain/src/exchanges/base/baseswap_v2.rs
  crates/adapters/blockchain/src/exchanges/base/basex.rs
  crates/adapters/blockchain/src/exchanges/base/maverick_v1.rs
  crates/adapters/blockchain/src/exchanges/base/maverick_v2.rs
  crates/adapters/blockchain/src/exchanges/base/pancakeswap_v3.rs
  crates/adapters/blockchain/src/exchanges/base/sushiswap_v3.rs
  crates/adapters/blockchain/src/exchanges/base/uniswap_v2.rs
  crates/adapters/blockchain/src/exchanges/base/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/base/uniswap_v4.rs
  crates/adapters/blockchain/src/exchanges/ethereum/balancer_v2.rs
  crates/adapters/blockchain/src/exchanges/ethereum/balancer_v3.rs
  crates/adapters/blockchain/src/exchanges/ethereum/curve_finance.rs
  crates/adapters/blockchain/src/exchanges/ethereum/fluid.rs
  crates/adapters/blockchain/src/exchanges/ethereum/maverick_v2.rs
  crates/adapters/blockchain/src/exchanges/ethereum/pancakeswap_v3.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v2.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v4.rs
  crates/adapters/blockchain/src/exchanges/extended.rs
  crates/adapters/blockchain/src/exchanges/mod.rs
  crates/adapters/blockchain/src/exchanges/parsing/mod.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/burn.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/collect.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/initialize.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/mint.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/mod.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/pool_created.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/swap.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/trade_data.rs
Due: fmt, cargo-clippy, cargo-doc

Refactor cache database initialization in BlockchainCoreClient
  crates/adapters/blockchain/src/data/client.rs
  crates/adapters/blockchain/src/data/core.rs
Due: fmt, cargo-clippy, cargo-doc

Add batch processing and COPY optimizations for pool events in cache and database
  crates/adapters/blockchain/src/cache/copy.rs
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Add InitializeEvent and CollectEvent structs for DEX pool events
  crates/adapters/blockchain/src/events/collect.rs
  crates/adapters/blockchain/src/events/initialize.rs
  crates/adapters/blockchain/src/events/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Fix linting issues
  nautilus_trader/persistence/catalog/parquet.py
Due: none

Improve Rust builds and feature testing in CI
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  .github/workflows/cli-binaries.yml
Due: none

Fix bars query for IBKR indices (#2921)
  nautilus_trader/persistence/catalog/parquet.py
Due: none

Fix precision preservation for value types
  RELEASES.md
  crates/model/src/types/money.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
  crates/risk/src/engine/tests.rs
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/rust/model.pxd
  nautilus_trader/model/objects.pyx
  tests/unit_tests/model/objects/test_money.py
  tests/unit_tests/model/objects/test_price.py
  tests/unit_tests/model/objects/test_quantity.py
  tests/unit_tests/model/test_instrument.py
Due: fmt, cargo-clippy, cargo-doc

Continue BitMEX adapter execution
  crates/adapters/bitmex/bin/order.rs
  crates/adapters/bitmex/src/common/enums.rs
  crates/adapters/bitmex/src/common/parse.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/http/models.rs
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/http/query.rs
  crates/adapters/bitmex/src/python/http.rs
  crates/adapters/bitmex/src/websocket/messages.rs
  crates/adapters/bitmex/src/websocket/parse.rs
  examples/live/bitmex/bitmex_exec_tester.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: fmt, cargo-clippy, cargo-doc

Fix event signature handling in blockchain subscription manager
  crates/adapters/blockchain/src/data/subscription.rs
  crates/adapters/blockchain/src/hypersync/helpers.rs
Due: fmt, cargo-clippy, cargo-doc

for test
  .augment/rules/rule.md
  .gitignore
Due: none

Fix Binance US trading fee endpoint URL
  RELEASES.md
  nautilus_trader/adapters/binance/spot/http/wallet.py
  tests/integration_tests/adapters/binance/test_http_wallet.py
Due: none

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
