Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Update dependencies and release notes
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  python/pyproject.toml
  python/uv.lock
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Small improvement.
  docs/concepts/data.md
Due: none

Add accounting and portfolio tests
  tests/unit_tests/accounting/test_cash.py
  tests/unit_tests/accounting/test_margin.py
  tests/unit_tests/portfolio/conftest.py
  tests/unit_tests/portfolio/test_portfolio_extensions.py
  tests/unit_tests/portfolio/test_portfolio_margin_call.py
  tests/unit_tests/portfolio/test_portfolio_snapshots.py
Due: none

Remove redundant lock aquisition test
  crates/adapters/databento/src/decode.rs
Due: fmt, cargo-clippy, cargo-doc

Fix portfolio realized PnL calculations with snapshots
  nautilus_trader/portfolio/portfolio.pxd
  nautilus_trader/portfolio/portfolio.pyx
Due: none

MACD Threshold sensitivity tweak
  docs/getting_started/quickstart.ipynb
  tests/acceptance_tests/test_blackbox.py
Due: none

Fix Bybit positions pagination to handle more than 20 positions
  nautilus_trader/adapters/bybit/http/account.py
  nautilus_trader/adapters/bybit/schemas/position.py
Due: none

修改
  .augment/rules/rule.md
  FREQTRADE_COMPATIBILITY.md
  nautilus_hyperopt.py
  nautilus_hyperopt_example.py
Due: none

Fix MACD strategy test: correct expected values and add missing _limit_order attribute
  tests/acceptance_tests/test_blackbox.py
Due: none

fix: return zero PnL instead of None when exchange rate missing
  crates/portfolio/src/portfolio.rs
  crates/portfolio/src/tests.rs
Due: fmt, cargo-clippy, cargo-doc

Refine subscribe_historical_bars in IB adapter
  examples/live/interactive_brokers/notebooks/run_ratio_spread_1x2_qty3.py
  examples/live/interactive_brokers/notebooks/with_databento_instrument_id.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/config.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/factories.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_market_data.py
Due: none

Standardize zero PnL as Money instead of None when exchange rate missing (#2880)
  crates/portfolio/src/portfolio.rs
  crates/portfolio/src/tests.rs
Due: fmt, cargo-clippy, cargo-doc

Add a complete .env.example template to guide environment config (#2877)
  .env.example
  docs/concepts/data.md
Due: none

Refine subscribe_historical_bars in IB adapter (#2870)
  examples/live/interactive_brokers/notebooks/run_ratio_spread_1x2_qty3.py
  examples/live/interactive_brokers/notebooks/with_databento_instrument_id.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/config.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/factories.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_market_data.py
Due: none

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Standardize and refine crate docs
  RELEASES.md
  crates/adapters/bitmex/README.md
  crates/adapters/bitmex/src/lib.rs
  crates/adapters/blockchain/README.md
  crates/adapters/blockchain/src/lib.rs
  crates/adapters/coinbase_intx/README.md
  crates/adapters/coinbase_intx/src/lib.rs
  crates/adapters/databento/README.md
  crates/adapters/databento/src/lib.rs
  crates/adapters/hyperliquid/README.md
  crates/adapters/hyperliquid/src/lib.rs
  crates/adapters/okx/README.md
  crates/adapters/okx/src/lib.rs
  crates/adapters/tardis/README.md
  crates/adapters/tardis/src/lib.rs
  crates/analysis/README.md
  crates/backtest/README.md
  crates/cli/README.md
  crates/cli/src/lib.rs
  crates/data/README.md
  crates/indicators/README.md
  crates/infrastructure/README.md
  crates/model/README.md
  crates/model/src/lib.rs
  crates/pyo3/src/lib.rs
  crates/risk/README.md
  crates/risk/src/lib.rs
  crates/serialization/README.md
  crates/serialization/src/lib.rs
  crates/trading/src/lib.rs
  docs/developer_guide/rust.md
Due: fmt, cargo-clippy, cargo-doc

Refine docs
  crates/analysis/README.md
  crates/data/README.md
  docs/concepts/strategies.md
  examples/backtest/example_04_using_data_catalog/README.md
  examples/live/bybit/README_options_data_collector.md
Due: none

Prune unnecessary crate dependencies
  Cargo.lock
  crates/adapters/bitmex/Cargo.toml
  crates/analysis/Cargo.toml
  crates/analysis/src/lib.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Replace some test sleeps with condition-based waits
  crates/infrastructure/tests/test_cache_redis.rs
  crates/infrastructure/tests/test_redis_queries.rs
  tests/unit_tests/live/test_data_client.py
  tests/unit_tests/live/test_data_engine.py
  tests/unit_tests/live/test_enqueue.py
  tests/unit_tests/live/test_execution_client.py
  tests/unit_tests/live/test_execution_engine.py
Due: fmt, cargo-clippy, cargo-doc

Refine OKX adapter parsing
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/client.rs
Due: fmt, cargo-clippy, cargo-doc

Implement GTD testing support for ExecTester
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/test_kit/strategies/tester_exec.py
Due: none

Improve BitMEX price precision handling and align websocket
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/websocket/cache.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/bitmex/src/websocket/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Fix Bybit SPOT commission currency for makers
  RELEASES.md
  docs/integrations/bybit.md
  nautilus_trader/adapters/bybit/common/fees.py
  nautilus_trader/adapters/bybit/execution.py
  tests/integration_tests/adapters/bybit/conftest.py
  tests/integration_tests/adapters/bybit/test_bybit_fee_currency.py
Due: none

Fix Bybit positions pagination to handle more than 20 positions (#2879)
  nautilus_trader/adapters/bybit/http/account.py
  nautilus_trader/adapters/bybit/schemas/position.py
Due: none
