Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Update custom data docs for two-mode architecture
  crates/model/src/data/custom.rs
  crates/persistence/src/test_data.rs
  docs/architecture/custom_data.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix backtest exchange routing for custom data
  crates/backtest/src/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  RELEASES.md
  uv-version
  uv.lock
Due: check-non-latin-text

fix(databento): add Arrow schema for DatabentoStatistics and DatabentoImbalance
  crates/adapters/databento/Cargo.toml
  crates/adapters/databento/src/arrow/imbalance.rs
  crates/adapters/databento/src/arrow/mod.rs
  crates/adapters/databento/src/arrow/statistics.rs
  crates/adapters/databento/src/lib.rs
  crates/adapters/databento/src/python/arrow.rs
  crates/adapters/databento/src/python/mod.rs
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/serialization/arrow/serializer.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine AtomicTime mode switching and datetime panics
  RELEASES.md
  crates/core/src/datetime.rs
  crates/core/src/time.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve option chain PyO3 conventions
  crates/adapters/bybit/src/python/websocket.rs
  crates/data/src/python/option_chain_manager.rs
  crates/model/src/python/identifiers/option_series_id.rs
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/deribit/data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden MakerV3 order safety
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/trading/strategy.pxd
  nautilus_trader/trading/strategy.pyx
  systems/flux/flux/events.py
  systems/flux/flux/strategies/makerv3/constants.py
  systems/flux/flux/strategies/makerv3/failures.py
  systems/flux/flux/strategies/makerv3/managed_orders.py
  systems/flux/flux/strategies/makerv3/market_data.py
  systems/flux/flux/strategies/makerv3/publisher.py
  systems/flux/flux/strategies/makerv3/quote_engine.py
  systems/flux/flux/strategies/makerv3/runtime_params.py
  systems/flux/flux/strategies/makerv3/strategy.py
  systems/flux/flux/strategies/makerv3/wire.py
  tests/unit_tests/adapters/okx/test_execution_import_contract.py
  tests/unit_tests/adapters/okx/test_execution_terminal_cancel_reject_import.py
  tests/unit_tests/flux/strategies/makerv3/test_market_data.py
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_order_safety.py
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
  tests/unit_tests/flux/strategies/makerv3/test_strategy_lifecycle.py
  tests/unit_tests/trading/test_strategy.py
Due: check-non-latin-text

fix(tokenmm): harden strategy isolation and control plane
  deploy/tokenmm/strategies/plumeusdt_binance_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_okx_perp_makerv3.toml
  deploy/tokenmm/strategies/tokenmm.strategy.template.toml
  deploy/tokenmm/systemd/flux-pulse.sudoers
  deploy/tokenmm/systemd/flux-tokenmm.target
  ops/scripts/deploy/install_tokenmm_systemd.sh
  ops/scripts/deploy/tokenmm_stack.sh
  systems/flux/flux/api/app.py
  systems/flux/flux/api/payloads.py
  systems/flux/flux/api/socketio.py
  systems/flux/flux/bridge/stream_consumer.py
  systems/flux/flux/common/params.py
  systems/flux/flux/runners/tokenmm/redis_runtime.py
  systems/flux/flux/runners/tokenmm/run_api.py
  systems/flux/flux/runners/tokenmm/run_bridge.py
  systems/flux/flux/runners/tokenmm/run_node.py
  systems/flux/flux/runners/tokenmm/run_portfolio.py
  systems/flux/flux/strategies/__init__.py
  systems/flux/flux/strategies/registry.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_api.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_bridge.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_portfolio.py
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/api/test_socketio_tokenmm.py
  tests/unit_tests/flux/strategies/makerv3/test_managed_orders.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(tokenmm): disable implicit market-exit on live stop
  systems/flux/flux/runners/tokenmm/run_node.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
Due: check-non-latin-text

fix(tokenmm): make non-flattening stop behavior explicit
  deploy/tokenmm/strategies/README.md
  deploy/tokenmm/strategies/plumeusdt_binance_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_okx_perp_makerv3.toml
  deploy/tokenmm/strategies/tokenmm.strategy.template.toml
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix: register equities stack on shared host
  deploy/equities/strategies/aapl_tradexyz_makerv3.toml
  ops/scripts/deploy/equities_stack.sh
  ops/scripts/deploy/install_equities_systemd.sh
  ops/scripts/deploy/install_tokenmm_systemd.sh
  ops/scripts/deploy/tokenmm_stack.sh
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(tokenmm): disable synthetic live reconciliation orders
  deploy/tokenmm/strategies/plumeusdt_binance_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_okx_perp_makerv3.toml
  deploy/tokenmm/strategies/tokenmm.strategy.template.toml
  deploy/tokenmm/tokenmm.live.toml
  systems/flux/flux/runners/tokenmm/run_node.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve domain model correctness
  crates/adapters/tardis/src/http/parse.rs
  crates/model/src/data/black_scholes.rs
  crates/model/src/instruments/betting.rs
  crates/model/src/instruments/binary_option.rs
  crates/model/src/instruments/crypto_future.rs
  crates/model/src/instruments/crypto_option.rs
  crates/model/src/instruments/equity.rs
  crates/model/src/instruments/futures_contract.rs
  crates/model/src/instruments/futures_spread.rs
  crates/model/src/instruments/mod.rs
  crates/model/src/instruments/option_contract.rs
  crates/model/src/instruments/option_spread.rs
  crates/model/src/instruments/synthetic.rs
  crates/model/src/orderbook/own.rs
  crates/model/src/orders/limit.rs
  crates/model/src/orders/limit_if_touched.rs
  crates/model/src/orders/market.rs
  crates/model/src/orders/market_if_touched.rs
  crates/model/src/orders/market_to_limit.rs
  crates/model/src/orders/stop_limit.rs
  crates/model/src/orders/stop_market.rs
  crates/model/src/orders/trailing_stop_limit.rs
  crates/model/src/orders/trailing_stop_market.rs
  crates/model/src/position.rs
  crates/model/src/types/balance.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: share pulse control plane for equities
  deploy/equities/README.md
  deploy/equities/systemd/flux-equities.target
  deploy/equities/systemd/flux-pulse.sudoers
  ops/scripts/deploy/install_equities_systemd.sh
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text

Fix Redis load_custom_data nested runtime issue
  crates/infrastructure/src/python/redis/cache.rs
  crates/infrastructure/src/redis/cache.rs
  docs/concepts/custom_data.md
  docs/concepts/index.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor BitMEX WS handler to emit venue types
  crates/adapters/bitmex/bin/ws_data.rs
  crates/adapters/bitmex/bin/ws_exec.rs
  crates/adapters/bitmex/examples/node_data_tester.rs
  crates/adapters/bitmex/src/common/parse.rs
  crates/adapters/bitmex/src/data.rs
  crates/adapters/bitmex/src/execution.rs
  crates/adapters/bitmex/src/python/mod.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/bitmex/src/websocket/enums.rs
  crates/adapters/bitmex/src/websocket/handler.rs
  crates/adapters/bitmex/src/websocket/messages.rs
  crates/adapters/bitmex/src/websocket/parse.rs
  crates/adapters/bitmex/tests/websocket.rs
  crates/model/src/enums.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: document equities redis override
  deploy/equities/README.md
  deploy/equities/systemd/common.env.example
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text

fix: remediate PR findings
  crates/adapters/hyperliquid/src/python/config.rs
  crates/adapters/hyperliquid/src/python/http.rs
  crates/infrastructure/src/redis/cache.rs
  deploy/tokenmm/systemd/flux-pulse.sudoers
  deploy/tokenmm/systemd/flux-tokenmm.target
  fluxboard/api.flux.test.ts
  fluxboard/api.ts
  fluxboard/tests/signal/MakerV2Overlay.test.tsx
  fluxboard/utils/signalRunState.test.ts
  fluxboard/utils/signalRunState.ts
  nautilus_trader/accounting/factory.pyx
  nautilus_trader/adapters/bybit/execution.py
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/cache/cache.pxd
  nautilus_trader/cache/cache.pyx
  nautilus_trader/cache/database.pyx
  nautilus_trader/cache/facade.pxd
  nautilus_trader/cache/facade.pyx
  nautilus_trader/execution/manager.pyx
  nautilus_trader/live/execution_engine.py
  nautilus_trader/risk/engine.pyx
  ops/scripts/deploy/install_tokenmm_systemd.sh
  pulse-ui/src/App.test.tsx
  pulse-ui/src/basePath.ts
  pulse-ui/src/components/TopBar.tsx
  systems/flux/flux/runners/live/venues.py
  tests/integration_tests/adapters/bybit/test_execution.py
  tests/integration_tests/adapters/hyperliquid/test_execution.py
  tests/integration_tests/adapters/hyperliquid/test_factories.py
  tests/integration_tests/adapters/hyperliquid/test_providers.py
  tests/integration_tests/infrastructure/test_cache_database_redis.py
  tests/unit_tests/adapters/bybit/test_execution_cash_borrowing.py
  tests/unit_tests/cache/test_execution.py
  tests/unit_tests/examples/strategies/test_live_venue_registry.py
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
  tests/unit_tests/execution/test_engine.py
  tests/unit_tests/live/test_execution_engine.py
  tests/unit_tests/live/test_execution_engine_purge_startup.py
  tests/unit_tests/risk/test_cash_borrowing_intent.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat: proxy equities api through tokenmm host
  deploy/equities/README.md
  deploy/equities/systemd/flux-equities.target
  ops/scripts/deploy/install_equities_systemd.sh
  ops/scripts/deploy/shared_strategy_stack.sh
  systems/flux/flux/runners/tokenmm/run_api.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_api.py
Due: check-non-latin-text

Fix params selection UI defaults and consolidate selected toolbar
  fluxboard/Params.tsx
  fluxboard/__tests__/Params.single-selection.test.tsx
  fluxboard/components/params/ParamsHeader.tsx
Due: none

fix(tokenmm): respect explicit execution disable
  systems/flux/flux/runners/tokenmm/run_node.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
Due: check-non-latin-text

fix(bitget): derive instrument precision from API metadata
  crates/adapters/bitget/src/http/client.rs
  crates/adapters/bitget/src/http/models.rs
  crates/adapters/bitget/test_data/http_contract_config.json
  crates/adapters/bitget/test_data/http_spot_symbols.json
  crates/adapters/bitget/tests/http_public.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

test(fluxboard): align params selection assertions
  fluxboard/__tests__/Params.single-selection.test.tsx
Due: none

fix(makerv3): keep startup cleanup alive on cancel rate limits
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/flux/strategies/makerv3/test_order_safety.py
Due: check-non-latin-text

fix(live): retire ghost orders on cancel state mismatch
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_engine.py
Due: check-non-latin-text

Improve socket clients reconnect and shutdown reliability
  RELEASES.md
  crates/network/src/python/websocket.rs
  crates/network/src/socket/client.rs
  crates/network/src/tls.rs
  crates/network/src/websocket/client.rs
  crates/network/tests/turmoil_socket.rs
  crates/network/tests/turmoil_websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor Architect WS handler to emit venue types
  crates/adapters/architect_ax/bin/ws_data.rs
  crates/adapters/architect_ax/bin/ws_orders.rs
  crates/adapters/architect_ax/src/data.rs
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/architect_ax/src/python/mod.rs
  crates/adapters/architect_ax/src/python/websocket.rs
  crates/adapters/architect_ax/src/websocket/data/client.rs
  crates/adapters/architect_ax/src/websocket/data/handler.rs
  crates/adapters/architect_ax/src/websocket/messages.rs
  crates/adapters/architect_ax/src/websocket/mod.rs
  crates/adapters/architect_ax/src/websocket/orders/client.rs
  crates/adapters/architect_ax/src/websocket/orders/handler.rs
  crates/adapters/architect_ax/src/websocket/orders/mod.rs
  crates/adapters/architect_ax/tests/data_client.rs
  crates/adapters/architect_ax/tests/exec_client.rs
  crates/adapters/architect_ax/tests/websocket.rs
  crates/adapters/bitmex/examples/node_data_tester.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(fluxapi): normalize tokenmm balance rows
  systems/flux/flux/api/payloads.py
  tests/unit_tests/flux/api/test_payloads.py
Due: check-non-latin-text

fix(fluxboard): base signal spread on visible mids
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/tests/signal/SignalTable.audit.test.tsx
Due: none

feat(equities): add ibkr reference venue support
  deploy/equities/equities.live.toml
  deploy/equities/strategies/README.md
  deploy/equities/strategies/aapl_tradexyz_makerv3.toml
  deploy/equities/strategies/equities.strategy.template.toml
  docs/plans/2026-03-06-equities-tradexyz-port.md
  fluxboard/Params.tsx
  fluxboard/api.flux.test.ts
  fluxboard/api.ts
  fluxboard/docs/equities_contract.md
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/config.py
  nautilus_trader/adapters/interactive_brokers/gateway.py
  systems/flux/flux/common/config.py
  systems/flux/flux/common/keys.py
  systems/flux/flux/runners/live/venues.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client.py
  tests/integration_tests/adapters/interactive_brokers/test_gateway_config.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/examples/strategies/test_live_venue_registry.py
  tests/unit_tests/flux/api/test_app.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(flux): close redis clients cleanly on shutdown
  systems/flux/flux/bridge/stream_consumer.py
  systems/flux/flux/runners/shared/portfolio_runner.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
  tests/unit_tests/flux/bridge/test_stream_consumer.py
Due: check-non-latin-text

fix(pulse): show job descriptions as row titles
  pulse-ui/src/App.test.tsx
  pulse-ui/src/components/JobRow.tsx
Due: none

fix(tokenmm): publish state from cache truth
  deploy/tokenmm/strategies/plumeusdt_binance_spot_makerv3.toml
  deploy/tokenmm/tokenmm.live.toml
  systems/flux/flux/api/payloads.py
  systems/flux/flux/strategies/makerv3/publisher.py
  systems/flux/flux/strategies/makerv3/quote_engine.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
  tests/unit_tests/flux/api/test_payloads.py
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_strategy_lifecycle.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(flux-api): collapse duplicate spot balance rows
  systems/flux/flux/api/app.py
  systems/flux/flux/api/payloads.py
  tests/unit_tests/flux/api/test_app.py
Due: check-non-latin-text

Improve Binance Spot execution and order handling
  crates/adapters/binance/Cargo.toml
  crates/adapters/binance/benches/encoder.rs
  crates/adapters/binance/examples/futures/node_exec_tester.rs
  crates/adapters/binance/examples/spot/node_data_tester.rs
  crates/adapters/binance/examples/spot/node_exec_tester.rs
  crates/adapters/binance/src/common/consts.rs
  crates/adapters/binance/src/common/encoder.rs
  crates/adapters/binance/src/common/parse.rs
  crates/adapters/binance/src/common/urls.rs
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/src/futures/http/models.rs
  crates/adapters/binance/src/futures/websocket/client.rs
  crates/adapters/binance/src/futures/websocket/handler_data.rs
  crates/adapters/binance/src/futures/websocket/handler_exec.rs
  crates/adapters/binance/src/python/http_futures.rs
  crates/adapters/binance/src/python/http_spot.rs
  crates/adapters/binance/src/spot/enums.rs
  crates/adapters/binance/src/spot/execution.rs
  crates/adapters/binance/src/spot/http/client.rs
  crates/adapters/binance/src/spot/websocket/execution/client.rs
  crates/adapters/binance/src/spot/websocket/execution/handler.rs
  crates/adapters/binance/src/spot/websocket/execution/messages.rs
  crates/adapters/binance/src/spot/websocket/execution/mod.rs
  crates/adapters/binance/src/spot/websocket/execution/parse.rs
  crates/adapters/binance/src/spot/websocket/mod.rs
  crates/adapters/binance/test_data/ws_spot_account_position.json
  crates/adapters/binance/test_data/ws_spot_balance_update.json
  crates/adapters/binance/test_data/ws_spot_execution_report_canceled.json
  crates/adapters/binance/test_data/ws_spot_execution_report_new.json
  crates/adapters/binance/test_data/ws_spot_execution_report_stop_loss.json
  crates/adapters/binance/test_data/ws_spot_execution_report_trade.json
  crates/adapters/binance/tests/spot/http.rs
  docs/integrations/binance.md
  nautilus_trader/adapters/binance/common/urls.py
  tests/integration_tests/adapters/binance/test_factories.py
  tests/integration_tests/adapters/binance/test_url_generation.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add PyO3 bindings for config structs
  Cargo.lock
  crates/adapters/architect_ax/src/config.rs
  crates/adapters/architect_ax/src/python/config.rs
  crates/adapters/architect_ax/src/python/mod.rs
  crates/adapters/polymarket/src/common/enums.rs
  crates/adapters/polymarket/src/config.rs
  crates/adapters/polymarket/src/python/config.rs
  crates/adapters/polymarket/src/python/mod.rs
  crates/common/src/msgbus/database.rs
  crates/common/src/python/mod.rs
  crates/common/src/python/msgbus.rs
  crates/live/Cargo.toml
  crates/live/src/config.rs
  crates/live/src/python/config.rs
  crates/live/src/python/mod.rs
  crates/portfolio/Cargo.toml
  crates/portfolio/src/config.rs
  crates/portfolio/src/lib.rs
  crates/portfolio/src/python/mod.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
