Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Fix typo in logging in dydx adapter (#2790)
  nautilus_trader/adapters/dydx/data.py
Due: none

Improve OKX execution message handling
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: fmt, cargo-clippy, cargo-doc

Add fee cache for correct OKX commission calculations
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Optimize and refine streaming for Tardis CSVs
  crates/adapters/tardis/Cargo.toml
  crates/adapters/tardis/bin/stream_deltas_bench.rs
  crates/adapters/tardis/src/csv/load.rs
  crates/adapters/tardis/src/csv/mod.rs
  crates/adapters/tardis/src/csv/stream.rs
  crates/adapters/tardis/src/lib.rs
  crates/adapters/tardis/src/python/csv.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Update gitignore
  .gitignore
Due: none

Standardize reader resets for Tardis CSV streaming
  crates/adapters/tardis/src/csv/stream.rs
Due: fmt, cargo-clippy, cargo-doc

Fix clippy lints
  RELEASES.md
  crates/persistence/src/backend/catalog.rs
Due: fmt, cargo-clippy, cargo-doc

Improve websocket connection delay logging for Polymarket
  nautilus_trader/adapters/polymarket/data.py
Due: none

Improve clarity of NotImplementedError message for Databento
  nautilus_trader/adapters/databento/data.py
Due: none

Add DataTester standardized data testing actor for adapters
  RELEASES.md
  examples/live/databento/databento_data_tester.py
  examples/live/databento/databento_subscriber.py
  examples/live/okx/okx_data_tester.py
  examples/live/polymarket/polymarket_data_tester.py
  examples/live/polymarket/polymarket_ema_cross.py
  examples/live/polymarket/polymarket_market_maker.py
  examples/live/polymarket/polymarket_subscriber.py
  examples/live/tardis/tardis_data_tester.py
  examples/live/tardis/tardis_subscriber.py
  nautilus_trader/test_kit/strategies/__init__.py
  nautilus_trader/test_kit/strategies/tester_data.py
  nautilus_trader/test_kit/strategies/tester_exec.py
Due: none

Refine OKX websocket flows and testing
  crates/adapters/okx/src/common/credential.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
Due: fmt, cargo-clippy, cargo-doc

Improve Rust developer guide
  docs/developer_guide/rust.md
Due: none

Improve reconciliation handling of internally generated orders
  RELEASES.md
  docs/concepts/live.md
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: none

Refactor BacktestDataIterator
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  tests/acceptance_tests/test_backtest.py
  tests/unit_tests/backtest/test_data_iterator.py
  tests/unit_tests/backtest/test_engine.py
Due: none

Refactor BacktestDataIterator (#2791)
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  tests/acceptance_tests/test_backtest.py
  tests/unit_tests/backtest/test_data_iterator.py
  tests/unit_tests/backtest/test_engine.py
Due: none

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine BacktestDataIterator
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  tests/unit_tests/backtest/test_engine.py
Due: none

Apply formatting
  crates/adapters/okx/src/websocket/client.rs
Due: fmt, cargo-clippy, cargo-doc

Add QueryAccount message and strategy method
  RELEASES.md
  nautilus_trader/adapters/_template/execution.py
  nautilus_trader/adapters/betfair/execution.py
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/bybit/execution.py
  nautilus_trader/adapters/coinbase_intx/execution.py
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/adapters/polymarket/execution.py
  nautilus_trader/execution/algorithm.pxd
  nautilus_trader/execution/algorithm.pyx
  nautilus_trader/execution/client.pxd
  nautilus_trader/execution/client.pyx
  nautilus_trader/execution/engine.pxd
  nautilus_trader/execution/engine.pyx
  nautilus_trader/execution/manager.pxd
  nautilus_trader/execution/manager.pyx
  nautilus_trader/execution/messages.pxd
  nautilus_trader/execution/messages.pyx
  nautilus_trader/live/execution_client.py
  nautilus_trader/live/execution_engine.py
  nautilus_trader/portfolio/portfolio.pxd
  nautilus_trader/portfolio/portfolio.pyx
  nautilus_trader/serialization/base.pyx
  nautilus_trader/trading/strategy.pxd
  nautilus_trader/trading/strategy.pyx
  tests/acceptance_tests/test_backtest.py
  tests/integration_tests/adapters/betfair/test_betfair_execution.py
  tests/integration_tests/adapters/sandbox/test_execution.py
  tests/unit_tests/backtest/test_engine.py
  tests/unit_tests/execution/test_messages.py
  tests/unit_tests/persistence/test_streaming.py
Due: none

Fix issue in _subscription_generator
  nautilus_trader/backtest/engine.pyx
Due: none

Refine BacktestDataIterator (#2792)
  nautilus_trader/backtest/engine.pyx
Due: none

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
