Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Add benchmarking guide
  docs/dev_templates/criterion_template.rs
  docs/dev_templates/iai_template.rs
  docs/developer_guide/benchmarking.md
  docs/developer_guide/index.md
Due: fmt, cargo-clippy, cargo-doc

Fix invalid session on account update for Betfair
  RELEASES.md
  nautilus_trader/adapters/betfair/execution.py
Due: none

Remove redundant "all" from cleared log messages
  nautilus_trader/trading/trader.py
Due: none

Fix instrument msg decoding for Databento
  RELEASES.md
  crates/adapters/databento/src/live.rs
  examples/live/databento/databento_subscriber.py
  nautilus_trader/adapters/databento/providers.py
Due: fmt, cargo-clippy, cargo-doc

Reorganize defi domain model
  .pre-commit-hooks/check_hidden_chars.sh
  crates/adapters/blockchain/src/config.rs
  crates/adapters/blockchain/src/hypersync/client.rs
  crates/adapters/blockchain/src/hypersync/transform.rs
  crates/adapters/blockchain/src/rpc/core.rs
  crates/adapters/blockchain/src/rpc/types.rs
  crates/data/src/engine/mod.rs
  crates/model/src/defi/data/amm.rs
  crates/model/src/defi/data/block.rs
  crates/model/src/defi/data/liquidity.rs
  crates/model/src/defi/data/mod.rs
  crates/model/src/defi/data/swap.rs
  crates/model/src/defi/data/transaction.rs
  crates/model/src/defi/dex.rs
  crates/model/src/defi/messages/mod.rs
  crates/model/src/defi/mod.rs
  crates/model/src/defi/types/mod.rs
  crates/model/src/defi/types/money.rs
  crates/model/src/defi/types/price.rs
  crates/model/src/defi/types/quantity.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize use of anyhow::bail
  crates/persistence/src/parquet.rs
Due: fmt, cargo-clippy, cargo-doc

Continue live data flows in Rust
  crates/adapters/blockchain/bin/node_test.rs
  crates/adapters/blockchain/bin/sync_pool_events.rs
  crates/adapters/blockchain/bin/sync_tokens_pools.rs
  crates/adapters/blockchain/bin/watch_hypersync_live_blocks.rs
  crates/adapters/blockchain/bin/watch_rpc_live_blocks.rs
  crates/adapters/blockchain/src/data.rs
  crates/adapters/blockchain/src/hypersync/client.rs
  crates/live/src/runner.rs
  crates/model/src/defi/data/block.rs
  crates/model/src/defi/data/mod.rs
Due: fmt, cargo-clippy, cargo-doc

(fix) Fixes binance spot trade fee fetching for single symbol
  RELEASES.md
  nautilus_trader/adapters/binance/spot/http/wallet.py
Due: none

Fix Binance spot trade fee fetching for single symbol (#2718)
  RELEASES.md
  nautilus_trader/adapters/binance/spot/http/wallet.py
Due: none

Update dependencies and pre-commit
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  nautilus_trader/adapters/dydx/endpoints/market/candles.py
  nautilus_trader/adapters/dydx/endpoints/market/instruments_info.py
  nautilus_trader/adapters/dydx/schemas/account/address.py
  nautilus_trader/adapters/dydx/schemas/account/asset_positions.py
  nautilus_trader/adapters/dydx/schemas/account/fills.py
  nautilus_trader/adapters/dydx/schemas/account/orders.py
  nautilus_trader/adapters/dydx/schemas/account/perpetual_positions.py
  nautilus_trader/adapters/dydx/schemas/ws.py
  nautilus_trader/core/nautilus_pyo3.pyi
  pyproject.toml
  tests/integration_tests/adapters/interactive_brokers/test_execution_order_transform.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix feature flagging for max float precision checks
  crates/model/src/types/money.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
Due: fmt, cargo-clippy, cargo-doc

Refine exchange handling for instrument message
  crates/adapters/databento/src/live.rs
Due: fmt, cargo-clippy, cargo-doc

Increase postgres test timeout to avoid CI flakes
  tests/integration_tests/infrastructure/test_cache_database_postgres.py
Due: none

Refine legacy build
  Cargo.lock
  Cargo.toml
  build.py
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Update and refine developer guide
  docs/developer_guide/adapters.md
  docs/developer_guide/benchmarking.md
  docs/developer_guide/coding_standards.md
  docs/developer_guide/docs.md
  docs/developer_guide/environment_setup.md
  docs/developer_guide/rust.md
  docs/developer_guide/testing.md
Due: none

Refine cargo bench profile
  Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine cache benches
  crates/common/benches/cache/orders.rs
Due: fmt, cargo-clippy, cargo-doc

Add cache benches
  crates/common/Cargo.toml
  crates/common/benches/cache/query_sets.rs
  docs/developer_guide/benchmarking.md
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add doc comments for model crate
  crates/model/src/accounts/any.rs
  crates/model/src/accounts/base.rs
  crates/model/src/accounts/cash.rs
  crates/model/src/accounts/margin.rs
  crates/model/src/accounts/stubs.rs
  crates/model/src/data/bet.rs
  crates/model/src/data/greeks.rs
  crates/model/src/data/prices.rs
  crates/model/src/defi/chain.rs
  crates/model/src/defi/data/amm.rs
Due: fmt, cargo-clippy, cargo-doc

Add cache tests
  crates/common/benches/cache/query_sets.rs
  crates/common/src/cache/tests.rs
Due: fmt, cargo-clippy, cargo-doc

Refine defi module
  crates/model/src/defi/chain.rs
  crates/model/src/defi/data/block.rs
  crates/model/src/defi/data/liquidity.rs
  crates/model/src/defi/data/transaction.rs
  crates/model/src/defi/dex.rs
  crates/model/src/defi/types/money.rs
  crates/model/src/defi/types/price.rs
  crates/model/src/defi/types/quantity.rs
Due: fmt, cargo-clippy, cargo-doc

Fix flaky spelling
  crates/adapters/tardis/src/csv/mod.rs
Due: fmt, cargo-clippy, cargo-doc
