Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Cleanup
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/src/http/parse.rs
  crates/adapters/dydx/src/python/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/dydx/src/data/mod.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor reconciliation
  examples/live/interactive_brokers/notebooks/with_databento_instrument_id.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  nautilus_trader/live/execution_engine.py
  tests/integration_tests/adapters/interactive_brokers/test_data.py
  tests/integration_tests/adapters/interactive_brokers/test_execution.py
  tests/integration_tests/adapters/interactive_brokers/test_execution_reconciliation.py
  tests/unit_tests/live/test_execution_order_checks.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

Shuffle some methods in execution engine to improve readability (called methods below calling methods)
  nautilus_trader/live/execution_engine.py
Due: check-non-latin-text

Refine request methods
  nautilus_trader/backtest/node.py
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
Due: check-non-latin-text

Add Python bindings for size estimation result and pool profiler functions
  crates/model/src/python/defi/mod.rs
  crates/model/src/python/defi/profiler.rs
  crates/model/src/python/defi/size_estimator.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add size estimation utilities for DeFi pool Profiler
  crates/model/src/defi/pool_analysis/mod.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/pool_analysis/size_estimator.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add size estimation roundtrip check in Pool profiler unit tests
  crates/model/src/defi/pool_analysis/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine HistoricInteractiveBrokersClient
  examples/live/interactive_brokers/historical_download.py
  nautilus_trader/adapters/interactive_brokers/historical/client.py
Due: check-non-latin-text

Rename handler_cmd_tx to cmd_tx for WebSocket channel consistency with reference adapters
  crates/adapters/dydx/src/data/mod.rs
  crates/adapters/dydx/src/websocket/client.rs
  crates/adapters/dydx/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Quantity.from_decimal constructor
  nautilus_trader/model/objects.pyx
  tests/unit_tests/model/objects/test_quantity.py
Due: check-non-latin-text

Improve dYdX WebSocket parser edge case handling for remaining_size and order_type conversion
  crates/adapters/dydx/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Change default IB quote tick subscription to batch quotes
  nautilus_trader/adapters/interactive_brokers/data.py
Due: check-non-latin-text

chore(make): add unwrap-report target and script for audit (non-blocking)
  Makefile
  scripts/unwrap_report.sh
Due: none

ci: add python-audit (pip-audit) and rust-unwrap-report jobs; extend mypy coverage\ndocs: add observability guide and TODO triage
  .github/workflows/ci.yml
  docs/ops/observability.md
  docs/review/todo_triage.md
Due: check-non-latin-text

ci: keep mypy on API-only; add non-blocking extended mypy job with artifact
  .github/workflows/ci.yml
Due: check-non-latin-text

fix(api): mypy variable shadowing in logs handlers\nrefactor(bitmex): replace strip_prefix unwrap with expect in deserializer\nci: restrict API mypy to main.py with follow-imports=skip
  .github/workflows/ci.yml
  crates/adapters/bitmex/src/common/enums.rs
  services/api/main.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add dYdX live integration tests with WebSocket bar type registration and orderbook snapshot fixes
  crates/adapters/dydx/Cargo.toml
  crates/adapters/dydx/bin/http_public.rs
  crates/adapters/dydx/bin/live_integration.rs
  crates/adapters/dydx/bin/ws_data.rs
  crates/adapters/dydx/src/data/mod.rs
  crates/adapters/dydx/src/websocket/client.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/tests/http.rs
  crates/adapters/dydx/tests/websocket.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

refactor(execution): replace several unwrap/expect in OrderEmulator with checked flows and logging; avoid panics in passive conversion and missing IDs
  crates/execution/src/order_emulator/emulator.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: fix commission fee for market maker account(rebate:negative fee rate),directly query from binance
  nautilus_trader/adapters/binance/futures/providers.py
Due: check-non-latin-text

[fix] load_async() fix
  nautilus_trader/adapters/binance/futures/providers.py
Due: check-non-latin-text

Add start/end time filtering to Bybit order status reports
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/tests/http.rs
  nautilus_trader/adapters/bybit/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit instruments pagination handling
  crates/adapters/bybit/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit batch place orders
  crates/adapters/bybit/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Expand dYdX adapter test coverage with 15 new WebSocket tests
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/tests/http.rs
  crates/adapters/dydx/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Keep dYdX HttpClient inner field as pub(crate) and use correct client types in tests
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

[pre-commit] pre-commit fix
  nautilus_trader/adapters/binance/futures/providers.py
Due: check-non-latin-text

Refine adding files to catalog session
  nautilus_trader/persistence/catalog/parquet.py
Due: check-non-latin-text

Refine request bars
  nautilus_trader/common/actor.pyx
Due: check-non-latin-text

Add native currency support for blockchain chains
  crates/model/src/defi/chain.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Rename `execute_eth_call` to `execute_rpc_call` for generalized RPC usage.
  crates/adapters/blockchain/src/contracts/base.rs
  crates/adapters/blockchain/src/rpc/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update integrations docs with chain blockchain primitive
  docs/integrations/blockchain.md
Due: check-non-latin-text

Add support for `Wallet` account type across models and serialization
  crates/model/src/accounts/any.rs
  crates/model/src/enums.rs
  crates/serialization/schemas/capnp/common/enums.capnp
  crates/serialization/src/capnp/conversions.rs
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/rust/model.pxd
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add `BlockchainExecutionClient` support with factory and configuration
  Cargo.lock
  crates/adapters/blockchain/Cargo.toml
  crates/adapters/blockchain/src/config.rs
  crates/adapters/blockchain/src/constants.rs
  crates/adapters/blockchain/src/factories.rs
  crates/adapters/blockchain/src/lib.rs
  crates/adapters/blockchain/src/python/factories.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add `get_balance` method to RPC client for address native balance retrieval
  crates/adapters/blockchain/src/rpc/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Bootstrap the initial ` BlockchainExecutionClient ` with native balance refresh
  crates/adapters/blockchain/src/execution/client.rs
  crates/adapters/blockchain/src/execution/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add standalone node wallet example with `BlockchainExecutionClient` configuration
  crates/adapters/blockchain/bin/node_wallet.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update capnp schema
  crates/serialization/generated/capnp/common/enums_capnp.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine environment setup document
  docs/developer_guide/environment_setup.md
Due: check-non-latin-text

Implement remaining bar aggregation methods
  crates/data/src/aggregation.rs
  crates/data/src/engine/mod.rs
  nautilus_trader/data/aggregation.pxd
  nautilus_trader/data/aggregation.pyx
  nautilus_trader/data/engine.pyx
  nautilus_trader/model/data.pyx
  tests/unit_tests/data/test_aggregation.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
