Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Correct DataTester book depth note in data testing spec
  RELEASES.md
  docs/developer_guide/spec_data_testing.md
Due: check-non-latin-text

Add full Rust config parity to Python ExecTesterConfig
  RELEASES.md
  crates/testkit/src/python/testers.rs
  python/nautilus_trader/testkit/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document Lighter startup position-check race
  RELEASES.md
  docs/integrations/lighter.md
Due: check-non-latin-text

fix(indicators): ensure CMO stays within [-100, 100] exact bounds (#4654)
  crates/indicators/src/average/vidya.rs
  crates/indicators/src/momentum/cmo.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(adapters): deserialize Bybit smpGroup as string or integer (#4655)
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/websocket/messages.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(persistence): prevent ParquetDataCatalog from corrupting intervals on extend (#4647)
  crates/persistence/src/backend/catalog.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Derive order replacement reconciliation
  RELEASES.md
  crates/adapters/derive/src/execution.rs
  crates/adapters/derive/src/http/client.rs
  crates/adapters/derive/src/http/models.rs
  crates/adapters/derive/src/websocket/client.rs
  crates/adapters/derive/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix README links on PyPI
  README.md
  RELEASES.md
Due: check-non-latin-text

Restore security audit path filtering
  .github/OVERVIEW.md
  .github/workflows/build.yml
  .github/workflows/security-audit.yml
Due: check-non-latin-text

Restore ARM Docker swap space
  .github/actions/common-setup/action.yml
  .github/workflows/docker.yml
  scripts/ci/configure-linux-swap.bash
Due: check-non-latin-text

Remove Python PyCapsule bridge
  RELEASES.md
  crates/adapters/architect_ax/src/python/websocket.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bybit/src/python/websocket.rs
  crates/adapters/databento/src/python/live.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/interactive_brokers/src/python/historical.rs
  crates/adapters/kraken/src/python/websocket_futures.rs
  crates/adapters/kraken/src/python/websocket_spot.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/tardis/src/csv/stream.rs
  crates/adapters/tardis/src/python/machine.rs
  crates/core/src/python/mod.rs
  crates/model/src/python/data/bar.rs
  crates/model/src/python/data/delta.rs
  crates/model/src/python/data/deltas.rs
  crates/model/src/python/data/depth.rs
  crates/model/src/python/data/mod.rs
  crates/model/src/python/data/quote.rs
  crates/model/src/python/data/trade.rs
  crates/persistence/src/python/backend/session.rs
  crates/persistence/src/python/catalog.rs
  python/nautilus_trader/core/__init__.pyi
  python/nautilus_trader/model/__init__.pyi
  python/tests/unit/core/test_utils.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix order book tutorial conversion
  docs/tutorials/orderbook_data.py
  docs/tutorials/orderbook_imbalance.py
Due: check-non-latin-text

Refine network crate documentation
  crates/network/src/backoff.rs
  crates/network/src/dst.rs
  crates/network/src/http/client.rs
  crates/network/src/http/mod.rs
  crates/network/src/http/types.rs
  crates/network/src/lib.rs
  crates/network/src/mode.rs
  crates/network/src/net.rs
  crates/network/src/ratelimiter/clock.rs
  crates/network/src/ratelimiter/gcra.rs
  crates/network/src/ratelimiter/nanos.rs
  crates/network/src/ratelimiter/quota.rs
  crates/network/src/retry.rs
  crates/network/src/socket/client.rs
  crates/network/src/socket/config.rs
  crates/network/src/socket/mod.rs
  crates/network/src/socket/types.rs
  crates/network/src/tls.rs
  crates/network/src/transport/message.rs
  crates/network/src/transport/sockudo.rs
  crates/network/src/transport/tungstenite.rs
  crates/network/src/websocket/auth.rs
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/config.rs
  crates/network/src/websocket/proxy.rs
  crates/network/src/websocket/subscription.rs
  crates/network/src/websocket/types.rs
  crates/network/tests/websocket_proxy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove gitlint
  .github/CODEOWNERS
  .gitlint
  .pre-commit-config.yaml
  docs/developer_guide/coding_standards.md
Due: check-non-latin-text

Fix RiskEngine market order price checks
  RELEASES.md
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
  python/tests/acceptance/test_backtest.py
  python/tests/unit/backtest/test_backtest_engine_surface.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket maker fill ownership and count dropped trades
  crates/adapters/polymarket/src/common/models.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/execution/responses.rs
  crates/adapters/polymarket/src/websocket/dispatch.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit order SMP group decoding
  RELEASES.md
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/websocket/messages.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add a runtime log-level ceiling to the logging subsystem
  crates/common/src/logging/logger.rs
  crates/common/src/logging/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Log connection lifecycle transitions at Info in network clients
  crates/network/src/socket/client.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add a coordinated external-order-claim lifecycle API on LiveNode
  crates/execution/src/engine/mod.rs
  crates/live/src/execution/manager.rs
  crates/live/src/node/mod.rs
  crates/live/src/python/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Gate the node-only claim helpers behind the node feature
  crates/live/src/execution/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Cover the OMS-only path in add_strategy diagnostics and claim tests
  crates/live/src/node/mod.rs
  crates/live/src/python/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(polymarket): atomically refresh book subscriptions
  crates/adapters/polymarket/src/data/dispatch.rs
  crates/adapters/polymarket/src/data/mod.rs
  crates/adapters/polymarket/src/websocket/client.rs
  crates/adapters/polymarket/src/websocket/handler.rs
  crates/adapters/polymarket/src/websocket/pool.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/clients/data.rs
  crates/common/src/messages/data/mod.rs
  crates/common/src/messages/data/subscribe.rs
  crates/common/src/python/actor.rs
  crates/data/src/client.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/client.rs
  crates/data/tests/common/mocks.rs
  crates/data/tests/engine.rs
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(trading): expose book refresh on strategy
  crates/trading/src/python/strategy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Preserve ordered Polymarket refresh barriers
  crates/adapters/polymarket/src/data/dispatch.rs
  crates/adapters/polymarket/src/data/mod.rs
  crates/adapters/polymarket/src/execution/lifecycle.rs
  crates/adapters/polymarket/src/websocket/client.rs
  crates/adapters/polymarket/src/websocket/handler.rs
  crates/adapters/polymarket/src/websocket/messages.rs
  crates/adapters/polymarket/tests/websocket.rs
  crates/common/src/clients/data.rs
  python/nautilus_trader/common/__init__.pyi
  python/nautilus_trader/trading/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Contain queued Polymarket book refresh storms
  crates/adapters/polymarket/src/websocket/client.rs
  crates/adapters/polymarket/src/websocket/handler.rs
  crates/adapters/polymarket/src/websocket/pool.rs
  crates/adapters/polymarket/tests/websocket.rs
  crates/live/src/node/mod.rs
  crates/live/src/runner.rs
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Indicator::reset leaving state behind in AMA and FuzzyCandlesticks
  crates/indicators/src/average/ama.rs
  crates/indicators/src/volatility/fuzzy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Keep ChandeMomentumOscillator inside its bounds
  crates/indicators/src/average/vidya.rs
  crates/indicators/src/momentum/cmo.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Cache exchange rate pair construction
  RELEASES.md
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Windows CLI and ARM Docker builds
  .github/OVERVIEW.md
  .github/workflows/cli-binaries.yml
  .github/workflows/docker.yml
  scripts/ci/configure-linux-swap.bash
Due: check-non-latin-text

Add Polymarket effective snapshot deltas
  RELEASES.md
  crates/adapters/polymarket/Cargo.toml
  crates/adapters/polymarket/benches/BENCHMARKS.md
  crates/adapters/polymarket/benches/effective_deltas.rs
  crates/adapters/polymarket/src/config.rs
  crates/adapters/polymarket/src/data/dispatch.rs
  crates/adapters/polymarket/src/data/effective_deltas.rs
  crates/adapters/polymarket/src/data/lifecycle.rs
  crates/adapters/polymarket/src/data/mod.rs
  crates/adapters/polymarket/src/data/requests.rs
  crates/adapters/polymarket/src/python/config.rs
  crates/adapters/polymarket/src/python/mod.rs
  docs/integrations/polymarket.md
  python/nautilus_trader/adapters/polymarket/__init__.pyi
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reorder Polymarket data client configuration
  crates/adapters/polymarket/src/config.rs
  crates/adapters/polymarket/src/data/dispatch.rs
  crates/adapters/polymarket/src/data/lifecycle.rs
  crates/adapters/polymarket/src/data/requests.rs
  crates/adapters/polymarket/src/python/config.rs
  crates/adapters/polymarket/src/python/mod.rs
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix DataActor custom response batching
  MIGRATION_V2.md
  RELEASES.md
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/python/actor.rs
  crates/trading/src/python/strategy.rs
  docs/concepts/actors.md
  docs/concepts/strategies.md
  docs/integrations/deribit.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Position exact close handling
  RELEASES.md
  crates/model/src/position.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Log connection lifecycle transitions at Info in network clients (#4621)
  crates/network/src/socket/client.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add LiveNode coordinated external-order-claim lifecycle API (#4620)
  crates/execution/src/engine/mod.rs
  crates/live/src/execution/manager.rs
  crates/live/src/node/mod.rs
  crates/live/src/python/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket maker fill ownership and count dropped trades (#4662)
  crates/adapters/polymarket/src/common/models.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/execution/responses.rs
  crates/adapters/polymarket/src/websocket/dispatch.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Restore Python v2 test coverage
  Makefile
  python/tests/type_checking/supported.py
  python/tests/unit/adapters/databento/test_databento_types.py
  python/tests/unit/adapters/hyperliquid/test_hyperliquid_factories.py
  python/tests/unit/adapters/interactive_brokers/test_interactive_brokers_factories.py
  python/tests/unit/backtest/test_backtest_engine_custom_data.py
  python/tests/unit/model/test_data.py
  python/tests/unit/model/test_events.py
  python/tests/unit/model/test_funding.py
  python/tests/unit/model/test_instruments.py
  python/tests/unit/model/test_position.py
  python/tests/unit/model/test_pricing.py
  python/tests/unit/persistence/test_custom_data.py
  python/tests/unit/persistence/test_persistence.py
  scripts/ci/test-python-types.bash
  scripts/ci/test-wheel.bash
Due: check-non-latin-text

Restore CI release workflow
  .github/OVERVIEW.md
  .github/workflows/build.yml
  .pre-commit-config.yaml
  docs/developer_guide/release_security.md
  docs/developer_guide/releases.md
  scripts/ci/build-sdist-release-asset.bash
  scripts/ci/publish-wheels-r2-remove-old-wheels.sh
  scripts/ci/release-version-policy.bash
  scripts/ci/test-publish-wheels.bash
  scripts/ci/validate-wheel-artifacts.bash
Due: check-non-latin-text

Fix order list initialization metadata
  RELEASES.md
  crates/common/src/factories/order.rs
  crates/model/src/orders/any.rs
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
