Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Correct TickRunsBarAggregator to reset builder before applying trades on side changes
  crates/data/src/aggregation.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit get_account_details
  crates/adapters/bybit/src/http/models.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit `set_position_mode`
  crates/adapters/bybit/src/http/query.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Borrow-repay-logic
  nautilus_trader/adapters/bybit/execution.py
Due: check-non-latin-text

Added single + multiple partial repays for bybit execution tests
  .gitignore
  tests/integration_tests/adapters/bybit/test_execution.py
Due: check-non-latin-text

Minor comment remove (to keep uniformicity of function start)
  nautilus_trader/adapters/bybit/execution.py
Due: check-non-latin-text

Ran pre-commit + tests
  nautilus_trader/adapters/bybit/execution.py
  tests/integration_tests/adapters/bybit/test_execution.py
Due: check-non-latin-text

Refactor `Quantity` construction in swap trade info to use `from_u256`
  crates/model/src/defi/data/swap_trade_info.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add `from_u256` constructor for `Quantity` with defi feature guard
  crates/model/src/types/quantity.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add `WalletBalance` and `TokenBalance` models with tests for DeFi wallet tracking
  crates/model/src/defi/mod.rs
  crates/model/src/defi/wallet.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add ERC-20 token tracking support in `BlockchainExecutionClient` configuration
  crates/adapters/blockchain/bin/node_wallet.rs
  crates/adapters/blockchain/src/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Integrate token balance fetching in `BlockchainExecutionClient`
  crates/adapters/blockchain/src/execution/client.rs
  crates/adapters/blockchain/src/factories.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Yanked out the reconcilliation
  nautilus_trader/adapters/dydx/execution.py
Due: check-non-latin-text

Fix security issues and code quality improvements
  .gitignore
  nautilus_trader/adapters/binance/websocket/client.py
  nautilus_trader/backtest/models/fee.pyx
  nautilus_trader/backtest/models/fill.pyx
  nautilus_trader/backtest/models/latency.pyx
  nautilus_trader/common/config.py
  nautilus_trader/persistence/funcs.py
Due: check-non-latin-text

Implement dYdX v4 order submission via gRPC
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/grpc/mod.rs
  crates/adapters/dydx/src/lib.rs
  crates/adapters/dydx/src/proto/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add unit tests for dYdX order submitter conversion functions
  crates/adapters/dydx/src/execution/submitter.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add dYdX adapter analysis and TODO tracking documentation
  docs/GITHUB_ISSUES_QUEUE.md
  docs/TODO_ANALYSIS_REPORT.md
  docs/dydx_proto_analysis.md
  docs/dydx_proto_remediation_plan.md
  docs/dydx_proto_summary.md
Due: check-non-latin-text

Revert dYdX gRPC implementation to stub state
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/grpc/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix dYdX adapter dependency version conflicts
  Cargo.lock
  crates/adapters/dydx/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Add dYdX adapter issues and implementation status documentation
  crates/adapters/dydx/docs/ISSUES.md
Due: check-non-latin-text

Reverted the precommit formatting
  .pre-commit-config.yaml
Due: check-non-latin-text

Made the phrasing more explicit
  nautilus_trader/adapters/dydx/execution.py
Due: check-non-latin-text

Fix extract_raw_symbol to remove both venue and perpetual suffixes for dYdX ticker format
  crates/adapters/dydx/src/common/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Move time-in-force and order-side conversions to common/parse.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/dydx/src/common/parse.rs
  crates/adapters/dydx/src/data/mod.rs
  crates/adapters/dydx/src/execution/submitter.rs
  crates/common/src/lib.rs
  crates/common/src/symbols.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Move extract_raw_symbol to adapter-specific common/parse.rs for dYdX and Bybit
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/dydx/src/common/parse.rs
  crates/adapters/dydx/src/data/mod.rs
  crates/common/src/lib.rs
  crates/common/src/symbols.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement gRPC order execution with TLS for dYdX v4 adapter using dydx-proto
  Cargo.lock
  crates/adapters/dydx/Cargo.toml
  crates/adapters/dydx/bin/grpc_exec.rs
  crates/adapters/dydx/src/common/consts.rs
  crates/adapters/dydx/src/data/mod.rs
  crates/adapters/dydx/src/error.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/grpc/client.rs
  crates/adapters/dydx/src/grpc/mod.rs
  crates/adapters/dydx/src/grpc/order.rs
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/src/lib.rs
  crates/adapters/dydx/src/proto/mod.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/dydx/src/grpc/order.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add comprehensive state of the art analysis document
  docs/STATE_OF_THE_ART_ANALYSIS.md
Due: check-non-latin-text

Handle non-standard rate limit errors in JSON-RPC responses
  crates/adapters/blockchain/src/rpc/http.rs
  crates/model/src/defi/rpc.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add comprehensive GitHub issues and deep dive analysis documents
  docs/DEEP_DIVE_ANALYSIS.md
  docs/RECOMMENDED_GITHUB_ISSUES.md
Due: check-non-latin-text

Made the cancel tracking configurable
  nautilus_trader/adapters/dydx/common/errors.py
  nautilus_trader/adapters/dydx/config.py
  nautilus_trader/adapters/dydx/execution.py
Due: check-non-latin-text

Exposed DYDXAccountGRPCAPI logging in a standard Nautilus way
  nautilus_trader/adapters/dydx/grpc/account.py
Due: check-non-latin-text

allow streaming `Instrument` child
  nautilus_trader/persistence/writer.py
Due: check-non-latin-text

fix missing replace existing config
  nautilus_trader/persistence/writer.py
  nautilus_trader/system/kernel.py
Due: check-non-latin-text

add trailing comma
  nautilus_trader/system/kernel.py
Due: check-non-latin-text

Add `RpcLog` structure for Ethereum JSON-RPC logs and deserialization tests
  crates/model/src/defi/rpc.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add `get_logs` method to RPC client for fetching blockchain event logs
  crates/adapters/blockchain/src/rpc/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor `validate_event_signature_hash` and `extract_address` to use core parsing utilities
  crates/adapters/blockchain/src/hypersync/helpers.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add core extraction utilities for parsing Ethereum event logs
  crates/adapters/blockchain/src/exchanges/parsing/core.rs
  crates/adapters/blockchain/src/exchanges/parsing/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add helper functions for parsing Ethereum RPC logs
  crates/adapters/blockchain/src/rpc/helpers.rs
  crates/adapters/blockchain/src/rpc/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
