Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Update Databento publishers.json
  crates/adapters/databento/publishers.json
  nautilus_trader/adapters/databento/publishers.json
Due: none

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve zero-sized trades handling for Tardis CSV loader
  Cargo.lock
  RELEASES.md
  crates/adapters/tardis/Cargo.toml
  crates/adapters/tardis/src/csv/load.rs
  crates/adapters/tardis/src/csv/stream.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Update Databento data loader test
  tests/integration_tests/adapters/databento/test_loaders.py
Due: none

Fix parallel pytest tests and enable them (#2808)
  .github/workflows/build.yml
  Makefile
  nautilus_trader/test_kit/mocks/data.py
  tests/acceptance_tests/test_backtest.py
  tests/integration_tests/adapters/betfair/conftest.py
  tests/integration_tests/adapters/betfair/test_betfair_persistence.py
  tests/integration_tests/adapters/binance/test_core_types.py
  tests/integration_tests/adapters/dydx/test_execution.py
  tests/integration_tests/infrastructure/test_cache_database_postgres.py
  tests/integration_tests/infrastructure/test_cache_database_redis.py
  tests/performance_tests/test_perf_catalog.py
  tests/unit_tests/backtest/test_config.py
  tests/unit_tests/backtest/test_node.py
  tests/unit_tests/common/test_actor.py
  tests/unit_tests/data/test_engine.py
  tests/unit_tests/persistence/conftest.py
  tests/unit_tests/serialization/test_arrow.py
Due: none

Update dependencies and release notes
  .pre-commit-config.yaml
  RELEASES.md
  pyproject.toml
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add multiplier field for CurrencyPair instrument
  RELEASES.md
  crates/adapters/coinbase_intx/src/http/parse.rs
  crates/adapters/coinbase_intx/src/websocket/parse.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/tardis/src/http/instruments.rs
  crates/adapters/tardis/src/http/parse.rs
  crates/common/src/cache/tests.rs
  crates/infrastructure/src/sql/models/instruments.rs
  crates/model/src/defi/dex.rs
  crates/model/src/instruments/currency_pair.rs
  crates/model/src/instruments/stubs.rs
  crates/model/src/python/instruments/currency_pair.rs
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/model/instruments/currency_pair.pyx
  nautilus_trader/serialization/arrow/implementations/instruments.py
  tests/unit_tests/model/instruments/test_currency_pair_pyo3.py
Due: fmt, cargo-clippy, cargo-doc

Remove mold as default linker in CI
  .docker/DockerfileUbuntu
  .github/OVERVIEW.md
  .github/actions/common-setup/action.yml
Due: none

Refine benchmarking guide
  docs/developer_guide/benchmarking.md
Due: none

Refine handling of zero-sized trades for Tardis
  crates/adapters/tardis/src/csv/load.rs
  crates/adapters/tardis/src/csv/stream.rs
Due: fmt, cargo-clippy, cargo-doc

Fix purging of open contingent orders
  RELEASES.md
  crates/common/src/cache/mod.rs
  nautilus_trader/cache/cache.pyx
  tests/unit_tests/cache/test_execution.py
Due: fmt, cargo-clippy, cargo-doc

Fix Tardis exchange-venue mapping for Kraken Futures
  RELEASES.md
  crates/adapters/tardis/src/csv/stream.rs
  crates/adapters/tardis/src/enums.rs
  docs/integrations/tardis.md
  nautilus_trader/adapters/tardis/common.py
  tests/integration_tests/adapters/tardis/sandbox/instrument_provider.py
Due: fmt, cargo-clippy, cargo-doc

Always use the same way to get the instrument id
  nautilus_trader/adapters/dydx/data.py
Due: none

Fix formatting
  nautilus_trader/adapters/dydx/data.py
Due: none

Upgrade usage so it's compatible with web3 7.21.1
  nautilus_trader/adapters/polymarket/scripts/set_allowances.py
Due: none

Add support for Option Combos in IB
  docs/developer_guide/rust.md
  examples/live/interactive_brokers/run_ratio_spread_1x2_qty3.py
  examples/live/interactive_brokers/with_databento_instrument_id.py
  nautilus_trader/adapters/interactive_brokers/client/account.py
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/client/order.py
  nautilus_trader/adapters/interactive_brokers/client/wrapper.py
  nautilus_trader/adapters/interactive_brokers/common.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  nautilus_trader/adapters/interactive_brokers/factories.py
  nautilus_trader/adapters/interactive_brokers/historical/client.py
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  nautilus_trader/execution/engine.pxd
  nautilus_trader/execution/engine.pyx
  nautilus_trader/model/identifiers.pxd
  nautilus_trader/model/identifiers.pyx
  nautilus_trader/test_kit/debug_helpers.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_order.py
  tests/integration_tests/adapters/interactive_brokers/conftest.py
  tests/integration_tests/adapters/interactive_brokers/test_instrument_parsing_spreads.py
  tests/integration_tests/adapters/interactive_brokers/test_option_spread_execution.py
  tests/integration_tests/adapters/interactive_brokers/test_providers.py
  tests/integration_tests/adapters/interactive_brokers/test_spread_execution.py
  tests/unit_tests/execution/test_engine_leg_fills.py
  tests/unit_tests/model/test_identifiers.py
Due: none

Fix formatting
  nautilus_trader/adapters/polymarket/scripts/set_allowances.py
Due: none

Fix formatting v2
  nautilus_trader/adapters/polymarket/scripts/set_allowances.py
Due: none

Improve robustness of Tardis trades parsing
  crates/adapters/tardis/src/csv/load.rs
  crates/adapters/tardis/src/csv/mod.rs
  crates/adapters/tardis/src/csv/stream.rs
Due: fmt, cargo-clippy, cargo-doc

Refine data concept documentation
  docs/concepts/data.md
Due: none

Add support for Option Combos in IB (#2812)
  docs/developer_guide/rust.md
  examples/live/interactive_brokers/run_ratio_spread_1x2_qty3.py
  examples/live/interactive_brokers/with_databento_instrument_id.py
  nautilus_trader/adapters/interactive_brokers/client/account.py
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/client/order.py
  nautilus_trader/adapters/interactive_brokers/client/wrapper.py
  nautilus_trader/adapters/interactive_brokers/common.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  nautilus_trader/adapters/interactive_brokers/factories.py
  nautilus_trader/adapters/interactive_brokers/historical/client.py
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  nautilus_trader/execution/engine.pxd
  nautilus_trader/execution/engine.pyx
  nautilus_trader/model/identifiers.pxd
  nautilus_trader/model/identifiers.pyx
  nautilus_trader/test_kit/debug_helpers.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_order.py
  tests/integration_tests/adapters/interactive_brokers/conftest.py
  tests/integration_tests/adapters/interactive_brokers/test_instrument_parsing_spreads.py
  tests/integration_tests/adapters/interactive_brokers/test_option_spread_execution.py
  tests/integration_tests/adapters/interactive_brokers/test_providers.py
  tests/integration_tests/adapters/interactive_brokers/test_spread_execution.py
  tests/unit_tests/execution/test_engine_leg_fills.py
  tests/unit_tests/model/test_identifiers.py
Due: none

Upgrade web3 for Polymarket allowances script (#2814)
  nautilus_trader/adapters/polymarket/scripts/set_allowances.py
Due: none

Update request_aggregated_bars example (#2815)
  docs/concepts/data.md
Due: none

Standardize ordering of execution client query methods
  crates/backtest/src/execution_client.rs
  crates/execution/src/client/mod.rs
  crates/execution/src/engine/mod.rs
  docs/concepts/execution.md
  nautilus_trader/test_kit/mocks/exec_clients.py
Due: fmt, cargo-clippy, cargo-doc
