Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Harden release verifier manual publishes
  .github/OVERVIEW.md
  .github/workflows/build.yml
  SECURITY.md
  docs/developer_guide/releases.md
  scripts/ci/test-verify-published-registries-crates.bash
  scripts/ci/verify-published-registries.bash
Due: check-non-latin-text

Add nightly Cargo publish plan check
  .github/OVERVIEW.md
  .github/workflows/nightly-tests.yml
Due: check-non-latin-text

Enable portfolio Clippy pedantic
  crates/portfolio/benches/portfolio.rs
  crates/portfolio/src/config.rs
  crates/portfolio/src/lib.rs
  crates/portfolio/src/manager.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document model mark/index bar cutover
  crates/model/src/enums.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align adapter instrument requests in Rust
  crates/adapters/bitmex/src/data.rs
  crates/adapters/bitmex/tests/http.rs
  crates/adapters/databento/src/data.rs
  crates/adapters/deribit/src/data.rs
  crates/adapters/deribit/tests/data_client.rs
  crates/adapters/kraken/src/data/futures.rs
  crates/adapters/kraken/src/data/spot.rs
  crates/adapters/kraken/tests/http.rs
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Cargo publish dry-run check
  .github/OVERVIEW.md
  .github/workflows/nightly-tests.yml
  .pre-commit-config.yaml
  scripts/ci/publish-cargo-crates.sh
  scripts/ci/test-publish-cargo-crates-check.bash
Due: check-non-latin-text

Add MIN_NOTIONAL_USDC constant to set minimum notional amount in instrument parsing
  crates/adapters/hyperliquid/src/http/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden CI registry verifier retries
  scripts/ci/release-verification-retry.bash
  scripts/ci/test-release-verification-retry.bash
  scripts/ci/test-verify-published-registries-crates.bash
  scripts/ci/verify-published-registries.bash
Due: none

Refine Binance Futures WS execution parsing
  crates/adapters/binance/src/futures/websocket/streams/dispatch.rs
  crates/adapters/binance/src/futures/websocket/streams/parse_exec.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Lighter getMakerOnlyApiKeys endpoint
  crates/adapters/lighter/src/http/client.rs
  crates/adapters/lighter/src/http/models.rs
  crates/adapters/lighter/src/http/query.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Handle Lighter maker-only API keys in integrator approval
  crates/adapters/lighter/src/execution.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document Lighter maker-only API key handling
  crates/adapters/lighter/README.md
Due: check-non-latin-text

Improve Binance Spot WS execution setup
  crates/adapters/binance/src/spot/execution.rs
  crates/adapters/binance/tests/spot/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Enable risk Clippy pedantic
  crates/risk/src/engine/config.rs
  crates/risk/src/engine/mod.rs
  crates/risk/src/lib.rs
  crates/risk/src/sizing.rs
  crates/risk/tests/risk_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

style: apply docformatter
  tests/integration_tests/adapters/interactive_brokers/test_execution_reconciliation.py
Due: check-non-latin-text

Fix Lighter maker-only key lookup authentication (#4234)
  crates/adapters/lighter/README.md
  crates/adapters/lighter/src/execution.rs
  crates/adapters/lighter/src/http/client.rs
  crates/adapters/lighter/src/http/models.rs
  crates/adapters/lighter/src/http/query.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Lighter maker-only key auth transport
  crates/adapters/lighter/examples/node_exec_tester.rs
  crates/adapters/lighter/src/http/client.rs
  crates/adapters/lighter/src/http/query.rs
  crates/adapters/lighter/tests/exec_client.rs
  crates/adapters/lighter/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance Futures hedge reduce-only orders in Rust
  crates/adapters/binance/src/futures/conversions.rs
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/tests/futures/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket RTDS custom data subscriptions (#4214)
  Cargo.lock
  crates/adapters/polymarket/Cargo.toml
  crates/adapters/polymarket/src/common/urls.rs
  crates/adapters/polymarket/src/config.rs
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/data_types.rs
  crates/adapters/polymarket/src/lib.rs
  crates/adapters/polymarket/src/python/config.rs
  crates/adapters/polymarket/src/python/mod.rs
  crates/adapters/polymarket/src/rtds.rs
  crates/adapters/polymarket/test_data/rtds_crypto_prices_subscribe.json
  crates/adapters/polymarket/test_data/rtds_crypto_prices_update.json
  crates/adapters/polymarket/test_data/rtds_equity_prices_subscribe.json
  crates/adapters/polymarket/test_data/rtds_equity_prices_update.json
  python/nautilus_trader/adapters/polymarket/__init__.pyi
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Hyperliquid min notionals
  crates/adapters/hyperliquid/src/http/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Enable trading Clippy pedantic
  crates/trading/src/algorithm/config.rs
  crates/trading/src/algorithm/mod.rs
  crates/trading/src/algorithm/twap.rs
  crates/trading/src/examples/strategies/composite_market_maker/strategy.rs
  crates/trading/src/examples/strategies/delta_neutral_vol/tests.rs
  crates/trading/src/examples/strategies/grid_mm/strategy.rs
  crates/trading/src/examples/strategies/hurst_vpin_directional/strategy.rs
  crates/trading/src/lib.rs
  crates/trading/src/python/sessions.rs
  crates/trading/src/python/strategy.rs
  crates/trading/src/sessions.rs
  crates/trading/src/strategy/config.rs
  crates/trading/src/strategy/core.rs
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance Futures empty algo order IDs
  crates/adapters/binance/src/futures/http/models.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add network handshake-drop liveness test
  crates/network/tests/turmoil_websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add network reconnect-send shutdown test
  crates/network/tests/turmoil_websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add network auth-wait shutdown test
  crates/network/src/websocket/auth.rs
  crates/network/src/websocket/client.rs
  crates/network/tests/turmoil_websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add network active-reconnect drop test
  crates/network/tests/turmoil_websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add network partition-reconnect liveness test
  crates/network/tests/turmoil_websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reject network zero reconnect timeouts
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve network reconnect coverage
  crates/network/src/python/websocket.rs
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/types.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add network no-read backpressure test
  crates/network/tests/turmoil_websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add network mixed WebSocket order test
  crates/network/tests/turmoil_websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add network auth buffer property specs
  crates/network/src/websocket/auth.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add network first-read-drop liveness test
  crates/network/tests/turmoil_websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add network WebSocket liveness tests
  crates/network/tests/turmoil_websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add network queued write drop test
  crates/network/tests/turmoil_websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix network terminal auth waits
  crates/network/src/websocket/auth.rs
  crates/network/src/websocket/client.rs
  crates/network/tests/turmoil_websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize formatting
  crates/adapters/polymarket/src/python/mod.rs
  crates/adapters/polymarket/src/rtds.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Enable backtest Clippy pedantic
  crates/backtest/src/config.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/execution_client.rs
  crates/backtest/src/lib.rs
  crates/backtest/src/modules/fx_rollover.rs
  crates/backtest/src/python/engine.rs
  crates/backtest/src/python/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket subscription membership checks
  nautilus_trader/adapters/polymarket/data.py
  nautilus_trader/data/client.pxd
  nautilus_trader/data/client.pyx
  tests/integration_tests/adapters/polymarket/test_data_client.py
  tests/unit_tests/data/test_client.py
Due: check-non-latin-text

Optimize DataEngine subscription membership checks
  nautilus_trader/data/engine.pyx
  tests/unit_tests/data/test_engine.py
Due: check-non-latin-text

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
