Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Fix Polymarket terminal condition retirement
  crates/adapters/polymarket/src/data/auto_load.rs
  crates/adapters/polymarket/src/data/dispatch.rs
  crates/adapters/polymarket/src/data/instruments.rs
  crates/adapters/polymarket/src/data/lifecycle.rs
  crates/adapters/polymarket/src/data/runtime.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Report Lighter incomplete fill history
  crates/adapters/lighter/src/execution.rs
  crates/adapters/lighter/tests/exec_client.rs
  docs/integrations/lighter.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add regression coverage for warm-restart reconciliation guard
  crates/live/tests/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance Futures silent position report drop
  crates/adapters/binance/src/futures/execution.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix MovingAverageConvergenceDivergence input count
  crates/indicators/src/momentum/macd.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance Futures USD-M testnet WS host mismatch
  crates/adapters/binance/src/common/consts.rs
  crates/adapters/binance/src/common/urls.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reject a GTD market exit time in force in strategy config (#4762)
  crates/trading/src/strategy/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Cap Bybit open-only closed pass to one page
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Validate market exit interval against nanosecond overflow
  crates/trading/src/strategy/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Commit cached position state before persisting it (#4767)
  crates/backtest/src/exchange.rs
  crates/backtest/tests/exchange.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/testkit/src/cache.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove CleanDrop network cleanup abstraction
  RELEASES.md
  crates/core/src/drop.rs
  crates/core/src/lib.rs
  crates/network/src/socket/client.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove stale drop_non_drop clippy suppression
  .cargo/config.toml
  Makefile
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Enable clippy redundant closure lint for pedantic crates
  Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/params.rs
  crates/core/src/string/stack_str.rs
  crates/live/src/execution/manager.rs
  crates/live/src/lib.rs
  crates/model/src/data/custom.rs
  crates/model/src/defi/pool_analysis/tests.rs
  crates/model/src/events/order/initialized.rs
  crates/model/src/instruments/synthetic.rs
  crates/model/src/lib.rs
  crates/model/src/orderbook/book.rs
  crates/model/src/orderbook/ladder.rs
  crates/model/src/orderbook/level.rs
  crates/model/src/orderbook/tests.rs
  crates/model/src/orders/list.rs
  crates/model/src/orders/mod.rs
  crates/model/src/orders/stop_limit.rs
  crates/model/src/position.rs
  crates/model/src/python/events/order/initialized.rs
  crates/model/src/python/orders/limit.rs
  crates/model/src/python/orders/limit_if_touched.rs
  crates/model/src/python/orders/market.rs
  crates/model/src/python/orders/market_if_touched.rs
  crates/model/src/python/orders/market_to_limit.rs
  crates/model/src/python/orders/stop_limit.rs
  crates/model/src/python/orders/stop_market.rs
  crates/model/src/python/orders/trailing_stop_limit.rs
  crates/model/src/python/orders/trailing_stop_market.rs
  crates/model/src/python/reports/order.rs
  crates/network/src/lib.rs
  crates/network/src/tls.rs
  crates/trading/src/algorithm/mod.rs
  crates/trading/src/algorithm/twap.rs
  crates/trading/src/examples/strategies/composite_market_maker/strategy.rs
  crates/trading/src/examples/strategies/grid_mm/strategy.rs
  crates/trading/src/lib.rs
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Defer backtest order events during immediate dispatch (#4763)
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/execution_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket WebSocket heartbeat and liveness
  crates/adapters/polymarket/src/websocket/client.rs
  crates/adapters/polymarket/src/websocket/handler.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Derive signing oracle vectors
  .gitleaks.toml
  crates/adapters/derive/licenses/THIRD_PARTY_LICENSES.md
  crates/adapters/derive/src/signing/eip712.rs
  crates/adapters/derive/src/signing/mod.rs
  crates/adapters/derive/test_data/common/signing_trade_action_vectors.json
  crates/adapters/derive/tests/oracle-py/generate_oracle.py
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Centralize Polymarket approval plan (#4773)
  crates/adapters/polymarket/bin/set_allowances.rs
  crates/adapters/polymarket/src/signing/eip712.rs
  crates/adapters/polymarket/src/signing/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Support IB canonical OPRA option IDs (#4774)
  crates/adapters/interactive_brokers/src/common/parse.rs
  crates/adapters/interactive_brokers/src/execution/core_tests.rs
  crates/adapters/interactive_brokers/src/providers/instruments.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Pass the simulation cfg through cargo --config
  Makefile
  scripts/ci/test-build-artifact-reuse.bash
Due: none

Fix Clock callback cancellation doc comments
  crates/common/src/clock.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clarify shared cell and Python reference ownership
  crates/backtest/src/execution_client.rs
  crates/core/src/python/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine value types concept documentation
  docs/concepts/value_types.md
Due: check-non-latin-text

Refine synthetics concept documentation
  docs/concepts/synthetics.md
Due: check-non-latin-text

Refine accounting concept documentation
  docs/concepts/accounting.md
Due: check-non-latin-text

Refine visualization concept documentation
  docs/concepts/visualization.md
Due: check-non-latin-text

Fix MovingAverageConvergenceDivergence input count (#4779)
  crates/indicators/src/momentum/macd.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Lighter socket state reporting and liveness timeout
  crates/adapters/lighter/src/common/consts.rs
  crates/adapters/lighter/src/common/mod.rs
  crates/adapters/lighter/src/common/socket.rs
  crates/adapters/lighter/src/data/mod.rs
  crates/adapters/lighter/src/execution.rs
  crates/adapters/lighter/src/websocket/client.rs
  crates/adapters/lighter/tests/data_client.rs
  crates/adapters/lighter/tests/exec_client.rs
  crates/adapters/lighter/tests/websocket.rs
  docs/concepts/live.md
  docs/integrations/lighter.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Resolve the failed-disposal dead end for components
  crates/common/src/component.rs
  crates/system/src/trader.rs
  docs/concepts/architecture.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Preserve execution client source during startup reconciliation
  crates/execution/src/client/mod.rs
  crates/live/src/execution/manager.rs
  crates/live/src/node/mod.rs
  crates/live/tests/manager.rs
  crates/live/tests/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OrderBook out-of-order snapshot reporting
  RELEASES.md
  crates/model/src/orderbook/book.rs
  crates/model/src/orderbook/tests.rs
  docs/concepts/order_book.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Rust concept documentation
  docs/concepts/rust.md
Due: check-non-latin-text

Accrue position fees across a fee growth counter wrap (#4768)
  crates/model/src/defi/pool_analysis/position.rs
  crates/model/src/defi/pool_analysis/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Commit cached add transaction state before persisting it
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/common/src/python/cache.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Validate purge retention minutes and remove purge panics
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/execution/src/engine/config.rs
  crates/live/src/node/config.rs
  crates/model/src/accounts/base.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refuse a cache position update for an unknown ID
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Consolidate Python component registration paths
  crates/backtest/src/python/engine.rs
  crates/backtest/src/python/node.rs
  crates/common/src/python/actor.rs
  crates/common/src/python/mod.rs
  crates/common/src/python/wrappers.rs
  crates/live/src/python/node.rs
  crates/system/src/python/mod.rs
  crates/system/src/python/registration.rs
  crates/system/src/trader.rs
  crates/trading/src/python/strategy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Resume a stopped TWAP execution schedule
  crates/trading/src/algorithm/mod.rs
  crates/trading/src/algorithm/twap.rs
  crates/trading/src/python/algorithm.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Python exec algorithm registration rollback
  crates/common/src/python/wrappers.rs
  crates/system/src/python/registration.rs
  crates/system/src/trader.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Support LiveNode Python hosted async execution
  MIGRATION_V2.md
  RELEASES.md
  crates/infrastructure/src/redis/cache.rs
  crates/live/src/node/mod.rs
  crates/live/src/node/state.rs
  crates/live/src/python/mod.rs
  crates/live/src/python/node.rs
  docs/concepts/adapters.md
  docs/concepts/architecture.md
  docs/concepts/index.md
  docs/concepts/live.md
  docs/concepts/python.md
  docs/concepts/rust.md
  docs/how_to/configure_live_trading.md
  examples/live/blockchain/node_test_factory.py
  python/nautilus_trader/live/__init__.pyi
  python/pyproject.toml
  python/tests/integration/test_live_node_cache.py
  python/tests/integration/test_live_node_hosted.py
  python/tests/integration/test_live_node_loops.py
  python/tests/integration/test_live_node_uvicorn.py
  python/tests/unit/test_generate_stubs.py
  python/tests/unit/test_live_node.py
  python/uv.lock
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Order fill overflow at Quantity domain max
  RELEASES.md
  crates/model/src/accounts/margin.rs
  crates/model/src/orders/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
