Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Complete Cache top-of-book tests and documentation
  crates/common/src/python/cache.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Gate report task follow-up queries during shutdown grace (#4982)
  crates/live/src/node/mod.rs
  crates/live/tests/integration/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clarify callback dispatch guides
  docs/developer_guide/callback_dispatch.md
  docs/developer_guide/design_principles.md
  docs/developer_guide/runtime_conformance.md
Due: check-non-latin-text

Clear LiveNode callback ownership during disposal
  crates/live/src/node/mod.rs
  docs/developer_guide/callback_dispatch.md
  docs/developer_guide/runtime_conformance.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document security-audit SARIF permission grant
  .github/workflows/build.yml
Due: check-non-latin-text

Share book recovery across OKX and Lighter
  RELEASES.md
  crates/adapters/lighter/src/book/mod.rs
  crates/adapters/lighter/src/book/recovery.rs
  crates/adapters/lighter/src/book/sync.rs
  crates/adapters/lighter/src/lib.rs
  crates/adapters/lighter/src/websocket/client.rs
  crates/adapters/lighter/src/websocket/error.rs
  crates/adapters/lighter/src/websocket/handler.rs
  crates/adapters/lighter/tests/integration/websocket.rs
  crates/adapters/okx/src/book/mod.rs
  crates/adapters/okx/src/book/recovery.rs
  crates/adapters/okx/src/book/sync.rs
  crates/adapters/okx/src/data.rs
  crates/adapters/okx/src/websocket/handler.rs
  crates/live/src/book/mod.rs
  crates/live/src/book/recovery.rs
  crates/live/src/book/snapshot.rs
  crates/live/src/lib.rs
  docs/developer_guide/adapters.md
  docs/integrations/lighter.md
  docs/integrations/okx.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Lighter use_gtd option for execution client (#4997)
  Cargo.lock
  crates/adapters/lighter/Cargo.toml
  crates/adapters/lighter/src/config.rs
  crates/adapters/lighter/src/execution.rs
  crates/adapters/lighter/src/python/config.rs
  crates/adapters/lighter/src/websocket/dispatch.rs
  crates/adapters/lighter/tests/integration/exec_client.rs
  docs/integrations/lighter.md
  python/nautilus_trader/adapters/lighter/__init__.pyi
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix historical BinanceBar custom data delivery (#5002)
  crates/adapters/binance/src/common/bar.rs
  crates/adapters/binance/src/futures/data.rs
  crates/adapters/binance/src/spot/data.rs
  crates/adapters/binance/tests/integration/futures/data_client.rs
  crates/adapters/binance/tests/integration/spot/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Betfair and engine snapshot reconciliation
  RELEASES.md
  crates/adapters/betfair/src/execution.rs
  crates/adapters/betfair/tests/integration/exec_client.rs
  crates/adapters/betfair/tests/integration/harness/mod.rs
  crates/adapters/betfair/tests/integration/live.rs
  crates/adapters/binance/src/spot/http/parse.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/adapters/kraken/tests/integration/exec_client.rs
  crates/execution/src/engine/mod.rs
  crates/execution/src/reconciliation/orders.rs
  crates/execution/tests/integration/exec_engine.rs
  crates/model/src/reports/mass_status.rs
  docs/concepts/execution/reconciliation.md
  docs/concepts/live.md
  docs/developer_guide/adapters.md
  docs/integrations/betfair.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Keep working orders when replacing a reconciliation lifecycle (#5003)
  crates/execution/src/reconciliation/positions.rs
  crates/execution/src/reconciliation/tests.rs
  crates/live/tests/integration/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix catalog re-export and DeFi persistence wiring
  crates/backtest/Cargo.toml
  crates/cli/Cargo.toml
  crates/event_store/Cargo.toml
  crates/persistence/src/backend/catalog.rs
  crates/pyo3/Cargo.toml
  crates/system/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update Kraken fee docs for public-rate fallback
  docs/integrations/kraken.md
Due: check-non-latin-text

Separate catalog fixtures into legacy and Arrow paths
  crates/persistence/Cargo.toml
  crates/persistence/examples/generate_arrow_fixtures.rs
  crates/persistence/src/backend/migration.rs
  crates/persistence/src/backend/parquet/io.rs
  crates/persistence/tests/integration/main.rs
  crates/persistence/tests/integration/test_catalog.rs
  crates/testkit/src/common.rs
  crates/testkit/tests/integration/common.rs
  crates/testkit/tests/integration/orderbook_integration.rs
  python/tests/unit/persistence/test_persistence.py
  test_data/nautilus/README.md
  test_data/nautilus/arrow/bars.parquet
  test_data/nautilus/arrow/deltas.parquet
  test_data/nautilus/arrow/quotes-3-groups-filter-query.parquet
  test_data/nautilus/arrow/quotes.parquet
  test_data/nautilus/arrow/trades.parquet
  test_data/nautilus/legacy/128-bit/bars.parquet
  test_data/nautilus/legacy/128-bit/deltas.parquet
  test_data/nautilus/legacy/128-bit/depths.parquet
  test_data/nautilus/legacy/128-bit/quotes-3-groups-filter-query.parquet
  test_data/nautilus/legacy/128-bit/quotes.parquet
  test_data/nautilus/legacy/128-bit/trades.parquet
  test_data/nautilus/legacy/64-bit/bars.parquet
  test_data/nautilus/legacy/64-bit/deltas.parquet
  test_data/nautilus/legacy/64-bit/depths.parquet
  test_data/nautilus/legacy/64-bit/quotes-3-groups-filter-query.parquet
  test_data/nautilus/legacy/64-bit/quotes.parquet
  test_data/nautilus/legacy/64-bit/trades.parquet
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add opt-in retention for unresolved submissions
  crates/adapters/okx/Cargo.toml
  crates/adapters/okx/tests/integration/exec_client.rs
  crates/adapters/okx/tests/integration/exec_client/submission_recovery.rs
  crates/common/src/msgbus/switchboard.rs
  crates/execution/src/engine/config.rs
  crates/execution/src/engine/mod.rs
  crates/execution/src/reconciliation/mod.rs
  crates/execution/src/reconciliation/orders.rs
  crates/live/src/execution/config.rs
  crates/live/src/execution/manager.rs
  crates/live/src/execution/mod.rs
  crates/live/src/execution/reconciliation.rs
  crates/live/src/execution/submission.rs
  crates/live/src/node/config.rs
  crates/live/src/node/mod.rs
  crates/live/src/python/config.rs
  crates/live/src/python/mod.rs
  crates/live/tests/integration/main.rs
  crates/live/tests/integration/manager.rs
  crates/live/tests/integration/submission_recovery.rs
  crates/model/src/orders/mod.rs
  crates/testkit/src/cache.rs
  docs/concepts/execution/policies.md
  docs/how_to/configure_live_trading.md
  python/nautilus_trader/live/__init__.pyi
  python/tests/unit/live/test_live_configs.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Pace Binance WebSocket subscriptions without a burst
  crates/adapters/binance/src/common/consts.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OrderBook warnings after sequence counter resets
  crates/model/src/orderbook/book.rs
  crates/model/src/orderbook/tests.rs
  crates/model/src/python/orderbook/book.rs
  docs/concepts/order_book.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix network keepalive test compile on Windows
  crates/network/src/net.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Cryptography TLS config first-use panic
  crates/cryptography/src/tls.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Restructure AGENTS.md and add portability rule
  AGENTS.md
Due: check-non-latin-text

Normalize persistence paths for Windows separators
  crates/persistence/src/backend/migration.rs
  crates/persistence/src/backend/parquet/catalog/store.rs
  crates/persistence/src/backend/parquet/io.rs
  crates/persistence/src/backend/parquet/paths.rs
  crates/persistence/src/common/paths.rs
  crates/persistence/src/common/storage.rs
  crates/persistence/src/python/backend/feather.rs
  crates/persistence/src/writer/promotion.rs
  crates/persistence/tests/integration/test_catalog.rs
  crates/persistence/tests/test_parquet_catalog.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OKX DST gate coverage and multi-instrument ordering
  .pre-commit-hooks/check_dst_conventions.sh
  .pre-commit-hooks/test_check_dst_conventions.sh
  crates/adapters/okx/src/book/sync.rs
  crates/adapters/okx/src/data.rs
  docs/concepts/dst.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Unify NautilusDataType on the model enum
  RELEASES.md
  crates/backtest/src/config.rs
  crates/model/src/data/mod.rs
  crates/model/src/python/data/mod.rs
  crates/persistence/bin/to_json.rs
  crates/persistence/bin/to_parquet.rs
  crates/persistence/src/backend/parquet/catalog/mod.rs
  crates/persistence/src/catalog/types.rs
  crates/persistence/src/common/arrow.rs
  crates/persistence/src/common/custom.rs
  crates/persistence/src/python/backend/session.rs
  crates/persistence/src/python/mod.rs
  python/nautilus_trader/model/__init__.pyi
  python/nautilus_trader/persistence/__init__.pyi
  python/tests/unit/backtest/test_backtest_configs.py
  python/tests/unit/persistence/test_persistence.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix non-terminating Bybit cursor pagination
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/tests/integration/pagination.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden CI environment bindings for secret jobs
  .github/OVERVIEW.md
  .github/workflows/build-docs.yml
  .github/workflows/nightly-merge.yml
Due: check-non-latin-text

Pin Kraken fee fallback tests to the venue error shape
  crates/adapters/kraken/tests/integration/exec_client.rs
  crates/adapters/kraken/tests/integration/http.rs
  docs/integrations/kraken.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Extend OKX DST wire tests and document the adapter contract
  .pre-commit-hooks/check_dst_conventions.sh
  .pre-commit-hooks/test_check_dst_conventions.sh
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/tests/integration/dst.rs
  docs/concepts/dst.md
  docs/developer_guide/adapters.md
  docs/integrations/okx.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Pace Binance WebSocket subscriptions without a burst (#5014)
  crates/adapters/binance/src/common/consts.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Preserve ExecutionEngine handoffs in later submit commands
  crates/execution/src/engine/mod.rs
  crates/execution/tests/integration/exec_engine.rs
  docs/concepts/execution/policies.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Record ExecutionEngine handoffs to external clients
  crates/execution/src/engine/mod.rs
  crates/execution/tests/integration/exec_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Expand Parquet catalog migration and streaming guides
  crates/persistence/src/backend/parquet/feather_session.rs
  docs/concepts/data/index.md
  docs/how_to/migrate_parquet_catalog.md
  docs/how_to/stream_parquet_catalog.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Widen Lighter market IDs to 64-bit
  RELEASES.md
  crates/adapters/lighter/benches/common/mod.rs
  crates/adapters/lighter/bin/flatten.rs
  crates/adapters/lighter/fuzz/fuzz_targets/fuzz_compute_tx_hash.rs
  crates/adapters/lighter/src/book/recovery.rs
  crates/adapters/lighter/src/book/sync.rs
  crates/adapters/lighter/src/common/symbol.rs
  crates/adapters/lighter/src/data/mod.rs
  crates/adapters/lighter/src/execution.rs
  crates/adapters/lighter/src/http/client.rs
  crates/adapters/lighter/src/http/models.rs
  crates/adapters/lighter/src/http/parse.rs
  crates/adapters/lighter/src/http/query.rs
  crates/adapters/lighter/src/signing/tx/encode.rs
  crates/adapters/lighter/src/signing/tx/types.rs
  crates/adapters/lighter/src/websocket/client.rs
  crates/adapters/lighter/src/websocket/dispatch.rs
  crates/adapters/lighter/src/websocket/handler.rs
  crates/adapters/lighter/src/websocket/messages.rs
  crates/adapters/lighter/test_data/README.md
  crates/adapters/lighter/test_data/http_order_book_details_widened_ids.json
  crates/adapters/lighter/test_data/http_order_books_widened_ids.json
  crates/adapters/lighter/test_data/signing_tx_oracle.json
  crates/adapters/lighter/test_data/ws_market_stats_update_single_widened.json
  crates/adapters/lighter/test_data/ws_order_book_subscribed_bad_body.json
  crates/adapters/lighter/test_data/ws_spot_market_stats_subscribed_single_bad_body.json
  crates/adapters/lighter/test_data/ws_spot_market_stats_subscribed_single_empty_mid.json
  crates/adapters/lighter/test_data/ws_spot_market_stats_update_single_widened.json
  crates/adapters/lighter/tests/integration/exec_client.rs
  crates/adapters/lighter/tests/integration/websocket.rs
  crates/adapters/lighter/tests/oracle-py/generate_oracle.py
  docs/integrations/lighter.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fall back to public Kraken fees when TradeVolume fails (#5005)
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/src/python/http_spot.rs
  crates/adapters/kraken/tests/integration/exec_client.rs
  crates/adapters/kraken/tests/integration/http.rs
  docs/integrations/kraken.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(indicators): retain period + 1 window at MAX_PERIOD in AroonOscillator
  crates/indicators/src/momentum/aroon.rs
  python/tests/unit/indicators/test_aroon.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add lightweight Python Cache top-of-book access (#5011)
  .pre-commit-hooks/test_check_actionlint.py
  crates/common/src/python/cache.rs
  python/nautilus_trader/common/__init__.pyi
  python/tests/unit/common/test_cache.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix serialization test import for standard precision
  crates/serialization/src/arrow/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make netting reopen cost independent of replay history
  crates/analysis/src/analyzer.rs
  crates/analysis/src/statistics/long_ratio.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/position.rs
  crates/event_store/src/replay.rs
  crates/execution/Cargo.toml
  crates/execution/benches/position_replay.rs
  crates/execution/src/engine/mod.rs
  crates/model/src/position.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove derived replay index from Position
  crates/analysis/src/analyzer.rs
  crates/analysis/src/statistics/long_ratio.rs
  crates/common/src/cache/mod.rs
  crates/execution/src/engine/mod.rs
  crates/model/src/position.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
