Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Update Makefile to use new docker compose syntax
  Makefile
Due: none

Fix clippy lints
  crates/persistence/src/backend/catalog_operations.rs
  crates/persistence/tests/test_catalog.rs
Due: fmt, cargo-clippy, cargo-doc

Refactor timer initialization for improved readability
  crates/common/src/clock.rs
Due: fmt, cargo-clippy, cargo-doc

Add immediate firing capability for time alerts and corresponding test (#2745)
  crates/common/src/clock.rs
Due: fmt, cargo-clippy, cargo-doc

Update Makefile to use new docker compose syntax (#2746)
  Makefile
Due: none

Update release notes
  RELEASES.md
Due: none

Added Finite State Machine implementation with error handling and tests
  crates/core/src/fsm.rs
Due: fmt, cargo-clippy, cargo-doc

Remove InvalidStateTrigger struct and its implementations from FSM
  crates/core/src/fsm.rs
Due: fmt, cargo-clippy, cargo-doc

Remove unused error handling import from FSM module
  crates/core/src/fsm.rs
Due: fmt, cargo-clippy, cargo-doc

Refine message pattern matching
  crates/common/src/messages/data/mod.rs
  crates/data/src/engine/mod.rs
  crates/live/src/runner.rs
Due: fmt, cargo-clippy, cargo-doc

Improve robustness of fill price parsing for Betfair
  RELEASES.md
  nautilus_trader/adapters/betfair/execution.py
  tests/integration_tests/adapters/betfair/test_betfair_execution.py
Due: none

Update dependencies and release notes
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Remove problematic negative balance check for margin accounts
  nautilus_trader/accounting/accounts/base.pxd
  nautilus_trader/accounting/accounts/base.pyx
  nautilus_trader/accounting/accounts/margin.pyx
  nautilus_trader/accounting/manager.pyx
  nautilus_trader/model/objects.pyx
  tests/acceptance_tests/test_backtest.py
Due: none

Update gitignore
  .gitignore
Due: none

Add Nautilus user agent header for Databento clients
  crates/adapters/databento/bin/sandbox.rs
  crates/adapters/databento/src/historical.rs
  crates/adapters/databento/src/live.rs
Due: fmt, cargo-clippy, cargo-doc

Reduce log level for no BetPosition for unrealized PnL to debug
  nautilus_trader/portfolio/portfolio.pyx
Due: none

Add accepted_buffer_ns filter param for own order methods on cache
  RELEASES.md
  nautilus_trader/cache/base.pxd
  nautilus_trader/cache/base.pyx
  nautilus_trader/cache/cache.pyx
  tests/unit_tests/execution/test_engine.py
Due: none

Improve backoff proptest strategy to avoid intermittent fails
  crates/network/tests/property_backoff.rs
Due: fmt, cargo-clippy, cargo-doc

Add `subscribe_order_book_deltas` support for IBKR
  nautilus_trader/adapters/interactive_brokers/client/common.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/client/wrapper.py
  nautilus_trader/adapters/interactive_brokers/data.py
Due: none

Add `subscribe_order_book_deltas` support for IBKR
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/client/wrapper.py
  nautilus_trader/adapters/interactive_brokers/data.py
Due: none

Add `subscribe_order_book_deltas` support for IBKR
  nautilus_trader/adapters/interactive_brokers/client/wrapper.py
Due: none

Add `subscribe_order_book_deltas` support for IBKR
  nautilus_trader/adapters/interactive_brokers/data.py
Due: none

Add `subscribe_order_book_deltas` support for IBKR
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
Due: none

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
