Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Parse Binance Futures MIN_NOTIONAL instrument filter (#4280)
  crates/adapters/binance/src/common/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Kraken spot order test timing races
  crates/adapters/kraken/src/websocket/dispatch/spot_orders.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Lighter blank private key env fallback
  crates/adapters/lighter/src/common/credential.rs
  docs/integrations/lighter.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement Lighter funding-rate pagination
  crates/adapters/lighter/src/data/mod.rs
  crates/adapters/lighter/src/http/client.rs
  crates/adapters/lighter/tests/http.rs
  docs/integrations/lighter.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine DeFi pool sync and snapshot validation fail-modes
  RELEASES.md
  crates/adapters/blockchain/src/data/core.rs
  crates/model/src/defi/data/swap_trade_info.rs
  crates/model/src/defi/pool_analysis/compare.rs
  crates/model/src/defi/pool_analysis/tests.rs
  docs/integrations/blockchain.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden IB PERM order reconciliation and commission handling
  crates/adapters/interactive_brokers/src/execution/core.rs
  crates/adapters/interactive_brokers/src/execution/core_orders.rs
  crates/adapters/interactive_brokers/src/execution/parse.rs
  nautilus_trader/adapters/interactive_brokers/client/order.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_order.py
  tests/integration_tests/adapters/interactive_brokers/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update Lighter integration docs
  docs/integrations/lighter.md
Due: check-non-latin-text

Refactor OrderEmulator component shape
  crates/execution/src/order_emulator/adapter.rs
  crates/execution/src/order_emulator/emulator.rs
  crates/system/src/kernel.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Share Lighter WS message rate limiter across data and exec clients
  crates/adapters/lighter/src/common/consts.rs
  crates/adapters/lighter/src/common/rate_limit.rs
  crates/adapters/lighter/src/websocket/client.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Wire OrderEmulator lifecycle paths
  crates/backtest/src/engine.rs
  crates/execution/src/order_emulator/adapter.rs
  crates/execution/src/order_emulator/emulator.rs
  crates/execution/src/order_emulator/handlers.rs
  crates/system/src/kernel.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Handle Binance Futures BNFCR credits currency
  RELEASES.md
  crates/adapters/binance/src/config.rs
  crates/adapters/binance/src/futures/conversions.rs
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/src/futures/http/models.rs
  crates/adapters/binance/src/futures/websocket/streams/dispatch.rs
  crates/adapters/binance/src/futures/websocket/streams/parse_exec.rs
  crates/adapters/binance/src/python/config.rs
  crates/adapters/binance/test_data/futures/user_data_json/account_update_bnfcr.json
  docs/integrations/binance.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OrderEmulator backtest acceptance
  crates/backtest/src/engine.rs
  crates/backtest/tests/backtest_engine.rs
  crates/execution/src/order_emulator/emulator.rs
  crates/model/src/orders/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Adjust logs for recoverable execution and Betfair paths
  crates/adapters/betfair/src/data.rs
  crates/adapters/betfair/src/execution.rs
  crates/adapters/betfair/src/stream/client.rs
  crates/execution/src/engine/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Share Lighter WS message rate limiter across clients (#4282)
  crates/adapters/lighter/src/common/consts.rs
  crates/adapters/lighter/src/common/rate_limit.rs
  crates/adapters/lighter/src/websocket/client.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden IB PERM order reconciliation and commission handling (#4281)
  crates/adapters/interactive_brokers/src/execution/core.rs
  crates/adapters/interactive_brokers/src/execution/core_orders.rs
  crates/adapters/interactive_brokers/src/execution/parse.rs
  nautilus_trader/adapters/interactive_brokers/client/order.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_order.py
  tests/integration_tests/adapters/interactive_brokers/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align adapter User-Agent headers on shared constant
  crates/adapters/architect_ax/src/websocket/data/client.rs
  crates/adapters/architect_ax/src/websocket/orders/client.rs
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/src/spot/http/client.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/tardis/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

polymarket: pass tick_scheme to BinaryOption test seeders
  crates/adapters/polymarket/src/data/lifecycle.rs
  crates/adapters/polymarket/src/data_runtime.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove unused core message module
  crates/common/src/msgbus/stubs.rs
  crates/core/src/lib.rs
  crates/core/src/message.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clean up core time and uuid internals
  crates/core/src/time.rs
  crates/core/src/uuid.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Enable EMA trailing backtest acceptance
  python/nautilus_trader/adapters/binance/__init__.pyi
  python/tests/acceptance/test_backtest.py
  python/tests/strategies/acceptance.py
Due: check-non-latin-text

Add Lighter WebSocket subscribe inflight gate
  RELEASES.md
  crates/adapters/lighter/src/common/consts.rs
  crates/adapters/lighter/src/common/rate_limit.rs
  crates/adapters/lighter/src/websocket/handler.rs
  docs/developer_guide/adapters.md
  docs/integrations/lighter.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Polymarket Rust expired market state handling (#4272)
  crates/adapters/polymarket/src/data/auto_load.rs
  crates/adapters/polymarket/src/data/dispatch.rs
  crates/adapters/polymarket/src/data/instruments.rs
  crates/adapters/polymarket/src/data/lifecycle.rs
  crates/adapters/polymarket/src/data/mod.rs
  crates/adapters/polymarket/src/data/requests.rs
  crates/adapters/polymarket/src/data/subscriptions.rs
  crates/adapters/polymarket/src/data_runtime.rs
  crates/adapters/polymarket/src/lib.rs
  crates/adapters/polymarket/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor Polymarket data runtime module and expiry check
  crates/adapters/polymarket/src/data/auto_load.rs
  crates/adapters/polymarket/src/data/dispatch.rs
  crates/adapters/polymarket/src/data/instruments.rs
  crates/adapters/polymarket/src/data/lifecycle.rs
  crates/adapters/polymarket/src/data/mod.rs
  crates/adapters/polymarket/src/data/runtime.rs
  crates/adapters/polymarket/src/filters.rs
  crates/adapters/polymarket/src/lib.rs
  crates/adapters/polymarket/src/resolve/watchlist.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix DataEngine synthetic bar subscription with multiple venues
  RELEASES.md
  nautilus_trader/data/engine.pyx
  tests/unit_tests/data/test_engine.py
Due: check-non-latin-text

Fix flaky position event log wait conditions in cache tests
  crates/infrastructure/tests/test_cache_database_postgres.rs
  crates/infrastructure/tests/test_cache_redis.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove non-negative constraint on Instrument min_price
  nautilus_trader/model/instruments/base.pyx
Due: check-non-latin-text

Fix BitMEX instrument bootstrap for unknown types
  RELEASES.md
  crates/adapters/bitmex/src/common/enums.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/http/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix mixed-precision order book delta catalog writes
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

Update dependencies and tool pins
  .github/workflows/build-v2.yml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/derive/fuzz/Cargo.lock
  crates/adapters/lighter/fuzz/Cargo.lock
  crates/serialization/generated/capnp/commands/data_capnp.rs
  crates/serialization/generated/capnp/commands/trading_capnp.rs
  crates/serialization/generated/capnp/common/base_capnp.rs
  crates/serialization/generated/capnp/common/enums_capnp.rs
  crates/serialization/generated/capnp/common/identifiers_capnp.rs
  crates/serialization/generated/capnp/common/types_capnp.rs
  crates/serialization/generated/capnp/data/market_capnp.rs
  crates/serialization/generated/capnp/events/account_capnp.rs
  crates/serialization/generated/capnp/events/order_capnp.rs
  crates/serialization/generated/capnp/events/position_capnp.rs
  crates/serialization/generated/capnp/events/system_capnp.rs
  python/pyproject.toml
  python/uv.lock
  scripts/maturin-version.bash
  tools.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add BitMEX book and funding requests
  crates/adapters/bitmex/src/data.rs
  crates/adapters/bitmex/src/execution.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/http/query.rs
  crates/adapters/bitmex/src/python/http.rs
  crates/adapters/bitmex/tests/http.rs
  docs/integrations/bitmex.md
  nautilus_trader/adapters/bitmex/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/bitmex/conftest.py
  tests/integration_tests/adapters/bitmex/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Deribit order sizing
  crates/adapters/deribit/src/common/parse.rs
  crates/adapters/deribit/src/execution.rs
  crates/adapters/deribit/tests/exec_client.rs
  docs/integrations/deribit.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix options Greeks bootstrap and warm-up in Rust
  crates/common/src/python/greeks.rs
  crates/data/src/engine/mod.rs
  crates/data/src/option_chains/manager.rs
  crates/data/tests/engine.rs
  docs/concepts/greeks.md
  docs/concepts/options.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add BatchModifyOrders wiring in Rust
  crates/adapters/sandbox/src/execution.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/execution_client.rs
  crates/common/src/clients/execution.rs
  crates/common/src/messages/execution/mod.rs
  crates/common/src/messages/execution/modify.rs
  crates/common/src/serialization/capnp/trading.rs
  crates/common/src/throttler.rs
  crates/event_store/src/capture/builtins.rs
  crates/event_store/src/replay.rs
  crates/execution/src/engine/mod.rs
  crates/execution/src/engine/stubs.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/order_emulator/emulator.rs
  crates/execution/tests/exec_engine.rs
  crates/live/src/execution.rs
  crates/live/src/node.rs
  crates/live/tests/plugin.rs
  crates/plugin/tests/surface_alignment.rs
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
  crates/serialization/generated/capnp/commands/trading_capnp.rs
  crates/serialization/schemas/capnp/commands/trading.capnp
  crates/testkit/src/testers/exec/tests.rs
  crates/trading/src/python/strategy.rs
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Cache instrument lookup error
  Cargo.lock
  crates/adapters/coinbase/src/data/mod.rs
  crates/adapters/derive/fuzz/Cargo.lock
  crates/adapters/derive/src/data.rs
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/kraken/src/http/futures/client.rs
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/lighter/fuzz/Cargo.lock
  crates/adapters/lighter/src/data/mod.rs
  crates/adapters/lighter/src/execution.rs
  crates/adapters/polymarket/src/data/mod.rs
  crates/adapters/polymarket/src/data/subscriptions.rs
  crates/adapters/sandbox/src/execution.rs
  crates/backtest/src/node.rs
  crates/common/Cargo.toml
  crates/common/src/cache/error.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/common/src/greeks.rs
  crates/common/src/python/greeks.rs
  crates/data/tests/engine.rs
  crates/trading/src/examples/strategies/composite_market_maker/strategy.rs
  crates/trading/src/examples/strategies/delta_neutral_vol/strategy.rs
  crates/trading/src/examples/strategies/grid_mm/strategy.rs
  crates/trading/src/examples/strategies/hurst_vpin_directional/strategy.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add common ClockApi for user-facing code
  crates/adapters/bybit/examples/node_greeks.rs
  crates/adapters/deribit/examples/node_greeks.rs
  crates/adapters/okx/examples/node_greeks.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/clock.rs
  crates/plugin/tests/authoring_conformance.rs
  crates/trading/src/examples/strategies/composite_market_maker/strategy.rs
  crates/trading/src/examples/strategies/delta_neutral_vol/strategy.rs
  crates/trading/src/examples/strategies/grid_mm/strategy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Cache currency lookup error
  crates/common/src/cache/error.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update Lighter integration docs
  RELEASES.md
  docs/integrations/lighter.md
Due: check-non-latin-text

Add Cache order lookup error
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/spot/execution.rs
  crates/adapters/bitmex/src/execution.rs
  crates/adapters/bybit/src/execution.rs
  crates/adapters/coinbase/src/execution.rs
  crates/adapters/deribit/src/execution.rs
  crates/adapters/derive/src/execution.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/adapters/lighter/src/execution.rs
  crates/adapters/okx/src/execution.rs
  crates/adapters/polymarket/src/execution/orders.rs
  crates/adapters/sandbox/src/execution.rs
  crates/backtest/src/execution_client.rs
  crates/common/src/cache/error.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/execution/src/client/core.rs
  crates/trading/src/algorithm/core.rs
  crates/trading/src/strategy/mod.rs
  docs/developer_guide/rust.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Cache position lookup error
  crates/common/src/cache/error.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Cache account lookup error
  crates/common/src/cache/error.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/execution/src/engine/mod.rs
  crates/portfolio/src/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
