Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

docs: record equities service recovery sequence
  deploy/equities/README.md
  docs/reviews/2026-03-11-equities-live-review.md
Due: check-non-latin-text

chore(equities): record strategy file swap
  deploy/equities/strategies/aapl_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/aapl_tradexyz_makerv4.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

test(equities): keep installer guard order strict
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text

docs(equities): use project env for installer prep
  deploy/equities/README.md
  deploy/equities/systemd/common.env.example
  ops/scripts/deploy/install_equities_systemd.sh
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text

fix(equities): restore makerv3 live data path
  crates/adapters/hyperliquid/src/http/parse.rs
  deploy/equities/strategies/aapl_tradexyz_makerv3.toml
  systems/flux/flux/api/app.py
  systems/flux/flux/common/quantity_units.py
  systems/flux/flux/runners/equities/run_node.py
  systems/flux/flux/strategies/makerv3/market_data.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
  tests/unit_tests/flux/common/test_quantity_units.py
  tests/unit_tests/flux/strategies/makerv3/test_market_data.py
  tests/unit_tests/flux/strategies/makerv3/test_runtime_params.py
  tests/unit_tests/flux/strategies/makerv3/test_strategy_lifecycle.py
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(equities): enroll tradexyz stock universe
  deploy/equities/README.md
  deploy/equities/equities.live.toml
  deploy/equities/strategies/README.md
  deploy/equities/strategies/equities.strategy.template.toml
  deploy/equities/systemd/flux-equities.target
  deploy/equities/systemd/flux-pulse.sudoers
  docs/plans/2026-03-11-equities-tradexyz-stock-universe.md
  docs/reviews/2026-03-11-equities-tradexyz-stock-universe.md
  fluxboard/docs/equities_contract.md
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

feat(equities): add tradexyz stock strategy configs
  deploy/equities/strategies/amd_tradexyz_makerv3.toml
  deploy/equities/strategies/amzn_tradexyz_makerv3.toml
  deploy/equities/strategies/baba_tradexyz_makerv3.toml
  deploy/equities/strategies/coin_tradexyz_makerv3.toml
  deploy/equities/strategies/crcl_tradexyz_makerv3.toml
  deploy/equities/strategies/crwv_tradexyz_makerv3.toml
  deploy/equities/strategies/googl_tradexyz_makerv3.toml
  deploy/equities/strategies/hood_tradexyz_makerv3.toml
  deploy/equities/strategies/hyundai_tradexyz_makerv3.toml
  deploy/equities/strategies/intc_tradexyz_makerv3.toml
  deploy/equities/strategies/meta_tradexyz_makerv3.toml
  deploy/equities/strategies/msft_tradexyz_makerv3.toml
  deploy/equities/strategies/mstr_tradexyz_makerv3.toml
  deploy/equities/strategies/mu_tradexyz_makerv3.toml
  deploy/equities/strategies/nflx_tradexyz_makerv3.toml
  deploy/equities/strategies/nvda_tradexyz_makerv3.toml
  deploy/equities/strategies/orcl_tradexyz_makerv3.toml
  deploy/equities/strategies/pltr_tradexyz_makerv3.toml
  deploy/equities/strategies/rivn_tradexyz_makerv3.toml
  deploy/equities/strategies/sndk_tradexyz_makerv3.toml
  deploy/equities/strategies/tsla_tradexyz_makerv3.toml
  deploy/equities/strategies/tsm_tradexyz_makerv3.toml
  deploy/equities/strategies/usar_tradexyz_makerv3.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refactor Kraken WS handler to emit venue types
  crates/adapters/kraken/examples/node_data_tester.rs
  crates/adapters/kraken/src/data/futures.rs
  crates/adapters/kraken/src/data/spot.rs
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/adapters/kraken/src/python/websocket_futures.rs
  crates/adapters/kraken/src/python/websocket_spot.rs
  crates/adapters/kraken/src/websocket/futures/client.rs
  crates/adapters/kraken/src/websocket/futures/handler.rs
  crates/adapters/kraken/src/websocket/futures/messages.rs
  crates/adapters/kraken/src/websocket/futures/mod.rs
  crates/adapters/kraken/src/websocket/futures/parse.rs
  crates/adapters/kraken/src/websocket/spot_v2/client.rs
  crates/adapters/kraken/src/websocket/spot_v2/handler.rs
  crates/adapters/kraken/src/websocket/spot_v2/messages.rs
  crates/adapters/kraken/tests/http_futures_private.rs
  crates/adapters/kraken/tests/websocket_spot.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OKX startup reconciliation cache recovery
  nautilus_trader/live/execution_engine.py
  nautilus_trader/test_kit/mocks/exec_clients.py
  tests/unit_tests/live/test_execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

fix(equities): clean generated envs on reinstall
  ops/scripts/deploy/install_equities_systemd.sh
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text

fix(equities): stabilize makerv3 multi-stock runtime
  deploy/equities/strategies/amd_tradexyz_makerv3.toml
  deploy/equities/strategies/amzn_tradexyz_makerv3.toml
  deploy/equities/strategies/baba_tradexyz_makerv3.toml
  deploy/equities/strategies/coin_tradexyz_makerv3.toml
  deploy/equities/strategies/crcl_tradexyz_makerv3.toml
  deploy/equities/strategies/crwv_tradexyz_makerv3.toml
  deploy/equities/strategies/googl_tradexyz_makerv3.toml
  deploy/equities/strategies/hood_tradexyz_makerv3.toml
  deploy/equities/strategies/hyundai_tradexyz_makerv3.toml
  deploy/equities/strategies/intc_tradexyz_makerv3.toml
  deploy/equities/strategies/meta_tradexyz_makerv3.toml
  deploy/equities/strategies/msft_tradexyz_makerv3.toml
  deploy/equities/strategies/mstr_tradexyz_makerv3.toml
  deploy/equities/strategies/mu_tradexyz_makerv3.toml
  deploy/equities/strategies/nflx_tradexyz_makerv3.toml
  deploy/equities/strategies/nvda_tradexyz_makerv3.toml
  deploy/equities/strategies/orcl_tradexyz_makerv3.toml
  deploy/equities/strategies/pltr_tradexyz_makerv3.toml
  deploy/equities/strategies/rivn_tradexyz_makerv3.toml
  deploy/equities/strategies/sndk_tradexyz_makerv3.toml
  deploy/equities/strategies/tsla_tradexyz_makerv3.toml
  deploy/equities/strategies/tsm_tradexyz_makerv3.toml
  deploy/equities/strategies/usar_tradexyz_makerv3.toml
  systems/flux/flux/strategies/makerv3/market_data.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/flux/strategies/makerv3/test_market_data.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(tokenmm): preserve nonzero netting position reports
  nautilus_trader/live/execution_engine.py
  tests/unit_tests/live/test_execution_engine.py
  tests/unit_tests/live/test_execution_recon.py
Due: check-non-latin-text

design: define canonical equities hl-ibkr contract
  deploy/equities/README.md
  deploy/equities/equities.live.toml
  docs/architecture/equities_hl_ibkr_prod_model.md
  docs/plans/2026-03-11-equities-hl-vs-ibkr-go-to-prod-plan.md
  fluxboard/docs/equities_contract.md
  systems/flux/flux/common/strategy_contracts.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

feat: add profile-scoped equities account projections
  docs/plans/2026-03-11-equities-hl-vs-ibkr-go-to-prod-plan.md
  systems/flux/flux/common/account_projection.py
  systems/flux/flux/common/keys.py
  systems/flux/flux/runners/equities/run_node.py
  systems/flux/flux/runners/equities/run_portfolio.py
  systems/flux/flux/runners/shared/portfolio_runner.py
  systems/flux/flux/runners/shared/profile_accounts.py
  systems/flux/flux/strategies/makerv4/reference_balances.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
  tests/unit_tests/flux/common/test_account_projection.py
Due: check-non-latin-text

feat: replace equities portfolio snapshot with multi-asset snapshot v2
  docs/plans/2026-03-11-equities-hl-vs-ibkr-go-to-prod-plan.md
  systems/flux/flux/common/portfolio_inventory.py
  systems/flux/flux/common/portfolio_snapshot.py
  systems/flux/flux/runners/shared/portfolio_runner.py
  tests/unit_tests/flux/common/test_keys.py
  tests/unit_tests/flux/common/test_portfolio_inventory.py
  tests/unit_tests/flux/common/test_portfolio_snapshot.py
Due: check-non-latin-text

fix: scope equities portfolio inventory by asset
  docs/plans/2026-03-11-equities-hl-vs-ibkr-go-to-prod-plan.md
  systems/flux/flux/runners/equities/run_portfolio.py
  systems/flux/flux/runners/shared/portfolio_runner.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
Due: check-non-latin-text

feat: route equities balances through portfolio snapshot v2
  docs/plans/2026-03-11-equities-hl-vs-ibkr-go-to-prod-plan.md
  systems/flux/flux/api/_payloads_balances.py
  systems/flux/flux/api/_payloads_common.py
  systems/flux/flux/api/app.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
Due: check-non-latin-text

style: normalize balances payload module header
  systems/flux/flux/api/_payloads_balances.py
Due: check-non-latin-text

backtest: include position snapshots in analyzer positions
  crates/backtest/src/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

style: finalize task 4 balances snapshot polish
  docs/plans/2026-03-11-equities-hl-vs-ibkr-go-to-prod-plan.md
  systems/flux/flux/api/_payloads_balances.py
  systems/flux/flux/api/_payloads_common.py
  tests/unit_tests/flux/api/test_app.py
Due: check-non-latin-text

backtest: adopt review suggestions for snapshot analyzer
  crates/backtest/src/engine.rs
  crates/backtest/tests/backtest_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

refactor: align makerv3 equities publishing with canonical portfolio model
  docs/plans/2026-03-11-equities-hl-vs-ibkr-go-to-prod-plan.md
  systems/flux/flux/runners/equities/run_node.py
  systems/flux/flux/strategies/makerv3/inventory.py
  systems/flux/flux/strategies/makerv3/publisher.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/flux/strategies/makerv3/test_inventory.py
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_strategy_lifecycle.py
Due: check-non-latin-text

fix: harden portfolio snapshot v2 decoding
  systems/flux/flux/common/portfolio_snapshot.py
  tests/unit_tests/flux/common/test_portfolio_snapshot.py
Due: check-non-latin-text

Refactor custom data PyO3 conversion
  crates/adapters/databento/src/types.rs
  crates/common/src/actor/tests.rs
  crates/model/src/data/custom.rs
  crates/model/src/data/registry.rs
  crates/model/src/data/stubs.rs
  crates/persistence/macros/src/custom.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor Betfair config and Python bridge
  crates/adapters/betfair/src/config.rs
  crates/adapters/betfair/src/factories.rs
  crates/adapters/betfair/src/http/client.rs
  crates/adapters/betfair/src/http/error.rs
  crates/adapters/betfair/src/lib.rs
  crates/adapters/betfair/src/python/config.rs
  crates/adapters/betfair/src/python/factories.rs
  crates/adapters/betfair/src/python/mod.rs
  crates/adapters/betfair/tests/common/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat: add explicit equities strategy capabilities and metadata
  docs/plans/2026-03-11-equities-hl-vs-ibkr-go-to-prod-plan.md
  systems/flux/flux/api/app.py
  systems/flux/flux/runners/equities/run_api.py
  systems/flux/flux/runners/equities/run_node.py
  systems/flux/flux/strategies/registry.py
  systems/flux/flux/strategies/shared/capabilities.py
  tests/unit_tests/examples/strategies/test_equities_run_api.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
Due: check-non-latin-text

fix(markouts): resolve fv for runtime strategy ids
  systems/flux/flux/persistence/markouts/actor.py
  tests/unit_tests/persistence/test_markout_persistence_actor.py
Due: check-non-latin-text

docs: record production equities redis endpoint
  deploy/equities/README.md
  deploy/equities/systemd/common.env.example
  tests/unit_tests/examples/strategies/test_equities_run_bridge.py
Due: check-non-latin-text

Improve v2 stub generator post-processing
  .supply-chain/audits.toml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/model/src/python/data/bar.rs
  python/generate_stubs.py
  python/nautilus_trader/_libnautilus/__init__.pyi
  python/nautilus_trader/adapters/blockchain/__init__.pyi
  python/nautilus_trader/core/__init__.pyi
  python/nautilus_trader/infrastructure/__init__.pyi
  python/nautilus_trader/model/__init__.pyi
  python/pyproject.toml
  python/tests/unit/test_generate_stubs.py
  python/uv.lock
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: add equities live trading readiness plan
  docs/plans/2026-03-12-equities-live-trading-readiness.md
Due: check-non-latin-text

design: add shared equities account scope contract
  deploy/equities/README.md
  deploy/equities/equities.live.toml
  deploy/equities/systemd/common.env.example
  docs/plans/2026-03-12-equities-live-trading-readiness.md
  systems/flux/flux/common/account_scopes.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/flux/common/test_account_projection.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix: align equities account scope module contract
  systems/flux/flux/common/account_scopes.py
Due: check-non-latin-text

refactor(markouts): clarify strategy id matching
  systems/flux/flux/persistence/markouts/actor.py
Due: check-non-latin-text

fix: merge shared equities contracts into node runtime
  docs/plans/2026-03-12-equities-live-trading-readiness.md
  systems/flux/flux/runners/equities/run_node.py
  systems/flux/flux/runners/shared/bootstrap.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
Due: check-non-latin-text

docs: align equities shared-config merge contract
  deploy/equities/README.md
  deploy/equities/strategies/README.md
  docs/plans/2026-03-12-equities-live-trading-readiness.md
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text

Refactor dYdX WS handler to emit venue types
  crates/adapters/dydx/bin/ws_data.rs
  crates/adapters/dydx/bin/ws_exec.rs
  crates/adapters/dydx/src/common/enums.rs
  crates/adapters/dydx/src/common/instrument_cache.rs
  crates/adapters/dydx/src/common/parse.rs
  crates/adapters/dydx/src/data.rs
  crates/adapters/dydx/src/error.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/types.rs
  crates/adapters/dydx/src/grpc/order.rs
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/src/http/mod.rs
  crates/adapters/dydx/src/http/models.rs
  crates/adapters/dydx/src/lib.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/dydx/src/websocket/client.rs
  crates/adapters/dydx/src/websocket/dispatch.rs
  crates/adapters/dydx/src/websocket/enums.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/mod.rs
  crates/adapters/dydx/tests/exec_client.rs
  crates/adapters/dydx/tests/grpc.rs
  crates/adapters/dydx/tests/http.rs
  crates/adapters/dydx/tests/websocket.rs
  docs/integrations/dydx.md
  docs/tutorials/dydx_grid_market_maker.md
  nautilus_trader/adapters/dydx/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat: build equities account projections from shared account scopes
  docs/plans/2026-03-12-equities-live-trading-readiness.md
  systems/flux/flux/runners/shared/profile_accounts.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
Due: check-non-latin-text

fix: reconcile equities shared account providers
  deploy/equities/equities.live.toml
  docs/plans/2026-03-12-equities-live-trading-readiness.md
  systems/flux/flux/runners/equities/run_node.py
  systems/flux/flux/runners/shared/profile_accounts.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix: keep ibkr balance refresh on a stable loop
  docs/plans/2026-03-12-equities-live-trading-readiness.md
  systems/flux/flux/strategies/makerv4/reference_balances.py
  tests/unit_tests/flux/strategies/makerv4/test_reference_balances.py
Due: check-non-latin-text

refactor: centralize equities ibkr gateway ownership
  deploy/equities/README.md
  deploy/equities/equities.live.toml
  deploy/equities/strategies/README.md
  deploy/equities/strategies/aapl_tradexyz_makerv3.toml
  deploy/equities/strategies/amd_tradexyz_makerv3.toml
  deploy/equities/strategies/amzn_tradexyz_makerv3.toml
  deploy/equities/strategies/baba_tradexyz_makerv3.toml
  deploy/equities/strategies/coin_tradexyz_makerv3.toml
  deploy/equities/strategies/crcl_tradexyz_makerv3.toml
  deploy/equities/strategies/crwv_tradexyz_makerv3.toml
  deploy/equities/strategies/equities.strategy.template.toml
  deploy/equities/strategies/googl_tradexyz_makerv3.toml
  deploy/equities/strategies/hood_tradexyz_makerv3.toml
  deploy/equities/strategies/hyundai_tradexyz_makerv3.toml
  deploy/equities/strategies/intc_tradexyz_makerv3.toml
  deploy/equities/strategies/meta_tradexyz_makerv3.toml
  deploy/equities/strategies/msft_tradexyz_makerv3.toml
  deploy/equities/strategies/mstr_tradexyz_makerv3.toml
  deploy/equities/strategies/mu_tradexyz_makerv3.toml
  deploy/equities/strategies/nflx_tradexyz_makerv3.toml
  deploy/equities/strategies/nvda_tradexyz_makerv3.toml
  deploy/equities/strategies/orcl_tradexyz_makerv3.toml
  deploy/equities/strategies/pltr_tradexyz_makerv3.toml
  deploy/equities/strategies/rivn_tradexyz_makerv3.toml
  deploy/equities/strategies/sndk_tradexyz_makerv3.toml
  deploy/equities/strategies/tsla_tradexyz_makerv3.toml
  deploy/equities/strategies/tsm_tradexyz_makerv3.toml
  deploy/equities/strategies/usar_tradexyz_makerv3.toml
  docs/plans/2026-03-12-equities-live-trading-readiness.md
  nautilus_trader/adapters/interactive_brokers/config.py
  nautilus_trader/adapters/interactive_brokers/factories.py
  tests/unit_tests/adapters/interactive_brokers/test_gateway.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
