Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Rename BinanceAccountType enum futures members
  RELEASES.md
  docs/concepts/adapters.md
  docs/concepts/live.md
  docs/integrations/binance.md
  examples/backtest/crypto_ema_cross_with_binance_provider.py
  examples/live/binance/binance_futures_market_maker.py
  examples/live/binance/binance_futures_testnet_ema_cross.py
  examples/live/binance/binance_futures_testnet_ema_cross_bracket.py
  examples/live/binance/binance_futures_testnet_ema_cross_bracket_algo.py
  examples/live/binance/binance_futures_testnet_ema_cross_hedge_mode.py
  examples/live/binance/binance_futures_testnet_ema_cross_twap.py
  examples/live/binance/binance_futures_testnet_ema_cross_with_trailing_stop.py
  examples/live/binance/binance_futures_testnet_exec_tester.py
  examples/live/binance/binance_spot_and_futures_market_maker.py
  examples/sandbox/binance_futures_testnet_sandbox.py
  examples/sandbox/binance_spot_futures_sandbox.py
  nautilus_trader/adapters/binance/common/enums.py
  nautilus_trader/adapters/binance/common/urls.py
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/binance/futures/data.py
  nautilus_trader/adapters/binance/futures/execution.py
  nautilus_trader/adapters/binance/futures/http/account.py
  nautilus_trader/adapters/binance/futures/http/market.py
  nautilus_trader/adapters/binance/futures/http/user.py
  nautilus_trader/adapters/binance/futures/http/wallet.py
  nautilus_trader/adapters/binance/futures/providers.py
  nautilus_trader/adapters/binance/http/account.py
  nautilus_trader/adapters/binance/http/market.py
  nautilus_trader/adapters/binance/http/user.py
  tests/integration_tests/adapters/binance/sandbox/sandbox_http_futures_account.py
  tests/integration_tests/adapters/binance/sandbox/sandbox_http_futures_testnet_account.py
  tests/integration_tests/adapters/binance/sandbox/sandbox_http_futures_testnet_instrument_provider.py
  tests/integration_tests/adapters/binance/sandbox/sandbox_http_futures_testnet_market.py
  tests/integration_tests/adapters/binance/sandbox/sandbox_http_futures_testnet_wallet.py
  tests/integration_tests/adapters/binance/test_core_functions.py
  tests/integration_tests/adapters/binance/test_execution_futures.py
  tests/integration_tests/adapters/binance/test_factories.py
  tests/integration_tests/adapters/binance/test_providers.py
  tests/integration_tests/adapters/binance/test_url_generation.py
Due: none

Standardize adapter enum mapping pattern
  crates/adapters/bitmex/src/common/parse.rs
  crates/adapters/bitmex/src/enums.rs
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/python/http.rs
  crates/adapters/bitmex/src/websocket/enums.rs
  crates/adapters/bitmex/src/websocket/parse.rs
  crates/adapters/coinbase_intx/src/common/enums.rs
  crates/adapters/coinbase_intx/src/common/parse.rs
  crates/adapters/coinbase_intx/src/websocket/parse.rs
  crates/adapters/okx/src/common/enums.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/tardis/src/enums.rs
  crates/adapters/tardis/src/http/instruments.rs
  crates/adapters/tardis/src/machine/client.rs
  crates/adapters/tardis/src/machine/types.rs
  crates/adapters/tardis/src/replay.rs
Due: fmt, cargo-clippy, cargo-doc

Rename start params to start_ns
  nautilus_trader/adapters/databento/data.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/data/engine.pyx
  tests/acceptance_tests/test_backtest.py
Due: none

Fix defi feature gating in model crate
  crates/model/src/identifiers/venue.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize struct and enum naming conventions for Tardis
  RELEASES.md
  crates/adapters/tardis/bin/example_http.rs
  crates/adapters/tardis/src/csv/record.rs
  crates/adapters/tardis/src/enums.rs
  crates/adapters/tardis/src/http/client.rs
  crates/adapters/tardis/src/http/instruments.rs
  crates/adapters/tardis/src/http/models.rs
  crates/adapters/tardis/src/http/parse.rs
  crates/adapters/tardis/src/machine/client.rs
  crates/adapters/tardis/src/machine/message.rs
  crates/adapters/tardis/src/machine/parse.rs
  crates/adapters/tardis/src/machine/types.rs
  crates/adapters/tardis/src/parse.rs
  crates/adapters/tardis/src/python/config.rs
  crates/adapters/tardis/src/python/enums.rs
  crates/adapters/tardis/src/python/http.rs
  crates/adapters/tardis/src/python/machine.rs
  crates/adapters/tardis/src/python/mod.rs
  crates/adapters/tardis/src/replay.rs
  nautilus_trader/adapters/tardis/common.py
  nautilus_trader/adapters/tardis/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: fmt, cargo-clippy, cargo-doc

Standardize enum and type import convention for OKX
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize bitmex crate organization
  crates/adapters/bitmex/bin/order.rs
  crates/adapters/bitmex/src/common/consts.rs
  crates/adapters/bitmex/src/common/credential.rs
  crates/adapters/bitmex/src/common/enums.rs
  crates/adapters/bitmex/src/common/mod.rs
  crates/adapters/bitmex/src/common/parse.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/http/models.rs
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/http/query.rs
  crates/adapters/bitmex/src/lib.rs
  crates/adapters/bitmex/src/python/enums.rs
  crates/adapters/bitmex/src/python/http.rs
  crates/adapters/bitmex/src/python/mod.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/bitmex/src/websocket/enums.rs
  crates/adapters/bitmex/src/websocket/messages.rs
  crates/adapters/bitmex/src/websocket/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize enum naming convention for BitMEX
  crates/adapters/bitmex/bin/order.rs
  crates/adapters/bitmex/src/common/enums.rs
  crates/adapters/bitmex/src/common/parse.rs
  crates/adapters/bitmex/src/http/models.rs
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/http/query.rs
  crates/adapters/bitmex/src/python/http.rs
  crates/adapters/bitmex/src/websocket/enums.rs
  crates/adapters/bitmex/src/websocket/messages.rs
  crates/adapters/bitmex/src/websocket/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Continue BitMEX adapter execution
  crates/adapters/bitmex/bin/ws-data.rs
  crates/adapters/bitmex/bin/ws-exec.rs
  crates/adapters/bitmex/src/common/parse.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/python/http.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/bitmex/src/websocket/messages.rs
  nautilus_trader/adapters/bitmex/data.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: fmt, cargo-clippy, cargo-doc

Continue OKX adapter execution
  crates/adapters/okx/bin/ws-exec.rs
  crates/adapters/okx/src/common/consts.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/adapters/okx/constants.py
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/test_kit/strategies/tester_exec.py
Due: fmt, cargo-clippy, cargo-doc

Standardize Polymarket live examples
  examples/live/polymarket/polymarket_data_tester.py
  examples/live/polymarket/polymarket_ema_cross.py
  examples/live/polymarket/polymarket_exec_tester.py
  examples/live/polymarket/polymarket_market_maker.py
  nautilus_trader/adapters/polymarket/execution.py
  nautilus_trader/test_kit/strategies/tester_exec.py
Due: none

Optimize linux wheel size with more aggressive stripping
  .cargo/config.toml
  Cargo.toml
  build.py
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(bitmex): add security and Clone support to Credential struct
  Cargo.toml
  crates/adapters/bitmex/Cargo.toml
  crates/adapters/bitmex/src/common/credential.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Expanded usage
  Cargo.lock
  crates/adapters/bitmex/src/common/credential.rs
  crates/adapters/coinbase_intx/Cargo.toml
  crates/adapters/coinbase_intx/src/common/credential.rs
  crates/adapters/okx/Cargo.toml
  crates/adapters/okx/src/common/credential.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix macOS compilation: Use platform-specific linker flags in .cargo/config.toml
  .cargo/config.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Small improvement.
  .cargo/config.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve security for Credential struct (#2882)
  Cargo.lock
  Cargo.toml
  crates/adapters/bitmex/Cargo.toml
  crates/adapters/bitmex/src/common/credential.rs
  crates/adapters/coinbase_intx/Cargo.toml
  crates/adapters/coinbase_intx/src/common/credential.rs
  crates/adapters/okx/Cargo.toml
  crates/adapters/okx/src/common/credential.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Move partitions creating Postgres functions to the separate file
  crates/infrastructure/src/sql/pg.rs
  schema/sql/functions.sql
  schema/sql/partitions.sql
Due: fmt, cargo-clippy, cargo-doc

Standardize module name
  crates/adapters/hyperliquid/src/common/credential.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize Debug imports
  RELEASES.md
  crates/adapters/bitmex/src/common/credential.rs
  crates/adapters/coinbase_intx/src/common/credential.rs
  crates/adapters/okx/src/common/credential.rs
  crates/common/src/greeks.rs
  crates/system/src/factories.rs
Due: fmt, cargo-clippy, cargo-doc

Rename `SyncPools` command to `SyncDex` for consistency in DEX terminology in CLI
  crates/cli/src/blockchain/sync.rs
  crates/cli/src/opt.rs
Due: fmt, cargo-clippy, cargo-doc

Fix rustflags for nautilus-cli compilation
  .cargo/config.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Consolidate backtest modules into engine to reduce binary size
  RELEASES.md
  docs/api_reference/backtest.md
  nautilus_trader/adapters/sandbox/execution.py
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/exchange.pxd
  nautilus_trader/backtest/exchange.pyx
  nautilus_trader/backtest/execution_client.pxd
  nautilus_trader/backtest/execution_client.pyx
  nautilus_trader/backtest/matching_engine.pxd
  nautilus_trader/backtest/matching_engine.pyx
  nautilus_trader/backtest/modules.pxd
  nautilus_trader/backtest/modules.pyx
  tests/integration_tests/adapters/sandbox/test_execution.py
  tests/unit_tests/backtest/test_exchange_bitmex.py
  tests/unit_tests/backtest/test_exchange_bracket_if_touched_entries.py
  tests/unit_tests/backtest/test_exchange_bracket_trailing_stop_orders.py
  tests/unit_tests/backtest/test_exchange_cash.py
  tests/unit_tests/backtest/test_exchange_contingencies.py
  tests/unit_tests/backtest/test_exchange_glbx.py
  tests/unit_tests/backtest/test_exchange_l2_mbp.py
  tests/unit_tests/backtest/test_exchange_margin.py
  tests/unit_tests/backtest/test_exchange_stop_limits.py
  tests/unit_tests/backtest/test_exchange_trailing_stops.py
  tests/unit_tests/backtest/test_matching_engine.py
  tests/unit_tests/execution/test_algorithm.py
  tests/unit_tests/execution/test_emulator_list.py
  tests/unit_tests/trading/test_strategy.py
  tests/unit_tests/trading/test_trader.py
Due: none

Add `reset` flag to CLI for optional full sync and update pool syncing logic
  crates/adapters/blockchain/src/data/core.rs
  crates/cli/src/blockchain/sync.rs
  crates/cli/src/opt.rs
Due: fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
