Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Clean up Redis db test fixture merge artifacts
  crates/infrastructure/tests/test_cache_redis.rs
  crates/infrastructure/tests/test_redis_queries.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: recover shared reference listeners after pubsub faults
  nautilus_trader/adapters/interactive_brokers/shared_reference/data.py
  tests/unit_tests/adapters/interactive_brokers/test_shared_reference_data.py
Due: check-non-latin-text

fix(fluxboard): stabilize tokenmm trades recovery
  fluxboard/Trades.tsx
  fluxboard/__tests__/trades-integration.test.tsx
  fluxboard/sockets.test.ts
  fluxboard/sockets.ts
Due: none

docs: add strategy platform hardening wave plans
  docs/plans/2026-03-31-strategy-platform-hardening-wave-design.md
  docs/plans/2026-03-31-strategy-platform-hardening-wave-giga-doc.md
  docs/plans/2026-03-31-strategy-platform-hardening-wave-orchestrator-prompt.md
  docs/plans/2026-03-31-strategy-platform-hardening-wave-pr0-baseline-safety-and-contract-freeze.md
  docs/plans/2026-03-31-strategy-platform-hardening-wave-pr1-shared-strategy-foundations.md
  docs/plans/2026-03-31-strategy-platform-hardening-wave-pr2-shared-account-projection-ownership.md
  docs/plans/2026-03-31-strategy-platform-hardening-wave-pr3-shared-observability-platform.md
  docs/plans/2026-03-31-strategy-platform-hardening-wave-pr4-shared-execution-primitives.md
  docs/plans/2026-03-31-strategy-platform-hardening-wave-pr5-makerv3-quote-pipeline-split.md
  docs/plans/2026-03-31-strategy-platform-hardening-wave-pr6-makerv3-strategy-decomposition.md
  docs/plans/2026-03-31-strategy-platform-hardening-wave-pr7-docstrings-runbooks-and-cleanup.md
  docs/plans/2026-03-31-strategy-platform-hardening-wave-review-packet.md
  docs/plans/2026-03-31-strategy-platform-hardening-wave.md
  docs/prd/2026-03-31-strategy-platform-hardening-wave.md
Due: check-non-latin-text

Forward supervisor-owned quote ticks while running
  deploy/equities/README.md
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

Recover stalled shared reference consumers
  nautilus_trader/adapters/interactive_brokers/shared_reference/data.py
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/adapters/interactive_brokers/test_shared_reference_data.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

Sync equities quotes from live node cache
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

Exclude controller-owned scopes from equities projections
  systems/flux/flux/runners/equities/readiness.py
  systems/flux/flux/runners/equities/run_api.py
  systems/flux/flux/runners/shared/profile_accounts.py
  tests/unit_tests/examples/strategies/test_equities_readiness.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
Due: check-non-latin-text

test: add bybit websocket fee currency regressions
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/websocket/handler.rs
  crates/adapters/bybit/src/websocket/parse.rs
  crates/adapters/bybit/test_data/http_get_executions_spot_fee_currency.json
  crates/adapters/bybit/test_data/ws_account_execution_spot.json
  crates/adapters/bybit/test_data/ws_account_order_spot_filled.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

refactor: share bybit execution commission parsing
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: enrich bybit websocket fills with order fee currency
  crates/adapters/bybit/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: finalize bybit fee currency fix tracker
  docs/plans/2026-03-31-bybit-websocket-fee-currency-fix.md
Due: check-non-latin-text

fix(tokenmm): harden binance private path
  deploy/tokenmm/strategies/plumeusdt_binance_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_binance_spot_makerv3.toml
  deploy/tokenmm/tokenmm.live.toml
  docs/plans/2026-03-31-tokenmm-binance-private-path-safety-pr1-design.md
  docs/plans/2026-03-31-tokenmm-binance-private-path-safety-pr1.md
  nautilus_trader/adapters/binance/factories.py
  nautilus_trader/adapters/binance/http/client.py
  nautilus_trader/adapters/binance/http/error.py
  systems/flux/flux/runners/shared/profile_accounts.py
  systems/flux/flux/runners/tokenmm/run_api.py
  systems/flux/flux/runners/tokenmm/run_controller.py
  systems/flux/flux/runners/tokenmm/run_node.py
  systems/flux/flux/strategies/makerv3/constants.py
  systems/flux/flux/strategies/makerv3/quote_engine.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/adapters/binance/test_http_client.py
  tests/unit_tests/adapters/binance/test_http_error.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_api.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_controller.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
  tests/unit_tests/flux/runners/shared/test_profile_accounts.py
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix: address websocket fee cache review feedback
  crates/adapters/bybit/src/websocket/handler.rs
  crates/adapters/bybit/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix equities readiness spread classification
  systems/flux/flux/runners/equities/readiness.py
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/examples/strategies/test_equities_readiness.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

Fix equities feed-health block classification
  systems/flux/flux/runners/equities/readiness.py
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/examples/strategies/test_equities_readiness.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

Relax equities IBKR reference staleness budget
  deploy/equities/equities.live.toml
  systems/flux/flux/runners/shared/ibkr_reference_publisher.py
  tests/unit_tests/examples/strategies/test_equities_ibkr_reference_publisher.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Separate equities IBKR quote and heartbeat staleness
  deploy/equities/equities.live.toml
  systems/flux/flux/runners/equities/readiness.py
  systems/flux/flux/runners/shared/ibkr_reference_publisher.py
  tests/unit_tests/examples/strategies/test_equities_ibkr_reference_publisher.py
  tests/unit_tests/examples/strategies/test_equities_readiness.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Keep equities readiness focused on feed health
  systems/flux/flux/runners/equities/readiness.py
  tests/unit_tests/examples/strategies/test_equities_readiness.py
Due: check-non-latin-text

fix(tokenmm): unblock stale private path recovery
  systems/flux/flux/runners/tokenmm/run_api.py
  systems/flux/flux/strategies/makerv3/constants.py
  systems/flux/flux/strategies/makerv3/quote_engine.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_api.py
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
Due: check-non-latin-text

docs: trim strategy platform hardening plan formatting
  docs/plans/2026-03-31-strategy-platform-hardening-wave-giga-doc.md
Due: check-non-latin-text

fix(ibkr): harden shared reference quote recovery
  nautilus_trader/adapters/interactive_brokers/shared_reference/data.py
  tests/unit_tests/adapters/interactive_brokers/test_shared_reference_data.py
Due: check-non-latin-text

fix(review): replay quote recovery and preserve stream fields
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/tests/websocket.rs
  crates/infrastructure/src/redis/msgbus.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix equities signal recovery invalidation
  fluxboard/Signal.delta-pass-through.test.tsx
  fluxboard/__tests__/panels/signal.test.tsx
  fluxboard/components/domain/signal/SignalTable.tsx
Due: none

Fix equities after-hours quote liveness budgets
  systems/flux/flux/runners/equities/run_node.py
  systems/flux/flux/strategies/makerv4/strategy.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/flux/strategies/equities_maker/test_strategy.py
Due: check-non-latin-text

feat: scaffold tokenmm balances view model
  docs/plans/2026-03-31-tokenmm-fluxboard-balances-upgrade.md
  fluxboard/api.flux.test.ts
  fluxboard/api.ts
  fluxboard/components/balances/tokenmmBalancesModel.test.ts
  fluxboard/components/balances/tokenmmBalancesModel.ts
  fluxboard/types.ts
Due: check-non-latin-text

feat: derive tokenmm balances display model
  docs/plans/2026-03-31-tokenmm-fluxboard-balances-upgrade.md
  fluxboard/components/balances/tokenmmBalancesModel.test.ts
  fluxboard/components/balances/tokenmmBalancesModel.ts
Due: check-non-latin-text

feat: redesign tokenmm balances holdings UI
  docs/plans/2026-03-31-tokenmm-fluxboard-balances-upgrade.md
  fluxboard/Balances.test.tsx
  fluxboard/Balances.tsx
  fluxboard/components/balances/BalanceStatusBadge.tsx
  fluxboard/components/balances/TokenMMBalancesStatusStrip.tsx
  fluxboard/components/balances/TokenMMBalancesSummary.tsx
  fluxboard/components/balances/TokenMMBalancesTable.tsx
  fluxboard/components/balances/TokenMMBalancesToolbar.tsx
Due: check-non-latin-text

docs: update tokenmm balances progress tracker
  docs/plans/2026-03-31-tokenmm-fluxboard-balances-upgrade.md
Due: check-non-latin-text

hyperliquid: thread product types through live clients
  docs/integrations/hyperliquid.md
  nautilus_trader/adapters/hyperliquid/config.py
  nautilus_trader/adapters/hyperliquid/factories.py
  tests/integration_tests/adapters/hyperliquid/test_factories.py
Due: check-non-latin-text

Allow strategies to override OrderFactory client order ID generation
  nautilus_trader/common/factories.pxd
  nautilus_trader/common/factories.pyx
  nautilus_trader/trading/strategy.pxd
  nautilus_trader/trading/strategy.pyx
  tests/unit_tests/common/test_factories.py
  tests/unit_tests/trading/test_strategy.py
Due: check-non-latin-text

Add Issue #3505 contribution notes
  3505-issue.md
Due: check-non-latin-text

Fix Polymarket created_at timestamp conversion and use named constants
  crates/adapters/polymarket/src/execution/parse.rs
  crates/adapters/polymarket/src/http/models.rs
  crates/adapters/polymarket/src/websocket/parse.rs
  crates/adapters/polymarket/test_data/http_open_order.json
  crates/adapters/polymarket/test_data/http_open_order_sell_fok.json
  crates/adapters/polymarket/test_data/http_open_orders_page.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Separate ts_event and ts_init in Polymarket WebSocket reports
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/websocket/dispatch.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix RefCell borrow conflict in Portfolio::initialize_orders
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update factories.py
  nautilus_trader/adapters/binance/factories.py
Due: check-non-latin-text

Fix BinanceBar catalog test to use file protocol for Rust DataFusion compatibility
  tests/integration_tests/adapters/binance/test_core_types.py
Due: check-non-latin-text

Fix pyo3 module paths and docformatter for pre-commit
  crates/adapters/binance/src/common/bar.rs
  crates/adapters/binance/src/python/arrow.rs
  tests/integration_tests/adapters/binance/test_core_types.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix pre-commit: pyo3 module paths and docstring format
  tests/integration_tests/adapters/binance/test_core_types.py
Due: check-non-latin-text

Update Cargo.lock
  Cargo.lock
Due: cargo-deny

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
