Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Fix OKX WebSocket heartbeat and standardize logging
  RELEASES.md
  crates/adapters/okx/src/websocket/client.rs
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/adapters/okx/execution.py
Due: fmt, cargo-clippy, cargo-doc

Improve robustness of adapter WebSocket reconnection tests
  crates/adapters/bitmex/tests/websocket.rs
  crates/adapters/okx/tests/websocket.rs
Due: fmt, cargo-clippy, cargo-doc

Improve Polymarket execution flows and efficiency
  nautilus_trader/adapters/polymarket/common/parsing.py
  nautilus_trader/adapters/polymarket/common/symbol.py
  nautilus_trader/adapters/polymarket/config.py
  nautilus_trader/adapters/polymarket/data.py
  nautilus_trader/adapters/polymarket/execution.py
  nautilus_trader/adapters/polymarket/websocket/client.py
  tests/integration_tests/adapters/polymarket/test_execution.py
  tests/integration_tests/adapters/polymarket/test_symbol.py
Due: none

Fix logging bugs and improve error handling
  crates/common/src/ffi/logging.rs
  crates/common/src/logging/mod.rs
  crates/common/src/logging/writer.rs
  crates/common/src/python/logging.rs
  nautilus_trader/common/component.pyx
  nautilus_trader/common/config.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/system/kernel.py
  tests/unit_tests/common/test_logging_pyo3.py
Due: fmt, cargo-clippy, cargo-doc

Add heartbeat for Coinbase Intx websocket
  nautilus_trader/adapters/coinbase_intx/data.py
Due: none

Improve OKX adapter reliability and correctness
  crates/adapters/okx/bin/ws_data.rs
  crates/adapters/okx/bin/ws_exec.rs
  crates/adapters/okx/src/common/enums.rs
  crates/adapters/okx/src/config.rs
  crates/adapters/okx/src/data/mod.rs
  crates/adapters/okx/src/execution/mod.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  docs/integrations/okx.md
  examples/live/okx/okx_data_tester.py
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/adapters/okx/data.py
Due: fmt, cargo-clippy, cargo-doc

Improve Polymarket trade event signaling
  nautilus_trader/adapters/polymarket/execution.py
Due: none

Improve adapter websocket reconnection tests robustness
  crates/adapters/bitmex/tests/websocket.rs
  crates/adapters/okx/tests/websocket.rs
Due: fmt, cargo-clippy, cargo-doc

Refine CI wheel artifacts handling
  .github/actions/upload-artifact-wheel/action.yml
  .github/workflows/build.yml
  scripts/ci/publish-wheels-generate-index.sh
  scripts/ci/publish-wheels-r2-upload-new-wheels.sh
  scripts/ci/validate-wheel-count.sh
Due: none

Prepare release
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix CI tag-release job git credentials
  .github/workflows/build.yml
Due: none

Bump version
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/core/build.rs
  pyproject.toml
  uv-version
  uv.lock
  version.json
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Optimize CI common-setup action
  .github/actions/common-setup/action.yml
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
Due: none

Refine README
  README.md
Due: none

Drop support for Python 3.11
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  README.md
  RELEASES.md
  docs/getting_started/backtest_high_level.ipynb
  docs/getting_started/backtest_low_level.ipynb
  docs/getting_started/index.md
  docs/getting_started/installation.md
  docs/getting_started/quickstart.ipynb
  docs/tutorials/backtest_binance_orderbook.ipynb
  docs/tutorials/backtest_bybit_orderbook.ipynb
  docs/tutorials/backtest_fx_bars.ipynb
  docs/tutorials/databento_data_catalog.ipynb
  nautilus_trader/adapters/bybit/schemas/common.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/live/enqueue.py
  nautilus_trader/live/retry.py
  pyproject.toml
  python/README.md
  python/pyproject.toml
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Remove redundant TypeVar
  nautilus_trader/test_kit/functions.py
Due: none

Upgrade CI GitHub actions
  .github/actions/common-setup/action.yml
  .github/actions/common-test-data/action.yml
  .github/actions/upload-artifact-wheel/action.yml
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  .github/workflows/cli-binaries.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/performance.yml
Due: none

Standardize crate READMEs
  Makefile
  assets/nautilus-logo-white.png
  crates/adapters/bitmex/README.md
  crates/adapters/bitmex/src/common/credential.rs
  crates/adapters/blockchain/README.md
  crates/adapters/bybit/README.md
  crates/adapters/bybit/src/common/credential.rs
  crates/adapters/coinbase_intx/README.md
  crates/adapters/coinbase_intx/src/common/credential.rs
  crates/adapters/databento/README.md
  crates/adapters/hyperliquid/README.md
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/okx/README.md
  crates/adapters/okx/src/common/credential.rs
  crates/adapters/tardis/README.md
  crates/analysis/README.md
  crates/backtest/README.md
  crates/cli/README.md
  crates/common/README.md
  crates/core/README.md
  crates/cryptography/README.md
  crates/data/README.md
  crates/execution/README.md
  crates/indicators/README.md
  crates/infrastructure/README.md
  crates/live/README.md
  crates/model/README.md
  crates/network/README.md
  crates/persistence/README.md
  crates/portfolio/README.md
  crates/risk/README.md
  crates/risk/src/engine/mod.rs
  crates/serialization/README.md
  crates/system/README.md
  crates/testkit/README.md
  crates/trading/README.md
Due: fmt, cargo-clippy, cargo-doc

Update CI wheel counts
  .github/workflows/build.yml
Due: none

Add initial backtest visualization tearsheets
  .codespellrc
  RELEASES.md
  crates/analysis/src/python/mod.rs
  crates/analysis/src/python/statistics/cagr.rs
  crates/analysis/src/python/statistics/calmar_ratio.rs
  crates/analysis/src/python/statistics/max_drawdown.rs
  crates/analysis/src/python/statistics/mod.rs
  crates/analysis/src/statistics/cagr.rs
  crates/analysis/src/statistics/calmar_ratio.rs
  crates/analysis/src/statistics/max_drawdown.rs
  docs/concepts/index.md
  docs/concepts/reports.md
  docs/concepts/visualization.md
  docs/getting_started/backtest_high_level.ipynb
  docs/getting_started/backtest_low_level.ipynb
  docs/getting_started/installation.md
  docs/getting_started/quickstart.ipynb
  docs/integrations/betfair.md
  docs/integrations/dydx.md
  docs/integrations/ib.md
  docs/integrations/polymarket.md
  docs/tutorials/backtest_binance_orderbook.ipynb
  docs/tutorials/backtest_bybit_orderbook.ipynb
  docs/tutorials/backtest_fx_bars.ipynb
  docs/tutorials/databento_data_catalog.ipynb
  docs/tutorials/databento_overview.ipynb
  docs/tutorials/parquet_explorer.ipynb
  examples/backtest/crypto_ema_cross_ethusdt_trade_ticks.py
  nautilus_trader/analysis/__init__.py
  nautilus_trader/analysis/analyzer.py
  nautilus_trader/analysis/config.py
  nautilus_trader/analysis/tearsheet.py
  nautilus_trader/analysis/themes.py
  nautilus_trader/core/nautilus_pyo3.pyi
  pyproject.toml
  tests/unit_tests/analysis/test_tearsheet.py
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refactor reading of feather files in catalog
  nautilus_trader/persistence/catalog/base.py
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_streaming.py
Due: none

Upgrade implied-vol library
  Cargo.lock
  Cargo.toml
  crates/model/src/data/greeks.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refactor reading of feather files in catalog (#3114)
  nautilus_trader/persistence/catalog/base.py
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_streaming.py
Due: none

Upgrade implied-vol crate (#3115)
  Cargo.lock
  Cargo.toml
  crates/model/src/data/greeks.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Update dependencies and refine tooling
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/cargo_deny.sh
  Cargo.lock
  Cargo.toml
  Makefile
  RELEASES.md
  deny.toml
  pyproject.toml
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Continue Hyperliquid adapter
  crates/adapters/hyperliquid/bin/ws_data.rs
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/common/types.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/python/http.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/signing/signers.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/codec.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
  examples/sandbox/hyperliquid_testnet_sandbox.py
  nautilus_trader/adapters/hyperliquid/data.py
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/adapters/hyperliquid/factories.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: fmt, cargo-clippy, cargo-doc

Optimize BacktestEngine data loading with deferred sorting
  docs/concepts/backtesting.md
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/node.py
  tests/unit_tests/backtest/test_data_iterator.py
  tests/unit_tests/backtest/test_engine.py
Due: none

Upgrade continuous reconciliation for execution engine
  Cargo.lock
  RELEASES.md
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/websocket/parse.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/websocket/parse.rs
  crates/adapters/coinbase_intx/src/fix/parse.rs
  crates/adapters/coinbase_intx/src/http/parse.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/live/Cargo.toml
  crates/live/src/execution.rs
  crates/live/src/python/reconciliation.rs
  crates/live/src/reconciliation/calculations.rs
  crates/live/src/reconciliation/manager.rs
  crates/live/src/reconciliation/mod.rs
  crates/model/src/python/reports/order.rs
  crates/model/src/reports/order.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
  docs/concepts/live.md
  examples/live/bitmex/bitmex_exec_tester.py
  examples/live/bybit/bybit_exec_tester.py
  nautilus_trader/adapters/bybit/common/constants.py
  nautilus_trader/adapters/bybit/providers.py
  nautilus_trader/adapters/bybit/schemas/instrument.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/execution/reports.py
  nautilus_trader/live/config.py
  nautilus_trader/live/execution_engine.py
  nautilus_trader/live/reconciliation.py
  nautilus_trader/model/functions.pxd
  nautilus_trader/model/functions.pyx
  tests/integration_tests/live/test_live_reconciliation.py
  tests/unit_tests/execution/test_reports.py
  tests/unit_tests/live/test_reconciliation_price.py
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add BitMEX SubmitBroadcaster scaffolding
  crates/adapters/bitmex/src/config.rs
  crates/adapters/bitmex/src/execution/canceller.rs
  crates/adapters/bitmex/src/execution/mod.rs
  crates/adapters/bitmex/src/execution/submitter.rs
  crates/adapters/bitmex/src/lib.rs
  crates/adapters/bitmex/src/python/mod.rs
  crates/adapters/bitmex/src/python/submitter.rs
  crates/backtest/src/exchange.rs
  crates/common/src/messages/execution/submit.rs
  crates/execution/src/engine/tests.rs
  crates/execution/src/order_emulator/emulator.rs
  crates/execution/src/order_manager/manager.rs
  crates/live/src/python/reconciliation.rs
  crates/risk/src/engine/tests.rs
  examples/live/bitmex/bitmex_exec_tester.py
  nautilus_trader/adapters/bitmex/config.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/live/execution_engine.py
  tests/integration_tests/adapters/bitmex/conftest.py
  tests/unit_tests/live/test_execution_recon.py
Due: fmt, cargo-clippy, cargo-doc

Fix OKX spot margin position reports for borrowing
  RELEASES.md
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/model/src/instruments/mod.rs
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/live/execution_engine.py
Due: fmt, cargo-clippy, cargo-doc

Optionally use Gamma API to fetch a large number of markets
  nautilus_trader/adapters/polymarket/common/gamma_markets.py
  nautilus_trader/adapters/polymarket/providers.py
  nautilus_trader/common/config.py
  nautilus_trader/common/providers.py
  nautilus_trader/system/config.py
  tests/integration_tests/adapters/polymarket/test_gamma_markets.py
Due: none

Add option to fetch PositionStatusReports through gamma_api in bulk
  nautilus_trader/adapters/polymarket/config.py
  nautilus_trader/adapters/polymarket/execution.py
Due: none

Improve OKX quantity parsing error handling
  Cargo.lock
  crates/adapters/okx/Cargo.toml
  crates/adapters/okx/src/common/parse.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Update docs guidance on one node per process
  docs/concepts/architecture.md
  docs/concepts/live.md
  docs/getting_started/index.md
Due: none

Add OKX spot margin and swap quoter example
  examples/live/okx/okx_spot_swap_quoter.py
  nautilus_trader/live/execution_engine.py
Due: none

Fix Bybit pagination tests
  crates/adapters/bybit/tests/pagination.rs
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and refine pre-commit
  .pre-commit-config.yaml
  Cargo.lock
  build.py
  nautilus_trader/analysis/tearsheet.py
  nautilus_trader/core/nautilus_pyo3.pyi
  pyproject.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Standardize instruments between Python and Rust
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/okx/test_data/http_get_instruments_swap.json
  crates/adapters/tardis/src/http/parse.rs
  crates/model/src/instruments/crypto_future.rs
  crates/model/src/instruments/crypto_option.rs
  crates/model/src/instruments/crypto_perpetual.rs
  crates/model/src/python/account/margin.rs
  crates/model/src/python/instruments/equity.rs
  crates/model/src/python/instruments/futures_contract.rs
  crates/model/src/python/instruments/futures_spread.rs
  crates/model/src/python/instruments/option_contract.rs
  crates/model/src/python/instruments/option_spread.rs
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/model/instruments/equity.pyx
  nautilus_trader/model/instruments/futures_contract.pyx
  nautilus_trader/model/instruments/futures_spread.pyx
  nautilus_trader/model/instruments/option_contract.pyx
  nautilus_trader/model/instruments/option_spread.pyx
  tests/unit_tests/model/instruments/test_equity_pyo3.py
Due: fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
