Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Add support for logging in parallel rust threads
  Cargo.lock
  crates/adapters/blockchain/bin/sync_pool_events.rs
  crates/adapters/blockchain/bin/sync_tokens_pools.rs
  crates/adapters/blockchain/bin/watch_hypersync_live_blocks.rs
  crates/adapters/blockchain/bin/watch_rpc_live_blocks.rs
  crates/adapters/blockchain/src/data.rs
  crates/adapters/blockchain/src/hypersync/client.rs
  crates/adapters/coinbase_intx/src/fix/client.rs
  crates/adapters/coinbase_intx/src/websocket/client.rs
  crates/adapters/databento/src/data.rs
  crates/adapters/demo/src/data_client.rs
  crates/adapters/demo/src/http_server.rs
  crates/adapters/demo/src/websocket_server.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/tardis/Cargo.toml
  crates/adapters/tardis/src/machine/mod.rs
  crates/common/Cargo.toml
  crates/common/src/logging/logger.rs
  crates/common/src/logging/mod.rs
  crates/common/src/msgbus/listener.rs
  crates/common/src/python/logging.rs
  crates/common/src/python/mod.rs
  crates/common/src/timer.rs
  crates/infrastructure/src/redis/cache.rs
  crates/infrastructure/src/redis/msgbus.rs
  crates/infrastructure/src/sql/cache.rs
  crates/network/Cargo.toml
  crates/network/src/http.rs
  crates/network/src/python/websocket.rs
  crates/network/src/ratelimiter/clock.rs
  crates/network/src/socket.rs
  crates/network/src/websocket.rs
  crates/network/tests/turmoil_socket.rs
  crates/network/tests/turmoil_websocket.rs
  crates/persistence/src/backend/kmerge_batch.rs
  crates/testkit/src/files.rs
  docs/concepts/parallel_logging.md
  examples/rust/parallel_logging_example.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add MarginModel
  docs/concepts/margin_models.md
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/accounting/accounts/margin.pxd
  nautilus_trader/accounting/accounts/margin.pyx
  nautilus_trader/accounting/margin_config.py
  nautilus_trader/accounting/margin_models.pxd
  nautilus_trader/accounting/margin_models.py
  nautilus_trader/accounting/margin_models.pyx
  nautilus_trader/backtest/config.py
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/exchange.pxd
  nautilus_trader/backtest/exchange.pyx
  nautilus_trader/backtest/node.py
  tests/unit_tests/accounting/test_margin_models.py
  tests/unit_tests/backtest/test_config.py
Due: none

Add MarginModel (#2794)
  docs/concepts/margin_models.md
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/accounting/accounts/margin.pxd
  nautilus_trader/accounting/accounts/margin.pyx
  nautilus_trader/accounting/margin_config.py
  nautilus_trader/accounting/margin_models.pxd
  nautilus_trader/accounting/margin_models.py
  nautilus_trader/accounting/margin_models.pyx
  nautilus_trader/backtest/config.py
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/exchange.pxd
  nautilus_trader/backtest/exchange.pyx
  nautilus_trader/backtest/node.py
  tests/unit_tests/accounting/test_margin_models.py
  tests/unit_tests/backtest/test_config.py
Due: none

Refine MarginModel
  RELEASES.md
  docs/concepts/backtesting.md
  docs/concepts/margin_models.md
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/accounting/accounts/margin.pxd
  nautilus_trader/accounting/accounts/margin.pyx
  nautilus_trader/accounting/margin_config.py
  nautilus_trader/accounting/margin_models.pxd
  nautilus_trader/accounting/margin_models.py
  nautilus_trader/accounting/margin_models.pyx
  nautilus_trader/backtest/config.py
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/exchange.pxd
  nautilus_trader/backtest/exchange.pyx
  nautilus_trader/backtest/node.py
  tests/unit_tests/accounting/test_margin_models.py
  tests/unit_tests/backtest/test_config.py
Due: none

Fix decoding zero-sized trades for Databento MBO data
  RELEASES.md
  crates/adapters/databento/src/decode.rs
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Update data catalog example
  docs/tutorials/databento_data_catalog.ipynb
Due: none

Update backtesting guide
  docs/concepts/backtesting.md
Due: none

Update CONTRIBUTING.md and PR template
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

Fix Polymarket reconciliation for signature type 2 trades
  RELEASES.md
  nautilus_trader/adapters/polymarket/schemas/trade.py
Due: none

Update docs style guide heading
  docs/developer_guide/docs.md
Due: none

Add serialization support for execution report commands
  RELEASES.md
  nautilus_trader/execution/messages.pxd
  nautilus_trader/execution/messages.pyx
  nautilus_trader/serialization/base.pyx
  tests/unit_tests/execution/test_messages.py
Due: none

Add GenerateExecutionMassStatus execution report command
  nautilus_trader/execution/messages.pxd
  nautilus_trader/execution/messages.pyx
  nautilus_trader/serialization/base.pyx
  tests/unit_tests/execution/test_messages.py
Due: none

Add serialization support for execution reports
  RELEASES.md
  nautilus_trader/execution/reports.py
  nautilus_trader/serialization/base.pyx
  tests/unit_tests/execution/test_reports.py
Due: none

Optimize BacktestDataIterator
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
Due: none

Improve a blockchain sync reporter
  crates/adapters/blockchain/src/reporting.rs
Due: fmt, cargo-clippy, cargo-doc

Improve contract design with base contract that handles multicall
  crates/adapters/blockchain/src/contracts/base.rs
  crates/adapters/blockchain/src/contracts/erc20.rs
  crates/adapters/blockchain/src/contracts/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Initial multicall design
  crates/adapters/blockchain/src/contracts/erc20.rs
  crates/adapters/blockchain/src/rpc/http.rs
Due: fmt, cargo-clippy, cargo-doc

Remove ETA calculation in reporting as its not deterministic
  crates/adapters/blockchain/src/reporting.rs
Due: fmt, cargo-clippy, cargo-doc

Finished exchange pool
  crates/adapters/blockchain/bin/node_test.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/data.rs
Due: fmt, cargo-clippy, cargo-doc

Refine sync_exchange_pools with separate function to remove duplication and handle empty tokens
  crates/adapters/blockchain/src/data.rs
Due: fmt, cargo-clippy, cargo-doc

Improve TokenInfo error handling in erc20 contract
  crates/adapters/blockchain/src/contracts/erc20.rs
Due: fmt, cargo-clippy, cargo-doc

Change the type of dex to SharedDex in Pool definition
  crates/model/src/defi/amm.rs
  crates/model/src/python/defi/types.rs
Due: fmt, cargo-clippy, cargo-doc

Finished Pool caching and added it in sync process
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/cache/rows.rs
  crates/adapters/blockchain/src/data.rs
Due: fmt, cargo-clippy, cargo-doc

fix compile errors
  crates/common/src/actor/tests.rs
  crates/common/src/cache/tests.rs
  crates/common/src/python/actor.rs
  crates/data/tests/engine.rs
  crates/model/src/defi/amm.rs
Due: fmt, cargo-clippy, cargo-doc

Optimize Tardis deltas streaming with batched capsules
  crates/adapters/tardis/bin/stream_deltas_bench.rs
  crates/adapters/tardis/src/csv/stream.rs
  crates/adapters/tardis/src/python/csv.rs
  crates/adapters/tardis/src/python/mod.rs
  nautilus_trader/adapters/tardis/loaders.py
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/tardis/sandbox/run_streaming.py
Due: fmt, cargo-clippy, cargo-doc
