Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Add _send_position_status_report to base execution client (#2926)
  nautilus_trader/adapters/interactive_brokers/execution.py
  nautilus_trader/execution/client.pxd
  nautilus_trader/execution/client.pyx
Due: none

fix(backtest): Add check to return early if last_qty is non-positive
  nautilus_trader/backtest/engine.pyx
Due: none

Small improvement.
  Cargo.lock
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/bin/ws-exec.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

feat: add WebSocket implementation for Hyperliquid adapter
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/src/websocket/adapter.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/codec.rs
  crates/adapters/hyperliquid/src/websocket/exchange.rs
  crates/adapters/hyperliquid/src/websocket/mod.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/hyperliquid/bin/ws-exec.rs
  crates/adapters/hyperliquid/src/common/consts.rs
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/hyperliquid/src/http/error.rs
  crates/adapters/hyperliquid/src/websocket/adapter.rs
  crates/adapters/hyperliquid/src/websocket/codec.rs
  crates/adapters/hyperliquid/src/websocket/enums.rs
  crates/adapters/hyperliquid/src/websocket/exchange.rs
  crates/adapters/hyperliquid/src/websocket/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Change requests applied
  crates/adapters/hyperliquid/bin/ws-exec.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
Due: fmt, cargo-clippy, cargo-doc

Move rust-python debugging documentation to testing.md
  docs/developer_guide/rust.md
  docs/developer_guide/testing.md
  examples/other/debugging/debug_mixed_jupyter.ipynb
  nautilus_trader/test_kit/debug_helpers.py
Due: none

Move rust-python debugging documentation to testing.md (#2928)
  docs/developer_guide/rust.md
  docs/developer_guide/testing.md
  examples/other/debugging/debug_mixed_jupyter.ipynb
  nautilus_trader/test_kit/debug_helpers.py
Due: none

Continue BitMEX adapter execution
  crates/adapters/bitmex/bin/http.rs
  crates/adapters/bitmex/bin/ws-data.rs
  crates/adapters/bitmex/bin/ws-exec.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/http/models.rs
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/http/query.rs
  crates/adapters/bitmex/src/python/http.rs
  examples/live/bitmex/bitmex_data_tester.py
  examples/live/bitmex/bitmex_exec_tester.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/hyperliquid/src/websocket/adapter.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Add passthrough_bar_type to TimeBarAggregator
  nautilus_trader/data/aggregation.pxd
  nautilus_trader/data/aggregation.pyx
  nautilus_trader/data/engine.pyx
  tests/unit_tests/data/test_aggregation.py
Due: none

Add log_components_only option to Logger
  crates/common/src/ffi/logging.rs
  crates/common/src/logging/logger.rs
  crates/common/src/python/logging.rs
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/common/component.pxd
  nautilus_trader/common/component.pyx
  nautilus_trader/common/config.py
  nautilus_trader/core/includes/common.h
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/core/rust/common.pxd
  nautilus_trader/system/kernel.py
Due: fmt, cargo-clippy, cargo-doc

Add Hyperliquid WebSocket client (#2922)
  Cargo.lock
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/bin/ws-exec.rs
  crates/adapters/hyperliquid/src/common/consts.rs
  crates/adapters/hyperliquid/src/common/credential.rs
  crates/adapters/hyperliquid/src/http/error.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/codec.rs
  crates/adapters/hyperliquid/src/websocket/enums.rs
  crates/adapters/hyperliquid/src/websocket/mod.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refactor bar aggregators to use ts_init instead of ts_event (#2924)
  crates/data/src/aggregation.rs
  nautilus_trader/adapters/binance/common/schemas/market.py
  nautilus_trader/adapters/binance/data.py
  nautilus_trader/adapters/binance/http/market.py
  nautilus_trader/adapters/binance/spot/schemas/market.py
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/bybit/http/market.py
  nautilus_trader/adapters/bybit/schemas/market/kline.py
  nautilus_trader/adapters/bybit/schemas/market/trades.py
  nautilus_trader/data/aggregation.pxd
  nautilus_trader/data/aggregation.pyx
  tests/unit_tests/data/test_aggregation.py
Due: fmt, cargo-clippy, cargo-doc

Add passthrough_bar_type to TimeBarAggregator (#2929)
  nautilus_trader/data/aggregation.pxd
  nautilus_trader/data/aggregation.pyx
  nautilus_trader/data/engine.pyx
  tests/unit_tests/data/test_aggregation.py
Due: none

Add matching engine check to return early if last_qty is non-positive (#2930)
  nautilus_trader/backtest/engine.pyx
Due: none

Add log_components_only option to Logger (#2931)
  crates/common/src/ffi/logging.rs
  crates/common/src/logging/logger.rs
  crates/common/src/python/logging.rs
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/common/component.pxd
  nautilus_trader/common/component.pyx
  nautilus_trader/common/config.py
  nautilus_trader/core/includes/common.h
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/core/rust/common.pxd
  nautilus_trader/system/kernel.py
Due: fmt, cargo-clippy, cargo-doc

Add test for matching engine early return on non-positive fill qty
  nautilus_trader/backtest/engine.pyx
  tests/unit_tests/backtest/test_matching_engine.py
Due: none

Refine log_components_only config and add docs
  crates/common/src/ffi/logging.rs
  crates/common/src/logging/logger.rs
  docs/concepts/logging.md
  nautilus_trader/common/component.pyx
  nautilus_trader/common/config.py
Due: fmt, cargo-clippy, cargo-doc

Refine bar aggregation passthrough_bar_type handling
  nautilus_trader/data/aggregation.pyx
  tests/unit_tests/data/test_aggregation.py
  tests/unit_tests/data/test_engine.py
Due: none

Update dependencies and release notes
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Repair log_components_only arg position
  crates/common/src/python/logging.rs
Due: fmt, cargo-clippy, cargo-doc

Improve CLI binaries upload and installation in CI
  .github/workflows/cli-binaries.yml
  scripts/ci/publish-cli-r2-upload.sh
  scripts/cli/install.sh
Due: none

Improve rate limiter prop tests robustness
  crates/network/proptest-regressions/ratelimiter.txt
  crates/network/tests/property_ratelimiter.rs
Due: fmt, cargo-clippy, cargo-doc
