Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Resolve option underlying across venues at expiry (#5035)
  crates/execution/src/matching_engine/settlement.rs
  crates/execution/tests/integration/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Declare the lookback window on Kraken bounded mass status
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/adapters/kraken/src/http/futures/client.rs
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/tests/integration/exec_client.rs
  docs/integrations/kraken.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Accept custom data in StreamingFeatherWriter
  RELEASES.md
  crates/persistence/src/python/backend/feather.rs
  docs/concepts/custom_data.md
  python/tests/persistence/test_parquet_streaming.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Adjust Binance bulk non-trading skips to debug
  RELEASES.md
  crates/adapters/binance/src/common/instruments.rs
  crates/adapters/binance/src/common/parse.rs
  crates/adapters/binance/src/config.rs
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/src/spot/http/client.rs
  docs/integrations/binance.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix submission confirmation and report cleanup
  crates/live/src/execution/manager.rs
  crates/live/src/node/mod.rs
  docs/concepts/execution/reconciliation.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix live node startup with unrecovered positions
  RELEASES.md
  crates/live/src/execution/manager.rs
  crates/live/src/execution/reconciliation.rs
  crates/live/src/node/mod.rs
  crates/live/tests/integration/manager.rs
  crates/live/tests/integration/node.rs
  docs/concepts/execution/reconciliation.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Log Python strategy order and position callback errors
  crates/trading/src/python/strategy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit sided cancel-all to use batch cancel
  RELEASES.md
  crates/adapters/bybit/src/execution.rs
  crates/adapters/bybit/tests/integration/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Upgrade sockudo-ws and uvicorn
  .supply-chain/audits.toml
  .supply-chain/crate-dates.json
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/lighter/fuzz/pornin/Cargo.lock
  crates/network/src/transport/sockudo.rs
  crates/network/src/websocket/client.rs
  python/pyproject.toml
  python/uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Python callback error reporting
  RELEASES.md
  crates/common/src/python/actor.rs
  crates/common/src/python/logging.rs
  crates/common/src/timer.rs
  crates/trading/src/python/algorithm.rs
  crates/trading/src/python/strategy.rs
  docs/concepts/logging.md
  python/tests/unit/common/test_actor.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor RiskEngine order modification checks
  RELEASES.md
  crates/adapters/betfair/tests/integration/harness/mod.rs
  crates/common/src/throttler.rs
  crates/model/src/instruments/mod.rs
  crates/risk/src/engine/config.rs
  crates/risk/src/engine/mod.rs
  crates/risk/src/engine/tests.rs
  crates/risk/tests/risk_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Binance custom data typed catalog round trips
  Cargo.lock
  RELEASES.md
  crates/adapters/binance/Cargo.toml
  crates/adapters/binance/src/common/bar.rs
  crates/adapters/binance/src/data_types.rs
  crates/adapters/binance/src/python/types.rs
  crates/persistence/src/backend/migration.rs
  crates/persistence/src/backend/parquet/catalog/query.rs
  crates/persistence/src/backend/parquet/catalog/store.rs
  crates/persistence/src/catalog/types.rs
  crates/persistence/src/python/backend/parquet/catalog.rs
  crates/persistence/tests/integration/test_catalog.rs
  crates/persistence/tests/test_parquet_migration.rs
  docs/concepts/custom_data.md
  docs/how_to/migrate_parquet_catalog.md
  docs/integrations/binance.md
  python/nautilus_trader/adapters/binance/__init__.pyi
  python/tests/persistence/test_parquet_binance_custom_data.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Preserve ExecutionEngine handoffs in later submit commands (#5020)
  crates/execution/src/engine/mod.rs
  crates/execution/tests/integration/exec_engine.rs
  docs/concepts/execution/policies.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Redact socket client URLs from logs, errors, and Debug
  RELEASES.md
  crates/network/src/socket/client.rs
  crates/network/src/socket/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OKX native order book depth subscriptions
  crates/adapters/okx/benches/data.rs
  crates/adapters/okx/examples/node_data_tester.rs
  crates/adapters/okx/src/data.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/okx/tests/integration/book_lifecycle.rs
  crates/adapters/okx/tests/integration/book_sync.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/messages/data/mod.rs
  crates/common/src/python/actor.rs
  crates/data/src/defi/engine.rs
  crates/data/src/engine/bar.rs
  crates/data/src/engine/book.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/integration/engine.rs
  crates/system/src/trader.rs
  crates/testkit/src/testers/data/actor.rs
  crates/trading/src/python/strategy.rs
  docs/concepts/order_book.md
  docs/developer_guide/spec_data_testing.md
  docs/integrations/okx.md
  examples/live/okx/data_tester.py
  python/nautilus_trader/common/__init__.pyi
  python/nautilus_trader/trading/__init__.pyi
  python/tests/integration/test_python_data_client.py
  python/tests/strategies/backtest_surface.py
  python/tests/unit/adapters/okx/test_book_delivery.py
  python/tests/unit/backtest/test_backtest_engine_surface.py
  python/tests/unit/common/test_actor.py
  python/tests/unit/trading/test_trading.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Redact HTTP transport error query strings by default
  RELEASES.md
  crates/network/src/http/client.rs
  crates/network/src/http/mod.rs
  crates/network/src/http/tests.rs
  docs/concepts/networking.md
  docs/developer_guide/adapters.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance cancel-all side filtering
  RELEASES.md
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/spot/execution.rs
  crates/adapters/binance/tests/integration/futures/exec_client.rs
  crates/adapters/binance/tests/integration/spot/exec_client.rs
  docs/integrations/binance.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add LiveNode Feather streaming tests
  Cargo.lock
  RELEASES.md
  crates/live/Cargo.toml
  crates/live/tests/integration/main.rs
  crates/live/tests/integration/streaming.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Correct the Kraken bounded reports documentation
  docs/integrations/kraken.md
Due: check-non-latin-text

Mark Kraken bounded report sets incomplete on a parse failure
  crates/adapters/kraken/src/http/futures/client.rs
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/tests/integration/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Avoid a panic deriving the Kraken mass-status cutoff
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/execution/spot.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix catalog instrument listing for remote base paths
  crates/persistence/src/backend/parquet/catalog/store.rs
  crates/persistence/src/python/backend/parquet/catalog.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Interactive Brokers contract details conversion
  crates/adapters/interactive_brokers/src/python/conversion.rs
  python/tests/unit/adapters/interactive_brokers/test_interactive_brokers_provider.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clarify submission recovery tracking
  crates/live/src/execution/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Cover the Kraken futures bounded report window in tests
  crates/adapters/kraken/tests/integration/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update release notes for reporting credit
  RELEASES.md
Due: check-non-latin-text

Document ExecutionEngine dispatch record lifetime
  crates/execution/src/engine/mod.rs
  docs/concepts/execution/policies.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Restore Feather streaming typed catalog decode
  Cargo.lock
  RELEASES.md
  crates/live/Cargo.toml
  crates/live/tests/integration/streaming.rs
  crates/persistence/src/backend/mod.rs
  crates/persistence/src/python/backend/feather.rs
  crates/persistence/src/writer/factory.rs
  crates/persistence/src/writer/feather.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix catalog file URIs for Windows drive paths
  RELEASES.md
  crates/persistence/src/backend/parquet/io.rs
  crates/persistence/src/catalog/factory.rs
  crates/persistence/src/common/paths.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden TLS certs-dir trust with SHA-256 logs
  Cargo.lock
  RELEASES.md
  crates/adapters/lighter/fuzz/pornin/Cargo.lock
  crates/network/Cargo.toml
  crates/network/src/socket/config.rs
  crates/network/src/tls.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Derive instrument parsing and CryptoOption minimums
  RELEASES.md
  crates/adapters/derive/src/common/parse.rs
  crates/adapters/derive/src/http/models.rs
  crates/adapters/derive/src/http/query.rs
  crates/model/src/instruments/crypto_option.rs
  crates/risk/tests/risk_engine.rs
  docs/concepts/instruments/crypto_option.md
  docs/integrations/derive.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document Parquet catalog layout discovery
  docs/concepts/data/catalog.md
Due: check-non-latin-text

Reject duplicate LiveNode construction on the same thread
  RELEASES.md
  crates/infrastructure/tests/integration/test_cache_redis.rs
  crates/live/src/node/builder.rs
  crates/live/src/node/mod.rs
  crates/live/src/python/node.rs
  docs/concepts/architecture.md
  docs/concepts/live.md
  docs/concepts/python.md
  docs/getting_started/index.md
  python/tests/conftest.py
  python/tests/integration/test_live_node_cache.py
  python/tests/integration/test_live_node_hosted.py
  python/tests/integration/test_live_node_uvicorn.py
  python/tests/integration/test_python_adapter_template.py
  python/tests/integration/test_python_data_client.py
  python/tests/unit/test_live_node.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix startup reconciliation for explicit position reports
  crates/adapters/binance/tests/integration/futures/exec_client.rs
  crates/execution/src/reconciliation/mod.rs
  crates/execution/src/reconciliation/positions.rs
  crates/execution/src/reconciliation/tests.rs
  crates/execution/src/reconciliation/types.rs
  crates/live/src/execution/manager.rs
  crates/live/src/execution/reconciliation.rs
  crates/live/tests/integration/manager.rs
  crates/live/tests/integration/node.rs
  docs/concepts/execution/policies.md
  docs/concepts/execution/reconciliation.md
  docs/developer_guide/adapters.md
  docs/integrations/lighter.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix LiveNode host-loop test isolation
  python/tests/integration/test_live_node_loops.py
Due: check-non-latin-text

Harden WebSocket close-reason logging against log forging
  RELEASES.md
  crates/network/src/logging.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Declare the lookback window on Kraken bounded mass status (#5043)
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/adapters/kraken/src/http/futures/client.rs
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/tests/integration/exec_client.rs
  docs/integrations/kraken.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Strategy post-only rejection logging
  RELEASES.md
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document HTTP client ambient proxy routing
  RELEASES.md
  crates/network/src/http/client.rs
  crates/network/src/http/mod.rs
  docs/concepts/networking.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Architect AX cancel-all side filtering
  RELEASES.md
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/architect_ax/tests/integration/exec_client.rs
  docs/integrations/architect_ax.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
