Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Replace RunnerMetricChannel with public SystemChannel
  crates/common/src/runner.rs
  crates/live/src/node/metrics.rs
  crates/live/src/node/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Coinbase integration guide
  docs/integrations/coinbase.md
Due: check-non-latin-text

Bind pong frames to the connection that received the ping (#4683)
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/mod.rs
  crates/network/src/websocket/types.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance Futures algo order ID promotion
  crates/adapters/binance/src/common/dispatch.rs
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/futures/websocket/streams/dispatch.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Average bet position price by stake on increase
  crates/model/src/data/bet.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix IB continuous futures historical bar requests (#4664)
  crates/adapters/interactive_brokers/src/data/convert.rs
  crates/adapters/interactive_brokers/src/data/core.rs
  crates/adapters/interactive_brokers/src/historical/client.rs
  crates/adapters/interactive_brokers/src/python/historical.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Databento snapshot sequence handling
  crates/adapters/databento/src/decode/market_data.rs
  crates/adapters/databento/src/decode/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Databento integration guide
  docs/integrations/databento.md
Due: check-non-latin-text

Fix Polymarket WebSocket market BUY order quantities
  RELEASES.md
  crates/adapters/polymarket/src/execution/order_fill_tracker.rs
  crates/adapters/polymarket/src/websocket/dispatch.rs
  crates/adapters/polymarket/test_data/ws_user_order_fok_buy_pusd_size.json
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Return no orders for an unknown instrument in the simulated exchange
  crates/backtest/src/exchange.rs
  crates/backtest/tests/exchange.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Deduplicate Redis cache adapter delete and custom data paths
  RELEASES.md
  crates/infrastructure/src/redis/cache.rs
  crates/infrastructure/tests/test_cache_redis.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix orderless position cache indexing
  crates/common/src/cache/mod.rs
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Databento MBO snapshot sequence handling (#4686)
  crates/adapters/databento/src/decode/market_data.rs
  crates/adapters/databento/src/decode/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Deribit integration guide
  docs/integrations/deribit.md
Due: check-non-latin-text

Retire Polymarket instruments on venue liveness not endDate
  crates/adapters/polymarket/src/data/auto_load.rs
  crates/adapters/polymarket/src/data/dispatch.rs
  crates/adapters/polymarket/src/data/instruments.rs
  crates/adapters/polymarket/src/data/lifecycle.rs
  crates/adapters/polymarket/src/data/mod.rs
  crates/adapters/polymarket/src/data/requests.rs
  crates/adapters/polymarket/src/data/runtime.rs
  crates/adapters/polymarket/src/execution/lifecycle.rs
  crates/adapters/polymarket/src/filters.rs
  crates/adapters/polymarket/src/http/parse.rs
  crates/adapters/polymarket/src/resolve/watchlist.rs
  crates/adapters/polymarket/test_data/gamma_market_past_end_date_open.json
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Track LiveNode dispatch busy time per channel
  crates/live/src/node/metrics.rs
  crates/live/src/node/mod.rs
  crates/live/tests/stress.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Run Docker amd64 builds on self-hosted runners
  .github/workflows/docker.yml
Due: check-non-latin-text

Improve Polymarket order-safety heartbeats
  RELEASES.md
  crates/adapters/polymarket/src/execution/lifecycle.rs
  crates/adapters/polymarket/src/http/clob.rs
  crates/adapters/polymarket/tests/exec_client.rs
  crates/adapters/polymarket/tests/http.rs
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Derive integration guide
  docs/integrations/derive.md
Due: check-non-latin-text

Add Python v2 cache database backing
  .github/workflows/build.yml
  MIGRATION_V2.md
  RELEASES.md
  crates/common/src/python/cache.rs
  crates/common/src/python/factory.rs
  crates/common/src/python/mod.rs
  crates/common/src/python/msgbus.rs
  crates/infrastructure/src/python/mod.rs
  crates/infrastructure/src/python/redis/cache.rs
  crates/infrastructure/src/python/redis/msgbus.rs
  crates/infrastructure/src/python/sql/cache.rs
  crates/infrastructure/src/redis/cache.rs
  crates/infrastructure/src/redis/msgbus.rs
  crates/infrastructure/src/sql/cache.rs
  crates/live/src/node/builder.rs
  crates/live/src/node/mod.rs
  crates/live/src/python/node.rs
  docs/concepts/cache.md
  docs/concepts/message_bus.md
  docs/how_to/configure_live_trading.md
  python/nautilus_trader/infrastructure/__init__.pyi
  python/nautilus_trader/live/__init__.pyi
  python/tests/integration/test_live_node_cache.py
  python/tests/unit/infrastructure/__init__.py
  python/tests/unit/infrastructure/test_configs.py
  python/tests/unit/test_generate_stubs.py
  python/tests/unit/test_live_node.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add typed RetryManager failure reasons
  crates/adapters/architect_ax/src/http/client.rs
  crates/adapters/betfair/src/http/client.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/websocket/handler.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/websocket/handler.rs
  crates/adapters/coinbase/src/http/client.rs
  crates/adapters/deribit/src/http/client.rs
  crates/adapters/deribit/src/websocket/handler.rs
  crates/adapters/derive/src/http/client.rs
  crates/adapters/dydx/src/execution/broadcaster.rs
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/kraken/src/http/futures/client.rs
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/lighter/src/http/client.rs
  crates/adapters/lighter/src/http/error.rs
  crates/adapters/lighter/src/websocket/handler.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/handler.rs
  crates/adapters/polymarket/src/execution/submitter.rs
  crates/adapters/polymarket/src/http/gamma.rs
  crates/network/src/retry.rs
  docs/developer_guide/adapters.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document adapter retry contract
  docs/developer_guide/adapters.md
Due: check-non-latin-text

Add test branch workflow
  .github/OVERVIEW.md
  .github/workflows/test.yml
Due: check-non-latin-text

Add regression for non-positive current position price
  crates/model/src/data/bet.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update contribution policy
  .github/pull_request_template.md
  .gitignore
  AGENTS.md
  AI_POLICY.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Due: check-non-latin-text

Refine Hyperliquid integration guide
  docs/integrations/hyperliquid.md
Due: check-non-latin-text

Refine dYdX integration guide
  docs/integrations/dydx.md
Due: check-non-latin-text

Restore market status on matching engine reset
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Retain backtest data past the window end and bound the no-data horizon (#4685)
  crates/backtest/src/data_iterator.rs
  crates/backtest/src/engine.rs
  crates/backtest/tests/backtest_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Average bet position price by stake on increase (#4684)
  crates/model/src/data/bet.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Address orderless position review feedback
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/event_store/src/replay.rs
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Count and surface Polymarket mass-status omissions
  crates/adapters/polymarket/benches/data.rs
  crates/adapters/polymarket/src/execution/parse.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/execution/reports.rs
  crates/adapters/polymarket/src/execution/responses.rs
  crates/adapters/polymarket/src/http/data_api.rs
  crates/adapters/polymarket/src/websocket/dispatch.rs
  crates/adapters/polymarket/tests/exec_client.rs
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Count and surface dropped venue position reports in live reconciliation
  crates/live/src/execution/manager.rs
  crates/live/src/node/mod.rs
  crates/live/tests/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make option expiry settlement transactional in the matching engine (#4618)
  Cargo.lock
  crates/execution/Cargo.toml
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
  crates/execution/tests/matching_engine/cache_database.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Extract option settlement from matching engine
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/matching_engine/settlement.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add backtest functionality to `grid_mm`
  crates/bin/src/bin/grid_mm.rs
  crates/bin/src/config.rs
  crates/bin/src/strategy/grid_mm/strategy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reconcile Polymarket settlement-pending fills and their corrections
  crates/adapters/polymarket/src/common/fifo_ext.rs
  crates/adapters/polymarket/src/common/mod.rs
  crates/adapters/polymarket/src/common/test_logger.rs
  crates/adapters/polymarket/src/execution/identity.rs
  crates/adapters/polymarket/src/execution/lifecycle.rs
  crates/adapters/polymarket/src/execution/order_fill_tracker.rs
  crates/adapters/polymarket/src/execution/parse.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/execution/reports.rs
  crates/adapters/polymarket/src/execution/responses.rs
  crates/adapters/polymarket/src/websocket/dispatch.rs
  crates/adapters/polymarket/tests/exec_client.rs
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor execution matching module layout
  .pre-commit-hooks/check_dst_conventions.sh
  RELEASES.md
  crates/backtest/src/exchange.rs
  crates/backtest/src/modules/mod.rs
  crates/execution/benches/matching_engine.rs
  crates/execution/src/matching_core.rs
  crates/execution/src/matching_engine/adapter.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/matching_engine/mod.rs
  crates/execution/tests/matching_engine.rs
  docs/concepts/dst.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Apply contract multiplier in FixedRiskSizer
  crates/risk/src/sizing.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Restrict portfolio greeks to open positions
  crates/common/src/greeks.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
