Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Account for failed builds in the missing engine error
  crates/backtest/src/python/node.rs
  python/tests/unit/backtest/test_backtest_node.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Profile cache exchange-rate allocations
  crates/common/Cargo.toml
  crates/common/benches/cache/BENCHMARKS.md
  crates/common/benches/cache/xrate.rs
  crates/common/benches/cache/xrate_workload.rs
  crates/common/examples/cache_xrate_profile.rs
  python/tests/unit/test_profile_xrate_heap.py
  scripts/profile-xrate-heap.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Optimize exchange rate lookup allocations
  RELEASES.md
  crates/common/benches/cache/BENCHMARKS.md
  crates/common/src/cache/mod.rs
  crates/common/src/xrate.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix pre-commit DeFi features and develop preview scope
  .github/workflows/build.yml
  scripts/ci/set-pre-commit-base.bash
  scripts/ci/test-build-artifact-reuse.bash
  scripts/clippy-changed.sh
Due: check-non-latin-text

Extract CacheApi, CacheView, and filter from cache module
  crates/common/src/cache/api.rs
  crates/common/src/cache/filter.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/view.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clarify backtest data type and missing engine errors (#4977)
  Cargo.lock
  crates/backtest/Cargo.toml
  crates/backtest/src/config.rs
  crates/backtest/src/python/node.rs
  python/tests/unit/backtest/test_backtest_configs.py
  python/tests/unit/backtest/test_backtest_node.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Verify callback root isolation across reused storage
  crates/common/src/actor/dispatch.rs
  docs/developer_guide/callback_dispatch.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Distinguish callback drain outcomes at safe boundaries
  crates/common/src/actor/dispatch.rs
  docs/developer_guide/callback_dispatch.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Integrate backtest callback drain boundaries
  crates/backtest/src/engine.rs
  crates/backtest/tests/integration/backtest_engine.rs
  crates/common/src/actor/dispatch.rs
  crates/common/src/actor/mod.rs
  crates/common/src/runner.rs
  docs/developer_guide/callback_dispatch.md
  docs/developer_guide/runtime_conformance.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Integrate live event-loop callback drains
  crates/live/src/dispatch.rs
  crates/live/src/lib.rs
  crates/live/src/node/mod.rs
  crates/live/src/runner.rs
  docs/developer_guide/callback_dispatch.md
  docs/developer_guide/runtime_conformance.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Migrate Polymarket Data API client to v2
  RELEASES.md
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/http/data_api.rs
  crates/adapters/polymarket/src/http/models.rs
  crates/adapters/polymarket/src/http/pagination.rs
  crates/adapters/polymarket/src/python/sort.rs
  crates/adapters/polymarket/test_data/data_api_positions_response.json
  crates/adapters/polymarket/test_data/data_api_trades_captured_response.json
  crates/adapters/polymarket/test_data/data_api_trades_response.json
  crates/adapters/polymarket/test_data/decimal_precision_position.json
  crates/adapters/polymarket/tests/integration/data_client.rs
  crates/adapters/polymarket/tests/integration/exec_client.rs
  crates/adapters/polymarket/tests/integration/http.rs
  crates/adapters/polymarket/tests/integration/mock_venue.rs
  docs/integrations/polymarket.md
  python/tests/unit/adapters/polymarket/test_polymarket_loader.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Betfair fill reconciliation across replacements
  RELEASES.md
  crates/adapters/betfair/src/execution.rs
  crates/adapters/betfair/src/stream/ocm.rs
  crates/adapters/betfair/src/stream/parse.rs
  crates/adapters/betfair/tests/integration/exec_client.rs
  crates/adapters/betfair/tests/integration/harness/mod.rs
  crates/adapters/betfair/tests/integration/live.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Gate report task follow-up queries during shutdown grace
  crates/live/src/node/mod.rs
  crates/live/tests/integration/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Rename DataCatalogBox to CatalogBackend
  crates/backtest/src/node.rs
  crates/backtest/src/python/node.rs
  crates/data/src/engine/streaming.rs
  crates/data/tests/integration/engine.rs
  crates/persistence/src/backend/parquet/catalog/mod.rs
  crates/persistence/src/backend/parquet/mod.rs
  crates/persistence/src/catalog/factory.rs
  crates/persistence/src/catalog/traits.rs
  crates/persistence/src/catalog/worker.rs
  crates/persistence/src/config.rs
  crates/system/src/kernel.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Parquet catalog writes and migration
  crates/model/src/ffi/data/depth.rs
  crates/persistence/src/backend/parquet/catalog/mod.rs
  crates/persistence/src/backend/parquet/catalog/query.rs
  crates/persistence/src/backend/parquet/catalog/write.rs
  crates/persistence/src/backend/parquet/migration.rs
  crates/persistence/tests/test_parquet_catalog.rs
  crates/persistence/tests/test_parquet_migration.rs
  docs/concepts/data/order_book_depth10.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add digit separators to OKX depth10 test literals
  crates/adapters/okx/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Parquet query errors and Arrow field decoding
  crates/persistence/src/backend/parquet/catalog/query.rs
  crates/persistence/src/backend/parquet/catalog/session.rs
  crates/serialization/src/arrow/json.rs
  python/tests/persistence/test_parquet_streaming.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align nested Pornin fuzz lockfile versions
  crates/adapters/lighter/fuzz/pornin/Cargo.lock
Due: cargo-deny

Migrate raw fixed-point access to public accessors
  crates/adapters/binance/src/arrow/bar.rs
  crates/adapters/databento/src/arrow/imbalance.rs
  crates/adapters/databento/src/arrow/statistics.rs
  crates/adapters/tardis/src/csv/load.rs
  crates/macros/src/serialization.rs
  crates/model/src/types/quantity.rs
  crates/serialization/src/arrow/bar.rs
  crates/serialization/src/arrow/catalog_display.rs
  crates/serialization/src/arrow/close.rs
  crates/serialization/src/arrow/delta.rs
  crates/serialization/src/arrow/depth.rs
  crates/serialization/src/arrow/index_price.rs
  crates/serialization/src/arrow/legacy.rs
  crates/serialization/src/arrow/mark_price.rs
  crates/serialization/src/arrow/mod.rs
  crates/serialization/src/arrow/quote.rs
  crates/serialization/src/arrow/trade.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update adapter tests for variable order book depth
  crates/adapters/databento/src/decode/tests.rs
  crates/adapters/derive/src/websocket/parse.rs
  crates/adapters/hyperliquid/src/websocket/parse.rs
  crates/adapters/lighter/src/websocket/parse.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/tardis/src/csv/load.rs
  crates/adapters/tardis/src/csv/stream.rs
  crates/adapters/tardis/src/machine/parse.rs
  crates/live/src/node/builder.rs
  crates/system/src/builder.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Deliver historical BinanceBar requests as custom data batches
  crates/adapters/binance/src/common/bar.rs
  crates/adapters/binance/src/futures/data.rs
  crates/adapters/binance/src/spot/data.rs
  crates/adapters/binance/tests/integration/futures/data_client.rs
  crates/adapters/binance/tests/integration/spot/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Keep working orders when replacing a reconciliation lifecycle
  crates/execution/src/reconciliation/positions.rs
  crates/execution/src/reconciliation/tests.rs
  crates/live/tests/integration/manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fall back to public Kraken fees when TradeVolume fails
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/src/python/http_spot.rs
  crates/adapters/kraken/tests/integration/exec_client.rs
  crates/adapters/kraken/tests/integration/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Report trade fetch completeness from the Polymarket data API
  crates/adapters/polymarket/src/http/data_api.rs
  crates/adapters/polymarket/tests/integration/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Replay market resolutions in the backtest engine
  crates/backtest/Cargo.toml
  crates/backtest/README.md
  crates/backtest/examples/prediction_market_replay.rs
  crates/backtest/src/config.rs
  crates/backtest/src/data_batch.rs
  crates/backtest/src/data_iterator.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/lib.rs
  crates/backtest/src/node.rs
  crates/backtest/src/replay/manifest.rs
  crates/backtest/src/replay/mod.rs
  crates/backtest/tests/integration/exchange.rs
  crates/backtest/tests/integration/replay.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Persist instrument closes and market resolutions
  crates/common/src/cache/database.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/infrastructure/src/redis/cache.rs
  crates/infrastructure/src/redis/queries.rs
  crates/infrastructure/src/sql/cache.rs
  crates/persistence/src/backend/catalog.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add outcome groups and market resolutions for prediction markets
  crates/common/src/msgbus/switchboard.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/integration/engine.rs
  crates/model/src/accounts/cash.rs
  crates/model/src/data/batch.rs
  crates/model/src/data/mod.rs
  crates/model/src/data/stubs.rs
  crates/model/src/identifiers/mod.rs
  crates/model/src/identifiers/outcome_group_id.rs
  crates/model/src/lib.rs
  crates/model/src/prediction/group.rs
  crates/model/src/prediction/mod.rs
  crates/model/src/prediction/resolution.rs
  crates/model/src/python/data/mod.rs
  crates/serialization/src/arrow/mod.rs
  crates/serialization/src/arrow/resolution.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Settle resolved prediction markets in the matching engine
  crates/adapters/sandbox/tests/integration/execution.rs
  crates/execution/src/matching_engine/mod.rs
  crates/execution/tests/integration/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Enforce notional limits per outcome group in the risk engine
  crates/live/src/node/config.rs
  crates/model/src/events/order/denied_reason.rs
  crates/risk/src/engine/config.rs
  crates/risk/src/engine/mod.rs
  crates/risk/src/exposure.rs
  crates/risk/src/lib.rs
  crates/risk/tests/risk_engine.rs
  docs/concepts/execution/index.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Cache.top_of_book for lightweight BBO access
  crates/common/src/python/cache.rs
  python/nautilus_trader/common/__init__.pyi
  python/tests/unit/common/test_cache.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Route emulated orders from the risk engine to the emulator
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor Parquet catalogs and Arrow encoding
  crates/backtest/src/data_batch.rs
  crates/backtest/src/node.rs
  crates/backtest/src/python/config.rs
  crates/data/src/engine/streaming.rs
  crates/live/src/python/config.rs
  crates/model/src/types/fixed.rs
  crates/model/src/types/money.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
  crates/network/src/websocket/client.rs
  crates/persistence/src/backend/mod.rs
  crates/persistence/src/backend/parquet/catalog/mod.rs
  crates/persistence/src/backend/parquet/mod.rs
  crates/persistence/src/backend/parquet/writer.rs
  crates/persistence/src/catalog/factory.rs
  crates/persistence/src/catalog/traits.rs
  crates/persistence/src/catalog/worker.rs
  crates/persistence/src/config.rs
  crates/persistence/src/python/backend/writer.rs
  crates/persistence/src/python/config.rs
  crates/persistence/src/python/mod.rs
  crates/persistence/src/writer/factory.rs
  crates/persistence/src/writer/feather.rs
  crates/persistence/src/writer/promotion.rs
  crates/persistence/src/writer/subscription.rs
  crates/persistence/src/writer/traits.rs
  crates/system/src/kernel.rs
  crates/system/src/python/config.rs
  docs/concepts/data/index.md
  docs/how_to/migrate_parquet_catalog.md
  python/nautilus_trader/persistence/__init__.pyi
  python/nautilus_trader/persistence/catalog_to_df.py
  python/pyproject.toml
  python/tests/persistence/test_depth_display.py
  python/tests/persistence/test_parquet_catalog_pyo3.py
  python/tests/persistence/test_parquet_catalog_to_df.py
  python/tests/unit/backtest/test_backtest_configs.py
  python/uv.lock
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve OKX order book recovery and resynchronization
  RELEASES.md
  crates/adapters/okx/Cargo.toml
  crates/adapters/okx/examples/book_sync_stress.rs
  crates/adapters/okx/src/book/mod.rs
  crates/adapters/okx/src/book/recovery.rs
  crates/adapters/okx/src/book/sync.rs
  crates/adapters/okx/src/book_sync.rs
  crates/adapters/okx/src/common/consts.rs
  crates/adapters/okx/src/common/failure.rs
  crates/adapters/okx/src/config.rs
  crates/adapters/okx/src/data.rs
  crates/adapters/okx/src/lib.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/handler.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/okx/tests/integration/book_lifecycle.rs
  crates/adapters/okx/tests/integration/book_sync.rs
  crates/adapters/okx/tests/integration/main.rs
  docs/integrations/okx.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor Parquet catalogs and Arrow encoding
  crates/adapters/databento/src/arrow/imbalance.rs
  crates/model/src/data/data_type.rs
  crates/model/src/types/price.rs
  crates/persistence/src/backend/parquet/catalog/query.rs
  crates/persistence/src/backend/parquet/feather_session.rs
  crates/persistence/src/backend/parquet/metadata.rs
  crates/persistence/src/backend/parquet/writer.rs
  crates/persistence/src/common/arrow.rs
  crates/persistence/src/python/backend/feather.rs
  crates/persistence/src/writer/feather.rs
  crates/persistence/src/writer/promotion.rs
  crates/persistence/src/writer/staged.rs
  crates/persistence/src/writer/subscription.rs
  crates/persistence/tests/test_parquet_catalog.rs
  crates/persistence/tests/test_parquet_migration.rs
  crates/serialization/src/arrow/legacy.rs
  crates/serialization/src/arrow/mod.rs
  docs/concepts/data/order_book_depth10.md
  python/nautilus_trader/model/custom.py
  python/tests/persistence/test_depth_display.py
  python/tests/unit/persistence/test_custom_data_annotations.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Windows pre-commit path and doc checks
  .pre-commit-hooks/test_check_actionlint.py
  crates/persistence/src/parquet.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
