Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Add compounding option to tearsheet returns charts
  RELEASES.md
  docs/concepts/visualization.md
  nautilus_trader/analysis/config.py
  nautilus_trader/analysis/tearsheet.py
  python/nautilus_trader/analysis/config.py
  python/nautilus_trader/analysis/tearsheet.py
  python/tests/unit/analysis/test_tearsheet.py
  tests/unit_tests/analysis/test_tearsheet.py
Due: check-non-latin-text

Fix v2 tearsheet visualization tests in CI
  .github/workflows/build-v2.yml
  python/nautilus_trader/analysis/tearsheet.py
  python/tests/unit/analysis/test_tearsheet.py
Due: check-non-latin-text

Fix Bybit submit rejection classification
  RELEASES.md
  crates/adapters/bybit/src/execution.rs
  crates/adapters/bybit/src/http/query.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Rust strategy OMS registration (#4327)
  RELEASES.md
  crates/backtest/src/engine.rs
  crates/live/src/node/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize execution command logs
  crates/execution/src/engine/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Analyzer realized PnL dedup (#4344)
  crates/analysis/src/analyzer.rs
  crates/backtest/tests/backtest_engine.rs
  nautilus_trader/analysis/analyzer.py
  nautilus_trader/portfolio/portfolio.pyx
  python/tests/unit/analysis/test_analysis.py
  tests/unit_tests/analysis/test_analyzer.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix v2 analysis test for pyo3 analyzer API
  python/tests/unit/analysis/test_analysis.py
Due: check-non-latin-text

Convert instrument docs to language tabs and v2 pyo3
  docs/concepts/instruments/betting_instrument.md
  docs/concepts/instruments/binary_option.md
  docs/concepts/instruments/cfd.md
  docs/concepts/instruments/commodity.md
  docs/concepts/instruments/crypto_future.md
  docs/concepts/instruments/crypto_futures_spread.md
  docs/concepts/instruments/crypto_option.md
  docs/concepts/instruments/crypto_option_spread.md
  docs/concepts/instruments/crypto_perpetual.md
  docs/concepts/instruments/currency_pair.md
  docs/concepts/instruments/equity.md
  docs/concepts/instruments/futures_contract.md
  docs/concepts/instruments/futures_spread.md
  docs/concepts/instruments/index.md
  docs/concepts/instruments/index_instrument.md
  docs/concepts/instruments/option_contract.md
  docs/concepts/instruments/option_spread.md
  docs/concepts/instruments/perpetual_contract.md
  docs/concepts/instruments/synthetic_instrument.md
  docs/concepts/instruments/tokenized_asset.md
  docs/developer_guide/docs.md
Due: check-non-latin-text

Prepare release
  RELEASES.md
Due: check-non-latin-text

Fix SpreadAnalyzer panic when quotes exceed capacity
  crates/indicators/src/ratio/spread_analyzer.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix RelativeVolatilityIndex std rolling window
  crates/indicators/src/volatility/rvi.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix EfficiencyRatio unbounded window and reset
  crates/indicators/src/ratio/efficiency_ratio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix FuzzyCandlesticks unbounded rolling windows
  crates/indicators/src/volatility/fuzzy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Address review feedback for Binance custom catalog paths
  nautilus_trader/adapters/binance/__init__.py
  nautilus_trader/persistence/catalog/parquet.py
  tests/integration_tests/adapters/binance/test_core_types.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

Add PyO3 type stub annotations to Interactive Brokers adapter
  Cargo.lock
  crates/adapters/interactive_brokers/Cargo.toml
  crates/adapters/interactive_brokers/src/common/enums/contracts.rs
  crates/adapters/interactive_brokers/src/common/enums/events.rs
  crates/adapters/interactive_brokers/src/common/enums/market_data.rs
  crates/adapters/interactive_brokers/src/common/enums/misc.rs
  crates/adapters/interactive_brokers/src/common/enums/order.rs
  crates/adapters/interactive_brokers/src/config.rs
  crates/adapters/interactive_brokers/src/data/core.rs
  crates/adapters/interactive_brokers/src/error.rs
  crates/adapters/interactive_brokers/src/execution/core.rs
  crates/adapters/interactive_brokers/src/factories.rs
  crates/adapters/interactive_brokers/src/gateway/dockerized.rs
  crates/adapters/interactive_brokers/src/historical/client.rs
  crates/adapters/interactive_brokers/src/providers/instruments.rs
  crates/adapters/interactive_brokers/src/python/config.rs
  crates/adapters/interactive_brokers/src/python/enums.rs
  crates/adapters/interactive_brokers/src/python/factories.rs
  crates/adapters/interactive_brokers/src/python/gateway.rs
  crates/adapters/interactive_brokers/src/python/historical.rs
  crates/adapters/interactive_brokers/src/python/providers.rs
  python/nautilus_trader/adapters/__init__.pyi
  python/nautilus_trader/adapters/interactive_brokers/__init__.pyi
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Register skewness and kurtosis with the PortfolioAnalyzer dispatch
  crates/analysis/src/python/analyzer.rs
  python/tests/unit/analysis/test_analysis.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket reconnect recovery and RTDS multi-symbol subscriptions
  crates/adapters/polymarket/src/data/dispatch.rs
  crates/adapters/polymarket/src/data/lifecycle.rs
  crates/adapters/polymarket/src/data/mod.rs
  crates/adapters/polymarket/src/data/requests.rs
  crates/adapters/polymarket/src/execution/lifecycle.rs
  crates/adapters/polymarket/src/rtds.rs
  crates/adapters/polymarket/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix python export and msgbus unsubscribe count
  crates/common/src/actor/data_actor.rs
  crates/common/src/messages/data/mod.rs
  crates/common/src/messages/data/subscribe.rs
  crates/common/src/messages/data/unsubscribe.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/common/mocks.rs
  crates/data/tests/engine.rs
  nautilus_trader/model/__init__.py
  nautilus_trader/model/data.pyx
  tests/unit_tests/model/test_borrow_rate.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Bump version and update dependencies
  .pre-commit-config.yaml
  .supply-chain/audits.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/derive/fuzz/Cargo.lock
  crates/adapters/lighter/fuzz/Cargo.lock
  crates/core/build.rs
  docs/concepts/rust.md
  docs/how_to/run_rust_backtest.md
  docs/how_to/run_rust_live_trading.md
  pyproject.toml
  python/pyproject.toml
  python/uv.lock
  uv.lock
  version.json
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove DataActor order event wiring
  crates/adapters/betfair/tests/node.rs
  crates/backtest/tests/backtest_engine.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/python/actor.rs
  crates/trading/src/examples/strategies/composite_market_maker/strategy.rs
  crates/trading/src/examples/strategies/composite_market_maker/tests.rs
  crates/trading/src/examples/strategies/delta_neutral_vol/strategy.rs
  crates/trading/src/examples/strategies/grid_mm/strategy.rs
  crates/trading/src/examples/strategies/grid_mm/tests.rs
  crates/trading/src/examples/strategies/hurst_vpin_directional/strategy.rs
  crates/trading/src/python/strategy.rs
  crates/trading/src/strategy/mod.rs
  docs/concepts/actors.md
  docs/concepts/events.md
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/core/nautilus_pyo3.pyi
  python/nautilus_trader/common/__init__.pyi
  python/nautilus_trader/trading/__init__.pyi
  python/tests/unit/common/test_actor.py
  python/tests/unit/trading/test_trading.py
  tests/unit_tests/common/test_actor.py
  tests/unit_tests/common/test_actor_pyo3.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add SinoPac community adapter listing
  ADAPTERS.md
Due: check-non-latin-text

Fix LiveNode external order claims
  crates/live/src/execution/manager.rs
  crates/live/src/node/mod.rs
  crates/live/src/python/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance futures order report prices
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/src/futures/http/models.rs
  crates/adapters/binance/src/futures/websocket/streams/recovery.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update README and release notes
  ADAPTERS.md
  README.md
  RELEASES.md
Due: check-non-latin-text

Add returns skewness and kurtosis statistics (#4334)
  crates/analysis/src/analyzer.rs
  crates/analysis/src/python/analyzer.rs
  crates/analysis/src/python/mod.rs
  crates/analysis/src/python/statistics/mod.rs
  crates/analysis/src/python/statistics/returns_kurtosis.rs
  crates/analysis/src/python/statistics/returns_skewness.rs
  crates/analysis/src/statistics/mod.rs
  crates/analysis/src/statistics/returns_kurtosis.rs
  crates/analysis/src/statistics/returns_skewness.rs
  python/nautilus_trader/analysis/__init__.pyi
  python/tests/unit/analysis/test_analysis.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add RTDS reconnect fault-injection regressions
  crates/adapters/polymarket/src/rtds.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Avoid adapter test linking in core CI job
  .github/workflows/build.yml
Due: check-non-latin-text

Fix core CI feature set for local nextest target
  .github/workflows/build.yml
Due: check-non-latin-text

Free Rust test artifacts before adapter CI step
  .github/workflows/build.yml
Due: check-non-latin-text

Fix Binance futures algo trigger reports
  crates/adapters/binance/src/futures/http/models.rs
  crates/adapters/binance/src/futures/websocket/streams/parse_exec.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add data concept pages
  docs/concepts/actors.md
  docs/concepts/adapters.md
  docs/concepts/cache.md
  docs/concepts/data/bar.md
  docs/concepts/data/funding_rate_update.md
  docs/concepts/data/index.md
  docs/concepts/data/index_price_update.md
  docs/concepts/data/instrument_close.md
  docs/concepts/data/instrument_status.md
  docs/concepts/data/mark_price_update.md
  docs/concepts/data/option_greeks.md
  docs/concepts/data/order_book_delta.md
  docs/concepts/data/order_book_deltas.md
  docs/concepts/data/order_book_depth10.md
  docs/concepts/data/quote_tick.md
  docs/concepts/data/trade_tick.md
  docs/concepts/greeks.md
  docs/concepts/instruments/betting_instrument.md
  docs/concepts/instruments/binary_option.md
  docs/concepts/instruments/commodity.md
  docs/concepts/instruments/crypto_perpetual.md
  docs/concepts/instruments/currency_pair.md
  docs/concepts/instruments/equity.md
  docs/concepts/instruments/index.md
  docs/concepts/instruments/perpetual_contract.md
  docs/concepts/instruments/synthetic_instrument.md
  docs/concepts/options.md
  docs/concepts/order_book.md
  docs/concepts/overview.md
  docs/concepts/strategies.md
  docs/concepts/synthetics.md
  docs/developer_guide/adapters.md
  docs/integrations/databento.md
  docs/integrations/ib.md
  docs/tutorials/hurst_vpin_kraken.md
Due: check-non-latin-text

Refine instrument docs field tables
  docs/concepts/instruments/betting_instrument.md
  docs/concepts/instruments/binary_option.md
  docs/concepts/instruments/cfd.md
  docs/concepts/instruments/commodity.md
  docs/concepts/instruments/crypto_future.md
  docs/concepts/instruments/crypto_futures_spread.md
  docs/concepts/instruments/crypto_option.md
  docs/concepts/instruments/crypto_option_spread.md
  docs/concepts/instruments/crypto_perpetual.md
  docs/concepts/instruments/currency_pair.md
  docs/concepts/instruments/equity.md
  docs/concepts/instruments/futures_contract.md
  docs/concepts/instruments/futures_spread.md
  docs/concepts/instruments/index_instrument.md
  docs/concepts/instruments/option_contract.md
  docs/concepts/instruments/option_spread.md
  docs/concepts/instruments/perpetual_contract.md
  docs/concepts/instruments/synthetic_instrument.md
  docs/concepts/instruments/tokenized_asset.md
Due: check-non-latin-text

Review Hyperliquid agent changes
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/http/rate_limits.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/dispatch.rs
  crates/adapters/hyperliquid/tests/exec_client.rs
  docs/integrations/hyperliquid.md
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update docs for v2 RC testing
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  RELEASES.md
  docs/getting_started/installation.md
Due: check-non-latin-text

Handle Hyperliquid in-flight modifies by CLOID
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/http/rate_limits.rs
  crates/adapters/hyperliquid/src/python/http.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/dispatch.rs
  crates/adapters/hyperliquid/tests/exec_client.rs
  nautilus_trader/adapters/hyperliquid/execution.py
  tests/integration_tests/adapters/hyperliquid/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Hyperliquid sweep strategy example
  Cargo.lock
  examples/live/hyperliquid/hyperliquid_sweep_strategy.py
  examples/live/hyperliquid/sweep_basket_config.example.json
  nautilus_trader/examples/strategies/sweep_strategy.py
  patches/pyo3-stub-gen/Cargo.toml
  patches/pyo3-stub-gen/build.rs
  patches/pyo3-stub-gen/src/exception.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix sweep unwind reduce-only loop
  examples/live/hyperliquid/BUILDING.md
  examples/live/hyperliquid/hyperliquid_sweep_strategy.py
  examples/live/hyperliquid/sweep_basket_config.example.json
  nautilus_trader/examples/strategies/sweep_strategy.py
  tests/unit_tests/examples/strategies/test_sweep_strategy.py
Due: check-non-latin-text

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
