Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Standardize chain name validation for InstrumentId (#2826)
  crates/adapters/blockchain/bin/node_test.rs
  crates/common/src/actor/tests.rs
  crates/data/tests/client.rs
  crates/data/tests/engine.rs
  crates/model/src/defi/amm.rs
  crates/model/src/defi/chain.rs
  crates/model/src/identifiers/instrument_id.rs
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Standardize formatting
  crates/model/src/defi/chain.rs
  crates/portfolio/src/portfolio.rs
Due: fmt, cargo-clippy, cargo-doc

Add tick_scheme_name field for instrument dict conversions
  RELEASES.md
  nautilus_trader/model/instruments/base.pyx
  nautilus_trader/model/instruments/betting.pyx
  nautilus_trader/model/instruments/binary_option.pyx
  nautilus_trader/model/instruments/cfd.pyx
  nautilus_trader/model/instruments/commodity.pyx
  nautilus_trader/model/instruments/crypto_future.pyx
  nautilus_trader/model/instruments/crypto_option.pyx
  nautilus_trader/model/instruments/crypto_perpetual.pyx
  nautilus_trader/model/instruments/currency_pair.pyx
  nautilus_trader/model/instruments/equity.pyx
  nautilus_trader/model/instruments/futures_contract.pyx
  nautilus_trader/model/instruments/futures_spread.pyx
  nautilus_trader/model/instruments/index.pyx
  nautilus_trader/model/instruments/option_contract.pyx
  nautilus_trader/model/instruments/option_spread.pyx
  tests/unit_tests/model/instruments/test_crypto_future_pyo3.py
  tests/unit_tests/model/instruments/test_crypto_option_pyo3.py
  tests/unit_tests/model/instruments/test_crypto_perpetual_pyo3.py
  tests/unit_tests/model/instruments/test_currency_pair_pyo3.py
  tests/unit_tests/model/instruments/test_equity_pyo3.py
  tests/unit_tests/model/instruments/test_futures_contract_pyo3.py
  tests/unit_tests/model/instruments/test_futures_spread_pyo3.py
  tests/unit_tests/model/instruments/test_option_contract_pyo3.py
  tests/unit_tests/model/instruments/test_option_spread_pyo3.py
  tests/unit_tests/model/test_instrument.py
Due: none

Add unresolvable enums
  stubs/common/actor.pyi
  stubs/model/data.pyi
Due: none

Fix Binance Spot testnet streaming URL
  RELEASES.md
  nautilus_trader/adapters/binance/common/urls.py
  tests/integration_tests/adapters/binance/test_factories.py
  tests/integration_tests/adapters/binance/test_url_generation.py
Due: none

Improve handling of Tardis Machine websocket connection errors
  RELEASES.md
  crates/adapters/tardis/src/python/machine.rs
Due: fmt, cargo-clippy, cargo-doc

Add default FixedTickScheme for all valid precisions
  RELEASES.md
  nautilus_trader/adapters/tardis/providers.py
  nautilus_trader/model/instruments/base.pxd
  nautilus_trader/model/instruments/base.pyx
  nautilus_trader/model/tick_scheme/implementations/fixed.pyx
  tests/unit_tests/model/test_instrument.py
Due: none

Standardize some defi instrument IDs
  crates/model/src/defi/amm.rs
  python/examples/blockchain/actors.py
  python/examples/blockchain/node_test.py
Due: fmt, cargo-clippy, cargo-doc

Refine PyDataActor config handling for LiveNode
  Cargo.lock
  crates/common/src/actor/data_actor.rs
  crates/common/src/python/actor.rs
  crates/core/src/python/serialization.rs
  crates/live/Cargo.toml
  crates/live/src/python/node.rs
  crates/model/src/defi/chain.rs
  crates/model/src/python/defi/types.rs
  python/examples/blockchain/actors.py
  python/examples/blockchain/node_test.py
  python/examples/blockchain/node_test_factory.py
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add `DexType` enum for decentralized exchange types with validation in `InstrumentId`
  crates/model/src/defi/dex.rs
  crates/model/src/defi/mod.rs
  crates/model/src/identifiers/instrument_id.rs
Due: fmt, cargo-clippy, cargo-doc

Chane name field to DexType in Dex struct and retype dex exchanges
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/camelot_v3.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/curve_finance.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/fluid.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/pancakeswap_v3.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/sushiswap_v2.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/sushiswap_v3.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/uniswap_v4.rs
  crates/adapters/blockchain/src/exchanges/base/aerodrome_slipstream.rs
  crates/adapters/blockchain/src/exchanges/base/aerodrome_v1.rs
  crates/adapters/blockchain/src/exchanges/base/baseswap_v2.rs
  crates/adapters/blockchain/src/exchanges/base/basex.rs
  crates/adapters/blockchain/src/exchanges/base/maverick_v1.rs
  crates/adapters/blockchain/src/exchanges/base/maverick_v2.rs
  crates/adapters/blockchain/src/exchanges/base/pancakeswap_v3.rs
  crates/adapters/blockchain/src/exchanges/base/sushiswap_v3.rs
  crates/adapters/blockchain/src/exchanges/base/uniswap_v2.rs
  crates/adapters/blockchain/src/exchanges/base/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/base/uniswap_v4.rs
  crates/adapters/blockchain/src/exchanges/ethereum/balancer_v2.rs
  crates/adapters/blockchain/src/exchanges/ethereum/balancer_v3.rs
  crates/adapters/blockchain/src/exchanges/ethereum/curve_finance.rs
  crates/adapters/blockchain/src/exchanges/ethereum/fluid.rs
  crates/adapters/blockchain/src/exchanges/ethereum/maverick_v2.rs
  crates/adapters/blockchain/src/exchanges/ethereum/pancakeswap_v3.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v2.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v4.rs
  crates/adapters/blockchain/src/hypersync/transform.rs
  crates/common/src/actor/tests.rs
  crates/common/src/cache/tests.rs
  crates/common/src/python/actor.rs
  crates/data/tests/engine.rs
  crates/model/src/defi/amm.rs
  crates/model/src/defi/dex.rs
  crates/model/src/identifiers/instrument_id.rs
  crates/model/src/python/defi/types.rs
Due: fmt, cargo-clippy, cargo-doc

Refactor `validate_blockchain_venue` by moving it from `InstrumentId` to `Venue`
  crates/model/src/defi/dex.rs
  crates/model/src/identifiers/instrument_id.rs
  crates/model/src/identifiers/venue.rs
  crates/model/src/python/defi/types.rs
Due: fmt, cargo-clippy, cargo-doc

Reorganize imports in `venue.rs` and conditionally include `defi` for feature "defi"
  crates/model/src/identifiers/venue.rs
Due: fmt, cargo-clippy, cargo-doc

Fix path filtering for build-v2 CI workflow
  .github/workflows/build-v2.yml
Due: none

Fix unmatched stubs and validation logic
  stubs/cache/cache.pyi
  stubs/common/actor.pyi
  stubs/common/component.pyi
  stubs/cython_parser.py
  stubs/data/client.pyi
  stubs/data/engine.pyi
  stubs/execution/emulator.pyi
  stubs/model/data.pyi
  stubs/model/instruments/base.pyi
  stubs/risk/engine.pyi
  stubs/validate_pyx_stubs.py
Due: none

improve RPC request with correct content type
  crates/adapters/blockchain/src/rpc/http.rs
Due: fmt, cargo-clippy, cargo-doc

Add PancakeSwapV3 pool parsing
  crates/adapters/blockchain/src/exchanges/arbitrum/pancakeswap_v3.rs
Due: fmt, cargo-clippy, cargo-doc

Move validate_address to model package
  crates/adapters/blockchain/src/cache/rows.rs
  crates/adapters/blockchain/src/contracts/base.rs
  crates/adapters/blockchain/src/data.rs
  crates/adapters/blockchain/src/lib.rs
  crates/model/src/defi/mod.rs
  crates/model/src/defi/validation.rs
Due: fmt, cargo-clippy, cargo-doc

symbol pool adress validation
  crates/adapters/blockchain/src/cache/rows.rs
  crates/common/src/actor/tests.rs
  crates/data/tests/client.rs
  crates/data/tests/engine.rs
  crates/model/src/defi/amm.rs
  crates/model/src/defi/validation.rs
  crates/model/src/identifiers/instrument_id.rs
  crates/model/src/identifiers/venue.rs
Due: fmt, cargo-clippy, cargo-doc

Fix RPC client content type header (#2828)
  crates/adapters/blockchain/src/rpc/http.rs
Due: fmt, cargo-clippy, cargo-doc

Add PancakeSwapV3 pool parsing (#2829)
  crates/adapters/blockchain/src/exchanges/arbitrum/pancakeswap_v3.rs
Due: fmt, cargo-clippy, cargo-doc

Standardize symbol validation for DEX pool InstrumentId (#2830)
  crates/adapters/blockchain/src/cache/rows.rs
  crates/adapters/blockchain/src/contracts/base.rs
  crates/adapters/blockchain/src/data.rs
  crates/adapters/blockchain/src/lib.rs
  crates/common/src/actor/tests.rs
  crates/data/tests/client.rs
  crates/data/tests/engine.rs
  crates/model/src/defi/amm.rs
  crates/model/src/defi/mod.rs
  crates/model/src/defi/validation.rs
  crates/model/src/identifiers/instrument_id.rs
  crates/model/src/identifiers/venue.rs
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc
