Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Refine OKX book subscription handling
  crates/adapters/okx/bin/ws-data.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/parse.rs
  examples/live/okx/okx_data_tester.py
  nautilus_trader/adapters/okx/config.py
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: fmt, cargo-clippy, cargo-doc

Fix AttributeError when loading cached IBContract objects (#2862)
  nautilus_trader/adapters/interactive_brokers/providers.py
Due: none

Relax conditions on start and end of instrument requests in adapters
  crates/common/src/actor/tests.rs
  crates/common/src/messages/data/response.rs
  crates/live/src/data.rs
  nautilus_trader/adapters/binance/data.py
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/coinbase_intx/data.py
  nautilus_trader/adapters/databento/data.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/adapters/polymarket/data.py
  nautilus_trader/adapters/tardis/data.py
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/data/client.pxd
  nautilus_trader/data/client.pyx
  tests/unit_tests/data/test_client.py
Due: fmt, cargo-clippy, cargo-doc

Relax conditions on start and end of requests in adapters
  nautilus_trader/adapters/bybit/data.py
Due: none

Refine option spread execution
  examples/live/interactive_brokers/notebooks/run_ratio_spread_1x2_qty3.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  nautilus_trader/backtest/matching_engine.pyx
  nautilus_trader/backtest/models/aggregator.pyx
  nautilus_trader/model/identifiers.pyx
  tests/integration_tests/adapters/interactive_brokers/test_spread_execution.py
  tests/unit_tests/model/test_identifiers.py
Due: none

Add optional allow_immediate_execution in BacktestEngineConfig
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/models/aggregator.pxd
  nautilus_trader/backtest/models/aggregator.pyx
  nautilus_trader/data/config.py
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
Due: none

Add Windows signal handling guidance docs
  RELEASES.md
  docs/concepts/live.md
Due: none

Increase nightly wheel retention
  README.md
  docs/getting_started/installation.md
  scripts/ci/publish-wheels-r2-remove-old-wheels.sh
Due: none

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve asyncio task tracking and cleanup for live clients
  examples/live/bitmex/bitmex_data_tester.py
  examples/live/bybit/bybit_data_tester.py
  examples/live/databento/databento_data_tester.py
  examples/live/okx/okx_data_tester.py
  examples/live/polymarket/polymarket_data_tester.py
  nautilus_trader/adapters/_template/execution.py
  nautilus_trader/adapters/binance/websocket/client.py
  nautilus_trader/live/data_client.py
  nautilus_trader/live/execution_client.py
  tests/unit_tests/live/test_data_client.py
  tests/unit_tests/live/test_execution_client.py
Due: none

Standardize book subscription methods naming
  crates/adapters/bitmex/bin/ws-data.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/coinbase_intx/bin/websocket.rs
  crates/adapters/coinbase_intx/src/python/websocket.rs
  crates/adapters/coinbase_intx/src/websocket/client.rs
  crates/adapters/okx/bin/ws-data.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/okx/src/websocket/client.rs
  nautilus_trader/adapters/bitmex/data.py
  nautilus_trader/adapters/coinbase_intx/data.py
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: fmt, cargo-clippy, cargo-doc

Improve DataTester with subscribe_params config option
  nautilus_trader/test_kit/strategies/tester_data.py
Due: none

Refine Databento message decoding
  crates/adapters/databento/src/decode.rs
  crates/adapters/databento/src/live.rs
  examples/live/databento/databento_data_tester.py
Due: fmt, cargo-clippy, cargo-doc

Add Postgres functions for managing token table partitions
  schema/sql/functions.sql
  schema/sql/tables.sql
Due: none

Add token-related queries in the blockchain cache database
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Add sync-pools command for DEX pool synchronization with enhanced chain and DEX validation
  crates/cli/src/blockchain/sync.rs
  crates/cli/src/opt.rs
Due: fmt, cargo-clippy, cargo-doc

Enhance error handling for DEX pool syncing and token processing
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/exchanges/mod.rs
  crates/adapters/blockchain/src/reporting.rs
Due: fmt, cargo-clippy, cargo-doc

Refactor pool processing logic to improve efficiency and batch insert pools into the database
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/data/core.rs
Due: fmt, cargo-clippy, cargo-doc

Introduce efficient pool syncing command in the cli (#2871)
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/exchanges/mod.rs
  crates/adapters/blockchain/src/reporting.rs
  crates/cli/src/blockchain/sync.rs
  crates/cli/src/opt.rs
  schema/sql/functions.sql
  schema/sql/tables.sql
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  RELEASES.md
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix PolymarketUserTrade bucket_index field type
  RELEASES.md
  nautilus_trader/adapters/polymarket/schemas/user.py
  tests/integration_tests/adapters/polymarket/resources/ws_messages/user_trade1.json
  tests/integration_tests/adapters/polymarket/resources/ws_messages/user_trade2.json
  tests/integration_tests/adapters/polymarket/test_parsing.py
Due: none

Add additional cryptocurrencies to currency maps
  crates/model/src/currencies.rs
  nautilus_trader/model/currencies.py
Due: fmt, cargo-clippy, cargo-doc

Standardize crates documentation
  crates/adapters/bitmex/src/lib.rs
  crates/adapters/blockchain/src/lib.rs
  crates/adapters/coinbase_intx/src/lib.rs
  crates/adapters/databento/src/lib.rs
  crates/adapters/hyperliquid/src/lib.rs
  crates/adapters/okx/src/lib.rs
  crates/adapters/tardis/src/lib.rs
  crates/analysis/src/lib.rs
  crates/backtest/src/lib.rs
  crates/cli/src/lib.rs
  crates/common/src/lib.rs
  crates/core/src/lib.rs
  crates/cryptography/src/lib.rs
  crates/data/src/lib.rs
  crates/execution/src/lib.rs
  crates/indicators/src/lib.rs
  crates/infrastructure/src/lib.rs
  crates/live/src/lib.rs
  crates/model/src/lib.rs
  crates/network/src/lib.rs
  crates/persistence/src/lib.rs
  crates/portfolio/src/lib.rs
  crates/pyo3/src/lib.rs
  crates/risk/src/lib.rs
  crates/serialization/src/lib.rs
  crates/system/src/lib.rs
  crates/testkit/src/lib.rs
  crates/trading/src/lib.rs
Due: fmt, cargo-clippy, cargo-doc

Add request_params for DataTesterConfig
  nautilus_trader/test_kit/strategies/tester_data.py
Due: none

Standardize use of testers in examples
  examples/live/bitmex/bitmex_exec_tester.py
  examples/live/bybit/bybit_exec_tester.py
  examples/live/coinbase_intx/coinbase_intx_data_tester.py
  examples/live/coinbase_intx/coinbase_intx_exec_tester.py
  examples/live/coinbase_intx/coinbase_intx_quoter.py
  examples/live/coinbase_intx/coinbase_intx_subscriber.py
  nautilus_trader/test_kit/strategies/tester_exec.py
Due: none

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
