Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Add v2 backtest report and portfolio statistics
  Cargo.lock
  crates/analysis/src/analyzer.rs
  crates/analysis/src/lib.rs
  crates/analysis/src/python/mod.rs
  crates/analysis/src/python/snapshot.rs
  crates/analysis/src/snapshot.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/python/engine.rs
  crates/backtest/tests/book_imbalance.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/portfolio/Cargo.toml
  crates/portfolio/src/portfolio.rs
  crates/portfolio/src/python/mod.rs
  crates/portfolio/tests/portfolio.rs
  crates/trading/Cargo.toml
  crates/trading/src/strategy/api.rs
  python/generate_stubs.py
  python/nautilus_trader/analysis/__init__.py
  python/nautilus_trader/analysis/__init__.pyi
  python/nautilus_trader/analysis/reporter.py
  python/nautilus_trader/backtest/__init__.pyi
  python/nautilus_trader/portfolio/__init__.pyi
  python/tests/unit/analysis/test_reporter.py
  python/tests/unit/backtest/test_backtest_engine_statistics.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OKX algo order lookup and stale accept replay
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/dispatch.rs
  crates/adapters/okx/tests/exec_client.rs
  crates/adapters/okx/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket Shanghai backtest smoke suite
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/strategy_suite_summary.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/report.md
  research/2026-06-24-polymarket-shanghai-event-backtest/scripts/run_event_backtest.py
  research/2026-06-24-polymarket-shanghai-event-backtest/scripts/run_strategy_suite.py
  research/2026-06-24-polymarket-shanghai-event-backtest/suite_manifest.json
Due: check-non-latin-text

Update IB protobuf security pin
  osv-scanner.toml
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Standardize msgbus order event topics
  crates/backtest/src/exchange.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/msgbus/switchboard.rs
  crates/execution/src/engine/mod.rs
  crates/execution/src/order_emulator/emulator.rs
  crates/execution/tests/exec_engine.rs
  crates/live/src/execution/manager.rs
  crates/live/tests/manager.rs
  crates/portfolio/tests/portfolio.rs
  crates/system/src/trader.rs
  crates/trading/src/algorithm/mod.rs
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make common clock ref-count clones explicit (#4302)
  crates/common/src/clock.rs
  crates/common/src/python/clock.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add instrument subscription to Bybit adapter - Combine instrument status poll loop into one status and pure instrument loop - Emit instrument status on subscribe (so cache gets populated)
  crates/adapters/bybit/src/common/instruments.rs
  crates/adapters/bybit/src/common/mod.rs
  crates/adapters/bybit/src/common/status.rs
  crates/adapters/bybit/src/config.rs
  crates/adapters/bybit/src/data.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/python/config.rs
  crates/adapters/bybit/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Coalesce backtest expiry timers and speed up test clock advancement
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/tests/backtest_engine.rs
  crates/common/src/clock.rs
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  tests/integration_tests/test_option_exercise_flow.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Coalesce backtest expiry timers and speed up test clock advancement (#4307)
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/tests/backtest_engine.rs
  crates/common/src/clock.rs
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  tests/integration_tests/test_option_exercise_flow.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine backtest expiry timer updates
  crates/backtest/src/engine.rs
  crates/backtest/tests/backtest_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Small fixes - Clear instrument sub state on client reset/disconnect - rstest instead of test - Expand economics_differ to include all economic fields
  crates/adapters/bybit/src/common/instruments.rs
  crates/adapters/bybit/src/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove live timer dead APIs
  crates/common/src/live/clock.rs
  crates/common/src/live/mod.rs
  crates/live/src/runner.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix matching engine state edge cases
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/matching_engine/ids_generator.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Lighter reconciliation inputs
  crates/adapters/lighter/examples/node_exec_tester.rs
  crates/adapters/lighter/src/config.rs
  crates/adapters/lighter/src/execution.rs
  crates/adapters/lighter/src/http/query.rs
  crates/adapters/lighter/src/python/config.rs
  crates/adapters/lighter/tests/exec_client.rs
  crates/adapters/lighter/tests/http.rs
  crates/adapters/lighter/tests/python.rs
  docs/integrations/lighter.md
  python/nautilus_trader/adapters/lighter/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Validate matching engine display quantity precision
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
  docs/concepts/instruments/index.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Instrument domain value normalization
  crates/model/src/instruments/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine CI wheel artifact handling
  .github/actions/common-wheel-build/action.yml
  .github/actions/upload-artifact-wheel/action.yml
  .github/workflows/build-v2.yml
Due: check-non-latin-text

Refine Polymarket replay validation checks
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/strategy_suite_summary.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/report.md
  research/2026-06-24-polymarket-shanghai-event-backtest/scripts/run_event_backtest.py
  research/2026-06-24-polymarket-shanghai-event-backtest/scripts/run_strategy_suite.py
Due: check-non-latin-text

Pin v2 CI pandas test deps
  .github/workflows/build-v2.yml
Due: check-non-latin-text

Apply PMXT price-change batch replay
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/strategy_suite_summary.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/report.md
  research/2026-06-24-polymarket-shanghai-event-backtest/scripts/run_event_backtest.py
  research/2026-06-24-polymarket-shanghai-event-backtest/scripts/run_strategy_suite.py
Due: check-non-latin-text

Standardize crate never publish comment
  crates/pyo3/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Improve PMXT batch replay diagnostics
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-10-2026__28degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__buy_hold_first_ask__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__contrarian_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__maker_bbo__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/bbo_5min.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/fills.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/data/highest-temperature-in-shanghai-on-june-9-2026__25degC__yes__momentum_taker__fillconservative__q10__max100__freq5min__thr0p03/summary.json
  research/2026-06-24-polymarket-shanghai-event-backtest/data/strategy_suite_summary.csv
  research/2026-06-24-polymarket-shanghai-event-backtest/report.md
  research/2026-06-24-polymarket-shanghai-event-backtest/scripts/run_event_backtest.py
  research/2026-06-24-polymarket-shanghai-event-backtest/scripts/run_strategy_suite.py
Due: check-non-latin-text

Refine clock local var name in test
  crates/common/src/clock.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Interactive Brokers crypto order sizing for SELL orders
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/execution.py
Due: check-non-latin-text

Prepare release
  RELEASES.md
Due: check-non-latin-text

Gate IB cashQty on quote quantity and reject quote-quantity SELLs
  RELEASES.md
  crates/adapters/interactive_brokers/src/execution/transform.rs
  crates/adapters/interactive_brokers/src/execution/transform/policy.rs
  nautilus_trader/adapters/interactive_brokers/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add PMXT ordering diagnostics
  research/2026-06-24-polymarket-shanghai-event-backtest/data/pmxt_ordering_diagnostics.json
  research/2026-06-24-polymarket-shanghai-event-backtest/report_ordering.md
  research/2026-06-24-polymarket-shanghai-event-backtest/scripts/check_pmxt_ordering.py
Due: check-non-latin-text

Document PMXT timestamp ordering examples
  research/2026-06-24-polymarket-shanghai-event-backtest/data/pmxt_ordering_diagnostics.json
  research/2026-06-24-polymarket-shanghai-event-backtest/report_ordering.md
  research/2026-06-24-polymarket-shanghai-event-backtest/scripts/check_pmxt_ordering.py
Due: check-non-latin-text

Standardize request_bars callback pattern and update docs
  docs/concepts/actors.md
  docs/concepts/data.md
  docs/concepts/strategies.md
  docs/integrations/ib.md
  nautilus_trader/examples/strategies/ema_cross.py
  nautilus_trader/examples/strategies/ema_cross_bracket.py
  nautilus_trader/examples/strategies/ema_cross_bracket_algo.py
  nautilus_trader/examples/strategies/ema_cross_hedge_mode.py
  nautilus_trader/examples/strategies/ema_cross_long_only.py
  nautilus_trader/examples/strategies/ema_cross_stop_entry.py
  nautilus_trader/examples/strategies/ema_cross_trailing_stop.py
  nautilus_trader/examples/strategies/ema_cross_twap.py
  nautilus_trader/examples/strategies/volatility_market_maker.py
Due: check-non-latin-text

Fix pre-commit
  crates/adapters/bybit/src/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden CI release provenance checks
  python/pyproject.toml
  scripts/ci/release-verification-retry.bash
  scripts/ci/retry-on-corruption.sh
  scripts/ci/test-release-verification-retry.bash
  scripts/ci/test-verify-published-registries-crates.bash
  scripts/ci/verify-published-registries.bash
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Bump version and dependencies
  .docker/DockerfileUbuntu
  .docker/jupyterlab.dockerfile
  .docker/nautilus_trader.dockerfile
  .github/actions/cargo-tool-install/action.yml
  .github/actions/common-setup/action.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  .github/workflows/cli-binaries.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/dst.yml
  .github/workflows/nightly-docs-features-check.yml
  .github/workflows/nightly-merge.yml
  .github/workflows/nightly-miri.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/openssf-scorecard.yml
  .github/workflows/performance.yml
  .github/workflows/security-audit.yml
  .pre-commit-config.yaml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/derive/fuzz/Cargo.lock
  crates/adapters/lighter/fuzz/Cargo.lock
  crates/core/build.rs
  pyproject.toml
  python/pyproject.toml
  python/uv.lock
  uv.lock
  version.json
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden Throttler timer handling
  crates/common/src/throttler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Throttler rate limit API
  crates/common/Cargo.toml
  crates/common/src/throttler.rs
  crates/risk/src/engine/mod.rs
  crates/risk/src/python/config.rs
  crates/risk/tests/risk_engine.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Optimize Throttler hot paths
  crates/common/Cargo.toml
  crates/common/benches/throttler.rs
  crates/common/src/throttler.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix clippy lints
  crates/backtest/tests/backtest_node_itch.rs
  crates/backtest/tests/grid_mm_itch.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine event sourcing marker sidecar docs
  crates/adapters/interactive_brokers/src/data/core_streams.rs
  docs/concepts/event_sourcing.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Lighter documentation and quickstarts
  crates/adapters/lighter/examples/node_exec_tester.rs
  crates/common/src/live/dst.rs
  crates/live/src/node/mod.rs
  docs/getting_started/installation.md
  docs/how_to/configure_live_trading.md
  docs/how_to/get_started_lighter.md
  docs/how_to/index.md
  docs/how_to/run_rust_backtest.md
  docs/how_to/run_rust_live_trading.md
  docs/integrations/lighter.md
  docs/tutorials/lighter_rwa_composite_mm.md
  examples/quickstarts/lighter-rust-data-client/.gitignore
  examples/quickstarts/lighter-rust-data-client/Cargo.toml
  examples/quickstarts/lighter-rust-data-client/README.md
  examples/quickstarts/lighter-rust-data-client/src/main.rs
  examples/tutorials/src/bin/lighter_nvda_composite_mm.rs
  python/README.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
