Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

minor doc change
  docs/integrations/rithmic.md
Due: check-non-latin-text

Split IBKR exec client ids for live venues
  systems/flux/flux/runners/live/venues.py
  tests/unit_tests/examples/strategies/test_live_venue_registry.py
Due: check-non-latin-text

fix: stabilize equities ibkr gateway routing
  deploy/equities/equities.live.toml
  deploy/equities/strategies/amzn_binance_perp_maker.toml
  deploy/equities/strategies/amzn_binance_perp_taker.toml
  deploy/equities/strategies/coin_binance_perp_maker.toml
  deploy/equities/strategies/coin_binance_perp_taker.toml
  deploy/equities/strategies/crcl_binance_perp_maker.toml
  deploy/equities/strategies/crcl_binance_perp_taker.toml
  deploy/equities/strategies/ewy_binance_perp_maker.toml
  deploy/equities/strategies/ewy_binance_perp_taker.toml
  deploy/equities/strategies/hood_binance_perp_maker.toml
  deploy/equities/strategies/hood_binance_perp_taker.toml
  deploy/equities/strategies/intc_binance_perp_maker.toml
  deploy/equities/strategies/intc_binance_perp_taker.toml
  deploy/equities/strategies/mstr_binance_perp_maker.toml
  deploy/equities/strategies/mstr_binance_perp_taker.toml
  deploy/equities/strategies/pltr_binance_perp_maker.toml
  deploy/equities/strategies/pltr_binance_perp_taker.toml
  deploy/equities/strategies/tsla_binance_perp_maker.toml
  deploy/equities/strategies/tsla_binance_perp_taker.toml
  systems/flux/flux/runners/live/venues.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/examples/strategies/test_live_venue_registry.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(pr): resolve trades hardening review regressions
  fluxboard/__tests__/ResyncPolling.test.tsx
  fluxboard/components/domain/signal/SignalTable.store.test.ts
  fluxboard/stores.ts
  systems/flux/flux/api/app.py
  tests/unit_tests/flux/api/test_app.py
Due: check-non-latin-text

Support Rithmic tick bars and document replay limits
  crates/adapters/rithmic/src/data.rs
  crates/adapters/rithmic/src/data/client.rs
  crates/adapters/rithmic/src/gateway.rs
  crates/adapters/rithmic/src/lib.rs
  crates/adapters/rithmic/src/python/data.rs
  crates/adapters/rithmic/src/python/events.rs
  docs/integrations/rithmic.md
  examples/live/rithmic/notebooks/README.md
  nautilus_trader/adapters/rithmic/data.py
  tests/integration_tests/adapters/rithmic/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: tighten deque replanning invariants
  docs/concepts/logging.md
  systems/flux/flux/strategies/makerv3/quote_engine.py
  systems/flux/flux/strategies/makerv3/rebalancing.py
  systems/flux/flux/strategies/shared/quote_stack.py
  tests/unit_tests/flux/strategies/makerv3/test_order_intent_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
  tests/unit_tests/flux/strategies/shared/test_quote_stack.py
Due: check-non-latin-text

feat: add equities grouped-node contract
  deploy/equities/README.md
  deploy/equities/strategies/README.md
  fluxboard/docs/equities_contract.md
  systems/flux/flux/runners/equities/node_groups.py
  tests/unit_tests/examples/strategies/test_equities_node_groups.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text

Update dependencies and release notes
  .pre-commit-config.yaml
  .supply-chain/audits.toml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  python/uv.lock
  uv-version
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Refine Polymarket WS dispatch and data client
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/execution/parse.rs
  crates/adapters/polymarket/src/websocket/dispatch.rs
  crates/adapters/polymarket/test_data/ws_user_order_venue_cancel.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve security gate for nightly pipeline
  .github/OVERVIEW.md
  .github/workflows/build.yml
Due: check-non-latin-text

Clean up Polymarket crate comments and style
  crates/adapters/polymarket/src/common/enums.rs
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/execution/mod.rs
  crates/adapters/polymarket/src/execution/order_builder.rs
  crates/adapters/polymarket/src/execution/order_fill_tracker.rs
  crates/adapters/polymarket/src/execution/parse.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/execution/submitter.rs
  crates/adapters/polymarket/src/filters.rs
  crates/adapters/polymarket/src/http/clob.rs
  crates/adapters/polymarket/src/http/data_api.rs
  crates/adapters/polymarket/src/http/gamma.rs
  crates/adapters/polymarket/src/http/query.rs
  crates/adapters/polymarket/src/providers.rs
  crates/adapters/polymarket/src/websocket/dispatch.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Upgrade Rust
  Cargo.toml
  README.md
  RELEASES.md
  rust-toolchain.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix matching engine L1 stale bid/ask with trade-only data
  RELEASES.md
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  tests/unit_tests/backtest/test_matching_engine.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: restore deque hole repair convergence
  systems/flux/flux/strategies/makerv3/rebalancing.py
  systems/flux/flux/strategies/shared/quote_stack.py
  tests/unit_tests/flux/strategies/makerv3/test_order_intent_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
  tests/unit_tests/flux/strategies/shared/test_quote_stack.py
Due: check-non-latin-text

fix: validate equities grouped-node member composition
  systems/flux/flux/runners/equities/node_groups.py
  tests/unit_tests/examples/strategies/test_equities_node_groups.py
Due: check-non-latin-text

refactor(pr): tighten trades hardening hot paths
  fluxboard/Trades.tsx
  fluxboard/stores.ts
  systems/flux/flux/api/app.py
  systems/flux/flux/api/socketio.py
  tests/unit_tests/flux/api/test_realtime_contract.py
Due: check-non-latin-text

Add live Rithmic EMA cross example
  docs/integrations/rithmic.md
  examples/live/rithmic/rithmic_ema_cross.py
Due: check-non-latin-text

fix: target hole repair cancels precisely
  docs/concepts/logging.md
  docs/runbooks/tokenmm-makerv3-bounded-convergence-rollout.md
  systems/flux/docs/makerv3.md
  systems/flux/flux/strategies/makerv3/rebalancing.py
  systems/flux/flux/strategies/shared/quote_stack.py
  tests/unit_tests/flux/strategies/makerv3/test_order_intent_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
  tests/unit_tests/flux/strategies/shared/test_quote_stack.py
Due: check-non-latin-text

fix: refine keep-bucket repair classification
  docs/plans/2026-03-26-shared-deque-quote-stack-design.md
  docs/plans/2026-03-26-shared-deque-quote-stack.md
  systems/flux/flux/strategies/makerv3/rebalancing.py
  systems/flux/flux/strategies/shared/quote_stack.py
  tests/unit_tests/flux/strategies/makerv3/test_order_intent_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
  tests/unit_tests/flux/strategies/shared/test_quote_stack.py
Due: check-non-latin-text

feat: run grouped equities strategies on one node
  systems/flux/flux/runners/equities/run_node.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/examples/strategies/test_runner_external_order_claims.py
Due: check-non-latin-text

fix: validate grouped equities member composition
  systems/flux/flux/runners/equities/run_node.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
Due: check-non-latin-text

test: cover grouped-node duplicate claim rejection
  tests/unit_tests/examples/strategies/test_runner_external_order_claims.py
Due: check-non-latin-text

fix: prioritize inward deque convergence
  docs/plans/2026-03-26-shared-deque-quote-stack-design.md
  docs/plans/2026-03-26-shared-deque-quote-stack.md
  systems/flux/flux/strategies/makerv3/rebalancing.py
  systems/flux/flux/strategies/shared/quote_stack.py
  tests/unit_tests/flux/strategies/makerv3/test_order_intent_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
  tests/unit_tests/flux/strategies/shared/test_quote_stack.py
Due: check-non-latin-text

fix: accept split node config differences
  systems/flux/flux/runners/equities/run_node.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
Due: check-non-latin-text

minor doc change
  docs/integrations/rithmic.md
  examples/live/rithmic/notebooks/README.md
Due: check-non-latin-text

fix: reject divergent grouped node config
  systems/flux/flux/runners/equities/run_node.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
Due: check-non-latin-text

fix: derive grouped equities node identity
  systems/flux/flux/runners/equities/run_node.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
Due: check-non-latin-text

fix: close deque review gaps
  docs/plans/2026-03-26-shared-deque-quote-stack-design.md
  docs/plans/2026-03-26-shared-deque-quote-stack.md
  systems/flux/flux/strategies/makerv3/rebalancing.py
  systems/flux/flux/strategies/shared/quote_stack.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
  tests/unit_tests/flux/strategies/shared/test_quote_stack.py
Due: check-non-latin-text

docs: clarify deque repair blocker taxonomy
  docs/plans/2026-03-26-shared-deque-quote-stack-design.md
  docs/plans/2026-03-26-shared-deque-quote-stack.md
Due: check-non-latin-text

feat: preserve equities API contract on grouped nodes
  fluxboard/docs/equities_contract.md
  systems/flux/flux/runners/equities/run_api.py
  tests/unit_tests/examples/strategies/test_equities_run_api.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
Due: check-non-latin-text

test: cover remaining grouped selector contracts
  tests/unit_tests/flux/api/test_equities_profile_contract.py
Due: check-non-latin-text

feat: render grouped equities operator surfaces
  deploy/equities/README.md
  deploy/equities/strategies/README.md
  deploy/equities/systemd/flux-equities.target
  deploy/equities/systemd/flux-pulse.sudoers
  ops/scripts/deploy/install_equities_systemd.sh
  ops/scripts/deploy/list_equities_node_groups.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/ops/deploy/test_install_equities_systemd.py
  tests/unit_tests/ops/deploy/test_rebuild_flux_pulse_sudoers.py
Due: check-non-latin-text

fix: allow grouped equities sibling ibkr client ids
  systems/flux/flux/runners/equities/run_node.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
Due: check-non-latin-text

fix grouped equities node config ordering
  systems/flux/flux/runners/equities/run_node.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
Due: check-non-latin-text

fix: add equities API readiness route
  deploy/equities/README.md
  systems/flux/flux/runners/equities/run_api.py
  tests/unit_tests/examples/strategies/test_equities_run_api.py
Due: check-non-latin-text

fix: route grouped equities bridge streams
  systems/flux/flux/bridge/stream_consumer.py
  systems/flux/flux/runners/equities/run_bridge.py
  tests/unit_tests/examples/strategies/test_equities_run_bridge.py
  tests/unit_tests/flux/bridge/test_stream_consumer.py
Due: check-non-latin-text

fix: keep projection-backed inventory components fresh
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/flux/strategies/makerv3/test_strategy_lifecycle.py
Due: check-non-latin-text

Refine TimeEventHandler
  crates/backtest/src/accumulator.rs
  crates/common/src/timer.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Small change
  crates/data/src/aggregation.rs
  nautilus_trader/data/aggregation.pyx
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix test
  crates/data/src/aggregation.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
