Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Preserve cash order locks on unreported balances
  crates/adapters/polymarket/src/execution/reports.rs
  crates/model/src/accounts/cash.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Cache InstrumentClose persistence
  RELEASES.md
  crates/common/src/cache/database.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/common/src/python/cache.rs
  crates/event_store/src/replay.rs
  crates/event_store/tests/lifecycle.rs
  crates/execution/tests/matching_engine/cache_database.rs
  crates/infrastructure/src/redis/cache.rs
  crates/infrastructure/src/redis/queries.rs
  crates/infrastructure/src/sql/cache.rs
  crates/infrastructure/src/sql/models/data.rs
  crates/infrastructure/src/sql/queries.rs
  crates/infrastructure/tests/test_cache_postgres.rs
  crates/infrastructure/tests/test_cache_redis.rs
  crates/system/src/builder.rs
  crates/testkit/src/cache.rs
  docs/concepts/cache.md
  python/nautilus_trader/common/__init__.pyi
  python/tests/unit/common/test_cache.py
  schema/sql/tables.sql
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine pre-commit and CI checks
  .github/workflows/build.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check_dst_conventions.sh
  .pre-commit-hooks/test_check_dst_conventions.sh
  Makefile
  docs/developer_guide/testing.md
  scripts/cargo-features.bash
  scripts/ci/plan.sh
  scripts/ci/test-build-artifact-reuse.bash
  scripts/ci/test-plan.bash
  scripts/clippy-changed.sh
  scripts/doc-changed.sh
  scripts/test-clippy-strict-audit.bash
Due: check-non-latin-text

Optimize pre-commit convention hooks
  .pre-commit-config.yaml
  .pre-commit-hooks/check_docs_conventions.sh
  .pre-commit-hooks/check_dst_conventions.sh
  .pre-commit-hooks/check_formatting_rs.sh
  .pre-commit-hooks/test_check_docs_conventions.sh
  .pre-commit-hooks/test_check_dst_conventions.sh
Due: check-non-latin-text

Refine Arrow serialization
  RELEASES.md
  crates/serialization/src/arrow/account_state.rs
  crates/serialization/src/arrow/bar.rs
  crates/serialization/src/arrow/close.rs
  crates/serialization/src/arrow/custom.rs
  crates/serialization/src/arrow/delta.rs
  crates/serialization/src/arrow/depth.rs
  crates/serialization/src/arrow/display/mod.rs
  crates/serialization/src/arrow/funding.rs
  crates/serialization/src/arrow/index_price.rs
  crates/serialization/src/arrow/instrument/betting.rs
  crates/serialization/src/arrow/instrument/binary_option.rs
  crates/serialization/src/arrow/instrument/cfd.rs
  crates/serialization/src/arrow/instrument/commodity.rs
  crates/serialization/src/arrow/instrument/crypto_future.rs
  crates/serialization/src/arrow/instrument/crypto_futures_spread.rs
  crates/serialization/src/arrow/instrument/crypto_option.rs
  crates/serialization/src/arrow/instrument/crypto_option_spread.rs
  crates/serialization/src/arrow/instrument/crypto_perpetual.rs
  crates/serialization/src/arrow/instrument/currency_pair.rs
  crates/serialization/src/arrow/instrument/equity.rs
  crates/serialization/src/arrow/instrument/futures_contract.rs
  crates/serialization/src/arrow/instrument/futures_spread.rs
  crates/serialization/src/arrow/instrument/index_instrument.rs
  crates/serialization/src/arrow/instrument/mod.rs
  crates/serialization/src/arrow/instrument/option_contract.rs
  crates/serialization/src/arrow/instrument/option_spread.rs
  crates/serialization/src/arrow/instrument/perpetual_contract.rs
  crates/serialization/src/arrow/instrument/tokenized_asset.rs
  crates/serialization/src/arrow/instrument_status.rs
  crates/serialization/src/arrow/json.rs
  crates/serialization/src/arrow/mark_price.rs
  crates/serialization/src/arrow/mod.rs
  crates/serialization/src/arrow/order_event.rs
  crates/serialization/src/arrow/position_event.rs
  crates/serialization/src/arrow/quote.rs
  crates/serialization/src/arrow/report.rs
  crates/serialization/src/arrow/snapshot.rs
  crates/serialization/src/arrow/trade.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add borrowed data dispatch (#4900)
  crates/backtest/src/engine.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/engine.rs
  crates/model/src/data/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add runtime external order claim command for live nodes
  crates/common/src/actor/tests.rs
  crates/common/src/messages/mod.rs
  crates/common/src/messages/system/claims.rs
  crates/common/src/messages/system/mod.rs
  crates/common/src/python/actor.rs
  crates/live/src/node/mod.rs
  crates/live/src/runner.rs
  crates/trading/src/python/strategy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add MessageBus typed external streaming
  Cargo.lock
  crates/common/benches/msgbus.rs
  crates/common/src/messages/execution/mod.rs
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/config.rs
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/external/mod.rs
  crates/common/src/msgbus/message.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/engine.rs
  crates/infrastructure/Cargo.toml
  crates/infrastructure/benches/redis_msgbus.rs
  crates/infrastructure/src/redis/mod.rs
  crates/infrastructure/src/redis/msgbus.rs
  crates/infrastructure/src/redis/stream_fields.rs
  crates/live/src/node/mod.rs
  crates/live/src/python/config.rs
  crates/live/src/python/node.rs
  docs/concepts/message_bus.md
  python/nautilus_trader/live/__init__.pyi
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix order status semantics and currency registration
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/architect_ax/tests/exec_client.rs
  crates/adapters/databento/src/enums.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/okx/src/http/client.rs
  crates/model/src/currencies.rs
  crates/model/src/enums.rs
  crates/model/src/lib.rs
  crates/model/src/macros.rs
  crates/model/src/stubs.rs
  crates/model/src/venues.rs
  docs/concepts/orders/index.md
  docs/developer_guide/adapters.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove DataEngine borrowed deltas clone
  crates/data/src/engine/mod.rs
  crates/data/tests/engine.rs
  crates/model/src/data/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize enum labels and documented values
  RELEASES.md
  crates/model/src/enums.rs
  crates/model/src/python/enums.rs
  crates/serialization/src/arrow/instrument/binary_option.rs
  crates/serialization/src/arrow/instrument/crypto_option.rs
  crates/serialization/src/arrow/instrument/futures_contract.rs
  crates/serialization/src/arrow/instrument/futures_spread.rs
  crates/serialization/src/arrow/instrument/mod.rs
  crates/serialization/src/arrow/instrument/option_contract.rs
  crates/serialization/src/arrow/instrument/option_spread.rs
  docs/concepts/instruments/index.md
  docs/concepts/overview.md
  docs/concepts/positions.md
  docs/integrations/polymarket.md
  python/nautilus_trader/model/__init__.pyi
  python/tests/unit/model/test_enums.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Kraken spot wallet balances to report venue-held amounts
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/src/http/spot/models.rs
  crates/adapters/kraken/src/python/http_spot.rs
  crates/adapters/kraken/test_data/http_spot_balance_ex.json
  crates/adapters/kraken/tests/exec_client.rs
  crates/adapters/kraken/tests/http.rs
  docs/integrations/kraken.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Support Polymarket collateral-sized limit buys
  RELEASES.md
  crates/adapters/polymarket/src/execution/order_builder.rs
  crates/adapters/polymarket/src/execution/orders.rs
  crates/adapters/polymarket/src/execution/responses.rs
  crates/adapters/polymarket/src/execution/submitter.rs
  crates/adapters/polymarket/src/execution/types.rs
  crates/adapters/polymarket/tests/exec_client.rs
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Surface a failed data query before opening later configs
  crates/backtest/src/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fail OKX mass status on incomplete pending algo coverage
  crates/adapters/okx/src/execution.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize order status report filtering
  Cargo.lock
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/bitmex/src/execution.rs
  crates/adapters/bybit/tests/exec_client.rs
  crates/adapters/derive/src/execution.rs
  crates/adapters/derive/tests/exec_client.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/hyperliquid/tests/exec_client.rs
  crates/adapters/okx/src/execution.rs
  crates/live/src/execution/reports.rs
  crates/model/Cargo.toml
  crates/model/src/enums.rs
  crates/model/src/venues.rs
  crates/model/test_data/serde_renamed/main.rs
  crates/model/tests/serde_renamed.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Enforce ExecutionEngine submission eligibility
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
  crates/model/src/events/order/denied_reason.rs
  docs/concepts/execution.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Preserve OKX non-mass report filtering
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add BacktestEngine typed batch replay
  RELEASES.md
  crates/backtest/src/data_batch.rs
  crates/backtest/src/data_iterator.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/lib.rs
  crates/data/src/engine/mod.rs
  crates/model/src/data/batch.rs
  crates/model/src/data/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Move Betfair connection waits into tests
  crates/adapters/betfair/src/execution.rs
  crates/adapters/betfair/src/stream/client.rs
  crates/adapters/betfair/tests/common/mod.rs
  crates/adapters/betfair/tests/exec_client.rs
  docs/developer_guide/adapters.md
  docs/developer_guide/testing.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Satisfy docformatter on the new HMA period tests
  python/tests/unit/indicators/test_hma.py
Due: check-non-latin-text

Add Bybit self-match prevention
  RELEASES.md
  crates/adapters/bybit/bin/flatten.rs
  crates/adapters/bybit/src/common/enums.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/config.rs
  crates/adapters/bybit/src/execution.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/query.rs
  crates/adapters/bybit/src/python/config.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/bybit/src/websocket/messages.rs
  crates/adapters/bybit/tests/exec_client.rs
  crates/adapters/bybit/tests/http.rs
  crates/adapters/bybit/tests/websocket.rs
  docs/integrations/bybit.md
  python/nautilus_trader/adapters/bybit/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

support binance rpi order
  crates/adapters/binance/src/common/enums.rs
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/tests/futures/exec_client.rs
  docs/integrations/binance.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Stream backtest data lazily across multiple data configs (#4897)
  crates/backtest/src/node.rs
  crates/backtest/tests/backtest_node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Support user-defined portfolio statistics
  Cargo.lock
  MIGRATION_V2.md
  RELEASES.md
  crates/analysis/Cargo.toml
  crates/analysis/src/analyzer.rs
  crates/analysis/src/python/analyzer.rs
  crates/analysis/src/python/mod.rs
  crates/analysis/src/python/statistic.rs
  crates/analysis/src/statistic.rs
  crates/backtest/benches/engine/canonical.rs
  crates/backtest/src/engine.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/src/python/mod.rs
  crates/portfolio/tests/portfolio.rs
  docs/api_reference/analysis.md
  docs/concepts/portfolio.md
  docs/concepts/visualization.md
  python/generate_stubs.py
  python/nautilus_trader/analysis/__init__.py
  python/nautilus_trader/analysis/__init__.pyi
  python/nautilus_trader/analysis/statistic.py
  python/nautilus_trader/portfolio/__init__.pyi
  python/tests/unit/analysis/test_analysis.py
  python/tests/unit/portfolio/test_portfolio.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Simplify Python config subclass definitions
  MIGRATION_V2.md
  docs/concepts/actors.md
  docs/concepts/strategies.md
  docs/getting_started/backtest_low_level.py
  docs/getting_started/quickstart.py
  docs/tutorials/assets/backtest_orderbook_binance/render_panels.py
  docs/tutorials/assets/backtest_orderbook_bybit/render_panels.py
  docs/tutorials/assets/gold_book_imbalance_ax/render_panels.py
  docs/tutorials/ema_cross.py
  docs/tutorials/orderbook_imbalance.py
  examples/backtest/notebooks/databento_futures_settlement.py
  examples/backtest/notebooks/databento_option_exercise.py
  examples/backtest/tardis_option_chain.py
  examples/live/architect_ax/strategies.py
  examples/live/blockchain/actors.py
  examples/live/bybit/bybit_option_chain.py
  examples/live/deribit/deribit_option_chain.py
  examples/live/okx/okx_spot_swap_quoter.py
  python/tests/strategies/acceptance.py
  python/tests/strategies/backtest_surface.py
  python/tests/strategies/ema_cross.py
  python/tests/strategies/ema_cross_twap.py
Due: check-non-latin-text

Fix testkit data resolution and timestamp precision
  crates/portfolio/src/portfolio.rs
  python/nautilus_trader/testkit/providers.py
  python/tests/unit/testkit/test_providers.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix v2 documentation install and guide execution
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  RELEASES.md
  docs/concepts/reports.md
  docs/concepts/visualization.md
  docs/getting_started/backtest_high_level.py
  docs/getting_started/backtest_low_level.py
  docs/getting_started/index.md
  docs/getting_started/installation.md
  docs/getting_started/quickstart.py
  docs/how_to/data_catalog_databento.py
  docs/how_to/loading_external_data.py
  docs/tutorials/backtest_fx_bars.py
  docs/tutorials/backtest_orderbook_binance.py
  docs/tutorials/backtest_orderbook_bybit.py
  docs/tutorials/fx_mean_reversion_ax.md
  docs/tutorials/gold_book_imbalance_ax.md
  docs/tutorials/orderbook_data.py
  python/tests/acceptance/test_docs_imports.py
  python/tests/acceptance/test_docs_scripts.py
Due: check-non-latin-text

Fix option greeks config string actor IDs
  examples/live/bybit/bybit_option_greeks.py
  examples/live/deribit/deribit_option_greeks.py
  examples/live/okx/okx_option_greeks.py
Due: check-non-latin-text

Standardize uv project environment resolution
  .github/actions/common-setup/action.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/developer_guide/environment_setup.md
  docs/getting_started/installation.md
  scripts/ci/check-python-types.bash
  scripts/ci/test-python-doctests.bash
  scripts/ci/test-uv-project-environment.bash
  scripts/ci/test-wheel.bash
  scripts/uv-project-environment.bash
Due: check-non-latin-text

Remove backtest stream merge comment
  crates/backtest/src/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Move DataEngine book deltas subscription types
  crates/data/src/engine/book.rs
  crates/data/src/engine/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
