Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Refactor and improve blockchain data client
  crates/adapters/blockchain/src/data.rs
  crates/adapters/blockchain/src/data/client.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/data/mod.rs
  crates/adapters/blockchain/src/data/subscription.rs
  crates/adapters/blockchain/src/factories.rs
Due: fmt, cargo-clippy, cargo-doc

add `DefiDataSubscriptionManager` for managing DeFi event subscriptions
  crates/adapters/blockchain/bin/node_test.rs
  crates/adapters/blockchain/src/data/subscription.rs
Due: fmt, cargo-clippy, cargo-doc

remove unused hypersync transform functions
  crates/adapters/blockchain/src/hypersync/transform.rs
Due: fmt, cargo-clippy, cargo-doc

include SharedDex in event parsing functions for DEX exchanges
  crates/adapters/blockchain/src/exchanges/extended.rs
Due: fmt, cargo-clippy, cargo-doc

update node_test.py script with new dexids and from_block to 0
  python/examples/blockchain/node_test.py
Due: none

fix blockchain enum import behind defi feature in model crate
  crates/model/src/identifiers/instrument_id.rs
Due: fmt, cargo-clippy, cargo-doc

Add await_request as params for live requests
  nautilus_trader/live/data_client.py
Due: none

Allow several instrument versions with request_instrument
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/data/client.pyx
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  tests/unit_tests/data/test_engine.py
Due: none

Update dependencies and release notes
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine blockchain adapter
  crates/adapters/blockchain/src/data/client.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/data/subscription.rs
  docs/developer_guide/rust.md
Due: fmt, cargo-clippy, cargo-doc

Fix backend session streaming tests
  tests/unit_tests/persistence/test_backend.py
Due: none

Add custom logging function support for RetryManager
  RELEASES.md
  nautilus_trader/adapters/binance/common/constants.py
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/binance/http/error.py
  nautilus_trader/adapters/binance/websocket/client.py
  nautilus_trader/live/retry.py
Due: none

Allow several instrument versions with request_instrument (#2835)
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/data/client.pyx
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  tests/unit_tests/data/test_engine.py
Due: none

Refine sockets disconnect log levels
  crates/network/src/python/socket.rs
  crates/network/src/python/websocket.rs
Due: fmt, cargo-clippy, cargo-doc

Refine FFI Memory Contract guide
  docs/developer_guide/ffi.md
Due: none

Update dependencies and release notes
  .pre-commit-config.yaml
  RELEASES.md
  uv-version
  uv.lock
Due: none

Cleanup VolatilityMarketMaker example strategy
  nautilus_trader/examples/strategies/volatility_market_maker.py
Due: none

Convert low level API backtest examples to additional high level API examples
  examples/backtest/example_01_load_bars_from_custom_csv/run_example.py
  examples/backtest/example_01_load_bars_from_custom_csv/run_node.py
  examples/backtest/example_01_load_bars_from_custom_csv/strategy.py
  examples/backtest/example_02_use_clock_timer/run_example.py
  examples/backtest/example_02_use_clock_timer/run_node.py
  examples/backtest/example_02_use_clock_timer/strategy.py
  examples/backtest/example_03_bar_aggregation/run_example.py
  examples/backtest/example_03_bar_aggregation/run_node.py
  examples/backtest/example_03_bar_aggregation/strategy.py
  examples/backtest/example_04_using_data_catalog/run_example.py
  examples/backtest/example_04_using_data_catalog/run_node.py
  examples/backtest/example_04_using_data_catalog/strategy.py
  examples/backtest/example_05_using_portfolio/run_node.py
  examples/backtest/example_05_using_portfolio/strategy.py
  examples/backtest/example_06_using_cache/run_example.py
  examples/backtest/example_06_using_cache/run_node.py
  examples/backtest/example_06_using_cache/strategy.py
  examples/backtest/example_07_using_indicators/run_example.py
  examples/backtest/example_07_using_indicators/run_node.py
  examples/backtest/example_07_using_indicators/strategy.py
  examples/backtest/example_08_cascaded_indicator/run_node.py
  examples/backtest/example_08_cascaded_indicator/strategy.py
  examples/backtest/example_09_messaging_with_msgbus/run_node.py
  examples/backtest/example_09_messaging_with_msgbus/strategy.py
  examples/backtest/example_10_messaging_with_actor_data/run_node.py
  examples/backtest/example_10_messaging_with_actor_data/strategy.py
  examples/backtest/example_11_messaging_with_actor_signals/run_node.py
  examples/backtest/example_11_messaging_with_actor_signals/strategy.py
  nautilus_trader/backtest/config.py
Due: none

Convert low level API backtest examples to additional high level API examples
  Makefile
Due: none

Improve socket close sequence with timeout to prevent deadlocks
  crates/network/src/socket.rs
  crates/network/src/websocket.rs
Due: fmt, cargo-clippy, cargo-doc

Improve external order handling for OKX and Coinbase Intx
  nautilus_trader/adapters/coinbase_intx/execution.py
  nautilus_trader/adapters/okx/execution.py
Due: none

Refine OrderStatusReport parsing for OKX
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Add pytest timer (#2834)
  Makefile
Due: none

Fix SimulationModule typo
  nautilus_trader/backtest/exchange.pyx
Due: none

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
