Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Pin the account relevance cells and align the gate prose with its checks
  crates/live/src/execution/manager.rs
  crates/live/tests/integration/manager.rs
  docs/concepts/execution/reconciliation.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make data ref-count clones explicit
  crates/data/src/aggregation.rs
  crates/data/src/defi/engine.rs
  crates/data/src/engine/bar.rs
  crates/data/src/engine/book.rs
  crates/data/src/engine/mod.rs
  crates/data/src/engine/option_chain.rs
  crates/data/src/engine/spread_quote.rs
  crates/data/src/lib.rs
  crates/data/src/option_chains/manager.rs
  crates/data/tests/integration/client.rs
  crates/data/tests/integration/common/defi.rs
  crates/data/tests/integration/defi.rs
  crates/data/tests/integration/engine/bars.rs
  crates/data/tests/integration/engine/book.rs
  crates/data/tests/integration/engine/catalog.rs
  crates/data/tests/integration/engine/clients.rs
  crates/data/tests/integration/engine/common.rs
  crates/data/tests/integration/engine/continuous_futures.rs
  crates/data/tests/integration/engine/engine_misc.rs
  crates/data/tests/integration/engine/historical.rs
  crates/data/tests/integration/engine/market_data.rs
  crates/data/tests/integration/engine/option_chain.rs
  crates/data/tests/integration/engine/pipelines.rs
  crates/data/tests/integration/engine/requests.rs
  crates/data/tests/integration/engine/spread.rs
  crates/data/tests/integration/engine/subscriptions.rs
  crates/data/tests/integration/main.rs
  crates/data/tests/integration/subscription.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Pin the open-order and fallback cells of the Kraken futures startup read
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/tests/integration/exec_client.rs
  docs/integrations/kraken.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Use hypersdk for Hyperliquid protocol handling
  Cargo.lock
  Cargo.toml
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/README.md
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/signing/actions.rs
  crates/adapters/hyperliquid/src/signing/mod.rs
  crates/adapters/hyperliquid/src/signing/signers.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
  crates/adapters/hyperliquid/tests/integration/http.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Lighter order book resubscriptions across sessions
  crates/adapters/lighter/src/websocket/client.rs
  crates/adapters/lighter/tests/integration/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Use hypersdk request and market data types directly
  Cargo.lock
  Cargo.toml
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/README.md
  crates/adapters/hyperliquid/benches/data.rs
  crates/adapters/hyperliquid/benches/exec.rs
  crates/adapters/hyperliquid/benches/micros.rs
  crates/adapters/hyperliquid/benches/signing.rs
  crates/adapters/hyperliquid/bin/flatten.rs
  crates/adapters/hyperliquid/bin/http_exec.rs
  crates/adapters/hyperliquid/examples/chained_modify_smoke.rs
  crates/adapters/hyperliquid/src/common/builder_fee.rs
  crates/adapters/hyperliquid/src/common/consts.rs
  crates/adapters/hyperliquid/src/common/models.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/http/rate_limits.rs
  crates/adapters/hyperliquid/src/signing/actions.rs
  crates/adapters/hyperliquid/src/signing/mod.rs
  crates/adapters/hyperliquid/src/signing/signers.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/dispatch.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
  crates/adapters/hyperliquid/src/websocket/parse.rs
  crates/adapters/hyperliquid/src/websocket/post.rs
  crates/adapters/hyperliquid/src/websocket/rate_limits.rs
  crates/adapters/hyperliquid/test_data/http_recent_trades_btc.json
  crates/adapters/hyperliquid/tests/integration/data_client.rs
  crates/adapters/hyperliquid/tests/integration/exec_client.rs
  crates/adapters/hyperliquid/tests/integration/http.rs
  crates/adapters/hyperliquid/tests/integration/websocket.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add concurrent AI batch scheduler backtest example
  examples/backtest/concurrent_ai_batch_scheduler.py
  python/tests/unit/common/test_concurrent_ai_batch_scheduler.py
Due: check-non-latin-text

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
