Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Align ExecutionEngine submit cache parity
  crates/execution/src/engine/mod.rs
  crates/execution/src/engine/stubs.rs
  crates/execution/tests/exec_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden nautilus-model Python conversions
  crates/model/src/python/common.rs
  crates/model/src/python/types/balance.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Expand Plugin cdylib smoke check
  .github/workflows/build.yml
  Makefile
  crates/plugin/tests/load_example_cdylib.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden nautilus-common panic handling
  crates/common/src/greeks.rs
  crates/common/src/logging/logger.rs
  crates/common/src/timer.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Expand Plugin execution cdylib coverage
  crates/live/tests/plugin.rs
  crates/plugin/examples/exec_test_plugin.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix downsample_to_daily_bins to compound intraday returns
  RELEASES.md
  crates/analysis/src/statistic.rs
  nautilus_trader/analysis/statistic.py
  tests/unit_tests/analysis/test_statistic.py
  tests/unit_tests/analysis/test_statistics_returns_volatility.py
  tests/unit_tests/analysis/test_statistics_sharpe_ratio.py
  tests/unit_tests/analysis/test_statistics_sortino_ratio.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize doc comment
  crates/common/src/python/timer.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Plugin smoke test precision mode
  python/tests/unit/test_live_node_plugin.py
Due: check-non-latin-text

Fix DataEngine feature check imports
  crates/data/tests/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden nautilus-network panic handling
  crates/network/src/python/http.rs
  crates/network/src/ratelimiter/quota.rs
  crates/network/src/websocket/proxy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Deribit command outcomes in Rust
  crates/adapters/deribit/src/execution.rs
  crates/adapters/deribit/src/websocket/enums.rs
  crates/adapters/deribit/src/websocket/handler.rs
  crates/adapters/deribit/tests/exec_client.rs
  crates/adapters/deribit/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align ExecutionEngine cash fill portfolio sends
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align ExecutionEngine non-fill portfolio sends
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align ExecutionEngine position event ordering
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Plugin ABI layout snapshots
  crates/plugin/src/surfaces/commands/cancel.rs
  crates/plugin/src/surfaces/commands/close.rs
  crates/plugin/src/surfaces/commands/modify.rs
  crates/plugin/src/surfaces/commands/query.rs
  crates/plugin/src/surfaces/commands/submit.rs
  crates/plugin/tests/abi_layout.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden nautilus-trading panic handling
  crates/trading/src/algorithm/mod.rs
  crates/trading/src/examples/strategies/composite_market_maker/strategy.rs
  crates/trading/src/examples/strategies/composite_market_maker/tests.rs
  crates/trading/src/examples/strategies/grid_mm/strategy.rs
  crates/trading/src/examples/strategies/grid_mm/tests.rs
  crates/trading/src/strategy/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Live command outcome policy
  docs/concepts/live.md
  docs/developer_guide/adapters.md
  docs/developer_guide/spec_exec_testing.md
Due: check-non-latin-text

Align ExecutionEngine leg fill parity
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Allow custom client order ID generators
  nautilus_trader/common/factories.pxd
  nautilus_trader/common/factories.pyx
  tests/unit_tests/common/test_factories.py
Due: check-non-latin-text

Align ExecutionEngine event parity
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
  crates/model/src/events/order/any.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden nautilus-data crate panic handling
  crates/data/src/engine/pool.rs
  crates/data/src/engine/streaming.rs
  crates/data/src/engine/time_range.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Expand Plugin Miri coverage
  Makefile
Due: none

Add Plugin malformed cdylib test fixtures
  Makefile
  crates/plugin/Cargo.toml
  crates/plugin/examples/bad_abi_manifest_plugin.rs
  crates/plugin/examples/bad_init_panic_plugin.rs
  crates/plugin/examples/bad_invalid_manifest_plugin.rs
  crates/plugin/examples/bad_missing_init_plugin.rs
  crates/plugin/examples/bad_null_manifest_plugin.rs
  crates/plugin/tests/load_example_cdylib.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden nautilus-risk panic handling
  crates/risk/src/engine/mod.rs
  crates/risk/src/python/config.rs
  crates/risk/tests/risk_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden nautilus-execution panic handling
  crates/execution/src/order_manager/manager.rs
  crates/execution/src/reconciliation/orders.rs
  crates/execution/src/reconciliation/tests.rs
  crates/execution/src/trailing.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize Deribit cancel command outcomes in Rust
  crates/adapters/deribit/src/execution.rs
  crates/adapters/deribit/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize Binance cancel command outcomes in Rust
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/src/spot/execution.rs
  crates/adapters/binance/src/spot/http/client.rs
  crates/adapters/binance/tests/futures/exec_client.rs
  crates/adapters/binance/tests/spot/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize OKX cancel command outcomes in Rust
  crates/adapters/okx/src/execution.rs
  crates/adapters/okx/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize Polymarket cancel command outcomes in Rust
  crates/adapters/polymarket/src/execution/mod.rs
  crates/adapters/polymarket/src/execution/submitter.rs
  crates/adapters/polymarket/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Blockchain snapshot validation
  crates/adapters/blockchain/src/data/core.rs
  crates/model/src/defi/pool_analysis/compare.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/pool_analysis/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Document Live instrument loading behavior
  docs/concepts/adapters.md
  docs/concepts/data.md
  docs/concepts/instruments.md
  docs/concepts/strategies.md
  docs/integrations/bybit.md
  docs/integrations/ib.md
Due: check-non-latin-text

Fix Config state default docs
  RELEASES.md
  nautilus_trader/backtest/config.py
  nautilus_trader/system/config.py
Due: check-non-latin-text

Standardize Hyperliquid cancel command outcomes in Rust
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/hyperliquid/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Use fairPrice and indicativeSettlePrice in BitMEX instrument parser
  crates/adapters/bitmex/src/websocket/parse.rs
  crates/adapters/bitmex/test_data/ws_instrument_index_update.json
  crates/adapters/bitmex/test_data/ws_instrument_mark_update.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Align RiskEngine event parity
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize Betfair cancel command outcomes in Rust
  crates/adapters/betfair/src/execution.rs
  crates/adapters/betfair/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Prefer markPrice over fairPrice as canonical mark source
  crates/adapters/bitmex/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add EventStore cache replay coverage gate
  crates/event_store/src/capture/builtins.rs
  crates/event_store/src/replay.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Optimize logging hot paths
  crates/common/Cargo.toml
  crates/common/benches/logging.rs
  crates/common/src/logging/logger.rs
  crates/common/src/logging/writer.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
