Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Add queue state system messages
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/messages/system/mod.rs
  crates/common/src/messages/system/queue.rs
  crates/common/src/msgbus/switchboard.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add live queue state event publishing
  crates/live/Cargo.toml
  crates/live/benches/queue_monitor.rs
  crates/live/src/node/config.rs
  crates/live/src/node/metrics.rs
  crates/live/src/node/mod.rs
  crates/live/src/node/queue.rs
  crates/live/src/python/config.rs
  crates/live/tests/node.rs
  docs/concepts/live.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clear option greeks on cache reset
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Isolate indicator failures from sibling indicators and actor handlers
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/indicators.rs
  crates/common/src/actor/tests.rs
  crates/common/src/python/actor.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove redundant matching engine adapter
  RELEASES.md
  crates/adapters/sandbox/src/execution.rs
  crates/execution/src/matching_engine/adapter.rs
  crates/execution/src/matching_engine/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Bound Polymarket CLOB pagination
  crates/adapters/polymarket/src/http/clob.rs
  crates/adapters/polymarket/src/http/query.rs
  crates/adapters/polymarket/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Capture Polymarket market closure state
  crates/adapters/polymarket/src/http/parse.rs
  crates/adapters/polymarket/test_data/gamma_market_past_end_date_open.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make Polymarket reconciliation authoritative
  crates/adapters/polymarket/benches/data.rs
  crates/adapters/polymarket/src/execution/parse.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/execution/reports.rs
  crates/adapters/polymarket/src/execution/responses.rs
  crates/adapters/polymarket/src/http/data_api.rs
  crates/adapters/polymarket/src/websocket/dispatch.rs
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make Polymarket reconciliation authoritative
  crates/adapters/polymarket/benches/data.rs
  crates/adapters/polymarket/src/execution/parse.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/execution/reports.rs
  crates/adapters/polymarket/src/execution/responses.rs
  crates/adapters/polymarket/src/http/data_api.rs
  crates/adapters/polymarket/src/websocket/dispatch.rs
  crates/adapters/polymarket/tests/exec_client.rs
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make live reconciliation account-atomic
  crates/live/src/execution/manager.rs
  crates/live/src/node/mod.rs
  crates/live/tests/manager.rs
  crates/live/tests/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Service the runner and own cleanup during late data client registration
  crates/live/src/node/mod.rs
  crates/live/tests/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add post-start data-client registration to LiveNode
  crates/data/src/engine/mod.rs
  crates/data/tests/engine.rs
  crates/live/src/node/builder.rs
  crates/live/src/node/mod.rs
  crates/live/tests/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Service the runner while late data client cleanup disconnects
  crates/live/src/node/mod.rs
  crates/live/tests/node.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Small tweaks to `grid_mm`
  crates/bin/src/bin/grid_mm.rs
  crates/bin/src/strategy/grid_mm/strategy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix bybit struct parsing
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/websocket/messages.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine AI contribution policy
  AGENTS.md
  AI_POLICY.md
  CONTRIBUTING.md
Due: check-non-latin-text

Refine Kraken integration guide
  docs/integrations/kraken.md
Due: check-non-latin-text

Fix Databento historical MBO boundaries
  crates/adapters/databento/benches/data.rs
  crates/adapters/databento/src/decode/market_data.rs
  crates/adapters/databento/src/decode/mod.rs
  crates/adapters/databento/src/decode/tests.rs
  crates/adapters/databento/src/historical.rs
  crates/adapters/databento/src/loader.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix indicator reset state retention
  RELEASES.md
  crates/indicators/src/average/ama.rs
  crates/indicators/src/python/average/ama.rs
  crates/indicators/src/volatility/fuzzy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Lighter integration guide
  docs/integrations/lighter.md
Due: check-non-latin-text

Add BitMEX decommissioning warning
  docs/integrations/bitmex.md
Due: check-non-latin-text

Add stable Clippy checks for DST simulation
  .github/workflows/dst.yml
  Makefile
  crates/common/src/live/dst.rs
  crates/common/src/logging/logger.rs
  crates/core/src/time.rs
  crates/live/src/node/mod.rs
  crates/live/tests/node.rs
  crates/network/src/websocket/client.rs
  docs/concepts/dst.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Polymarket commission handling to use Decimal
  RELEASES.md
  crates/adapters/polymarket/src/execution/order_fill_tracker.rs
  crates/adapters/polymarket/src/execution/orders.rs
  crates/adapters/polymarket/src/execution/parse.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/websocket/dispatch.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine OKX integration guide
  docs/integrations/okx.md
Due: check-non-latin-text

Refine Tardis integration guide
  docs/integrations/tardis.md
Due: check-non-latin-text

Return no orders for an unknown instrument in the simulated exchange (#4687)
  crates/backtest/src/exchange.rs
  crates/backtest/tests/exchange.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize JSON formatting
  docs/integrations/tardis.md
Due: check-non-latin-text

Document Polymarket half-cent tick size
  docs/integrations/polymarket.md
Due: check-non-latin-text

Guard Polymarket fee-adjusted market BUYs
  crates/adapters/polymarket/src/execution/order_builder.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Apply contract multiplier in FixedRiskSizer (#4699)
  crates/risk/src/sizing.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve matching benchmark correctness
  crates/backtest/benches/engine.rs
  crates/execution/benches/matching_core.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix RiskEngine reduce-only minimum notional
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine actors concept guide
  docs/concepts/actors.md
Due: check-non-latin-text

Refine adapter concept and developer guides
  docs/concepts/adapters.md
  docs/developer_guide/adapters.md
Due: check-non-latin-text

Fix live queue monitor feature check
  crates/live/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Make pull request validation evidence optional
  .github/pull_request_template.md
  AGENTS.md
  CONTRIBUTING.md
Due: check-non-latin-text

Document Rust test runner guidance
  README.md
  docs/developer_guide/testing.md
Due: check-non-latin-text

Add commit message validation hook
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/developer_guide/coding_standards.md
  docs/developer_guide/environment_setup.md
  scripts/ci/check_commit_message.py
  scripts/ci/test_check_commit_message.py
Due: check-non-latin-text

Improve CI script testing
  .github/OVERVIEW.md
  .github/workflows/build.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check_logging_conventions.sh
  Makefile
  scripts/ci/test-publish-wheels.bash
Due: check-non-latin-text
