Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

fix(tokenmm): harden live balance recovery audit
  ops/scripts/tokenmm_risk_audit.py
  tests/unit_tests/examples/strategies/test_tokenmm_risk_audit_logic.py
  tests/unit_tests/flux/api/test_app.py
Due: check-non-latin-text

fix(fluxboard): keep signal quotes truthful
  fluxboard/__tests__/panels/signal.test.tsx
  fluxboard/components/domain/signal/SignalTable.store.test.ts
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/stores.ts
Due: none

fix(tokenmm): reject terminal maker denials without stale state
  systems/flux/flux/runners/tokenmm/run_controller.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_controller.py
Due: check-non-latin-text

fix(tokenmm): harden controller startup cleanup and sqlite writers
  deploy/tokenmm/tokenmm.live.toml
  systems/flux/flux/persistence/balance_snapshots/sqlite.py
  systems/flux/flux/persistence/quote_cycles/sqlite.py
  systems/flux/flux/runners/tokenmm/run_controller.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_controller.py
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
  tests/unit_tests/persistence/test_flux_sqlite_pragmas.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(tokenmm): harden signal freshness and telemetry shipper
  fluxboard/__tests__/panels/signal.test.tsx
  fluxboard/components/domain/signal/SignalTable.tsx
  nautilus_trader/persistence/shipper/service.py
  tests/unit_tests/persistence/test_telemetry_shipper.py
Due: check-non-latin-text

fix(tokenmm): harden signal freshness and shard balance telemetry
  fluxboard/Balances.test.tsx
  fluxboard/__tests__/panels/signal.test.tsx
  fluxboard/components/domain/signal/SignalTable.tsx
  nautilus_trader/persistence/shipper/service.py
  systems/flux/flux/runners/tokenmm/run_node.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
  tests/unit_tests/persistence/test_telemetry_shipper.py
Due: check-non-latin-text

fix(tokenmm): preserve telemetry cutover and empty-view freshness
  fluxboard/__tests__/panels/signal.test.tsx
  fluxboard/components/domain/signal/SignalTable.tsx
  nautilus_trader/persistence/shipper/service.py
  tests/unit_tests/persistence/test_telemetry_shipper.py
Due: check-non-latin-text

fix(tokenmm): restore balances page and raise service process cap
  deploy/systemd/flux@.service
  fluxboard/api.flux.test.ts
  fluxboard/api.ts
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text

fix(tokenmm): keep shared inventory publishing live
  systems/flux/flux/api/_payloads_signals.py
  systems/flux/flux/persistence/portfolio_inventory_snapshots/sqlite.py
  systems/flux/flux/runners/shared/portfolio_runner.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_portfolio.py
  tests/unit_tests/flux/api/test_signals_inventory_contract.py
  tests/unit_tests/persistence/test_portfolio_inventory_snapshot_sqlite.py
Due: check-non-latin-text

fix(tokenmm): harden signal inventory and msgbus backpressure
  fluxboard/__tests__/panels/signal.test.tsx
  fluxboard/components/domain/signal/SignalTable.tsx
  fluxboard/types.ts
  systems/flux/flux/strategies/makerv3/publisher.py
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
Due: check-non-latin-text

fix(tokenmm): clear stale startup cleanup state
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/flux/strategies/makerv3/test_strategy_lifecycle.py
Due: check-non-latin-text

fix(tokenmm): skip local startup cleanup on controller lanes
  systems/flux/flux/runners/tokenmm/run_node.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
  tests/unit_tests/flux/strategies/makerv3/test_order_safety.py
Due: check-non-latin-text

fix(tokenmm): stabilize controller runtime paths
  deploy/tokenmm/systemd/tokenmm-grafana-run.sh
  deploy/tokenmm/systemd/tokenmm-prometheus-run.sh
  systems/flux/flux/runners/tokenmm/run_controller.py
  systems/flux/flux/runners/tokenmm/run_node.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_controller.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
Due: check-non-latin-text

fix(tokenmm): repin controller and monitoring stack
  deploy/tokenmm/README.md
  deploy/tokenmm/systemd/flux-pulse.sudoers
  deploy/tokenmm/systemd/flux-tokenmm.target
  deploy/tokenmm/systemd/prometheus.yml
  fluxboard/tests/signal/SignalTable.audit.test.tsx
  monitoring/DASHBOARDS.md
  monitoring/grafana/provisioning/datasources/datasources.yml
  ops/scripts/deploy/install_tokenmm_systemd.sh
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text

fix(tokenmm): make prod strategies restart resilient
  deploy/tokenmm/README.md
  deploy/tokenmm/strategies/plumeusdt_binance_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_binance_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bitget_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bitget_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_okx_perp_makerv3.toml
  deploy/tokenmm/strategies/tokenmm.strategy.template.toml
  deploy/tokenmm/tokenmm.live.toml
  docs/runbooks/tokenmm-binance-spot-market-making.md
  docs/runbooks/tokenmm-bitget-spot-perp-market-making.md
  tests/unit_tests/examples/strategies/test_tokenmm_risk_validation_contract.py
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(tokenmm): fail readiness on obvious signal issues
  docs/runbooks/tokenmm-risk-validation.md
  systems/flux/flux/runners/tokenmm/readiness.py
  tests/unit_tests/examples/strategies/test_tokenmm_risk_validation_contract.py
  tests/unit_tests/flux/runners/test_tokenmm_readiness.py
Due: check-non-latin-text

fix(tokenmm): align readiness with signal runner truth
  systems/flux/flux/runners/tokenmm/run_api.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_api.py
Due: check-non-latin-text

Fix batch order submission: 15-order chunking + tick_size + Rust signing
  nautilus_trader/adapters/polymarket/common/constants.py
  nautilus_trader/adapters/polymarket/execution.py
Due: check-non-latin-text

fix(fluxboard): tighten tokenmm operator status ux
  docs/plans/2026-03-30-fluxboard-tokenmm-operator-ux-fixes.md
  fluxboard/Balances.test.tsx
  fluxboard/Balances.tsx
  fluxboard/__tests__/panels/alerts.test.tsx
  fluxboard/constants.ts
Due: check-non-latin-text

docs: plan equities ibkr reference service rehome
  docs/plans/2026-03-30-equities-ibkr-reference-service-design.md
  docs/plans/2026-03-30-equities-ibkr-reference-service.md
Due: check-non-latin-text

Split startup into two phases: data connect → drain → exec connect
  crates/live/src/node.rs
  crates/system/src/kernel.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat: add shared equities ibkr reference contract
  deploy/equities/equities.live.toml
  systems/flux/flux/common/keys.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
  tests/unit_tests/flux/common/test_keys.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

feat: add flux-owned equities ibkr reference publisher
  systems/flux/flux/runners/equities/run_ibkr_reference_publisher.py
  systems/flux/flux/runners/shared/ibkr_reference_publisher.py
  tests/unit_tests/examples/strategies/test_equities_ibkr_reference_publisher.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
Due: check-non-latin-text

Fix duplicate inflight_orders cdef in strategy.pyx
  nautilus_trader/trading/strategy.pyx
Due: check-non-latin-text

fix: stop ibkr reference publisher cleanly
  systems/flux/flux/runners/shared/ibkr_reference_publisher.py
  tests/unit_tests/examples/strategies/test_equities_ibkr_reference_publisher.py
Due: check-non-latin-text

Fix tokenmm active alerts semantics
  fluxboard/Alerts.test.tsx
  fluxboard/Alerts.tsx
  fluxboard/docs/tokenmm_contract.md
  systems/flux/flux/api/app.py
  systems/flux/flux/runners/tokenmm/run_api.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_api.py
  tests/unit_tests/flux/api/test_app.py
Due: check-non-latin-text

feat: add shared equities ibkr reference adapter
  docs/plans/2026-03-30-equities-ibkr-reference-service.md
  nautilus_trader/adapters/interactive_brokers/__init__.py
  nautilus_trader/adapters/interactive_brokers/shared_reference/__init__.py
  nautilus_trader/adapters/interactive_brokers/shared_reference/config.py
  nautilus_trader/adapters/interactive_brokers/shared_reference/data.py
  nautilus_trader/adapters/interactive_brokers/shared_reference/factories.py
  systems/flux/flux/runners/live/venues.py
  systems/flux/flux/strategies/shared/equities_arb/core.py
  tests/unit_tests/adapters/interactive_brokers/test_shared_reference_data.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/flux/strategies/shared/test_equities_arb_core.py
Due: check-non-latin-text

docs: update equities ibkr reference task tracker
  docs/plans/2026-03-30-equities-ibkr-reference-service.md
Due: check-non-latin-text

Generalize shared alerts capabilities
  fluxboard/Alerts.test.tsx
  fluxboard/Alerts.tsx
  fluxboard/README.md
  fluxboard/__tests__/api.test.ts
  fluxboard/api.ts
  fluxboard/docs/equities_contract.md
  fluxboard/docs/tokenmm_contract.md
  fluxboard/types.ts
  systems/flux/flux/api/app.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
Due: check-non-latin-text

Remove broken CLOB position path, always use Data API (Python)
  docs/integrations/polymarket.md
  nautilus_trader/adapters/polymarket/config.py
  nautilus_trader/adapters/polymarket/execution.py
Due: check-non-latin-text

Add parsing override for `NO NEW ASSETS` messages periodically emitted when subscribed to new markets
  crates/adapters/polymarket/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Use LOT_SIZE_SCALE instead of hardcoding precision of 2 when fetching position status reports
  crates/adapters/polymarket/src/execution/mod.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement generate_position_status_reports() via Data API (Rust)
  crates/adapters/polymarket/src/config.rs
  crates/adapters/polymarket/src/execution/mod.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
  crates/adapters/polymarket/src/http/data_api.rs
  crates/adapters/polymarket/src/http/models.rs
  crates/adapters/polymarket/src/python/config.rs
  crates/adapters/polymarket/test_data/data_api_positions_response.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Filter dust positions in Polymarket reconciliation (Python)
  nautilus_trader/adapters/polymarket/common/constants.py
  nautilus_trader/adapters/polymarket/execution.py
  nautilus_trader/adapters/polymarket/order_fill_tracker.py
Due: check-non-latin-text

Filter dust positions in Polymarket reconciliation (Rust)
  crates/adapters/polymarket/src/common/consts.rs
  crates/adapters/polymarket/src/execution/mod.rs
  crates/adapters/polymarket/src/execution/order_fill_tracker.rs
  crates/adapters/polymarket/src/execution/reconciliation.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat: cut equities readiness over to flux ibkr publisher
  deploy/equities/README.md
  docs/runbooks/equities-shared-node-cutover.md
  ops/scripts/deploy/install_equities_systemd.sh
  systems/flux/flux/runners/equities/readiness.py
  systems/flux/flux/runners/equities/run_api.py
  tests/unit_tests/examples/strategies/test_equities_readiness.py
  tests/unit_tests/examples/strategies/test_equities_run_api.py
  tests/unit_tests/ops/deploy/test_install_equities_systemd.py
Due: check-non-latin-text

Address review findings for controller bridge and alerts
  fluxboard/Alerts.test.tsx
  fluxboard/Alerts.tsx
  systems/flux/flux/runners/tokenmm/run_controller.py
  systems/flux/flux/runners/tokenmm/run_node.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_controller.py
  tests/unit_tests/examples/strategies/test_tokenmm_run_node.py
Due: check-non-latin-text

docs: record task 4 completion
  docs/plans/2026-03-30-equities-ibkr-reference-service.md
Due: check-non-latin-text

docs: record equities ibkr reference rehome verification
  docs/plans/2026-03-30-equities-ibkr-reference-service.md
Due: check-non-latin-text

fix: split equities ibkr publisher client id
  deploy/equities/equities.live.toml
  systems/flux/flux/runners/shared/ibkr_reference_publisher.py
  tests/unit_tests/examples/strategies/test_equities_ibkr_reference_publisher.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc
