Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

fix Interactive Brokers options chain issue #2622
  docs/integrations/ib.md
  nautilus_trader/adapters/interactive_brokers/common.py
  nautilus_trader/adapters/interactive_brokers/providers.py
Due: none

Parity: CMO
  crates/indicators/src/momentum/bb.rs
  crates/indicators/src/momentum/cci.rs
  crates/indicators/src/momentum/cmo.rs
  crates/indicators/src/momentum/dm.rs
Due: fmt, cargo-clippy, cargo-doc

Parity: pressure
  crates/indicators/src/momentum/pressure.rs
Due: fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/indicators/src/momentum/bias.rs
  crates/indicators/src/momentum/cci.rs
  crates/indicators/src/momentum/cmo.rs
  crates/indicators/src/momentum/pressure.rs
  crates/indicators/src/testing.rs
  crates/network/src/ratelimiter/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Migrate refactor of catalog to rust
  .docker/DockerfileUbuntu
  .docker/entrypoint.sh
  Cargo.lock
  Cargo.toml
  crates/adapters/tardis/Cargo.toml
  crates/adapters/tardis/src/replay.rs
  crates/core/src/datetime.rs
  crates/persistence/Cargo.toml
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/session.rs
  crates/persistence/src/lib.rs
  crates/persistence/src/parquet.rs
  crates/persistence/src/python/backend/session.rs
  crates/persistence/src/python/catalog.rs
  crates/persistence/tests/test_catalog.rs
  crates/serialization/src/enums.rs
  crates/serialization/src/lib.rs
  crates/serialization/src/parquet.rs
  crates/serialization/src/python/enums.rs
  crates/serialization/src/python/mod.rs
  examples/backtest/notebooks/databento_backtest_with_data_client.py
  examples/backtest/notebooks/databento_download.py
  examples/backtest/notebooks/databento_option_greeks.py
  examples/backtest/notebooks/databento_test_request_bars.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/persistence/catalog/base.py
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_backend.py
  tests/unit_tests/persistence/test_catalog_pyo3.py
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Confirm parity between Python and Rust indicators (#2709)
  crates/indicators/src/momentum/bb.rs
  crates/indicators/src/momentum/bias.rs
  crates/indicators/src/momentum/cci.rs
  crates/indicators/src/momentum/cmo.rs
  crates/indicators/src/momentum/dm.rs
  crates/indicators/src/momentum/pressure.rs
  crates/indicators/src/testing.rs
  crates/network/src/ratelimiter/mod.rs
Due: fmt, cargo-clippy, cargo-doc

Fix Interactive Brokers options chain issue (#2711)
  docs/integrations/ib.md
  nautilus_trader/adapters/interactive_brokers/common.py
  nautilus_trader/adapters/interactive_brokers/providers.py
Due: none

Migrate refactor of catalog to Rust (#2681)
  .docker/DockerfileUbuntu
  .docker/entrypoint.sh
  Cargo.lock
  Cargo.toml
  crates/adapters/tardis/Cargo.toml
  crates/adapters/tardis/src/replay.rs
  crates/core/src/datetime.rs
  crates/persistence/Cargo.toml
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/session.rs
  crates/persistence/src/lib.rs
  crates/persistence/src/parquet.rs
  crates/persistence/src/python/backend/session.rs
  crates/persistence/src/python/catalog.rs
  crates/persistence/tests/test_catalog.rs
  crates/serialization/src/enums.rs
  crates/serialization/src/lib.rs
  crates/serialization/src/parquet.rs
  crates/serialization/src/python/enums.rs
  crates/serialization/src/python/mod.rs
  examples/backtest/notebooks/databento_backtest_with_data_client.py
  examples/backtest/notebooks/databento_download.py
  examples/backtest/notebooks/databento_option_greeks.py
  examples/backtest/notebooks/databento_test_request_bars.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/persistence/catalog/base.py
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_backend.py
  tests/unit_tests/persistence/test_catalog_pyo3.py
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  .pre-commit-config.yaml
  Cargo.lock
  RELEASES.md
  pyproject.toml
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix clippy lints
  clippy.toml
  crates/adapters/blockchain/src/data.rs
  crates/adapters/blockchain/src/factories.rs
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/session.rs
  crates/persistence/src/parquet.rs
  crates/system/src/kernel.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Use common tokio runtime for tardis replay
  crates/adapters/tardis/src/replay.rs
Due: fmt, cargo-clippy, cargo-doc

Improve error handling for data catalog in Rust
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/parquet.rs
Due: fmt, cargo-clippy, cargo-doc

Add logging macros for custom component and color in Rust
  RELEASES.md
  crates/adapters/blockchain/bin/node_test.rs
  crates/adapters/blockchain/bin/watch_hypersync_live_blocks.rs
  crates/common/src/logging/headers.rs
  crates/common/src/logging/logger.rs
  crates/common/src/logging/macros.rs
  crates/common/src/logging/mod.rs
Due: fmt, cargo-clippy, cargo-doc

fix: improve error message for remote catalogs in Rust queries (issue #2677)
  nautilus_trader/persistence/catalog/parquet.py
  test_s3_catalog.py
Due: none

Confirm parity between Python and Rust indicators
  crates/indicators/src/momentum/rsi.rs
  crates/indicators/src/momentum/swings.rs
Due: fmt, cargo-clippy, cargo-doc

VecDeque: refactor.
  crates/indicators/src/average/sma.rs
  crates/indicators/src/average/wma.rs
  crates/indicators/src/momentum/obv.rs
  crates/indicators/src/momentum/roc.rs
  crates/indicators/src/momentum/stochastics.rs
  crates/indicators/src/momentum/swings.rs
  crates/indicators/src/momentum/vhf.rs
  crates/indicators/src/volatility/dc.rs
  crates/indicators/src/volatility/fuzzy.rs
  crates/indicators/src/volatility/rvi.rs
Due: fmt, cargo-clippy, cargo-doc

Refine precision handling and add wei-based precision
  Cargo.lock
  Makefile
  build.py
  crates/execution/src/models/fee.rs
  crates/model/Cargo.toml
  crates/model/src/defi/mod.rs
  crates/model/src/defi/money.rs
  crates/model/src/defi/price.rs
  crates/model/src/defi/quantity.rs
  crates/model/src/types/currency.rs
  crates/model/src/types/fixed.rs
  crates/model/src/types/money.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
  crates/portfolio/Cargo.toml
  crates/portfolio/src/tests.rs
  crates/serialization/Cargo.toml
  crates/serialization/src/arrow/index_price.rs
  crates/serialization/src/arrow/mark_price.rs
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/rust/model.pxd
  tests/unit_tests/model/test_currency_pyo3.py
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Confirm parity between Python and Rust indicators (#2713)
  crates/indicators/src/average/sma.rs
  crates/indicators/src/average/wma.rs
  crates/indicators/src/momentum/obv.rs
  crates/indicators/src/momentum/roc.rs
  crates/indicators/src/momentum/rsi.rs
  crates/indicators/src/momentum/stochastics.rs
  crates/indicators/src/momentum/swings.rs
  crates/indicators/src/momentum/vhf.rs
  crates/indicators/src/volatility/dc.rs
  crates/indicators/src/volatility/fuzzy.rs
  crates/indicators/src/volatility/rvi.rs
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix clippy lints
  crates/indicators/src/average/sma.rs
  crates/indicators/src/volatility/rvi.rs
  crates/persistence/src/backend/catalog.rs
Due: fmt, cargo-clippy, cargo-doc

(feat) Enables order-list submission for sandbox clients
  nautilus_trader/adapters/sandbox/execution.py
Due: none

(docs) Adds the new sandbox order-list support to RELEASES.md
  RELEASES.md
Due: none

Consolidate on pure Rust cryptography crates
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/coinbase_intx/Cargo.toml
  crates/adapters/coinbase_intx/src/common/credential.rs
  crates/adapters/coinbase_intx/src/fix/client.rs
  crates/cryptography/Cargo.toml
  crates/cryptography/src/python/signing.rs
  crates/cryptography/src/signing.rs
  crates/cryptography/src/tls.rs
  crates/testkit/Cargo.toml
  crates/testkit/src/files.rs
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix registration of encoder and decoder for BinanceBar
  RELEASES.md
  nautilus_trader/adapters/binance/__init__.py
  tests/integration_tests/adapters/binance/test_core_types.py
Due: none

(tests) Adds test for the new functionality
  tests/integration_tests/adapters/sandbox/test_execution.py
Due: none

Remove openssl dependencies from CI common-setup
  .github/actions/common-setup/action.yml
Due: none
