Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Use setup-uv cache auto mode (#3933)
  .github/actions/common-setup/action.yml
Due: check-non-latin-text

Optimize performance for ClientOrderId generation (#3935)
  Cargo.lock
  crates/common/Cargo.toml
  crates/common/benches/client_order_id.rs
  crates/common/src/generators/client_order_id.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Ignore JSON pong websocket frames in Bybit (#3936)
  crates/adapters/bybit/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve CI persistent caches on self-hosted runners
  .github/actions/common-setup/action.yml
Due: check-non-latin-text

Add UUID4 from_bytes raw-byte constructor
  crates/core/src/uuid.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Optimize OrderListId and PositionId generation
  RELEASES.md
  crates/common/Cargo.toml
  crates/common/benches/order_list_id.rs
  crates/common/benches/position_id.rs
  crates/common/src/generators/mod.rs
  crates/common/src/generators/order_list_id.rs
  crates/common/src/generators/position_id.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Make analyzer crate iteration order deterministic
  crates/analysis/Cargo.toml
  crates/analysis/src/analyzer.rs
  docs/developer_guide/dst_scope_inventory.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Close DST time and RNG seam holes
  .pre-commit-hooks/check_dst_conventions.sh
  crates/core/src/datetime.rs
  crates/execution/src/matching_engine/ids_generator.rs
  docs/developer_guide/dst_scope_inventory.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize model value types in Rust
  crates/model/src/defi/types/money.rs
  crates/model/src/defi/types/price.rs
  crates/model/src/defi/types/quantity.rs
  crates/model/src/python/types/money.rs
  crates/model/src/python/types/price.rs
  crates/model/src/python/types/quantity.rs
  crates/model/src/types/currency.rs
  crates/model/src/types/fixed.rs
  crates/model/src/types/money.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
  nautilus_trader/core/nautilus_pyo3.pyi
  python/tests/unit/model/test_money.py
  python/tests/unit/model/test_price.py
  python/tests/unit/model/test_quantity.py
  tests/unit_tests/model/objects/test_money_pyo3.py
  tests/unit_tests/model/objects/test_price_pyo3.py
  tests/unit_tests/model/objects/test_quantity_pyo3.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Close DST logger file-test scope hole
  crates/common/src/logging/logger.rs
  crates/common/src/logging/macros.rs
  docs/developer_guide/dst_scope_inventory.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OrderFilled bon test spec and seeded UUID seam
  Cargo.lock
  crates/model/Cargo.toml
  crates/model/src/events/order/mod.rs
  crates/model/src/events/order/spec/filled.rs
  crates/model/src/events/order/spec/mod.rs
  crates/model/src/events/order/stubs.rs
  crates/model/src/position.rs
  crates/model/src/stubs.rs
  crates/trading/src/algorithm/mod.rs
  crates/trading/src/python/strategy.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Migrate OrderFilled tests to bon spec builder
  crates/model/src/events/order/filled.rs
  crates/model/src/events/order/spec/filled.rs
  crates/model/src/events/order/stubs.rs
  crates/model/src/orders/limit_if_touched.rs
  crates/model/src/orders/market_if_touched.rs
  crates/model/src/orders/market_to_limit.rs
  crates/model/src/orders/mod.rs
  crates/model/src/orders/trailing_stop_market.rs
  docs/developer_guide/rust.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add DST simulation smoke gate
  .github/workflows/dst.yml
  Makefile
  crates/core/benches/hash_map.rs
  crates/core/src/time.rs
  crates/execution/proptest-regressions/reconciliation/proptests.txt
  crates/network/src/dst.rs
  crates/network/src/ratelimiter/clock.rs
  docs/concepts/dst.md
  docs/developer_guide/dst_scope_inventory.md
  docs/developer_guide/index.md
  docs/developer_guide/rust.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve BacktestEngine parity with Cython
  crates/adapters/betfair/examples/betfair_backtest.rs
  crates/adapters/kraken/examples/engine_hurst_vpin_backtest.rs
  crates/backtest/examples/engine_ema_cross.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/node.rs
  crates/backtest/src/python/engine.rs
  crates/backtest/tests/backtest_engine.rs
  crates/backtest/tests/book_imbalance.rs
  crates/backtest/tests/ema_cross.rs
  crates/backtest/tests/grid_mm.rs
  crates/backtest/tests/grid_mm_itch.rs
  crates/system/src/trader.rs
  docs/how_to/run_rust_backtest.md
  docs/tutorials/backtest_book_imbalance_betfair.md
  docs/tutorials/hurst_vpin_kraken.md
  python/nautilus_trader/backtest/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Migrate OrderInitialized to bon spec builder
  crates/model/src/events/order/initialized.rs
  crates/model/src/events/order/spec/initialized.rs
  crates/model/src/events/order/spec/mod.rs
  crates/model/src/orders/any.rs
  crates/model/src/orders/limit_if_touched.rs
  crates/model/src/orders/market.rs
  crates/model/src/orders/market_if_touched.rs
  crates/model/src/orders/market_to_limit.rs
  crates/model/src/orders/mod.rs
  crates/model/src/orders/stop_limit.rs
  crates/model/src/orders/stop_market.rs
  crates/model/src/orders/trailing_stop_limit.rs
  crates/model/src/orders/trailing_stop_market.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Migrate OrderSubmitted and OrderAccepted to bon spec builder
  crates/model/src/events/order/accepted.rs
  crates/model/src/events/order/spec/accepted.rs
  crates/model/src/events/order/spec/mod.rs
  crates/model/src/events/order/spec/submitted.rs
  crates/model/src/events/order/submitted.rs
  crates/model/src/orders/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Tighten DST common-leg wall-clock smoke gate
  crates/common/Cargo.toml
  crates/common/src/live/dst.rs
  crates/core/src/time.rs
  crates/core/src/uuid.rs
  docs/concepts/dst.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(persistence): preserve remote catalog URI roots
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/session.rs
  crates/persistence/src/parquet.rs
  crates/persistence/tests/test_catalog.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix cancel path races in execution crate
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/order_manager/manager.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Migrate remaining order events to bon spec builder
  crates/execution/tests/matching_engine.rs
  crates/model/src/events/order/cancel_rejected.rs
  crates/model/src/events/order/canceled.rs
  crates/model/src/events/order/denied.rs
  crates/model/src/events/order/emulated.rs
  crates/model/src/events/order/expired.rs
  crates/model/src/events/order/modify_rejected.rs
  crates/model/src/events/order/pending_cancel.rs
  crates/model/src/events/order/pending_update.rs
  crates/model/src/events/order/rejected.rs
  crates/model/src/events/order/released.rs
  crates/model/src/events/order/spec/cancel_rejected.rs
  crates/model/src/events/order/spec/canceled.rs
  crates/model/src/events/order/spec/denied.rs
  crates/model/src/events/order/spec/emulated.rs
  crates/model/src/events/order/spec/expired.rs
  crates/model/src/events/order/spec/mod.rs
  crates/model/src/events/order/spec/modify_rejected.rs
  crates/model/src/events/order/spec/pending_cancel.rs
  crates/model/src/events/order/spec/pending_update.rs
  crates/model/src/events/order/spec/rejected.rs
  crates/model/src/events/order/spec/released.rs
  crates/model/src/events/order/spec/triggered.rs
  crates/model/src/events/order/spec/updated.rs
  crates/model/src/events/order/triggered.rs
  crates/model/src/events/order/updated.rs
  crates/model/src/orders/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix backtest option chain slice delivery
  RELEASES.md
  crates/backtest/src/data_client.rs
  crates/backtest/tests/option_chain_data_client.rs
  crates/data/src/engine/mod.rs
  crates/model/src/python/data/option_chain.rs
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/deribit/data.py
  nautilus_trader/backtest/data_client.pyx
  nautilus_trader/data/engine.pyx
  tests/unit_tests/backtest/test_data_client.py
  tests/unit_tests/data/test_engine_option_chain.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update trimmed v2 dependencies and align auditing
  .pre-commit-config.yaml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  docs/developer_guide/environment_setup.md
  pyproject.toml
  python/pyproject.toml
  python/uv.lock
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix remote catalog object paths under URI prefix (#3930)
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/session.rs
  crates/persistence/src/parquet.rs
  crates/persistence/tests/test_catalog.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve sockudo backend turmoil simulation parity
  .pre-commit-hooks/check_dst_conventions.sh
  crates/network/src/transport/sockudo.rs
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/proxy.rs
  crates/network/tests/turmoil_sockudo.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Gate transport-bound nautilus-network tests under DST simulation
  crates/network/src/retry.rs
  crates/network/src/socket/client.rs
  crates/network/src/websocket/client.rs
  crates/network/tests/websocket_proxy.rs
  docs/concepts/dst.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve nautilus-network retry tests under DST simulation
  .github/workflows/nightly-tests.yml
  crates/network/src/retry.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve FillModel default RNG outside madsim runtime
  .github/workflows/dst.yml
  Makefile
  crates/common/Cargo.toml
  crates/execution/Cargo.toml
  crates/execution/src/models/fill.rs
  docs/concepts/dst.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine remote catalog cross-store URI handling
  RELEASES.md
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/catalog_operations.rs
  crates/persistence/src/parquet.rs
  crates/persistence/tests/test_catalog.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix backtest option expiry assignment fills
  RELEASES.md
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  tests/integration_tests/test_option_exercise_flow.py
Due: check-non-latin-text

Fix s3 remote query custom data
  crates/persistence/src/backend/catalog.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix cache load OTO contingency repair for Cython parity
  RELEASES.md
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix analysis returns-based statistic registration
  RELEASES.md
  crates/analysis/src/python/statistics/cagr.rs
  crates/analysis/src/python/statistics/calmar_ratio.rs
  crates/analysis/src/python/statistics/max_drawdown.rs
  python/nautilus_trader/analysis/__init__.pyi
  python/nautilus_trader/model/__init__.pyi
  python/tests/unit/analysis/test_analysis.py
  tests/unit_tests/analysis/test_analyzer.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix ExecutionEngine leg-fill position event publishing
  nautilus_trader/execution/engine.pyx
  tests/unit_tests/execution/test_engine_leg_fills.py
Due: check-non-latin-text

Fix Bybit duplicate subscribe handling on reconnect
  crates/adapters/bybit/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix IB spread fill races where execDetails arrives before openOrder
  nautilus_trader/adapters/interactive_brokers/execution.py
  tests/integration_tests/adapters/interactive_brokers/test_execution.py
Due: check-non-latin-text

Log out-of-order execDetails at warning level
  nautilus_trader/adapters/interactive_brokers/execution.py
Due: check-non-latin-text

Fix Bybit hedge mode positionIdx submission
  RELEASES.md
  crates/adapters/bybit/src/common/enums.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/execution.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/query.rs
  crates/adapters/bybit/src/python/enums.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/src/python/mod.rs
  crates/adapters/bybit/src/python/params.rs
  crates/adapters/bybit/src/python/websocket.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/bybit/src/websocket/messages.rs
  crates/adapters/bybit/tests/exec_client.rs
  crates/adapters/bybit/tests/http.rs
  crates/adapters/bybit/tests/websocket.rs
  docs/integrations/bybit.md
  nautilus_trader/adapters/bybit/__init__.py
  nautilus_trader/adapters/bybit/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  python/nautilus_trader/adapters/bybit/__init__.pyi
  python/nautilus_trader/bybit/__init__.pyi
  tests/integration_tests/adapters/bybit/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
