Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Add typed publish_instrument() to message bus (#4081)
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/mod.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance Futures batch cancel response handling
  nautilus_trader/adapters/binance/futures/execution.py
  nautilus_trader/adapters/binance/futures/http/account.py
Due: check-non-latin-text

Upgrade Binance Spot SBE codecs to schema 3:4
  RELEASES.md
  crates/adapters/binance/src/spot/http/client.rs
  crates/adapters/binance/src/spot/http/parse.rs
  crates/adapters/binance/src/spot/sbe/README.md
  crates/adapters/binance/src/spot/sbe/generated/mod.rs
  crates/adapters/binance/src/spot/sbe/generated/order_response_codec.rs
  crates/adapters/binance/src/spot/sbe/generated/orders_response_codec.rs
  crates/adapters/binance/src/spot/sbe/mod.rs
  crates/adapters/binance/src/spot/websocket/trading/decode_sbe.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add IB per-order exchange routing params (#4079)
  crates/adapters/interactive_brokers/src/execution/core_helpers.rs
  crates/adapters/interactive_brokers/src/execution/core_orders.rs
  docs/integrations/ib.md
  nautilus_trader/adapters/interactive_brokers/execution.py
  tests/integration_tests/adapters/interactive_brokers/test_execution_order_transform.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Hyperliquid data client task lifecycle
  RELEASES.md
  crates/adapters/hyperliquid/src/data.rs
  crates/adapters/hyperliquid/tests/data_client.rs
  docs/developer_guide/adapters.md
  docs/integrations/hyperliquid.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Allow nautilus-core to compile for wasm32
  crates/core/src/lib.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update release notes
  RELEASES.md
Due: check-non-latin-text

Upgrade cargo-nextest
  Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Reduce CI warning noise
  .github/workflows/security-audit.yml
  crates/common/benches/cache/orders.rs
  crates/common/benches/msgbus.rs
  crates/core/benches/concurrent_map.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reduce debug log noise from bulk data payloads
  crates/adapters/bitmex/src/websocket/handler.rs
  crates/adapters/bybit/src/websocket/handler.rs
  crates/adapters/okx/src/websocket/handler.rs
  crates/common/src/actor/data_actor.rs
  crates/common/src/messages/data/mod.rs
  crates/data/src/engine/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket auto-load CLOB lifecycle race
  RELEASES.md
  docs/integrations/polymarket.md
  nautilus_trader/adapters/polymarket/common/retry.py
  nautilus_trader/adapters/polymarket/config.py
  nautilus_trader/adapters/polymarket/data.py
  nautilus_trader/adapters/polymarket/providers.py
  tests/integration_tests/adapters/polymarket/test_data_client.py
  tests/integration_tests/adapters/polymarket/test_providers.py
  tests/integration_tests/adapters/polymarket/test_retry.py
Due: check-non-latin-text

Fix ExecutionEngine instrument subscription routing
  crates/execution/src/engine/mod.rs
  crates/execution/src/engine/stubs.rs
  crates/execution/tests/exec_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Architect AX order-status oid/cid params
  RELEASES.md
  crates/adapters/architect_ax/src/http/query.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Hyperliquid HIP-4 userOutcome actions
  RELEASES.md
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/bin/http_outcome_order.rs
  crates/adapters/hyperliquid/bin/http_user_outcome.rs
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/config.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/python/http.rs
  docs/integrations/hyperliquid.md
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/hyperliquid/conftest.py
  tests/integration_tests/adapters/hyperliquid/test_execution.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket tick-size no-op and unsubscribe state leak
  RELEASES.md
  crates/adapters/polymarket/src/data.rs
  nautilus_trader/adapters/polymarket/data.py
  tests/integration_tests/adapters/polymarket/test_data_client.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add OKX X-Perp futures and slippagePct support
  RELEASES.md
  crates/adapters/okx/bin/ws_exec.rs
  crates/adapters/okx/src/common/consts.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/execution.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/src/python/http.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/tests/http.rs
  crates/adapters/okx/tests/websocket.rs
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Deribit funding rate log spam
  crates/adapters/deribit/src/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit funding rate errors for dated futures
  crates/adapters/bybit/src/data.rs
  crates/adapters/bybit/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor OrderFactory bracket with bon builder
  RELEASES.md
  crates/common/src/factories/order.rs
  crates/testkit/src/testers/exec/strategy.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Deribit funding rate log spam (#4083)
  crates/adapters/deribit/src/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit funding rate errors for dated futures (#4084)
  crates/adapters/bybit/src/data.rs
  crates/adapters/bybit/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Bybit execution.fast channel and instrument fields
  RELEASES.md
  crates/adapters/bybit/src/common/enums.rs
  crates/adapters/bybit/src/data.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/python/websocket.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/bybit/src/websocket/dispatch.rs
  crates/adapters/bybit/src/websocket/enums.rs
  crates/adapters/bybit/src/websocket/handler.rs
  crates/adapters/bybit/src/websocket/messages.rs
  crates/adapters/bybit/src/websocket/parse.rs
  crates/adapters/bybit/test_data/http_get_instruments_inverse_symbol_type.json
  crates/adapters/bybit/test_data/http_get_instruments_linear_symbol_type.json
  crates/adapters/bybit/test_data/http_get_instruments_option_symbol_id.json
  crates/adapters/bybit/test_data/http_get_instruments_spot_xstocks.json
  crates/adapters/bybit/test_data/http_get_positions_with_open_time.json
  crates/adapters/bybit/test_data/ws_account_execution_fast.json
  crates/adapters/bybit/test_data/ws_account_execution_fast_envelope_id.json
  crates/adapters/bybit/test_data/ws_account_position_with_open_time.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Binance Spot/USDM venue field and event updates
  RELEASES.md
  crates/adapters/binance/bin/ws_spot_data.rs
  crates/adapters/binance/src/common/consts.rs
  crates/adapters/binance/src/common/parse.rs
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/futures/websocket/streams/messages.rs
  crates/adapters/binance/src/futures/websocket/streams/parse_data.rs
  crates/adapters/binance/src/spot/data.rs
  crates/adapters/binance/src/spot/enums.rs
  crates/adapters/binance/src/spot/execution.rs
  crates/adapters/binance/src/spot/http/models.rs
  crates/adapters/binance/src/spot/http/parse.rs
  crates/adapters/binance/src/spot/websocket/streams/handler.rs
  crates/adapters/binance/src/spot/websocket/streams/messages.rs
  crates/adapters/binance/src/spot/websocket/streams/subscription.rs
  crates/adapters/binance/src/spot/websocket/trading/handler.rs
  crates/adapters/binance/src/spot/websocket/trading/messages.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Kraken Futures deserialization on unknown enum values
  RELEASES.md
  crates/adapters/kraken/src/common/enums.rs
  crates/adapters/kraken/src/common/parse.rs
  crates/adapters/kraken/src/http/futures/models.rs
  crates/adapters/kraken/test_data/http_futures_order_events_unknown.json
  crates/adapters/kraken/test_data/http_send_order_futures_unknown_trigger.json
  python/nautilus_trader/adapters/kraken/__init__.pyi
  python/nautilus_trader/kraken/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Databento decoder errors on dbn 0.58
  RELEASES.md
  crates/adapters/databento/src/decode.rs
  crates/adapters/databento/src/enums.rs
  crates/adapters/databento/src/historical.rs
  crates/adapters/databento/src/live.rs
  crates/adapters/databento/src/loader.rs
  docs/integrations/databento.md
  nautilus_trader/core/nautilus_pyo3.pyi
  python/nautilus_trader/adapters/databento/__init__.pyi
  python/nautilus_trader/databento/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement pyo3 binding for Portfolio
  crates/live/src/python/mod.rs
  crates/portfolio/Cargo.toml
  crates/portfolio/src/python/mod.rs
  crates/trading/Cargo.toml
  crates/trading/src/python/strategy.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Regenerate python v2 type stubs
  crates/adapters/hyperliquid/src/python/http.rs
  crates/execution/src/python/reconciliation.rs
  python/nautilus_trader/hyperliquid/__init__.pyi
  python/nautilus_trader/okx/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Prepare release
  RELEASES.md
Due: check-non-latin-text

Fix Polymarket Gamma instrument loading
  RELEASES.md
  crates/adapters/polymarket/src/common/consts.rs
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/http/gamma.rs
  crates/adapters/polymarket/src/providers.rs
  crates/adapters/polymarket/tests/http.rs
  nautilus_trader/adapters/polymarket/common/gamma_markets.py
  nautilus_trader/adapters/polymarket/providers.py
  tests/integration_tests/adapters/polymarket/test_gamma_markets.py
  tests/integration_tests/adapters/polymarket/test_providers.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Skip more doc-only paths in CI build planning
  scripts/ci/plan.sh
Due: none

Add Polymarket resolve polling and pending-resolution settlement
  Cargo.lock
  crates/adapters/polymarket/src/config.rs
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/http/gamma.rs
  crates/adapters/polymarket/src/python/config.rs
  crates/adapters/polymarket/src/websocket/messages.rs
  crates/adapters/sandbox/Cargo.toml
  crates/adapters/sandbox/src/execution.rs
  crates/adapters/sandbox/src/factory.rs
  crates/adapters/sandbox/src/python/factories.rs
  crates/adapters/sandbox/src/python/mod.rs
  crates/adapters/sandbox/tests/execution.rs
  crates/data/src/engine/mod.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
  crates/live/src/python/node.rs
  crates/system/src/python/registry.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Guard IBKR order submit on client readiness
  nautilus_trader/adapters/interactive_brokers/execution.py
  tests/integration_tests/adapters/interactive_brokers/conftest.py
  tests/integration_tests/adapters/interactive_brokers/test_execution.py
Due: check-non-latin-text

Harden release publishing pipeline
  .github/workflows/build.yml
  README.md
  RELEASES.md
  scripts/ci/publish-cargo-crates.sh
  scripts/ci/publish-release-checksums.sh
  scripts/ci/verify-published-registries.bash
Due: check-non-latin-text

Bump version
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/core/build.rs
  pyproject.toml
  uv.lock
  version.json
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update GitHub Actions and tooling pins per policy
  .github/actions/common-setup/action.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-v2.yml
  .github/workflows/build.yml
  .github/workflows/cli-binaries.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/dst.yml
  .github/workflows/nightly-docs-features-check.yml
  .github/workflows/nightly-merge.yml
  .github/workflows/nightly-miri.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/performance.yml
  .github/workflows/security-audit.yml
  .pre-commit-config.yaml
  docs/developer_guide/environment_setup.md
  pyproject.toml
  python/pyproject.toml
  python/uv.lock
  tools.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Update supply-chain configs and pre-flight
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Makefile
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add Hyperliquid canonical inbound and exec pipeline benches
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/benches/common/mod.rs
  crates/adapters/hyperliquid/benches/data.rs
  crates/adapters/hyperliquid/benches/exec.rs
  crates/adapters/hyperliquid/benches/micros.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Hyperliquid adapter hot paths and add flatten binary
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/benches/signing.rs
  crates/adapters/hyperliquid/bin/flatten.rs
  crates/adapters/hyperliquid/bin/http_private.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/signing/signers.rs
  crates/adapters/hyperliquid/src/websocket/codec.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
  crates/adapters/hyperliquid/src/websocket/mod.rs
  crates/adapters/hyperliquid/src/websocket/parse.rs
  crates/adapters/hyperliquid/tests/websocket.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve component ID log tagging
  crates/common/src/actor/data_actor.rs
  crates/common/src/component.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
