Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Use cargo codspeed for running Rust benchmarks (#2688)
  .github/actions/common-setup/action.yml
  .github/workflows/performance.yml
  Cargo.lock
  crates/adapters/coinbase_intx/Cargo.toml
  crates/adapters/databento/Cargo.toml
  crates/adapters/demo/Cargo.toml
  crates/adapters/tardis/Cargo.toml
  crates/analysis/Cargo.toml
  crates/data/Cargo.toml
  crates/portfolio/Cargo.toml
  crates/risk/Cargo.toml
  crates/serialization/Cargo.toml
  crates/trading/Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve timer allow_past validations and behavior
  RELEASES.md
  crates/common/src/clock.rs
  crates/common/src/timer.rs
  nautilus_trader/common/component.pyx
  tests/unit_tests/common/test_clock.py
Due: fmt, cargo-clippy, cargo-doc

Improve Component trait usage and ergonomics
  crates/common/src/actor/data_actor.rs
  crates/common/src/component.rs
  crates/common/src/python/actor.rs
  crates/trading/src/trader.rs
Due: fmt, cargo-clippy, cargo-doc

Refine Component and Actor trait composability
  crates/common/src/actor/registry.rs
  crates/common/src/component.rs
  crates/trading/src/trader.rs
Due: fmt, cargo-clippy, cargo-doc

cargo codspeed on specfic packages
  .github/workflows/performance.yml
Due: none

Fix data request identifier attribute access
  RELEASES.md
  nautilus_trader/live/data_client.py
Due: none

Cargo codspeed only on specific packages (#2691)
  .github/workflows/performance.yml
Due: none

Blank lines
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  nautilus_trader/adapters/interactive_brokers/historical/client.py
  nautilus_trader/cache/cache.pyx
  nautilus_trader/live/execution_engine.py
  nautilus_trader/live/node_builder.py
  nautilus_trader/portfolio/portfolio.pyx
  nautilus_trader/risk/engine.pyx
  nautilus_trader/system/kernel.py
  nautilus_trader/trading/trader.py
Due: none

Refine IB adapter
  examples/live/interactive_brokers/connect_with_dockerized_gateway.py
  examples/live/interactive_brokers/connect_with_tws.py
  examples/live/interactive_brokers/historical_download.py
  examples/live/interactive_brokers/with_databento_client.py
  examples/live/interactive_brokers/with_databento_instrument_id.py
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/common.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/common.py
  nautilus_trader/adapters/interactive_brokers/config.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  nautilus_trader/adapters/interactive_brokers/historical/client.py
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  nautilus_trader/adapters/interactive_brokers/parsing/price_conversion.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  nautilus_trader/cache/base.pxd
  nautilus_trader/cache/base.pyx
  nautilus_trader/cache/cache.pxd
  nautilus_trader/cache/cache.pyx
  nautilus_trader/data/engine.pyx
  nautilus_trader/live/node_builder.py
  nautilus_trader/portfolio/portfolio.pxd
  nautilus_trader/portfolio/portfolio.pyx
  tests/integration_tests/adapters/interactive_brokers/client/test_client_market_data.py
  tests/integration_tests/adapters/interactive_brokers/mock_client.py
  tests/integration_tests/adapters/interactive_brokers/test_kit.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
  tests/integration_tests/adapters/interactive_brokers/test_providers.py
  tests/unit_tests/portfolio/test_portfolio.py
Due: none

Create python-package-conda.yml
  .github/workflows/python-package-conda.yml
Due: none

Remove cargo-codspeed for now
  .github/actions/common-setup/action.yml
  .github/workflows/performance.yml
Due: none

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/cryptography/Cargo.toml
  crates/cryptography/src/tls.rs
  crates/model/Cargo.toml
  crates/network/Cargo.toml
  uv-version
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix clippy lints
  crates/network/src/python/socket.rs
  crates/network/src/python/websocket.rs
Due: fmt, cargo-clippy, cargo-doc

Fix clean and distclean make targets
  Makefile
  RELEASES.md
Due: none

Upgrade Cython
  RELEASES.md
  build.py
  pyproject.toml
  scripts/test-coverage.sh
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Upgrade py-clob-client for Polymarket
  nautilus_trader/adapters/polymarket/execution.py
  pyproject.toml
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refactor IB adapter (#2647)
  examples/live/interactive_brokers/connect_with_dockerized_gateway.py
  examples/live/interactive_brokers/connect_with_tws.py
  examples/live/interactive_brokers/historical_download.py
  examples/live/interactive_brokers/with_databento_client.py
  examples/live/interactive_brokers/with_databento_instrument_id.py
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/common.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/common.py
  nautilus_trader/adapters/interactive_brokers/config.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/execution.py
  nautilus_trader/adapters/interactive_brokers/historical/client.py
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  nautilus_trader/adapters/interactive_brokers/parsing/price_conversion.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  nautilus_trader/cache/base.pxd
  nautilus_trader/cache/base.pyx
  nautilus_trader/cache/cache.pxd
  nautilus_trader/cache/cache.pyx
  nautilus_trader/data/engine.pyx
  nautilus_trader/live/execution_engine.py
  nautilus_trader/live/node_builder.py
  nautilus_trader/portfolio/portfolio.pxd
  nautilus_trader/portfolio/portfolio.pyx
  nautilus_trader/risk/engine.pyx
  nautilus_trader/system/kernel.py
  nautilus_trader/trading/trader.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_market_data.py
  tests/integration_tests/adapters/interactive_brokers/mock_client.py
  tests/integration_tests/adapters/interactive_brokers/test_kit.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
  tests/integration_tests/adapters/interactive_brokers/test_providers.py
  tests/unit_tests/portfolio/test_portfolio.py
Due: none

Remove redundant import
  nautilus_trader/cache/database.pyx
Due: none

Standardize formatting for Cython type defs
  nautilus_trader/cache/cache.pyx
Due: none

Revert introduction of import from adapter subpackage
  nautilus_trader/live/node_builder.py
Due: none

Deprecate set_specific_venue for Portfolio
  RELEASES.md
  nautilus_trader/cache/cache.pxd
  nautilus_trader/cache/cache.pyx
  nautilus_trader/portfolio/portfolio.pxd
  nautilus_trader/portfolio/portfolio.pyx
Due: none
