Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Fix downsample_to_daily_bins to compound intraday returns (#4141)
  RELEASES.md
  crates/analysis/src/statistic.rs
  nautilus_trader/analysis/statistic.py
  tests/unit_tests/analysis/test_statistic.py
  tests/unit_tests/analysis/test_statistics_returns_volatility.py
  tests/unit_tests/analysis/test_statistics_sharpe_ratio.py
  tests/unit_tests/analysis/test_statistics_sortino_ratio.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix IB live bar reconnect tracking cleanup (#4169)
  crates/adapters/interactive_brokers/src/common/parse.rs
  crates/adapters/interactive_brokers/src/config.rs
  crates/adapters/interactive_brokers/src/data/convert.rs
  crates/adapters/interactive_brokers/src/data/core.rs
  crates/adapters/interactive_brokers/src/data/core_streams.rs
  crates/adapters/interactive_brokers/src/execution/account.rs
  crates/adapters/interactive_brokers/src/execution/core.rs
  crates/adapters/interactive_brokers/src/execution/core_orders.rs
  crates/adapters/interactive_brokers/src/execution/core_tests.rs
  crates/adapters/interactive_brokers/src/execution/core_updates.rs
  crates/adapters/interactive_brokers/src/execution/parse.rs
  crates/adapters/interactive_brokers/src/execution/transform.rs
  crates/adapters/interactive_brokers/src/execution/transform/policy.rs
  crates/adapters/interactive_brokers/src/factories.rs
  crates/adapters/interactive_brokers/src/historical/client.rs
  crates/adapters/interactive_brokers/src/providers/instruments.rs
  crates/adapters/interactive_brokers/src/providers/parse.rs
  crates/adapters/interactive_brokers/src/providers/tests.rs
  crates/adapters/interactive_brokers/src/python/config.rs
  crates/adapters/interactive_brokers/src/python/historical.rs
  examples/live/interactive_brokers_v2/notebooks/reconciliation_example.py
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers_pyo3/historical.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client.py
  tests/integration_tests/adapters/interactive_brokers/test_ib_pyo3_provider.py
  tests/unit_tests/adapters/interactive_brokers/test_pyo3_config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor Hyperliquid order submission handling to improve response parsing and error management across HTTP and WebSocket clients
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  nautilus_trader/adapters/hyperliquid/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix LatencyModelConfig base latency unit comment
  nautilus_trader/backtest/config.py
Due: check-non-latin-text

Fix LatencyModelConfig base latency unit comment
  RELEASES.md
  nautilus_trader/backtest/config.py
Due: check-non-latin-text

Fix Cache reset clearing retained FX rate lookup
  RELEASES.md
  crates/common/src/cache/tests.rs
  nautilus_trader/cache/cache.pyx
  tests/unit_tests/cache/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies
  .gitignore
  .pre-commit-config.yaml
  .supply-chain/audits.toml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  nautilus_trader/core/includes/backtest.h
  nautilus_trader/core/includes/common.h
  nautilus_trader/core/includes/core.h
  nautilus_trader/core/includes/model.h
  pyproject.toml
  python/pyproject.toml
  tools.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Implement native TP/SL parameters for HTTP order submission in demo mode
  crates/adapters/bybit/bin/flatten.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/execution.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/query.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/src/python/mod.rs
  crates/adapters/bybit/src/python/params.rs
  crates/adapters/bybit/tests/http.rs
  nautilus_trader/adapters/bybit/execution.py
  tests/integration_tests/adapters/bybit/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix IB bar warmup capped at reconnect time on initial startup
  nautilus_trader/adapters/interactive_brokers/client/client.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client.py
Due: check-non-latin-text

Add RELEASES.md entry for IB bar warmup fix
  RELEASES.md
Due: check-non-latin-text

Revert "Add RELEASES.md entry for IB bar warmup fix"
  RELEASES.md
Due: check-non-latin-text

Upgrade sqlx to v0.9.0
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/types.rs
  crates/infrastructure/src/sql/models/enums.rs
  crates/infrastructure/src/sql/pg.rs
  deny.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Upgrade libsqlite3-sys
  .supply-chain/config.toml
  Cargo.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Upgrade Cython
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix clippy lints in bin and example targets
  crates/adapters/deribit/bin/ws_data.rs
  crates/adapters/derive/examples/node_data_tester.rs
  crates/cli/src/bin/cli.rs
  crates/plugin/benches/normalize.rs
  crates/plugin/examples/bad_abi_manifest_plugin.rs
  crates/plugin/examples/bad_invalid_manifest_plugin.rs
  crates/plugin/examples/bad_null_manifest_plugin.rs
  crates/plugin/examples/exec_test_plugin.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Upgrade Rust
  Cargo.toml
  README.md
  RELEASES.md
  crates/infrastructure/src/sql/cache.rs
  docs/concepts/rust.md
  rust-toolchain.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Hyperliquid cancel-replace modify overfill
  RELEASES.md
  crates/adapters/hyperliquid/src/execution.rs
  crates/adapters/hyperliquid/src/websocket/dispatch.rs
  docs/developer_guide/adapters.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor Hyperliquid order status handling to deferred trigger children and maintain SUBMITTED state until real oid is received
  crates/adapters/hyperliquid/src/http/client.rs
  nautilus_trader/adapters/hyperliquid/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Derive execution client typing
  crates/adapters/derive/src/execution.rs
  crates/adapters/derive/src/http/models.rs
  crates/adapters/derive/tests/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Blockchain pool snapshot loader for backtest replay
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/python/cache.rs
  crates/adapters/blockchain/src/python/mod.rs
  docs/integrations/blockchain.md
  python/nautilus_trader/blockchain/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add System controller lifecycle messages
  crates/system/src/controller.rs
  crates/system/src/lib.rs
  crates/system/src/messages/controller.rs
  crates/system/src/messages/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add missing PortfolioStatistic trait methods returning None
  RELEASES.md
  crates/analysis/src/statistics/cagr.rs
  crates/analysis/src/statistics/calmar_ratio.rs
  crates/analysis/src/statistics/max_drawdown.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Derive fuzz targets
  .gitignore
  RELEASES.md
  crates/adapters/derive/fuzz/Cargo.lock
  crates/adapters/derive/fuzz/Cargo.toml
  crates/adapters/derive/fuzz/README.md
  crates/adapters/derive/fuzz/fuzz_targets/fuzz_action_hash.rs
  crates/adapters/derive/fuzz/fuzz_targets/fuzz_decimal_decode.rs
  crates/adapters/derive/fuzz/fuzz_targets/fuzz_nonce_sequence.rs
  crates/adapters/derive/fuzz/fuzz_targets/fuzz_trade_module_encode.rs
  crates/adapters/derive/fuzz/fuzz_targets/fuzz_ws_decode.rs
  crates/adapters/derive/fuzz/grind.sh
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix ruff-format: wrap long test function signatures
  tests/integration_tests/adapters/interactive_brokers/client/test_client.py
Due: check-non-latin-text

Fix flaky Coinbase reconnect poll test
  crates/adapters/coinbase/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix flaky Hyperliquid asset-context test
  crates/adapters/hyperliquid/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Portfolio calculations with Decimal arithmetic in Rust
  RELEASES.md
  crates/backtest/src/modules/fx_rollover.rs
  crates/common/src/cache/mod.rs
  crates/common/src/cache/tests.rs
  crates/common/src/python/cache.rs
  crates/common/src/python/xrate.rs
  crates/common/src/xrate.rs
  crates/portfolio/src/manager.rs
  crates/portfolio/src/portfolio.rs
  crates/portfolio/src/python/mod.rs
  crates/portfolio/tests/portfolio.rs
  nautilus_trader/cache/cache.pyx
  nautilus_trader/core/nautilus_pyo3.pyi
  python/nautilus_trader/common/__init__.pyi
  python/tests/unit/common/test_runtime.py
  tests/unit_tests/accounting/test_calculators.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix ExecutionEngine reset cache ownership
  crates/backtest/src/engine.rs
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Plugin controller surface
  crates/live/tests/plugin_dispatch.rs
  crates/plugin/examples/bad_abi_manifest_plugin.rs
  crates/plugin/examples/bad_invalid_manifest_plugin.rs
  crates/plugin/src/bridge/configured.rs
  crates/plugin/src/bridge/custom_data.rs
  crates/plugin/src/host.rs
  crates/plugin/src/lib.rs
  crates/plugin/src/loader.rs
  crates/plugin/src/macros.rs
  crates/plugin/src/manifest.rs
  crates/plugin/src/surfaces/controller.rs
  crates/plugin/src/surfaces/mod.rs
  crates/plugin/tests/abi_layout.rs
  crates/plugin/tests/hook_dispatch.rs
  crates/plugin/tests/macro_expansion.rs
  crates/plugin/tests/panic_propagation.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix CurrencyPair asset_class returning hardcoded FX for crypto pairs
  crates/model/src/instruments/currency_pair.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix CurrencyPair asset_class for crypto pairs (#4175)
  crates/model/src/instruments/currency_pair.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Derive market order submission
  crates/adapters/derive/src/execution.rs
  crates/adapters/derive/tests/exec_client.rs
  crates/core/src/nanos.rs
  docs/integrations/derive.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Plugin controller config loading
  crates/live/src/node.rs
  crates/live/tests/plugin.rs
  crates/plugin/examples/runtime_smoke_plugin.rs
  crates/plugin/src/bridge/configured.rs
  crates/plugin/src/bridge/controller.rs
  crates/plugin/src/bridge/host.rs
  crates/plugin/src/bridge/mod.rs
  crates/plugin/src/bridge/registry.rs
  docs/concepts/plugins.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Lighter Python config surface
  README.md
  crates/adapters/lighter/src/common/enums.rs
  crates/adapters/lighter/src/config.rs
  crates/adapters/lighter/src/python/config.rs
  crates/adapters/lighter/src/python/factories.rs
  crates/adapters/lighter/src/python/mod.rs
  docs/integrations/lighter.md
  python/examples/lighter/__init__.py
  python/examples/lighter/data_tester.py
  python/examples/lighter/exec_tester.py
  python/nautilus_trader/__init__.pyi
  python/nautilus_trader/adapters/lighter/__init__.py
  python/nautilus_trader/adapters/lighter/__init__.pyi
  python/nautilus_trader/lighter/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix PyO3 hypersync DeFi propagation
  crates/pyo3/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix Tardis default Python dependency
  crates/adapters/tardis/Cargo.toml
  crates/adapters/tardis/src/csv/load.rs
  crates/adapters/tardis/src/csv/stream.rs
  crates/adapters/tardis/src/machine/parse.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add backtest funding settlements in Rust
  RELEASES.md
  crates/adapters/tardis/src/replay.rs
  crates/backtest/src/config.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/node.rs
  crates/backtest/src/python/engine.rs
  crates/backtest/tests/backtest_engine.rs
  crates/backtest/tests/backtest_node.rs
  crates/backtest/tests/exchange.rs
  crates/common/src/msgbus/switchboard.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/engine.rs
  crates/model/src/data/mod.rs
  crates/model/src/events/funding/mod.rs
  crates/model/src/events/funding/settlement.rs
  crates/model/src/events/mod.rs
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/feather.rs
  crates/persistence/src/python/backend/session.rs
  crates/persistence/src/python/catalog.rs
  crates/persistence/tests/test_catalog.rs
  crates/persistence/tests/test_feather.rs
  crates/serialization/src/arrow/funding.rs
  docs/concepts/backtesting.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Apply same warmup fix in Rust IB adapter core_streams
  crates/adapters/interactive_brokers/src/data/core_streams.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

binance: add spot market-data auto mode with JSON public fallback
  crates/adapters/binance/src/config.rs
  crates/adapters/binance/src/spot/data.rs
  crates/adapters/binance/src/spot/websocket/public_json/client.rs
  crates/adapters/binance/src/spot/websocket/public_json/handler.rs
  crates/adapters/binance/src/spot/websocket/public_json/messages.rs
  crates/adapters/binance/src/spot/websocket/public_json/mod.rs
  crates/adapters/binance/src/spot/websocket/public_json/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
