Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Fix pre-commit: extract helper to reduce complexity, apply formatters
  nautilus_trader/adapters/polymarket/providers.py
  tests/integration_tests/adapters/polymarket/test_providers.py
Due: check-non-latin-text

Add test coverage for event_slug_builder error paths
  tests/integration_tests/adapters/polymarket/test_providers.py
Due: check-non-latin-text

Improve Betfair adapter rate limiting and fill deduplication
  RELEASES.md
  nautilus_trader/adapters/betfair/client.py
  nautilus_trader/adapters/betfair/common.py
  nautilus_trader/adapters/betfair/constants.py
  nautilus_trader/adapters/betfair/execution.py
  nautilus_trader/adapters/betfair/factories.py
  nautilus_trader/adapters/betfair/parsing/requests.py
  tests/integration_tests/adapters/betfair/test_betfair_execution.py
  tests/integration_tests/adapters/betfair/test_betfair_parsing.py
Due: check-non-latin-text

Use the previous quote when partial quotes are sent by Deribit
  crates/adapters/deribit/src/websocket/handler.rs
  crates/adapters/deribit/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix
  crates/adapters/deribit/src/websocket/handler.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

raise ValueErrors when book, own_book and own_synthetic_book are not meaningfull
  crates/model/src/orderbook/binary_book_view.rs
  crates/model/src/orderbook/error.rs
  crates/model/src/orderbook/mod.rs
  crates/model/src/orderbook/tests.rs
  crates/model/src/python/orderbook/binary_book_view.rs
  tests/unit_tests/model/test_binary_market_book_view.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine exit process for Strategy (#3425)
  nautilus_trader/trading/config.py
  nautilus_trader/trading/controller.py
  nautilus_trader/trading/messages.py
  nautilus_trader/trading/strategy.pxd
  nautilus_trader/trading/strategy.pyx
  nautilus_trader/trading/trader.py
  tests/unit_tests/trading/test_strategy.py
Due: check-non-latin-text

Update dependencies and improve stub generation
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  python/generate_stubs.py
  python/nautilus_trader/__init__.pyi
  python/nautilus_trader/_libnautilus/__init__.pyi
  python/nautilus_trader/adapters/__init__.pyi
  python/nautilus_trader/adapters/blockchain/__init__.pyi
  python/nautilus_trader/adapters/coinbase_intx/__init__.pyi
  python/nautilus_trader/adapters/databento/__init__.pyi
  python/nautilus_trader/adapters/hyperliquid/__init__.pyi
  python/nautilus_trader/adapters/okx/__init__.pyi
  python/nautilus_trader/adapters/tardis/__init__.pyi
  python/nautilus_trader/common/__init__.pyi
  python/nautilus_trader/core/__init__.pyi
  python/nautilus_trader/cryptography/__init__.pyi
  python/nautilus_trader/indicators/__init__.pyi
  python/nautilus_trader/infrastructure/__init__.pyi
  python/nautilus_trader/live/__init__.pyi
  python/nautilus_trader/model/__init__.pyi
  python/nautilus_trader/network/__init__.pyi
  python/nautilus_trader/persistence/__init__.pyi
  python/nautilus_trader/serialization/__init__.pyi
  python/nautilus_trader/testkit/__init__.pyi
  python/nautilus_trader/trading/__init__.pyi
  python/pyproject.toml
  python/uv.lock
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Address comments, add tests, and update subscribe example
  examples/live/interactive_brokers/connect_with_tws.py
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/examples/strategies/subscribe.py
  tests/integration_tests/adapters/interactive_brokers/client/test_client_market_data.py
  tests/integration_tests/adapters/interactive_brokers/test_kit.py
Due: check-non-latin-text

Fix batch order issues and improve error handling
  nautilus_trader/adapters/polymarket/execution.py
  tests/integration_tests/adapters/polymarket/test_execution.py
Due: check-non-latin-text

Improve Strategy market exit with manage_stop option
  RELEASES.md
  docs/concepts/strategies.md
  examples/live/bybit/bybit_exec_tester.py
  nautilus_trader/test_kit/strategies/tester_exec.py
  nautilus_trader/trading/config.py
  nautilus_trader/trading/strategy.pxd
  nautilus_trader/trading/strategy.pyx
  tests/unit_tests/trading/test_strategy.py
Due: check-non-latin-text

Fix inverse instrument base_currency access across accounting
  RELEASES.md
  nautilus_trader/accounting/accounts/cash.pyx
  nautilus_trader/accounting/accounts/margin.pyx
  nautilus_trader/accounting/margin_models.pyx
  nautilus_trader/backtest/models/fee.pyx
  nautilus_trader/portfolio/portfolio.pyx
  tests/unit_tests/backtest/test_commission_model.py
Due: check-non-latin-text

Standardize Deribit adapter with raw interval default
  crates/adapters/deribit/src/data.rs
  crates/adapters/deribit/src/execution.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/deribit/src/websocket/client.rs
  docs/concepts/actors.md
  docs/developer_guide/adapters.md
  nautilus_trader/adapters/_template/data.py
  nautilus_trader/adapters/deribit/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/deribit/conftest.py
  tests/integration_tests/adapters/deribit/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove invalid empty order list test
  tests/integration_tests/adapters/polymarket/test_execution.py
Due: check-non-latin-text

Improve Deribit book subscriptions and handling
  crates/adapters/deribit/src/data.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/deribit/src/websocket/client.rs
  crates/adapters/deribit/src/websocket/enums.rs
  crates/adapters/deribit/src/websocket/parse.rs
  crates/adapters/hyperliquid/src/websocket/post.rs
  examples/live/deribit/deribit_data_tester.py
  nautilus_trader/adapters/deribit/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/deribit/test_data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Centralize execution venue validation in Rust
  crates/execution/src/engine/mod.rs
  crates/execution/tests/exec_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize Kraken adapter subscriptions
  crates/adapters/kraken/src/common/enums.rs
  crates/adapters/kraken/src/data/futures.rs
  crates/adapters/kraken/src/execution/futures.rs
  crates/adapters/kraken/src/execution/spot.rs
  crates/adapters/kraken/src/websocket/futures/client.rs
  crates/adapters/kraken/src/websocket/futures/handler.rs
  nautilus_trader/adapters/kraken/data.py
  nautilus_trader/adapters/kraken/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Betfair rate limiting docs
  docs/integrations/betfair.md
  nautilus_trader/adapters/betfair/factories.py
Due: check-non-latin-text

Fix Betfair reconciliation with stale fill data
  RELEASES.md
  nautilus_trader/adapters/betfair/execution.py
  nautilus_trader/adapters/betfair/parsing/requests.py
  tests/integration_tests/adapters/betfair/test_betfair_parsing.py
Due: check-non-latin-text

Fix Polymarket BinaryOption fee parsing
  nautilus_trader/adapters/polymarket/common/parsing.py
  tests/integration_tests/adapters/polymarket/test_parsing.py
Due: check-non-latin-text

fixup! Add order context cleanup on terminal order status
  crates/adapters/dydx/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve authenticator config parsing error logging
  crates/adapters/dydx/src/execution/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix sequence 0 infinite loop, encapsulate sequence in TransactionManager
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/execution/tx_manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor dYdX cancel_order to use short-lived cache borrows
  crates/adapters/dydx/src/execution/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor dYdX submit_order and cancel_all_orders to use short-lived cache borrows
  crates/adapters/dydx/src/execution/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Delete unnecessary Dydx data client Rust tests
  crates/adapters/dydx/src/data/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Move wallet ownership into TransactionManager
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/execution/tx_manager.rs
  crates/adapters/dydx/src/python/execution.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add ClientOrderIdEncoder for bidirectional dYdX u32 ↔ ClientOrderId mapping
  crates/adapters/dydx/src/execution/client_order_id_encoder.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add order context cleanup on terminal order status
  crates/adapters/dydx/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Client order id encoding Rust
  crates/adapters/dydx/bin/grpc_exec.rs
  crates/adapters/dydx/src/execution/client_order_id_encoder.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/order_builder.rs
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/execution/types.rs
  crates/adapters/dydx/src/grpc/order.rs
  crates/adapters/dydx/src/python/execution.rs
  crates/adapters/dydx/src/websocket/parse.rs
  crates/adapters/dydx/tests/grpc.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Finish Rust dydx adapter
  Cargo.lock
  crates/adapters/dydx/Cargo.toml
  crates/adapters/dydx/bin/grpc_exec.rs
  crates/adapters/dydx/bin/http_public.rs
  crates/adapters/dydx/src/common/instrument_cache.rs
  crates/adapters/dydx/src/data.rs
  crates/adapters/dydx/src/execution/broadcaster.rs
  crates/adapters/dydx/src/execution/encoder.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/order_builder.rs
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/grpc/order.rs
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/src/http/parse.rs
  crates/adapters/dydx/src/python/encoder.rs
  crates/adapters/dydx/src/python/grpc.rs
  crates/adapters/dydx/src/python/http.rs
  crates/adapters/dydx/src/python/mod.rs
  crates/adapters/dydx/src/python/submitter.rs
  crates/adapters/dydx/src/python/wallet.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/dydx/src/websocket/client.rs
  crates/adapters/dydx/src/websocket/enums.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/messages.rs
  crates/adapters/dydx/src/websocket/parse.rs
  crates/adapters/dydx/tests/data.rs
  crates/adapters/dydx/tests/execution.rs
  crates/adapters/dydx/tests/grpc.rs
  crates/adapters/dydx/tests/http.rs
  crates/adapters/dydx/tests/websocket.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine memory management in databento adapter
  crates/model/src/python/data/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix order cancel not releasing locked balance in backtest
  RELEASES.md
  crates/common/src/cache/mod.rs
  crates/model/src/accounts/cash.rs
  crates/portfolio/src/manager.rs
  crates/portfolio/src/portfolio.rs
  nautilus_trader/accounting/accounts/cash.pyx
  nautilus_trader/test_kit/stubs/events.py
  tests/unit_tests/portfolio/test_portfolio.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies including arc-swap ordering fixes
  .supply-chain/config.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Remove redundant MarketExitStrategy message
  nautilus_trader/trading/controller.py
  nautilus_trader/trading/messages.py
  nautilus_trader/trading/strategy.pyx
Due: check-non-latin-text

Add Strategy market exit capability in Rust
  crates/system/src/trader.rs
  crates/testkit/src/testers/exec.rs
  crates/trading/src/python/strategy.rs
  crates/trading/src/strategy/config.rs
  crates/trading/src/strategy/core.rs
  crates/trading/src/strategy/mod.rs
  docs/concepts/strategies.md
  nautilus_trader/trading/strategy.pxd
  nautilus_trader/trading/strategy.pyx
  tests/unit_tests/trading/test_strategy.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Hyperliquid adapter
  Cargo.lock
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/hyperliquid/examples/node_data_tester.rs
  crates/adapters/hyperliquid/examples/node_exec_tester.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/factories.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/lib.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  crates/adapters/hyperliquid/src/python/websocket.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine BitMEX adapter
  crates/adapters/bitmex/src/common/enums.rs
  crates/adapters/bitmex/src/common/parse.rs
  crates/adapters/bitmex/src/data/mod.rs
  crates/adapters/bitmex/src/execution/mod.rs
  crates/adapters/bitmex/src/execution/submitter.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/http/models.rs
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bitmex/src/python/http.rs
  crates/adapters/bitmex/src/python/websocket.rs
  crates/adapters/bitmex/src/websocket/handler.rs
  crates/adapters/bitmex/src/websocket/messages.rs
  crates/adapters/bitmex/src/websocket/parse.rs
  crates/model/src/currencies.rs
  examples/live/bitmex/bitmex_data_tester.py
  examples/live/bitmex/bitmex_exec_tester.py
  nautilus_trader/adapters/bitmex/data.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/bitmex/conftest.py
  tests/integration_tests/adapters/bitmex/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Continue Architect AX adapter
  crates/adapters/architect_ax/src/common/credential.rs
  crates/adapters/architect_ax/src/common/enums.rs
  crates/adapters/architect_ax/src/data.rs
  crates/adapters/architect_ax/src/http/client.rs
  crates/adapters/architect_ax/src/http/error.rs
  crates/adapters/architect_ax/src/http/parse.rs
  crates/adapters/architect_ax/src/python/http.rs
  crates/adapters/architect_ax/src/python/websocket.rs
  crates/adapters/architect_ax/test_data/http_get_instruments.json
  crates/adapters/architect_ax/tests/common/mod.rs
  crates/adapters/architect_ax/tests/common/server.rs
  crates/adapters/architect_ax/tests/data_client.rs
  crates/adapters/architect_ax/tests/exec_client.rs
  crates/adapters/architect_ax/tests/http.rs
  examples/live/architect_ax/ax_data_tester.py
  examples/live/architect_ax/ax_exec_tester.py
  nautilus_trader/adapters/architect_ax/__init__.py
  nautilus_trader/adapters/architect_ax/data.py
  nautilus_trader/adapters/architect_ax/execution.py
  nautilus_trader/adapters/architect_ax/factories.py
  nautilus_trader/adapters/architect_ax/providers.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
