Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Decode dYdX client order IDs during reconciliation
  crates/adapters/dydx/src/execution/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Finish Python dydx client v4
  nautilus_trader/adapters/dydx_v4/execution.py
Due: check-non-latin-text

Improve Dydx order id encoder and websocket client
  crates/adapters/dydx/src/python/encoder.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/dydx/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add order context cleanup on order terminal state
  nautilus_trader/adapters/dydx_v4/execution.py
Due: check-non-latin-text

Optimize Money::from_decimal with integer arithmetic
  RELEASES.md
  crates/model/Cargo.toml
  crates/model/benches/money_criterion.rs
  crates/model/src/accounts/base.rs
  crates/model/src/python/types/money.rs
  crates/model/src/types/fixed.rs
  crates/model/src/types/money.rs
  nautilus_trader/model/objects.pxd
  nautilus_trader/model/objects.pyx
  tests/unit_tests/model/objects/test_money_pyo3.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Optimize Price and Quantity fixed-point conversions
  RELEASES.md
  crates/model/Cargo.toml
  crates/model/benches/price_criterion.rs
  crates/model/benches/quantity_criterion.rs
  crates/model/src/python/types/price.rs
  crates/model/src/python/types/quantity.rs
  crates/model/src/types/fixed.rs
  crates/model/src/types/money.rs
  crates/model/src/types/price.rs
  crates/model/src/types/quantity.rs
  docs/developer_guide/rust.md
  nautilus_trader/model/objects.pxd
  nautilus_trader/model/objects.pyx
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Ichimoku Cloud indicator
  crates/indicators/src/momentum/ichimoku.rs
  crates/indicators/src/momentum/mod.rs
  crates/indicators/src/python/mod.rs
  crates/indicators/src/python/momentum/ichimoku.rs
  crates/indicators/src/python/momentum/mod.rs
  nautilus_trader/indicators/__init__.py
  nautilus_trader/indicators/trend.pxd
  nautilus_trader/indicators/trend.pyx
  tests/unit_tests/indicators/test_ichimoku.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix market order subticks=0 rejection by computing worst-case slippage price
  crates/adapters/dydx/src/common/instrument_cache.rs
  crates/adapters/dydx/src/execution/order_builder.rs
  crates/adapters/dydx/src/grpc/order.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Ichimoku Cloud indicator (#3552)
  crates/indicators/src/momentum/ichimoku.rs
  crates/indicators/src/momentum/mod.rs
  crates/indicators/src/python/mod.rs
  crates/indicators/src/python/momentum/ichimoku.rs
  crates/indicators/src/python/momentum/mod.rs
  nautilus_trader/indicators/__init__.py
  nautilus_trader/indicators/trend.pxd
  nautilus_trader/indicators/trend.pyx
  tests/unit_tests/indicators/test_ichimoku.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix IB contract for ESTX50 IND contract (#3556)
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
Due: check-non-latin-text

Fix dYdX market order execution: fills-before-orders, fill correlation, and IOC
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/grpc/order.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/messages.rs
  crates/adapters/dydx/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor dYdX v4 execution client (#3557)
  crates/adapters/dydx/src/common/instrument_cache.rs
  crates/adapters/dydx/src/error.rs
  crates/adapters/dydx/src/execution/broadcaster.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/order_builder.rs
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/execution/tx_manager.rs
  crates/adapters/dydx/src/grpc/order.rs
  crates/adapters/dydx/src/python/encoder.rs
  crates/adapters/dydx/src/python/websocket.rs
  crates/adapters/dydx/src/websocket/client.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/messages.rs
  crates/adapters/dydx/src/websocket/parse.rs
  nautilus_trader/adapters/dydx_v4/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Ichimoku Cloud indicator
  crates/indicators/src/momentum/ichimoku.rs
  nautilus_trader/indicators/trend.pxd
  nautilus_trader/indicators/trend.pyx
  tests/unit_tests/indicators/test_ichimoku.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/matching.rs
  crates/core/src/uuid.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/models/fill.rs
  crates/network/src/backoff.rs
  crates/testkit/src/files.rs
  deny.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Polymarket cancel-rejection loop for done orders
  RELEASES.md
  nautilus_trader/adapters/polymarket/common/constants.py
  nautilus_trader/adapters/polymarket/execution.py
  tests/integration_tests/adapters/polymarket/test_execution.py
Due: check-non-latin-text

Improve bar aggregation implementation and documentation
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/typed_router.rs
  crates/data/src/aggregation.rs
  crates/data/src/engine/config.rs
  crates/data/src/engine/mod.rs
  crates/model/src/data/bar.rs
  docs/concepts/data.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Hyperliquid adapter
  crates/adapters/hyperliquid/examples/node_data_tester.rs
  crates/adapters/hyperliquid/src/common/converters.rs
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/hyperliquid/src/python/enums.rs
  crates/adapters/hyperliquid/src/python/mod.rs
  docs/integrations/hyperliquid.md
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Continue Architect AX adapter
  crates/adapters/architect_ax/examples/node_data_tester.rs
  crates/adapters/architect_ax/src/data.rs
  crates/adapters/architect_ax/src/http/client.rs
  crates/adapters/architect_ax/src/http/parse.rs
  crates/adapters/architect_ax/src/python/http.rs
  crates/adapters/architect_ax/test_data/http_get_funding_rates.json
  crates/common/src/cache/mod.rs
  crates/data/src/engine/mod.rs
  crates/testkit/src/testers/data.rs
  examples/live/architect_ax/ax_data_tester.py
  nautilus_trader/adapters/architect_ax/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/test_kit/strategies/tester_data.py
  tests/unit_tests/test_kit/test_data_tester.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine dYdX adapter
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/python/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix cache loading with flush_on_start set to True
  RELEASES.md
Due: check-non-latin-text

Refine Binance adapter migration and documentation
  RELEASES.md
  docs/integrations/binance.md
  examples/live/binance/binance_futures_demo_exec_tester.py
  examples/live/binance/binance_futures_testnet_exec_tester.py
  examples/live/binance/binance_spot_and_futures_market_maker.py
  examples/live/binance/binance_spot_demo_exec_tester.py
  examples/live/binance/binance_spot_ema_cross.py
  examples/live/binance/binance_spot_ema_cross_bracket_algo.py
  examples/live/binance/binance_spot_testnet_exec_tester.py
  nautilus_trader/adapters/binance/common/schemas/user.py
  nautilus_trader/adapters/binance/config.py
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/binance/futures/schemas/user.py
  nautilus_trader/adapters/binance/http/user.py
  nautilus_trader/adapters/binance/spot/schemas/user.py
  nautilus_trader/adapters/binance/websocket/user.py
  tests/integration_tests/adapters/binance/test_execution_handlers.py
Due: check-non-latin-text

Continue Architect AX adapter
  crates/adapters/architect_ax/bin/ws_data.rs
  crates/adapters/architect_ax/bin/ws_data_capture.rs
  crates/adapters/architect_ax/src/common/enums.rs
  crates/adapters/architect_ax/src/common/parse.rs
  crates/adapters/architect_ax/src/data.rs
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/architect_ax/src/http/client.rs
  crates/adapters/architect_ax/src/python/http.rs
  crates/adapters/architect_ax/src/python/websocket.rs
  crates/adapters/architect_ax/src/websocket/data/client.rs
  crates/adapters/architect_ax/src/websocket/data/handler.rs
  crates/adapters/architect_ax/tests/data_client.rs
  crates/adapters/architect_ax/tests/websocket.rs
  examples/live/architect_ax/ax_data_tester.py
  nautilus_trader/adapters/architect_ax/data.py
  nautilus_trader/adapters/architect_ax/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix parsing options for Stoxx50 with Interactive Brokers
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
Due: check-non-latin-text

Fix pre-commit
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
Due: check-non-latin-text

Proper cancelling of inflight orders.
  nautilus_trader/adapters/polymarket/schemas/user.py
  nautilus_trader/trading/strategy.pyx
Due: check-non-latin-text

Fix GreeksCalculator to use index price for index instruments (#3541)
  RELEASES.md
  nautilus_trader/model/greeks.pyx
Due: check-non-latin-text

Fix itm_prob calculation to use N(d2) instead of normalized delta (#3554)
  RELEASES.md
  crates/model/src/data/black_scholes.rs
  crates/model/src/data/greeks.rs
  crates/model/src/python/data/greeks.rs
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/model/greeks.pyx
  tests/unit_tests/risk/test_greeks_pyo3.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix parsing options for Stoxx50 with Interactive Brokers (#3562)
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
Due: check-non-latin-text

Update dependencies and release notes
  .supply-chain/config.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix Redis cache flush no-op and harden close lifecycle
  RELEASES.md
  crates/infrastructure/src/redis/cache.rs
  crates/infrastructure/src/redis/msgbus.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix broken intra-doc links and restore cargo-doc hook
  .pre-commit-config.yaml
  crates/adapters/dydx/src/execution/tx_manager.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add NASDAQ ITCH 5.0 parser and test dataset standards
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/testkit/Cargo.toml
  crates/testkit/src/itch/mod.rs
  crates/testkit/src/itch/parse.rs
  crates/testkit/src/lib.rs
  docs/developer_guide/index.md
  docs/developer_guide/test_datasets.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve BitMEX adapter execution and reconciliation
  Cargo.lock
  crates/adapters/bitmex/Cargo.toml
  crates/adapters/bitmex/examples/node_data_tester.rs
  crates/adapters/bitmex/examples/node_exec_tester.rs
  crates/adapters/bitmex/src/data.rs
  crates/adapters/bitmex/src/execution.rs
  crates/adapters/bitmex/src/factories.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/lib.rs
  crates/adapters/bitmex/src/python/http.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/bitmex/tests/websocket.rs
  crates/common/src/messages/execution/report.rs
  crates/live/src/manager.rs
  crates/testkit/src/testers/exec.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Continue Architect AX adapter
  Cargo.lock
  crates/adapters/architect_ax/Cargo.toml
  crates/adapters/architect_ax/benches/deserialization.rs
  crates/adapters/architect_ax/benches/parsing.rs
  crates/adapters/architect_ax/bin/ws_data_capture.rs
  crates/adapters/architect_ax/src/common/enums.rs
  crates/adapters/architect_ax/src/common/parse.rs
  crates/adapters/architect_ax/src/http/models.rs
  crates/adapters/architect_ax/src/http/parse.rs
  crates/adapters/architect_ax/src/websocket/data/handler.rs
  crates/adapters/architect_ax/src/websocket/data/parse.rs
  crates/adapters/architect_ax/src/websocket/messages.rs
  crates/adapters/architect_ax/src/websocket/mod.rs
  crates/adapters/architect_ax/src/websocket/orders/client.rs
  crates/adapters/architect_ax/src/websocket/orders/handler.rs
  crates/adapters/architect_ax/src/websocket/parse.rs
  crates/adapters/architect_ax/test_data/http_authenticate.json
  crates/adapters/architect_ax/test_data/http_batch_cancel_orders.json
  crates/adapters/architect_ax/test_data/http_cancel_all_orders.json
  crates/adapters/architect_ax/test_data/http_cancel_order.json
  crates/adapters/architect_ax/test_data/http_get_candle.json
  crates/adapters/architect_ax/test_data/http_get_candles.json
  crates/adapters/architect_ax/test_data/http_get_fills.json
  crates/adapters/architect_ax/test_data/http_get_open_orders.json
  crates/adapters/architect_ax/test_data/http_get_risk_snapshot.json
  crates/adapters/architect_ax/test_data/http_get_tickers.json
  crates/adapters/architect_ax/test_data/http_get_transactions.json
  crates/adapters/architect_ax/test_data/http_place_order.json
  crates/adapters/architect_ax/test_data/http_preview_aggressive_limit_order.json
  crates/adapters/architect_ax/test_data/ws_md_trade.json
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Continue Architect AX adapter
  .supply-chain/audits.toml
  Cargo.lock
  Cargo.toml
  crates/adapters/architect_ax/Cargo.toml
  crates/adapters/architect_ax/README.md
  crates/adapters/architect_ax/bin/ws_data.rs
  crates/adapters/architect_ax/bin/ws_orders.rs
  crates/adapters/architect_ax/examples/node_exec_tester.rs
  crates/adapters/architect_ax/src/config.rs
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/architect_ax/src/http/client.rs
  crates/adapters/architect_ax/src/http/models.rs
  docs/integrations/architect_ax.md
  nautilus_trader/adapters/architect_ax/config.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement backtest engine in Rust
  Cargo.lock
  crates/adapters/sandbox/src/config.rs
  crates/backtest/Cargo.toml
  crates/backtest/src/config.rs
  crates/backtest/src/data_client.rs
  crates/backtest/src/data_iterator.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/execution_client.rs
  crates/backtest/tests/backtest_engine.rs
  crates/common/src/actor/tests.rs
  crates/common/src/msgbus/stubs.rs
  crates/common/src/runner.rs
  crates/execution/src/matching_engine/config.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
  crates/risk/src/engine/mod.rs
  crates/risk/tests/risk_engine.rs
  crates/system/src/kernel.rs
  crates/system/src/trader.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine parsing of alternative option symbol format in IB adapter
  examples/live/interactive_brokers/notebooks/with_databento_instrument_id_example.py
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
Due: check-non-latin-text

Add TotalCashValue to IB account summary info dict
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/execution.py
  tests/integration_tests/adapters/interactive_brokers/resources/responses/account_values.json
Due: check-non-latin-text

Refine IB parsing of alternative option symbol format (#3564)
  examples/live/interactive_brokers/notebooks/with_databento_instrument_id_example.py
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
Due: check-non-latin-text
