Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

fix: harden hyperliquid reconnect recovery
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/consts.rs
  docs/plans/2026-03-12-equities-live-trading-readiness.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

docs: tighten MakerV3 bounded convergence plan
  docs/plans/2026-03-12-makerv3-deep-ladder-bounded-convergence.md
Due: check-non-latin-text

test: lock MakerV3 bounded convergence behavior
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_order_safety.py
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
Due: check-non-latin-text

test: tighten MakerV3 Task 1 spec lock
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
Due: check-non-latin-text

feat: add bounded convergence planner for MakerV3 ladders
  systems/flux/flux/strategies/makerv3/rebalancing.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
Due: check-non-latin-text

fix: tighten bounded convergence planner invariants
  systems/flux/flux/strategies/makerv3/rebalancing.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
Due: check-non-latin-text

fix: separate keep-policy and budget diagnostics
  systems/flux/flux/strategies/makerv3/rebalancing.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
Due: check-non-latin-text

fix: prioritize aggressive replacements in bounded planner
  systems/flux/flux/strategies/makerv3/rebalancing.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
Due: check-non-latin-text

feat: bound MakerV3 ladder convergence by venue-safe budgets
  systems/flux/flux/common/params.py
  systems/flux/flux/strategies/makerv3/quote_engine.py
  systems/flux/flux/strategies/makerv3/runtime_params.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
  tests/unit_tests/flux/strategies/makerv3/test_runtime_params.py
Due: check-non-latin-text

fix: harden MakerV3 cancel lifecycle and state export
  docs/plans/2026-03-12-makerv3-deep-ladder-bounded-convergence.md
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/flux/strategies/makerv3/test_order_safety.py
Due: check-non-latin-text

feat: roll out bounded convergence for tokenmm perps
  deploy/tokenmm/strategies/plumeusdt_bitget_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_okx_perp_makerv3.toml
  docs/plans/2026-03-12-makerv3-deep-ladder-bounded-convergence.md
  docs/runbooks/tokenmm-makerv3-bounded-convergence-rollout.md
  systems/flux/flux/strategies/makerv3/quote_engine.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
  tests/unit_tests/flux/strategies/makerv3/test_observability_and_exports.py
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

backtest: fix pre-commit assertion phrasing and clippy format args
  crates/backtest/tests/backtest_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

refactor(fluxboard): hide ladder pacing params behind advanced mode
  fluxboard/Params.tsx
  fluxboard/__tests__/api.test.ts
  fluxboard/__tests__/components/ParamsProfileColumns.test.tsx
  fluxboard/api.ts
  fluxboard/types.ts
  systems/flux/flux/common/params.py
  tests/unit_tests/flux/common/test_params.py
Due: check-non-latin-text

Enrich Polymarket Gamma models and query params
  crates/adapters/polymarket/src/http/models.rs
  crates/adapters/polymarket/src/http/parse.rs
  crates/adapters/polymarket/src/http/query.rs
  crates/adapters/polymarket/test_data/gamma_event.json
  crates/adapters/polymarket/test_data/gamma_market.json
  crates/adapters/polymarket/test_data/gamma_tags.json
  crates/adapters/polymarket/test_data/search_response.json
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket instrument filter system
  crates/adapters/polymarket/src/filters.rs
  crates/adapters/polymarket/src/lib.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Gamma events, tags, and search HTTP endpoints
  crates/adapters/polymarket/src/http/gamma.rs
  crates/adapters/polymarket/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix PredicateFilter::not_expired to use caller-provided UnixNanos instead of chrono wall clock
  crates/adapters/polymarket/src/filters.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket example binaries
  crates/adapters/polymarket/Cargo.toml
  crates/adapters/polymarket/bin/composite_filter.rs
  crates/adapters/polymarket/bin/event_discovery.rs
  crates/adapters/polymarket/bin/search_markets.rs
  crates/adapters/polymarket/bin/trending_markets.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add smart provider load methods and data loader
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/execution/mod.rs
  crates/adapters/polymarket/src/lib.rs
  crates/adapters/polymarket/src/loader.rs
  crates/adapters/polymarket/src/providers.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove PolymarketDataLoader, unify into provider
  crates/adapters/polymarket/bin/event_discovery.rs
  crates/adapters/polymarket/bin/search_markets.rs
  crates/adapters/polymarket/src/lib.rs
  crates/adapters/polymarket/src/loader.rs
  crates/adapters/polymarket/src/providers.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Extract parse_markets_to_instruments helper to deduplicate parsing loop
  crates/adapters/polymarket/src/http/gamma.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Replace CompositeFilter with Vec<Box<dyn InstrumentFilter>> on provider
  crates/adapters/polymarket/bin/composite_filter.rs
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/execution/mod.rs
  crates/adapters/polymarket/src/filters.rs
  crates/adapters/polymarket/src/providers.rs
  crates/adapters/polymarket/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(hyperliquid): stabilize maker startup and reconnects
  crates/adapters/hyperliquid/src/common/consts.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
  crates/adapters/hyperliquid/tests/websocket.rs
  crates/network/src/lib.rs
  crates/network/src/python/websocket.rs
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/types.rs
  deploy/equities/strategies/aapl_tradexyz_makerv3.toml
  deploy/equities/strategies/aapl_tradexyz_makerv4.toml.disabled
  deploy/equities/strategies/amd_tradexyz_makerv3.toml
  deploy/equities/strategies/amzn_tradexyz_makerv3.toml
  deploy/equities/strategies/baba_tradexyz_makerv3.toml
  deploy/equities/strategies/coin_tradexyz_makerv3.toml
  deploy/equities/strategies/crcl_tradexyz_makerv3.toml
  deploy/equities/strategies/crwv_tradexyz_makerv3.toml
  deploy/equities/strategies/equities.strategy.template.toml
  deploy/equities/strategies/googl_tradexyz_makerv3.toml
  deploy/equities/strategies/hood_tradexyz_makerv3.toml
  deploy/equities/strategies/hyundai_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/intc_tradexyz_makerv3.toml
  deploy/equities/strategies/meta_tradexyz_makerv3.toml
  deploy/equities/strategies/msft_tradexyz_makerv3.toml
  deploy/equities/strategies/mstr_tradexyz_makerv3.toml
  deploy/equities/strategies/mu_tradexyz_makerv3.toml
  deploy/equities/strategies/nflx_tradexyz_makerv3.toml
  deploy/equities/strategies/nvda_tradexyz_makerv3.toml
  deploy/equities/strategies/orcl_tradexyz_makerv3.toml
  deploy/equities/strategies/pltr_tradexyz_makerv3.toml
  deploy/equities/strategies/rivn_tradexyz_makerv3.toml
  deploy/equities/strategies/sndk_tradexyz_makerv3.toml
  deploy/equities/strategies/tsla_tradexyz_makerv3.toml
  deploy/equities/strategies/tsm_tradexyz_makerv3.toml
  deploy/equities/strategies/usar_tradexyz_makerv3.toml
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(equities): honor execution opt-in in systemd deploy
  docs/plans/2026-03-12-equities-live-trading-readiness.md
  ops/scripts/deploy/install_equities_systemd.sh
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
Due: check-non-latin-text

initial subscribe request is different from later update requests
  crates/adapters/polymarket/src/websocket/handler.rs
  crates/adapters/polymarket/src/websocket/messages.rs
  crates/adapters/polymarket/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix IB adapter shared historical request dedup for concurrent warmup
  nautilus_trader/adapters/interactive_brokers/client/market_data.py
  nautilus_trader/adapters/interactive_brokers/data.py
Due: check-non-latin-text

Add test for shared historical bars request await behavior
  tests/integration_tests/adapters/interactive_brokers/client/test_client_market_data.py
Due: check-non-latin-text

Fix test docstring style for ruff D401 and docformatter
  tests/integration_tests/adapters/interactive_brokers/client/test_client_market_data.py
Due: check-non-latin-text

fix(makerv3): tighten bounded convergence safety
  docs/runbooks/tokenmm-makerv3-bounded-convergence-rollout.md
  systems/flux/flux/strategies/makerv3/quote_engine.py
  systems/flux/flux/strategies/makerv3/rebalancing.py
  systems/flux/flux/strategies/makerv3/strategy.py
  tests/unit_tests/flux/strategies/makerv3/test_quote_engine.py
  tests/unit_tests/flux/strategies/makerv3/test_rebalancing.py
Due: check-non-latin-text

ops(tokenmm): allow startup recovery for okx and bitget perps
  deploy/tokenmm/strategies/plumeusdt_bitget_perp_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_okx_perp_makerv3.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(tokenmm): label spot balance positions correctly
  ops/scripts/tokenmm_risk_audit.py
  systems/flux/flux/api/_payloads_common.py
  tests/unit_tests/examples/strategies/test_tokenmm_risk_audit_logic.py
  tests/unit_tests/flux/api/test_payloads.py
Due: check-non-latin-text

fix(flux-api): prefer contract type over stale product labels
  systems/flux/flux/api/_payloads_common.py
  tests/unit_tests/flux/api/test_payloads.py
Due: check-non-latin-text

ops(tokenmm): make spot pacing defaults explicit
  deploy/tokenmm/strategies/plumeusdt_bitget_spot_makerv3.toml
  deploy/tokenmm/strategies/plumeusdt_bybit_spot_makerv3.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Skip CI docs tutorials with TestDataProvider
  tests/docs_tests/test_tutorials.py
Due: check-non-latin-text

ops(tokenmm): keep bybit perp startup recovery enabled
  deploy/tokenmm/strategies/plumeusdt_bybit_perp_makerv3.toml
  tests/unit_tests/examples/strategies/test_tokenmm_stack_contract.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(hyperliquid): harden reconnect validation and replay
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/tests/websocket.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

feat(equities): prune live basket and harden readiness
  deploy/equities/README.md
  deploy/equities/equities.live.toml
  deploy/equities/strategies/README.md
  deploy/equities/strategies/baba_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/coin_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/crcl_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/crwv_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/hood_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/intc_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/mstr_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/mu_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/nflx_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/rivn_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/sndk_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/tsm_tradexyz_makerv3.toml.disabled
  deploy/equities/strategies/usar_tradexyz_makerv3.toml.disabled
  deploy/equities/systemd/flux-equities.target
  deploy/equities/systemd/flux-pulse.sudoers
  docs/plans/2026-03-13-equities-prod-hardening-universe-pruning.md
  ops/scripts/deploy/check_equities_live_readiness.sh
  systems/flux/flux/common/params.py
  systems/flux/flux/runners/equities/readiness.py
  systems/flux/flux/runners/equities/run_api.py
  systems/flux/flux/runners/equities/run_node.py
  tests/unit_tests/examples/strategies/test_equities_readiness.py
  tests/unit_tests/examples/strategies/test_equities_run_api.py
  tests/unit_tests/examples/strategies/test_equities_run_node.py
  tests/unit_tests/examples/strategies/test_equities_stack_contract.py
  tests/unit_tests/flux/common/test_params.py
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(equities): surface hyperliquid xyz account state
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/tests/exec_client.rs
  docs/plans/2026-03-13-hyperliquid-xyz-account-surface.md
  fluxboard/Balances.test.tsx
  fluxboard/Balances.tsx
  fluxboard/api.flux.test.ts
  fluxboard/api.ts
  fluxboard/stores.ts
  fluxboard/types.ts
  systems/flux/flux/api/_payloads_common.py
  systems/flux/flux/api/app.py
  systems/flux/flux/common/account_projection.py
  systems/flux/flux/common/portfolio_snapshot.py
  systems/flux/flux/runners/shared/portfolio_runner.py
  systems/flux/flux/runners/shared/profile_accounts.py
  tests/unit_tests/examples/strategies/test_equities_run_portfolio.py
  tests/unit_tests/flux/api/test_app.py
  tests/unit_tests/flux/api/test_equities_profile_contract.py
  tests/unit_tests/flux/common/test_account_projection.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

chore(equities): retire pruned strategy manifests
  deploy/equities/strategies/baba_tradexyz_makerv3.toml
  deploy/equities/strategies/coin_tradexyz_makerv3.toml
  deploy/equities/strategies/crcl_tradexyz_makerv3.toml
  deploy/equities/strategies/crwv_tradexyz_makerv3.toml
  deploy/equities/strategies/hood_tradexyz_makerv3.toml
  deploy/equities/strategies/intc_tradexyz_makerv3.toml
  deploy/equities/strategies/mstr_tradexyz_makerv3.toml
  deploy/equities/strategies/mu_tradexyz_makerv3.toml
  deploy/equities/strategies/nflx_tradexyz_makerv3.toml
  deploy/equities/strategies/rivn_tradexyz_makerv3.toml
  deploy/equities/strategies/sndk_tradexyz_makerv3.toml
  deploy/equities/strategies/tsm_tradexyz_makerv3.toml
  deploy/equities/strategies/usar_tradexyz_makerv3.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc
