Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Fix broken links in docs
  docs/getting_started/index.md
  docs/integrations/index.md
Due: none

Fixed test cases.
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/parquet.rs
  crates/persistence/tests/test_catalog.rs
Due: fmt, cargo-clippy, cargo-doc

Remove account from az:// paths.
  crates/persistence/src/backend/catalog.rs
Due: fmt, cargo-clippy, cargo-doc

Add azure support for az protocol (#3102)
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/session.rs
  crates/persistence/src/parquet.rs
  crates/persistence/tests/test_catalog.rs
  docs/concepts/data.md
  nautilus_trader/persistence/catalog/parquet.py
Due: fmt, cargo-clippy, cargo-doc

2025/10/21, Fix tests.
  nautilus_trader/backtest/engine.pxd
Due: none

Fix Binance price_match order price synchronization
  RELEASES.md
  docs/integrations/binance.md
  nautilus_trader/adapters/binance/futures/schemas/user.py
  nautilus_trader/adapters/binance/spot/schemas/user.py
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_futures_order_update_new_limit_if_touched_price_match.json
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_futures_order_update_new_price_match.json
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_futures_order_update_new_stop_limit_price_match.json
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_spot_execution_report_new_limit_if_touched_price_match.json
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_spot_execution_report_new_price_match.json
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_spot_execution_report_new_stop_limit_price_match.json
  tests/integration_tests/adapters/binance/test_execution_handlers.py
Due: none

Revert Hyperliquid ALO typo fix
  crates/adapters/hyperliquid/src/common/consts.rs
Due: fmt, cargo-clippy, cargo-doc

Fix test
  tests/unit_tests/model/test_events_pyo3.py
Due: none

Fix OKX parsing for instruments multiplier field
  RELEASES.md
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/parse.rs
  crates/adapters/okx/tests/http.rs
  crates/adapters/okx/tests/websocket.rs
  examples/live/okx/okx_data_tester.py
Due: fmt, cargo-clippy, cargo-doc

Fix Actor logger None check in executor and lifecycle methods
  nautilus_trader/common/actor.pyx
Due: none

Fix Databento MBO Clear actions and improve docs
  RELEASES.md
  crates/adapters/databento/src/decode.rs
  docs/integrations/databento.md
Due: fmt, cargo-clippy, cargo-doc

Reduce ActorExecutor logging from info to debug
  nautilus_trader/common/executor.py
Due: none

Fix Databento MBO decoder to filter NoOrderSide updates
  crates/adapters/databento/src/decode.rs
Due: fmt, cargo-clippy, cargo-doc

Improve OKX instrument multiplier parsing
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/tardis/src/enums.rs
  crates/adapters/tardis/src/python/enums.rs
  crates/adapters/tardis/src/python/mod.rs
  docs/integrations/okx.md
Due: fmt, cargo-clippy, cargo-doc

Improve Tardis instrument provider to filter options by default
  RELEASES.md
  docs/integrations/tardis.md
  nautilus_trader/adapters/tardis/providers.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/tardis/sandbox/instrument_provider.py
Due: none

Improve OKX fill quantity calculation for partial fill
  crates/adapters/okx/benches/ws_orders_iai.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/parse.rs
Due: fmt, cargo-clippy, cargo-doc

Change validation check from ASCII to UTF-8
  crates/model/src/identifiers/position_id.rs
Due: fmt, cargo-clippy, cargo-doc

Fix pre-commit
  crates/execution/src/matching_engine/tests.rs
  crates/execution/src/protection.rs
  poetry.lock
Due: fmt, cargo-clippy, cargo-doc

Change PositionId validation check from ASCII to UTF-8 (#3105)
  crates/model/src/identifiers/position_id.rs
Due: fmt, cargo-clippy, cargo-doc

Update pull request template
  .github/pull_request_template.md
Due: none

Refine ActorExecutor logging
  nautilus_trader/common/actor.pyx
  nautilus_trader/common/executor.py
Due: none

Update dependencies including cbindgen
  Cargo.lock
  Cargo.toml
  RELEASES.md
  nautilus_trader/core/includes/backtest.h
  nautilus_trader/core/includes/common.h
  nautilus_trader/core/includes/core.h
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/rust/common.pxd
  nautilus_trader/core/rust/model.pxd
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix race condition in account registration during startup
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/binance/futures/execution.py
  nautilus_trader/adapters/binance/spot/execution.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/adapters/bybit/execution.py
  nautilus_trader/adapters/coinbase_intx/execution.py
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/adapters/polymarket/execution.py
  nautilus_trader/live/execution_client.py
  tests/integration_tests/adapters/binance/test_execution_futures.py
  tests/integration_tests/adapters/okx/test_execution.py
Due: none

Improve price_to_order_id hashing for L2 books
  crates/model/src/orderbook/aggregation.rs
  tests/unit_tests/model/test_orderbook.py
Due: fmt, cargo-clippy, cargo-doc

Upgrade databento crate
  Cargo.lock
  Cargo.toml
  RELEASES.md
  nautilus_trader/core/includes/backtest.h
  nautilus_trader/core/includes/common.h
  nautilus_trader/core/includes/core.h
  nautilus_trader/core/includes/model.h
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Improve order book handling of NoOrderSide deltas
  RELEASES.md
  crates/adapters/databento/src/decode.rs
  crates/backtest/src/exchange.rs
  crates/data/src/engine/book.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/matching_engine/tests.rs
  crates/model/benches/book_iai.rs
  crates/model/src/ffi/orderbook/book.rs
  crates/model/src/orderbook/book.rs
  crates/model/src/orderbook/error.rs
  crates/model/src/orderbook/tests.rs
  crates/model/src/python/orderbook/book.rs
  tests/unit_tests/model/test_orderbook.py
Due: fmt, cargo-clippy, cargo-doc

Fix orderbook test for cross-platform hash values
  tests/unit_tests/model/test_orderbook.py
Due: none

Refactor accounts and margin handling in Rust
  crates/backtest/src/exchange.rs
  crates/model/src/accounts/margin.rs
  crates/model/src/python/account/margin.rs
  crates/portfolio/src/manager.rs
Due: fmt, cargo-clippy, cargo-doc

Refine execution client await_account_registered
  nautilus_trader/live/execution_client.py
Due: none

Refine ensure_file_exists function and tests
  crates/testkit/src/files.rs
Due: fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Upgrade Cython
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Standardize error variable naming conventions
  .pre-commit-config.yaml
  .pre-commit-hooks/check_error_conventions.sh
  build.py
  crates/adapters/bitmex/src/data/mod.rs
  crates/adapters/bitmex/src/execution/mod.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/blockchain/src/contracts/erc20.rs
  crates/adapters/blockchain/src/rpc/core.rs
  crates/adapters/bybit/bin/ws_data.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/bybit/tests/http.rs
  crates/adapters/coinbase_intx/src/websocket/client.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/okx/src/data/mod.rs
  crates/adapters/okx/src/execution/mod.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/tests/http.rs
  crates/adapters/okx/tests/websocket.rs
  crates/data/src/engine/mod.rs
  crates/network/src/http.rs
  crates/network/src/python/websocket.rs
  crates/network/src/ratelimiter/clock.rs
  crates/network/src/ratelimiter/mod.rs
  crates/network/src/retry.rs
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/bitmex/data.py
  nautilus_trader/adapters/hyperliquid/providers.py
  nautilus_trader/adapters/okx/execution.py
  python/generate_stubs.py
  tests/integration_tests/adapters/betfair/conftest.py
  tests/integration_tests/infrastructure/test_cache_database_postgres.py
Due: fmt, cargo-clippy, cargo-doc

Add backtest example for databento CME simple quoter
  examples/backtest/databento_cme_quoter.py
  examples/sandbox/databento_cme_sandbox.py
  nautilus_trader/examples/strategies/simpler_quoter.py
  nautilus_trader/test_kit/providers.py
Due: none

Install ripgrep in CI and make hook graceful when missing
  .github/actions/common-setup/action.yml
  .pre-commit-hooks/check_error_conventions.sh
Due: none

Fix OKX spot margin quote quantity order handling
  RELEASES.md
  crates/adapters/okx/src/common/enums.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/models.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  examples/live/okx/okx_exec_tester.py
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/model/orders/base.pxd
  nautilus_trader/model/orders/base.pyx
  tests/integration_tests/adapters/okx/conftest.py
  tests/integration_tests/adapters/okx/test_execution.py
Due: fmt, cargo-clippy, cargo-doc

Fix error conventions hook for cross-platform compatibility
  .pre-commit-hooks/check_error_conventions.sh
Due: none

Update OKX integration guide
  docs/integrations/okx.md
  examples/live/okx/okx_exec_tester.py
Due: none

Standardize account state updates and connection sequencing
  docs/integrations/okx.md
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/adapters/bybit/execution.py
  nautilus_trader/adapters/coinbase_intx/execution.py
  nautilus_trader/adapters/okx/execution.py
  tests/integration_tests/adapters/bitmex/conftest.py
  tests/integration_tests/adapters/okx/conftest.py
Due: none
