Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

Add support for pandas 3.0
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add Betfair full-node execution smoke tests
  crates/adapters/betfair/Cargo.toml
  crates/adapters/betfair/tests/README.md
  crates/adapters/betfair/tests/harness/mod.rs
  crates/adapters/betfair/tests/node.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Drop leftover plugin cdylib smoke tests
  Makefile
  python/tests/unit/test_live_node_plugin.py
Due: check-non-latin-text

Add FeeModel runtime handle
  crates/adapters/sandbox/src/execution.rs
  crates/backtest/src/exchange.rs
  crates/execution/src/matching_engine/adapter.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/models/fee.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Blockchain pool-analysis exit-code and validation tests
  crates/adapters/blockchain/src/cache/mod.rs
  crates/cli/src/blockchain/analyze.rs
  crates/cli/tests/exit_code.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Blockchain Uniswap V3 SetFeeProtocol replay
  RELEASES.md
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/cache/rows.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/events/fee_protocol.rs
  crates/adapters/blockchain/src/events/mod.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/base/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/bsc/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/extended.rs
  crates/adapters/blockchain/src/exchanges/mod.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/mod.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/set_fee_protocol.rs
  crates/adapters/blockchain/test_data/uniswap_v3_set_fee_protocol_hypersync.json
  crates/adapters/blockchain/test_data/uniswap_v3_set_fee_protocol_rpc.json
  crates/backtest/src/defi/replay.rs
  crates/data/src/defi/engine.rs
  crates/model/src/defi/data/fee_protocol.rs
  crates/model/src/defi/data/mod.rs
  crates/model/src/defi/dex.rs
  crates/model/src/defi/mod.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/pool_analysis/tests.rs
  crates/model/src/defi/pool_identifier.rs
  crates/model/src/python/defi/data.rs
  crates/model/src/python/mod.rs
  docs/integrations/blockchain.md
  python/nautilus_trader/model/__init__.pyi
  schema/sql/tables.sql
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Blockchain capability-aware CLI help
  RELEASES.md
  crates/adapters/blockchain/src/exchanges/extended.rs
  crates/adapters/blockchain/src/exchanges/mod.rs
  crates/cli/src/bin/cli.rs
  crates/cli/src/blockchain/help.rs
  crates/cli/src/blockchain/mod.rs
  crates/cli/src/lib.rs
  crates/cli/src/opt.rs
  docs/integrations/blockchain.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Blockchain DEX event stream drain logging
  crates/adapters/blockchain/src/hypersync/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add FillModel runtime handle
  crates/adapters/sandbox/src/execution.rs
  crates/backtest/src/exchange.rs
  crates/execution/src/matching_engine/adapter.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/models/fill.rs
  crates/execution/tests/matching_engine.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and tool pins
  .cargo/audit.toml
  .docker/DockerfileUbuntu
  .docker/jupyterlab.dockerfile
  .docker/nautilus_trader.dockerfile
  .pre-commit-config.yaml
  .supply-chain/config.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/derive/fuzz/Cargo.lock
  crates/adapters/lighter/fuzz/Cargo.lock
  deny.toml
  pyproject.toml
  python/pyproject.toml
  python/uv.lock
  tools.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Refine Makefile CPU limits
  Makefile
Due: none

Add Databento venue_dataset_map config option
  RELEASES.md
  crates/adapters/databento/src/data.rs
  crates/adapters/databento/src/factories.rs
  crates/adapters/databento/src/loader.rs
  crates/adapters/databento/src/python/factories.rs
  crates/adapters/databento/tests/python.rs
  docs/integrations/databento.md
  docs/tutorials/assets/lighter_rwa_composite_mm/panel_d_session_clock.png
  docs/tutorials/assets/lighter_rwa_composite_mm/render_panels.py
  docs/tutorials/lighter_rwa_composite_mm.md
  python/nautilus_trader/adapters/databento/__init__.pyi
  python/tests/unit/adapters/databento/test_databento_factories.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Validate strategy and streaming config builders on build
  crates/system/src/config.rs
  crates/trading/src/examples/strategies/composite_market_maker/config.rs
  crates/trading/src/examples/strategies/delta_neutral_vol/config.rs
  crates/trading/src/examples/strategies/ema_cross/config.rs
  crates/trading/src/examples/strategies/grid_mm/config.rs
  crates/trading/src/examples/strategies/hurst_vpin_directional/config.rs
  crates/trading/src/python/strategy.rs
  crates/trading/src/strategy/config.rs
  python/tests/unit/trading/test_trading.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Blockchain Uniswap V3 protocol-fee balances
  RELEASES.md
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/cache/rows.rs
  crates/adapters/blockchain/src/contracts/uniswap_v3_pool.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/events/fee_protocol_collect.rs
  crates/adapters/blockchain/src/events/fee_protocol_update.rs
  crates/adapters/blockchain/src/events/mod.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/base/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/bsc/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/extended.rs
  crates/adapters/blockchain/src/exchanges/mod.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/fee_protocol_collect.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/fee_protocol_update.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/mod.rs
  crates/backtest/src/defi/replay.rs
  crates/data/src/defi/engine.rs
  crates/model/src/defi/data/fee_protocol_collect.rs
  crates/model/src/defi/data/fee_protocol_update.rs
  crates/model/src/defi/data/mod.rs
  crates/model/src/defi/dex.rs
  crates/model/src/defi/mod.rs
  crates/model/src/defi/pool_analysis/compare.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/pool_analysis/tests.rs
  crates/model/src/python/defi/data.rs
  crates/model/src/python/mod.rs
  docs/integrations/blockchain.md
  python/nautilus_trader/model/__init__.pyi
  schema/sql/tables.sql
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Validate portfolio and logging config builders on build
  crates/common/src/logging/config.rs
  crates/common/src/logging/writer.rs
  crates/common/src/python/logging.rs
  crates/portfolio/Cargo.toml
  crates/portfolio/src/config.rs
  crates/portfolio/src/python/mod.rs
  crates/portfolio/tests/portfolio.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix clippy lints
  crates/adapters/hyperliquid/bin/flatten.rs
  crates/infrastructure/src/redis/cache.rs
  crates/model/src/python/common.rs
  crates/persistence/src/backend/binary_heap.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add msgbus category encoding policy
  crates/common/src/live/listener.rs
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/backing.rs
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/message.rs
  crates/common/src/msgbus/mod.rs
  crates/common/src/python/msgbus.rs
  crates/infrastructure/src/redis/msgbus.rs
  crates/live/src/builder.rs
  crates/live/src/node.rs
  crates/system/src/builder.rs
  docs/concepts/message_bus.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add msgbus external republish decoding
  crates/common/src/msgbus/api.rs
  crates/infrastructure/src/redis/msgbus.rs
  docs/concepts/message_bus.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add msgbus streaming type gate
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/core.rs
  crates/data/src/engine/mod.rs
  crates/data/tests/engine.rs
  docs/concepts/message_bus.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add msgbus external stream tests
  crates/common/src/msgbus/core.rs
  crates/data/tests/engine.rs
  crates/infrastructure/src/redis/msgbus.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor msgbus external API surfaces
  Cargo.lock
  crates/backtest/src/config.rs
  crates/backtest/src/python/config.rs
  crates/common/src/live/listener.rs
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/backing.rs
  crates/common/src/msgbus/config.rs
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/message.rs
  crates/common/src/msgbus/mod.rs
  crates/common/src/python/mod.rs
  crates/common/src/python/msgbus.rs
  crates/data/src/engine/mod.rs
  crates/infrastructure/Cargo.toml
  crates/infrastructure/src/python/mod.rs
  crates/infrastructure/src/python/redis/mod.rs
  crates/infrastructure/src/python/redis/msgbus.rs
  crates/infrastructure/src/redis/mod.rs
  crates/infrastructure/src/redis/msgbus.rs
  crates/live/src/builder.rs
  crates/live/src/config.rs
  crates/live/src/node.rs
  crates/live/src/python/config.rs
  crates/system/src/builder.rs
  crates/system/src/config.rs
  docs/concepts/message_bus.md
  docs/how_to/configure_live_trading.md
  python/nautilus_trader/common/__init__.pyi
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Validate cache config builder on build
  crates/backtest/src/engine.rs
  crates/common/src/cache/config.rs
  crates/common/src/cache/tests.rs
  crates/common/src/python/cache.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Validate network config builders on build
  crates/network/src/error.rs
  crates/network/src/python/socket.rs
  crates/network/src/python/websocket.rs
  crates/network/src/socket/config.rs
  crates/network/src/websocket/config.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix DeFi pool profiler boundary swap replay
  RELEASES.md
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/pool_analysis/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add DeFi pool profiler stress tests
  crates/model/src/defi/pool_analysis/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Exempt tests.rs module files from DST checks
  .pre-commit-hooks/check_dst_conventions.sh
  crates/model/src/defi/pool_analysis/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix greeks actor example clippy lint
  crates/common/examples/greeks_actor_example.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor msgbus external stream modules
  crates/common/src/defi/msgbus.rs
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/external/codec/capnp.rs
  crates/common/src/msgbus/external/codec/capnp_unavailable.rs
  crates/common/src/msgbus/external/codec/json.rs
  crates/common/src/msgbus/external/codec/mod.rs
  crates/common/src/msgbus/external/codec/msgpack.rs
  crates/common/src/msgbus/external/codec/sbe.rs
  crates/common/src/msgbus/external/codec/sbe_unavailable.rs
  crates/common/src/msgbus/external/mod.rs
  crates/common/src/msgbus/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add live msgbus ingress receiver
  crates/live/src/builder.rs
  crates/live/src/config.rs
  crates/live/src/node.rs
  docs/concepts/message_bus.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add msgbus OptionGreeks binary codecs
  RELEASES.md
  crates/backtest/src/python/engine.rs
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/external/codec/capnp.rs
  crates/common/src/msgbus/external/codec/capnp_unavailable.rs
  crates/common/src/msgbus/external/codec/mod.rs
  crates/common/src/msgbus/external/codec/sbe.rs
  crates/common/src/msgbus/external/codec/sbe_unavailable.rs
  crates/common/src/msgbus/external/mod.rs
  crates/common/src/msgbus/message.rs
  crates/data/src/engine/mod.rs
  crates/model/src/data/mod.rs
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/feather.rs
  crates/persistence/src/python/backend/session.rs
  crates/persistence/src/python/catalog.rs
  crates/serialization/generated/capnp/common/enums_capnp.rs
  crates/serialization/generated/capnp/data/market_capnp.rs
  crates/serialization/schemas/capnp/common/enums.capnp
  crates/serialization/schemas/capnp/data/market.capnp
  crates/serialization/src/capnp/conversions.rs
  crates/serialization/src/sbe/market.rs
  crates/serialization/src/sbe/market/common.rs
  crates/serialization/src/sbe/market/data_any.rs
  crates/serialization/src/sbe/market/ticks.rs
  crates/serialization/tests/test_market_data_sbe.rs
  docs/concepts/message_bus.md
  python/nautilus_trader/persistence/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Prepare v2 2.0.0rc1 wheels across all supported platforms
  .github/workflows/build-v2.yml
  .gitignore
  crates/common/src/logging/headers.rs
  crates/core/src/python/version.rs
  python/nautilus_trader/__init__.py
  python/pyproject.toml
  python/uv.lock
  scripts/ci/publish-wheels-r2-remove-old-wheels.sh
  scripts/ci/smoke-test-v2-wheel.sh
  scripts/ci/update-pyproject-version.sh
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add v2 PyPI publishing on master
  .github/workflows/build-v2.yml
Due: check-non-latin-text

Add external msgbus factory wiring
  Cargo.lock
  RELEASES.md
  crates/common/src/msgbus/api.rs
  crates/common/src/msgbus/backing.rs
  crates/common/src/msgbus/core.rs
  crates/common/src/msgbus/mod.rs
  crates/infrastructure/Cargo.toml
  crates/infrastructure/src/redis/msgbus.rs
  crates/live/src/builder.rs
  crates/live/src/node.rs
  crates/system/src/builder.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor live crate module layout
  crates/live/src/execution/client.rs
  crates/live/src/execution/emitter.rs
  crates/live/src/execution/manager.rs
  crates/live/src/execution/mod.rs
  crates/live/src/lib.rs
  crates/live/src/node/builder.rs
  crates/live/src/node/config.rs
  crates/live/src/node/mod.rs
  crates/live/src/node/plugin.rs
  crates/live/src/node/state.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Prepare Binance adapter for CM-UM integration
  RELEASES.md
  crates/adapters/binance/src/common/consts.rs
  crates/adapters/binance/test_data/futures/market_data_json/agg_trade_stream.json
  crates/adapters/binance/test_data/futures/market_data_json/book_ticker_stream.json
  crates/adapters/binance/test_data/futures/market_data_json/depth_update_stream.json
  crates/adapters/binance/test_data/futures/market_data_json/mark_price_stream.json
  crates/adapters/binance/test_data/futures/market_data_json/ticker_stream.json
  crates/live/src/lib.rs
  docs/integrations/binance.md
  nautilus_trader/adapters/binance/factories.py
  nautilus_trader/adapters/binance/http/client.py
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_futures_book_ticker.json
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_futures_depth_update.json
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_futures_ticker_24hr.json
  tests/integration_tests/adapters/binance/resources/ws_messages/ws_spot_agg_trade.json
  tests/integration_tests/adapters/binance/test_parsing_ws.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

style(common): make clock ref-count clones explicit
  crates/common/src/clock.rs
  crates/common/src/python/clock.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine adapter retry logging
  crates/adapters/betfair/src/data.rs
  crates/adapters/betfair/src/http/client.rs
  crates/adapters/deribit/src/http/client.rs
  crates/adapters/deribit/src/http/error.rs
  crates/adapters/dydx/src/execution/broadcaster.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/error.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
