Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Improve Architect AX resilience and correctness
  README.md
  crates/adapters/architect_ax/README.md
  crates/adapters/architect_ax/src/common/enums.rs
  crates/adapters/architect_ax/src/common/parse.rs
  crates/adapters/architect_ax/src/data.rs
  crates/adapters/architect_ax/src/execution.rs
  crates/adapters/architect_ax/src/http/client.rs
  crates/adapters/architect_ax/src/http/models.rs
  crates/adapters/architect_ax/src/http/parse.rs
  crates/adapters/architect_ax/src/websocket/data/client.rs
  crates/adapters/architect_ax/src/websocket/data/handler.rs
  crates/adapters/architect_ax/src/websocket/data/parse.rs
  crates/adapters/architect_ax/src/websocket/orders/handler.rs
  docs/integrations/architect_ax.md
  docs/integrations/index.md
  examples/live/architect_ax/ax_data_tester.py
  examples/live/architect_ax/ax_exec_tester.py
  nautilus_trader/adapters/architect_ax/execution.py
  tests/integration_tests/adapters/architect_ax/conftest.py
  tests/integration_tests/adapters/architect_ax/test_enums.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Upgrade Rust
  Cargo.toml
  README.md
  RELEASES.md
  rust-toolchain.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix docsrs build errors
  crates/adapters/dydx/src/execution/encoder.rs
  crates/system/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Interactive Brokers bar unsubscribe and option exercise
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/execution.py
Due: check-non-latin-text

Ensure monotonicity of ts_init in convert_stream_to_data
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

Refactor GridMarketMaker with config builder and geometric grid
  crates/backtest/tests/grid_mm.rs
  crates/trading/src/examples/strategies/grid_mm.rs
  crates/trading/src/examples/strategies/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Handle benign cancel errors in dYdX broadcaster
  crates/adapters/dydx/src/error.rs
  crates/adapters/dydx/src/execution/broadcaster.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add dYdX grid market maker example
  Cargo.lock
  crates/adapters/dydx/Cargo.toml
  crates/adapters/dydx/examples/node_grid_mm.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add configurable request_timeout for Interactive Brokers adapter
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/client/account.py
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/common.py
  nautilus_trader/adapters/interactive_brokers/client/contract.py
  nautilus_trader/adapters/interactive_brokers/client/order.py
  nautilus_trader/adapters/interactive_brokers/config.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/factories.py
Due: check-non-latin-text

Improve ts_init monotonicity enforcement in convert_stream_to_data (#3600)
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

Improve GridMarketMaker strategy and dYdX cancel handling (#3601)
  Cargo.lock
  crates/adapters/dydx/Cargo.toml
  crates/adapters/dydx/examples/node_grid_mm.rs
  crates/adapters/dydx/src/error.rs
  crates/adapters/dydx/src/execution/broadcaster.rs
  crates/backtest/tests/grid_mm.rs
  crates/trading/src/examples/strategies/grid_mm.rs
  crates/trading/src/examples/strategies/mod.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Interactive Brokers configurable request_timeout to clients (#3602)
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/client/account.py
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/common.py
  nautilus_trader/adapters/interactive_brokers/client/contract.py
  nautilus_trader/adapters/interactive_brokers/client/order.py
  nautilus_trader/adapters/interactive_brokers/config.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/factories.py
Due: check-non-latin-text

Update dependencies and release notes
  .pre-commit-config.yaml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  RELEASES.md
  deny.toml
  uv-version
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Refine catalog persistence and enable stream writer tests
  Cargo.lock
  crates/common/src/python/cache.rs
  crates/common/src/python/clock.rs
  crates/common/src/python/mod.rs
  crates/core/src/python/params.rs
  crates/model/src/python/common.rs
  crates/persistence/Cargo.toml
  crates/persistence/src/backend/catalog.rs
  tests/unit_tests/persistence/test_streaming_pyo3.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix ts_init validation for single-row tables
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

Rename IB request_timeout to request_timeout_secs
  RELEASES.md
  nautilus_trader/adapters/interactive_brokers/client/account.py
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/common.py
  nautilus_trader/adapters/interactive_brokers/client/contract.py
  nautilus_trader/adapters/interactive_brokers/client/order.py
  nautilus_trader/adapters/interactive_brokers/config.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/factories.py
Due: check-non-latin-text

Improve GridMarketMaker cancel-resubmit loop
  Makefile
  crates/trading/src/examples/strategies/grid_mm.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve backtest crate correctness and standardization
  crates/backtest/src/accumulator.rs
  crates/backtest/src/config.rs
  crates/backtest/src/data_client.rs
  crates/backtest/src/data_iterator.rs
  crates/backtest/src/engine.rs
  crates/backtest/src/exchange.rs
  crates/backtest/src/execution_client.rs
  crates/backtest/src/modules/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add GridMarketMaker AAPL backtest acceptance tests
  Cargo.lock
  crates/backtest/Cargo.toml
  crates/backtest/tests/grid_mm_itch.rs
  crates/execution/src/matching_engine/engine.rs
  crates/testkit/Cargo.toml
  crates/testkit/src/common.rs
  crates/testkit/tests/orderbook_integration.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix nightly docs-features-check workflow
  .github/actions/common-setup/action.yml
  .github/actions/install-capnp/action.yml
  .github/workflows/nightly-docs-features-check.yml
Due: check-non-latin-text

Fix docsrs unused import errors in common FFI
  .github/workflows/nightly-docs-features-check.yml
  Makefile
  crates/common/src/ffi/clock.rs
  crates/common/src/ffi/timer.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve test data download checksum verification
  crates/testkit/src/files.rs
  docs/developer_guide/test_datasets.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add nextest large-data-tests serialization group
  .config/nextest.toml
  docs/developer_guide/test_datasets.md
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add idle timeout to Socket/WebSocket and Betfair heartbeat
  crates/adapters/architect_ax/src/websocket/data/client.rs
  crates/adapters/architect_ax/src/websocket/orders/client.rs
  crates/adapters/binance/src/futures/websocket/client.rs
  crates/adapters/binance/src/spot/websocket/streams/client.rs
  crates/adapters/binance/src/spot/websocket/trading/client.rs
  crates/adapters/bitmex/src/websocket/client.rs
  crates/adapters/blockchain/src/rpc/core.rs
  crates/adapters/bybit/src/websocket/client.rs
  crates/adapters/coinbase_intx/src/fix/client.rs
  crates/adapters/coinbase_intx/src/websocket/client.rs
  crates/adapters/deribit/src/websocket/client.rs
  crates/adapters/dydx/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/kraken/src/websocket/futures/client.rs
  crates/adapters/kraken/src/websocket/spot_v2/client.rs
  crates/adapters/okx/src/websocket/client.rs
  crates/network/src/python/socket.rs
  crates/network/src/python/websocket.rs
  crates/network/src/socket/client.rs
  crates/network/src/socket/config.rs
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/config.rs
  crates/network/tests/turmoil_socket.rs
  crates/network/tests/turmoil_websocket.rs
  examples/live/betfair/betfair.py
  nautilus_trader/adapters/betfair/config.py
  nautilus_trader/adapters/betfair/data.py
  nautilus_trader/adapters/betfair/execution.py
  nautilus_trader/adapters/betfair/sockets.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix missing idle_timeout_ms arg in WebSocket Python tests
  crates/network/src/python/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Betfair race stream subscription support
  RELEASES.md
  examples/live/betfair/betfair.py
  nautilus_trader/adapters/betfair/config.py
  nautilus_trader/adapters/betfair/data.py
  nautilus_trader/adapters/betfair/execution.py
  nautilus_trader/adapters/betfair/sockets.py
  tests/integration_tests/adapters/betfair/conftest.py
  tests/integration_tests/adapters/betfair/test_betfair_data.py
Due: check-non-latin-text

Improve Betfair network error handling for orders
  RELEASES.md
  crates/live/src/manager.rs
  crates/live/tests/manager.rs
  docs/concepts/live.md
  docs/integrations/betfair.md
  nautilus_trader/adapters/betfair/config.py
  nautilus_trader/adapters/betfair/execution.py
  nautilus_trader/live/execution_engine.py
  tests/integration_tests/adapters/betfair/test_betfair_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add trade consumption seeding for L2/L3 book backtests
  RELEASES.md
  crates/execution/src/matching_engine/engine.rs
  crates/execution/tests/matching_engine.rs
  crates/model/src/data/stubs.rs
  crates/model/src/ffi/orderbook/level.rs
  docs/concepts/backtesting.md
  nautilus_trader/backtest/engine.pxd
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/rust/model.pxd
  tests/unit_tests/backtest/test_matching_engine.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add execution testing spec and improve ExecTester
  crates/common/src/factories/order.rs
  crates/testkit/src/testers/exec.rs
  docs/developer_guide/adapters.md
  nautilus_trader/test_kit/strategies/tester_exec.py
  tests/unit_tests/test_kit/test_exec_tester.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Hyperliquid adapter standardization and correctness
  crates/adapters/hyperliquid/src/common/builder_fee.rs
  crates/adapters/hyperliquid/src/common/enums.rs
  crates/adapters/hyperliquid/src/common/mod.rs
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/http/rate_limits.rs
  crates/adapters/hyperliquid/src/signing/signers.rs
  crates/adapters/hyperliquid/src/websocket/client.rs
  crates/adapters/hyperliquid/src/websocket/enums.rs
  crates/adapters/hyperliquid/src/websocket/handler.rs
  crates/adapters/hyperliquid/src/websocket/messages.rs
  crates/adapters/hyperliquid/src/websocket/parse.rs
  crates/adapters/hyperliquid/src/websocket/post.rs
  docs/integrations/hyperliquid.md
  examples/live/hyperliquid/hyperliquid_exec_tester.py
  nautilus_trader/adapters/hyperliquid/config.py
  nautilus_trader/adapters/hyperliquid/data.py
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/adapters/hyperliquid/factories.py
  tests/integration_tests/adapters/hyperliquid/test_factories.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Deribit adapter standardization and correctness
  crates/adapters/deribit/bin/ws_data.rs
  crates/adapters/deribit/examples/node_data_tester.rs
  crates/adapters/deribit/src/data.rs
  crates/adapters/deribit/src/execution.rs
  crates/adapters/deribit/src/http/client.rs
  crates/adapters/deribit/src/http/models.rs
  crates/adapters/deribit/src/http/query.rs
  crates/adapters/deribit/src/python/websocket.rs
  crates/adapters/deribit/src/websocket/auth.rs
  crates/adapters/deribit/src/websocket/client.rs
  crates/adapters/deribit/src/websocket/enums.rs
  crates/adapters/deribit/src/websocket/error.rs
  crates/adapters/deribit/src/websocket/handler.rs
  crates/adapters/deribit/src/websocket/messages.rs
  crates/adapters/deribit/tests/http_public.rs
  crates/adapters/deribit/tests/websocket.rs
  docs/integrations/deribit.md
  examples/live/deribit/deribit_data_tester.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and improve supply-chain checks
  .cargo/audit.toml
  .pre-commit-config.yaml
  .supply-chain/config.toml
  .supply-chain/imports.lock
  Cargo.lock
  Cargo.toml
  Makefile
  RELEASES.md
  deny.toml
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix Deribit websocket test credentials for CI
  crates/adapters/deribit/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update examples and grid strategy tuning
  crates/adapters/dydx/examples/node_exec_tester.rs
  crates/adapters/dydx/examples/node_grid_mm.rs
  crates/trading/src/examples/strategies/grid_mm.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor cancel flows to use partitioned broadcast strategy
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/submitter.rs
  nautilus_trader/adapters/dydx_v4/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add gRPC rate limiting to prevent 429 errors
  crates/adapters/dydx/src/config.rs
  crates/adapters/dydx/src/execution/broadcaster.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/factories.rs
  crates/adapters/dydx/src/python/submitter.rs
  nautilus_trader/adapters/dydx_v4/config.py
  nautilus_trader/adapters/dydx_v4/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement query_account and query_order for dYdX adapter
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/src/http/parse.rs
  crates/adapters/dydx/src/python/http.rs
  nautilus_trader/adapters/dydx_v4/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix cancel race condition misclassifying short-term orders as long-term
  crates/adapters/dydx/src/execution/mod.rs
  nautilus_trader/adapters/dydx_v4/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
