Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Update cargo deny config for pyo3-stub-gen upgrade
  deny.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Upgrade pyo3
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/okx/src/python/websocket.rs
  crates/analysis/src/python/analyzer.rs
  crates/common/src/python/timer.rs
  crates/core/src/python/parsing.rs
  crates/core/src/python/uuid.rs
  crates/core/src/python/version.rs
  crates/live/src/python/node.rs
  crates/model/src/python/common.rs
  crates/model/src/python/data/deltas.rs
  crates/model/src/python/data/funding.rs
  crates/model/src/python/data/mod.rs
  crates/model/src/python/data/prices.rs
  crates/model/src/python/data/quote.rs
  crates/model/src/python/data/trade.rs
  crates/model/src/python/identifiers/instrument_id.rs
  crates/model/src/python/identifiers/symbol.rs
  crates/model/src/python/identifiers/trade_id.rs
  crates/model/src/python/macros.rs
  crates/network/src/python/mod.rs
  crates/pyo3/src/lib.rs
  crates/serialization/src/python/arrow.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Upgrade pyo3-stub-gen and post processing
  python/generate_stubs.py
  python/nautilus_trader/adapters/blockchain/__init__.pyi
  python/nautilus_trader/core/__init__.pyi
  python/nautilus_trader/infrastructure/__init__.pyi
  python/nautilus_trader/model/__init__.pyi
  python/pyproject.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix Polymarket maker fill order side inversion
  RELEASES.md
  nautilus_trader/adapters/polymarket/execution.py
  tests/integration_tests/adapters/polymarket/test_execution.py
Due: check-non-latin-text

Standardize Currency from string usage
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/coinbase_intx/src/common/parse.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/tardis/src/http/instruments.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve Bybit bar request interval parsing
  crates/adapters/bybit/src/common/enums.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/python/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve execution engine reconciliation robustness
  examples/live/okx/okx_spot_swap_quoter.py
  nautilus_trader/live/execution_engine.py
  nautilus_trader/test_kit/strategies/tester_exec.py
  tests/unit_tests/live/test_execution_engine.py
Due: check-non-latin-text

Refine pre-commit and tooling
  .lycheeignore
  .pre-commit-config.yaml
  Cargo.toml
  Makefile
  deny.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix broken links in docs
  README.md
  docs/concepts/live.md
  docs/concepts/logging.md
  docs/concepts/orders.md
  docs/concepts/portfolio.md
  docs/getting_started/backtest_high_level.ipynb
  docs/getting_started/backtest_low_level.ipynb
  docs/getting_started/quickstart.ipynb
  docs/integrations/ib.md
  docs/tutorials/backtest_binance_orderbook.ipynb
  docs/tutorials/backtest_bybit_orderbook.ipynb
  docs/tutorials/backtest_fx_bars.ipynb
  docs/tutorials/databento_data_catalog.ipynb
  python/README.md
Due: check-non-latin-text

Standardize adapters config parameters ordering
  crates/adapters/bitmex/src/config.rs
  crates/adapters/blockchain/src/config.rs
  crates/adapters/bybit/src/config.rs
  crates/adapters/hyperliquid/src/config.rs
  crates/adapters/okx/src/config.rs
  docs/integrations/bitmex.md
  nautilus_trader/adapters/bitmex/config.py
  nautilus_trader/adapters/bybit/config.py
  nautilus_trader/adapters/hyperliquid/config.py
  nautilus_trader/adapters/okx/config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize adapters proxy config logging
  crates/adapters/bitmex/src/data/mod.rs
  crates/adapters/bitmex/src/execution/mod.rs
  crates/adapters/blockchain/src/data/client.rs
  crates/adapters/hyperliquid/src/data/mod.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/okx/src/data/mod.rs
  crates/adapters/okx/src/execution/mod.rs
  nautilus_trader/adapters/bitmex/data.py
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/adapters/bybit/data.py
  nautilus_trader/adapters/bybit/execution.py
  nautilus_trader/adapters/hyperliquid/data.py
  nautilus_trader/adapters/hyperliquid/execution.py
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/adapters/okx/execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix DataFusion object store registration
  RELEASES.md
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/session.rs
  crates/persistence/tests/test_catalog.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize std trait imports
  crates/adapters/bitmex/src/execution/canceller.rs
  crates/adapters/bybit/src/common/enums.rs
  crates/model/src/data/funding.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Makefile and tooling
  Makefile
  uv-version
Due: none

Refine PolymarketDataLoader and backtest example
  .pre-commit-config.yaml
  docs/integrations/polymarket.md
  examples/backtest/polymarket_simple_quoter.py
  nautilus_trader/adapters/polymarket/common/parsing.py
  nautilus_trader/adapters/polymarket/loaders.py
  tests/integration_tests/adapters/polymarket/test_loaders.py
Due: check-non-latin-text

Standardize OKX HTTP client and adapter guide
  crates/adapters/bitmex/tests/http.rs
  crates/adapters/bybit/tests/http.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/http/query.rs
  crates/adapters/okx/src/python/http.rs
  crates/adapters/okx/tests/http.rs
  docs/developer_guide/adapters.md
  nautilus_trader/adapters/okx/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/okx/conftest.py
  tests/integration_tests/adapters/okx/test_spot_cash_position_reports.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine PolymarketDataLoader with static discovery methods
  docs/integrations/polymarket.md
  nautilus_trader/adapters/polymarket/loaders.py
  tests/integration_tests/adapters/polymarket/test_loaders.py
Due: check-non-latin-text

Revert "Fix DataFusion object store registration"
  RELEASES.md
  crates/persistence/src/backend/catalog.rs
  crates/persistence/src/backend/session.rs
  crates/persistence/tests/test_catalog.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update loaders.py to only parse index if parse_dates is True.
  nautilus_trader/persistence/loaders.py
Due: check-non-latin-text

Standardize Bybit HTTP client organization and conventions
  crates/adapters/bybit/bin/http.rs
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/python/http.rs
  crates/adapters/bybit/tests/http.rs
  crates/adapters/bybit/tests/pagination.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize BitMEX HTTP client organization and conventions
  crates/adapters/bitmex/src/execution/canceller.rs
  crates/adapters/bitmex/src/execution/submitter.rs
  crates/adapters/bitmex/src/http/client.rs
  crates/adapters/bitmex/src/python/http.rs
  crates/adapters/bitmex/tests/http.rs
  nautilus_trader/adapters/bitmex/execution.py
  nautilus_trader/core/nautilus_pyo3.pyi
  tests/integration_tests/adapters/bitmex/conftest.py
  tests/integration_tests/adapters/bitmex/test_execution.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize currency registration
  crates/adapters/bitmex/src/common/parse.rs
  crates/adapters/bitmex/src/http/parse.rs
  crates/adapters/bybit/src/common/parse.rs
  crates/adapters/coinbase_intx/src/common/parse.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/tardis/src/http/instruments.rs
  crates/model/src/types/currency.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Bybit enums for Python
  crates/adapters/bybit/src/common/enums.rs
  crates/adapters/bybit/src/python/enums.rs
  docs/integrations/bybit.md
  nautilus_trader/adapters/bybit/config.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix parse_dates parameter in CSV loaders (#3132)
  nautilus_trader/persistence/loaders.py
Due: check-non-latin-text

Refine Polymarket guide and backtest example
  docs/integrations/polymarket.md
  examples/backtest/polymarket_simple_quoter.py
Due: check-non-latin-text

Fix clippy lints
  crates/adapters/bybit/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies and release notes
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix Polymarket instrument provider market filtering
  RELEASES.md
  nautilus_trader/adapters/polymarket/providers.py
  tests/integration_tests/adapters/polymarket/test_providers.py
Due: check-non-latin-text

Fix OKX pre-open instrument parsing and standardize enum usage
  RELEASES.md
  crates/adapters/okx/src/common/parse.rs
  crates/adapters/okx/src/http/client.rs
  crates/adapters/okx/src/websocket/messages.rs
  crates/adapters/okx/src/websocket/parse.rs
  docs/developer_guide/adapters.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Reinstate cargo-doc in pre-commit and fix issues
  .pre-commit-config.yaml
  crates/adapters/bitmex/src/http/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add check-code make target
  Makefile
Due: none

Improve Bybit WebSocket channel matching and enums usage
  crates/adapters/bybit/src/websocket/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Makefile and ruff configs
  Makefile
  pyproject.toml
  python/pyproject.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Fix clippy lints in blockchain crate
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/cache/rows.rs
  crates/adapters/blockchain/src/cache/types.rs
  crates/adapters/blockchain/src/data/client.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/data/subscription.rs
  crates/adapters/blockchain/src/exchanges/extended.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/pool_created.rs
  crates/adapters/blockchain/src/hypersync/client.rs
  crates/adapters/bybit/tests/http.rs
  crates/adapters/bybit/tests/pagination.rs
  crates/cli/src/blockchain/analyze.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine Makefile and check-code target
  Makefile
Due: none

Cleanup instrument provider logging and example configs
  examples/live/binance/binance_futures_testnet_ema_cross.py
  examples/live/binance/binance_futures_testnet_exec_tester.py
  examples/live/binance/binance_spot_and_futures_market_maker.py
  examples/live/binance/binance_spot_ema_cross.py
  examples/live/binance/binance_spot_ema_cross_bracket_algo.py
  examples/live/binance/binance_spot_exec_tester.py
  examples/live/binance/binance_spot_testnet_exec_tester.py
  examples/live/bybit/bybit_data_tester.py
  examples/live/bybit/bybit_ema_cross.py
  examples/live/bybit/bybit_ema_cross_bracket_algo.py
  examples/live/bybit/bybit_ema_cross_stop_entry.py
  examples/live/bybit/bybit_ema_cross_with_trailing_stop.py
  examples/live/bybit/bybit_exec_tester.py
  examples/live/bybit/bybit_request_custom_endpoint.py
  examples/live/polymarket/polymarket_exec_tester.py
  nautilus_trader/adapters/bitmex/providers.py
  nautilus_trader/adapters/bybit/providers.py
  nautilus_trader/adapters/dydx/providers.py
  nautilus_trader/adapters/hyperliquid/providers.py
  nautilus_trader/adapters/okx/providers.py
Due: check-non-latin-text

feat(dydx): improve gRPC error handling and retry logic
  nautilus_trader/adapters/dydx/common/constants.py
  nautilus_trader/adapters/dydx/common/errors.py
  nautilus_trader/adapters/dydx/execution.py
  nautilus_trader/adapters/dydx/grpc/account.py
Due: check-non-latin-text

feat(dydx): improve gRPC error handling and retry logic
  nautilus_trader/adapters/dydx/execution.py
Due: check-non-latin-text

Refactor WebSocket client and extract subscription tracking
  Cargo.lock
  crates/network/Cargo.toml
  crates/network/src/python/websocket.rs
  crates/network/src/websocket/client.rs
  crates/network/src/websocket/config.rs
  crates/network/src/websocket/consts.rs
  crates/network/src/websocket/mod.rs
  crates/network/src/websocket/subscription.rs
  crates/network/src/websocket/types.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
