Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Ignore inactive rkyv dependency advisory
  .cargo/audit.toml
  .cargo/deny-fuzz.toml
  deny.toml
  osv-scanner.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix FeeModel subclassing and inheritance
  crates/execution/src/models/fee.rs
  crates/execution/src/python/fee.rs
  python/nautilus_trader/execution/__init__.pyi
  python/tests/unit/execution/test_models.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix root-anchored README links that 404 on PyPI
  README.md
Due: check-non-latin-text

Update Polymarket integration guide
  crates/adapters/polymarket/bin/set_allowances.rs
  crates/adapters/polymarket/src/http/clob.rs
  crates/adapters/polymarket/tests/exec_client.rs
  docs/integrations/polymarket.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Move backtest workload to integration tests
  crates/backtest/Cargo.toml
  crates/backtest/tests/backtest_node_workload.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix CI wheel publishing gates
  .github/OVERVIEW.md
  .github/workflows/build.yml
Due: check-non-latin-text

Fix uv update command hints
  Makefile
Due: none

Enable nautilus-trader crate publishing
  crates/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Add Jiff migration follow-up checks
  .cargo/audit.toml
  Cargo.lock
  crates/adapters/interactive_brokers/src/providers/instruments.rs
  crates/adapters/interactive_brokers/test_data/instrument_cache_chrono.json
  crates/adapters/tardis/Cargo.toml
  crates/adapters/tardis/benches/messages.rs
  crates/infrastructure/src/redis/msgbus.rs
  crates/infrastructure/src/redis/queries.rs
  crates/infrastructure/test_data/redis_cache_timestamp_chrono.json
  crates/infrastructure/test_data/redis_msgbus_heartbeat_chrono.txt
  docs/concepts/data/index.md
  python/tests/unit/persistence/test_persistence.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove redundant Coinbase request test waits
  crates/adapters/coinbase/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance Spot HTTP submission lifecycle
  RELEASES.md
  crates/adapters/binance/src/spot/execution.rs
  crates/adapters/binance/src/spot/websocket/trading/client.rs
  crates/adapters/binance/src/spot/websocket/trading/handler.rs
  crates/adapters/binance/src/spot/websocket/trading/messages.rs
  crates/adapters/binance/tests/spot/exec_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Roadmap link on PyPI page is broken: README root-anchored links resolve to
  README.md
Due: check-non-latin-text

Complete Python API documentation cutover
  docs/api_reference/accounting.md
  docs/api_reference/cache.md
  docs/api_reference/common.md
  docs/api_reference/core.md
  docs/api_reference/data.md
  docs/api_reference/execution.md
  docs/api_reference/indicators.md
  docs/api_reference/model/book.md
  docs/api_reference/model/data.md
  docs/api_reference/model/events.md
  docs/api_reference/model/identifiers.md
  docs/api_reference/model/index.md
  docs/api_reference/model/instruments.md
  docs/api_reference/model/orders.md
  docs/api_reference/model/position.md
  docs/api_reference/model/reports.md
  docs/api_reference/model/tick_scheme.md
  docs/api_reference/portfolio.md
  docs/api_reference/risk.md
  docs/api_reference/serialization.md
  docs/api_reference/system.md
  docs/api_reference/trading.md
  docs/concepts/greeks.md
  docs/concepts/message_bus.md
  docs/developer_guide/environment_setup.md
  docs/developer_guide/rust.md
  docs/developer_guide/spec_data_testing.md
  docs/developer_guide/spec_exec_testing.md
  docs/getting_started/installation.md
  docs/how_to/configure_live_trading.md
  docs/tutorials/assets/backtest_orderbook_binance/render_panels.py
  docs/tutorials/assets/backtest_orderbook_bybit/render_panels.py
  docs/tutorials/backtest_orderbook_binance.py
  docs/tutorials/backtest_orderbook_bybit.py
  docs/tutorials/orderbook_data.py
  docs/tutorials/orderbook_imbalance.py
  examples/README.md
  examples/backtest/tardis_option_chain.py
  examples/live/polymarket/polymarket_slug_builder_tester.py
  examples/live/polymarket/slug_builders.py
Due: check-non-latin-text

docs: add standard adapter execution and websocket contracts
  docs/developer_guide/adapter_execution_contracts.md
  docs/developer_guide/index.md
Due: check-non-latin-text

Remove redundant Coinbase request test waits (#4637)
  crates/adapters/coinbase/tests/data_client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Expose Deribit book summary as requestable custom data (#4576)
  crates/adapters/deribit/src/data.rs
  crates/adapters/deribit/src/data_types.rs
  crates/adapters/deribit/src/http/client.rs
  crates/adapters/deribit/src/http/models.rs
  crates/adapters/deribit/src/python/http.rs
  crates/adapters/deribit/src/python/mod.rs
  crates/adapters/deribit/test_data/http_get_book_summary_by_currency.json
  crates/adapters/deribit/tests/data_client.rs
  python/nautilus_trader/adapters/deribit/__init__.py
  python/nautilus_trader/adapters/deribit/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update dependencies, tooling, and release notes
  .cargo/audit.toml
  .cargo/deny-fuzz.toml
  .docker/DockerfileUbuntu
  .docker/jupyterlab.dockerfile
  .docker/nautilus_trader.dockerfile
  .pre-commit-config.yaml
  .supply-chain/audits.toml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/adapters/lighter/fuzz/pornin/Cargo.lock
  crates/serialization/generated/capnp/commands/data_capnp.rs
  crates/serialization/generated/capnp/commands/trading_capnp.rs
  crates/serialization/generated/capnp/common/base_capnp.rs
  crates/serialization/generated/capnp/common/enums_capnp.rs
  crates/serialization/generated/capnp/common/identifiers_capnp.rs
  crates/serialization/generated/capnp/common/types_capnp.rs
  crates/serialization/generated/capnp/data/market_capnp.rs
  crates/serialization/generated/capnp/events/account_capnp.rs
  crates/serialization/generated/capnp/events/order_capnp.rs
  crates/serialization/generated/capnp/events/position_capnp.rs
  crates/serialization/generated/capnp/events/system_capnp.rs
  deny.toml
  python/pyproject.toml
  tools.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Expand adapter development guide
  docs/developer_guide/adapters.md
Due: check-non-latin-text

Align project documentation with Python v2
  .github/workflows/nightly-tests.yml
  Cargo.toml
  README.md
  ROADMAP.md
  docs/concepts/overview.md
  docs/getting_started/installation.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix DataActor custom response dispatch
  RELEASES.md
  crates/common/src/actor/data_actor.rs
  crates/common/src/actor/tests.rs
  crates/common/src/python/actor.rs
  docs/integrations/deribit.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Clarify DST binding scope
  README.md
  crates/core/src/ffi/datetime.rs
  docs/concepts/dst.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix nightly clippy warning
  crates/core/src/python/datetime.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Check all offline links on every commit
  .pre-commit-config.yaml
  .pre-commit-hooks/check_links_offline.sh
  docs/how_to/get_started_lighter.md
Due: check-non-latin-text

Fix FeeModel subclassing and inheritance (#4640)
  crates/execution/src/models/fee.rs
  crates/execution/src/python/fee.rs
  python/nautilus_trader/execution/__init__.pyi
  python/tests/unit/execution/test_models.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve network crate test coverage
  RELEASES.md
  crates/network/src/http/client.rs
  crates/network/src/retry.rs
  crates/network/src/socket/client.rs
  crates/network/src/tls.rs
  crates/network/src/transport/message.rs
  crates/network/src/transport/mod.rs
  crates/network/src/websocket/subscription.rs
  crates/network/tests/property_backoff.rs
  crates/network/tests/property_ratelimiter.rs
  crates/network/tests/turmoil_socket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Harden macOS PyO3 symbol exports
  RELEASES.md
  crates/pyo3/build.rs
  python/tests/unit/test_macos_extension.py
  scripts/ci/test-wheel.bash
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix nightly docs and Windows CLI failures
  .github/OVERVIEW.md
  .github/workflows/build-docs.yml
  .github/workflows/cli-binaries.yml
  docs/api_reference/accounting.md
  docs/api_reference/model/book.md
  docs/api_reference/model/data.md
  docs/api_reference/model/events.md
  docs/api_reference/model/identifiers.md
  docs/api_reference/model/instruments.md
  docs/api_reference/model/objects.md
  docs/api_reference/model/orders.md
  docs/api_reference/model/position.md
  docs/api_reference/model/reports.md
  python/pyproject.toml
  python/uv.lock
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

fix(polymarket): retain discovery replay on reconnect
  crates/adapters/polymarket/src/websocket/client.rs
  crates/adapters/polymarket/src/websocket/handler.rs
  pyproject.toml
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(polymarket): reject superseded reconnect replay
  crates/adapters/polymarket/src/websocket/handler.rs
  crates/adapters/polymarket/tests/websocket.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

build: bump polysignal wheel revision
  pyproject.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy, cargo-doc

Expand pre-commit hook coverage
  .github/workflows/build.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/cargo_machete.sh
  .pre-commit-hooks/check_copyright_year.sh
  .pre-commit-hooks/test_check_logging_conventions.sh
  scripts/ci/release-verification-retry.bash
  scripts/ci/test-verify-published-registries-crates.bash
  scripts/ci/verify-published-registries.bash
Due: check-non-latin-text

test(polymarket): prove reconnect book recovery
  crates/adapters/polymarket/tests/websocket.rs
  pyproject.toml
  tests/integration_tests/adapters/polymarket/test_data_client.py
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(polymarket): preserve initial subscription semantics
  crates/adapters/polymarket/src/websocket/client.rs
  crates/adapters/polymarket/tests/websocket.rs
  pyproject.toml
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

build: refresh fork lockfile
  uv.lock
Due: none

Simplify network client internals
  Cargo.lock
  crates/adapters/lighter/fuzz/pornin/Cargo.lock
  crates/network/Cargo.toml
  crates/network/benches/test_client.rs
  crates/network/proptest-regressions/ratelimiter.txt
  crates/network/src/backoff.rs
  crates/network/src/http/client.rs
  crates/network/src/ratelimiter/clock.rs
  crates/network/src/ratelimiter/gcra.rs
  crates/network/src/ratelimiter/mod.rs
  crates/network/src/ratelimiter/nanos.rs
  crates/network/src/ratelimiter/quota.rs
  crates/network/src/retry.rs
  crates/network/src/socket/client.rs
  crates/network/src/tls.rs
  crates/network/src/transport/sockudo.rs
  crates/network/src/transport/stream.rs
  crates/network/src/transport/tungstenite.rs
  crates/network/src/websocket/client.rs
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

test(polymarket): complete reconnect acceptance matrix
  crates/adapters/polymarket/tests/websocket.rs
  pyproject.toml
  tests/integration_tests/adapters/polymarket/test_data_client.py
  uv.lock
Due: check-non-latin-text, check-toml-codegen, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

test(polymarket): prove post-reconnect book restoration
  tests/integration_tests/adapters/polymarket/test_data_client.py
Due: check-non-latin-text
