Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

cargo-deny:
  name: cargo deny
  description: Run cargo-deny security checks (advisories, sources, bans)
  entry: .pre-commit-hooks/cargo_deny.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions (only import Context, use anyhow::bail! not return Err(anyhow::anyhow!))
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions (use fully qualified log::debug!, tracing::info!, etc. instead of importing the macros)
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --benches
  - --no-default-features
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors or warnings.
  entry: bash -c 'RUSTDOCFLAGS="--cfg docsrs -D warnings" cargo doc --features "high-precision,ffi,python,extension-module" --no-deps --workspace --quiet'
  language: system
  pass_filenames: false

runned pre-commit.
  nautilus_trader/persistence/catalog/parquet.py
Due: check-non-latin-text

Added query_first_timestamp to BaseDataCatalog as well
  nautilus_trader/persistence/catalog/base.py
  nautilus_trader/persistence/catalog/parquet.py
Due: check-non-latin-text

Add support for Pool ID tracking in AMM with UniswapV4 compatibility
  crates/adapters/blockchain/src/data/client.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/cli/src/blockchain/analyze.rs
  crates/common/src/actor/tests.rs
  crates/common/src/cache/tests.rs
  crates/common/src/python/actor.rs
  crates/data/tests/engine.rs
  crates/model/src/defi/amm.rs
  crates/model/src/defi/pool_analysis/tests.rs
  crates/model/src/defi/stubs.rs
  crates/model/src/python/defi/types.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Improve error handling for factory address validation in DEX initialization
  crates/model/src/defi/dex.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Infura RPC provider fallback for blockchain operations
  crates/adapters/blockchain/src/rpc/mod.rs
  crates/adapters/blockchain/src/rpc/providers.rs
  crates/cli/src/blockchain/analyze.rs
  crates/cli/src/blockchain/sync.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update schema to use `pool_identifier` and `dex_name` as primary keys in pool-related tables
  schema/sql/tables.sql
Due: none

Make `factory_address` non-null and enforce uniqueness by `chain_id` in DEX table schema
  schema/sql/tables.sql
Due: none

Validate tick consistency in `initialize` method for AMM pools
  crates/adapters/blockchain/src/cache/mod.rs
  crates/data/tests/engine.rs
  crates/model/src/defi/amm.rs
  crates/model/src/defi/pool_analysis/quote.rs
  crates/model/src/defi/pool_analysis/tests.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor blockchain pool discovery to `PoolDiscoveryService` for modular synchronization logic
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/services/mod.rs
  crates/adapters/blockchain/src/services/pool_discovery.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Integrate pool_identifier in all blockchain events
  crates/adapters/blockchain/src/events/burn.rs
  crates/adapters/blockchain/src/events/collect.rs
  crates/adapters/blockchain/src/events/flash.rs
  crates/adapters/blockchain/src/events/initialize.rs
  crates/adapters/blockchain/src/events/mint.rs
  crates/adapters/blockchain/src/events/pool_created.rs
  crates/adapters/blockchain/src/events/swap.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Migrate pool sync logic from `pool_address` to `pool_identifier` across blockchain services and database queries
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/cli/src/blockchain/analyze.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Adapt PSQL queries and cache for new pool identifier key
  crates/adapters/blockchain/src/cache/copy.rs
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/cache/rows.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Update blockchain exchange with Uniswap V2 and V3 parsing
  crates/adapters/blockchain/src/exchanges/arbitrum/camelot_v3.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/fluid.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/mod.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/uniswap_v2.rs
  crates/adapters/blockchain/src/exchanges/arbitrum/uniswap_v4.rs
  crates/adapters/blockchain/src/exchanges/base/maverick_v2.rs
  crates/adapters/blockchain/src/exchanges/base/mod.rs
  crates/adapters/blockchain/src/exchanges/base/uniswap_v2.rs
  crates/adapters/blockchain/src/exchanges/base/uniswap_v3.rs
  crates/adapters/blockchain/src/exchanges/base/uniswap_v4.rs
  crates/adapters/blockchain/src/exchanges/ethereum/mod.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v2.rs
  crates/adapters/blockchain/src/exchanges/ethereum/uniswap_v4.rs
  crates/adapters/blockchain/src/exchanges/parsing/mod.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v2/mod.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v2/pool_created.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/burn.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/collect.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/flash.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/initialize.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/mint.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/pool_created.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v3/swap.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v4/initialize.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v4/mod.rs
  crates/adapters/blockchain/src/lib.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Migrate from `pool_address` to `pool_identifier` across all modules, tests, and database queries to standardize pool identification system.
  crates/adapters/blockchain/src/cache/copy.rs
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/rows.rs
  crates/adapters/blockchain/src/data/core.rs
  crates/adapters/blockchain/src/events/burn.rs
  crates/adapters/blockchain/src/events/collect.rs
  crates/adapters/blockchain/src/events/flash.rs
  crates/adapters/blockchain/src/events/mint.rs
  crates/adapters/blockchain/src/events/swap.rs
  crates/common/src/actor/tests.rs
  crates/common/src/python/actor.rs
  crates/data/src/defi/engine.rs
  crates/data/tests/engine.rs
  crates/model/src/defi/data/collect.rs
  crates/model/src/defi/data/flash.rs
  crates/model/src/defi/data/liquidity.rs
  crates/model/src/defi/data/swap.rs
  crates/model/src/defi/pool_analysis/profiler.rs
  crates/model/src/defi/pool_analysis/quote.rs
  crates/model/src/defi/pool_analysis/tests.rs
  crates/model/src/python/defi/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add hook contract address in Pool definition
  crates/adapters/blockchain/src/cache/copy.rs
  crates/adapters/blockchain/src/cache/database.rs
  crates/adapters/blockchain/src/cache/mod.rs
  crates/adapters/blockchain/src/cache/rows.rs
  crates/adapters/blockchain/src/events/pool_created.rs
  crates/adapters/blockchain/src/exchanges/parsing/uniswap_v4/initialize.rs
  crates/adapters/blockchain/src/services/pool_discovery.rs
  crates/model/src/defi/amm.rs
  schema/sql/tables.sql
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fixed SyntheticInstrument formula error during parsing with hyphened InstrumentId
  RELEASES.md
  crates/model/src/instruments/synthetic.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

use correct name
  crates/model/src/instruments/synthetic.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine BarType equality to ignore AggregationSource
  crates/model/src/data/bar.rs
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/model/data.pxd
  nautilus_trader/model/data.pyx
  tests/unit_tests/model/test_bar.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor dYdX conditional orders to unified method
  crates/adapters/dydx/src/data/mod.rs
  crates/adapters/dydx/src/execution/submitter.rs
  crates/adapters/dydx/src/python/execution.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Maybe it needs the variables to be assigned when changing the formula
  crates/model/src/instruments/synthetic.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix OKX fee rate sign handling causing backtest errors
  crates/adapters/okx/src/common/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refactor HistoricInteractiveBrokersClient
  examples/live/interactive_brokers/historical_download.py
  nautilus_trader/adapters/interactive_brokers/historical/client.py
  nautilus_trader/adapters/interactive_brokers/parsing/instruments.py
  nautilus_trader/adapters/interactive_brokers/providers.py
Due: check-non-latin-text

Add comprehensive demo binary for Kraken adapter
  crates/adapters/kraken/Cargo.toml
  crates/adapters/kraken/bin/futures-demo.rs
  crates/adapters/kraken/src/common/enums.rs
  crates/adapters/kraken/src/http/futures/client.rs
  crates/adapters/kraken/src/http/futures/models.rs
  crates/adapters/kraken/tests/http.rs
  examples/live/kraken/kraken_futures_demo.py
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Small improvement.
  crates/adapters/kraken/src/http/futures/client.rs
  examples/live/kraken/kraken_futures_demo.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine BacktestDataIterator docstrings
  nautilus_trader/backtest/engine.pyx
Due: check-non-latin-text

formula check does not need a full object
  crates/model/src/ffi/instruments/synthetic.rs
  crates/model/src/instruments/synthetic.rs
  nautilus_trader/core/includes/model.h
  nautilus_trader/core/rust/model.pxd
  nautilus_trader/model/instruments/synthetic.pyx
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

discard unused
  crates/model/src/instruments/synthetic.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine BacktestDataConfig.query
  nautilus_trader/backtest/config.py
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/backtest/test_config.py
Due: check-non-latin-text

Standardize dYdX per adapter guide conventions
  crates/adapters/dydx/src/http/parse.rs
  crates/adapters/dydx/src/websocket/client.rs
  crates/adapters/dydx/src/websocket/handler.rs
  crates/adapters/dydx/src/websocket/messages.rs
  crates/adapters/dydx/src/websocket/parse.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine databento utils
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/adapters/databento/data_utils.py
Due: check-non-latin-text

Move OptionExerciseModule to models folder
  examples/backtest/notebooks/databento_option_greeks.py
  nautilus_trader/backtest/models/__init__.py
  nautilus_trader/backtest/models/option_exercise.pxd
  nautilus_trader/backtest/models/option_exercise.pyx
  tests/unit_tests/backtest/test_option_exercise.py
Due: check-non-latin-text

Add Kraken spot order placement via REST and WebSocket
  crates/adapters/kraken/Cargo.toml
  crates/adapters/kraken/bin/futures-demo.rs
  crates/adapters/kraken/bin/spot_order_rest.rs
  crates/adapters/kraken/bin/spot_order_ws.rs
  crates/adapters/kraken/src/http/spot/client.rs
  crates/adapters/kraken/src/http/spot/query.rs
  crates/adapters/kraken/src/python/http_futures.rs
  crates/adapters/kraken/src/python/websocket_spot.rs
  crates/adapters/kraken/src/websocket/spot_v2/client.rs
  crates/adapters/kraken/src/websocket/spot_v2/enums.rs
  crates/adapters/kraken/src/websocket/spot_v2/handler.rs
  crates/adapters/kraken/src/websocket/spot_v2/messages.rs
  examples/live/kraken/kraken_futures_demo.py
  examples/live/kraken/kraken_spot_rest.py
  examples/live/kraken/kraken_spot_ws.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add bot-folio trading engine with Alpaca adapter and Redis integration
  .docker/nautilus_trader.dockerfile
  python/nautilus_trader/adapters/alpaca_botfolio.py
  python/nautilus_trader/botfolio/__init__.py
  python/nautilus_trader/botfolio/run_strategy.py
Due: check-non-latin-text

Add trading engine build workflow to fork
  .github/workflows/build-trading-engine.yml
Due: check-non-latin-text

Fix: lowercase image name for GHCR
  .github/workflows/build-trading-engine.yml
Due: check-non-latin-text

Fix GitHub Actions linter warnings in nautilus_trader workflows
  .github/workflows/build-trading-engine.yml
  .github/workflows/build-v2.yml
Due: check-non-latin-text

Add comment to GitHub Actions workflow for clarity
  .github/workflows/build-trading-engine.yml
Due: check-non-latin-text

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
