Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hidden-chars, check-toml-codegen, fmt, cargo-clippy, cargo-doc

check-hidden-chars:
  name: check hidden unicode/control chars
  description: Fail on hidden control or zero-width unicode characters in source
  entry: .pre-commit-hooks/check_hidden_chars.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the package.
  entry: cargo clippy
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds without errors.
  entry: cargo doc
  language: system
  args:
  - --features
  - high-precision,ffi,python,extension-module
  - --no-deps
  - --workspace
  pass_filenames: false

Standardize crate docs
  crates/adapters/blockchain/README.md
  crates/adapters/coinbase_intx/README.md
  crates/adapters/databento/README.md
  crates/adapters/tardis/README.md
  crates/indicators/README.md
  crates/indicators/src/lib.rs
  crates/infrastructure/README.md
  crates/infrastructure/src/lib.rs
  crates/live/README.md
  crates/live/src/lib.rs
  crates/network/README.md
  crates/network/src/lib.rs
  crates/persistence/README.md
  crates/persistence/src/lib.rs
  crates/portfolio/README.md
  crates/portfolio/src/lib.rs
  crates/pyo3/src/lib.rs
  crates/risk/README.md
  crates/risk/src/lib.rs
  crates/serialization/README.md
  crates/serialization/src/lib.rs
  crates/system/README.md
  crates/system/src/lib.rs
  crates/testkit/README.md
  crates/testkit/src/lib.rs
  crates/trading/README.md
  crates/trading/src/lib.rs
Due: fmt, cargo-clippy, cargo-doc

Refine data crate docs
  crates/data/README.md
  crates/data/src/aggregation.rs
  crates/data/src/engine/book.rs
  crates/data/src/engine/handlers.rs
  crates/data/src/lib.rs
Due: fmt, cargo-clippy, cargo-doc

Refine execution crate docs
  crates/execution/README.md
  crates/execution/src/client/base.rs
  crates/execution/src/engine/mod.rs
  crates/execution/src/lib.rs
  crates/execution/src/matching_engine/engine.rs
  crates/execution/src/order_manager/manager.rs
Due: fmt, cargo-clippy, cargo-doc

Add support for data download during backtest (#2652)
  examples/backtest/databento_backtest_with_data_client.py
  examples/backtest/databento_download.py
  examples/backtest/databento_option_greeks.py
  examples/backtest/databento_test_request_bars.py
  examples/live/databento/databento_historical_data.py
  nautilus_trader/adapters/databento/data.py
  nautilus_trader/adapters/databento/data_utils.py
  nautilus_trader/adapters/interactive_brokers/data.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  nautilus_trader/backtest/config.py
  nautilus_trader/backtest/data_client.pyx
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/backtest/node.py
  nautilus_trader/backtest/node_builder.py
  nautilus_trader/common/actor.pxd
  nautilus_trader/common/actor.pyx
  nautilus_trader/common/enums.py
  nautilus_trader/data/engine.pxd
  nautilus_trader/data/engine.pyx
  nautilus_trader/data/messages.pxd
  nautilus_trader/data/messages.pyx
  nautilus_trader/live/data_client.py
  nautilus_trader/model/custom.py
  nautilus_trader/model/greeks.pyx
  nautilus_trader/model/greeks_data.py
  nautilus_trader/persistence/catalog/base.py
  nautilus_trader/persistence/catalog/parquet.py
  nautilus_trader/persistence/catalog/types.py
  nautilus_trader/persistence/funcs.py
  pyproject.toml
  tests/acceptance_tests/test_backtest.py
  tests/unit_tests/backtest/test_config.py
  tests/unit_tests/common/test_actor.py
  tests/unit_tests/data/test_client.py
  tests/unit_tests/data/test_engine.py
  tests/unit_tests/data/test_messages.py
  tests/unit_tests/live/test_data_engine.py
  tests/unit_tests/model/test_custom_data.py
  tests/unit_tests/persistence/test_catalog.py
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Refine portfolio crate docs
  crates/portfolio/README.md
  crates/portfolio/src/config.rs
  crates/portfolio/src/lib.rs
  crates/portfolio/src/manager.rs
  crates/portfolio/src/portfolio.rs
Due: fmt, cargo-clippy, cargo-doc

Refine execution crate docs
  crates/execution/src/models/fill.rs
  crates/execution/src/models/latency.rs
Due: fmt, cargo-clippy, cargo-doc

Refine indicators crate docs
  crates/indicators/README.md
  crates/indicators/src/lib.rs
  crates/indicators/src/momentum/bb.rs
Due: fmt, cargo-clippy, cargo-doc

Refine infrastructure crate docs
  crates/infrastructure/README.md
  crates/infrastructure/src/lib.rs
Due: fmt, cargo-clippy, cargo-doc

Refine risk crate docs
  crates/risk/README.md
  crates/risk/src/engine/mod.rs
  crates/risk/src/lib.rs
Due: fmt, cargo-clippy, cargo-doc

Refine serialization crate docs
  crates/serialization/README.md
  crates/serialization/src/arrow/mod.rs
  crates/serialization/src/lib.rs
Due: fmt, cargo-clippy, cargo-doc

Refine testkit crate docs
  crates/testkit/README.md
  crates/testkit/src/common.rs
  crates/testkit/src/lib.rs
Due: fmt, cargo-clippy, cargo-doc

Refine trading crate docs
  crates/testkit/src/lib.rs
  crates/trading/README.md
  crates/trading/src/lib.rs
Due: fmt, cargo-clippy, cargo-doc

Refine crate docs
  crates/analysis/src/python/statistics/mod.rs
  crates/analysis/src/statistics/mod.rs
  crates/cli/src/database/mod.rs
  crates/execution/src/client/mod.rs
  crates/execution/src/matching_engine/mod.rs
  crates/execution/src/models/mod.rs
  crates/execution/src/order_emulator/mod.rs
  crates/execution/src/order_manager/mod.rs
  crates/infrastructure/src/sql/mod.rs
  crates/infrastructure/src/sql/models/mod.rs
  crates/trading/src/python/mod.rs
Due: fmt, cargo-clippy, cargo-doc

fixed IB connection bugs
  nautilus_trader/adapters/interactive_brokers/client/connection.py
Due: none

fixed IB connection bugs
  nautilus_trader/adapters/interactive_brokers/client/client.py
  nautilus_trader/adapters/interactive_brokers/client/connection.py
Due: none

fixed IB connection bugs - tests
  tests/integration_tests/adapters/interactive_brokers/client/test_client_connection.py
Due: none

fixed IB connection bugs
  RELEASES.md
Due: none

Adjust roadmap heading level
  ROADMAP.md
Due: none

Update dependencies and release notes
  Cargo.lock
  Cargo.toml
  RELEASES.md
  pyproject.toml
  uv.lock
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Update clippy config
  clippy.toml
Due: check-toml-codegen, fmt, cargo-clippy, cargo-doc

Add regression case from CI
  crates/network/proptest-regressions/backoff.txt
Due: none

Add make target for cargo library tests
  Makefile
Due: none

Path conditions:
  check-hidden-chars: any of: \\.(rs|py|pyx|toml|md)$
  check-toml-codegen: any of: \.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$
