Repository nautechsystems/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
  cargo-doc: any of: \.(rs|toml)$

Allow quote_quantity in exec algorithm spawn orders
  crates/trading/src/algorithm/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Expose engine config methods on PyO3 live builder
  crates/live/src/python/node.rs
  docs/developer_guide/spec_data_testing.md
  docs/developer_guide/spec_exec_testing.md
  docs/developer_guide/testing.md
  python/nautilus_trader/live/__init__.pyi
  python/tests/unit/test_generate_stubs.py
  python/tests/unit/test_live_node.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Remove unsupported msgbus PyO3 live builder method
  crates/live/src/python/node.rs
  python/nautilus_trader/live/__init__.pyi
  python/tests/unit/test_generate_stubs.py
  python/tests/unit/test_live_node.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix quote midpoint raw arithmetic across precision modes
  crates/model/src/data/quote.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Cache instrument status
  crates/common/src/cache/mod.rs
  crates/common/src/python/cache.rs
  crates/data/src/engine/mod.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Emit current status on Bybit subscribe
  crates/adapters/bybit/src/common/status.rs
  crates/adapters/bybit/src/data.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: consolidate_data_by_period pairwise merging in fragment-per-flush catalogs
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

fix(kraken): derive free from total-locked in Futures balance parse
  RELEASES.md
  crates/adapters/kraken/src/http/futures/client.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix(kraken): fall back to /fills in Futures generate_order_status_report
  RELEASES.md
  crates/adapters/kraken/src/execution/futures.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

fix: guard tail sweep deletion in consolidate_data_by_period
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

Model Polymarket outcome tokens as base currencies
  crates/adapters/polymarket/src/http/parse.rs
  crates/infrastructure/src/sql/models/instruments.rs
  crates/model/src/instruments/binary_option.rs
  crates/model/src/instruments/stubs.rs
  crates/model/src/python/instruments/binary_option.rs
  crates/serialization/src/arrow/instrument/binary_option.rs
  nautilus_trader/accounting/accounts/cash.pyx
  nautilus_trader/accounting/manager.pyx
  nautilus_trader/adapters/polymarket/common/parsing.py
  nautilus_trader/adapters/polymarket/execution.py
  nautilus_trader/adapters/polymarket/providers.py
  nautilus_trader/analysis/analyzer.py
  nautilus_trader/backtest/engine.pyx
  nautilus_trader/cache/cache.pyx
  nautilus_trader/core/nautilus_pyo3.pyi
  nautilus_trader/model/instruments/binary_option.pxd
  nautilus_trader/model/instruments/binary_option.pyx
  nautilus_trader/portfolio/portfolio.pyx
  nautilus_trader/serialization/arrow/implementations/instruments.py
  python/nautilus_trader/model/__init__.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix consolidate_data_by_period pairwise merging and add regression tests
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

fix pre-commit formatting
  nautilus_trader/persistence/catalog/parquet.py
  tests/integration_tests/infrastructure/README.md
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

Allow negative average price for combos in IB adapter
  nautilus_trader/adapters/interactive_brokers/execution.py
  tests/integration_tests/adapters/interactive_brokers/test_execution.py
Due: check-non-latin-text

Fix TypeError when priceMagnifier is None during position reconciliation
  nautilus_trader/adapters/interactive_brokers/parsing/price_conversion.py
  nautilus_trader/adapters/interactive_brokers/providers.py
  tests/integration_tests/adapters/interactive_brokers/test_parsing.py
Due: check-non-latin-text

Clean unused dependencies
  Cargo.lock
  crates/adapters/architect_ax/Cargo.toml
  crates/adapters/binance/Cargo.toml
  crates/adapters/bitmex/Cargo.toml
  crates/adapters/bybit/Cargo.toml
  crates/adapters/coinbase/Cargo.toml
  crates/adapters/databento/Cargo.toml
  crates/adapters/deribit/Cargo.toml
  crates/adapters/dydx/Cargo.toml
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/kraken/Cargo.toml
  crates/adapters/okx/Cargo.toml
  crates/adapters/polymarket/Cargo.toml
  crates/adapters/sandbox/Cargo.toml
  crates/adapters/tardis/Cargo.toml
  crates/cryptography/Cargo.toml
  crates/execution/Cargo.toml
  crates/network/Cargo.toml
  crates/persistence/Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Clean unused dependencies
  Cargo.toml
Due: check-non-latin-text, check-toml-codegen, cargo-deny, fmt, cargo-clippy, cargo-doc

Fix Bybit and Deribit option chain example params mismatch
  crates/adapters/bybit/examples/node_option_chain.rs
  crates/adapters/deribit/examples/node_option_chain.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add `greeks_type` to OKX data client
  crates/adapters/okx/src/config.rs
  crates/adapters/okx/src/data.rs
  crates/adapters/okx/src/python/config.rs
  crates/adapters/okx/src/python/websocket.rs
  crates/adapters/okx/src/websocket/client.rs
  nautilus_trader/adapters/okx/config.py
  nautilus_trader/adapters/okx/data.py
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

revert unintended symlink change
  tests/integration_tests/infrastructure/README.md
Due: check-non-latin-text

Standardize adapter example manifests and trading deps
  crates/adapters/architect_ax/Cargo.toml
  crates/adapters/betfair/Cargo.toml
  crates/adapters/betfair/examples/betfair_backtest.rs
  crates/adapters/binance/Cargo.toml
  crates/adapters/bitmex/Cargo.toml
  crates/adapters/bitmex/examples/node_grid_mm.rs
  crates/adapters/bybit/Cargo.toml
  crates/adapters/bybit/examples/node_delta_neutral.rs
  crates/adapters/deribit/Cargo.toml
  crates/adapters/dydx/Cargo.toml
  crates/adapters/dydx/examples/node_grid_mm.rs
  crates/adapters/hyperliquid/Cargo.toml
  crates/adapters/kraken/Cargo.toml
  crates/adapters/okx/Cargo.toml
  crates/adapters/polymarket/Cargo.toml
  crates/adapters/sandbox/Cargo.toml
  docs/tutorials/backtest_book_imbalance_betfair.md
  docs/tutorials/delta_neutral_options_bybit.md
  docs/tutorials/grid_market_maker_bitmex.md
  docs/tutorials/grid_market_maker_dydx.md
Due: check-non-latin-text, check-toml-codegen, cargo-deny, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Refine CI workflow structure and PR matrix
  .github/OVERVIEW.md
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/nightly-tests.yml
  README.md
  docs/getting_started/installation.md
Due: check-non-latin-text

Add update-uv make target
  Makefile
Due: none

Migrate build to self-hosted runners
  .github/workflows/build.yml
Due: check-non-latin-text

Refine dYdX adapter and reconciliation avg price
  RELEASES.md
  crates/adapters/dydx/src/common/enums.rs
  crates/adapters/dydx/src/config.rs
  crates/adapters/dydx/src/data.rs
  crates/adapters/dydx/src/execution/encoder.rs
  crates/adapters/dydx/src/execution/mod.rs
  crates/adapters/dydx/src/http/client.rs
  crates/adapters/dydx/src/http/parse.rs
  crates/adapters/dydx/src/websocket/messages.rs
  crates/adapters/dydx/src/websocket/parse.rs
  crates/adapters/dydx/tests/http.rs
  crates/execution/src/reconciliation/positions.rs
  crates/execution/src/reconciliation/tests.rs
  docs/integrations/dydx.md
  nautilus_trader/adapters/dydx/__init__.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add DST re-export surface probe and stability docs
  crates/common/src/live/dst.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add multiple user-related endpoints for Bybit
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/http/query.rs
  crates/adapters/bybit/test_data/http_get_account_info.json
  crates/adapters/bybit/test_data/http_get_user_escrow_sub_members.json
  crates/adapters/bybit/test_data/http_get_user_query_api.json
  crates/adapters/bybit/test_data/http_get_user_sub_apikeys.json
  crates/adapters/bybit/test_data/http_get_user_sub_members.json
  crates/adapters/bybit/test_data/http_get_user_sub_members_paged.json
  crates/adapters/bybit/test_data/http_post_user_update_master_api.json
  crates/adapters/bybit/test_data/http_post_user_update_sub_api.json
  crates/adapters/bybit/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix catalog consolidate_data_by_period pairwise merging (#3883)
  nautilus_trader/persistence/catalog/parquet.py
  tests/unit_tests/persistence/test_catalog.py
Due: check-non-latin-text

Add Bybit user-related endpoints (#3894)
  crates/adapters/bybit/src/http/client.rs
  crates/adapters/bybit/src/http/models.rs
  crates/adapters/bybit/src/http/query.rs
  crates/adapters/bybit/test_data/http_get_account_info.json
  crates/adapters/bybit/test_data/http_get_user_escrow_sub_members.json
  crates/adapters/bybit/test_data/http_get_user_query_api.json
  crates/adapters/bybit/test_data/http_get_user_sub_apikeys.json
  crates/adapters/bybit/test_data/http_get_user_sub_members.json
  crates/adapters/bybit/test_data/http_get_user_sub_members_paged.json
  crates/adapters/bybit/test_data/http_post_user_update_master_api.json
  crates/adapters/bybit/test_data/http_post_user_update_sub_api.json
  crates/adapters/bybit/tests/http.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Port IB Rust adapter historical bar replay and Python parity fixes (#3892)
  crates/adapters/interactive_brokers/src/data/core.rs
  crates/adapters/interactive_brokers/src/data/core_streams.rs
  crates/adapters/interactive_brokers/src/execution/core_tests.rs
  crates/adapters/interactive_brokers/src/execution/core_updates.rs
  crates/adapters/interactive_brokers/src/execution/parse.rs
  crates/adapters/interactive_brokers/src/providers/instruments.rs
  crates/adapters/interactive_brokers/src/providers/tests.rs
  crates/adapters/interactive_brokers/src/python/data.rs
  nautilus_trader/adapters/interactive_brokers_pyo3/data.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix PyO3 from_dict failure on non-ASCII strings (#3893)
  crates/core/src/python/serialization.rs
  tests/unit_tests/model/instruments/test_crypto_perpetual_pyo3.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Standardize catalog consolidate_data_by_period in Rust
  RELEASES.md
  crates/common/src/live/dst.rs
  crates/persistence/src/backend/catalog_operations.rs
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix Binance user data stream recovery on listen key expiry
  RELEASES.md
  crates/adapters/binance/src/common/credential.rs
  crates/adapters/binance/src/futures/execution.rs
  crates/adapters/binance/src/futures/http/client.rs
  crates/adapters/binance/src/futures/websocket/streams/dispatch.rs
  crates/adapters/binance/src/futures/websocket/streams/mod.rs
  crates/adapters/binance/src/futures/websocket/streams/recovery.rs
  crates/adapters/binance/src/futures/websocket/trading/dispatch.rs
  crates/adapters/binance/src/futures/websocket/trading/mod.rs
  crates/adapters/binance/src/spot/http/client.rs
  nautilus_trader/adapters/binance/execution.py
  nautilus_trader/adapters/binance/websocket/user.py
  tests/integration_tests/adapters/binance/test_ws_user.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Implement Hyperliquid spot balance and position reconciliation
  crates/adapters/hyperliquid/src/common/parse.rs
  crates/adapters/hyperliquid/src/execution/mod.rs
  crates/adapters/hyperliquid/src/http/client.rs
  crates/adapters/hyperliquid/src/http/models.rs
  crates/adapters/hyperliquid/src/http/parse.rs
  crates/adapters/hyperliquid/src/http/query.rs
  crates/adapters/hyperliquid/src/python/http.rs
  crates/adapters/hyperliquid/test_data/http_spot_clearinghouse_state.json
  crates/adapters/hyperliquid/tests/exec_client.rs
  crates/adapters/hyperliquid/tests/http.rs
  nautilus_trader/core/nautilus_pyo3.pyi
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Polymarket auto-load for missing instruments
  crates/adapters/polymarket/src/config.rs
  crates/adapters/polymarket/src/data.rs
  crates/adapters/polymarket/src/python/config.rs
  crates/adapters/polymarket/src/websocket/client.rs
  docs/integrations/polymarket.md
  nautilus_trader/adapters/polymarket/config.py
  nautilus_trader/adapters/polymarket/data.py
  tests/integration_tests/adapters/polymarket/test_data_client.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Add Coinbase PyO3 bindings and integration guide
  crates/adapters/coinbase/README.md
  crates/adapters/coinbase/src/factories.rs
  crates/adapters/coinbase/src/python/config.rs
  crates/adapters/coinbase/src/python/enums.rs
  crates/pyo3/src/lib.rs
  docs/integrations/coinbase.md
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc

Fix PyO3 from_dict failure on non-ASCII strings (#3895)
  crates/core/src/python/serialization.rs
  tests/unit_tests/model/instruments/test_crypto_perpetual_pyo3.py
Due: check-non-latin-text, check-anyhow-usage, check-logging-macro-usage, fmt, cargo-clippy, cargo-doc
